.item-list-four{
	@include clearfix;
	.items{
		margin: 0 -10px;
		@include clearfix;
	}
	.item{
		float:left;
		// width: 25%;
		width: 23.37%;
		height:455px;
		margin:10px;
		padding:5px;
		// margin-bottom: 10px;
		// padding: 10px;
		border: 1px solid transparent;
		
		&:hover{
			border: 1px solid $primary;
		}
	}
	.photo{
		display: block;
		margin-bottom: 7px;
        float:none;
		@include crop(100%, white);
		// img{
		// 	width: 100%;
		// }
	}
	.name{
		height: 42px;
		margin-bottom:10px;
		font-size: 1em;
		line-height: 1.3;
		//color: $item_name;
		overflow: hidden;
		word-wrap:break-word;
		font-weight:500;
	}
	.currency{
		font-size: 12px;
		//color: $price;
		display: inline-block;
	}
	.price{
		font-size: 20px;
		//color: $price;
		display: inline-block;
		margin-right: 5px;
	}
	.buy-actions{
		margin-top: 10px;
	}
	.quantity{
		margin-right: 5px;
		vertical-align: middle;
	}
	.button{
	}
	.highlight{
		margin-top: 10px;
		font-size: .7em;
		line-height: 1.5;
	}
}
//desktop
@include RWD(desktop-normal) {
.item-list-four{
	.item{
		width: 22.96%;
		height:390px;
	}
	.name{
		margin-bottom: 10px;
		overflow: hidden;
	}
}
}

//pad
@include RWD(pad) {
.item-list-four{
	.items{
		padding: 10px;
		margin: 0;
	}
	.item{
		width: 50%;
		margin:0 0 10px;
		padding: 20px 20px 20px;
		height:auto;
	}
	.photo{
		margin-bottom: 10px;
	}
	.name{		
		font-size: 16px;
		height: 20px;
		line-height: 1.2;
		margin-bottom: 10px;
		overflow: hidden;
		word-wrap:break-word;
	}
	.price{
		font-size: 18px;
		margin-right: 10px;
	}
	.quantity{
		margin-right: 10px;
		vertical-align: middle;
		.quantity-decrease,.quantity-increase{
			padding: 7px;
		}
		.quantity-input{
			width: 36px;
			height: 32px;
		}
	}
	.button{
		vertical-align: top;
		font-size: 15px;
		padding: 0 1.25em;
		height: 32px;
		line-height: 32px;
		@include box-sizing( border-box );
		&.btn-preorder-finish{
	        padding: 0;
	    }
	}
}
}
//mobile
@include RWD(mobile) {
.item-list-four{
	.items{
		padding: 10px;
		margin: 0;
	}
	.item{
		width: 100%;
		margin:0 0 10px;
		padding: 20px 20px 20px;
		height:auto;
	}
	.info{
		padding: 0;
	}
	.name{		
		font-size: 16px;
		line-height: 1.2;
		margin-bottom: 10px;
		height: auto;
		overflow: hidden;
		word-wrap:break-word;
	}
	.price{
		font-size: 18px;
		margin-right: 10px;
	}
	.quantity{
		margin-right: 10px;
		vertical-align: middle;
		.quantity-decrease,.quantity-increase{
			padding: 7px;
		}
		.quantity-input{
			width: 36px;
			height: 32px;
		}
	}
	.button{
		vertical-align: top;
		font-size: 15px;
		padding: 0 1.25em;
		height: 32px;
		line-height: 32px;
		@include box-sizing( border-box );
		&.btn-preorder-finish{
	        padding: 0;
	    }
	}
}
}

@include RWD(mobile-small) {
.item-list-four{

}
}