.item-list-ontime{
	@include clearfix;
	.items{
		margin: 0 -10px;
		@include clearfix;
		font-size:0;
	}	
	.item{
		display: inline-block;
		// width: 25%;
		width: 18.3%;
		margin:10px;
		// margin-bottom: 10px;
		// padding: 10px;
		border: 1px solid transparent;
		float:left;
		&:hover{
			border-width: 1px;
			border-style: solid; 
			//border: 1px solid $border;
			@include transition(0.6s);
			.photo{
				opacity: 0.75;
			}
		}
	}
	%item-num-change{
		background: $bk_gray;
		.ontime-head{
			border-bottom: 1px solid $light_gray;
		}
		.photo{
			float: left;
			width: 35%;
			padding-top: 35%;
			margin-bottom: 0px;
		}
		.info{
			float: left;
			width: 63.5%;
			padding: 15px;
		}
		.name{
			margin-bottom: 15px!important;
		}	
	}
	.item-single{
		width: 48.38%!important;
		@extend %item-num-change;		
	}
	.item-three{
		width: 31.72%!important;
		@extend %item-num-change;	
	}
	.item-four{
		width: 23.38%!important;		
	}	
	.ontime-head{
		width: 100%;
		position: relative;
		padding: 8px;
		background: $bk_gray;
	}
	.photo{
		display: block;
		margin-bottom: 7px;
		@include crop(100%, white);
	}
	.name{
		font-size: 16px;
		height: 43px;
		line-height: 1.4;
		//color: $item_name;
		overflow: hidden;
		word-wrap:break-word;
		margin-bottom: 5px;
	}
	.price-auto,.price-manual{
		height: 20px;
		width: 100%;
		overflow: hidden;
		color: $price;
		font-size: 19px;
	}
	.currency{
		font-size: 12px;
		//color: $price;
		display: inline-block;
	}
	.price{
		font-size: 20px;
		//color: $price;
		display: inline-block;
		margin-right: 5px;
	}
	.buy-actions{
		margin-top: 10px;
	}
	.quantity{
		margin-right: 5px;
		vertical-align: middle;
	}
	.button{
	}
	.highlight{
		margin-top: 10px;
		font-size: 12px;
		line-height: 1.4;
	}
}
//desktop
@include RWD(desktop-all) {
.item-list-ontime{
	.name{
		margin-bottom: 10px;
		overflow: hidden;
	}
}
}
//desktop-normal
@include RWD(desktop-normal) {
.item-list-ontime{
	.item{
		width: 22.96%;
	}
	.item-single{
		width: 47.9%!important;
	}
	.item-three{
		width: 30.8%!important;
		margin: 12.4px;
		background: none;
		.ontime-head{
			border-bottom: none;
		}
		.photo{
			float: none;
			width: 100%;
			padding: 0;
			padding-top: 100%;
			margin: 0;
			margin-bottom: 7px;
			height: 0;
		}
		.info{
			float: none;
			width: 100%;
			padding: 0px;
		}
		.name{
			margin-bottom: 10px!important;
		}
	}
	.item-four{
		width: 22.96%!important;		
	}	
}
}
//pad
@include RWD(pad) {
.item-list-ontime{
	.items{
		padding: 10px;
		margin: 0;
	}
	.item{
		width: 47.26%;
		padding: 20px 20px 20px;		
	}
	.item-single,.item-three{
		width: 47.26%!important;
		background: none;
		.ontime-head{
			border-bottom: none;
		}
		.photo{
			float: none;
			width: 100%;
			padding: 0;
			padding-top: 100%;
			margin: 0;
			margin-bottom: 7px;
			height: 0;
		}
		.info{
			float: none;
			width: 100%;
			padding: 0px;
		}
		.name{
			margin-bottom: 10px!important;
		}
	}
	.item-four{
		width: 47.26%!important;	
	}
	.photo{
		margin-bottom: 10px;
	}
	.name{		
		font-size: 16px;
		height: 36px;
		line-height: 1.2;
		margin-bottom: 10px;
		overflow: hidden;
		word-wrap:break-word;
	}
	.price{
		font-size: 18px;
		margin-right: 10px;
	}
	.quantity{
		margin-right: 10px;
		vertical-align: middle;
		.quantity-decrease,.quantity-increase{
			padding: 7px;
		}
		.quantity-input{
			width: 36px;
			height: 32px;
		}
	}
	.button{
		vertical-align: top;
		font-size: 15px;
		padding: 0 1.25em;
		height: 32px;
		line-height: 32px;
		@include box-sizing( border-box );
		&.btn-preorder-finish{
	        padding: 0;
	    }
	}
}
}

//mobile
@include RWD(mobile) {
.item-list-ontime{
	.items{
		padding: 10px;
		margin: 0;
	}
	.item{
		width: 46%;
		padding: 20px 10px 20px;		
	}
	.item-single,.item-three{
		width: 46%!important;
		background: none;
		.ontime-head{
			border-bottom: none;
		}
		.photo{
			float: none;
			width: 100%;
			padding: 0;
			padding-top: 100%;
			margin: 0;
			margin-bottom: 7px;
			height: 0;
		}
		.info{
			float: none;
			width: 100%;
			padding: 0px;
		}
		.name{
			margin-bottom: 10px!important;
		}
	}
	.item-four{
		width: 46%!important;	
	}
	.photo{
		margin-bottom: 10px;
	}
	.name{		
		font-size: 16px;
		height: 36px;
		line-height: 1.2;
		margin-bottom: 10px;
		overflow: hidden;
		word-wrap:break-word;
	}
	.price{
		font-size: 18px;
		margin-right: 10px;
	}
	.quantity{
		margin-right: 10px;
		vertical-align: middle;
		.quantity-decrease,.quantity-increase{
			padding: 7px;
		}
		.quantity-input{
			width: 36px;
			height: 32px;
		}
	}
	.button{
		vertical-align: top;
		font-size: 15px;
		padding: 0 1.25em;
		height: 32px;
		line-height: 32px;
		@include box-sizing( border-box );
		&.btn-preorder-finish{
	        padding: 0;
	    }
	}
}
}

@media screen and (max-width: 568px) {
.item-list-ontime {
	.items{
		padding: 10px;
		margin: 0;
	}
	.item{
		width: 100%;
		padding: 20px 20px 20px;
		margin: 0;
	}
	.item-single,.item-three{
		width: 100%!important;
		background: none;
		.ontime-head{
			border-bottom: none;
		}
		.photo{
			float: none;
			width: 100%;
			padding: 0;
			padding-top: 100%;
			margin: 0;
			margin-bottom: 7px;
			height: 0;
		}
		.info{
			float: none;
			width: 100%;
			padding: 0px;
		}
		.name{
			margin-bottom: 10px!important;
		}
	}
	.item-four{
		width: 100%!important;	
	}
	.info{
		padding: 0;
	}
	.name{		
		font-size: 16px;
		line-height: 1.2;
		margin-bottom: 10px;
		min-height: 21px;
		height: auto;
		overflow: hidden;
		word-wrap:break-word;
		padding-bottom: 2px;
	}
	.price{
		font-size: 18px;
		margin-right: 10px;
	}
	.quantity{
		margin-right: 10px;
		vertical-align: middle;
		.quantity-decrease,.quantity-increase{
			padding: 7px;
		}
		.quantity-input{
			width: 36px;
			height: 32px;
		}
	}
	.button{
		vertical-align: top;
		font-size: 15px;
		padding: 0 1.25em;
		height: 32px;
		line-height: 32px;
		@include box-sizing( border-box );
		&.btn-preorder-finish{
	        padding: 0;
	    }
	}
}
}