.md_nav_breadcrumbs {
    &.is-fixed {
        top: 0;
        border-bottom: 2px solid $primary;
        background: rgba(white, 0.9);
        @include box-shadow(rgba(black,0.3) 0 5px 20px);
        position: fixed;
        z-index: 10;
    }
    .container {
        padding: 10px;
    }
    .item {
        max-width: 28%;
        margin: 0 2px;
        color: lighten($text,20);
        font-size: 0.9rem;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        vertical-align: middle;
        display: inline-block;
        & + .item {
            &:before {
                content: "\f105";
                margin-right: 4px;
                line-height: 1;
                font-family: FontAwesome;
                vertical-align: middle;
                display: inline-block;
            }
        }
        &.item-select {
            overflow: visible;
        }
    }
    .select-breadcrumbs {
        width: 95%;
        padding: 1px 3px;
        color: $text;
        font-size: 0.9rem;
        @include box-sizing(border-box);
        option {
            white-space: nowrap;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}