.nav-pagination{
	margin: 10px 0;
	text-align: center;
	ul{
		@include inline-block;
		@include clearfix;
	}
	li{
		float: left;
		a{
			border-top: 1px solid $border;
			border-left: 1px solid $border;
			border-bottom: 1px solid $border;			
		}
		&:first-child{
			a{
				@include border-left-radius(5px);
			}
		}
		&:last-child{
			a{
				@include border-right-radius(5px);
				border-right: 1px solid $border;
			}
		}
	}
	a{
		min-width: 36px;
		line-height: 36px;
		padding: 0 10px;
		display: inline-block;
		vertical-align: middle;
		font-size: 13px;
		color: $text;
		&.active{
			background: $active_bk;
			color: $active_text;
			@include transition(0.3s);
		}
		&:hover{
			background: $hover_bk;
			color: $hover_text;
			@include transition(0.3s);
		}
	}
	.total{
		margin-top: 20px;
		color: $text;
		font-size: 0.8em;
	}
}
.svg-loader{
	width:20px;
	.circle{
		fill:#999;
	}
}