@import "../../3rd-party/_swiper.scss";
.md-site-sliders {
    .swiper-container {
        line-height: 0;
        .swiper-slide {
            text-align: center;
        }
        img {
            width: 100%;
            &.swiper-lazy {
                min-height: 100px;
                background: #fff url("../../../../../img/sth_asap_m/loading.svg") no-repeat center center;
            }
        }
        .swiper-pagination {
            position: absolute;
            left: 0;
            text-align: center;
            bottom: 5px;
            width: 100%;
        }
        .swiper-pagination-bullet {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 10px;
            background: $gray;
            margin: 0 3px;
            opacity: 1;
            cursor: pointer;
        }
        .swiper-pagination-bullet-active {
            width: 30px;
            background: $primary;
        }
    }
}