.md_nav_menu {
	border-bottom: $border 1px solid;
	@include box-shadow(rgba(black,0.1) 0 0 2px);
	li + li {
		border-top: $border 1px solid;
	}
	.menu-item {
		padding: 15px 30px 15px 10px;
		white-space: nowrap;
		-ms-text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		text-overflow: ellipsis;
		overflow: hidden;
		display: block;
		position: relative;
		&:after {
			content: "\f107";
			color: lighten($text,40);
			font-size: 1.4rem;
			line-height: 1;
			font-family: FontAwesome;
			vertical-align: middle;
			top: 15px;
			right: 10px;
			display: inline-block;
			position: absolute;
		}
	}
	.menu-one {
		background: #fff;
		& > li {
			& > .menu-item {
				color: lighten($text,10);
			}
		}
	}
	.menu-two, .menu-three {
		max-height: 0;
		border-top-width: 0;
		border-bottom-width: 0;
		@include box-shadow(none);
		@include transition(all 0.3s ease-out);
		overflow: hidden;
		&.is-expand {
			max-height: 10000px;
			@include box-shadow(rgba(black,0.1) 0 5px 10px inset);
			overflow: visible;
		}
	}
	.menu-two {
		background: lighten($text,55);
		& > li {
			border-color: darken($border,5);
			& > .menu-item {
				color: darken($text,10);
				padding-left: 25px;
				&:after {
					color: lighten($text,30);
				}
			}
		}
	}
	.menu-three {
		background: mix(lighten($gray,50),$sub,95);
		& > li {
			border-color: mix(lighten($gray,30),$sub,90);
			& > .menu-item {
				color: darken($text,30);
				padding-left: 40px;
				&:after {
					content: "\f105";
					color: mix($sub,#ccc,50);
					right: 14px;
				}
			}
		}
	}
}
.md_nav_menu_002, .md_nav_menu_003 {
	.t-title {
		background: #000;
	}
	.menu-item {
		&:after {
			content: "\f105";
			color: mix($sub,#ccc,50);
			right: 14px;
		}
	}
}