.site-search-answer{
    padding: 10px;
    .light{
        color: $red;
        margin: 0 4px;
    }
    p{
        font-size: 12px;
        color: $text;
        line-height: 1.6;
        a{
            color: $link;
            text-decoration: underline;
        }
    }
    .key{
        font-weight: bold;
        font-size: 14px;
    }
    .value{
        font-size: 12px;
    }
}