.nav-breadcrumbs {
	.container{
		padding: 15px 0;
	}
    .fa {
        margin-right: 8px;
    }
    .index {
        position: relative;
        //color: $primary;
        font-weight: bold;
    }
    .cate {
        display: inline-block;
        font-size: 13px;
        //color: $primary;
    }
    .locate {
        margin-left: 20px;
        //color: $gray;
    }
    .bread-item-name{
        /* font-size: 1.12em;
        font-weight: bold; */
        color: #06c;
    }
    a[itemprop="url"] {
        color: #888;
        text-decoration: underline;
    }
}
@include RWD(pad-mobile) {
    .nav-breadcrumbs{
        margin: 10px;
    }
}
@include RWD(mobile) {
    .nav-breadcrumbs {
        margin: 20px 0 10px 10px;
    }
}
