.site-search-btn-switching{
    margin-bottom: 20px;
    margin-top: 8px;
    @include clearfix;
    .btn-switching {        
        display: block;
        border-bottom: 1px solid #1BA7FC;
        padding-left: 8px;
        @include clearfix;
        li {
            float: left;
            display: block;
            color: $text_hover;
            font-weight: bold;
            font-size: 14px;
            text-align: center;
            &:last-child{                
                margin-right: 0px;
            }
            a {
                width: 100%;
                padding: 8.5px 60px 8.5px 60px;
                margin-top: 2px;
                display: inline-block;
                color: $text_hover;
                border: 1px solid $border;
                border-bottom: none;
                background: $background2; 
                @include border-radius(6px 6px 0 0);
                &.active {
                    color: #1BA7FC;
                    font-weight: bold;
                    font-size: 15px;
                    background: white;
                    border: 1px solid #1BA7FC;
                    border-bottom: 1px solid #FFF;
                    margin-bottom: -1px;
                    margin-top: 0;
                    padding: 9.5px 60px 8.5px 60px;                    
                    &:hover{
                        background: white;
                    }
                }
                &:hover {
                    background: $hover_bk;
                }
            }
        }
    }
}