.site-search-answer{
    font-size: 13px;
    .light{
        color: $red;
        padding: 0 5px;
    }
    h1{
        line-height: 140%;
        color: $text;
        margin: 10px 0;
    }
    p{
        color: $text;
        margin-bottom: 15px;
        a{
            color: $link;
            text-decoration: underline;
        }
    }
}