.item-list-ontime{
	@include clearfix;
	.items{
		margin: 0 -10px;
		@include clearfix;
		font-size:0;
	}	
	.item{
		display: inline-block;
		// width: 25%;
		width: 18.3%;
		margin:10px;
		// margin-bottom: 10px;
		// padding: 10px;
		border: 1px solid transparent;
		float:left;
		&:hover{
			border-width: 1px;
			border-style: solid; 
			//border: 1px solid $border;
			@include transition(0.6s);
			.photo{
				opacity: 0.75;
			}
		}
	}
	%item-num-change{
		background: $bk_gray;
		.ontime-head{
			border-bottom: 1px solid $light_gray;
		}
		.photo{
			float: left;
			width: 35%;
			padding: 0;
			margin: 0;
			height: auto;
			img{
				margin: 0;
				font-size: 0;
				position: relative!important;
			}
		}
		.info{
			float: left;
			width: 63.5%;
			padding: 15px;
		}
		.name{
			margin-bottom: 15px!important;
		}	
	}
	.item-single{
		width: 48.38%!important;
		@extend %item-num-change;		
	}
	.item-three{
		width: 31.72%!important;
		@extend %item-num-change;	
	}
	.item-four{
		width: 23.38%!important;		
	}	
	.ontime-head{
		width: 100%;
		position: relative;
		padding: 8px;
		background: $bk_gray;
	}
	.photo{
		display: block;
		margin-bottom: 7px;
		@include crop(100%, white);
		img{
			width: 100%;
		}
	}
	.name{
		font-size: 16px;
		height: 43px;
		line-height: 1.4;
		//color: $item_name;
		overflow: hidden;
		word-wrap:break-word;
		margin-bottom: 10px;
	}
	.price-auto,.price-manual{
		height: 20px;
		width: 100%;
		overflow: hidden;
		color: $price;
		font-size: 19px;
	}
	.currency{
		font-size: 12px;
		//color: $price;
		display: inline-block;
	}
	.price{
		font-size: 20px;
		//color: $price;
		display: inline-block;
		margin-right: 5px;
	}
	.buy-actions{
		margin-top: 10px;
	}
	.quantity{
		margin-right: 5px;
		vertical-align: middle;
	}
	.button{
	}
	.highlight{
		margin-top: 10px;
		font-size: 12px;
		line-height: 1.4;
	}
}