.pc_other_001 {
    line-height: 1.5;
    margin-top: 15px;
    .title-h3 {
        margin-bottom: 0;
    }
    h4 {
        color: $title_h3;
        margin-bottom: 10px;
    }
    img, ul, ol {
        margin-bottom: 15px;
    }
    ul, ol {
        font-size: 0.813em;
        margin-left: 8px;
        li {
            background: url("../../../../../../img/frame/circle.png") no-repeat 0 10px;
            padding: 0 0 8px 10px;
        }
    }
    ol {
        li {
            list-style-type: decimal;
            background: none;
            padding-left: 2px;
            margin-left: 10px;
        }
    }
}
