.rwd_other_001 {
    line-height: 1.5;
    h4 {
        color: $title_h3;
        margin-bottom: 10px;
    }
    h3, img, ul, ol {
        margin-bottom: 15px;
    }
    ul, ol {
        font-size: 0.813em;
        margin-left: 8px;
        li {
            background: url("../../../../../../img/frame/circle.png") no-repeat 0 10px;
            padding: 0 0 8px 10px;
        }
    }
    ol {
        li {
            list-style-type: decimal;
            background: none;
            padding-left: 2px;
            margin-left: 10px;
        }
    }
}
@include RWD(desktop-normal) {
    .rwd_other_001 {
        img {
            width: 100%;
        }
    }
}
@include RWD(pad-mobile) {
    .rwd_other_001 {
        padding: 0 15px;
        h3 {
            padding: 10px 0;
        }
        img {
            width: 100%;
        }
    }
}
