.site-search{    
    display: inline-block;
    vertical-align: top;
    margin: 25px 10px 0 0;
    z-index: 3;
    //background: $search_bk;
    .form{
        font-size: 0;
    }
    .input-search{
        border-width: 3px;
        border-style: solid; 
       // border: 3px solid $search_border;
    	padding-left: 10px;
        margin: 0;
        width: 350px;
        height: 34px;
        //background: $search_bk;
        //color: $search_text;
        font-size: 14px;
        &:focus{
            color: black;
        }
	}
    .btn-submit{
        //background: $search_btn;
        border: none;
        margin: 0;
        height: 34px;
        vertical-align: top;
    }
    .recommend{
        font-size: 0.815em;
        margin-top: 5px;
        >li{
            float: left;
            list-style: none;
            padding: 3px 3px;
            &:first-child{
                padding-left: 0;
            }
        }
        a{
            display: inline-block;
            text-align: center;
            text-decoration: underline;
            margin-right: 4px;
            font-size: 12px;
            //color: $recommend_link;
        }
    }
}