.site-sort{
	.sort{
		@include clearfix;
		display: block;
		li{
			float: left;
			display: block;
			&:first-child a{
			}
			&:last-child a{
				border-right-width: 1px;
				border-right-style: solid; 
				//border-right: 1px solid $border;
			}
			a{
				padding: 10px 20px;
				display: inline-block;
				border-width: 1px;
				border-style: solid; 
				//border: 1px solid $border;
				border-right: 0;
				//color: $text;
				font-size: 13px;
				&.active{
					//color: $active_text;
					//background: $active_bk;
					//border-color: $active_bk;
				}
				&:hover{
					//color: $hover_text;
					//background: $hover_bk;
				}
			}
		}
	}
	.sort-s{
		display: none;
	}
}
@include RWD(pad-mobile) {
.site-sort{
	padding: 0 15px;
	.sort{
		display: none;
	}
	.sort-s{
		display: block;
		width: 100%;
		font-size: 1em;
	}
}
}