.site-activity{
	line-height: 1.4;
	margin-top: 10px;
	.act-info{
	}
	h3{
		display: inline-block;
		border-width: 1px;
		border-style: solid; 
		//border: 1px solid $border;
		padding: 3px 5px;
		margin-bottom: 10px;
	}
	.ready{
		padding: 5px 10px;
		//background: $red;
		color: white;
		letter-spacing: 3px;
	}
	.not{
		padding: 5px 10px;
		//background: $gray;
		color: white;
		letter-spacing: 3px;
	}
	.act-title{
		display: inline-block;
		color: black;
		padding: 5px 10px;
	}
	hr{
		margin: 3px 0;
		//border-color: $border;
	}
	.date{
		font-size: 12px;
		margin: 5px 0 2px;
		padding: 2px 0;
		text-align: center;
		//background: $ad_yellow;
	}
	.desc{
		display: inline-block;
		margin-left: 15px;
	}
	.act-content{
		font-size: 18px;
		//color: $red;
		font-weight: bold;
		margin: 10px 0 5px;
	}
	.tip{
		font-size: 0.8em;
	}
	.act-cart{
		margin: 20px 0;
		@include clearfix;
		.swiper-container{
			float: left;
			position: relative;
			border-width: 1px;
			border-style: solid; 
			//border: 1px solid $border;
			display: inline-block;
			width: 840px;
			@include clearfix;
			.swiper-wrapper{
			}
			.swiper-slide{
				float: left;
				padding: 5px 10px;
				border-right-width: 1px;
				border-right-style: solid; 
				//border-right: 1px solid $border;
			}
			.swiper-left{
				position: absolute;
				top: 35%;
				left: 0;
				z-index: 10;
				font-size: 13px;
			}
			.swiper-right{
				position: absolute;
				top: 35%;
				right: 0;
				z-index: 10;
				font-size: 13px;
			}
			.photo{
				display: inline-block;
				float: left;
				@include crop(80px, white);
			}
			.info{
				float: left;
				margin-left: 5px;
			}
			.line{
				padding: 2px 0;
			}
			.name{
				font-size: 12px;
				width: 145px;
				height: 32px;
				overflow: hidden;
				word-wrap: break-word;
			}
			.currency{
				font-size: 0.7em;
				//color: $price;
			}
			.price{
				font-size: 13px;
				//color: $price;
			}
			.quantity{
				vertical-align: top;
			}
			.btn-del{
				font-size: 12px;
				display: inline-block;
				vertical-align: top;
				padding: 4px;
			}
		}
		.state{
			float: right;
			display: inline-block;
			vertical-align: top;
			width: 30%;
			border-width: 1px;
			border-style: solid; 
			//border: 1px solid $border;
			padding: 14px 5px;
			.progress{
				padding: 15px;
				border-bottom-width: 1px;
				border-bottom-style: solid;
				//border-bottom: 1px solid $border;
			}
			.progress-bar-static{
				position: relative;
				background: #eee;
				width: 100%;
				margin-bottom: 5px;
				height: 15px;
				@include border-radius(2px);
				.inner-bar{
					height: 15px;
					background-color: orange;
					@include box-shadow(0 2px 5px rgba(0, 0, 0, 0.25) inset);
					@include border-radius(2px);
					background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
					background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
					background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
					background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
					background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
					-webkit-background-size: 15px 15px;
					-moz-background-size: 15px 15px;
					-ms-background-size: 15px 15px;
					-o-background-size: 15px 15px;
					background-size: 15px 15px;
					-webkit-animation: animate-stripes 3s linear infinite;
					-moz-animation: animate-stripes 3s linear infinite;
					-ms-animation: animate-stripes 3s linear infinite;
					-o-animation: animate-stripes 3s linear infinite;
					animation: animate-stripes 3s linear infinite;
					&.finish{
						//background-color: $blue;
					}
				}
				.note, .note-finish{
					position: absolute;
					top: -35px;
					left: 0;
					min-width: 100px;
					font-size: 13px;
					text-align: center;
					border-width: 2px;
					border-style: solid; 
					//border: 2px solid $light_gray;
					padding: 3px 10px;
					//color: $text;
					//background: $background;
					@include border-radius(4px);
					&:after{
						position: absolute;
						bottom: -8px;
						left: 75%;
						content:'';
						border-style: solid;
						border-width: 10px 10px 0 10px;
						//border-color: $background transparent transparent transparent;
					}
					&:before{
						position: absolute;
						bottom: -10px;
						left: 75%;
						content:'';
						border-style: solid;
						border-width: 10px 10px 0 10px;
						//border-color: $light_gray transparent transparent transparent;
					}
				}
				.note-finish{
					//color: $primary;
				}
			}
			.actions{
				font-size: 13px;
				&.finish{
					//color: $primary;
				}
				.current{
					display: inline-block;
					margin-top: 5px;
				}
				.price{
					font-size: 16px;
				}
				.button{
					float: right;
				}
			}
		}
	}
}

@include RWD(desktop-normal) {
.site-activity{
	.act-cart{
		.swiper-container{
			width: 660px;
			.name{
				width: 90px;
			}
		}
		.state{
			.actions{
				margin-top: 3px;
			}
		}
	}
}	
}

@include RWD(pad-mobile) {
.site-activity{
	margin: 15px 15px 0 15px;
	.date{
		margin-top: 10px;
	}
	.desc{
		margin: 0;
	}
	.act-content{
		font-size: 14px;
	}
	.act-cart{
		.swiper-container{
			width: 100%;
			font-size: 0;
			.name{
				width: auto;
				font-size: 12px;
			}
			.currency{
				font-size: 12px;
				margin: 0;
			}
			.price{
				font-size: 14px;
			}
			.btn-del{
				margin-top: 10px;
				display: block;
				font-size: 12px;
				padding: 5px 0;
			}
			.swiper-slide{
				width: 100%;
				// margin-bottom: 5px;
			}
			.swiper-left, .swiper-right{
				position: static;
				width: 50%;
				display: inline-block;
				text-align: center;
				padding: 8px 0;
				border-top-width: 1px;
				border-top-style: solid;
				border-right-width: 1px;
				border-right-style: solid;
				//border-top: 1px solid $light_gray;
				//border-right: 1px solid $light_gray;
				//background: $bk_gray;
			}
			.photo{
				width: 40%;
				//@include crop(40%, white);
			}
			.info{
				width: 60%;
				margin: 0;
			}
		}
		.state{
			width: 100%;
			margin: 20px 0;
			>.tip{
				//color: $text;
				text-align: right;
			}
			.actions{
				margin-top: 10px;
			}
		}
	}
}
}

@-webkit-keyframes animate-stripes {
  /* line 299, ../sass/split/_product_list_events_main_top.scss */
  0% {
    background-position: 0 0;
  }

  /* line 299, ../sass/split/_product_list_events_main_top.scss */
  100% {
    background-position: 60px 0;
  }
}

@-moz-keyframes animate-stripes {
  /* line 302, ../sass/split/_product_list_events_main_top.scss */
  0% {
    background-position: 0 0;
  }

  /* line 302, ../sass/split/_product_list_events_main_top.scss */
  100% {
    background-position: 60px 0;
  }
}