.item-list-follow{
	margin-top: 25px;	
	.follow-list-block{
		position: relative;
		width: 100%;
		height: auto;		
		color: $text;
		padding: 12px 15px;
		margin-bottom: 30px;
		top: 0px;
		background: $background;
		border: 1px solid $border;
		&:first-child{
			margin-top: 5px;
		}
		@include box-sizing(border-box);
		@include transition(0.4s);
		@include clearfix;
	}	
	.follow-list{
		width: 100%;
		@include clearfix;
		.follow-list-content{			
			margin-bottom: 15px;
			padding: 0 0px 13px;
			border-bottom: 1px dashed $border;
			position: relative;
			@include clearfix;
			&:last-child{
				border-bottom: none;
				margin-bottom: 0px;
				padding-bottom: 0px;
			}			
		}
		.none-item{
			padding-top: 15px;
			padding-bottom: 15px!important;
			font-size: 1em;
			color: black;
			font-weight: bold;
		}
		%follow-list-col{
			float: left;				
			min-height: 20px;
			line-height: 1.5;
			font-size: 0.8em;
		}
		.follow-date{
			width: 6%;
			margin-right: 1%;
			@extend %follow-list-col;
			padding-top: 22px;			
		}
		.follow-photo{
			width: 5.051%;
			margin-right: 1%;
			@extend %follow-list-col;
			padding: 0;
			img{
				width: 100%;
			}
		}
		.follow-name{
			width: 45%;
			margin-right: 1.9%;
			padding-top: 21px;
			font-weight: bold;
			@extend %follow-list-col;
			font-size: 0.93em;
			a{
				color: $text;
				&:hover {
				  color: $primary;
				}
			}
		}
		.follow-list-r{
			width: 40%;
			float: right;
			padding-top: 22px;
			@include clearfix;
			li{
				margin-right: 5%;
				margin-bottom: 3px;
				@extend %follow-list-col;
				&:last-child{
					margin-right: 0;
				}
			}			
		}
		.follow-price{
			width: 20%;
			text-align: right;
			font-weight: bold;
		}
		.follow-status{
			width: 22%;
			margin-top: -1px;
		}
		.follow-notice{
			width: 17%;
		}
		.follow-notice-date{
			width: 17%;
			text-align: center;
			margin-top: -11px;
			span{
				display: block;
			}
		}
		.follow-delete{
			width: 4%;
			font-size: 20px!important;
			cursor: pointer;
			margin-top: -4px;
			&:before {
				@include icon-font("\f00d");
			}				
		}
	}
	.follow-list-info{
		font-size: 0.95em;
		line-height: 1.7;
		padding-bottom: 25px;
		margin-bottom: 15px;
		border-bottom: 1px solid $border;
		ul{
			padding-left: 25px;
		}
		li{
			list-style-type: decimal;
			margin-top: 5px;
		}
	}
	

	@include RWD(desktop-normal){
		.follow-list{
			.follow-date{
				width: 8%;
				padding-top: 18px;
			}
			.follow-photo{
				width: 6%
			}
			.follow-name{
				width: 36%;
				padding-top: 16px;
			}
			.follow-list-r{
				width: 46%;
				padding-top: 17px;	
			}
			.follow-list-r{
				li{
					margin-right: 3.5%;
				}			
			}
			.follow-price{
				width: 23%;
			}
			.follow-notice-date{
				width: 20%;				
			}		
		}
	}
	@include RWD(pad){
		padding: 0 15px;
		.follow-list-block{
			padding: 15px 10px;
		}
		.follow-list{
			.follow-date{
				width: 11%;
				padding-top: 1px;
			}
			.follow-photo{
				width: 6%;
			}
			.follow-name{
				width: 19%;
				padding-top: 0px;
			}
			.follow-list-r{
				width: 60%;
				padding-top: 1px;
				li{
					margin-right: 3%;
				}		
			}
			.follow-price{
				width: 24%;
			}			
		}	
	}
	@include RWD(mobile){
		padding: 0 15px;	
		.follow-list{
			.follow-date{
				width: auto;
				padding-top: 0;
				padding-bottom: 5px;
				position: absolute;
				top: 6px;
				left: 11.5%;
			}
			.follow-photo{
				width: 10%;
				margin-right: 1.5%;
			}
			.follow-name{
				width: 88.5%;
				margin-right: 0;
				margin-top: 1px;
				font-size: 0.97em;
  				line-height: 1.4;
  				padding-top: 25px;
			}
			.follow-list-r{
				width: 100%;
				margin-top: 10px;
				padding-top: 0;
				li{
					font-size: 0.95em;
				}			
			}		
			.follow-price{
				width: 22%;
				text-align: left;
			}
			.follow-status{
				width: 20%;
				.button{
					padding: 0.3em 1.2em;
				}
			}
			.follow-notice{
				width: 17%;
			}
			.follow-notice-date{
				width: 20%;
				font-size: 0.9em!important;
			}
			.follow-delete{
				position: absolute;
				top: -3px;
				right: 5px;
				width: 15px;	
			}
		}		
	}
	@media screen and (max-width: 568px) {
		.follow-list{
			.follow-date{
				top: 2px;
				left: 12.5%;
			}
			.follow-photo{
				width: 11%;
				min-width: 40px;
				margin-right: 8px;
			}
			.follow-name{
				width: 79%;
				font-size: 1em;
				margin-top: -2px;
			}
			.follow-list-r{
				li{
					margin-bottom: 12px;
					float: none;
	  				width: 100%;
	  				margin-right: 0;
				}			
			}		
			.follow-price{
				width: 45%;
				text-align: left;
			}
			.follow-status{
				width: 45%;
			}
			.follow-notice{
				width: 45%;
			}
			.follow-notice-date{
				width: 45%;
				text-align: left;
				margin-top: 0px;
				font-size: 0.8em!important;
				span{
					display: inline-block;
					margin-right: 3px;
				}
			}
			.follow-delete{
				width: auto!important;	
			}
		}
	}
	@media screen and (max-width: 470px) {
		.follow-list{
			.follow-date{
				left: 48px;
			}
		}
	}
}