.site-filter{
	.attr{
		font-size: 0.813em;
		line-height: 250%;
		margin-bottom: 20px;
	}
	.attrcon{
		position: relative;
		border-width: 1px;
		border-style: solid; 
		//border: 1px solid $border;
		border-top: none;
		&:first-child{
			border-top-width: 1px;
			border-top-style: solid;
			//border-top: 1px solid $border;
		}
		> div, label{
			display: inline-block;
			vertical-align: middle;
			line-height: 260%;
		}
		label.disabled{
			//color: $disabled;
			cursor: no-drop;
		}
		.colst{
			width: 12%;
			text-align: right;
			margin-right: 20px;
			vertical-align:top;
		}
		.colcheck{
			width:72%;
			line-height: 0;
			a{
				width:115px;
				line-height: 200%;
				margin-right: 20px;
				display:inline-block;
				//color: $text;
				@include one-line;
				&:hover{
					text-decoration: underline;
				}
			}
			.selected{
				//color: $primary;
			}
		}
		.all{
			display: inline-block;
			vertical-align: middle;
			cursor: pointer;
			line-height: 140%;
			margin-right: 20px;
		}
		.type{
			width: 65px;
			margin-right: 0;
		}
		.actions{
			position: absolute;
			right: 5px;
			bottom: 0px;
			vertical-align: bottom;
			.colclose{
				display: inline-block;
				margin-left: 10px;
				a{
					//color: $link;
					display: inline-block;
				}
			}
			.clearcheck{
				margin: 0 0 0 10px;
			}
			.tirup,.tirdown{
				display:inline-block;
				width:0;
				height:0;
				position:relative;
				bottom:1px;
				left:1px;
				border-style:solid;
				border-width:0 5px 6px 5px;
				//border-color:transparent transparent $link transparent;
			}
			.tirdown{
				border-width:6px 5px 0 5px;
				//border-color:$link transparent transparent transparent;
			}
		}
		label{
			width:115px;
	    		cursor: pointer;
	    		overflow: hidden;
	    		text-overflow: ellipsis;
	    		white-space: nowrap;
	    		margin-right: 20px;
		}
		input[type="checkbox"]{
			margin-left: 0;
		}
		.input-number {
    		padding: 0 0 0 3px;
    		vertical-align: middle;
    		width: 70px;
    		height: 22px;
    		margin: 0 5px;
		}
		input[type="submit"]{
		}

	}
	.attrft{
		height:30px;
		padding-right:5px;
		text-align:right;
		border-width: 1px;
		border-style: solid; 
		//border: 1px solid $border;
		border-top:none;
		a{
			//color: $link;
		}
	}
}
.result{
	font-size: 1.8em;
	line-height: 140%;
	text-align: center;
	color: #000;
	margin: 2em 0;
	padding: 0 10px;
}
.site-filter-m{
	display: none;
	select{
		width: 100%;
		font-size: 1em;
		//background: $input_bk;
	}
	.attron{
		padding: 4px 15px;
	}
	.colprice{
	}
}
@include RWD(pad-mobile) {
.site-filter{
	display: none;
}
.site-filter-m{
	display: block;
	.row{
		@include clearfix;
	}
	.input-number{
		font-size: 1em;
		margin: 0;
	}
	.attrcon{
		padding: 4px 15px;
		margin: 5px 0;
	}
}
}
@include RWD(pad) {
.site-filter-m{
	// .col-4{
	// 	width: 50%;
	// 	float: left;
	// }
	.colst{
		float: left;
		margin-right: 15px;
		line-height: 40px;
	}
	.colprice{
		.input-number{
			width: 42%;
		}
	}
}
}
@include RWD(mobile) {
.site-filter-m{
	// .col-4{
	// 	width: 50%;
	// 	float: left;
	// }
	.colst{
		float: left;
		margin-right: 15px;
		line-height: 40px;
	}
	.colprice {
		.input-number{
			width: 35%;
		}
	}
}
}
@include RWD(mobile-small) {
.site-filter-m{
	// .col-4{
	// 	width: 50%;
	// }
	.attrcon{
		margin: 0 15px 15px;
	}
	.colst{
		float: left;
		margin-right: 15px;
		line-height: 30px;
	}
	.colprice{
		.input-number{
			width: 31%;
			margin: 0;
		}
	}
	.icon-search{
		margin-left: 5px;
	}
}
}
