.ontime-banner{
	padding-bottom: 10px;
	.container{
		font-size: 0;
		img{
			width: auto;
			max-width: 100%;
			margin: 0 auto;
			display: block;
		}
	}
}
.ontime-date{	
	.container{
		padding: 13px;
		background: $dark_gray;
		font-size: 1.5em;
		font-weight: bold;
		color: white;
		text-align: center;
		text-shadow: 1px 0px 2px black;
	}
}
.ontime-footer{
	.container{
		margin-top: 30px;
		padding-top: 15px;
		border-top: 1px solid $bk_gray;
		font-size: 0.8em;
		color: $text;
		line-height: 1.4;
		text-align: center;
	}	
}
//pad
@include RWD(pad) {
.ontime-banner{
	padding: 10px;
}
.ontime-date{
	padding: 0 10px;
}
}
//pad & mobile
@include RWD(mobile) {
.ontime-banner{
	display: none;
}
}