@import "../../../../define/__init.scss";
@import "../../../style_color/___color_asap_m.scss";

@import "../../../../3rd-party/_swiper.scss";
@import "../../../module_component/_md_nav_breadcrumbs.scss";
@import "../../../module_component/_md_site_activity.scss";
@import "../../../module_component/_md_site_activity_items_title.scss";
@import "../../../module_component/_md_site_filter.scss";
@import "../../../module_component/_md_infinite_scroll.scss";
@import "../../../module_category/_md_category_002.scss";
.md_nav_breadcrumbs {
    .container{
        padding: 10px 10px 0;
    }
    .item{
        max-width: none;
    }
    select{
        width: 160px;
    }
}