@import"../module_index/_rwd_index_layout.scss";
@import "../module_component/_nav_pagination.scss";
@import "../module_component/_site_sort.scss";


.site-body {
	.container{
		padding: 10px 0;
		border-bottom: none;
	}
}
.nav-pagination{
	.container{
		padding-bottom: 30px;
		border-bottom-width: 1px;
        border-bottom-style: solid;
	}
}