.pc_market_010 {
	margin: 0 auto 20px;
	border: 1px solid #999;
	.subject-title {
		background: #f5f5f5;
        background: -moz-linear-gradient(top, #fff 50%, #e5e5e5 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #fff 50%, #e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #fff 50%, #e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
		color: #888;
		font-size: 12px;
		letter-spacing: 5px;
		line-height: 20px;
		padding: 0 0 0 9px;
	}
	.tabs {
		text-align: center;
		@include clearfix;
		> li {
			float: left;
			background: #F5f5f5;
			border-style: solid;
			border-color: #999;
			border-width: 1px 0 1px 1px;
			box-sizing: border-box;
			width: 16.6666667%;
			color: #888;
			// display: block;
			font-size: 13px;
			// font-weight: bold;
			padding: 9px 4px 9px;
			overflow: hidden;
			white-space: nowrap;
			word-break: break-all;
			&:first-child {
				border-left: none;
			}
			&:last-child {
				border-right: none;
			}
			&.active{
				background: white;
				border-bottom: 1px solid transparent;
				// border-right: 1px solid $border;
				// border-left: 1px solid $border;
				color: #000;
				// margin-top: 0;
			}
			&:hover{
				cursor: pointer;
			}
			&:first-child {
				margin-left: 0;
			}
		}
	}
	.content{
		// border-top: 1px solid $border;
		margin-top: -1px;
	}
	.items{
		display: none;
		font-size: 0;
		// border: 1px solid $border;
		border-top: none;
		padding: 15px 0 15px 4px;
		&.active{
			display: inherit;
		}
	}
	.item {
		// width: calc(100% / 6);
		width: 192px;
		padding: 0 11px;
		display: inline-block;
		&:hover{
			img{
				@include transform(scale(1.05) translate3d(0, 0, 0));
				@include transition(0.3s);
			}
			.name a{
				color: $primary;
			}
		}
	}
	.time{
		font-weight: bold;
		background: #1ba7fc;
		color: #fff;
		font-size: 13px;
		padding: 8px 10px;
		text-align: center;
		@include border-radius(10px 10px 0 0);
		li{
			display: inline-block;
		}
		div{
			display:inline-block;
			height:17px;
			vertical-align:top;
			line-height:1.2;
			overflow: hidden;
		}
		&.is-come-end{
			background: #f96;
		}
		&.is-gone{
			background: #ccc;
		}
	}
	.photo{
		display: inline-block;
		// width: 180px;
		// height: 180px;
		// overflow: hidden;
		margin-bottom: 4px;
		// position: relative;
		width: 100%;
		height: 0;
		overflow: hidden;
		padding-top: 100%;
		position: relative;
		img{
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			margin: auto;
			max-width: 100%;
			max-height: 100%;
			@include transition(0.3s);
		}
	}
	.info{
	}
	.name{
		margin-bottom: 10px;
		font-size: 12px;
		line-height: 1.5;
		word-break: break-all;
		overflow: hidden;
		height: 35px;
		a{
			color: #888;
		}
	}
	.buy{
		color: $price;
		height: 18px;
		.start {
			display: none;
			color: #333;
			font-size: 12px;
		}
	}
	.buy.is-old{
		text-align: right;
		.price{
			font-size: 16px;
		}
	}
	.currency{
		font-size: 10px;
		vertical-align: bottom;
		display: inline-block;
		margin-bottom: 2px;
	}
	.price{
		font-size: 18px;
		margin-right: 5px;
		vertical-align: bottom;
		display: inline-block;
	}
	.btn{
		float: right;
		margin-top: 3px;
		font-size: 15px;
		color: $price;
	}
	.fa{
		margin-left: 4px;
	}
	.tag-status {
		display: none;
		position: absolute;
		bottom: 7px;
		right: 7px;
		z-index: 9;
	}
	.commodity-status {
		margin-bottom: 7px;
	}
}