.pc_market_002{
	margin-bottom: 10px;
	border: 8px solid $background2;
	.photo-01{
		float: left;
		width: 500px;
		height: 400px;
		.photo{
			display: block;
			img{
				display: block;
				width: 500px;
				height: 400px;
			}
		}
	}
	.photo-02{
		float: left;
		width: 242px;
		height: 400px;
		.photo{
			width: 242px;
			height: 200px;
			display: block;
			border-left: 1px solid $border;
			border-bottom: 1px solid $border;
			img{
				display: block;
				width: 242px;
				height: 199px;
			}
			&:last-child{
				border-bottom: 0;
			}
		}
	}
}
