//bar animation
@-webkit-keyframes minhand {
    0% {-webkit-transform: rotate(0deg)}
    100% {-webkit-transform: rotate(360deg)}
}
@-moz-keyframes minhand {
    0% {-moz-transform: rotate(0deg)}
    100% {-moz-transform: rotate(360deg)}
}
@keyframes minhand {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}
@-webkit-keyframes hrhand {
    0% {-webkit-transform: rotate(0deg)}
    100% {-webkit-transform: rotate(360deg)}
}
@-moz-keyframes hrhand {
    0% {-moz-transform: rotate(0deg)}
    100% {-moz-transform: rotate(360deg)}
}
@keyframes hrhand {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}