.md-purchaser-infr {
	color: $font-color;
	dd {
		padding-right: 10px;
		display: inline-block;
		& + dd {
			&:before {
				content: "/";
				color: lighten($border-color,5);
				font-size: 1.3em;
				margin-right: 10px;
			}
		}
		&:last-child {
			&:before {
				display: none;
			}
		}
	}
}
.md-purchaser-form {
	max-height: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-top-width: 0;
	border-bottom-width: 0;
	@include box-shadow(none);
	overflow: hidden;
	&.is-active {
		max-height: 10000px;
		margin-bottom: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		border: $card-border-color 1px solid;
		@include box-shadow(rgba(black,0.2) 0 1px 2px);
		overflow: visible;
	}
}