.md-annoucement {
	@extend .t-comment;
	color: mix($c-red,#fff,30);
	text-align: right;
	width: 100%;
	margin-top: 10px;
	@include RWD(mobile) {
		text-align: left;
		dd {
			margin-bottom: 5px;
		}
	}
}
.md-annouce-detail {
	width: 400px;
	@include RWD(mobile) {
		width: auto;
	}
}