.md-invoice {
	padding: 10px 15px;
}
.md-enter-vat {
	max-height: 0;
	margin: 0;
	overflow: hidden;
	&.is-show {
		max-height: 10000px;
		margin-top: 5px;
	}
}
.md-enter-cn-invoice {
	max-height: 0;
	margin: 0;
	overflow: hidden;
	&.is-show {
		max-height: 10000px;
		margin-top: 10px;
	}
	& > dd {
		margin-bottom: 10px;
		display: block;
	}
}