.md-final-invoice {
	.t-title {
		font-size: 1.2em;
		.t-type {
			font-weight: bold;
		}
	}
	.md-option {
		right: 15px;
		bottom: 10px;
		text-align: right;
		position: absolute;
		.btn-invoice {
			color: darken($main-grey,30);
			font-size: 0.9em;
			margin: 0 3px;
			@include btn-color(lighten($main-grey,10),1);
		}
		@include RWD(mobile) {
			position: static;
		}
	}
}