.md-shipping {
	@extend .clearfix;
	.t-shipping-fee {
		float: right;
		display: none;
		@include RWD(mobile) {
			text-align: right;
			float: none;
		}
		&.is-show {
			display: block;
		}
		.t-price {
			color: $c-red;
		}
	}
}