.md-add-cvs {
	.md-form {
		& > dd {
			margin: 10px 0;
			letter-spacing: -0.32em;
			display: block;
			* {
				letter-spacing: normal;
			}
		}
		.label-title {
			width: 100px;
			margin-right: 10px;
			text-align: right;
			display: inline-block;
		}
	}
}