.tip-quantity-alert {
	color: #fff;
	font-size: $font-small-size;
	line-height: $font-small-line-height;
	text-align: center;
	width: 100px;
	left: 50%;
	bottom: 100%;
	margin-left: -55px;
	padding: 1px 5px;
	background: $c-red;
	@include border-radius(2px);
	display: block;
	position: absolute;
	@include RWD(pad) {
		left: 0;
		margin-left: -20px;
	}
	&:after {
		content: "\0020";
		top: 100%;
		left: 50%;
		border: solid transparent;
		border-color: rgba($c-red,0);
		border-top-color: $c-red;
		border-width: 5px;
		margin-left: -5px;
		position: absolute;
	}
}