.go-imported-tip {
	.md-tip {
		width: 400px;
		padding: 0 15px;
		left: 50%;
		top: 100%;
		margin-left: -200px;
		&:after, &:before {
			bottom: 100%;
			left: 50%;
		}
		&:after {
			border-bottom-color: $card-bg-color;
			border-width: 8px;
			margin-left: -8px;
		}
		&:before {
			border-bottom-color: darken($card-border-color,10);
			border-width: 9px;
			margin-left: -9px;
		}
	}
	&:hover {
		.md-tip {
			top: 120%;
			padding: 15px;
		}
	}
}