.md-add-address {
	&.md-dialog {
		min-width: 800px;
		@include RWD(desktop) {
			min-width: 0;
		}
	}	
	.md-form {
		&.md-new-local-address, &.md-new-foreign-address {
			display: none;
			&.is-show {
				display: block;
			}
		}
		& > dd {
			margin: 10px 0;
			display: block;
		}
		.label-title {
			width: 200px;
			margin-right: 10px;
			text-align: right;
			display: inline-block;
		}
		.input-zip {
			width: 90px;
		}
		.go-pickup {
			font-size: $font-small-size;
			margin: 0 5px;
			&:before {
				margin-right: 3px;
				@include icon-font("\f0da");
			}
		}
	}
}
.t-address-switch {
	&:before {
		margin-right: 5px;
		@include icon-font("\f041");
	}
	&.go-new-foreign-address {
		&:before {
			content: "\f0ac";
		}
	}
}
.md-foreign-address {
	display: none;
}