.go-cvs-tip {
	display:inline-block;
	vertical-align: 2px;
	margin-left: 10px;
	.md-tip {
		display: none;
		width: 300px;
		padding: 0 15px;
		left: 50%;
		top: 100%;
		margin-left: -150px;
		&:after, &:before {
			bottom: 100%;
			left: 50%;
		}
		&:after {
			border-bottom-color: $card-bg-color;
			border-width: 8px;
			margin-left: -8px;
		}
		&:before {
			border-bottom-color: darken($card-border-color,10);
			border-width: 9px;
			margin-left: -9px;
		}
	}
	&:hover {
		.md-tip {
			display:inline-block;
			top: 120%;
			padding: 15px;
		}
	}
}