//payment buttons
.md-payment-buttons {
	margin: 15px 40px 60px 0;
	text-align: center;
	@extend .clearfix;
	@include RWD(pad){
		margin: 20px 0 30px;
	}
	& > dd {
		margin: 0 5px;
		vertical-align: top; 
		display: inline-block;
		@include RWD(pad){
			width: 100%;
			margin: 0;
			text-align: center;
		}
	}
	.btn-payment, .btn-cancel {		
		font-size: 1.1em;
		margin: 5px 0;
		padding: 8px 25px;
		@include RWD(pad) {
			width: 100%;
			font-size: 1.05em;
			padding: 6px 10px 8px;
		}
	}
	.btn-cancel {
		font-size: 1em;
	}
	.t-infr {
		margin-bottom: 10px;
		@extend .t-comment;
		color: $c-red;
		display: block;
	}
	.t-back {
		margin-top: 20px;
		display: block;
	}
}