.md-confirm-infr {
	& > dd {
		width: 32.5%;
		padding-right: 5px;
		vertical-align: top;
		@include box-sizing(border-box);
		display: inline-block;
		&:last-child {
			padding: 0;
		}
		@include RWD(mobile) {
			width: 100%;
			margin: 10px 0 20px;
			padding: 0;
			display: block;
		}
		li {
			font-size: $font-small-size;
			line-height: $font-small-line-height;
			margin: 5px 0;
		}
	}
	.t-title {
		font-weight: bold;
	}
	.t-price {
		color: $c-red;
		font-size: 1.5em;
		font-weight: bold;
		.t-currency {
			font-size: 0.7em;
		}
	}
	.go-edit {
		font-size: $font-small-size;
		font-weight: normal;
		margin-left: 10px;
		&:before {
			margin-right: 3px;
			@include icon-font("\f040");
		}
	}
}