.md-authorization {
	min-width: 200px;
	padding: 20px 10px 10px;
	color: lighten($font-color,60);
	font-size: 1.4em;
	line-height: 1.2;
	text-align: center;
	overflow: hidden;
	position: relative;
	.md-animation {
		width: 40px;
		height: 40px;
		margin: 0 0 10px 80px;
		background-color: transparent;
		box-shadow: $main-grey 0px 0px 0px 3px inset;
		border-radius: 50%;
		position: relative;
		&:before, &:after {
			content: "";
			background-color: $main-grey;
			position: absolute;
		}
		&:after {
			width: 16px;
			height: 2px;
			top: 19px;
			left: 19px;
			-webkit-transform-origin: 1px 1px;
			-moz-transform-origin: 1px 1px;
			transform-origin: 1px 1px;
			-webkit-animation: minhand 2s linear infinite;
			-moz-animation: minhand 2s linear infinite;
			animation: minhand 2s linear infinite;
		}
		&:before {
			width: 12px;
			height: 2px;
			top: 19px;
			left: 19px;
			-webkit-transform-origin: 1px 1px;
			-moz-transform-origin: 1px 1px;
			transform-origin: 1px 1px;
			-webkit-animation: hrhand 8s linear infinite;
			-moz-animation: hrhand 8s linear infinite;
			animation: hrhand 8s linear infinite;
		}
	}
}