//payment: credit card
.md-credit-card {
	.label-title {
		width: 160px;
		margin-right: 10px;
		text-align: right;
		display: inline-block;
	}
	.input-cvv {
		width: 50px;
	}
	.t-reward {
		color: $c-red;
		display: none;
		&.is-show {
			display: inline-block;
		}
	}
	.credit-edit{
		display: none;
	}
	.credit-edit-open,.credit-edit-close{
		margin-left: 5px;
	}
	small{
		font-size: 0.75em;
		color: #0066cc;
	}
}
.credit-card-icon {
	margin: 0 5px;
	display: inline-block;
	@include RWD(mobile){
		margin: 5px 0 0;
	}
	span {
		margin-right: 3px;
		display: inline-block;
	}
}
.md-credit-card-notice {
	color: #666;
	font-size: 0.9em;
	line-height: $font-small-line-height;
	margin: 10px 5px 20px;
	@include RWD(mobile){	
		margin-left: 0;
		margin-right: 0;
	}
	dd {
		color: #999;
		margin: 2px 0 2px 10px;
		&:before {
			content: "\00b7";
			font-size: 1.3em;
			font-weight: bold;
			margin: 0 5px 0 -10px;
		}
	}
}