.md-recipient-infr {
	padding-bottom: 15px;
}
.md-user-address {
	width: 24%;
	height: 200px;
	margin: 5px 1px;
	padding: 5px 10px 25px 10px;
	border: $main-grey 1px solid;
	line-height: $font-small-line-height;
	vertical-align: top;
	@include box-sizing(border-box);
	overflow: hidden;
	display: inline-block;
	position: relative;
	&.is-active {
		border-color: mix($main-color,#fff,50);
		border-width: 2px;
		&:before {
			content: "\0020";
			width: 0;
			height: 0;
			top: -40px;
			right: 0;
			border: transparent 40px solid;
			border-right-color: mix($main-color,#fff,50);
			position: absolute;
		}
		&:after {
			color: #fff;
			font-size: 1.5em;
			@include icon-font("\f00c");
			top: 3px;
			right: 0;
			position: absolute;
		}
		.t-active {
			display: block;
		}
	}
	&.in-cvs {
		height: 150px;
		@include RWD(mobile){
			height: 64px;
		}
	}
	@include RWD(desktop){
		width: 24%;
	}
	@include RWD(pad){
		width: 49%;
	}
	@include RWD(mobile){
		width: 100%;
		height: 64px;
		margin: 0;
		padding-bottom: 5px;
		border-top-width: 0;
		&:first-child {
			border-top-width: 1px;
		}
		&.is-active {
			height: auto;
			border-top-width: 2px;
			padding-bottom: 25px;
		}
	}
	input[type="radio"] {
		width: 100%;
		height: 100%;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: 0;
		@include opacity(0);
		position: absolute;
	}
	li {
		margin: 5px 0;
		&.t-address {
			@include ellipsis(nowrap);
			overflow: hidden;
		}
		&.t-active {
			bottom: 5px;
			right: 5px;
			margin: 0;
			position: absolute;
			z-index: 1;
			display: none;
			a {
				color: lighten($font-color,60);
				margin: 0 7px;
				&:before {
					margin-right: 3px;
				}
				&.go-edit-address {
					&:before {
						@include icon-font("\f040");
					}
				}
				&.go-delete-address {
					&:before {
						@include icon-font("\f00d");
					}
				}
			}
		}
	}
}
.btn-add-address {
	margin: 5px 5px 0 0;
	&:before {
		margin-right: 5px;
		@include icon-font("\f067");
	}
	&.go-foreign-address {
		&:before {
			content: "\f0ac";
		}
	}
	&.go-address-book {
		&:before {
			content: "\f02d";
		}
	}
	@include RWD(pad) {
		width: 100%;
		margin-right: 0;
		padding: 7px 0;
		position: relative;
	}
}
.go-expand-address {
	bottom: 10px;
	right: 15px;
	position: absolute;
	&:after {
		margin-left: 5px;
		@include icon-font("\f0d7");
	}
}