//marketing tag
.tag-status {
	font-size: 0.9em;
	line-height: $font-small-line-height;
	letter-spacing: normal;
	margin-right: 5px;
	padding: 0 5px;
	border: 1px solid;
	//@include border-radius(2px);
	display: inline-block;
	&.is-24h {
		color: #e00517;
		border-color: #e00517;
	}
	&.is-2h {
		color: #e00517;
		border-color: #e00517;
	}
	&.is-odd {
		color: $c-cyan;
		border-color: $c-cyan;
	}
	&.is-preorder {
		color: $c-yellow;
		border-color: $c-yellow;
	}
	&.is-uitox-delivery {
		color: lighten($c-magenta,20);
		border-color: lighten($c-magenta,20);
	}
	&.is-vendor-delivery {
		color: lighten(mix($c-purple,$c-cyan,70),30);
		border-color: lighten(mix($c-purple,$c-cyan,70),30);
	}
	&.is-separate-delivery {
		color: mix($c-blue,$c-cyan,50);
		border-color: mix($c-blue,$c-cyan,50);
	}
	&.is-max-purchase {
		color: darken($main-grey,30);
		border-color: darken($main-grey,30);
	}
	&.is-qualified {
		color: darken($c-red,5);
		border-color: darken($c-red,5);
	}
	&.is-not-qualified {
		color: darken($main-grey,10);
		border-color: darken($main-grey,10);
	}
	&.is-imported {
		color: mix($c-green,$c-yellow,60);
		border-color: mix($c-green,$c-yellow,60);
	}
	&.is-discount{
		color: white;
		cursor: pointer;
		border-color: lighten($c-magenta,20);
		background-color: lighten($c-magenta,20);;
	}
}