@charset "UTF-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small,
strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, figcaption, figure, footer, header, hgroup, menu, nav,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, ol {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

body {
  font-size: 62.5%;
}

html, body {
  height: 100%;
  font-family: '微軟正黑體','新細明體','Arial Unicode MS', Arial, Helvetica, sans-serif;
}

body {
  color: #555555;
  background-color: white;
}

a {
  color: #555555;
}

* {
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(assets/c/css/common/boxsizing.htc);
}

select {
  font-family: '微軟正黑體','新細明體','Arial Unicode MS', Arial, Helvetica, sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  padding: 8px 0px 8px 5px;
  margin: 0 0 8px 0;
  border: 1px solid #555555;
  font-size: 1.4em;
  color: black;
  background: url(http://img.giftting.co.kr/pintle/images/pintle/line/btn_select_01.gif) no-repeat right center #FFF;
  background-size: 17px 36px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
select:focus {
  border: 1px solid #1180c2;
  box-shadow: 0px 0px 2px #1180c2;
}
select.selected, select .selected {
  color: #1180c2;
}

input[type='password'], input[type='email'], input[type='tel'], input[type='text'], input[type='number'], input[type='search'] {
  -webkit-appearance: none;
  font-family: '微軟正黑體','新細明體','Arial Unicode MS', Arial, Helvetica, sans-serif;
  padding: 8px;
  margin: 0 0 10px 0;
  border: 1px solid #888888;
  font-size: 1.5em;
  color: #555555;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type='password']:focus, input[type='email']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='number']:focus, input[type='search']:focus {
  outline: none;
}

.hide {
  display: none;
}

.container, .row, .clearfix {
  zoom: 1;
}
.container:after, .row:after, .clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
}

.c {
  zoom: 1;
}
.c:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.edm-container {
  width: 100%;
  margin: 0 auto;
}
.edm-container .edm-main-content {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  background-position: center top;
  background-repeat: no-repeat;
}
.edm-container .edm-main-content .edm-main-img {
  width: 1220px;
  margin: 0 auto;
  display: block;
}
.edm-container .edm-second-content {
  position: relative;
  max-width: 1220px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.edm-container .edm-second-content .edm-block {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}
.edm-container .edm-second-content .edm-block {
  zoom: 1;
}
.edm-container .edm-second-content .edm-block:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.edm-container .edm-second-content .edm-block .edm-title {
  width: 100%;
  height: 70px;
  color: white;
  text-align: center;
  font-size: 3.2em;
  font-weight: bold;
  line-height: 70px;
  letter-spacing: 1px;
  white-space: nowrap;
  padding: 0px 15px;
  display: block;
  background: #ee0000;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.edm-container .edm-second-content .edm-block .edm-title img {
  width: 100%;
  height: auto;
}
.edm-container .edm-second-content .edm-block .edm-box-1 {
  width: 100%;
  height: auto;
}
.edm-container .edm-second-content .edm-block .edm-box-1 img {
  width: 100%;
  height: auto;
}
.edm-container .edm-footer {
  width: 100%;
  background: #555555;
}
.edm-container .edm-footer p {
  max-width: 1200px;
  width: 100%;
  color: white;
  font-size: 1.3em;
  line-height: 1.4;
  text-align: center;
  margin: 0 auto;
  padding: 6px 10px 4px 10px;
  display: block;
}

@media screen and (max-width: 1000px) {
  .edm-container .edm-second-content .edm-block .edm-title {
    height: 60px;
    line-height: 60px;
  }
}
@media only screen and (max-width: 768px) {
  .edm-container .edm-second-content .edm-block .edm-title {
    font-size: 2.6em;
    height: 55px;
    line-height: 55px;
  }
}
@media only screen and (max-width: 600px) {
  .edm-container {
    width: 97%;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
  .edm-container .edm-second-content .edm-block .edm-title {
    font-size: 2.2em;
    height: 50px;
    line-height: 50px;
  }

  .edm-footer p {
    font-size: 1.2em;
  }
}
.edm-container .edm-second-content .edm-block .edm-box-2 {
  width: 100%;
  padding: 15px 2% 0 2%;
  margin-top: -15px;
  background: #ffded5;
}
.edm-container .edm-second-content .edm-block .edm-box-2 {
  zoom: 1;
}
.edm-container .edm-second-content .edm-block .edm-box-2:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-left {
  float: left;
  width: 25%;
  margin-right: 2%;
  border: 1px solid #eeeeee;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-left .item-pic {
  width: 100%;
  line-height: 0;
  background-color: #f6f6f6;
  display: block;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-left .item-pic img {
  width: 100%;
  height: auto;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-left figcaption {
  width: 100%;
  padding: 8px 10px 9px 10px;
  background: white;
  border-top: 1px dotted #eeeeee;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-left figcaption .item-descript {
  height: 35px;
  line-height: 1.4;
  margin-bottom: 5px;
  overflow: hidden;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-left figcaption .item-descript a {
  width: 100%;
  color: #111111;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-left figcaption .item-descript a:hover {
  color: #888888;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-left figcaption .item-descript .item-name {
  font-size: 1.4em;
  font-weight: bold;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-left figcaption .item-price {
  margin-bottom: 0px;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-left figcaption .item-price {
  zoom: 1;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-left figcaption .item-price:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-left figcaption .item-price del {
  float: right;
  font-size: 1.5em;
  color: #999999;
  text-align: right;
  margin-top: 10px;
  margin-right: 5px;
  display: block;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-left figcaption .item-price .discount-mark {
  float: left;
  letter-spacing: 0;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 5px;
  margin-top: -1px;
  padding: 4px 3px 3px 3px;
  background: #ee0000;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-left figcaption .item-price .sale-price {
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  color: #999999;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-left figcaption .item-price .discount-price {
  float: right;
  position: relative;
  bottom: 1px;
  color: #ee0000;
  font-family: Verdana,Helvetica;
  overflow: hidden;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-left figcaption .item-price .discount-price .dollar {
  font-size: 1.5em;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-left figcaption .item-price .discount-price .price {
  font-size: 2.5em;
  font-weight: bold;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right {
  float: left;
  width: 73%;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right {
  zoom: 1;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right li {
  float: left;
  width: 32%;
  margin-right: 2%;
  margin-bottom: 15px;
  border: 1px solid #eeeeee;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right li:nth-child(3n) {
  margin-right: 0;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right li .item-pic {
  width: 100%;
  line-height: 0;
  background-color: #f6f6f6;
  display: block;
  height: 272px;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right li .item-pic img {
  width: 100%;
  height: auto;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right li figcaption {
  width: 100%;
  padding: 8px 10px 9px 10px;
  background: white;
  border-top: 1px dotted #eeeeee;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right li figcaption .item-descript {
  height: 20px;
  line-height: 1.4;
  margin-bottom: 7px;
  overflow: hidden;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right li figcaption .item-descript a {
  width: 100%;
  color: #111111;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right li figcaption .item-descript a:hover {
  color: #888888;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right li figcaption .item-descript .item-name {
  font-size: 1.4em;
  font-weight: bold;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right li figcaption .item-price {
  margin-bottom: 0px;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right li figcaption .item-price {
  zoom: 1;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right li figcaption .item-price:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right li figcaption .item-price del {
  float: right;
  font-size: 1.5em;
  color: #999999;
  text-align: right;
  margin-top: 10px;
  margin-right: 5px;
  display: block;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right li figcaption .item-price .discount-mark {
  float: left;
  letter-spacing: 0;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 5px;
  margin-top: -1px;
  padding: 4px 3px 3px 3px;
  background: #ee0000;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right li figcaption .item-price .sale-price {
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  color: #999999;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right li figcaption .item-price .discount-price {
  float: right;
  position: relative;
  bottom: 1px;
  color: #ee0000;
  font-family: Verdana,Helvetica;
  overflow: hidden;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right li figcaption .item-price .discount-price .dollar {
  font-size: 1.5em;
}
.edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right li figcaption .item-price .discount-price .price {
  font-size: 2.5em;
  font-weight: bold;
}

@media only screen and (max-width: 1150px) {
  .edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-left {
    width: 25.3%;
  }
  .edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right {
    width: 72.7%;
  }
}
@media screen and (max-width: 1000px) {
  .edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-left {
    width: 26%;
  }
  .edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-left figcaption .item-price del {
    float: none;
    text-align: right;
    font-size: 1.3em;
    margin-top: 10px;
    margin-right: 0;
  }
  .edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-left figcaption .item-price .discount-price {
    float: none;
    text-align: right;
  }
  .edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-left figcaption .item-price .discount-price .dollar {
    font-size: 1.4em;
  }
  .edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-left figcaption .item-price .discount-price .price {
    font-size: 2.2em;
  }
  .edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right {
    width: 72%;
  }
  .edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right li figcaption .item-price del {
    float: none;
    text-align: right;
    font-size: 1.3em;
    margin-top: 3px;
  }
  .edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right li figcaption .item-price .discount-price {
    float: none;
    text-align: right;
  }
  .edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right li figcaption .item-price .discount-price .dollar {
    font-size: 1.4em;
  }
  .edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right li figcaption .item-price .discount-price .price {
    font-size: 2.2em;
  }
}
@media only screen and (max-width: 850px) {
  .edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-left {
    width: 26.5%;
  }
  .edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right {
    width: 71.5%;
  }
}
@media only screen and (max-width: 768px) {
  .edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-left {
    width: 26.3%;
  }
  .edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right {
    width: 71.7%;
  }
  .edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right li figcaption .item-price .discount-price .price {
    font-size: 1.8em;
  }
}
@media only screen and (max-width: 710px) {
  .edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-left {
    width: 26.7%;
  }
  .edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right {
    width: 71.3%;
  }
}
@media only screen and (max-width: 660px) {
  .edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-left {
    width: 27.1%;
  }
  .edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right {
    width: 70.9%;
  }
}
@media only screen and (max-width: 600px) {
  .edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-left {
    display: none;
  }
  .edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right {
    float: none;
    width: 100%;
  }
  .edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right li {
    width: 49%;
    margin-right: 2%;
  }
  .edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right li:nth-child(3n) {
    margin-right: 2%;
  }
  .edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right li:nth-child(2n) {
    margin-right: 0;
  }
  .edm-container .edm-second-content .edm-block .edm-box-2 .edm-box-2-right li figcaption .item-price .discount-price .price {
    font-size: 2.2em;
  }
}
.edm-container .edm-second-content .edm-block .edm-box-3 {
  width: 100%;
  padding: 15px 2% 0 2%;
  margin-top: -15px;
  background: #ffded5;
}
.edm-container .edm-second-content .edm-block .edm-box-3 ul {
  width: 100%;
}
.edm-container .edm-second-content .edm-block .edm-box-3 ul {
  zoom: 1;
}
.edm-container .edm-second-content .edm-block .edm-box-3 ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.edm-container .edm-second-content .edm-block .edm-box-3 ul li {
  float: left;
  width: 23.4%;
  margin-right: 2.13333%;
  margin-bottom: 15px;
  border: 1px solid #eeeeee;
}
.edm-container .edm-second-content .edm-block .edm-box-3 ul li:nth-child(4n) {
  margin-right: 0;
}
.edm-container .edm-second-content .edm-block .edm-box-3 ul li .item-pic {
  width: 100%;
  line-height: 0;
  background-color: #f6f6f6;
  display: block;
}
.edm-container .edm-second-content .edm-block .edm-box-3 ul li .item-pic img {
  width: 100%;
  height: auto;
}
.edm-container .edm-second-content .edm-block .edm-box-3 ul li figcaption {
  width: 100%;
  padding: 8px 10px 9px 10px;
  background: white;
  border-top: 1px dotted #eeeeee;
}
.edm-container .edm-second-content .edm-block .edm-box-3 ul li figcaption .item-descript {
  height: 20px;
  line-height: 1.4;
  margin-bottom: 5px;
  overflow: hidden;
}
.edm-container .edm-second-content .edm-block .edm-box-3 ul li figcaption .item-descript a {
  width: 100%;
  color: #111111;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}
.edm-container .edm-second-content .edm-block .edm-box-3 ul li figcaption .item-descript a:hover {
  color: #888888;
}
.edm-container .edm-second-content .edm-block .edm-box-3 ul li figcaption .item-descript .item-name {
  font-size: 1.4em;
  font-weight: bold;
}
.edm-container .edm-second-content .edm-block .edm-box-3 ul li figcaption .item-price {
  margin-bottom: 0px;
}
.edm-container .edm-second-content .edm-block .edm-box-3 ul li figcaption .item-price {
  zoom: 1;
}
.edm-container .edm-second-content .edm-block .edm-box-3 ul li figcaption .item-price:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.edm-container .edm-second-content .edm-block .edm-box-3 ul li figcaption .item-price del {
  float: right;
  font-size: 1.5em;
  color: #999999;
  text-align: right;
  margin-top: 9px;
  margin-right: 5px;
  display: block;
}
.edm-container .edm-second-content .edm-block .edm-box-3 ul li figcaption .item-price .discount-mark {
  float: left;
  letter-spacing: 0;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 5px;
  margin-top: -1px;
  padding: 4px 3px 3px 3px;
  background: #ee0000;
}
.edm-container .edm-second-content .edm-block .edm-box-3 ul li figcaption .item-price .sale-price {
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  color: #999999;
}
.edm-container .edm-second-content .edm-block .edm-box-3 ul li figcaption .item-price .discount-price {
  float: right;
  position: relative;
  bottom: 1px;
  color: #ee0000;
  font-family: Verdana,Helvetica;
  overflow: hidden;
}
.edm-container .edm-second-content .edm-block .edm-box-3 ul li figcaption .item-price .discount-price .dollar {
  font-size: 1.5em;
}
.edm-container .edm-second-content .edm-block .edm-box-3 ul li figcaption .item-price .discount-price .price {
  font-size: 2.5em;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .edm-container .edm-second-content .edm-block .edm-box-3 ul li figcaption .item-price del {
    float: none;
    font-size: 1.3em;
    text-align: right;
    margin-top: 3px;
    margin-right: 0;
  }
  .edm-container .edm-second-content .edm-block .edm-box-3 ul li figcaption .item-price .discount-price {
    float: none;
    text-align: right;
  }
  .edm-container .edm-second-content .edm-block .edm-box-3 ul li figcaption .item-price .discount-price .dollar {
    font-size: 1.4em;
  }
  .edm-container .edm-second-content .edm-block .edm-box-3 ul li figcaption .item-price .discount-price .price {
    font-size: 2.2em;
  }
}
@media only screen and (max-width: 768px) {
  .edm-container .edm-second-content .edm-block .edm-box-3 ul li figcaption .item-price .discount-price .price {
    font-size: 1.8em;
  }
}
@media only screen and (max-width: 600px) {
  .edm-container .edm-second-content .edm-block .edm-box-3 ul li {
    width: 49%;
    margin-right: 2%;
  }
  .edm-container .edm-second-content .edm-block .edm-box-3 ul li:nth-child(2n) {
    margin-right: 0;
  }
  .edm-container .edm-second-content .edm-block .edm-box-3 ul li figcaption .item-price .discount-price .price {
    font-size: 2.2em;
  }
}
.edm-container .edm-second-content .edm-block .edm-box-4 {
  width: 100%;
  padding: 15px 2% 0 2%;
  margin-top: -15px;
  background: #ffded5;
}
.edm-container .edm-second-content .edm-block .edm-box-4 {
  zoom: 1;
}
.edm-container .edm-second-content .edm-block .edm-box-4:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.edm-container .edm-second-content .edm-block .edm-box-4 ul {
  float: left;
  width: 100%;
}
.edm-container .edm-second-content .edm-block .edm-box-4 ul {
  zoom: 1;
}
.edm-container .edm-second-content .edm-block .edm-box-4 ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.edm-container .edm-second-content .edm-block .edm-box-4 ul li {
  float: left;
  width: 23.4%;
  margin-right: 2.13333%;
  margin-bottom: 15px;
  border: 1px solid #eeeeee;
}
.edm-container .edm-second-content .edm-block .edm-box-4 ul li:nth-child(4n) {
  margin-right: 0;
}
.edm-container .edm-second-content .edm-block .edm-box-4 ul li .item-pic {
  width: 100%;
  line-height: 0;
  background-color: #f6f6f6;
  display: block;
}
.edm-container .edm-second-content .edm-block .edm-box-4 ul li .item-pic img {
  width: 100%;
  height: auto;
}
.edm-container .edm-second-content .edm-block .edm-box-4 ul li figcaption {
  width: 100%;
  padding: 8px 10px 9px 10px;
  background: white;
  border-top: 1px dotted #eeeeee;
}
.edm-container .edm-second-content .edm-block .edm-box-4 ul li figcaption {
  zoom: 1;
}
.edm-container .edm-second-content .edm-block .edm-box-4 ul li figcaption:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.edm-container .edm-second-content .edm-block .edm-box-4 ul li figcaption .item-descript {
  height: 34px;
  line-height: 1.4;
  margin-bottom: 7px;
  overflow: hidden;
}
.edm-container .edm-second-content .edm-block .edm-box-4 ul li figcaption .item-descript a {
  width: 100%;
  color: #111111;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}
.edm-container .edm-second-content .edm-block .edm-box-4 ul li figcaption .item-descript a:hover {
  color: #888888;
}
.edm-container .edm-second-content .edm-block .edm-box-4 ul li figcaption .item-descript .item-name {
  font-size: 1.4em;
  font-weight: bold;
}
.edm-container .edm-second-content .edm-block .edm-box-4 ul li figcaption .item-descript .item-descript-content {
  width: 100%;
  font-size: 1.3em;
  color: #e8414d;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}
.edm-container .edm-second-content .edm-block .edm-box-4 ul li figcaption .item-tag {
  float: left;
  font-size: 1.3em;
  letter-spacing: 1px;
  color: white;
  padding: 3px 4px;
  margin-top: 3px;
  margin-right: 5px;
  background: #ee0000;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.edm-container .edm-second-content .edm-block .edm-box-4 ul li figcaption .item-price {
  float: right;
  margin-bottom: 0px;
}
.edm-container .edm-second-content .edm-block .edm-box-4 ul li figcaption .item-price {
  zoom: 1;
}
.edm-container .edm-second-content .edm-block .edm-box-4 ul li figcaption .item-price:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.edm-container .edm-second-content .edm-block .edm-box-4 ul li figcaption .item-price del {
  float: right;
  font-size: 1.5em;
  color: #999999;
  text-align: right;
  margin-top: 6px;
  margin-right: 5px;
  display: block;
}
.edm-container .edm-second-content .edm-block .edm-box-4 ul li figcaption .item-price .discount-mark {
  float: left;
  letter-spacing: 0;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 5px;
  margin-top: -1px;
  padding: 4px 3px 3px 3px;
  background: #ee0000;
}
.edm-container .edm-second-content .edm-block .edm-box-4 ul li figcaption .item-price .sale-price {
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  color: #999999;
}
.edm-container .edm-second-content .edm-block .edm-box-4 ul li figcaption .item-price .discount-price {
  float: right;
  position: relative;
  bottom: 1px;
  color: #ee0000;
  font-family: Verdana,Helvetica;
  overflow: hidden;
}
.edm-container .edm-second-content .edm-block .edm-box-4 ul li figcaption .item-price .discount-price .dollar {
  font-size: 1.5em;
}
.edm-container .edm-second-content .edm-block .edm-box-4 ul li figcaption .item-price .discount-price .price {
  font-size: 2.1em;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .edm-container .edm-second-content .edm-block .edm-box-4 ul li figcaption .item-price del {
    float: none;
    font-size: 1.3em;
    text-align: right;
    margin-top: 3px;
    margin-right: 0;
  }
  .edm-container .edm-second-content .edm-block .edm-box-4 ul li figcaption .item-price .discount-price {
    float: none;
    text-align: right;
  }
  .edm-container .edm-second-content .edm-block .edm-box-4 ul li figcaption .item-price .discount-price .dollar {
    font-size: 1.4em;
  }
  .edm-container .edm-second-content .edm-block .edm-box-4 ul li figcaption .item-price .discount-price .price {
    font-size: 2.2em;
  }
}
@media screen and (max-width: 1000px) {
  .edm-container .edm-second-content .edm-block .edm-box-4 ul li figcaption .item-tag {
    float: right;
    margin-top: 0px;
    margin-right: 0;
    margin-bottom: 5px;
  }
  .edm-container .edm-second-content .edm-block .edm-box-4 ul li figcaption .item-price {
    clear: both;
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .edm-container .edm-second-content .edm-block .edm-box-4 ul li figcaption .item-price .discount-price .price {
    font-size: 1.8em;
  }
}
@media only screen and (max-width: 600px) {
  .edm-container .edm-second-content .edm-block .edm-box-4 ul li {
    width: 49%;
    margin-right: 2%;
  }
  .edm-container .edm-second-content .edm-block .edm-box-4 ul li:nth-child(2n) {
    margin-right: 0;
  }
  .edm-container .edm-second-content .edm-block .edm-box-4 ul li figcaption .item-price .discount-price .price {
    font-size: 2.2em;
  }
}
.edm-container .edm-second-content .edm-block .edm-box-5 {
  width: 100%;
  padding: 15px 2% 0 2%;
  margin-top: -15px;
  background: #ffded5;
}
.edm-container .edm-second-content .edm-block .edm-box-5 {
  zoom: 1;
}
.edm-container .edm-second-content .edm-block .edm-box-5:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.edm-container .edm-second-content .edm-block .edm-box-5 ul {
  width: 100%;
}
.edm-container .edm-second-content .edm-block .edm-box-5 ul {
  zoom: 1;
}
.edm-container .edm-second-content .edm-block .edm-box-5 ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.edm-container .edm-second-content .edm-block .edm-box-5 ul li {
  float: left;
  width: 49%;
  line-height: 0;
  margin-right: 2%;
  margin-bottom: 15px;
  border: 1px solid #eeeeee;
  background-color: #f6f6f6;
  display: block;
}
.edm-container .edm-second-content .edm-block .edm-box-5 ul li:nth-child(2n) {
  margin-right: 0;
}
.edm-container .edm-second-content .edm-block .edm-box-5 ul li img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .edm-container .edm-second-content .edm-block .edm-box-5 ul li {
    float: none;
    width: 100%;
    margin-right: 0;
  }
}
