@charset "UTF-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small,
strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, figcaption, figure, footer, header, hgroup, menu, nav,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, ol {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

body {
  font-size: 62.5%;
}

html, body {
  height: 100%;
  font-family: '微軟正黑體','新細明體','Arial Unicode MS', Arial, Helvetica, sans-serif;
}

body {
  color: #555555;
  background-color: white;
}

a {
  color: #555555;
}

* {
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(assets/c/css/common/boxsizing.htc);
}

select {
  font-family: '微軟正黑體','新細明體','Arial Unicode MS', Arial, Helvetica, sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  padding: 8px 0px 8px 5px;
  margin: 0 0 8px 0;
  border: 1px solid #555555;
  font-size: 1.4em;
  color: black;
  background: url(http://img.giftting.co.kr/pintle/images/pintle/line/btn_select_01.gif) no-repeat right center #FFF;
  background-size: 17px 36px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
select:focus {
  border: 1px solid #1180c2;
  box-shadow: 0px 0px 2px #1180c2;
}
select.selected, select .selected {
  color: #1180c2;
}

input[type='password'], input[type='email'], input[type='tel'], input[type='text'], input[type='number'], input[type='search'] {
  -webkit-appearance: none;
  font-family: '微軟正黑體','新細明體','Arial Unicode MS', Arial, Helvetica, sans-serif;
  padding: 8px;
  margin: 0 0 10px 0;
  border: 1px solid #888888;
  font-size: 1.5em;
  color: #555555;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type='password']:focus, input[type='email']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='number']:focus, input[type='search']:focus {
  outline: none;
}

.hide {
  display: none;
}

.container, .row, .clearfix {
  zoom: 1;
}
.container:after, .row:after, .clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
}

.c {
  zoom: 1;
}
.c:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

button {
  font-family: "微軟正黑體";
}

.edm-wrap {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: Arial, Helvetica, "微軟正黑體", "新細明體-ExtB";
}

.edm-content {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.edm-banner {
  position: relative;
  width: 100%;
  height: auto;
  background: transparent;
}
.edm-banner img {
  max-width: 1200px;
  margin: 0 auto;
  display: block;
}

.edm-menu-content {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  text-align: center;
  font-size: 0;
  background: transparent;
}
.edm-menu-content .edm-menu-pic {
  zoom: 1;
  overflow: hidden;
}
.edm-menu-content .edm-menu-pic img {
  border: 0;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
  background: transparent;
}

.edm-act-block {
  width: 100%;
  margin: -1px 0 0;
  text-align: center;
  background: transparent;
}

.soldout {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  display: none;
  z-index: 90;
}
.soldout img {
  position: relative !important;
  top: 0;
  right: 0;
  width: 100%;
  height: auto;
  z-index: 10;
}

/* IE6 */
* html
.item-B {
  height: 1%;
}

/* IE7 */
*:first-child + html
.item-B {
  min-height: 1px;
}

@media screen and (min-width: 0px) {
  .edm-menu-content .edm-menu-pic:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
    min-height: 1px;
  }
  .edm-menu-content .edm-menu-pic img {
    float: left;
  }
}
.edm-act-title {
  width: 100%;
  margin: 15px 0 0;
  padding: 11px 0;
  background-image: url(http://img.uitox.com/A/edm/2016/10/17/201610A17000002/rain0005_blue_02_20161021115202.png);
  background-repeat: no-repeat;
  background-color: #66c7ff;
  background-position: center left;
  overflow: hidden;
  color: #FFF;
}
.edm-act-title h3 {
  display: block;
  width: 100%;
  height: auto;
  line-height: 140%;
  font-size: 24px;
  text-align: center;
  font-weight: 700;
}

.act-block-1 {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  background-color: #f0efe0;
}
.act-block-1 ul {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0 5px;
}
.act-block-1 ul li {
  display: inline-block;
  margin: 5px;
  vertical-align: top;
}
.act-block-1 .row-2 li {
  max-width: 580px;
}
.act-block-1 .row-2 li img {
  width: 100%;
}
.act-block-1 .row-3 li {
  max-width: 382px;
}
.act-block-1 .row-3 li img {
  width: 100%;
}
.act-block-1 .row-4 li {
  max-width: 283px;
}
.act-block-1 .row-4 li img {
  width: 100%;
}
.act-block-1 .row-5 li {
  max-width: 224px;
}
.act-block-1 .row-5 li img {
  width: 100%;
}

.act-block-2 {
  width: 100%;
  margin: 0;
}
.act-block-2 ul {
  display: block;
  width: 100%;
  text-align: center;
  padding: 5px 0;
}
.act-block-2 ul li {
  width: 32%;
  display: inline-block;
  margin: 5px;
  padding: 5px 6px 2px 7px;
  vertical-align: top;
  background-color: #FFF;
}
.act-block-2 ul li a {
  display: block;
}
.act-block-2 ul:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.act-block-2 ul .photo-block {
  float: left;
  vertical-align: top;
  width: 50%;
  height: auto;
  font-size: 0;
  margin: 2px 0;
}
.act-block-2 ul .photo-block .photo {
  margin-bottom: 4px;
  display: block;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
  position: relative;
}
.act-block-2 ul .photo-block img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.act-block-2 ul .info-block {
  float: left;
  vertical-align: top;
  width: 50%;
  padding: 0 0 0 10px;
}
.act-block-2 ul .info-block .info-photo {
  width: 86px;
  height: 86px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.act-block-2 ul .info-block .info-photo p {
  color: #404040;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 2px;
  text-align: center;
  padding: 22px 7px 19px 13px;
  font-family: "微軟正黑體";
}
.act-block-2 ul .info-block .info-txt {
  margin: 5px 0 0;
  text-align: left;
}
.act-block-2 ul .info-block .info-txt h3 {
  display: block;
  width: 100%;
  height: 32px;
  overflow: hidden;
  color: #000;
  font-size: 13px;
  line-height: 16px;
  margin: 0 0 5px;
}
.act-block-2 ul .info-block .info-txt del {
  display: none;
  padding: 0 0 2px;
  color: #999;
}
.act-block-2 ul .info-block .info-txt p {
  color: #ed1b1a;
  padding: 0 0 2px;
}
.act-block-2 ul .info-block .info-txt p .currency {
  position: relative;
  bottom: 1px;
  font-size: 0.8125em;
}
.act-block-2 ul .info-block .info-txt p .price {
  font-size: 32px;
}
.act-block-2 ul .info-block .info-txt .currency {
  font-size: 12px;
}
.act-block-2 ul .info-block .item-btn {
  display: block;
  width: 100%;
  color: #FFF;
  background: #ed1b1a;
  font-size: 15px;
  border: none;
  padding: 0 10px 1px;
  letter-spacing: 8px;
  text-align: center;
  cursor: pointer;
  line-height: 1.6;
}
.act-block-2 .item-A {
  background-color: #f0efe0;
}
.act-block-2 .item-A li {
  border: #dae0e5 1px solid;
}
.act-block-2 .item-A .info-block .info-photo {
  background-image: url("../img/edm_block_2/edm-style-A/circle_mark.png");
}
.act-block-2 .item-A .info-block .info-photo p {
  color: #FFF;
}
.act-block-2 .item-B {
  background-color: #f8efe1;
}
.act-block-2 .item-B li {
  border: #dae0e5 1px solid;
}
.act-block-2 .item-B .info-block .info-photo {
  background-image: url("../img/edm_block_2/edm-style-B/circle_mark.png");
}
.act-block-2 .item-B .info-block .info-photo p {
  color: #FFF;
}
.act-block-2 .item-C {
  background-color: #ffe09d;
}
.act-block-2 .item-C li {
  border: #cacaca 1px solid;
}
.act-block-2 .item-C .info-block .info-photo {
  background-image: url("../img/edm_block_2/edm-style-C/circle_mark.png");
}
.act-block-2 .item-C .info-block .info-photo p {
  color: #FFF;
}

.act-block-3 {
  width: 100%;
  margin: 0;
  /* IE6 */
  /* IE7 */
}
.act-block-3 .item-A {
  display: block;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  background-color: #f0efe0;
}
.act-block-3 .item-A li {
  width: 19%;
  display: inline-block;
  margin: 5px 3px;
  padding: 5px 6px 5px 7px;
  vertical-align: top;
}
.act-block-3 .item-A li a {
  display: block;
}
.act-block-3 .item-A .top-left {
  position: absolute;
  top: 6px;
  left: 6px;
}
.act-block-3 .item-A .top-right {
  position: absolute;
  top: 6px;
  right: 6px;
}
.act-block-3 .item-A .bottom-left {
  position: absolute;
  bottom: 6px;
  left: 6px;
}
.act-block-3 .item-A .bottom-right {
  position: absolute;
  bottom: 6px;
  right: 6px;
}
.act-block-3 .item-A .photo-block {
  position: relative;
  display: block;
  width: 100%;
  height: 215px;
  font-size: 0;
  margin: 0;
  border: #dae0e5 1px solid;
  background: #FFF;
}
.act-block-3 .item-A .photo-block .photo {
  display: block;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
  position: relative;
}
.act-block-3 .item-A .photo-block img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.act-block-3 .item-A .photo-block .info-photo {
  width: 86px;
  height: 86px;
  background-image: url("../img/edm_block_3/edm-style-A/circle_mark.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.act-block-3 .item-A .photo-block .info-photo p {
  font-size: 16px;
  line-height: 130%;
  color: #404040;
  text-align: center;
  padding: 23px 9px 19px 14px;
  font-family: "微軟正黑體";
  letter-spacing: 1px;
}
.act-block-3 .item-A .info-block {
  display: block;
  width: 100%;
  padding: 10px 0 0;
}
.act-block-3 .item-A .info-txt {
  margin: 0;
}
.act-block-3 .item-A .info-txt h3 {
  display: block;
  width: 100%;
  height: 32px;
  overflow: hidden;
  color: #000;
  font-size: 13px;
  line-height: 16px;
  margin: 0 0 6px;
  text-align: center;
}
.act-block-3 .item-A .item-btn {
  display: block;
  width: 100%;
  height: 48px;
  background: url("../img/edm_block_3/edm-style-A/buy_btn.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  font-size: 14px;
  font-weight: 700;
  padding: 9px 42px 5px 5px;
  cursor: pointer;
  border: none;
}
.act-block-3 .item-A .item-btn del {
  display: none;
  float: left;
  text-align: left;
  padding: 6px 0;
  font-size: 12px;
  color: #bfbfbf;
  height: auto;
}
.act-block-3 .item-A .item-btn del:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.act-block-3 .item-A .item-btn del span {
  float: left;
  max-width: 38px;
  overflow: hidden;
}
.act-block-3 .item-A .item-btn p {
  display: block;
  overflow: hidden;
  color: #ffc750;
  position: relative;
  text-align: right;
  right: 15px;
  bottom: 1px;
}
.act-block-3 .item-A .item-btn p:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.act-block-3 .item-A .item-btn p .currency {
  display: inline-block;
  position: relative;
  bottom: 9px;
  right: 3px;
}
.act-block-3 .item-A .item-btn p .price {
  display: inline-block;
  font-size: 32px;
  max-width: 115px;
  overflow: hidden;
}
.act-block-3 .item-A .item-btn .currency {
  font-size: 12px;
}
.act-block-3 .item-A .item-btn:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.act-block-3 .item-B {
  display: block;
  width: 100%;
  text-align: center;
  padding: 5px 0 0;
  background-color: #f8efe1;
}
.act-block-3 .item-B li {
  width: 20%;
  float: left;
  margin: 0;
  padding: 5px 0 0;
  vertical-align: top;
}
.act-block-3 .item-B li a {
  display: block;
}
.act-block-3 .item-B .top-left {
  position: absolute;
  top: 6px;
  left: 6px;
}
.act-block-3 .item-B .top-right {
  position: absolute;
  top: 6px;
  right: 6px;
}
.act-block-3 .item-B .bottom-left {
  position: absolute;
  bottom: 6px;
  left: 6px;
}
.act-block-3 .item-B .bottom-right {
  position: absolute;
  bottom: 6px;
  right: 6px;
}
.act-block-3 .item-B .photo-block {
  position: relative;
  display: block;
  width: 215px;
  height: 215px;
  font-size: 0;
  margin: 0 auto;
  border: #dae0e5 1px solid;
  background: #FFF;
}
.act-block-3 .item-B .photo-block .photo {
  display: block;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
  position: relative;
}
.act-block-3 .item-B .photo-block img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.act-block-3 .item-B .photo-block .info-photo {
  width: 86px;
  height: 86px;
  background-image: url("../img/edm_block_3/edm-style-B/circle_mark.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.act-block-3 .item-B .photo-block .info-photo p {
  font-size: 16px;
  line-height: 130%;
  color: #404040;
  text-align: center;
  padding: 23px 10px 19px 13px;
  font-family: "微軟正黑體";
}
.act-block-3 .item-B .info-block {
  display: block;
  width: 100%;
  padding: 10px 0 0;
}
.act-block-3 .item-B .info-txt {
  margin: 0;
}
.act-block-3 .item-B .info-txt h3 {
  display: block;
  width: 215px;
  height: 35px;
  overflow: hidden;
  color: #000;
  font-size: 13px;
  line-height: 18px;
  margin: 0 auto 8px;
  text-align: center;
}
.act-block-3 .item-B .price-block {
  background: #e1d5c1;
  padding: 8px 0 10px;
}
.act-block-3 .item-B .price-block del {
  display: none;
  text-align: left;
  padding: 4px 1px 6px 0;
  font-size: 12px;
  color: #6c6c6c;
  height: auto;
}
.act-block-3 .item-B .price-block del span {
  float: left;
  max-width: 55px;
  overflow: hidden;
}
.act-block-3 .item-B .price-block del:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.act-block-3 .item-B .price-block p {
  display: block;
  color: #FFF;
  padding: 0 18px 4px;
  text-align: center;
  color: #a40000;
}
.act-block-3 .item-B .price-block p .currency {
  display: inline-block;
  position: relative;
  bottom: 3px;
  right: 3px;
  vertical-align: bottom;
}
.act-block-3 .item-B .price-block p .price {
  display: inline-block;
  max-width: 176px;
  overflow: hidden;
  font-size: 32px;
  position: relative;
  top: 0;
  vertical-align: bottom;
}
.act-block-3 .item-B .price-block p:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.act-block-3 .item-B .price-block .currency {
  font-size: 12px;
}
.act-block-3 .item-B .item-btn {
  display: block;
  width: 217px;
  height: 37px;
  margin: 0 auto;
  background: #222222;
  font-size: 15px;
  color: #e1d5c1;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
}
.act-block-3 .item-B:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.act-block-3 * html
.item-B {
  height: 1%;
}
.act-block-3 *:first-child + html
.item-B {
  min-height: 1px;
}
.act-block-3 .item-C {
  display: block;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  background-color: #FFF;
}
.act-block-3 .item-C li {
  width: 19%;
  display: inline-block;
  margin: 5px 3px;
  padding: 5px 6px 5px 7px;
  vertical-align: top;
}
.act-block-3 .item-C li a {
  display: block;
}
.act-block-3 .item-C .photo-block {
  position: relative;
  display: block;
  width: 100%;
  height: 215px;
  font-size: 0;
  margin: 0;
  border: #dae0e5 1px solid;
  background: #FFF;
}
.act-block-3 .item-C .photo-block .photo {
  display: block;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
  position: relative;
}
.act-block-3 .item-C .photo-block img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.act-block-3 .item-C .info-photo {
  display: block;
  width: 100%;
  background: #282828;
  position: relative;
  top: -3px;
}
.act-block-3 .item-C .info-photo p {
  font-size: 16px;
  line-height: 130%;
  color: #FFF;
  text-align: center;
  padding: 6px 10px;
  font-family: "微軟正黑體";
}
.act-block-3 .item-C .info-block {
  display: block;
  width: 100%;
  padding: 10px 0 0;
}
.act-block-3 .item-C .info-txt {
  margin: 0;
}
.act-block-3 .item-C .info-txt h3 {
  display: block;
  width: 100%;
  height: 32px;
  overflow: hidden;
  color: #000;
  font-size: 13px;
  line-height: 16px;
  margin: 0 0 6px;
  text-align: center;
}
.act-block-3 .item-C del {
  display: none;
  overflow: hidden;
  text-align: center;
  padding: 4px 0 0;
  font-size: 12px;
  color: #6c6c6c;
  height: auto;
}
.act-block-3 .item-C .item-btn {
  display: block;
  width: 100%;
  height: 47px;
  background: url("../img/edm_block_3/edm-style-C/buy_btn.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-size: 14px;
  padding: 6px 75px 5px 8px;
  cursor: pointer;
  border: none;
  font-weight: 300;
}
.act-block-3 .item-C .item-btn p {
  display: inline-block;
  color: #FFF;
  padding: 0 0 2px;
  text-align: right;
}
.act-block-3 .item-C .item-btn p .currency {
  display: inline-block;
  position: relative;
  bottom: 9px;
}
.act-block-3 .item-C .item-btn p .price {
  display: inline-block;
  font-size: 32px;
  max-width: 98px;
  overflow: hidden;
}
.act-block-3 .item-C .item-btn .currency {
  font-size: 12px;
}
@-moz-document url-prefix() {
  .act-block-3 .item-C {
    /* Firefox Hack :( */
  }
  .act-block-3 .item-C .info-photo p {
    font-size: 20px;
  }
}
.act-block-3 .item-D {
  display: block;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  background-color: #393f4e;
}
.act-block-3 .item-D li {
  width: 19%;
  display: inline-block;
  margin: 5px 3px;
  padding: 0;
  vertical-align: top;
  background-color: #FFF;
}
.act-block-3 .item-D li a {
  display: block;
}
.act-block-3 .item-D .photo-block {
  position: relative;
  display: block;
  width: 100%;
  height: 228px;
  font-size: 0;
  margin: 0;
  background: #FFF;
}
.act-block-3 .item-D .photo-block .photo {
  display: block;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
  position: relative;
}
.act-block-3 .item-D .photo-block img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.act-block-3 .item-D .info-photo {
  display: block;
  width: 100%;
  background: #5f77b0;
  position: relative;
  top: -3px;
}
.act-block-3 .item-D .info-photo p {
  font-size: 16px;
  line-height: 130%;
  color: #FFF;
  text-align: center;
  padding: 6px 10px;
  font-family: "微軟正黑體";
}
.act-block-3 .item-D .info-block {
  display: block;
  width: 100%;
  padding: 10px 0 0;
}
.act-block-3 .item-D .info-txt {
  margin: 0;
}
.act-block-3 .item-D .info-txt h3 {
  display: block;
  width: 90%;
  height: 32px;
  overflow: hidden;
  color: #000;
  font-size: 13px;
  line-height: 16px;
  margin: 0 0 6px;
  text-align: center;
  margin: 0 auto 10px;
}
.act-block-3 .item-D .item-btn {
  display: block;
  width: 100%;
  height: 49px;
  background: url("../img/edm_block_3/edm-style-D/buy_btn.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  font-size: 14px;
  padding: 6px 50px 5px 7px;
  cursor: pointer;
  border: none;
}
.act-block-3 .item-D .item-btn del {
  display: none;
  overflow: hidden;
  text-align: right;
  padding: 4px 13px 4px 0;
  font-size: 12px;
  color: #6c6c6c;
  height: auto;
}
.act-block-3 .item-D .item-btn del span {
  display: inline-block;
  max-width: 70px;
  overflow: hidden;
}
.act-block-3 .item-D .item-btn p {
  display: inline-block;
  overflow: hidden;
  color: #368ef6;
  font-weight: 700;
  padding: 0 0 2px;
  text-align: right;
}
.act-block-3 .item-D .item-btn p .currency {
  display: inline-block;
  position: relative;
  bottom: 9px;
  padding-right: 2px;
}
.act-block-3 .item-D .item-btn p .price {
  display: inline-block;
  font-size: 32px;
  max-width: 116px;
  overflow: hidden;
}
.act-block-3 .item-D .item-btn .currency {
  font-size: 12px;
}
.act-block-3 .item-E {
  display: block;
  width: 100%;
  text-align: center;
  padding: 5px 0 10px;
  background-color: #ffe09d;
}
.act-block-3 .item-E li {
  width: 19%;
  display: inline-block;
  margin: 5px 3px 0;
  padding: 0;
  vertical-align: top;
  background-color: #FFF;
}
.act-block-3 .item-E li a {
  display: block;
}
.act-block-3 .item-E .photo-block {
  position: relative;
  display: block;
  width: 215px;
  height: 215px;
  font-size: 0;
  margin: 6px;
  background: #FFF;
  border: #cacaca 1px solid;
}
.act-block-3 .item-E .photo-block .photo {
  display: block;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
  position: relative;
}
.act-block-3 .item-E .photo-block img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.act-block-3 .item-E .info-photo {
  width: 100%;
  background-color: #149c7b;
  border: #149c7b 1px solid;
}
.act-block-3 .item-E .info-photo p {
  font-size: 16px;
  line-height: 130%;
  color: #FFF;
  text-align: center;
  padding: 6px 10px;
  font-family: "微軟正黑體";
}
.act-block-3 .item-E .info-block {
  display: block;
  width: 100%;
  padding: 9px 0 0;
}
.act-block-3 .item-E .info-txt {
  margin: 0;
}
.act-block-3 .item-E .info-txt h3 {
  display: block;
  width: 100%;
  height: 32px;
  overflow: hidden;
  color: #000;
  font-size: 13px;
  line-height: 16px;
  margin: 0 0 7px;
  padding: 0 3px;
  text-align: center;
}
.act-block-3 .item-E .price-block {
  background: #282828;
  padding: 8px 45px 10px 5px;
  position: relative;
}
.act-block-3 .item-E .price-block del {
  display: none;
  text-align: left;
  padding: 4px 0;
  font-size: 12px;
  color: #bfbfbf;
  vertical-align: bottom;
  position: relative;
  top: 2px;
  height: auto;
}
.act-block-3 .item-E .price-block del span {
  display: inline-block;
  max-width: 38px;
  overflow: hidden;
}
.act-block-3 .item-E .price-block p {
  display: inline-block;
  overflow: hidden;
  color: #ffc750;
  padding: 0;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 2px;
}
.act-block-3 .item-E .price-block p .currency {
  display: inline-block;
  position: relative;
  bottom: 3px;
  padding-right: 3px;
  vertical-align: bottom;
}
.act-block-3 .item-E .price-block p .price {
  display: inline-block;
  max-width: 116px;
  overflow: hidden;
  font-size: 32px;
  position: relative;
  top: 0;
  vertical-align: bottom;
}
.act-block-3 .item-E .price-block .currency {
  font-size: 12px;
}
.act-block-3 .item-E .price-block .item-btn {
  display: inline-block;
  width: 38px;
  height: 23px;
  background: url("../img/edm_block_3/edm-style-E/buy_btn.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  vertical-align: bottom;
  position: absolute;
  bottom: 4px;
  right: 4px;
  cursor: pointer;
  border: none;
}
.act-block-3 .item-F {
  display: block;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  background-color: #FFF;
}
.act-block-3 .item-F li {
  width: 19%;
  display: inline-block;
  margin: 5px 3px;
  padding: 5px 6px 5px 7px;
  vertical-align: top;
  background-color: #FFF;
}
.act-block-3 .item-F li a {
  display: block;
}
.act-block-3 .item-F .photo-block {
  position: relative;
  display: block;
  width: 100%;
  height: 215px;
  font-size: 0;
  margin: 0;
  border: #dae0e5 1px solid;
  background: #FFF;
}
.act-block-3 .item-F .photo-block .photo {
  display: block;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
  position: relative;
}
.act-block-3 .item-F .photo-block img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.act-block-3 .item-F .info-block {
  display: block;
  width: 100%;
  padding: 10px 0 0;
}
.act-block-3 .item-F .info-txt {
  margin: 0;
}
.act-block-3 .item-F .info-txt h3 {
  display: block;
  width: 100%;
  height: 32px;
  overflow: hidden;
  color: #000;
  font-size: 13px;
  line-height: 16px;
  margin: 0 0 8px;
  text-align: left;
}
.act-block-3 .item-F .info-txt p {
  display: block;
  width: 100%;
  overflow: hidden;
  color: #eb6089;
  padding: 0 0 10px;
  text-align: right;
  font-weight: 700;
  font-family: "微軟正黑體";
}
.act-block-3 .item-F .info-txt p .price-icon {
  display: inline-block;
  width: 15px;
  height: 22px;
  background: url("../img/edm_block_3/edm-style-F/price-icon.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}
.act-block-3 .item-F .info-txt p .currency {
  position: relative;
  bottom: 2px;
  padding-right: 3px;
}
.act-block-3 .item-F .info-txt p .price {
  font-size: 32px;
}
.act-block-3 .item-F .price-block {
  display: none;
  text-align: right;
}
.act-block-3 .item-F .price-block .item-btn {
  display: inline-block;
  width: 41px;
  height: 21px;
  background: url("../img/edm_block_3/edm-style-F/buy_btn.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  border: none;
}
.act-block-3 .item-F .price-block .item-btn .currency {
  font-size: 12px;
}
