@import "../../../../define/__init.scss";
@import "../../../style_color/___color_asap.scss";

@import "../../../../frame/_pc_layout_two_column.scss";

//客製化
.site-header{
    border-bottom: none;
}
.site-left{
	margin-top: 0px;
}