.site-search{
	float: right;
    margin: 22px 0 0 0;
    z-index: 3;
    .form{
        font-size: 0;
    }
    .input-search{
        border-width: 1px;
        border-style: solid; 
        //border: 1px solid $border;
        height: 34px;
    	margin: 0;
    	padding-left: 10px;
    	width: 174px;
        //background: $search_bk;
        //color: $search_text;
        font-size: 12px;
	}
    .btn-submit{
        //background: $search_btn;
        border: none;
        margin: 0;
        height: 34px;
        vertical-align: top;
        cursor: pointer;
        border: 1px solid $border;
        border-left: none;
    }
    .icon-search{
        padding: 5px 3px;
        &:before{
            background-position: -234px 0px;
            top: -2px;
            left: -2px;
        }        
    }
    .recommend{
        width:175px;height:20px;
        font-size: 0.815em;
        overflow:hidden;
        line-height:1.2;
        >li{
            float: left;
            list-style: none;
            padding: 3px 3px;
            &:first-child{
                padding-left: 0;
            }
        }
        a{
            display:inline-block;
            text-decoration: underline;
            //color: $recommend_link;
            &:hover{
                //color: $primary;
                @include transition(0.3s);
            }
        }
    }
}
.ui-menu {
    padding:2px;
    display:block;
    background: #fff;
    z-index: 4;
    border: 1px solid $search_border;
    max-width: 285px;
    .ui-menu-item {
        width:100%;
        a {
            line-height: 1.6;
            padding: 2px 2px 2px 10px;
            font-size: 14px;
            display: block;
            &:hover {
                border: 1px solid $ui_menu_border;
                background: $ui_menu_bk;
                padding: 1px 1px 1px 9px;
                cursor: pointer;
            }
        }
    }
}
@include RWD(pad-mobile) {
.site-search{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 11;
    margin: 0;
    height: auto;
    padding: 0;
    width: 100%;
    background: white;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    .btn-submit{
        position: absolute;
        z-index: 10;
        right: 0;
        top: 0;
        display: block;
    }
    .input-search {
        margin: 0;
        width: 100%;
        height: 50px;
        padding-right: 75px;
        //background: $input_bk;
        position: relative;
        border-bottom-width: 1px;
        border-bottom-style: solid; 
        //border-bottom: 1px solid $light_gray;
        border-top: none!important;
    }
    .btn-submit{
        height: 51px;
        // padding: 8px 18px;
        top: -1px;
        // right: 1px;
        border-left: 1px solid $border;
        cursor: pointer;
        // background: white !important;
    }
    .recommend{
        background: white;
        padding-left: 15px;
        margin: 10px 0;
        a{
            width: auto;
            margin-right: 10px;
            //color: $recommend_link;
        }
    }
}
.ui-menu {
    z-index: 12;
    max-width: 100%;
}
}