.site-language{
	float: left;
	margin: 13px 0 0 15px;
	@include clearfix;
	li{
		float: left;
		//color: $nav_text;
		font-size: 0.85em;
		line-height: 1.4;
		>a{
			display: inline-block;
			vertical-align: middle;
			//color: $language;
			&:hover{
				text-decoration: underline;
			}
		}
		&:after{
			content: "|";
			margin: 0 10px;
			font-size: 0.7em;
		}
		&:last-child{
			&:after{
				content: "";	
			}
			
		}
	}
}
@include RWD(pad-mobile) {
.site-language{
	position: absolute;
	top: 10px;
	right: 0;
	margin: 0;
}
}
