.ontime-banner {
  padding: 10px 0;
}
.ontime-banner .container {
  font-size: 0;
}
.ontime-banner .container img {
  width: auto;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.ontime-date .container {
  padding: 13px;
  background: #3c3c3c;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 1px 0px 2px black;
}

.ontime-footer .container {
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #F5F5F5;
  font-size: 0.8em;
  color: #383838;
  line-height: 1.4;
  text-align: center;
}

.item-list-ontime {
  zoom: 1;
}
.item-list-ontime:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.item-list-ontime .items {
  margin: 0 -10px;
  font-size: 0;
}
.item-list-ontime .items {
  zoom: 1;
}
.item-list-ontime .items:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.item-list-ontime .item {
  display: inline-block;
  width: 18.3%;
  margin: 10px;
  border: 1px solid transparent;
  float: left;
}
.item-list-ontime .item:hover {
  border-width: 1px;
  border-style: solid;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
.item-list-ontime .item:hover .photo {
  opacity: 0.75;
}
.item-list-ontime .item-single, .item-list-ontime .item-three {
  background: #F5F5F5;
}
.item-list-ontime .item-single .ontime-head, .item-list-ontime .item-three .ontime-head {
  border-bottom: 1px solid #cccccc;
}
.item-list-ontime .item-single .photo, .item-list-ontime .item-three .photo {
  float: left;
  width: 35%;
  padding: 0;
  margin: 0;
  height: auto;
}
.item-list-ontime .item-single .photo img, .item-list-ontime .item-three .photo img {
  margin: 0;
  font-size: 0;
  position: relative !important;
}
.item-list-ontime .item-single .info, .item-list-ontime .item-three .info {
  float: left;
  width: 63.5%;
  padding: 15px;
}
.item-list-ontime .item-single .name, .item-list-ontime .item-three .name {
  margin-bottom: 15px !important;
}
.item-list-ontime .item-single {
  width: 48.38% !important;
}
.item-list-ontime .item-three {
  width: 31.72% !important;
}
.item-list-ontime .item-four {
  width: 23.38% !important;
}
.item-list-ontime .ontime-head {
  width: 100%;
  position: relative;
  padding: 8px;
  background: #F5F5F5;
}
.item-list-ontime .photo {
  display: block;
  margin-bottom: 7px;
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
}
.item-list-ontime .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.item-list-ontime .photo img {
  width: 100%;
}
.item-list-ontime .name {
  font-size: 16px;
  height: 43px;
  line-height: 1.4;
  overflow: hidden;
  word-wrap: break-word;
  margin-bottom: 10px;
}
.item-list-ontime .price-auto, .item-list-ontime .price-manual {
  height: 20px;
  width: 100%;
  overflow: hidden;
  color: #e00517;
  font-size: 19px;
}
.item-list-ontime .currency {
  font-size: 12px;
  display: inline-block;
}
.item-list-ontime .price {
  font-size: 20px;
  display: inline-block;
  margin-right: 5px;
}
.item-list-ontime .buy-actions {
  margin-top: 10px;
}
.item-list-ontime .quantity {
  margin-right: 5px;
  vertical-align: middle;
}
.item-list-ontime .highlight {
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.4;
}
