//theme color
$bg_file:         "../../../../../../c/img/sth_seagame/icon_gray.png";
$bg_file_hpd:     "../../../../../../c/img/sth_seagame/icon_gray_retina.png";

//主題色
$primary:			#555;
$button:			#d00;
$button_text:		white;

$text:				#6c6c6c;
$text_hover:		gray;
$link:				black;
$border:			#ccc;
$price:				$red;
$hover_text:		$primary;
$hover_bk:			$light_gray;
$active_text:		white;
$active_bk:			$primary;
$disabled:			gray;
$background:		white;
$title_h3:			black;
$icon_color:			black;

//header
$header_border:		#efefef;
$header_bk:			white;
$nav_bk:			white;
$nav_border:        #333;
$nav_text: 			black;

// component
$current:                             #d00;

//item
$item_hover:		#b3e5fe;
$item_name:			black;

//footer
$footer_bk:		#356AAC ;
$footer_title:		white;
$footer_link:		white;
$footer_hover:		#bbb;

//form
$input_text:		black;
$input_bk:			$background;
$input_border:		$primary;

//site-search
$search_bk:			$input_bk;
$search_text:		#555;
$search_border:		$border;
$search_btn:		#E50047;
$recommend_link:	black;
$ui_menu_border:	#ccc;
$ui_menu_bk:		#f7f7f7;

//site-cart
$count_bg:                            #d00;
$count:				white;
$cart_bk:			white;

//aside
$aside_title:       #504f47;
$aside_title2:      $primary;
$aside_bg:      	#FFFFFF;