//theme color
$bg_file:         "../../../../../../c/img/sth002/icon_green.png";
$bg_file_hpd:     "../../../../../../c/img/sth002/icon_green_retina.png";

//主題色
$primary:			#90bf4f;
$button:			#d00;
$button_text:		white;

$text:				#6c6c6c;
$text_hover:		gray;
$link:				black;
$border:			#ccc;
$price:				#d00;
$hover_text:		white;
$hover_bk:			#b2e073;
$active_text:		white;
$active_bk:			#b2e073;
$disabled:			gray;
$background:		white;
$background2:		#EEE;
$title_h3:			black;
$icon_color:			black;

//header
$header_border:		#efefef;
$header_bk:			#fff;
$nav_border:        #888;
$nav_bk:         	$primary;
$nav_text: 			#fff;

// component
$current:                              #d00;

//item
$item_hover:		#b3e5fe;
$item_name:			black;

//footer
$footer_bk:			#000;
$footer_title:		#747474;
$footer_link:		#fff;
$footer_hover:		$primary;

//form
$input_text:		black;
$input_bk:			white;
$input_border:		gray;

//site-search
$search_bk:         #eef2f1;
$search_text:		#555;
$search_border:		$border;
$search_btn:		$border;
$recommend_link:    #888;
$ui_menu_border:	#ccc;
$ui_menu_bk:		#f7f7f7;

//site-cart
$count_bg:          $primary;
$count:				white;
$cart_bk:			white;

//aside
$aside_title:       #504f47;
$aside_title2:      $primary;
$aside_bg:      	#FFFFFF;