//theme color
$bg_file:         "../../../../../img/sth_lulu/icon_m_lulu.png";
$bg_file_hpd:     "../../../../../img/sth_lulu/icon_m_lulu_retina.png";

//主題色
$primary:			black;
$button:			black;
$button_text:		white;

$text:				#666;
$text_hover:		gray;
$link:				black;
$link2:				#4498c8;
$link3:				#4498c8;
$link4:				#006fae;
$border:			$light_gray;
$border2:			#e9e9e9;
$border3:			#ffc1b9;
$price:				#d00;
$hover_text:		$primary;
$hover_bk:			#efefef;
$active_text:		white;
$active_bk:			$primary;
$disabled:			#d7d7d7;
$background:		white;
$background2: 		#f7f7f7;
$background3: 		#fffaf9;
$background4: 		#ffe4e1;
$title_h3:			black;
$tip:				#ffefea;
$hlight:			$primary;
$icon_color:		black;

//header
$header_border:		#efefef;
$header_bk:			#f7f7f7;
$nav_bk:			white;
$nav_border:        #d9d4d5;
$nav_text: 			black;
$function_btn_bk:   #ff9900;
$function_btn_bk2:  #f87304;
$function_btn_bk3:  #f31717;
$function_btn_bk4:  #ca0005;
$function_txt:  	black;
$function_txt2:  	white;

// component
$current:           $primary;

//item
$item_hover:		#b3e5fe;
$item_name:			#333;

//footer
$footer_bk:			black;
$footer_title:		white;
$footer_link:		#bfbfbf;
$footer_hover:		none;

//form
$input_text:		black;
$input_bk:			none;
$input_border:		$border;

//site-search
$search_bk:			none;
$search_text:		#555;
$search_border:		$primary;
$search_btn:		$primary;
$recommend_link:	#ccc;
$ui_menu_border:	#ccc;
$ui_menu_bk:		#f7f7f7;

//site-cart
$count_bg:          $primary;
$count:				white;
$cart_bk:			white;

//aside
$aside_title:       #504f47;
$aside_title2:      $primary;
$aside_bg:      	#FFFFFF;

//site-filter
$special-filter:    #ffefea;