//theme color
$bg_file:         "../../../../../../c/img/sth001/icon_gray.png";
$bg_file_hpd:     "../../../../../../c/img/sth001/icon_gray_retina.png";

//主題色
$primary:			gray;
$button:			#d00;
$button_text:			white;

$text:				#6c6c6c;
$text_hover:			gray;
$link:				black;
$border:			#ccc;
$price:				$red;
$hover_text:			#555;
$hover_bk:			$light_gray;
$active_text:			white;
$active_bk:			gray;
$disabled:			gray;
$background:			#fcfcfc;
$background2:		#EEE;
$title_h3:			black;
$icon_color:			black;

//header
$header_border:		#efefef;
$header_bk:			white;
$nav_bk:			white;
$nav_border: 			gray;
$nav_text: 			black;

// component
$current:                              #d00;

//item
$item_hover:			#b3e5fe;
$item_name:			black;

//footer
$footer_bk:			$light_gray;
$footer_title:			#474747;
$footer_link:			#6c6c6c;
$footer_hover:			#fa8b5f;

//form
$input_text:			black;
$input_bk:			#fff;
$input_border:			#ccc;

//site-search
$search_bk:			$input_bk;
$search_text:			#555;
$search_border:		#bbb;
$search_btn:			#ddd;
$recommend_link:		black;
$ui_menu_border:	#ccc;
$ui_menu_bk:		#f7f7f7;

//site-cart
$count_bg:                            #d00;
$count:				white;
$cart_bk:			white;

//aside
$aside_title:       #504f47;
$aside_title2:      $primary;
$aside_bg:      	#FFFFFF;