//theme color
$bg_file:         "../../../../../../c/img/sth001/icon_white.png";
$bg_file_hpd:     "../../../../../../c/img/sth001/icon_white_retina.png";

//主題色
$primary:			#827bb9;
$button:			#d00;
$button_text:		#fff;
$text:				#999;
$text_hover:		gray;
$link:				#6a6c76;
$border:			#efefef;
$price:				#d00;
$hover_text:		white;
$hover_bk:			#c9c3f8;
$active_text:		white;
$active_bk:			#c9c3f8;
$disabled:			#efefef;
$background:		#fff;
$background2:		#EEE;
$title_h3:			#928b91;
$icon_color:			black;

//header
$header_border:		#efefef;
$header_bk:			white;
$nav_bk:			#fff;
$nav_border:        $primary;
$nav_text: 			#fff;

// component
$current:                             $primary;

//item
$items_hover:		#ff3d54;
$items_name:			black;

//footer
$footer_bk:			#f8f8f8;
$footer_title:		#928b91;
$footer_link:		#9281b7;
$footer_hover:		#999;

//form
$input_text:		black;
$input_bk:			$background;
$input_border:		gray;

//site-search
$search_bk:			#fff;
$search_text:		#555;
$search_border:		$border;
$search_btn:		$border;
$recommend_link:	#6a6c76;
$ui_menu_border:	#ccc;
$ui_menu_bk:		#f7f7f7;

//site-cart
$count_bg:                            $primary;
$count:				white;
$cart_bk:			white;

//aside
$aside_title:       #504f47;
$aside_title2:      $primary;
$aside_bg:      	#FFFFFF;