//theme color
$bg_file:         "../../../../../../c/img/sth001/icon_pink.png";
$bg_file_hpd:     "../../../../../../c/img/sth001/icon_pink_retina.png";

//主題色
$primary:			pink;
$button:			#d00;
$button_text:			white;
$text:				#6c6c6c;
$text_hover:			gray;
$link:				black;
$border:			#ccc;
$price:				$red;
$hover_text:			red;
$hover_bk:			$background;
$active_text:			white;
$active_bk:			#f252bf;
$disabled:			gray;
$background:			#fff2fb;
$background2:		#EEE;
$title_h3:			black;
$icon_color:			black;

//header
$header_border:		#efefef;
$header_bk:			white;
$nav_bk:			white;
$nav_border:        none;
$nav_text: 			black;

// component
$current:                              #d00;

//item
$items_hover:		#b3e5fe;
$items_name:			black;

//footer
$footer_bk:			#fcdef2;
$footer_title:		$gray;
$footer_link:		$gray;
$footer_hover:		white;

//form
$input_text:		black;
$input_bk:			white;
$input_border:		$border;

//site-search
$search_bk:			$input_bk;
$search_text:		#555;
$search_border:		$border;
$search_btn:		$border;
$recommend_link:	black;
$ui_menu_border:	#ccc;
$ui_menu_bk:		#f7f7f7;

//site-cart
$count_bg:                            #d00;
$count:				white;
$cart_bk:			white;

//aside
$aside_title:       #504f47;
$aside_title2:      $primary;
$aside_bg:      	#FFFFFF;