//theme color
$bg_file:         "../../../../../../c/img/sth001/icon_black.png";
$bg_file_hpd:     "../../../../../../c/img/sth001/icon_black_retina.png";

//主題色
$primary:			#eaaf00;
$button:			#d00;
$button_text:			white;

$text:				#eee;
$text_hover:			gray;
$link:				white;
$border:			#3e3e3e;
$price:				#d00;
$hover_text:			white;
$hover_bk:			#232322;
$active_text:			black;
$active_bk:			$primary;
$disabled:			gray;
$background:			#151515;
$background2:		#EEE;
$title_h3:			#f4f4f4;
$icon_color:			#fff;

//header
$header_border:		#efefef;
$header_bk:			white;
$nav_bk:			#282828;
$nav_border:			none;
$nav_text: 			white;

// component
$current:                              $primary;

//item
$items_hover:			#b3e5fe;
$items_name:			#f2f2f2;

//footer
$footer_bk:			black;
$footer_title:			#f2f2f2;
$footer_link:			#6c6c6c;
$footer_hover:			$primary;

//form
$input_text:			white;
$input_bk:			$border;
$input_border:			#666666;

//site-search
$search_bk:			$border;
$search_text:			$input_text;
$search_border:		$border;
$search_btn:			$border;
$recommend_link:		$gray;
$ui_menu_border:	#ccc;
$ui_menu_bk:		#f7f7f7;

//site-cart
$count_bg:                            $primary;
$count:				white;
$cart_bk:			black;

//aside
$aside_title:       #504f47;
$aside_title2:      $primary;
$aside_bg:      	#FFFFFF;