//theme color
$bg_file:         "../../../../../../c/img/sth001/icon_blue.png";
$bg_file_hpd:     "../../../../../../c/img/sth001/icon_blue_retina.png";

//主題色
$primary:			#7fd8f9;
$button:			#d00;
$button_text:			white;

$text:				#6c6c6c;
$text_hover:			gray;
$link:				black;
$border:			$light_gray;
$price:				#d00;
$hover_text:			red;
$hover_bk:			#f3f3f3;
$active_text:			white;
$active_bk:			$primary;
$disabled:			gray;
$background:			#f7f8ff;
$background2:		#EEE;
$title_h3:			black;
$icon_color:			black;

//header
$header_border:		#efefef;
$header_bk:			white;
$nav_bk:			$background;
$nav_border:        		$light_gray;
$nav_text: 			black;

// component
$current:                              #d00;

//item
$items_hover:			#b3e5fe;
$items_name:			black;

//footer
$footer_bk:			$primary;
$footer_title:			#474747;
$footer_link:			#6c6c6c;
$footer_hover:			white;

//form
$input_text:			$gray;
$input_bk:			white;
$input_border:			$light_gray;

//site-search
$search_bk:			white;
$search_text:			#555;
$search_border:		$border;
$search_btn:			$border;
$recommend_link:		black;
$ui_menu_border:	#ccc;
$ui_menu_bk:		#f7f7f7;

//site-cart
$count_bg:                            #d00;
$count:				white;
$cart_bk:			white;

//aside
$aside_title:       #504f47;
$aside_title2:      $primary;
$aside_bg:      	#FFFFFF;