//theme color
$bg_file:         "../../../../../../c/img/sth002/icon_gold.png";
$bg_file_hpd:     "../../../../../../c/img/sth002/icon_gold_retina.png";

//主題色
$primary:			#c4a265;
$button:			#d00;
$button_text:		white;

$text:				#6c6c6c;
$text_hover:		gray;
$link:				black;
$border:			#ccc;
$price:				#d00;
$hover_text:		#a56c01;
$hover_bk:			#e2d1b3;
$active_text:		#a56c01;
$active_bk:			#e2d1b3;
$disabled:			gray;
$background:		white;
$background2:		#EEE;
$title_h3:			black;
$icon_color:			black;

//header
$header_border:		#efefef;
$header_bk:			#000;
$nav_border:        #888;
$nav_bk:         	#c4a265;
$nav_text: 			white;

// component
$current:                              #d00;

//item
$items_hover:		#b3e5fe;
$items_name:			black;

//footer
$footer_bk:			#e8dac0;
$footer_title:		#000;
$footer_link:		#000;
$footer_hover:		#a56c01;

//form
$input_text:		black;
$input_bk:			white;
$input_border:		gray;

//site-search
$search_bk:         white;
$search_text:		#555;
$search_border:		$border;
$search_btn:		$border;
$recommend_link:    gray;
$ui_menu_border:	#ccc;
$ui_menu_bk:		#f7f7f7;

//site-cart
$count_bg:          $primary;
$count:				white;
$cart_bk:			white;

//aside
$aside_title:       #504f47;
$aside_title2:      $primary;
$aside_bg:      	#FFFFFF;