.nav-menu{
    //background: $primary;
    color: black;
    @include clearfix;
    .icon-menu{
        display: none;
    }
    li a:hover{
        //background: $hover_bk;
        //color: $hover_text;
    }
    .menu-one{
        >li{
            position: relative;
            float: left;
            >a{
                display: block;
                padding: 16px 20px; 
                border: 1px solid transparent;
                //color: $nav_text;
                &:hover{
                    position: relative;
                    top: 0;
                    left: 0;
                    z-index: 4;
                    //background: $hover_bk;
                    //color: $hover_text;
                    border-width: 1px;
                    border-style: solid; 
                    //border: 1px solid $nav_border;  
                    //border-bottom: 1px solid $hover_bk;
                }
                &.active{
                    //color: $active_text;
                    //background: $active_bk;
                }
            }
        }
    }
    .menu-two{
        border-width: 1px;
        border-style: solid;
        //border: 1px solid $nav_border;
        left: 0;
        min-width: 100%;
        position: absolute;
        top: 48px;
        z-index: 3;
        >li{
            position: relative;
            >a{
                padding: 15px 20px;
                display: block;
                white-space: nowrap;
                border-bottom: 1px solid #e5e5e5;
                //background: $nav_bk;
                &:hover, &.active{
                    //background: $hover_bk;
                    //color: $hover_text;
                }
            }
        }
    }
    .menu-three{
        position: absolute;
        float: left;
        top: -1px;
        left: 100%;
        border-width: 1px;
        border-style: solid;
        //border: 1px solid $nav_border;
        z-index: 5;
        >li{
            float: none;
            a{
                padding: 15px 20px;
                border-bottom: 1px solid #e5e5e5;
                white-space: nowrap;
                //background: $nav_bk;
                display: block;
                &:hover{
                    @include transition(0.6);
                    //background: $hover_bk;
                    //color: $hover_text;
                }
            }
        }
    }
}
@include RWD(pad-mobile) {
    .nav-menu{
        z-index: 3;
        // height: 48px;
        // margin-top: 14px;
        .icon-menu{
            padding: 10px;
            margin-left: 14px;
            display: inline-block;
        }
        .menu-one{
            position: absolute;
            top: 100%;
            left: 0;
            background: white;
            z-index: 5;
            border: 1px solid #888;
            height: auto;
            width: 100%;
            >li{
                float: none;
                border: 0;
                a{
                    border: 0;
                    border-bottom: 1px solid #e5e5e5;
                    color: black;
                    &.active{
                        border: 0;
                    }
                    &:hover{
                        border: 0;
                    }    
                }
            }
        }
        .menu-two, .menu-three{
            position: static;
            width: 100%;
            float: none;
            border: 0px;
            >li{
               a{
                    text-align: left;
                } 
            } 
        }
        .menu-two{
            >li a{
                padding-left: 40px;
            }
        }
        .menu-three{
            >li a{
                padding-left: 60px;
            }
        }
    }
}