@import "../../frame/_reset.scss";
@import "../../frame/_rwd_layouts.scss";
@import "../../frame/_button.scss";
@import "../../frame/_fancybox_style.scss";
@import "../../frame/_rwd_style.scss";
@import "../../frame/_bank.scss";

@import"../module_component/_site_ad_top.scss";
@import "../module_component/_site_float_bar.scss";
@import "../module_header/_seagame_header.scss";
@import "../module_footer/_seagame_footer.scss";
@import"../module_footer/_rwd_copyright_001.scss";
.rwd_copyright_001{
	color:#fff;
	background-color:#2b2b2b;
	a{
		color:#fff;
	}
}
