.rwd_footer_001{
	margin-top: 10px;
	padding: 20px 0;
	background: $footer_bk;
	.links{
		border-bottom: 1px solid $text;
		text-align: center;
		@include clearfix;
	}
	dl{
		width: 16.2%;
		padding: 20px;
		display: inline-block;
		vertical-align: top;
		a {
    		display: inline-block;
    		font-size: 0.8em;
    		line-height: 180%;
    		color: $footer_link;
    		@include transition(0.3s);
    		&:hover{
    			text-decoration: underline;
    			color: $footer_hover;
    			@include transition(0.3s);
    		}
		}
	}
	dt{
    	font-weight: bold;
   		margin-bottom: 10px;
   		font-size: 1em;
   		color: $footer_title;
	}

	@media screen and (max-width: 1300px) {
		.container{
			width: 93%;
		}
	}

	//pad & mobile
	@include RWD(pad-mobile) {
		dl{
			width: 33%;
			text-align: center;
		}	
	}
	//pad & mobile
	@include RWD(mobile) {
		dl{
			min-height: 160px;
			width: 50%;
			float: left;
			//padding: 0;
			a{
				margin: 0 auto;
				max-width: 100%;
			}
		}	
	}
}

