.rwd_copyright_001{
	padding:10px 0;
	background: $footer_bk;
	text-align: right;
	font-size: 0.75em;
	line-height:1.5;
	color: white;
	.service{
		margin-right: 10px;
		font-weight: bold;
	}
	a{
		text-decoration: underline;
		margin-left: 10px;
		color: white;
	}
}
.u_copyright{
	padding: 16px 0;
	text-align: right;
	font-size: 0.75em;
	background: $footer_bk;
	color: white;
	img{
		margin-left:5px;
	}
}

@media screen and (max-width: 1300px) {
.rwd_copyright_001,.u_copyright{
	.container{
		width: 93%;
	}
}		
}

//pad & mobile
@include RWD(pad-mobile) {
.rwd_copyright_001{
	text-align: center;
	.service{
		display: block;
		margin-bottom: 10px;
	}
}
.u_copyright{
	text-align: center;
}
}
//pad & mobile
@include RWD(mobile) {
.rwd_copyright_001{
	a{
		display: block;
		margin-top: 10px;
	}
}
}