.pc_copyright_001{
	padding-top: 30px;
	text-align: right;
	margin-bottom: 20px;
	font-size: 0.75em;
	word-break:break-word;
	word-wrap:break-word;
	.service{
		margin-right: 10px;
		font-weight: bold;
	}
	a{
		text-decoration: underline;
		margin-left: 10px;
	}
}
.u_copyright{
	padding: 10px 0;
	text-align: right;
	font-size: 0.75em;
	background: white;
}