.rwd_footer_002{
	padding: 20px 0 30px;
	//background: $footer_bk;
	.footer-link{
		@include clearfix;
	}
	dl{
		width: 25%;
		padding: 20px;
		float: left;
		a {
    		display: inline-block;
    		font-size: 0.8em;
    		line-height: 180%;
    		//color: $footer_link;
    		@include transition(0.3s);
    		&:hover{
    			text-decoration: underline;
    			//color: $footer_hover;
    			@include transition(0.3s);
    		}
		}
	}
	dt{
    	font-weight: bold;
   		margin-bottom: 20px;
   		font-size: 1em;
   		//color: $footer_title;
	}
}
//pad & mobile
@include RWD(pad-mobile) {
.rwd_footer_001{
	dl{
		width: 33%;
	}
}
}
//pad & mobile
@include RWD(mobile) {
.rwd_footer_001{
	dl{
		min-height: 160px;
		text-align: center;
		width: 50%;
		float: left;
		padding: 0;
		a{
			margin: 0 auto;
			width: 92px;
			padding-left: 14px;
			text-align: left;
		}
	}
}
}
