.rwd_footer_001{
	margin-top: 40px;
          padding:20px 0 30px;
	background:#356AAC url('../../../../../../c/img/sth_seagame/footerbg.jpg') repeat-x;
	.footer-link{
		@include clearfix;
	}
	dl{
		width: 16.666%;
		padding: 20px;
		float: left;
		a {
    		display: inline-block;
    		font-size: 0.8em;
    		line-height: 180%;
    		color: $footer_link;
    		@include transition(0.3s);
    		&:hover{
    			text-decoration: underline;
    			color: $footer_hover;
    			@include transition(0.3s);
    		}
		}
	}
	dt{
    	font-weight: bold;
   		margin-bottom: 20px;
   		font-size: 1em;
   		color: $footer_title;
	}
}
.contact_info{
    padding:10px 0;
    background:#2b2b2b;
    color:#fff;
    font-size:.8em;
    @include clearfix;
    small{
        float:left;
        line-height:120%;
        text-align:left;
        padding:20px;
    }
    ul{
        float:right;
        padding:20px 0;
        li{
            display:inline-block;
            padding:0 10px;
            a{
                color:#fff;
                &:hover{
                    color:#bbb;
                    text-decoration:underline;
                }
            }
        }
    }
}
//pad & mobile
@include RWD(pad-mobile) {
.rwd_footer_001{
            padding:40px 0 0;
	dl{
		width: 33%;
	}
}
}
//pad & mobile
@include RWD(mobile) {
.rwd_footer_001{
    dl{
        min-height: 160px;
        text-align: center;
        width: 50%;
        float: left;
        padding: 0;
        a{
            margin: 0 auto;
            max-width: 100%;
        }
    }
}
.contact_info{
     small{
        float:none;
        display:block;
        line-height:120%;
        text-align:center;
        padding:20px;
    }
    ul{
        float:none;
        padding:20px 0;
        text-align:center;
    }
}
}