.site-header{
    position: relative;
    @include clearfix;
    >.container{
        //height: 120px;
        // margin-bottom: 10px;
        @include clearfix;
    }
    .logo{
        float: left;
        display: inline-block;
        margin-top: 25px;
        img{
            max-width: 200px;
        }
    }
    .header-ad{
        position: relative;
        float: right;
        max-width: 400px;
        height: 57px;
        font-size: 0.815em;
        line-height: 1.5;
        margin-top: 20px;
        margin-right: 30px;
        overflow: hidden;
    }
    .header-block{
        width: 80%;
        margin-top: 25px;
        padding-bottom: 20px;
        float: left;
        @include clearfix;
        li{
            float: left;
            width: 23.5%;
            min-height: 50px;
            margin-right: 1.5%;
            background: #EEE;
            overflow: hidden;
        }
    }
}
.cart-btn{
    position: relative;
    display: block;
    padding: 9px 0 9px;
    font-size: 0.9em;
    &:hover{
        .icon-cart{
            //color: $primary;
            @include transition(0.3s);
        }
    }
    .count{
        position: absolute;
        top: -1px;
        left: 11px;
        //background: $primary;
        //color: $count;
        width: 19px;
        height: 19px;
        font-style: normal;
        font-size: 12px;
        text-align: center;
        line-height: 19px;
        z-index: 3;
        @include border-radius (50%);
    }
}

@include RWD(desktop-normal) {
    .header-ad{
        max-width: 200px!important;
    }
}
@include RWD(pad-mobile) {
.site-header{
    >.container{
        height: auto;
        margin: 0;
        padding: 0;
    }
    .logo{
        float: none;
        display: block;
        margin:0;
        padding: 10px 0;
        img{
            max-width: 200px;
            display:block;
            margin:0 auto;
        }
    }
    .header-block{
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 0 1%;
        li{
            width: 23.876%;
            margin-right: 1.2;
            &:last-child{
                margin-right: 0;
            }
        }   
    }    
    .header-ad{
        display: none;
    }
}
}
