.campaign-5{
    clear: both;
    padding: 3px 0 7px;
    li{
        width: 24.5%;
        display:inline-block;
        text-align: center;
        //border-top: #c9c9c9 1px dashed;
        padding: 8px 0 0;
    }
    a{
        display: block;
        width: 100%;
        font-size: 15px;
        color: #666;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-word;
        word-wrap: break-word;
        padding: 0 16px;
        font-weight: 700;
        //border-right: #DDD 1px solid;
        &:hover{
            color: #e00517;
        }
    }
    .nth1,.nth2,.nth3,.nth4{
        color: #e00517;
        &:hover{
            color: #666;
        }
    }
    .nth4{
        //border-right: none;
    }
}