.campaign-4{
    clear: both;
    padding: 0 0 8px 0;
    li{
        width: 24.5%;
        display:inline-block;
        text-align: center;
        -webkit-box-reflect: below 0 -webkit-linear-gradient(transparent,transparent 40%,rgba(255,255,255,.2));
    }
    a{
        display: block;
        width: 100%;
        color: #06c;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-word;
        word-wrap: break-word;
        &:hover{
            color: #e00517;
        }
    }
    .fa{
    }
    .fa-star{
        margin-right: 2px;
        color:#FCC500;
        text-shadow: 1px 1px 0px #aaa;
    }
    .fa-hot{
        font:700 12px arial,sans-serif;
        margin-right: 2px;
        padding:3px 5px;
        vertical-align: 2px;
        color: white;
        background-color: #e00517;
    }
}