.site-header{
    position: relative;
    @include clearfix;
    >.container{
        //height: 120px;
        // margin-bottom: 10px;
        @include clearfix;
    }
    .inner{
        margin-bottom: 10px;
        border-bottom: 1px solid $border;
        @include clearfix;
    }
    .logo{
        float: left;
        display: inline-block;
        padding-top: 30px;
        img{
            max-width: 200px;
        }
    }
    .header-ad{
        position: relative;
        float: right;
        max-width: 400px;
        height: 57px;
        font-size: 0.815em;
        line-height: 1.5;
        margin-top: 20px;
        margin-right: 30px;
        overflow: hidden;
    }
    .store{
        float: left;
        margin-top: 11px;
        font-size: 1.5em;
        color: black;
        font-weight: bold;
        font-family: Arial;
    }
}
.cart-btn{
    position: relative;
    display: block;
    padding: 9px 0 9px;
    font-size: 0.9em;
    &:hover{
        .icon-cart{
            //color: $primary;
            @include transition(0.3s);
        }
    }
    .count{
        position: absolute;
        top: 2px;
        left: -2px;
        //background: $primary;
        //color: $count;
        width: 19px;
        height: 19px;
        font-style: normal;
        font-size: 12px;
        text-align: center;
        line-height: 19px;
        z-index: 3;
        @include border-radius (50%);
    }
}
@include RWD(desktop-normal) {
    .header-ad{
        max-width: 200px!important;
    }
}
@include RWD(pad-mobile) {
.site-header{
    >.container{
        height: auto;
        margin: 0;
        padding: 0;
    }
    .logo{
        float: none;
        padding: 10px;
        margin: 0;
    }
    .header-ad{
        display: none;
    }
    .inner{
        margin-bottom: 0px;
        border-bottom: none;
    }    
    .store{
        margin-left: 10px;
    }
}
}
