.nav-user{
    float: right;    
    visibility:hidden;
    >ul{
        margin-top: 3px;
        float: right;
        @include clearfix;    
        >li{
            float: left;
            >a{
                display: block;
                padding: 13px 16px;
                font-size: 0.9em;
                &:hover{
                    //color: $primary;
                    @include transition(0.3s);
                }
            }
            .f-cart{
                font-size: 1.9em;
                color: #434343;
                vertical-align: -4px;
                margin-top: -3px;
            }
        }
    }	
}
@include RWD(pad-mobile) {
.nav-user{
    background: #fff;
    border-top: 0;
    padding: 8px 0;    
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 12;
    border-bottom: 2px solid $border;
    .cart-btn{
        display: none;
    }
    >ul{
        float: none;
        li{
            width: 25%;
            text-align: center;
            a{
                font-size: 1em;
            }
        }
    }
}
}

