@import "compass/css3"
@import "_reset.sass"
@import url(http://fonts.googleapis.com/css?family=Nobile:700,400)
=clearfix
  &:after
    content: ""
    display: table
    clear: both
::-webkit-input-placeholder
  color: white
::-moz-placeholder
  color: white
::-moz-placeholder
  color: white
::-ms-input-placeholder
  color: white

.main-body
  min-width: 1024px
  padding-top: 46px
  background-color: #F3F6F8
.header-nav
  position: fixed
  left: 0
  top: 0
  width: 100%
  min-width: 1024px
  z-index: 2
  background-color: #0095ce
  border-top: 5px solid #555
  +clearfix
  .search
    float: right
    margin-right: 15px
    padding: 8px 5px
    position: relative
  .search_input
    width: 150px
    padding: 5px 32px 5px 10px
    border: 0
    background: darken(#0095ce,4%)
    color: white
    +box-shadow(inset #006D96 1px 1px 5px)
    +border-radius(10px)
    &:focus
      color: #333
      background-color: #fff
      &~a .fa-search
        color: #333
  .fa-search
    position: absolute
    top: 12px
    right: 15px
    color: #fff
  .login
    float: right
    position: relative
    height: 41px
    padding: 13px 10px 0 0
    font-size: .8em
    color: #fff
    cursor: pointer
    .login_sub
      display: none
      min-width: 100px
      padding: 10px
    .logintxt
      margin-right: 5px
    .fa
      margin-right: 5px
    a
      color: #fff
    &:hover
      .login_sub
        display: block
        position: absolute
        right: 2px
        top: 41px
        color: #fff
        background: #0095ce
        +box-shadow(#333 1px 1px 5px)
        &:hover
          color: #fff
          background: #0083b4
.logo
  padding: 2px 50px 8px
  float: left
  background-color: #0083b4

// Top menu
.main-nav
  float: left
  ul
    background: #0095ce
    display: none
    +box-shadow(#333333 1px 1px 5px)
  li
    min-width: 100px
    position: relative
    white-space: nowrap
    cursor: pointer
    border-bottom: 1px solid darken(#0095ce,5%)
    ul
      position: absolute
      top: 40px
      left: 0
    &:hover
      background-color: darken(#0095ce,10%)
      >ul
        display: block
  >li
    cursor: pointer
    display: inline-block
    a
      display: block
      min-width: 100px
      text-align: center
      padding: 13px 20px
      color: #fff
      font-size: .9em
      &:hover
        background-color: darken(#0095ce,5%)
    ul.third-nav
      top: 0
      left: 100%
.main_col
  width: 100%
  +clearfix

// left menu
.left_col
  position: fixed
  left: 0
  top: 46px
  height: 100%
  float: left
  overflow: auto
  // background-color: #383e4b
  background-color: #E8EEF4
  border-right: 1px solid #D3DEE6
.left-nav
  display: inline-block
  min-width: 150px
  dt
    padding: 10px 5px
    color: #668eaa
    font-size: .95em
    background-color: #fefefe
    border-bottom: 1px solid #d9e3ea
    +box-shadow(#d9e3ea 0px 1px 5px)
  dd
    .fa
      margin-right: 5px
      font-size: .7em
      color: #4a89dc
    a
      display: block
      padding: 10px 15px 10px
      color: #2e4453
      font-size: .9em
      width: 200px
      line-height: 1.5
      word-break: break-word
      word-wrap: break-word
      +transition-property(background,color)
      +transition-duration(0.2s)
      +transition-timing-function(ease-in)
      &:hover,&.active
        color: #00aadc
        background-color: #f3f6f8
        border-bottom: 1px solid #d9e3ea

// right content
.right_col
  margin-left: 200px
  padding: 10px
  .breadcrumb
    margin: -10px -10px 10px
    padding: 10px
    // background: #fefefe
    +background-image(linear-gradient(#ffffff, #e5e5e5))
    border-bottom: 1px solid #dbdee0
    a
      color: #333
      font-size: .9em
      &:hover
        color: #2a6496
        text-decoration: underline
    .b_txt
    .b_line
      margin: 0 5px
      color: #b6b6b6
  .con_block
    margin: 0 0 10px
    background-color: #fff
    +box-shadow(#cccccc 1px 1px 5px)
  .con_title
    padding: 10px 
    color: #fff
    background-color: #74B8D8
    +text-shadow(rgba(51, 51, 51, 0.2) 1px 2px 0)
    .fa
      margin-right: 5px
  .con_main
    padding: 10px 
    line-height: 1.8
    font-size: .9em
    p
      max-width: 800px
      word-break: break-word
      word-wrap: break-word
    img
      display: block
      max-height: 500px
      max-width: 800px
      margin: 10px 0 10px 30px
      padding: 5px
      +box-shadow(#cccccc 1px 1px 5px)
    .con_main_title
      display: inline-block
      margin: 5px 0
      padding: 5px 10px 
      line-height: 1.5
      color: #fff
      background-color: #f96
      +text-shadow(rgba(51, 51, 51, 0.2) 1px 2px 0)
    .con_main_sub_title
      color: #4A89DC
      font-size: 1em
      &:before
        content: "◉"
        display: inline-block
    .con_main_list
      display: block
      max-width: 800px
      padding: 5px
      margin-left: 50px
      line-height: 2
      list-style-type: decimal
      +border-radius(5px)
    .access_block
      text-align: center
    .submit
      padding: 10px
      color: #fff
      font-size: 1em
      background: #67c2ef
      +border-radius(10px)
      +box-shadow(#cccccc 1px 1px 5px)
      &:hover
        background-color: #39afea
    code
      display: block
      margin: 5px 0
      padding: 10px
      background: #E8EEFC
      border: 1px solid #aaa
      word-break: break-word
      word-wrap: break-word
    .line
      margin: 0 0 10px
      .front,.back
        min-width: 130px
        display: inline-block  
        text-align: left
      .reg_input
        padding: 5px 10px
        border: 1px solid #ccc
        +border-radius(5px)
        &:focus
          border-color: #f96
    .con_table
      width: 100%
      margin: 0 0 8px
      font-size: .95em
      th
        padding: 5px
        border: 1px solid #ddd
        background-color: #FFF9DA
        white-space: nowrap
      tr:nth-child(odd)
        background-color: #f5f5f5
      tr:hover td
        background-color: #FFEDE4
      td
        padding: 5px
        font-size: .95em
        border: 1px solid #ddd
        vertical-align: middle
        line-height: 1.6
        .fa-pencil-square-o
          padding: 5px
          color: #fff
          background-color: #78cd51
        .fa-times
          padding: 5px
          color: #fff
          background-color: #ff5454
  .con_index_block
    width: 33%
  .con_index_table
    border: 1px solid #aaa
    background-color: #fff
    td
      padding: 5px
      border-bottom: 1px solid #aaa

.right_col_title
  display: inline-block
  margin-bottom: 10px
  padding: 5px 20px
  color: #fff
  background-color: #0095CE
  line-height: 1.5
  +box-shadow(#ccc 1px 1px 5px)
.right_col_form
  padding: 0 10px 5px
  background-color: #f1f3f5
  border: 1px solid #d4dbdf
  +box-shadow(#ccc 1px 1px 5px)
  .line
    margin-bottom: 10px
  input
    padding: 3px
  label.prefix
    display: inline-block
    min-width: 150px
    margin-top: 4px
    font-size: .9em
    text-align: right
    vertical-align: top
//  +text-shadow(rgba(51, 51, 51, 0.2) 1px 1px 0, rgba(51, 51, 51, 0.2) 2px 2px 0, rgba(51, 51, 51, 0.2) 3px 3px 0)
//  +background-image(linear-gradient(#555555, #444444))
//  +box-shadow(#333333 1px 1px 5px)
//  +background-image(linear-gradient(#f9b84a, #f9892c))
//  +text-shadow(rgba(51, 51, 51, 0.2) 1px 2px 0)
//  +background-clip(padding-box)
//  +border-radius(50%)
//  +transition-property(border,color)
//  +transition-duration(0.3s)
//  +transition-timing-function(ease-in)
//  +box-shadow(inset #111 0 1px 5px)
// .info [class^="g-"]