.nav-menu-mobile{
    display: none;
    position: relative;
    z-index: 99;
    border-top: 1px solid white;
    @include RWD(mobile) {
        background: black!important;
        border-top: 1px solid $nav_border;
        .block{
            width: 100%;
            display: inline-block;
            padding: 15px;
        }
        .link{
            display: block;
            padding: 10px;
            line-height: 1.4;
            font-size: 14px;
            color: white;
            text-align: center;
            &:hover{
                text-decoration: underline;
            }
            &:active{
                color: $light_gray;
            }
        }
        .m-account{
            border-top: 1px solid #FFF;
            padding: 15px 10px 5px 10px;
            font-size: 15px;
            margin-top: 10px;
        }
    }
}

    