/* pc_index_007 開始 */
.pc_index_007{
	margin: 0px auto 20px auto;
	@include clearfix;	
	.items{
		font-size: 0;
		padding: 10px 0;
	}
	.item{
		width: 20%;
		padding: 10px 10px;
		display: inline-block;
	}
	.photo{
		display: inline-block;
		width: 100%;
		img{
			width: 100%;
		}
	}
	.info{
	}
	.name{
		margin-bottom: 10px;
		color: $items_name;
		font-weight: bold;
		font-size: 1.5em;
	}
	.feature{
		margin-bottom: 10px;
		font-size: 0.85em;
		line-height: 1.6;
	}
	.currency{
		font-size: 0.8em;
		color: $price;
	}
	.price{
		font-size: 1.3em;
		margin-left: -3px;
		margin-right: 5px;
		color: $price;
	}
	.button{
		vertical-align: top;
	}
}
/* pc_index_007 結束 */