/* pc_index_004 開始 */
.pc_index_004{
	margin: 0px auto 20px auto;
	@include clearfix;
	
	.block{		
		@include clearfix;
	}
	.photo-long{
		font-size: 0;
		float: left;
		img{
			width: 100%;
		}
	}
	.items{
		float: left;
		width: 800px;
		font-size: 0;
	}
	.item{
		float: left;
		width: 25%;
		padding: 12px 10px;
		margin-bottom: 2px;
		border: 1px solid transparent;
		&:hover{
			@include transition(0.3s);
		}
	}
	.photo{
		margin-bottom: 4px;
		display: block;
		width: 100%;
		height: 0;
		overflow: hidden;
		padding-top: 100%;
		position: relative;
		img{
			// width: 100%;
			// height:178px;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			margin: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	.info{
	}
	.name{
		font-size: 12px;
		line-height: 1.4;
		word-break: break-word;
		word-wrap:break-word;
		overflow: hidden;
		margin-bottom: 10px;
		height: 33px;
		a{
			color: $items_name;
		}
	}
	.buy{
		margin-top: 2px;
		color: $price;
	}
	.currency{
		font-size: 10px;
		vertical-align: bottom;
		display: inline-block;
		margin-bottom: 2px;
	}
	.price{
		font-size: 18px;
		margin-right: 5px;
		vertical-align: bottom;
		display: inline-block;
	}
	.btn{
		float: right;
		margin-top: 3px;
		font-size: 15px;
		color: $price;
	}
	.fa{
		margin-left: 4px;
	}
	.tag-status {
		position: absolute;
		bottom: 7px;
		right: 7px;
		z-index: 9;
	}
}
/* pc_index_004 結束 */