.pc_index_016{
    border-top: #fc5555 2px solid;
    border-bottom: #fc5555 2px solid;
	text-align: center;
	margin-bottom: 5px;
    margin-right: 10px;
	@include clearfix;
    .recommend{
        position: relative;
        height: 28px;
        overflow: hidden;
        @include clearfix;
        &:nth-child(odd){
        	border-bottom: #c9c9c9 1px dashed;
			}
        .hot{
            float:left;
            width: 110px;
            height: 28px;
            position: relative;
            line-height: 25px;
            color:#333;  
            text-align: left;
            a{
                font-size:14px;
                padding:2px 8px;
                color:#666;   
                font-weight: 700;
                /*background: #f8f8f8;
                border-radius: 6px;*/
                &:hover{
                    color:#e00517;
                    background: #f8f8f8;
                    border-radius: 6px;
                }
            }
        }
        span{
            display: inline-block;
            position: absolute;
            right: 0;
            top: 8px;
            color: #fc5555;
            font-weight: 700;
        }
        dd{
            float:left;
            width: 110px;
            height: 28px;
            text-align: left;  
            line-height: 16px;
            a{
                padding: 2px 8px;
                line-height: 27px;
                color:#666;
                font-size:14px;
                position: relative;
                font-weight: 700;
                /*background: #f8f8f8;
                border-radius: 6px;*/
                &:hover{
                    color:#e00517;
                    background: #f8f8f8;
                    border-radius: 6px;
                }
            }
        }
    }
}