/* pc_index_017 開始 */
.pc_index_017{
	margin: 0px auto 20px auto;
	@include clearfix;
	
	.block{		
		@include clearfix;
	}
	.item-left{
		float: left;
		width: 410px;
		font-size: 0;
		border: #f2f2f2 1px solid;
		background: #f2f2f2;
		border-radius: 10px;
		.info{
			margin: 10px 12px 10px 16px;
		}
		.name{
			font-size: 14px;
			line-height: 1.6;
			height: 40px;
			word-break: break-word;
			word-wrap:break-word;
			overflow: hidden;
			margin-bottom: 15px;
			a{
				color: $items_name;
			}
		}
		.buy{
			margin-top: 6px;
			color: $price;
		}
		.currency{
			font-size: 13px;
			vertical-align: bottom;
			display: inline-block;
			margin-bottom: 2px;
		}
		.price{
			font-size: 24px;
			margin-right: 5px;
			vertical-align: bottom;
			display: inline-block;
		}
		.btn{
			float: none;
			display: block;
			color: #FFF;
			font-size: 17px;
			letter-spacing: 6px;
			background: #e00517;
			text-align: center;
			margin: 14px 0 12px;
			padding:10px;
			border-radius: 8px;
			&:hover{
				text-decoration: none;
			    background: #f70000;
			    -webkit-transition: 0.6s;
			    -moz-transition: 0.6s;
			    -o-transition: 0.6s;
			    -ms-transition: 0.6s;
			    transition: 0.6s;
			}
		}
	}
	.photo-long{
		margin-bottom: 4px;
		display: block;
		width: 100%;
		height: 0;
		overflow: hidden;
		padding-top: 100%;
		position: relative;
		font-size: 0;
		img{
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			margin: auto;
			padding: 12px 12px 0;
			max-width: 100%;
			max-height: 100%;
		}
	}

	.items{
		float: left;
		width: 590px;
		font-size: 0;
	}
	.item{
		float: left;
		width: 33.33%;
		padding: 12px 10px;
		margin-bottom: 2px;
		border: 1px solid transparent;
		&:hover{
			@include transition(0.3s);
		}
	}
	.photo{
		margin-bottom: 4px;
		display: block;
		width: 100%;
		height: 0;
		overflow: hidden;
		padding-top: 100%;
		position: relative;
		img{
			// width: 100%;
			// height:178px;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			margin: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	.info{
	}
	.name{
		font-size: 12px;
		line-height: 1.4;
		word-break: break-word;
		word-wrap:break-word;
		overflow: hidden;
		margin-bottom: 10px;
		height: 33px;
		a{
			color: $items_name;
		}
	}
	.buy{
		margin-top: 2px;
		color: $price;
	}
	.currency{
		font-size: 10px;
		vertical-align: bottom;
		display: inline-block;
		margin-bottom: 2px;
	}
	.price{
		font-size: 18px;
		margin-right: 5px;
		vertical-align: bottom;
		display: inline-block;
	}
	.btn{
		float: right;
		margin-top: 3px;
		font-size: 15px;
		color: $price;
	}
	.fa{
		margin-left: 4px;
	}
	.tag-status {
		position: absolute;
		bottom: 7px;
		right: 7px;
		z-index: 9;
	}
}
/* pc_index_017 結束 */