.pc_index_014{
	text-align: center;
	margin-bottom: 5px;
	@include clearfix;
    .recommend{
        height: 28px;
        background-color: #FFCBCB;
        overflow: hidden;
        @include clearfix;
        .hot{
            float:left;
            height: 28px;
            padding:8px 15px 8px 10px;
            position: relative;
            font-size:16px;
            line-height: 12px;
            color:white;
            background: #f31717;
            background: -moz-linear-gradient(top,  #f31717 0%, #ca0005 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  #f31717 0%,#ca0005 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  #f31717 0%,#ca0005 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f31717', endColorstr='#ca0005',GradientType=0 ); /* IE6-9 */
            a{
                color:white;
                &:hover{
                    color:#ff0;
                }
            }
            &:after{
                content: '';
                position: absolute;
                top:0;right:0;
                display:block;
                border-style: solid;
                border-width: 0 0 28px 10px;
                border-color: transparent transparent #FFCBCB transparent;
                z-index: 5;
            }
        }
        dd{
            float:left;
            height: 28px;
            line-height: 16px;
            a{
                padding: 0 8px;
                line-height: 27px;
                color:#111;
                position: relative;
                &:hover{
                    color:#e00517;
                }
                &:after{
                    color:#E27373;
                    content: '/';
                    position: absolute;
                    top:-5px;right:-3px;
                    display:block;
                    z-index: 1;
                }
            }
        }
    }
}