.pc_index_003{
	margin: 0 auto 20px;
	.tabs{
		text-align: center;
		@include clearfix;
		>li{
			width: 16.66718%;
			float: left;
			border: 1px solid $border;
			border-top: 2px solid $border;
			border-bottom: none;
			background: #FAFAFA;
			white-space: nowrap;
			padding: 8px 4px 9px;
			display: block;
			font-size: 0.85em;
			font-weight: bold;
			color: #333;
			overflow: hidden;
			word-break: break-all;
			&.active{
				background: white;
				border-right: 1px solid $border;
				border-left: 1px solid $border;
			}
			&:hover{
				cursor: pointer;
			}
		}
	}
	.content{
		border-top: 1px solid $border;
		margin-top: -1px;
	}
	.items{
		display: none;
		font-size: 0;
		border: 1px solid $border;
		border-top: none;
		padding: 9px 4px;
		&.active{
			display: inherit;
		}
	}
	.item{
		width: 20%;
		padding: 0 9px;
		display: inline-block;
		&:hover{
			img{
				@include transform(scale(1.05) translate3d(0, 0, 0));
				@include transition(0.3s);
			}
			.name a{
				color: $primary;
			}
		}
	}
	.time{
		font-weight: bold;
		background: #1ba7fc;
		color: #fff;
		font-size: 13px;
		padding: 8px 10px;
		text-align: center;
		@include border-radius(10px 10px 0 0);
		li{
			display: inline-block;
		}
		div{
			display:inline-block;
			height:17px;
			vertical-align:top;
			line-height:1.2;
			overflow: hidden;
		}
		&.is-come-end{
			background: #f96;
		}
		&.is-gone{
			background: #ccc;
		}
	}
	.photo{
		display: inline-block;
		// width: 180px;
		// height: 180px;
		// overflow: hidden;
		margin-bottom: 4px;
		// position: relative;
		width: 100%;
		height: 0;
		overflow: hidden;
		padding-top: 100%;
		position: relative;
		img{
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			margin: auto;
			max-width: 100%;
			max-height: 100%;
			@include transition(0.3s);
		}
	}
	.info{
	}
	.name{
		margin-bottom: 10px;
		font-size: 12px;
		line-height: 1.5;
		word-break: break-all;
		overflow: hidden;
		height: 35px;
		a{
			color: $items_name;
		}
	}
	.buy{
		color: $price;
		height: 18px;
		.start{
			color: #333;
			font-size: 12px;
		}
	}
	.buy.is-old{
		.currency,.price{
			color:#0092EB;
		}
		.price{
			font-size:14px;
		}
	}
	.currency{
		font-size: 10px;
		vertical-align: bottom;
		display: inline-block;
		margin-bottom: 2px;
	}
	.price{
		font-size: 18px;
		margin-right: 5px;
		vertical-align: bottom;
		display: inline-block;
	}
	.btn{
		float: right;
		margin-top: 3px;
		font-size: 15px;
		color: $price;
	}
	.fa{
		margin-left: 4px;
	}
	.tag-status {
		position: absolute;
		bottom: 7px;
		right: 7px;
		z-index: 9;
	}
}