/* rwd_index_008 開始 */

@import"../../3rd-party/_idangerous.swiper.scss";
.rwd_index_008 {
    font-size: 0;
    .container{
        border:0;
    }
    @include clearfix;
    .swiper-container {
        line-height: 0;
        img {
            width: 100%;
        }
        .pagination {
            position: absolute;
            left: 0;
            text-align: center;
            bottom: 5px;
            width: 100%;
        }
        .swiper-pagination-switch {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 10px;
            background: $gray;
            margin: 0 3px;
            cursor: pointer;
        }
        .swiper-active-switch {
            width: 30px;
            //background: $primary;
        }
    }
    .col-left {
        float: left;
        .photo {
            width: 100%;
        }
    }
    .col-right {
        float: right;
        >a {
            display: inline-block;
            margin-bottom: 25px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .photo {
        display: inline-block;
        img {
            width: 100%;
        }
    }
}
@include RWD(desktop-extra) {
    .rwd_index_008 {
        .col-left {
            width: 820px;
        }
        .col-right {
            width: 380px;
        }
    }
}
@include RWD(desktop-normal) {
    .rwd_index_008 {
        .col-left {
            width: 640px;
        }
        .col-right {
            width: 300px;
            >a {
                margin-bottom: 17px;
            }
        }
    }
}
@include RWD(pad-mobile) {
    .rwd_index_008 {
        .swiper-container {
            margin: 0 1% 20px;
        }
        .col-left {
            float: inherit;
            .photo {
                margin-bottom: 20px;
            }
        }
        .col-right {
            float: inherit;
            >a {
                display: inline-block;
                width: 31%;
                margin: 0 1% 20px;
            }
        }
    }
}
@include RWD(mobile) {}
/* rwd_index_008 結束 */
