@import"../../3rd-party/_idangerous.swiper.scss";
.item-silder-type01 {
    .item {
        display: table;
    }
    .photo {
        display: table-cell;
    }
    .info {
        max-width: 300px;
        padding: 0 25px 0 15px;
        vertical-align: middle;
        display: table-cell;
    }
    .feature {
        font-size: 0.85em;
        line-height: 1.4;
        margin-bottom: 20px;
    }
    .pagination {
        left: 375px;
        bottom: 5px;
        position: absolute;
    }
    .swiper-pagination-switch {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background: lighten($gray,40);
        margin: 0 3px;
        cursor: pointer;
    }
    .swiper-active-switch {
        width: 30px;
    }
    .arrow {
        color: lighten($gray,40);
        font-size: 3em;
        top: 50%;
        margin-top: -25px;
        @include opacity(0.5);
        @include transition(all 0.3s ease-out);
        cursor: pointer;
        position: absolute;
        z-index: 1;
        &.arrow-left {
            left: 5px;
        }
        &.arrow-right {
            right: 5px;
        }
        &:hover {
            @include opacity(1);
        }
    }
    @include RWD(pad-horizontal) {
        .photo {
            width: 50%;
        }
        .pagination {
            left: 50%;
            margin-left: 15px;
        }
    }
    @include RWD(mobile) {
        .item, .photo, .info {
            display: block;
        }
        .photo {
            width: 100%;
        }
        .info {
            width: 100%;
            margin-top: 10px;
            padding: 0;
        }
        .pagination {
            left: 0;
            right: 0;
            margin-left: 0;
            text-align: right;
        }
        .arrow {
            display: none;
        }
    }
}

.rwd_index_024 {
	margin: 0 auto;
	margin-bottom: 20px;
	position: relative;
	background: white;
	.container{
		border: 0;
		padding: 0;
	}
	.more {
		top: 12px;
		right: 15px;
		color: white;
		font-size: 0.8em;
		position: absolute;
	}
	.tabs {
		text-align: center;
		//border-bottom: 1px solid;
		//background: $primary;
		padding-top: 3px;		
		@include clearfix;
		& > li{
			float: left;
			white-space: nowrap;
			padding: 10px 25px;
			//color: white;
			letter-spacing: 1px;
			display: block;
			overflow: hidden;
			word-break: break-all;
			&.active{
				font-weight: bold;
				//color: black;
				//background: white;
			}
			&:hover{
				cursor: pointer;
			}
		}
	}
	.title-h3 {
		padding: 10px;
		border-bottom: 1px solid;
		display: none;
	}
	.items {
		display: none;
		padding: 10px 0;
		@include clearfix;
		&.active{
			display: inherit;
		}
	}
	.item {
		width: 197px;
		padding: 12px 10px;
		display: inline-block;
		&.item-one {
			width: 360px;
			margin: 0 5px;
			float: left;
			.name {
				height: 40px;
				font-size: 1em;
			}
		}
		&:hover {
			@include transition(0.6s);
			.photo {
				@include opacity(0.75);
			}
		}
	}
	.photo {
		display: inline-block;
		overflow: hidden;
		margin-bottom: 5px;
		text-align: center;
		position: relative;
		img {
			max-width: 100%;
			// @include transition(0.3s);
		}
	}
	.name {
		height: 35px;
		// margin-bottom: 10px;
		font-size: 0.95em;
		line-height: 1.2;
		// word-break: break-all;
		// overflow: hidden;
	}
	.feature {
		font-size: 0.85em;
		line-height: 1.4;
		margin-bottom: 20px;
	}
	.currency {
		font-size: 10px;
		// vertical-align: bottom;
		// display: inline-block;
		// margin-bottom: 2px;
	}
	.price {
		font-size: 18px;
		margin-right: 5px;
		// vertical-align: bottom;
		// display: inline-block;
	}
	.btn {
		float: right;
		margin-top: 3px;
		font-size: 15px;
		color: $price;
	}
	@include RWD(pad-horizontal) {
		.item {
			width: 22.5%;
			margin: 0;
			&.item-one {
				width: 30%;
			}
		}
	}
	@include RWD(pad-mobile) {
		padding-top: 10px;
		.tabs {
			display: none;
		}
		.title-h3 {
			display: block;
		}
		.items {
			display: block;
		}
		.item {
			width: 49%;
			&.item-one {
				width: 100%;
				margin: 0;
				float: none;
				.info {
					padding-top: 120px;
				}
			}
		}
		.photo {
			width: 50%;
			float: left;
		}
		.info {
			width: 50%;
			padding: 50px 0 0 15px;
			vertical-align: middle;
			display: table-cell;
		}
		.name {
			height: 40px;
			font-size: 100%;
		}
	}
	@include RWD(mobile) {
		.item {
			width: 100%;
			padding-bottom: 0;
			display: table;
			&.item-one {
				.photo {
					width: 100%;
					float: none;
					display: block;
				}
				.info {
					width: 100%;
					padding-top: 0;
					padding-left: 0;
					display: block;
				}
			}
		}
		.photo {
			width: 100%;
			display: table-cell;
		}
		.info {
			padding: 0 0 0 10px;
		}
	}
}