/* rwd_index_018 start */

.rwd_index_018 {
	margin: 0 auto;
	padding-top: 30px;
	position: relative;
	.more {
		top: 32px;
		right: 15px;
		color: $gray;
		font-size: 0.8em;
		position: absolute;
	}
	.tabs {
		text-align: center;
		border-bottom: 1px solid;
		@include clearfix;
		& > li{
			float: left;
			white-space: nowrap;
			padding: 10px 25px;
			letter-spacing: 1px;
			display: block;
			overflow: hidden;
			word-break: break-all;
			&.active{
				font-weight: bold;
			}
			&:hover{
				cursor: pointer;
			}
		}
	}
	.title-h3 {
		padding: 10px;
		border-bottom: 1px solid;
		display: none;
	}
	.items {
		display: none;
		padding: 10px 0;
		@include clearfix;
		&.active{
			display: inherit;
		}
	}
	.item {
		width: 200px;
		margin-left: 5px;
		padding: 12px 10px;
		display: inline-block;
		&.item-one {
			width: 360px;
			margin: 0 5px;
			float: left;
			.name {
				height: 40px;
				font-size: 1em;
			}
		}
		&:hover {
			@include transition(0.6s);
			.photo {
				@include opacity(0.75);
			}
		}
	}
	.photo {
		display: inline-block;
		overflow: hidden;
		margin-bottom: 5px;
		text-align: center;
		position: relative;
		img {
			max-width: 100%;
			// @include transition(0.3s);
		}
	}
	.name {
		height: 35px;
		margin-bottom: 10px;
		font-size: 0.95em;
		line-height: 1.2;
		word-break: break-all;
		overflow: hidden;
	}
	.feature {
		font-size: 0.85em;
		line-height: 1.4;
		margin-bottom: 20px;
	}
	.currency {
		font-size: 10px;
		// vertical-align: bottom;
		// display: inline-block;
		// margin-bottom: 2px;
	}
	.price {
		font-size: 18px;
		margin-right: 5px;
		vertical-align: bottom;
		display: inline-block;
	}
	.btn {
		float: right;
		margin-top: 3px;
		font-size: 15px;
		color: $price;
	}
	@include RWD(pad-horizontal) {
		.item {
			width: 16.66666666667%;
			margin: 0;
			&.item-one {
				width: 30%;
			}
		}
	}
	@include RWD(pad-mobile) {
		padding-top: 10px;
		.tabs {
			display: none;
		}
		.title-h3 {
			display: block;
		}
		.items {
			display: block;
		}
		.item {
			width: 49%;
			&.item-one {
				width: 100%;
				margin: 0;
				float: none;
				.info {
					padding-top: 120px;
				}
			}
		}
		.photo {
			width: 50%;
			float: left;
		}
		.info {
			width: 50%;
			padding: 50px 0 0 15px;
			vertical-align: middle;
			display: table-cell;
		}
		.name {
			height: 40px;
			font-size: 100%;
		}
	}
	@include RWD(mobile) {
		.item {
			width: 100%;
			padding-bottom: 0;
			display: table;
			&.item-one {
				.photo {
					width: 100%;
					float: none;
					display: block;
				}
				.info {
					width: 100%;
					padding-top: 0;
					padding-left: 0;
					display: block;
				}
			}
		}
		.photo {
			width: 100%;
			display: table-cell;
		}
		.info {
			padding: 0 0 0 10px;
		}
	}
}

/* rwd_index_018 end */