.rwd_index_026{
	font-size: 0;	
	img{
		width: 100%;
	}
	.item-a{
		margin-bottom: 10px;
		width: 100%;
	}
	.item-b{
		padding: 12px 0;
		width: 100%;
		@include clearfix;
		a{
			float: left;
			display: inline-block;
		}
		.b1{
			width: 32.3%;
			margin-right: 1.2%;
		}
		.b2,.b3{width: 66.5%;}
		.b2{			
			vertical-align: top;
			margin-bottom: 13px;
		}
		.b3{			
			float: left;
			a{
				width: 49.2%;
				margin-right: 1.6%;
				&:last-child{
					margin-right: 0;
				}
			}				
		}
	}
	.m-index{
		display: none;
		font-size: 18px;
    	padding: 15px 10px 20px 10px;
    	li{
            display: block;
            border: 1px solid $border2;
            margin-bottom: 20px;
            letter-spacing: 2px;
            @include box-shadow (1px 1px 3px rgba(0%,0%,0%,0.1));
            text-align: center;
            position: relative;
            &:last-child{
            	margin-bottom: 0;
            }
            .fa{
                font-size: 16px;
                color: #868283;
                position: absolute;
                top: 18px;
                right: 12px;
            }
            span{
                position: absolute;
                left: 16px;
                top: 13%;
            }
        }
        a{
            display: block;
            padding: 15px;

        }
	}
//	.item-c{
//		margin-bottom: 16px;
//		@include clearfix;
//		a{
//			float: left;
//			display: inline-block;
//		}
//		.c1{
//			width: 390px;
//			margin-right: 16px;
//		}
//		.c2{
//			width: 390px;
//			margin-right: 16px;
//		}
//		.c3{
//			width: 390px;
//		}
//	}
	@include RWD(desktop-normal) {
		.item-b{
			.b2{
				margin-bottom: 11px;
			}
		}
	}
	@include RWD(mobile) {
		.item-a,.item-b{
			display: none;
		}
		.m-index{
			display: block;
		}
	}
}
