.rwd_index_006{
	@include clearfix;
	.items{
        @include clearfix;
	}
	.item{
		float: left;
		width: 20%;
		padding: 0 12px;
		display: table;
	}
	.photo{
		display: block;
		width: 100%;
		margin-bottom: 10px;
//		overflow: hidden;
		img{
			width:100%;
		}
	}
	.info{
		display: none;
        clear:left;
	}
	// .name{
	// 	margin-bottom: 10px;
	// 	//color: $items_name;
	// 	// font-size: 15px;
	// 	// min-height: 30px;
	// 	// height: auto;
	// 	// overflow: hidden;
	// }
	del{
		color: $text;
	}
	.currency{
		font-size: 12px;
		//color: $price;
		display: inline-block;
	}
	.price{
		font-size: 18px;
		margin-right: 5px;
		//color: $price;
		display: inline-block;
	}
}
@include RWD(pad-mobile) {
.rwd_index_006{
	padding: 0 1%;
	.item{
		width: 50%;
		padding: 1%;
        height: 560px;
	}
	.info{
		display: block;
	}
	// .name{
	// 	font-size: 16px;
	// }
}
}
@include RWD(mobile) {
.rwd_index_006{
	.item{
		width:100%;
        height: auto;
	}
	.photo{
		display:table-cell;
		vertical-align: middle;
//		width:50%;
	}
	.info{
		display:table-cell;
        vertical-align: middle;
		width:48%;
        padding-left:10px;
	}
}
}

