@charset "UTF-8";
.nav-breadcrumbs .container {
  padding: 15px 0;
}
.nav-breadcrumbs .fa {
  margin-right: 8px;
}
.nav-breadcrumbs .index {
  position: relative;
  font-weight: bold;
}
.nav-breadcrumbs .cate {
  display: inline-block;
}
.nav-breadcrumbs .locate {
  margin-left: 20px;
}
.nav-breadcrumbs .bread-item-name {
  font-size: 1.12em;
  font-weight: bold;
  color: black;
}

@media (max-width: 999px) {
  .nav-breadcrumbs {
    margin: 10px;
  }
}
@media (max-width: 767px) {
  .nav-breadcrumbs {
    margin: 20px 0 10px 10px;
  }
}
.site-sort .sort {
  display: block;
}
.site-sort .sort {
  zoom: 1;
}
.site-sort .sort:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.site-sort .sort li {
  float: left;
  display: block;
}
.site-sort .sort li:last-child a {
  border-right-width: 1px;
  border-right-style: solid;
}
.site-sort .sort li a {
  padding: 10px 20px;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-right: 0;
  font-size: 13px;
}
.site-sort .sort-s {
  display: none;
}

@media (max-width: 999px) {
  .site-sort {
    padding: 0 15px;
  }
  .site-sort .sort {
    display: none;
  }
  .site-sort .sort-s {
    display: block;
    width: 100%;
    font-size: 1em;
  }
}
.item-list-follow {
  margin-top: 25px;
}
.item-list-follow .follow-list-block {
  position: relative;
  width: 100%;
  height: auto;
  color: #6c6c6c;
  padding: 12px 15px;
  margin-bottom: 30px;
  top: 0px;
  background: white;
  border: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
.item-list-follow .follow-list-block:first-child {
  margin-top: 5px;
}
.item-list-follow .follow-list-block {
  zoom: 1;
}
.item-list-follow .follow-list-block:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.item-list-follow .follow-list {
  width: 100%;
}
.item-list-follow .follow-list {
  zoom: 1;
}
.item-list-follow .follow-list:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.item-list-follow .follow-list .follow-list-content {
  margin-bottom: 15px;
  padding: 0 0px 13px;
  border-bottom: 1px dashed #cccccc;
  position: relative;
}
.item-list-follow .follow-list .follow-list-content {
  zoom: 1;
}
.item-list-follow .follow-list .follow-list-content:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.item-list-follow .follow-list .follow-list-content:last-child {
  border-bottom: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.item-list-follow .follow-list .none-item {
  padding-top: 15px;
  padding-bottom: 15px !important;
  font-size: 1em;
  color: black;
  font-weight: bold;
}
.item-list-follow .follow-list .follow-date, .item-list-follow .follow-list .follow-photo, .item-list-follow .follow-list .follow-name, .item-list-follow .follow-list .follow-list-r li {
  float: left;
  min-height: 20px;
  line-height: 1.5;
  font-size: 0.8em;
}
.item-list-follow .follow-list .follow-date {
  width: 6%;
  margin-right: 1%;
  padding-top: 22px;
}
.item-list-follow .follow-list .follow-photo {
  width: 5.051%;
  margin-right: 1%;
  padding: 0;
}
.item-list-follow .follow-list .follow-photo img {
  width: 100%;
}
.item-list-follow .follow-list .follow-name {
  width: 45%;
  margin-right: 1.9%;
  padding-top: 21px;
  font-weight: bold;
  font-size: 0.93em;
}
.item-list-follow .follow-list .follow-name a {
  color: #6c6c6c;
}
.item-list-follow .follow-list .follow-name a:hover {
  color: #14b3e5;
}
.item-list-follow .follow-list .follow-list-r {
  width: 40%;
  float: right;
  padding-top: 22px;
}
.item-list-follow .follow-list .follow-list-r {
  zoom: 1;
}
.item-list-follow .follow-list .follow-list-r:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.item-list-follow .follow-list .follow-list-r li {
  margin-right: 5%;
  margin-bottom: 3px;
}
.item-list-follow .follow-list .follow-list-r li:last-child {
  margin-right: 0;
}
.item-list-follow .follow-list .follow-price {
  width: 20%;
  text-align: right;
  font-weight: bold;
}
.item-list-follow .follow-list .follow-status {
  width: 22%;
  margin-top: -1px;
}
.item-list-follow .follow-list .follow-notice {
  width: 17%;
}
.item-list-follow .follow-list .follow-notice-date {
  width: 17%;
  text-align: center;
  margin-top: -11px;
}
.item-list-follow .follow-list .follow-notice-date span {
  display: block;
}
.item-list-follow .follow-list .follow-delete {
  width: 4%;
  font-size: 20px !important;
  cursor: pointer;
  margin-top: -4px;
}
.item-list-follow .follow-list .follow-delete:before {
  content: "";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
}
.item-list-follow .follow-list-info {
  font-size: 0.95em;
  line-height: 1.7;
  padding-bottom: 25px;
  margin-bottom: 15px;
  border-bottom: 1px solid #cccccc;
}
.item-list-follow .follow-list-info ul {
  padding-left: 25px;
}
.item-list-follow .follow-list-info li {
  list-style-type: decimal;
  margin-top: 5px;
}
@media (min-width: 1000px) and (max-width: 1237px) {
  .item-list-follow .follow-list .follow-date {
    width: 8%;
    padding-top: 18px;
  }
  .item-list-follow .follow-list .follow-photo {
    width: 6%;
  }
  .item-list-follow .follow-list .follow-name {
    width: 36%;
    padding-top: 16px;
  }
  .item-list-follow .follow-list .follow-list-r {
    width: 46%;
    padding-top: 17px;
  }
  .item-list-follow .follow-list .follow-list-r li {
    margin-right: 3.5%;
  }
  .item-list-follow .follow-list .follow-price {
    width: 23%;
  }
  .item-list-follow .follow-list .follow-notice-date {
    width: 20%;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .item-list-follow {
    padding: 0 15px;
  }
  .item-list-follow .follow-list-block {
    padding: 15px 10px;
  }
  .item-list-follow .follow-list .follow-date {
    width: 11%;
    padding-top: 1px;
  }
  .item-list-follow .follow-list .follow-photo {
    width: 6%;
  }
  .item-list-follow .follow-list .follow-name {
    width: 19%;
    padding-top: 0px;
  }
  .item-list-follow .follow-list .follow-list-r {
    width: 60%;
    padding-top: 1px;
  }
  .item-list-follow .follow-list .follow-list-r li {
    margin-right: 3%;
  }
  .item-list-follow .follow-list .follow-price {
    width: 24%;
  }
}
@media (max-width: 767px) {
  .item-list-follow {
    padding: 0 15px;
  }
  .item-list-follow .follow-list .follow-date {
    width: auto;
    padding-top: 0;
    padding-bottom: 5px;
    position: absolute;
    top: 6px;
    left: 11.5%;
  }
  .item-list-follow .follow-list .follow-photo {
    width: 10%;
    margin-right: 1.5%;
  }
  .item-list-follow .follow-list .follow-name {
    width: 88.5%;
    margin-right: 0;
    margin-top: 1px;
    font-size: 0.97em;
    line-height: 1.4;
    padding-top: 25px;
  }
  .item-list-follow .follow-list .follow-list-r {
    width: 100%;
    margin-top: 10px;
    padding-top: 0;
  }
  .item-list-follow .follow-list .follow-list-r li {
    font-size: 0.95em;
  }
  .item-list-follow .follow-list .follow-price {
    width: 22%;
    text-align: left;
  }
  .item-list-follow .follow-list .follow-status {
    width: 20%;
  }
  .item-list-follow .follow-list .follow-status .button {
    padding: 0.3em 1.2em;
  }
  .item-list-follow .follow-list .follow-notice {
    width: 17%;
  }
  .item-list-follow .follow-list .follow-notice-date {
    width: 20%;
    font-size: 0.9em !important;
  }
  .item-list-follow .follow-list .follow-delete {
    position: absolute;
    top: -3px;
    right: 5px;
    width: 15px;
  }
}
@media screen and (max-width: 568px) {
  .item-list-follow .follow-list .follow-date {
    top: 2px;
    left: 12.5%;
  }
  .item-list-follow .follow-list .follow-photo {
    width: 11%;
    min-width: 40px;
    margin-right: 8px;
  }
  .item-list-follow .follow-list .follow-name {
    width: 79%;
    font-size: 1em;
    margin-top: -2px;
  }
  .item-list-follow .follow-list .follow-list-r li {
    margin-bottom: 12px;
    float: none;
    width: 100%;
    margin-right: 0;
  }
  .item-list-follow .follow-list .follow-price {
    width: 45%;
    text-align: left;
  }
  .item-list-follow .follow-list .follow-status {
    width: 45%;
  }
  .item-list-follow .follow-list .follow-notice {
    width: 45%;
  }
  .item-list-follow .follow-list .follow-notice-date {
    width: 45%;
    text-align: left;
    margin-top: 0px;
    font-size: 0.8em !important;
  }
  .item-list-follow .follow-list .follow-notice-date span {
    display: inline-block;
    margin-right: 3px;
  }
  .item-list-follow .follow-list .follow-delete {
    width: auto !important;
  }
}
@media screen and (max-width: 470px) {
  .item-list-follow .follow-list .follow-date {
    left: 48px;
  }
}

.nav-pagination {
  margin: 30px 0 80px;
  text-align: center;
  clear: both;
}
.nav-pagination ul {
  margin: 0 20px;
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
}
.nav-pagination ul {
  zoom: 1;
}
.nav-pagination ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.nav-pagination li {
  display: inline-block;
}
.nav-pagination li a {
  border-top-width: 1px;
  border-top-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.nav-pagination li:first-child a {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}
.nav-pagination li:last-child a {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  border-right-width: 1px;
  border-right-style: solid;
}
.nav-pagination a {
  line-height: 36px;
  padding: 0 12px;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
}
.nav-pagination a.active {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.nav-pagination a:hover {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.nav-pagination .total {
  margin-top: 20px;
  font-size: 0.8em;
}
