.button {
  color: white;
  background: #d00;
}
.button:hover {
  background: #f70000;
}
.button.disabled, .button[disabled] {
  color: #cccccc;
}
.button.btn-rush, .button .btn-addcart, .button .btn-add {
  background: #d00;
  color: white;
}
.button.btn-rush:hover, .button .btn-addcart:hover, .button .btn-add:hover {
  background: #f70000;
}
.button.btn-rush:active, .button.btn-rush.pressed, .button .btn-addcart:active, .button .btn-addcart.pressed, .button .btn-add:active, .button .btn-add.pressed {
  background: #910000;
}
.button.btn-discount, .button.red {
  background: #f90;
}
.button.btn-discount:hover, .button.red:hover {
  background: #ffa31a;
}
.button.btn-discount:active, .button.btn-discount.pressed, .button.red:active, .button.red.pressed {
  background: #b36b00;
}
.button.btn-preorder, .button.yellow {
  background: #ffcc21;
  color: white;
}
.button.btn-preorder:hover, .button.yellow:hover {
  background: #ffd23b;
}
.button.btn-preorder:active, .button.btn-preorder.pressed, .button.yellow:active, .button.yellow.pressed {
  background: #d3a300;
}
.button.gray {
  background: #6c6c6c;
  color: white;
}
.button.gray:hover {
  background: #797979;
}
.button.gray:active, .button.gray.pressed {
  background: #464646;
}
.button.btn-to-sale {
  color: #f90;
}

body {
  color: #6c6c6c;
  background: #fcfcfc;
}

a {
  color: black;
}

.title-h3 {
  color: black;
}
.title-h3 .sub {
  color: gray;
}

.red-text {
  color: #dd0000;
}

input[type='password'], input[type='email'], input[type='tel'], input[type='text'], input[type='number'], input[type='search'] {
  border-color: #ccc;
  background: #fff;
  color: black;
}

select {
  background: #fff;
  color: black;
  border-color: #ccc;
}

.quantity-alert {
  background: gray;
  color: #6c6c6c;
}
.quantity-alert:after {
  border-color: gray transparent transparent transparent;
}

.quantity .quantity-input {
  border: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  color: black;
  background: #fff;
}
.quantity .quantity-decrease {
  color: black;
  border-color: #ccc;
}
.quantity .quantity-increase {
  color: black;
  border-color: #ccc;
}

.fancybox-inner .title {
  background: gray;
}
.fancybox-inner .block .price {
  color: #dd0000;
}
.fancybox-inner .block .final-price {
  color: #dd0000;
}
.fancybox-inner .name {
  color: gray;
}

.cart-mark {
  background: #030303;
  color: gray;
  border: 10px solid rgba(252, 252, 252, 0.3);
}

.site-body .container {
  border-bottom-color: #ccc;
}

.rwd_index_001 .swiper-container .swiper-active-switch {
  background: gray;
}

.site-main .name {
  color: black;
}
.site-main .name a:hover {
  color: gray;
}
.site-main .currency {
  color: #dd0000;
}
.site-main .price {
  color: #dd0000;
}

.rwd_index_008 .swiper-container .swiper-active-switch {
  background: gray;
}

.item-silder-type01 .swiper-active-switch {
  background: gray;
}

.rwd_index_018 .tabs {
  border-bottom-color: black;
}
.rwd_index_018 .tabs > li {
  color: black;
}
.rwd_index_018 .tabs > li.active {
  -webkit-box-shadow: black 0 -2px inset;
  -moz-box-shadow: black 0 -2px inset;
  box-shadow: black 0 -2px inset;
}
.rwd_index_018 .title-h3 {
  border-bottom-color: black;
}
.rwd_index_018 .more:hover {
  color: black;
}

.rwd_index_024 .tabs {
  background: gray;
}
.rwd_index_024 .tabs > li {
  color: white;
}
.rwd_index_024 .tabs > li.active {
  color: black;
  background: white;
}
.rwd_index_024 .title-h3 {
  border-bottom-color: black;
}
.rwd_index_024 .more:hover {
  color: black;
}

@media (min-width: 1000px) {
  .rwd_index_009 .items {
    background: #fcfcfc;
  }
  .rwd_index_009 .info {
    background: #fcfcfc;
  }
  .rwd_index_009 .price {
    color: #dd0000;
  }
}
.f-cart, .icon-account, .icon-search {
  color: black;
}

.cart-btn:hover .icon-cart {
  color: gray;
}
.cart-btn .count {
  background: #d00;
  color: white;
}

@media (min-width: 1000px) {
  .nav-menu .menu-one > li a {
    color: black;
  }
  .nav-menu .menu-one > li a.current {
    border-bottom-color: gray;
  }
  .nav-menu .menu-one > li a:hover {
    color: gray;
  }
  .nav-menu .menu-two {
    border-color: gray;
  }
  .nav-menu .menu-two:after {
    border-color: transparent transparent white transparent;
  }
  .nav-menu .menu-two:before {
    border-color: transparent transparent gray transparent;
  }
  .nav-menu .menu-two > li a {
    border-bottom-color: gray;
    background: white;
  }
  .nav-menu .menu-two > li a:hover, .nav-menu .menu-two > li a.active {
    color: gray;
  }
  .nav-menu .menu-three {
    border-color: gray;
  }
  .nav-menu .menu-three > li a {
    border-bottom-color: gray;
  }
  .nav-menu .menu-three > li a:hover {
    color: gray;
  }
}
@media (max-width: 999px) {
  .nav-menu {
    background: white;
  }
  .nav-menu .menu-one > li a {
    border-bottom-color: #ccc;
  }
  .nav-menu .menu-one > li a:hover {
    color: gray;
  }
  .nav-menu .menu-two > li a {
    border-left-color: gray;
  }
}
@media (max-width: 999px) {
  .nav-menu-mobile {
    border-top-color: #ccc;
    border-bottom-color: #ccc;
    background: white;
  }
  .nav-menu-mobile .count {
    background: #d00;
  }
}
.nav-user {
  border-top-color: #ccc;
}
.nav-user > ul > li > a:hover {
  color: gray;
}

.site-search .input-search {
  border-color: #ccc;
  background: #fff;
  color: #555;
}
.site-search .btn-submit {
  background: #ddd;
}
.site-search .recommend a {
  color: black;
}
.site-search .recommend a:hover {
  color: gray;
}

@media (max-width: 999px) {
  .site-search .input-search {
    background: #fff;
    border-bottom-color: #cccccc;
  }
  .site-search .recommend a {
    color: black;
  }
}
.item-list .name a {
  color: black;
}
.item-list .currency {
  color: #dd0000;
}
.item-list .price {
  color: #dd0000;
}

.item_list_four .item:hover {
  border-color: #ccc;
}
.item_list_four .name {
  color: black;
}
.item_list_four .currency {
  color: #dd0000;
}
.item_list_four .price {
  color: #dd0000;
}

.nav-breadcrumbs .index {
  color: gray;
}
.nav-breadcrumbs .index:after {
  border-color: transparent #fcfcfc transparent transparent;
}
.nav-breadcrumbs .index::before {
  border-color: transparent gray transparent transparent;
}
.nav-breadcrumbs .locate {
  color: #6c6c6c;
}

.nav-pagination li a {
  border-top-color: #ccc;
  border-left-color: #ccc;
  border-bottom-color: #ccc;
}
.nav-pagination li:last-child a {
  border-right-color: #ccc;
}
.nav-pagination a {
  color: #6c6c6c;
}
.nav-pagination a.active {
  background: gray;
  color: white;
}
.nav-pagination a:hover {
  background: #cccccc;
  color: #555;
}
.nav-pagination .total {
  color: #6c6c6c;
}

.rwd_other_001 h4 {
  color: black;
}

.site-activity h3 {
  border-color: #ccc;
}
.site-activity .ready {
  background: #dd0000;
}
.site-activity .not {
  background: #6c6c6c;
}
.site-activity hr {
  border-color: #ccc;
}
.site-activity .act-content {
  color: #dd0000;
}
.site-activity .swiper-container {
  border-color: #ccc;
}
.site-activity .swiper-container .swiper-slide {
  border-right-color: #ccc;
}
.site-activity .swiper-container .currency {
  color: #dd0000;
}
.site-activity .swiper-container .price {
  color: #dd0000;
}
.site-activity .state {
  border: 1px solid #ccc;
}
.site-activity .state .progress {
  border-bottom-color: #ccc;
}
.site-activity .state .inner-bar.finish {
  background-color: #00a8ff;
}
.site-activity .state .note, .site-activity .state .note-finish {
  border-color: #cccccc;
  color: #6c6c6c;
  background: #fcfcfc;
}
.site-activity .state .note:after, .site-activity .state .note-finish:after {
  border-color: #fcfcfc transparent transparent transparent;
}
.site-activity .state .note:before, .site-activity .state .note-finish:before {
  border-color: #cccccc transparent transparent transparent;
}
.site-activity .state .note-finish {
  color: gray;
}
.site-activity .state .actions.finish {
  color: gray;
}

@media (max-width: 999px) {
  .site-activity .swiper-container .swiper-left, .site-activity .swiper-container .swiper-right {
    border-top-color: #cccccc;
    border-right-color: #cccccc;
    background: #F5F5F5;
  }
  .site-activity .state > .tip {
    color: #6c6c6c;
  }
}
.site-cart {
  border-color: #ccc;
  background: #fcfcfc;
}
.site-cart .name {
  color: black;
}
.site-cart .full {
  color: #dd0000;
}
.site-cart .full .tag {
  border-color: #dd0000;
}
.site-cart .buy {
  color: #dd0000;
}
.site-cart .del {
  color: #6c6c6c;
}
.site-cart .del:hover {
  color: gray;
}
.site-cart .cart-sale .sale-discount {
  color: #dd0000;
}
.site-cart .cart-actions {
  border-top-color: #cccccc;
}
.site-cart .total {
  color: #dd0000;
}

.error h1 {
  color: black;
}
.error li {
  color: #6c6c6c;
}

.site-filter .attrcon {
  border-color: #ccc;
}
.site-filter .attrcon:first-child {
  border-top-color: #ccc;
}
.site-filter .attrcon label.disabled {
  color: gray;
}
.site-filter .attrcon .colcheck a {
  color: #6c6c6c;
}
.site-filter .attrcon .colcheck a.current {
  color: #d00;
}
.site-filter .attrcon .colcheck .selected {
  color: gray;
}
.site-filter .attrcon .actions .colclose a {
  color: black;
}
.site-filter .attrcon .actions .tirup, .site-filter .attrcon .actions .tirdown {
  border-color: transparent transparent black transparent;
}
.site-filter .attrcon .actions .tirdown {
  border-color: black transparent transparent transparent;
}
.site-filter .attrft {
  border-color: #ccc;
}
.site-filter .attrft a {
  color: black;
}

.filter-s select {
  background: #fff;
}

.site-search .input-search {
  border-color: #bbb;
  background: #fff;
  color: #555;
}
.site-search .btn-submit {
  background: #ddd;
}
.site-search .recommend a {
  color: black;
}

.site-search-answer .light {
  color: #dd0000;
}
.site-search-answer h1 {
  color: #6c6c6c;
}
.site-search-answer p {
  color: #6c6c6c;
}
.site-search-answer p a {
  color: black;
}

.site-sort .sort li:last-child a {
  border-right-color: #ccc;
}
.site-sort .sort li a {
  border-color: #ccc;
  color: #6c6c6c;
}
.site-sort .sort li a.active {
  color: white;
  background: gray;
  border: 1px solid gray;
}
.site-sort .sort li a:hover {
  border: 1px solid gray;
}

.site-float-bar .value .active {
  border-color: #e00;
  color: #e00;
}
.site-float-bar .value .active:after {
  border-color: transparent transparent #e00 transparent;
}

.quantity-alert {
  background: gray;
  color: white;
}
.quantity-alert:after {
  border-color: gray transparent transparent transparent;
}

.item-add .container {
  border-color: #ccc;
}
.item-add .name {
  color: black;
}
.item-add .currency {
  color: #dd0000;
}
.item-add .price {
  color: #dd0000;
}

@media (max-width: 999px) {
  .item-add {
    border-bottom-color: #ccc;
  }
  .item-add .items {
    border-color: #ccc;
  }
}
@media (max-width: 767px) {
  .item-add .item {
    border-bottom-color: #ccc;
  }
}
@media (max-width: 999px) {
  .item-buy {
    border-top-color: #ccc;
    background: #fcfcfc;
  }
  .item-buy .tips_alert {
    color: gray;
  }
}
.item-detail .container {
  border-bottom-color: #ccc;
}

.item-main .name {
  color: black;
}
.item-main .feature li {
  color: #6c6c6c;
}
.item-main .key {
  color: black;
}
.item-main .value > li {
  border-color: #cccccc;
}
.item-main .value .active {
  border-color: #e00;
  color: #e00;
}
.item-main .value .active:after {
  border-color: transparent transparent #e00 transparent;
}
.item-main .value .disabled {
  border-color: #cccccc;
}
.item-main .label {
  color: #6c6c6c;
}
.item-main .link {
  color: #6c6c6c;
}
.item-main .link:hover {
  color: gray;
}
.item-main .currency {
  color: #dd0000;
}
.item-main .price {
  color: #dd0000;
}
.item-main .sale {
  color: gray;
  border-color: gray;
}
.item-main .sale .time {
  background: gray;
}
.item-main .credit-card {
  color: #6c6c6c;
  background: #fcfcfc;
}
.item-main .credit-card .more .credit-card-list {
  background: #fcfcfc;
}

@media (max-width: 999px) {
  .item-main .info {
    border-bottom-color: #ccc;
  }
}
.item-spec .spec {
  border-bottom-color: #ccc;
}

.title-h3 {
  border-left-color: gray;
}

.item-related .item-related-tabs ul {
  background: #fcfcfc;
}
.item-related .item-related-tabs li {
  color: #6c6c6c;
  border-left-color: #ccc;
}
.item-related .item-related-tabs li:hover {
  color: gray;
}
.item-related .item-related-tabs li.active {
  color: black;
}
.item-related .item-related-tabs li.active:hover {
  color: black;
}
.item-related .items {
  border-color: #ccc;
}
.item-related .name {
  color: black;
}
.item-related .currency {
  color: #dd0000;
}
.item-related .price {
  color: #dd0000;
}

.rwd_left_001 .side-menu > li {
  border-bottom: 1px dotted #ccc;
}
.rwd_left_001 .side-menu h4 {
  color: gray;
}
.rwd_left_001 .sec-menu > li > a:hover {
  color: gray;
}

.rwd_left_002 .nav-menu {
  background: #FFFFFF;
}
.rwd_left_002 .title {
  background: gray;
}
.rwd_left_002 .menu-one > li:hover > h3 > a {
  color: gray;
}
.rwd_left_002 .menu-one > li > h3 > a {
  color: #6c6c6c;
}
.rwd_left_002 .menu-one > li .fa {
  color: #cccccc;
}
.rwd_left_002 .menu-expand .cate:hover, .rwd_left_002 .menu-expand .cate:hover .menu-more {
  background: #cccccc;
}
.rwd_left_002 .menu-expand .cate > ul > li > a {
  color: #6c6c6c;
}
.rwd_left_002 .menu-expand .cate .menu-more {
  color: gray;
}
.rwd_left_002 .menu-expand h4 > a {
  color: gray;
}

.rwd_left_003 {
  background: #FFFFFF;
}
.rwd_left_003 .title-h3 {
  background: #504f47;
}

.rwd_left_004 {
  background: #FFFFFF;
}
.rwd_left_004 .title-h3 {
  background: #504f47;
}

.rwd_footer_001 {
  background-color: #cccccc;
}
.rwd_footer_001 dl a {
  color: #6c6c6c;
}
.rwd_footer_001 dl a:hover {
  color: #fa8b5f;
}
.rwd_footer_001 dt {
  color: #474747;
}

.rwd_footer_002 {
  background-color: #cccccc;
}
.rwd_footer_002 dl a {
  color: #6c6c6c;
}
.rwd_footer_002 dl a:hover {
  color: #fa8b5f;
}
.rwd_footer_002 dt {
  color: #474747;
}

.rwd-index-002 .item {
  width: 48%;
  margin: 0 1%;
}
