//-----------------_rwd_left_001
.rwd_left_001{
    .side-menu{
        >li{
            border-bottom: 1px dotted $border;
        }
        h4{
            color: $primary;
        }
    }
    .sec-menu{
        >li{
            >a{
                &:hover{
                    color: $primary;
                }
            }
        }
    }
}
//-----------------_rwd_left_001 END

//-----------------_rwd_left_002
.rwd_left_002{
    .nav-menu{
        background: $aside_bg;
    }
    .title{
        background: $primary;
    }
    .menu-one{
        >li{           
            &:hover{
                >h3>a{
                    color: $primary;
                }                
            }
            >h3>a{               
                color: $text;                
            }
            .fa{
                color: $light_gray;
            }
        }
    }
    .menu-expand{
        .cate{
            &:hover, &:hover .menu-more{
                background: $hover_bk;
            }
            >ul{   
                >li{
                    >a{
                        color: $text;
                    }
                }
            }
            .menu-more{
                color: $primary;
            }
        }
        h4{
            >a{
                color: $primary;
            }
        }
    }
}
//-----------------_rwd_left_003 END

//-----------------_rwd_left_003
.rwd_left_003{
    background: $aside_bg;
    .title-h3{
        background: $aside_title;
    }
}
//-----------------_rwd_left_003 END

//-----------------_rwd_left_004
.rwd_left_004{
    background: $aside_bg;
    .title-h3{
        background: $aside_title;
    }
}
//-----------------_rwd_left_004 END