//-----------------_rwd_index
.site-body {
    .container {
        border-bottom-color: $border;
    }
}
.rwd_index_001 {
    .swiper-container {        
        .swiper-active-switch {
            background: $primary;
        }
    }
}
.site-main{	
	.name{
		color: $items_name;
            a {
                &:hover {
                    color: $primary;
                }
            }
	}	
	.currency{
		color: $price;
	}
	.price{
		color: $price;
	}
}
.rwd_index_008 {
    .swiper-container {
        .swiper-active-switch {            
            background: $primary;
        }
    }    
}
.item-silder-type01 {
    .swiper-active-switch {
        background: $primary;
    }
}
.rwd_index_018 {
    .tabs {
        border-bottom-color: $items_name;
        & > li{
            color: $items_name;
            &.active{
                @include box-shadow($items_name 0 -2px inset);
            }
        }
    }
    .title-h3 {
        border-bottom-color: $items_name;
    }
    .more {
        &:hover {
            color: $items_name;
        }
    }
}
.rwd_index_024 {
    .tabs {
        background: $primary;
        & > li{
            color: white;
            &.active{
                color: black;
                background: white;
            }
        }
    }
    .title-h3 {
        border-bottom-color: $items_name;
    }
    .more {
        &:hover {
            color: $items_name;
        }
    }
}
@include RWD(desktop-all) {
    .rwd_index_009 {
        .items {
            background: $background;
        }
        .info {
            background: $background;
        }
        .price{
            color: $price;
        }
    }
}
//-----------------_rwd_index END