@import "../module_header/_htc_header.scss";
@import "../../front/module_category/_rwd_category_layout.scss";
@import "../../front/module_component/_nav_breadcrumbs.scss";
@import "../../front/module_component/_item_list.scss";
@import "../../front/module_component/_site_search_answer.scss";
@import "../../front/module_component/_nav_pagination.scss";
@import "../../front/module_component/_site_sort.scss";
@import "../../front/module_component/_site_filter.scss";
@import "../../front/module_footer/_rwd_footer_001.scss";
@import "../../front/module_footer/_rwd_copyright_001.scss";

//以下放置客製化style

.sort{
    float: right;
    margin-bottom: 20px;
    li:first-child a, li:last-child a{
        border-radius: 0;
    }
}
.item-list{
    .item{
        border: 1px solid #dfdfdf;
        margin-bottom: 0;
        margin-left: -1px;
        margin-top: -1px;
        position: relative;
        &:hover{
            z-index: 1;
            border: 1px solid #69b40f;
        }
    }
    .desc{
        color: #999;
    }
}
.rwd_footer_001{
    border-bottom: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
    dt{
    	border-bottom: 1px solid #dfdfdf;
    	font-size: 1.125em;
    	font-weight: 600;
    	padding-bottom: 10px;
    	line-height: 180%;
    }
    dl{
    	padding: 20px 0;
    	a{
    		font-size: 0.9em;
    	}
    }

}
.site-body{
    .nav-breadcrumbs{
        margin-top: 20px;
    }
}
@include RWD(pad-mobile) {
    .site-body .nav-breadcrumbs{
        margin-top: 50px;
    }
    .rwd_footer_001{
        dl{
            padding: 0;
            a{
                width: 100px;
            }
        }
    }
}