@import "../../front/module_header/_htc_header.scss";
@import "../../front/module_item/_rwd_item_layout.scss";
@import "../../front/module_component/_nav_breadcrumbs.scss";
@import "../../3rd-party/_idangerous.swiper.scss";
@import "../../front/module_item/_item_main.scss";
@import "../../front/module_item/_item_add.scss";
@import "../../front/module_item/_item_related.scss";
@import "../../front/module_item/_item_detail.scss";
@import "../../front/module_item/_item_spec.scss";
@import "../../front/module_item/_item_buy.scss";
@import "../../front/module_footer/_rwd_footer_001.scss";
@import "../../front/module_footer/_rwd_copyright_001.scss";


//以下放置客製化style

.item-main{
    .sale{
        border: 1px solid #e9392a;
        color: #e9392a;
        .time{
            background: #e9392a;
        }
    }
}
.rwd_footer_001{
    border-bottom: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
    dt{
    	border-bottom: 1px solid #dfdfdf;
    	font-size: 1.125em;
    	font-weight: 600;
    	padding-bottom: 10px;
    	line-height: 180%;
    }
    dl{
    	padding: 20px 0;
    	a{
    		font-size: 0.9em;
    	}
    }
}
@include RWD(pad-mobile) {
    .site-body .nav-breadcrumbs{
        margin-top: 50px;
    }
    .item-main{
        .photo{
            width: 100%;
        }
    }
    .item-buy{
        .buy{
            padding: 20px 0;
        }
    }
    .rwd_footer_001{
        dl{
            padding: 0;
            a{
                width: 100px;
            }
        }
    }
}