@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html, body {
  height: 100%;
  font-family: '微軟正黑體',Tahoma,'新細明體','Arial Unicode MS',Arial,Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html:lang(vi-vn) body {
  font-family: Segoe UI,'微軟正黑體',Tahoma,'新細明體','Arial Unicode MS',Arial,Helvetica,sans-serif;
}

* {
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, ol {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

::-webkit-search-cancel-button {
  display: none;
}

html, body {
  background: #F5F2EA;
}

header {
  background: #37475A;
  height: 150px;
}
header h1 {
  text-align: center;
  color: #00caa6;
  background: none repeat scroll 0 0 #fff;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 35px;
  height: 200px;
  line-height: 35px;
  margin: auto;
  padding: 60px 0;
  position: relative;
  top: 50px;
  width: 200px;
  font-weight: 800;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8);
}

h2 {
  color: #37475A;
  padding: 15px;
  border-bottom: 1px solid #F6F2EB;
  font-size: 25px;
  text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.2);
}

section {
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  border: 1px solid #F6F2EB;
}

.columns {
  /*@include column-count(3);
  @include column-width(315px);
  @include column-gap(15px);
  width: 90%;*/
  max-width: 1100px;
  margin: 140px auto;
  /*&:hover figure:not(:hover) {
  	@include opacity(0.4);
  }*/
}
.columns figure {
  background: #fefefe;
  border: 2px solid #fcfcfc;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  transition: opacity .4s ease-in-out;
  display: inline-block;
  column-break-inside: avoid;
  position: relative;
  overflow: hidden;
  width: 31%;
  height: 300px;
  margin: 0 1% 15px;
}
.columns figure img {
  position: relative;
  width: 100%;
  height: auto;
  /*border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;*/
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0.4;
}
.columns figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
}
.columns figure figcaption::before, .columns figure figcaption::after {
  pointer-events: none;
}
.columns figure h2 {
  position: relative;
  padding: 0.5em 0;
  border: 0;
  font-weight: 800;
  font-size: 24px;
  border: 2px solid;
  padding-left: 15px;
  margin-bottom: 15px;
}
.columns figure h2 a {
  color: #37475a;
}
.columns figure p {
  display: inline-block;
  margin: 0 0 0.25em;
  padding: 0.4em 1em;
  background: rgba(255, 255, 255, 0.9);
  color: #2f3238;
  text-transform: none;
  font-weight: 500;
  font-size: 75%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-360px, 0, 0);
  transform: translate3d(-360px, 0, 0);
}
.columns figure p:first-child {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  min-width: 100px;
}
.columns figure p:nth-of-type(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.columns figure p:nth-of-type(3) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}
.columns figure:hover {
  background: #2f3238;
}
.columns figure:hover:first-child {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.columns figure:hover:nth-of-type(2) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}
.columns figure:hover:nth-of-type(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.columns figure:hover img {
  opacity: 0.4;
  -webkit-transform: scale3d(1.1, 1.1, 1);
  transform: scale3d(1.1, 1.1, 1);
}
.columns figure:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.columns figure:hover figcaption a h2 {
  color: #fff;
  cursor: pointer;
}

.link {
  color: black;
  padding: 0 5px;
  margin-right: 5px;
  background: #fff;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  display: inline-block;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
}
.link.gray {
  color: white;
  background: #6c6c6c;
}
.link.pink {
  color: white;
  background: #e57999;
}
.link.black {
  color: white;
  background: black;
}
.link.blue {
  color: white;
  background: #00a8ff;
}
.link.gold {
  color: white;
  background: #C4A265;
}
.link.green {
  color: white;
  background: #90BF4F;
}
.link.purple {
  color: white;
  background: #827BB9;
}
.link.red {
  color: white;
  background: #E00517;
}
.link.orange {
  color: white;
  background: #FF9A23;
}

footer {
  text-align: center;
  padding: 20px;
}

@media (max-width: 999px) {
  .columns figure {
    width: 45.5%;
    margin: 0 2% 15px;
  }
}
@media screen and (max-width: 659px) {
  .columns figure {
    width: 90%;
    margin: 0 5% 15px;
  }
}
