html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, ol {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

html, body {
  height: 100%;
  font-family: '微軟正黑體', Arial, Helvetica, sans-serif;
}

body {
  padding-top: 76px;
}

.container {
  border: none;
  line-height: 140%;
  margin-bottom: 60px;
}

* {
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: black;
}

.text-red {
  color: #ff3300;
}

.text-black {
  color: black;
}

.text-gray {
  color: #6c6c6c;
}

input[type='password'], input[type='email'], input[type='tel'], input[type='text'], input[type='number'], input[type='search'] {
  -webkit-appearance: none;
  font-family: 'Arial Unicode MS', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  border: 1px solid #cccccc;
  font-size: 1em;
  color: #6c6c6c;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
input[type='password']:focus, input[type='email']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='number']:focus, input[type='search']:focus {
  outline: none;
}

input[type='checkbox'], input[type='radio'] {
  margin: 0;
}

.hide {
  display: none;
}

.container, .clearfix {
  zoom: 1;
}
.container:after, .clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.container {
  position: relative;
  margin: 0 auto;
}
@media (min-width: 1238px) {
  .container {
    width: 1220px;
  }
}
@media (min-width: 1000px) and (max-width: 1237px) {
  .container {
    width: 960px;
  }
}
@media (max-width: 999px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 999px) {
  .hidden-pad {
    display: none;
  }
}

@media (min-width: 1000px) {
  .hidden-desktop {
    display: none;
  }
}

.doc-header {
  background: #259ed6;
  padding: 80px 15px;
}
.doc-header h1 {
  font-size: 50px;
  margin-right: 380px;
  margin-bottom: 20px;
  color: white;
}
.doc-header p {
  font-size: 20px;
  color: #c1e3f3;
  line-height: 1.4;
}

.block {
  padding: 80px 0;
  border-bottom: 1px solid #cccccc;
}
.block h1 {
  font-size: 30px;
  margin: 15px 0 30px;
  line-height: 1.1;
}
.block h1.page-header {
  padding-bottom: 9px;
  margin: 0 0 20px;
  border-bottom: 1px solid #ddd;
  font-size: 24px;
}
.block h2 {
  font-size: 1.25em;
  margin: 20px 0 10px;
  color: black;
}
.block ul {
  margin: 10px 0 0 25px;
}
.block li {
  list-style: decimal inside;
  line-height: 220%;
}
.block .lead {
  font-size: 21px;
  margin-bottom: 20px;
}
.block p {
  margin: 0 0 10px;
}

table {
  border: 1px solid #ddd;
  text-align: left;
}
table th {
  padding: 8px;
  border: 1px solid #ddd;
}
table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.button {
  cursor: pointer;
  -webkit-appearance: none;
  font-size: 12px;
  color: white;
  text-decoration: none;
  white-space: nowrap;
  width: auto;
  text-align: center;
  line-height: 28px;
  height: 28px;
  border: none;
  background: #259ed6;
  padding: 0 1.25em;
  margin: 0;
  font-family: '微軟正黑體';
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.button:hover {
  color: white;
  text-decoration: none;
  background: #2290c6;
}
.button.disabled, .button[disabled] {
  cursor: default;
}
.button[type=reset], .button[type=button], .button[type=submit] {
  font-family: inherit;
  border: 0 none;
  margin: 0;
}
.button:active, .button.pressed {
  background: #0066a0;
}
.button.large {
  font-size: 15px;
  padding: 0 1.25em;
  height: 32px;
  line-height: 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.button.btn-rush, .button .btn-addcart {
  background: #259ed6;
}
.button.btn-rush:hover, .button .btn-addcart:hover {
  background: #2290c6;
}
.button.btn-rush:active, .button.btn-rush.pressed, .button .btn-addcart:active, .button .btn-addcart.pressed {
  background: #0066a0;
}
.button.btn-add {
  background: #259ed6;
  font-size: 0.8em;
  height: 22px;
  line-height: 18px;
}
.button.btn-add:hover {
  background: #2290c6;
}
.button.btn-add:active, .button.btn-add.pressed {
  background: #0066a0;
}
.button.btn-discount, .button.red {
  background: #dd0000;
}
.button.btn-discount:hover, .button.red:hover {
  background: #ff3300;
}
.button.btn-discount:active, .button.btn-discount.pressed, .button.red:active, .button.red.pressed {
  background: #9e1621;
}
.button.btn-preorder, .button.yellow {
  background: #ffcc21;
  color: black;
}
.button.btn-preorder:hover, .button.yellow:hover {
  background: #fdde76;
}
.button.btn-preorder:active, .button.btn-preorder.pressed, .button.yellow:active, .button.yellow.pressed {
  background: #e8b222;
}
.button.gray {
  background: #6c6c6c;
  color: white;
}
.button.gray:hover {
  background: #cccccc;
  color: #6c6c6c;
}
.button.gray.disabled, .button.gray[disabled] {
  color: #6c6c6c;
  background: #cccccc;
}
.button.gray:active, .button.gray.pressed {
  background: #3c3c3c;
}
.button.gray:active.large, .button.gray.pressed.large {
  background: #6c6c6c;
  color: white;
}

.message {
  font-size: 1.2em;
  font-weight: 800;
  height: 32px;
}
.message.to-stock {
  color: #ff5500;
}
.message.to-sale {
  color: #017601;
}
.message.preorder-finish {
  color: #6c6c6c;
}
.message.rushout {
  color: #6c6c6c;
}
.message.soldout {
  color: #6c6c6c;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-top: 3px solid #259ed6;
  border-bottom: 1px solid #cccccc;
  background: rgba(255, 255, 255, 0.95);
  z-index: 10;
}
.header .logo {
  margin-top: 8px;
  display: inline-block;
}

.nav-menu {
  display: inline-block;
  vertical-align: top;
  margin-top: 37px;
  float: right;
}
.nav-menu {
  zoom: 1;
}
.nav-menu:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.nav-menu > li {
  float: left;
  position: relative;
}
.nav-menu > li a {
  padding: 12px 22px;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.nav-menu > li a:hover {
  color: #259ed6;
  text-decoration: underline;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.nav-menu > li .button {
  margin: 0 12px;
}
.nav-menu .sub {
  position: absolute;
  top: 100%;
  left: -10px;
  background: #2d2d2d;
  padding: 10px;
  border-radius: 2px;
}
.nav-menu .sub > li {
  padding: 6px;
}
.nav-menu .sub a {
  padding: 0;
  color: #eee;
  word-break: keep-all;
}

@media (min-width: 1000px) {
  .header .fa-align-justify {
    display: none;
  }
}
@media (max-width: 999px) {
  .header .fa-align-justify {
    float: right;
    font-size: 30px;
    color: #6c6c6c;
    font-weight: 300;
    padding: 17px 21px;
  }

  .nav-menu {
    display: none;
  }
}
.footer {
  margin-top: 100px;
  padding: 40px 0;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

.nav-main {
  zoom: 1;
}
.nav-main:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.nav-main ul > li {
  float: left;
  padding: 10px;
}

.nav-user {
  float: right;
}
.nav-user {
  zoom: 1;
}
.nav-user:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.nav-user ul > li {
  float: left;
  padding: 10px;
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
  position: relative;
}

.fancybox-inner {
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

.fancybox-close {
  position: relative;
}
.fancybox-close:before {
  content: ".";
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(../../../assets/c/img/frame/icon.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (max--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .fancybox-close:before {
    background-image: url(../../../assets/c/img/frame/icon_retina.png);
    background-size: 400px 400px;
  }
}
.fancybox-close:before {
  width: 25px;
  padding-top: 25px;
  background-position: -260px 0px;
  top: -5px;
  left: 0px;
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("fancybox_loading.gif") center center no-repeat;
}

.fancybox-close {
  position: absolute;
  top: 10px;
  right: -3px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 8040;
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

.fancybox-nav:hover span {
  visibility: visible;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}

.fancybox-lock body {
  overflow: hidden !important;
}

.fancybox-lock-test {
  overflow-y: hidden !important;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("../../../assets/c/img/frame/fancybox_overlay.png");
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("fancybox_sprite@2x.png");
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/
  }

  #fancybox-loading div {
    background-image: url("fancybox_loading@2x.gif");
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
}
.fancybox-wrap {
  border: 10px solid rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.fancybox-inner .title {
  padding: 5px 10px;
  font-weight: bold;
  background: #484747;
  color: #cccccc;
  line-height: 180%;
}
.fancybox-inner .block {
  position: relative;
  background: white;
  line-height: 180%;
  padding: 15px;
}
.fancybox-inner .block .line {
  font-size: 0.9em;
  padding: 0 10px;
}
.fancybox-inner .block .line .button {
  vertical-align: top;
}
.fancybox-inner .block .head {
  display: inline-block;
  width: 85px;
  margin-right: 10px;
  text-align: right;
  vertical-align: top;
}
.fancybox-inner .block .red-price {
  color: #dd0000;
  font-weight: bold;
}
.fancybox-inner .block .final-price {
  vertical-align: top;
  padding-right: 10px;
  line-height: 220%;
  font-weight: bold;
  color: #dd0000;
}
.fancybox-inner .block hr {
  margin: 10px 0;
}
.fancybox-inner .quantity {
  display: inline-block;
  margin-right: 10px;
}
.fancybox-inner .quantity {
  zoom: 1;
}
.fancybox-inner .quantity:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.fancybox-inner .quantity li {
  float: left;
  border: 1px solid #cccccc;
  margin-left: 0;
  background: white;
  width: 48px;
  height: 32px;
  line-height: 16px;
}
.fancybox-inner .quantity li:first-child, .fancybox-inner .quantity li:last-child {
  border-right: none;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
  width: 32px;
}
.fancybox-inner .quantity li:last-child {
  border-left: none;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
  border-right: 1px solid #cccccc;
}
.fancybox-inner .quantity li .type {
  display: block;
  color: black;
  padding: 6px 0;
  text-align: center;
}
.fancybox-inner .quantity li input {
  width: 46px;
  height: 30px;
  border: 0;
  font-size: 1em;
}
.fancybox-inner .prod-name {
  font-weight: bold;
  color: #259ed6;
  margin-right: 5px;
}
.fancybox-inner .actions {
  text-align: center;
  margin-top: 20px;
}

.quantity-add {
  position: relative;
}

.quantity-alert {
  position: absolute;
  left: -66px;
  top: -120%;
  background: black;
  color: #cccccc;
  min-width: 160px;
  padding: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.quantity-alert:after {
  position: absolute;
  bottom: -30%;
  left: 45%;
  content: '';
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #000000 transparent transparent transparent;
}

.quantity {
  border: 1px solid #6c6c6c;
  display: inline-block;
  float: left;
  margin-right: 10px;
}
.quantity {
  zoom: 1;
}
.quantity:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.quantity .quantity-input {
  width: 46px;
  height: 30px;
  margin: 0;
  border: 0;
  text-align: center;
  font-size: 1em;
}
.quantity .quantity-decrease {
  cursor: pointer;
  padding: 6px;
}
.quantity .quantity-increase {
  cursor: pointer;
  padding: 6px;
}

.error {
  text-align: center;
  margin: 100px auto 150px;
}
.error h1 {
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 30px;
}
.error ul {
  display: inline-block;
  list-style: disc;
}
.error li {
  text-align: left;
  margin-bottom: 20px;
}
.error .actions {
  margin-top: 30px;
}

@media only screen and (max-width: 767px) {
  .error {
    margin: 30px auto 50px;
    padding: 0 40px;
  }
  .error li {
    font-size: 0.8em;
  }
}
/* desert scheme ported from vim to google prettify */
pre .nocode {
  background-color: none;
  color: black;
}

pre .str {
  color: #ffa0a0;
}

/* string  - pink */
pre .kwd {
  color: #f0e68c;
  font-weight: bold;
}

pre .com {
  color: skyblue;
}

/* comment - skyblue */
pre .typ {
  color: palegreen;
}

/* type    - lightgreen */
pre .lit {
  color: #006699;
}

/* literal - darkred */
pre .pun {
  color: #333333;
}

/* punctuation */
pre .pln {
  color: orange;
}

/* plaintext */
pre .tag {
  color: #f0e68c;
  font-weight: bold;
}

/* html/xml tag    - lightyellow */
pre .atn {
  color: #bdb76b;
  font-weight: bold;
}

/* attribute name  - khaki */
pre .atv {
  color: #ffa0a0;
}

/* attribute value - pink */
pre .dec {
  color: palegreen;
}

/* decimal         - lightgreen */
.container pre.prettyprint {
  display: block;
  background-color: #f7f7f9;
  padding: 9px 14px;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  margin-bottom: 14px;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae;
}

/* IE indents via margin-left */
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
  list-style-type: none;
}

/* Alternate shading for lines */
@media print {
  pre.prettyprint {
    background-color: none;
  }

  pre .str, code .str {
    color: #006600;
  }

  pre .kwd, code .kwd {
    color: #006;
    font-weight: bold;
  }

  pre .com, code .com {
    color: #600;
    font-style: italic;
  }

  pre .typ, code .typ {
    color: #404;
    font-weight: bold;
  }

  pre .lit, code .lit {
    color: #004444;
  }

  pre .pun, code .pun {
    color: #444400;
  }

  pre .pln, code .pln {
    color: black;
  }

  pre .tag, code .tag {
    color: #006;
    font-weight: bold;
  }

  pre .atn, code .atn {
    color: #440044;
  }

  pre .atv, code .atv {
    color: #006600;
  }
}
