html, body {
  padding: 0;
  height: auto;
}

.site-body, .site-main {
  width: 100%;
}

.item-main {
  padding-bottom: 0;
}
.item-main .photo {
  width: 36%;
  height: auto;
  float: left;
  padding: 75px 0 0;
}
.item-main .photo img {
  position: static;
  border: none;
  max-width: 190px;
  display: block;
  margin: 0 auto;
}
.item-main .info {
  width: 60%;
  padding: 75px 0 0 10px;
  border: none;
}
.item-main .info h1 {
  width: 100% !important;
  max-height: 60px;
  padding: 6px 5px;
  margin-bottom: 5px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  background: #d00;
  color: white;
  font-size: 18px !important;
  line-height: 1.4;
}
.item-main .info .line {
  margin: 2px 0;
}
.item-main .info .line + line + line {
  margin-bottom: 10px;
}
.item-main .info .value {
  width: 78%;
}
.item-main .info .price {
  font-size: 24px;
  margin: 0;
}
.item-main .info .currency {
  font-size: 12px;
}
.item-main .feature {
  display: none;
}

.item-buy {
  text-align: right;
  margin: 30px 30px 0 0;
}

@media screen and (max-width: 480px) {
  .item-main .photo img {
    max-width: 230px;
    padding: 0;
  }
  .item-main .photo, .item-main .info {
    width: 100%;
    padding-top: 70px;
  }
  .item-main .info {
    padding: 10px 10px 0;
  }
  .item-main .value, .item-main .buy {
    width: 100%;
  }
  .item-main .recomand_price .value, .item-main .recomand_price .key {
    width: 100%;
    text-align: right;
  }
  .item-main .net_price .buy, .item-main .net_price .key {
    width: 100%;
    text-align: right;
  }

  .item-buy {
    text-align: right;
    margin: 30px 10px;
    padding-bottom: 70px;
  }
}
.item-main {
  line-height: 1.9;
  font-size: 14px;
}
.item-main {
  zoom: 1;
}
.item-main:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.item-main .photo {
  position: relative;
  overflow: hidden;
}
.item-main .info {
  float: left;
}
.item-main .info h1 {
  background: #0d0d0d;
}
.item-main h1.name {
  float: left;
  min-height: 30px;
  word-wrap: break-word;
  text-align: left;
}
.item-main .hlight {
  -webkit-box-shadow: 0px 0px 1px 2px #e00517;
  -moz-box-shadow: 0px 0px 1px 2px #e00517;
  box-shadow: 0px 0px 1px 2px #e00517;
}
.item-main .line {
  padding: 5px 0 5px 5px;
  text-align: left;
}
.item-main .line {
  zoom: 1;
}
.item-main .line:after, .item-main .line:before {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.item-main .key {
  float: left;
  vertical-align: top;
  word-wrap: break-word;
  text-align: justify;
  text-justify: inter-ideograph;
  width: 100px;
  font-size: 1em;
}
.item-main .value {
  display: block;
  margin-bottom: 10px;
  float: left;
  position: relative;
  z-index: 0;
}
.item-main .value + .value {
  margin-left: 100px;
}
.item-main .value > li {
  padding: 9px 8px;
  margin: 0 8px 8px 0;
  cursor: pointer;
  height: 32px;
  border: 1px solid #cccccc;
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  vertical-align: top;
  position: relative;
  z-index: 0;
}
.item-main .value > li.img {
  padding: 1px;
}
.item-main .value > li img {
  height: 100%;
  display: block;
  width: 28px;
  text-align: center;
  position: relative;
  z-index: 0;
}
.item-main .value .active {
  position: relative;
  border: 1px solid #14b3e5;
  color: #14b3e5;
  z-index: 0;
}
.item-main .value .active:after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  border-style: solid;
  border-width: 0 0 15px 15px;
  border-color: transparent transparent #14b3e5 transparent;
  z-index: 10;
}
.item-main .value .active .type {
  padding: 3px;
}
.item-main .value .active .fa {
  position: absolute;
  right: -1px;
  bottom: -2px;
  color: white;
  font-size: 12px;
  z-index: 99;
  -ms-transform: scale(0.8, 0.8);
  /* IE 9 */
  -webkit-transform: scale(0.8, 0.8);
  /* Chrome, Safari, Opera */
  transform: scale(0.8, 0.8);
}
.item-main .value .disabled {
  position: relative;
  cursor: not-allowed;
  border: 1px dashed #cccccc;
}
.item-main .value .disabled .fa {
  position: absolute;
  right: 2px;
  bottom: 0px;
  color: #cccccc;
  font-size: 16px;
  z-index: 3;
}
.item-main .value .item {
  display: block;
  margin-right: 15px;
}
.item-main .value .name {
  font-size: 13px;
  margin-right: 5px;
}
.item-main .value .name a {
  margin-right: 5px;
}
.item-main .label {
  display: inline-block;
  font-size: 14px;
  line-height: 1.9;
}
.item-main .pick {
  margin: 0 0 0 0;
}
.item-main .link {
  font-size: 14px;
}
.item-main .buy {
  display: inline-block;
}
.item-main del {
  font-size: 10px;
  margin-right: 5px;
}
.item-main .discount-mark {
  display: inline-block;
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin-right: 3px;
  margin-bottom: 4px;
  padding: 1px 5px;
  background: #dd0000;
}
.item-main .currency {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 7px;
}
.item-main .price {
  line-height: 1.45;
  display: inline-block;
  vertical-align: bottom;
}
.item-main .quantity {
  vertical-align: bottom;
  margin-right: 10px;
  margin-bottom: 5px;
}
.item-main .button {
  margin-bottom: 5px;
}
.item-main .arrival-info-btn {
  width: 100%;
  position: relative;
  clear: both;
}
.item-main .arrival-info-btn {
  zoom: 1;
}
.item-main .arrival-info-btn:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.item-main .btn-arrival {
  float: right;
  margin-top: 5px;
  padding: 3px 13px;
  display: block;
}
.item-main .highlight {
  clear: both;
  margin-top: 5px;
  font-size: 12px;
  text-align: right;
}
.item-main .highlight span {
  margin-left: 15px;
}
.item-main .payinfo {
  width: 100%;
  margin: 10px 0 10px;
}
.item-main .payinfo {
  zoom: 1;
}
.item-main .payinfo:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.item-main .payinfo a:hover {
  color: #90c8f2;
}
.item-main .other-pay {
  margin-top: 5px;
}
.item-main .other-pay {
  zoom: 1;
}
.item-main .other-pay:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.item-main .icon-seven {
  float: left;
}
.item-main .icon-seven::before {
  margin-right: 6px;
  top: -2px;
}
.item-main .icon-fami {
  float: left;
  margin-right: 6px;
  margin-top: -2px;
}
.item-main .pay {
  font-size: 12px;
}
.item-main .pay i {
  margin-right: 3px;
}
.item-main .pay a {
  margin-left: 10px;
}
