@charset "UTF-8";
/* index共用區塊 開始 */
.site-body {
  padding-bottom: 40px;
}
.site-body .container {
  padding: 0 0 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.site-main .feature li {
  width: 100%;
  word-break: break-all;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.site-main .name {
  font-size: 1.2em;
  height: 53px;
  margin-bottom: 10px;
  overflow: hidden;
  font-weight: 700;
  line-height: 1.4;
  word-wrap: break-word;
  word-break: break-word;
}
.site-main .buy .currency {
  display: inline-block;
  vertical-align: -3px;
}
.site-main .buy .price {
  display: inline-block;
  vertical-align: middle;
}
.site-main .buy .button {
  margin: 5px 0;
}

@media (max-width: 999px) {
  .site-body {
    padding: 0;
  }
  .site-body .container {
    padding: 0;
  }
}
@media (max-width: 999px) {
  .site-main .feature li {
    width: 330px;
  }
}
@media (max-width: 767px) {
  .site-main .feature li {
    width: 180px;
  }
}
@media screen and (max-width: 480px) {
  .site-main .feature li {
    width: 130px;
  }
}
.item .photo {
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  float: left;
}
.item .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

/* index共用區塊 結束 */
.error {
  text-align: center;
  margin: 100px auto 150px;
}
.error h1 {
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 30px;
}
.error ul {
  display: inline-block;
  list-style: disc;
}
.error li {
  text-align: left;
  margin-bottom: 20px;
}
.error .actions {
  margin-top: 30px;
}

@media only screen and (max-width: 767px) {
  .error {
    margin: 30px auto 50px;
    padding: 0 40px;
  }
  .error li {
    font-size: 0.8em;
  }
}
@media (max-width: 999px) {
  .site-body .container {
    padding-bottom: 20px;
  }
}
