@charset "UTF-8";
.rwd_index_026 {
  font-size: 0;
}
.rwd_index_026 img {
  width: 100%;
}
.rwd_index_026 .item-a {
  margin-bottom: 10px;
  width: 100%;
}
.rwd_index_026 .item-b {
  padding: 12px 0;
  width: 100%;
}
.rwd_index_026 .item-b {
  zoom: 1;
}
.rwd_index_026 .item-b:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.rwd_index_026 .item-b a {
  float: left;
  display: inline-block;
}
.rwd_index_026 .item-b .b1 {
  width: 32.3%;
  margin-right: 1.2%;
}
.rwd_index_026 .item-b .b2, .rwd_index_026 .item-b .b3 {
  width: 66.5%;
}
.rwd_index_026 .item-b .b2 {
  vertical-align: top;
  margin-bottom: 13px;
}
.rwd_index_026 .item-b .b3 {
  float: left;
}
.rwd_index_026 .item-b .b3 a {
  width: 49.2%;
  margin-right: 1.6%;
}
.rwd_index_026 .item-b .b3 a:last-child {
  margin-right: 0;
}
.rwd_index_026 .m-index {
  display: none;
  font-size: 18px;
  padding: 15px 10px 20px 10px;
}
.rwd_index_026 .m-index li {
  display: block;
  border: 1px solid #e9e9e9;
  margin-bottom: 20px;
  letter-spacing: 2px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}
.rwd_index_026 .m-index li:last-child {
  margin-bottom: 0;
}
.rwd_index_026 .m-index li .fa {
  font-size: 16px;
  color: #868283;
  position: absolute;
  top: 18px;
  right: 12px;
}
.rwd_index_026 .m-index li span {
  position: absolute;
  left: 16px;
  top: 13%;
}
.rwd_index_026 .m-index a {
  display: block;
  padding: 15px;
}
@media (min-width: 1000px) and (max-width: 1237px) {
  .rwd_index_026 .item-b .b2 {
    margin-bottom: 11px;
  }
}
@media (max-width: 767px) {
  .rwd_index_026 .item-a, .rwd_index_026 .item-b {
    display: none;
  }
  .rwd_index_026 .m-index {
    display: block;
  }
}

/* index共用區塊 開始 */
.site-body {
  padding-bottom: 40px;
}
.site-body .container {
  padding: 0 0 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.site-main .feature li {
  width: 100%;
  word-break: break-all;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.site-main .name {
  font-size: 1.2em;
  height: 53px;
  margin-bottom: 10px;
  overflow: hidden;
  font-weight: 700;
  line-height: 1.4;
  word-wrap: break-word;
  word-break: break-word;
}
.site-main .buy .currency {
  display: inline-block;
  vertical-align: -3px;
}
.site-main .buy .price {
  display: inline-block;
  vertical-align: middle;
}
.site-main .buy .button {
  margin: 5px 0;
}

@media (max-width: 999px) {
  .site-body {
    padding: 0;
  }
  .site-body .container {
    padding: 0;
  }
}
@media (max-width: 999px) {
  .site-main .feature li {
    width: 330px;
  }
}
@media (max-width: 767px) {
  .site-main .feature li {
    width: 180px;
  }
}
@media screen and (max-width: 480px) {
  .site-main .feature li {
    width: 130px;
  }
}
.item .photo {
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  float: left;
}
.item .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

/* index共用區塊 結束 */
.site-main .feature {
  display: none;
}

.rwd-index-002.trans-002 .container {
  border-bottom: 0;
  padding: 15px 0 0px 0;
}
.rwd-index-002.trans-002 .item {
  width: 49.2%;
  margin: 0;
  margin-right: 1.6%;
}
.rwd-index-002.trans-002 .item:last-child {
  margin-right: 0;
}
.rwd-index-002.trans-002 .title-h3 {
  display: none;
}
