@charset "UTF-8";
.title-h3 {
  border-left-width: 3px;
  border-left-style: solid;
  padding: 3px 0 3px 10px;
  line-height: 1;
}

.site-body {
  padding-bottom: 40px;
}
.site-body .container {
  padding: 10px 0;
}

@media (max-width: 999px) {
  .site-body {
    padding: 0;
  }
  .site-body .container {
    padding: 0;
  }
}
.nav-breadcrumbs .container {
  padding: 15px 0;
}
.nav-breadcrumbs .fa {
  margin-right: 8px;
}
.nav-breadcrumbs .index {
  position: relative;
  font-weight: bold;
}
.nav-breadcrumbs .cate {
  display: inline-block;
}
.nav-breadcrumbs .locate {
  margin-left: 20px;
}
.nav-breadcrumbs .bread-item-name {
  font-size: 1.12em;
  font-weight: bold;
  color: black;
}

@media (max-width: 999px) {
  .nav-breadcrumbs {
    margin: 10px;
  }
}
@media (max-width: 767px) {
  .nav-breadcrumbs {
    margin: 20px 0 10px 10px;
  }
}
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  -webkit-transition-property: -webkit-transform, left, top;
  -webkit-transition-duration: 0s;
  -webkit-transform: translate3d(0px, 0, 0);
  -webkit-transition-timing-function: ease;
  -moz-transition-property: -moz-transform, left, top;
  -moz-transition-duration: 0s;
  -moz-transform: translate3d(0px, 0, 0);
  -moz-transition-timing-function: ease;
  -o-transition-property: -o-transform, left, top;
  -o-transition-duration: 0s;
  -o-transform: translate3d(0px, 0, 0);
  -o-transition-timing-function: ease;
  -o-transform: translate(0px, 0px);
  -ms-transition-property: -ms-transform, left, top;
  -ms-transition-duration: 0s;
  -ms-transform: translate3d(0px, 0, 0);
  -ms-transition-timing-function: ease;
  transition-property: transform, left, top;
  transition-duration: 0s;
  transform: translate3d(0px, 0, 0);
  transition-timing-function: ease;
}

.swiper-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  float: left;
}

.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
}

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
}

.item-main_002 {
  line-height: 1.9;
  font-size: 14px;
}
.item-main_002 {
  zoom: 1;
}
.item-main_002:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.item-main_002 .item-main-left {
  float: left;
  width: 40%;
  position: relative;
}
.item-main_002 .photo {
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  float: left;
}
.item-main_002 .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.item-main_002 .swiper-slide {
  width: 100%;
  position: relative;
}
.item-main_002 .photo-other {
  width: 76%;
  margin: 5px auto 0 auto;
  font-size: 0;
}
.item-main_002 .photo-other img {
  width: 17%;
  margin: 5px 1.5%;
  opacity: 0.7;
  display: inline-block;
  position: static;
  border: 1px solid #cccccc;
}
.item-main_002 .photo-other img:hover {
  opacity: 1;
  border: 2px solid #cccccc;
  cursor: pointer;
}
.item-main_002 .photo-other img.active {
  opacity: 1;
  border: 2px solid #cccccc;
  cursor: pointer;
}
.item-main_002 .info {
  float: left;
  width: 60%;
  padding: 0 10px 0 30px;
}
.item-main_002 .name {
  font-size: 1.8em;
  line-height: 1.25;
  text-align: center;
  min-height: 30px;
  margin-bottom: 7px;
  word-wrap: break-word;
  color: #333;
}
.item-main_002 .feature {
  padding: 0 10px 7px;
  text-align: center;
}
.item-main_002 .feature li {
  color: #666;
  font-size: 1em;
  word-wrap: break-word;
}
.item-main_002 .price-box {
  text-align: center;
  color: #d00;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 7px;
  margin-bottom: 10px;
}
.item-main_002 .price-box del {
  display: inline-block;
  font-size: 15px;
  margin: 0 5px 0 0;
  color: #333;
  vertical-align: 5px;
}
.item-main_002 .discount-mark {
  display: inline-block;
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin-right: 3px;
  margin-bottom: 4px;
  padding: 1px 5px;
  background: #d00;
}
.item-main_002 .currency {
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 5px;
}
.item-main_002 .price {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.45;
  display: inline-block;
  margin-right: 10px;
  vertical-align: bottom;
  margin-bottom: 5px;
}
.item-main_002 .line {
  margin-bottom: 5px;
  padding: 5px;
  text-align: center;
}
.item-main_002 .line {
  zoom: 1;
}
.item-main_002 .line:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.item-main_002 .i-spec .value {
  margin-bottom: 0;
}
.item-main_002 .key {
  display: inline-block;
  vertical-align: middle;
  word-wrap: break-word;
  text-align: right;
  font-size: 0.95em;
  margin-right: 5px;
  padding: 2px 0;
}
.item-main_002 .quantity-s {
  display: inline-block;
  padding: 3px 3px 1px;
}
.item-main_002 .buy .button {
  margin-bottom: 10px;
  padding: 5px 0;
  width: 275px;
  height: 35px;
  font-size: 1.3em;
}
.item-main_002 .follow-share {
  padding-bottom: 14px;
  margin: 0 -5px 4px -5px;
}
.item-main_002 .follow-share li {
  display: inline-block;
  font-size: 12px;
}
.item-main_002 .follow-share li:after {
  content: "|";
  font-size: 8px;
  color: #e9e9e9;
  display: inline-block;
  margin: 0 10px;
  vertical-align: -1px;
}
.item-main_002 .follow-share li:last-child:after {
  font-size: 0px;
}
.item-main_002 .btn-arrival {
  padding: 0;
  background-color: transparent;
  font-weight: bold;
  color: #00a8ff;
}
.item-main_002 .btn-arrival:before {
  content: "";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
  margin-right: 3px;
  font-size: 11px;
  vertical-align: 1px;
}
.item-main_002 .btn-arrival:hover {
  background-color: transparent;
  opacity: 0.6;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
}
.item-main_002 .btn-arrival:hover:before {
  content: '\f0f3';
}
.item-main_002 .btn-follow-list {
  padding: 0;
  background-color: transparent;
  font-weight: bold;
  color: #d00;
}
.item-main_002 .btn-follow-list:before {
  content: "";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
  margin-right: 3px;
}
.item-main_002 .btn-follow-list:hover {
  background-color: transparent;
  opacity: 0.6;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
}
.item-main_002 .btn-follow-list:hover:before {
  content: '\f004';
}
.item-main_002 .social-plugins {
  display: inline-block;
  vertical-align: -5px;
}
.item-main_002 .social-plugins .each_plugin {
  display: inline-block;
  margin-right: 8px;
}
.item-main_002 .social-plugins .each_plugin a {
  display: block;
  font-size: 0;
}
.item-main_002 .social-plugins .each_plugin img {
  width: 20px;
}
.item-main_002 .value {
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
  z-index: 0;
}
.item-main_002 .value + .value {
  margin-left: 100px;
}
.item-main_002 .value > li {
  padding: 9px 8px;
  margin: 0 8px 8px 0;
  cursor: pointer;
  height: 32px;
  border: 1px solid #cccccc;
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  vertical-align: top;
  position: relative;
  z-index: 0;
}
.item-main_002 .value > li.img {
  padding: 1px;
}
.item-main_002 .value > li img {
  height: 100%;
  display: block;
  width: 28px;
  text-align: center;
  position: relative;
  z-index: 0;
}
.item-main_002 .value .active {
  position: relative;
  border: 1px solid black;
  color: black;
  z-index: 0;
}
.item-main_002 .value .active:after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  border-style: solid;
  border-width: 0 0 15px 15px;
  border-color: transparent transparent black transparent;
  z-index: 10;
}
.item-main_002 .value .active .type {
  padding: 3px;
}
.item-main_002 .value .active .fa {
  position: absolute;
  right: -1px;
  bottom: -2px;
  color: white;
  font-size: 12px;
  z-index: 99;
  -ms-transform: scale(0.8, 0.8);
  /* IE 9 */
  -webkit-transform: scale(0.8, 0.8);
  /* Chrome, Safari, Opera */
  transform: scale(0.8, 0.8);
}
.item-main_002 .value .disabled {
  position: relative;
  cursor: not-allowed;
  border: 1px dashed #cccccc;
}
.item-main_002 .value .disabled .fa {
  position: absolute;
  right: 2px;
  bottom: 0px;
  color: #cccccc;
  font-size: 16px;
  z-index: 3;
}
.item-main_002 .value .item {
  display: block;
  margin-right: 15px;
}
.item-main_002 .value .name {
  font-size: 13px;
}
.item-main_002 .value .name a {
  margin-right: 5px;
}
.item-main_002 .i-detail {
  padding: 0 5px;
  margin-bottom: 0;
  border-top: 1px solid #cccccc;
}
.item-main_002 .i-detail li {
  border-bottom: 1px solid #cccccc;
  line-height: 1.95em;
  text-align: center;
  color: #666;
  letter-spacing: 0.1em;
  padding-bottom: 12px;
}
.item-main_002 .i-detail .i-d-title {
  padding: 12px 5px 13px 5px;
  font-size: 0.95em;
  line-height: 1.5em;
  width: 100%;
  position: relative;
  cursor: pointer;
}
.item-main_002 .i-detail .i-d-title:after {
  content: "";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 14px;
}
.item-main_002 .i-detail .i-d-title.i-d-active {
  color: #333;
  font-weight: bold;
}
.item-main_002 .i-detail .i-d-title.i-d-active:after {
  content: '\f0d7';
}
.item-main_002 .i-detail .i-d-content {
  padding-bottom: 12px;
  font-size: 0.95em;
  line-height: 1.8;
  display: none;
}
.item-main_002 .i-detail .i-d-content.i-d-active {
  display: block;
}

.item-slider-001 .pagination {
  width: 100%;
  margin: 5px auto;
  text-align: center;
  display: none;
}
.item-slider-001 .swiper-pagination-switch {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 10px;
  background: #d2d2d2;
  margin: 0 3px;
  cursor: pointer;
}
.item-slider-001 .swiper-active-switch {
  width: 30px;
}
.item-slider-001 .arrow {
  display: none;
  color: #d2d2d2;
  font-size: 3em;
  top: 45%;
  margin-top: -25px;
  opacity: 0.5;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}
.item-slider-001 .arrow.arrow-left {
  left: 5px;
}
.item-slider-001 .arrow.arrow-right {
  right: 5px;
}
.item-slider-001 .arrow:hover {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
@media (max-width: 999px) {
  .item-slider-001 .pagination {
    display: block;
  }
}
@media screen and (max-width: 568px) {
  .item-slider-001 .pagination {
    margin: 0 auto;
  }
  .item-slider-001 .swiper-pagination-switch {
    width: 5px;
    height: 5px;
  }
  .item-slider-001 .swiper-active-switch {
    width: 20px;
  }
}

@media (min-width: 1000px) and (max-width: 1237px) {
  .container {
    width: 936px;
  }

  .item-main_002 .photo-other {
    width: 96.68%;
  }
  .item-main_002 figcaption .buy {
    margin-right: 0;
  }
  .item-main_002 .add label.rule {
    width: 348px;
  }
}
@media (max-width: 999px) {
  .item-main_002 {
    padding-bottom: 10px;
  }
  .item-main_002 .photo {
    width: 100%;
    padding-top: 48%;
  }
  .item-main_002 .photo-other {
    display: none;
  }
  .item-main_002 .item-main-left {
    width: 100%;
  }
  .item-main_002 .info {
    width: 100%;
    padding: 15px 0 0;
  }
  .item-main_002 .info .name {
    margin-bottom: 10px;
  }
  .item-main_002 .i-detail {
    padding: 0px;
  }
}
@media (max-width: 767px) {
  .item-main_002 .info .feature li {
    font-size: 12px;
  }
  .item-main_002 .info .buy {
    width: auto;
  }
}
@media screen and (max-width: 568px) {
  .item-main_002 .photo {
    padding-top: 65%;
  }
  .item-main_002 .info .name {
    font-size: 1.65em;
  }
}
@media (max-width: 450px) {
  .item-main_002 .buy .button {
    width: 80%;
    font-size: 1.2em;
  }
}
.item-add .container {
  border: 1px solid #cccccc;
  padding: 20px 20px 10px 20px;
}
.item-add .items {
  zoom: 1;
}
.item-add .items:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.item-add .item {
  float: left;
  margin-bottom: 10px;
  width: 50%;
  height: 110px;
}
.item-add label {
  cursor: pointer;
  color: #666;
}
.item-add .photo {
  margin-right: 8px;
  display: inline-block;
}
.item-add .photo img {
  max-width: 100px;
}
.item-add .info {
  display: inline-block;
}
.item-add .checkbox {
  display: inline-block;
  vertical-align: top;
}
.item-add .name {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  height: 32px;
  word-wrap: break-word;
  overflow: hidden;
}
.item-add .spec {
  margin-right: 5px;
}
.item-add .buy {
  margin-top: 5px;
}
.item-add .feature {
  margin-bottom: 10px;
  font-size: 0.85em;
  line-height: 1.6;
}
.item-add .currency {
  font-size: 12px;
  display: inline-block;
}
.item-add .price {
  font-size: 1.125em;
  display: inline-block;
  margin-right: 10px;
}
.item-add .button {
  vertical-align: top;
}
.item-add .spec {
  padding: 2px 4px;
  font-size: 12px;
  margin-bottom: 5px;
}
.item-add .quantity {
  vertical-align: middle;
  margin-bottom: 5px;
}
.item-add .add-actions {
  text-align: center;
}
.item-add .add-actions .container {
  border: none;
  padding: 10px 0;
}
.item-add .add-actions .highlight, .item-add .add-actions .red-text {
  font-size: 12px;
  line-height: 1.5;
}
.item-add .add-actions .highlight span, .item-add .add-actions .red-text span {
  margin: 0 10px;
}
.item-add .add-actions .quantity {
  vertical-align: bottom;
  margin-right: 10px;
}
.item-add .add-actions .button {
  margin-bottom: 5px;
}

@media (min-width: 1000px) {
  .item-add .name {
    overflow: hidden;
  }
  .item-add .info {
    width: 50%;
  }
}
@media (max-width: 999px) {
  .item-add {
    border-bottom: 1px solid #cccccc;
  }
  .item-add .container {
    border: 0;
    padding: 0;
  }
  .item-add .items {
    border: 1px solid #cccccc;
    margin: 0 10px 10px;
    padding: 10px;
  }
  .item-add .item {
    padding: 1% 0 1%;
    margin: 0;
    display: table;
  }
  .item-add .photo {
    display: table-cell;
    vertical-align: middle;
    padding-right: 8px;
  }
  .item-add .info {
    display: table-cell;
    vertical-align: middle;
  }
}
@media (max-width: 767px) {
  .item-add .item {
    width: 100%;
    border-bottom: 1px solid #cccccc;
  }
  .item-add .item:last-child {
    border-bottom: none;
  }
}
@media screen and (max-width: 568px) {
  .item-add .item {
    padding: 10px 0;
  }
}
.item-related .container {
  padding: 0;
  margin: 25px auto;
}
.item-related .item-related-tabs {
  margin-bottom: -10px;
  padding-left: 18px;
  height: 21px;
}
.item-related .item-related-tabs ul {
  display: inline-block;
  text-align: left;
  padding: 0 0px 0 8px;
  background: white;
}
.item-related .item-related-tabs li {
  display: inline-block;
  padding: 0px 15px;
  margin-top: 3px;
  font-size: 14px;
  color: #6c6c6c;
  border-left: 1px solid #cccccc;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.item-related .item-related-tabs li:hover {
  color: #333;
}
.item-related .item-related-tabs li.active {
  float: left;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border-left: 0;
  margin-top: 0;
  padding: 0px 15px 0px 0px;
}
.item-related .item-related-tabs li.active:before {
  font-size: 0px;
}
.item-related .item-related-tabs li.active:hover {
  color: black;
}
.item-related .item-related-tabs li:before {
  content: "";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
  margin-right: 4px;
  vertical-align: 0px;
  font-size: 13px;
}
.item-related .items {
  width: 100%;
  height: auto;
  border: 1px solid #cccccc;
  padding: 28px 10px 15px;
  overflow: hidden;
  visibility: hidden;
  position: absolute;
}
.item-related .items {
  zoom: 1;
}
.item-related .items:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.item-related .items.active {
  visibility: visible;
  position: static;
}
.item-related .item {
  padding: 0 13px;
}
.item-related .photo {
  display: block;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
}
.item-related .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.item-related .photo img {
  width: 100%;
}
.item-related .name {
  margin-bottom: 7px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  height: 32px;
  word-wrap: break-word;
  overflow: hidden;
}
.item-related .buy {
  text-align: left;
}
.item-related .currency {
  font-size: 12px;
  display: inline-block;
  vertical-align: 1px;
}
.item-related .price {
  font-size: 16px;
  display: inline-block;
  margin-right: 10px;
}

.item-slider-002, .item-slider-003, .item-slider-004 {
  padding: 0 10px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.item-slider-002 .pagination, .item-slider-003 .pagination, .item-slider-004 .pagination {
  width: 100%;
  margin: 5px auto;
  text-align: center;
}
.item-slider-002 .swiper-pagination-switch, .item-slider-003 .swiper-pagination-switch, .item-slider-004 .swiper-pagination-switch {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 10px;
  background: #d2d2d2;
  margin: 0 3px;
  cursor: pointer;
}
.item-slider-002 .swiper-active-switch, .item-slider-003 .swiper-active-switch, .item-slider-004 .swiper-active-switch {
  width: 30px;
}
.item-slider-002 .arrow, .item-slider-003 .arrow, .item-slider-004 .arrow {
  color: #d2d2d2;
  font-size: 2.8em;
  top: 45%;
  margin-top: -25px;
  opacity: 0.5;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}
.item-slider-002 .arrow.arrow-c-left, .item-slider-003 .arrow.arrow-c-left, .item-slider-004 .arrow.arrow-c-left {
  left: 0px;
}
.item-slider-002 .arrow.arrow-c-right, .item-slider-003 .arrow.arrow-c-right, .item-slider-004 .arrow.arrow-c-right {
  right: 0px;
}
.item-slider-002 .arrow:hover, .item-slider-003 .arrow:hover, .item-slider-004 .arrow:hover {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

@media (min-width: 1000px) {
  .item-related .name {
    overflow: hidden;
  }
}
@media (max-width: 999px) {
  .item-related {
    margin: 25px 10px 10px;
  }
  .item-related .items {
    padding: 28px 10px 15px;
  }
}
@media screen and (max-width: 568px) {
  .item-related .item-related-tabs {
    padding-left: 7px;
  }
  .item-related .item-related-tabs li {
    padding: 0px 15px;
    margin-top: 4px 0;
  }
  .item-related .item {
    padding: 0 12px;
  }

  .item-slider-002 .arrow, .item-slider-003 .arrow {
    font-size: 2.4em;
  }
}
.item-detail {
  zoom: 1;
}
.item-detail:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.item-detail .container {
  margin: 30px auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 0 0 30px;
}
.item-detail .center {
  text-align: center;
}
.item-detail img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.item-detail .desc {
  line-height: 1.9;
  margin: 5px 0;
  word-wrap: break-word;
}
.item-detail iframe {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.item-detail .pic_txt {
  font-size: 0;
}
.item-detail .pic_txt .pic_txt_col {
  width: 50%;
  padding: 2px;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 1.5;
  word-break: break-word;
  word-wrap: break-word;
}
.item-detail .pic_txt .pic_txt_col img {
  display: inline;
}

@media (max-width: 999px) {
  .item-detail {
    padding: 0 1%;
  }
}
@media (max-width: 519px) {
  .item-detail .pic_txt .pic_txt_col {
    width: 100%;
  }
}
.item-spec {
  zoom: 1;
}
.item-spec:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.item-spec .spec {
  margin: 0 0 30px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 0 0 30px;
  line-height: 1.9;
  font-size: 0.85em;
  word-wrap: break-word;
}

@media (max-width: 999px) {
  .item-spec {
    padding: 0 1%;
  }
}
.item-buy {
  text-align: center;
}
.item-buy .highlight, .item-buy .red-text {
  margin-top: 5px;
  font-size: 12px;
  line-height: 1.2;
}
.item-buy .highlight span, .item-buy .red-text span {
  margin: 0 10px;
}
.item-buy .quantity {
  vertical-align: bottom;
  margin-right: 10px;
}

/*@include RWD(pad-mobile) {
.item-buy{
	padding: 6px;
	position: fixed;
	bottom: 0;
	left: 0;
	text-align: center;
	width: 100%;
	z-index: 3;
	// background: #f9f9f9;
	border-top-width: 1px;
	border-top-style: solid;
	//border-top: 1px solid $border;
	-webkit-backface-visibility:hidden;
	.container{
		position:static;
	}
	.highlight, .red-text{
		margin-top: 8px;
	}
}
}*/
.credit-card {
  max-width: 880px;
  background: #fff;
  margin-top: -46px;
  margin-bottom: 36px;
}
.credit-card .title-h3 {
  background: #504f47;
  color: #fff;
  border-bottom: 1px solid #e9e9e9;
  padding: 15px 10px;
  margin-bottom: 0;
}
.credit-card .title-h3 .link {
  color: #eee;
  font-size: 13px;
  margin-left: 10px;
  font-weight: normal;
  text-decoration: underline;
}
.credit-card .title-h3 .link:hover {
  color: black;
}
.credit-card .title-h3 .icon-close {
  float: right;
}
.credit-card .list {
  width: 100%;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
}
.credit-card .list th {
  padding: 10px 5px 5px;
  border-bottom: 2px solid #cccccc;
}
.credit-card .list td {
  padding: 10px 5px;
  border-bottom: 1px dotted #cccccc;
  vertical-align: middle;
}
.credit-card .list td img {
  margin-top: 4px;
  width: 100px;
}
.credit-card .list td a {
  font-size: 12px;
}
.credit-card .list h4 {
  font-weight: bold;
  color: red;
}
.credit-card .list a:hover {
  color: black;
}
.credit-card .list .descript {
  font-size: 12px;
  text-align: left;
  padding: 15px 20px;
  background: #f7f7f7;
}
.credit-card .list .descript p {
  font-weight: bold;
  font-size: 13px;
}
.credit-card .list .descript ol {
  list-style-type: decimal;
  margin-left: 14px;
  margin-top: 10px;
}
.credit-card .list .descript ul > li {
  background: url("../../../../../../img/frame/circle.png") no-repeat 0px 10px;
  padding-left: 8px;
}
.credit-card .bonus-detail {
  background: #504f47;
  color: #fff;
  display: block;
  padding: 15px 0;
  margin-bottom: 36px;
}
.credit-card .bonus-detail th, .credit-card .bonus-detail td {
  font-size: 12px;
  line-height: 140%;
  padding: 8px 10px;
}
.credit-card .bonus-detail th {
  width: 140px;
  text-align: right;
}
.credit-card .rate {
  color: #dd0000;
  font-weight: bold;
  width: 15%;
}
.credit-card .rate .text18 {
  font-size: 22px;
  padding: 0 3px;
  top: 2px;
  position: relative;
  font-style: italic;
}
.credit-card .bank-name {
  font-size: 12px;
  width: 70%;
  text-align: left;
}
.credit-card .bank-name .note > li {
  display: inline-block;
  width: 84px;
  color: #666;
}

.item-add .currency {
  vertical-align: 1px;
}
.item-add .price {
  font-size: 16px;
}
@media (max-width: 999px) {
  .item-add {
    border-bottom: 0;
  }
}
@media screen and (max-width: 340px) {
  .item-add .photo img {
    max-width: 90px;
  }
}

.item-related .item-related-tabs {
  text-align: center;
  margin-bottom: -15px;
  padding-left: 0;
  height: 30px;
}
.item-related .item-related-tabs ul {
  padding: 0;
  background: none;
}
.item-related .item-related-tabs li {
  height: 30px;
  width: 206px;
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: #333;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  line-height: 29px;
  border: 1px solid #010101;
  background: white;
  cursor: auto;
  display: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.item-related .item-related-tabs li.tab-1 {
  display: block;
}
.item-related .item-related-tabs li:hover {
  color: #333;
}
.item-related .item-related-tabs li.active {
  color: #333;
  font-weight: normal;
  font-size: 12px;
  border-left: 1px solid #010101;
  padding: 0;
}
.item-related .items {
  border: 0 !important;
  border-top: 1px solid #cccccc !important;
}
.item-related .items.tab-2 {
  display: none;
}
.item-related .item {
  padding: 0 17px;
}
.item-related .item:hover .info {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.item-related .info {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
.item-related .name {
  text-align: center;
}
.item-related .buy {
  text-align: center;
}
.item-related .price {
  font-size: 14px;
}
@media (max-width: 999px) {
  .item-related {
    margin: 25px 0px 10px;
  }
  .item-related .info {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  }
}
@media screen and (max-width: 568px) {
  .item-related .item-related-tabs {
    margin-bottom: -12px;
    height: 25px;
  }
  .item-related .item-related-tabs li {
    height: 25px;
    width: 150px;
    line-height: 23px;
  }
}
