@import "compass";
@import "compass/css3";
@import "compass/utilities/general/hacks";
@import "define/__mixin.scss";
@import "define/__variables.scss";
@import "define/_theme.scss";

.md-installment {
	dd {
		font-size: 1.2em;
		letter-spacing: -0.32em;
		span {
			letter-spacing: normal;
			vertical-align: middle;
			display: inline-block;
		}
		.col-type {
			width: 10%;
			margin-right: 10px;
			text-align: right;
			@include RWD(pad){
				width: 49%;
				margin: 0;
				text-align: left;
			}
		}
		.col-rule {
			width: 15%;
			font-size: 0.95em;
			text-align: center;
			@include RWD(pad){
				width: 50%;
				text-align: right;
			}
		}
		.col-bank {
			width: 70%;
			color: #666;
			font-size: 0.8em;
			line-height: 1.4;
			@include RWD(pad){
				width: auto;
				display: block;
			}
		}
	}
}
.md-reward {
	dd {
		@include clearfix;
		//col
		.col-name {
			width: 18%;
			font-size: 1.2em;
			float: left;
			@include RWD(pad){
				width: auto;
				margin-right: 90px;
				float: none;
			}
		}
		.col-action {
			top: 7px;
			right: 5px;
			position: absolute;
		}
		.col-content {
			width: 69%;
			font-size: 1.2em;
			margin-right: 90px;
			float: right;
			@include clearfix;
			@include RWD(pad){
				width: 100%;
				color: #999;
				font-size: 0.9em;
				margin: 0;
				float: none;
			}
			li {
				width: 25%;
				text-align: center;
				vertical-align: middle;
				float: left;
				@include RWD(pad){
					text-align: left;
				}
			}
		}
		//row
		&.row-head {
			color: #999;
			font-size: 0.8em;
			.col-action {
				font-size: 1.15em;
			}
		}
		&.row-detail {
			font-size: 0.9em;
			max-height: 0;
			padding: 0 10px;
			border-width: 0;
			background: mix($main-color,#fff,5);
			overflow: hidden;
			&.is-expend {
				max-height: 10000px;
				padding-top: 10px;
				padding-bottom: 10px;
			}
			.t-description {
				margin-bottom: 10px;
			}
			.t-list {
				& > li {
					margin-left: 20px;
					list-style: decimal outside;
				}
			}
		}
		//obj
		.go-detail {
			padding-left: 20px;
			&:before {
				@include icon-font("\f002");
			}
			&.is-close {
				&:before {
					@include icon-font("\f00d");
				}
			}
		}
	}
}
.reward-comment {
	margin-top: 10px;
	color: #999;
	font-size: 0.9em;
}
.t-switch {
	top: 15px;
	right: 15px;
	position: absolute;
}
.md-form-btn {
	button {
		font-size: 1em;
	}
}