@import "compass";
@import "compass/css3";
@import "compass/utilities/general/hacks";
@import "define/__mixin.scss";
@import "define/__variables.scss";
@import "define/_theme.scss";

.t-cart-title {
	color: $font-color;
	font-size: 1.1em;
	line-height: 1.6;
	text-align: center;
	.t-title-large {
		font-size: 1.2em;
		font-weight: bold;
		display: block;
	}
}
.md-privacy-content {
	padding: 20px;
	@include RWD(mobile){
		padding: 15px;
	}
}
.md-form-btn {
	button {
		font-size: 1em;
	}
}