@charset "UTF-8";
.hide {
  display: none;
}

.container {
  width: 1220px;
  position: relative;
  margin: 0 auto;
}
.container {
  zoom: 1;
}
.container:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.site-body {
  padding-bottom: 40px;
  width: 1220px;
  margin: 0 auto;
}
.site-body {
  zoom: 1;
}
.site-body:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.site-left {
  width: 200px;
  margin-right: 20px;
  float: left;
  margin-top: 10px;
}

.site-main {
  width: 1000px;
  float: left;
  position: relative;
}
.site-main .container {
  width: auto;
}

.pc_left_006 {
  border: 1px solid #cccccc;
  margin-bottom: 10px;
}
.pc_left_006 .index {
  background: #504f47;
  padding: 10px;
  display: block;
  color: white;
  border-bottom: 1px solid #cccccc;
}
.pc_left_006 li:last-child .title-h3 {
  border-bottom: 0;
}
.pc_left_006 .title-h3 {
  color: white;
  background: #504f47;
  font-size: 15px;
  margin: 0px;
  padding: 12px 10px;
  font-weight: bold;
  color: #383838;
  margin-bottom: 0px;
  line-height: 1.3;
  word-break: break-all;
  background: #f7f7f7;
  cursor: pointer;
  border-bottom: 1px solid #E8E8E8;
}
.pc_left_006 .title-h3:hover {
  background: #efefef;
}
.pc_left_006 .title-h3:after {
  content: "";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
  font-size: 14px;
  line-height: 1.5;
  float: right;
}
.pc_left_006 .title-h3.s-active:after {
  content: "\f078";
}
.pc_left_006 .fa {
  margin-right: 6px;
}
.pc_left_006 .side-menu {
  font-size: 13px;
  line-height: 140%;
}
.pc_left_006 .side-menu a {
  color: #383838;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 180px;
  height: 25px;
  cursor: pointer;
}
.pc_left_006 .side-menu .sec-menu {
  padding: 8px 0;
  border-bottom: 1px dotted #ccc;
}
.pc_left_006 .side-menu .sec-menu li {
  padding: 6px 10px;
  font-size: 15px;
}
.pc_left_006 .side-menu .sec-menu a:hover {
  color: #e00517;
}
.pc_left_006 .side-menu .sec-menu .active {
  color: #e00517;
}
.pc_left_006 .side-menu > li:last-child .sec-menu {
  border-bottom: 0;
  border-top: 1px solid #E8E8E8;
}

.site-search-answer {
  font-size: 13px;
}
.site-search-answer .light {
  color: #dd0000;
  padding: 0 5px;
}
.site-search-answer h1 {
  line-height: 140%;
  color: #383838;
  margin: 10px 0;
}
.site-search-answer p {
  color: #383838;
  margin-bottom: 15px;
}
.site-search-answer p a {
  color: #333;
  text-decoration: underline;
}

.site-search-btn-switching {
  margin-bottom: 20px;
  margin-top: 8px;
}
.site-search-btn-switching {
  zoom: 1;
}
.site-search-btn-switching:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.site-search-btn-switching .btn-switching {
  display: block;
  border-bottom: 1px solid #1BA7FC;
  padding-left: 8px;
}
.site-search-btn-switching .btn-switching {
  zoom: 1;
}
.site-search-btn-switching .btn-switching:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.site-search-btn-switching .btn-switching li {
  float: left;
  display: block;
  color: gray;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}
.site-search-btn-switching .btn-switching li:last-child {
  margin-right: 0px;
}
.site-search-btn-switching .btn-switching li a {
  width: 100%;
  padding: 8.5px 60px 8.5px 60px;
  margin-top: 2px;
  display: inline-block;
  color: gray;
  border: 1px solid #cccccc;
  border-bottom: none;
  background: #f7f7f7;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
.site-search-btn-switching .btn-switching li a.active {
  color: #1BA7FC;
  font-weight: bold;
  font-size: 15px;
  background: white;
  border: 1px solid #1BA7FC;
  border-bottom: 1px solid #FFF;
  margin-bottom: -1px;
  margin-top: 0;
  padding: 9.5px 60px 8.5px 60px;
}
.site-search-btn-switching .btn-switching li a.active:hover {
  background: white;
}
.site-search-btn-switching .btn-switching li a:hover {
  background: #efefef;
}

.site-filter .attr-adv-btn {
  display: block;
  text-align: center;
  margin-bottom: 15px;
  padding: 9px 15px 8px 15px;
  cursor: pointer;
  background: #f7f7f7;
  border: 1px solid #e9e9e9;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.site-filter .attr-adv-btn:hover {
  background: #efefef;
}
.site-filter .attr-adv-btn.a-c-active {
  margin-bottom: 10px;
}
.site-filter .attr-adv-btn.a-c-active .attr-btn-content:before {
  content: "";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
}
.site-filter .attr-btn-content {
  font-size: 14px;
  color: gray;
}
.site-filter .attr-btn-content:before {
  content: "";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
  margin-right: 3px;
}
.site-filter .attr {
  font-size: 0.813em;
  line-height: 250%;
  margin-bottom: 20px;
  display: none;
}
.site-filter .attrcon {
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: #e9e9e9 !important;
  border-top: none;
  padding: 5px 0;
}
.site-filter .attrcon:first-child {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #e9e9e9 !important;
}
.site-filter .attrcon > div, .site-filter .attrcon label {
  display: inline-block;
  vertical-align: middle;
  line-height: 260%;
}
.site-filter .attrcon label.disabled {
  color: #d7d7d7;
  cursor: no-drop;
}
.site-filter .attrcon .colst {
  width: 12%;
  text-align: right;
  margin-right: 20px;
  vertical-align: top;
}
.site-filter .attrcon .colcheck {
  width: 72%;
  line-height: 0;
}
.site-filter .attrcon .colcheck a {
  width: 115px;
  line-height: 200%;
  margin-right: 20px;
  display: inline-block;
  color: #383838;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.site-filter .attrcon .colcheck a:hover {
  text-decoration: underline;
}
.site-filter .attrcon .colcheck .selected {
  color: #e00517;
}
.site-filter .attrcon .all {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  line-height: 140%;
  margin-right: 20px;
}
.site-filter .attrcon .type {
  width: 65px;
  margin-right: 0;
}
.site-filter .attrcon .actions {
  position: absolute;
  right: 5px;
  bottom: 0px;
  vertical-align: bottom;
}
.site-filter .attrcon .actions .colclose {
  display: inline-block;
  margin-left: 10px;
}
.site-filter .attrcon .actions .colclose a {
  color: #333;
  display: inline-block;
}
.site-filter .attrcon .actions .clearcheck {
  margin: 0 0 0 10px;
}
.site-filter .attrcon .actions .tirup, .site-filter .attrcon .actions .tirdown {
  display: inline-block;
  width: 0;
  height: 0;
  position: relative;
  bottom: 1px;
  left: 1px;
  border-style: solid;
  border-width: 0 5px 6px 5px;
  border-color: transparent transparent #333 transparent;
}
.site-filter .attrcon .actions .tirdown {
  border-width: 6px 5px 0 5px;
  border-color: #333 transparent transparent transparent;
}
.site-filter .attrcon label {
  width: 115px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 20px;
}
.site-filter .attrcon input[type="checkbox"] {
  margin-left: 0;
}
.site-filter .attrcon .input-number {
  padding: 0 0 0 3px;
  vertical-align: middle;
  width: 70px;
  height: 22px;
  margin: 0 5px;
}
.site-filter .attrcon.special {
  background: #fffaf9;
}
.site-filter .attrft {
  height: 30px;
  padding-right: 5px;
  text-align: right;
  border-width: 1px;
  border-style: solid;
  border-color: #e9e9e9 !important;
  border-top: none;
}
.site-filter .attrft a {
  color: #4498c8 !important;
}

.result {
  font-size: 1.8em;
  line-height: 140%;
  text-align: center;
  color: #000;
  margin: 2em 0;
  padding: 0 10px;
}

.site-filter-m, .sort-s {
  display: none;
}

.site-sort {
  display: inline-block;
}
.site-sort .sort {
  display: block;
}
.site-sort .sort {
  zoom: 1;
}
.site-sort .sort:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.site-sort .sort li {
  float: left;
  display: block;
}
.site-sort .sort li:last-child a {
  border-right: 1px solid #cccccc;
}
.site-sort .sort li a {
  padding: 10px 20px;
  display: inline-block;
  border: 1px solid #cccccc;
  border-right: 0;
  color: #383838;
  font-size: 13px;
}
.site-sort .sort li a.active {
  color: white;
  background: #e00517;
  border-color: #e00517;
}
.site-sort .sort li a:hover {
  color: #e00517;
  background: #efefef;
}

.pc_category_list {
  zoom: 1;
}
.pc_category_list:after, .pc_category_list:before {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_category_list .items {
  margin: 20px -10px 0;
}
.pc_category_list .items {
  zoom: 1;
}
.pc_category_list .items:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_category_list .item {
  float: left;
  width: 25%;
  padding: 8px 10px;
  border: 1px solid transparent;
  height: 400px;
}
.pc_category_list .item:hover {
  border: 1px solid #cccccc;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
.pc_category_list .item:hover .photo {
  opacity: 0.75;
}
.pc_category_list .photo {
  display: block;
  margin-bottom: 7px;
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
  position: relative;
}
.pc_category_list .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.pc_category_list .info {
  height: 126px;
}
.pc_category_list .name {
  font-size: 13px;
  height: 32px;
  line-height: 1.3;
  margin-bottom: 5px;
  color: black;
  font-weight: bold;
  overflow: hidden;
  word-break: break-word;
  word-wrap: break-word;
}
.pc_category_list .type {
  font-size: 12px;
  color: #6c6c6c;
}
.pc_category_list .currency {
  font-size: 12px;
  color: #e00517;
  display: inline-block;
  margin-left: 3px;
}
.pc_category_list .price {
  font-size: 16px;
  color: #e00517;
  display: inline-block;
  margin-right: 5px;
}
.pc_category_list .buy-actions {
  margin-top: 10px;
  text-align: right;
}
.pc_category_list .quantity {
  margin-right: 5px;
  vertical-align: middle;
}
.pc_category_list .quantity-decrease, .pc_category_list .quantity-increase {
  padding: 2px 4px;
  width: 20px;
}
.pc_category_list .quantity-input {
  height: 22px;
  width: 24px;
  font-size: 12px;
}
.pc_category_list .large {
  font-size: 13px;
  padding: 0 10px;
  line-height: 21px;
  height: 22px;
}
.pc_category_list .highlight {
  font-size: 12px;
  line-height: 1.5;
  margin-top: 5px;
  text-align: right;
}
.pc_category_list.item-list-3 .item {
  width: 33.333%;
  height: 470px;
}
.pc_category_list .tag-status {
  position: absolute;
  bottom: 7px;
  right: 7px;
  z-index: 9;
}

.nav-pagination {
  margin: 30px 0 80px;
  text-align: center;
}
.nav-pagination ul {
  margin: 0 20px;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
}
.nav-pagination ul {
  zoom: 1;
}
.nav-pagination ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.nav-pagination li {
  float: left;
}
.nav-pagination li a {
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.nav-pagination li:first-child a {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}
.nav-pagination li:last-child a {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  border-right: 1px solid #cccccc;
}
.nav-pagination a {
  min-width: 36px;
  line-height: 36px;
  padding: 0 10px;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  color: #383838;
}
.nav-pagination a.active {
  background: #e00517;
  color: white;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.nav-pagination a:hover {
  background: #efefef;
  color: #e00517;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.nav-pagination .total {
  margin-top: 20px;
  color: #383838;
  font-size: 0.8em;
}

.pc_title {
  margin: 20px auto 0px auto;
}
.pc_title {
  zoom: 1;
}
.pc_title:after, .pc_title:before {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_title .title-h3 {
  padding: 0;
  float: left;
  margin-bottom: 0;
  width: 490px;
  height: 25px;
  overflow: hidden;
  font-weight: normal;
  font-size: 25px;
  color: #1BA7FC;
}
.pc_title .top {
  zoom: 1;
}
.pc_title .top:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_title .more {
  float: right;
  margin-top: 10px;
  margin-left: 15px;
  font-weight: bold;
  font-size: 13px;
  color: #1BA7FC;
  text-decoration: underline;
}
.pc_title .more:hover {
  color: #0993E7;
}
.pc_title .more i {
  margin-left: 5px;
}

.pc_category_list_five {
  zoom: 1;
}
.pc_category_list_five:after, .pc_category_list_five:before {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_category_list_five .items {
  margin: 15px 0px 0;
  padding: 10px;
  border: 1px solid #cccccc;
}
.pc_category_list_five .items {
  zoom: 1;
}
.pc_category_list_five .items:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_category_list_five .item {
  float: left;
  width: 20%;
  padding: 10px;
  border: 1px solid transparent;
  height: 270px;
}
.pc_category_list_five .item:hover {
  border: 1px solid #cccccc;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
.pc_category_list_five .item:hover .photo {
  opacity: 0.75;
}
.pc_category_list_five .photo {
  display: block;
  margin-bottom: 7px;
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
  position: relative;
}
.pc_category_list_five .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.pc_category_list_five .info {
  min-height: 55px;
}
.pc_category_list_five .name {
  font-size: 13px;
  height: 32px;
  line-height: 1.3;
  margin-bottom: 5px;
  color: black;
  font-weight: bold;
  overflow: hidden;
  word-break: break-word;
  word-wrap: break-word;
}
.pc_category_list_five .type {
  font-size: 12px;
  color: #6c6c6c;
}
.pc_category_list_five .currency {
  font-size: 12px;
  color: #e00517;
  display: inline-block;
  margin-left: 3px;
}
.pc_category_list_five .price {
  font-size: 16px;
  color: #e00517;
  display: inline-block;
  margin-right: 5px;
}
.pc_category_list_five .buy-actions {
  margin-top: 10px;
  text-align: right;
}
.pc_category_list_five .quantity {
  margin-right: 5px;
  vertical-align: middle;
}
.pc_category_list_five .quantity-decrease, .pc_category_list_five .quantity-increase {
  padding: 2px 4px;
  width: 20px;
}
.pc_category_list_five .quantity-input {
  height: 22px;
  width: 24px;
  font-size: 12px;
}
.pc_category_list_five .large {
  font-size: 13px;
  padding: 0 10px;
  line-height: 21px;
  height: 22px;
}
.pc_category_list_five .highlight {
  font-size: 12px;
  line-height: 1.4;
  margin-top: 5px;
  text-align: right;
}
.pc_category_list_five.item-list-3 .item {
  width: 33.3%;
  height: 460px;
}
.pc_category_list_five .tag-status {
  position: absolute;
  bottom: 7px;
  right: 7px;
  z-index: 9;
}
