//
// Box-sizing
//
@mixin box-sizing ( $box-sizing ) {
  -webkit-box-sizing: $box-sizing;
     -moz-box-sizing: $box-sizing;
          box-sizing: $box-sizing;
}
//
// clearfix
//
@mixin clearfix {
  & {
    zoom: 1;
  }
  &:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}
@mixin clearfix-ab {
  & {
    zoom: 1;
  }
  &:after,&:before {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}
//
// font-family
//
@mixin number-font {
  font-family: Helvetica, Arial, sans-serif;
}
//
// border-radius
//
@mixin border-radius ( $radius ) {
  @include background-clip-padding-box;
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}
@mixin border-top-radius ( $radius ) {
  @include background-clip-padding-box;
  -webkit-border-top-left-radius: $radius;
     -moz-border-radius-topleft:  $radius;
          border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;
     -moz-border-radius-topright:  $radius;
          border-top-right-radius: $radius;
}
@mixin border-right-radius ( $radius ) {
  @include background-clip-padding-box;
  -webkit-border-top-right-radius: $radius;
     -moz-border-radius-topright:  $radius;
          border-top-right-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
     -moz-border-radius-bottomright:  $radius;
          border-bottom-right-radius: $radius;
}
@mixin border-bottom-radius ( $radius ) {
  @include background-clip-padding-box;
  -webkit-border-bottom-left-radius: $radius;
     -moz-border-radius-bottomleft:  $radius;
          border-bottom-left-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
     -moz-border-radius-bottomright:  $radius;
          border-bottom-right-radius: $radius;
}
@mixin border-left-radius ( $radius ) {
  @include background-clip-padding-box;
  -webkit-border-top-left-radius: $radius;
     -moz-border-radius-topleft:  $radius;
          border-top-left-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
     -moz-border-radius-bottomleft:  $radius;
          border-bottom-left-radius: $radius;
}
@mixin background-clip-padding-box {
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}
//
// box-shadow
//
@mixin box-shadow ( $value, $value2: '' ) {
  @if $value2 == '' {
  -webkit-box-shadow: $value;
     -moz-box-shadow: $value;
          box-shadow: $value;
  } @else {
  -webkit-box-shadow: $value, $value2;
     -moz-box-shadow: $value, $value2;
          box-shadow: $value, $value2;
  }
}
@mixin transition ( $value ) {
  -webkit-transition: $value;
     -moz-transition: $value;
       -o-transition: $value;
      -ms-transition: $value;
          transition: $value;
}
@mixin transform ($value) {
     -moz-transform: $value;
       -o-transform: $value;
      -ms-transform: $value;
  -webkit-transform: $value;
          transform: $value;
}
//
// background-gradient
//
@mixin background-gradient ( $start, $end ) {
  //background-color: ( $start + $end ) / 2;
  background-color: $start;
  background-image: -webkit-gradient(linear, left top, left bottom, from($start), to($end));
  background-image: -webkit-linear-gradient(top, $start, $end);
  background-image:    -moz-linear-gradient(top, $start, $end);
  background-image:     -ms-linear-gradient(top, $start, $end);
  background-image:      -o-linear-gradient(top, $start, $end);
  background-image:         linear-gradient(top bottom, $start, $end);
}
@mixin background-alpha-gradient ( $start, $end, $solid ) {
  background: $solid;
  background: -webkit-gradient(linear, left top, left bottom, from($start), to($end));
  background: -webkit-linear-gradient(top, $start, $end);
  background:    -moz-linear-gradient(top, $start, $end);
  background:     -ms-linear-gradient(top, $start, $end);
  background:      -o-linear-gradient(top, $start, $end);
  background:         linear-gradient(top bottom, $start, $end);
}
@mixin background-alpha-horizontal-gradient ( $start, $end, $solid ) {
  background: $solid;
  background: -webkit-gradient(linear, left top, right top, from($start), to($end));
  background: -webkit-linear-gradient(left, $start, $end);
  background:    -moz-linear-gradient(left, $start, $end);
  background:     -ms-linear-gradient(left, $start, $end);
  background:      -o-linear-gradient(left, $start, $end);
  background:         linear-gradient(left right, $start, $end);
}

//
// columns
//
@mixin column-count ( $columns ) {
  -webkit-column-count: $columns;
     -moz-column-count: $columns;
          column-count: $columns;
}

@mixin column-gap ( $value ) {
  -webkit-column-gap: $value;
     -moz-column-gap: $value;
          column-gap: $value;
}

@mixin column-width ( $value ) {
  -webkit-column-width: $value;
     -moz-column-width: $value;
          column-width: $value;
}

//
// Opacity
//
@mixin opacity ( $value ) {
  opacity: $value;
  filter: unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=#{round($value * 100)})");
}


//
// other minins by yougi
//
@mixin one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin inline-block {
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
}
@mixin font-small($i) {
  font-size: $i + px;
  font-size-adjust: none;
}
@mixin user-select {
  -webkit-user-select: none;
     -moz-user-select: none; 
      -ms-user-select: none;
          user-select: none;
}
@mixin selection($background, $text){
  &::selection{
    background: $background;
    color: $text;
  }
  &::-webkit-selection{
    background: $background;
    color: $text;
  }
  &::-moz-selection{
    background: $background;
    color: $text;
  }
}
@mixin placeholder {
    ::-webkit-input-placeholder {@content}
    :-moz-placeholder {@content}
    ::-moz-placeholder {@content}
    :-ms-input-placeholder {@content}  
}
@mixin crop($width, $color){
  position: relative;
  width: $width;
  height: 0;
  overflow: hidden;
  padding-top: $width;
  img{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
  }
}
@mixin icon-font($unicode) {
    content: $unicode;
    line-height: 1;
    font-family: FontAwesome;
    vertical-align: middle;
    display: inline-block;
}


// responsive web by width
@mixin RWD($mode) {
  //all desktop
  @if $mode == desktop-all {
    @media (min-width: $screen-lg-min) { @content; }
  }
  //higher than screen-xl-min
  @else if $mode == desktop-extra {
    @media (min-width: $screen-xl-min) { @content; }
  }
  //screen-lg-min ~ screen-lg-max
  @else if $mode == desktop-normal {
    @media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) { @content; }
  }
  //screen-lg-min ~ screen-lg-max
  @else if $mode == pad-horizontal {
    @media (max-width: $screen-lg-max) { @content; }
  }
  //lower than screen-md-max
  @else if $mode == pad-mobile {
    @media (max-width: $screen-md-max){ @content; }
  }
  //screen-md-min ~ screen-md-max
  @else if $mode == pad {
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max){ @content; }
  }
  //lower than screen-sm-max
  @else if $mode == mobile {
    @media (max-width: $screen-sm-max)  { @content; }
  }
  //lower than 4 inch mobile
  @else if $mode == mobile-small {
    @media (max-width: $screen-4inch-max)  { @content; }
  }
}