@charset "UTF-8";
//系統預設顏色，請勿更動

// background image file
$bg_file_width:   400px;
$bg_file_height:  400px;

// buttons red
$red:             #dd0000;
$light_red:       #ff3300;
$dark_red:        #9e1621;

// buttons blue
$blue:            #00a8ff;
$light_blue:      #2290c6;
$dark_blue:       #0066a0;

// buttons gray
$gray:				#6c6c6c;
$light_gray:		#cccccc;
$dark_gray:			#3c3c3c;
$bk_gray:			#F5F5F5;

//yellow
$yellow:            #ffcc21;
$light_yellow:      #fdde76;
$dark_yellow:       #e8b222;
$ad_yellow:			#fff5dd;

// buttons pink
$pink:             #e57999;
$light_pink:       #f29cb7;
$dark_pink:        #724A57;

//green
$green:            #017601;

//orange
$orange:           #f90;
$light_orange:     #fd9266;
$dark_orange:      #c94604;

// Small screen
$screen-4inch-max: 320px;
$screen-sm-max: 767px;
// Medium screen
$screen-md-min: 768px;
$screen-md-max: 999px;
// Large screen
$screen-lg-min: 1000px;
$screen-lg-max: 1237px;
// X Large screen
$screen-xl-min: 1238px;
