.pc_market_010 {
  margin: 0 auto 20px;
  border: 1px solid #999;
}
.pc_market_010 .subject-title {
  background: #f5f5f5;
  background: -moz-linear-gradient(top, #fff 50%, #e5e5e5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fff 50%, #e5e5e5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fff 50%, #e5e5e5 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f5f5f5',GradientType=0 );
  /* IE6-9 */
  color: #888;
  font-size: 12px;
  letter-spacing: 5px;
  line-height: 20px;
  padding: 0 0 0 9px;
}
.pc_market_010 .tabs {
  text-align: center;
}
.pc_market_010 .tabs {
  zoom: 1;
}
.pc_market_010 .tabs:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_market_010 .tabs > li {
  float: left;
  background: #F5f5f5;
  border-style: solid;
  border-color: #999;
  border-width: 1px 0 1px 1px;
  box-sizing: border-box;
  width: 16.6666667%;
  color: #888;
  font-size: 13px;
  padding: 9px 4px 9px;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
}
.pc_market_010 .tabs > li:first-child {
  border-left: none;
}
.pc_market_010 .tabs > li:last-child {
  border-right: none;
}
.pc_market_010 .tabs > li.active {
  background: white;
  border-bottom: 1px solid transparent;
  color: #000;
}
.pc_market_010 .tabs > li:hover {
  cursor: pointer;
}
.pc_market_010 .tabs > li:first-child {
  margin-left: 0;
}
.pc_market_010 .content {
  margin-top: -1px;
}
.pc_market_010 .items {
  display: none;
  font-size: 0;
  border-top: none;
  padding: 15px 0 15px 4px;
}
.pc_market_010 .items.active {
  display: inherit;
}
.pc_market_010 .item {
  width: 192px;
  padding: 0 11px;
  display: inline-block;
}
.pc_market_010 .item:hover img {
  -moz-transform: scale(1.05) translate3d(0, 0, 0);
  -o-transform: scale(1.05) translate3d(0, 0, 0);
  -ms-transform: scale(1.05) translate3d(0, 0, 0);
  -webkit-transform: scale(1.05) translate3d(0, 0, 0);
  transform: scale(1.05) translate3d(0, 0, 0);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.pc_market_010 .item:hover .name a {
  color: #e00517;
}
.pc_market_010 .time {
  font-weight: bold;
  background: #1ba7fc;
  color: #fff;
  font-size: 13px;
  padding: 8px 10px;
  text-align: center;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
.pc_market_010 .time li {
  display: inline-block;
}
.pc_market_010 .time div {
  display: inline-block;
  height: 17px;
  vertical-align: top;
  line-height: 1.2;
  overflow: hidden;
}
.pc_market_010 .time.is-come-end {
  background: #f96;
}
.pc_market_010 .time.is-gone {
  background: #ccc;
}
.pc_market_010 .photo {
  display: inline-block;
  margin-bottom: 4px;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
  position: relative;
}
.pc_market_010 .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.pc_market_010 .name {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.5;
  word-break: break-all;
  overflow: hidden;
  height: 35px;
}
.pc_market_010 .name a {
  color: #888;
}
.pc_market_010 .buy {
  color: #e00517;
  height: 18px;
}
.pc_market_010 .buy .start {
  display: none;
  color: #333;
  font-size: 12px;
}
.pc_market_010 .buy.is-old {
  text-align: right;
}
.pc_market_010 .buy.is-old .price {
  font-size: 16px;
}
.pc_market_010 .currency {
  font-size: 10px;
  vertical-align: bottom;
  display: inline-block;
  margin-bottom: 2px;
}
.pc_market_010 .price {
  font-size: 18px;
  margin-right: 5px;
  vertical-align: bottom;
  display: inline-block;
}
.pc_market_010 .btn {
  float: right;
  margin-top: 3px;
  font-size: 15px;
  color: #e00517;
}
.pc_market_010 .fa {
  margin-left: 4px;
}
.pc_market_010 .tag-status {
  display: none;
  position: absolute;
  bottom: 7px;
  right: 7px;
  z-index: 9;
}
.pc_market_010 .commodity-status {
  margin-bottom: 7px;
}
