.pc_market_011 {
  margin: 0 auto 20px;
}
.pc_market_011 .subject-title {
  border-bottom: 1px solid #aaa;
  color: #333;
  font-size: 18px;
  line-height: 20px;
  padding-bottom: 5px;
}
.pc_market_011 .content {
  position: relative;
}
.pc_market_011 .num-page {
  position: absolute;
  right: 0;
  top: -27px;
}
.pc_market_011 .num-page {
  zoom: 1;
}
.pc_market_011 .num-page:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_market_011 .num-page .num {
  float: left;
  display: block;
  width: 30px;
  border: 1px solid #aaa;
  color: #000;
  font-size: 13px;
  margin: 0 3px 0 0;
  padding: 5px 0 4px;
  text-align: center;
}
.pc_market_011 .num-page .num.active {
  background-color: #ddd;
}
.pc_market_011 .items {
  width: 908px;
  height: 200px;
  overflow: hidden;
  margin: 0 45px;
  padding: 15px 0;
  position: relative;
}
.pc_market_011 .items ul {
  width: 99999px;
  position: absolute;
  z-index: 2;
}
.pc_market_011 .items ul li {
  float: left;
  width: 200px;
  height: 200px;
  margin-right: 36px;
}
.pc_market_011 .items ul li img {
  width: 100%;
}
.pc_market_011 .btn .btn-link {
  background: url("../../../../c/img/sth_asap/swiper-btn.png") no-repeat 0 0 scroll transparent;
  width: 30px;
  height: 60px;
  display: block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  position: absolute;
  top: 85px;
  z-index: 99;
}
.pc_market_011 .btn .btn-link.prev {
  background-position: left top;
  left: 0px;
}
.pc_market_011 .btn .btn-link.next {
  background-position: right -75px;
  right: 0px;
}
