.pc_market_008 {
  margin-bottom: 20px;
  /* .photo-02{
  	float: left;
  	width: 242px;
  	height: 400px;
  	.photo{
  		width: 242px;
  		height: 200px;
  		display: block;
  		border-left: 1px solid $border;
  		border-bottom: 1px solid $border;
  		img{
  			display: block;
  			width: 242px;
  			height: 199px;
  		}
  		&:last-child{
  			border-bottom: 0;
  		}
  	}
  } */
}
.pc_market_008 .photo-01 {
  float: left;
  width: 400px;
  height: 250px;
  margin: 0 10px 0 0;
}
.pc_market_008 .photo-01 .photo {
  display: block;
}
.pc_market_008 .photo-01 .photo img {
  display: block;
  width: 400px;
  height: 250px;
}
.pc_market_008 .photo-01:last-child {
  margin: 0;
}
