@import "pc_header_001/_header_layout.scss";
@import "pc_header_001/_site_search.scss";
@import "pc_header_001/_nav_user.scss";
@import "../module_component/_site_cart.scss";

.site-header{
	.logo{
	    img{
	        width: auto;
	    }
	}
}
.site-news{
    width: 200px;
}