.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  -webkit-transition-property: -webkit-transform, left, top;
  -webkit-transition-duration: 0s;
  -webkit-transform: translate3d(0px, 0, 0);
  -webkit-transition-timing-function: ease;
  -moz-transition-property: -moz-transform, left, top;
  -moz-transition-duration: 0s;
  -moz-transform: translate3d(0px, 0, 0);
  -moz-transition-timing-function: ease;
  -o-transition-property: -o-transform, left, top;
  -o-transition-duration: 0s;
  -o-transform: translate3d(0px, 0, 0);
  -o-transition-timing-function: ease;
  -o-transform: translate(0px, 0px);
  -ms-transition-property: -ms-transform, left, top;
  -ms-transition-duration: 0s;
  -ms-transform: translate3d(0px, 0, 0);
  -ms-transition-timing-function: ease;
  transition-property: transform, left, top;
  transition-duration: 0s;
  transform: translate3d(0px, 0, 0);
  transition-timing-function: ease;
}

.swiper-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  float: left;
}

.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
}

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
}

.breadcrumbs {
  color: #00a8ff;
}
.breadcrumbs a {
  color: #00a8ff;
}
.breadcrumbs .locate {
  margin-left: 20px;
  color: #6c6c6c;
}

@media only screen and (max-width: 767px) {
  .breadcrumbs {
    margin: 20px 0 10px 10px;
  }
}
.prod-filter dl {
  position: relative;
  padding-top: 20px;
  border: 1px solid #cccccc;
  border-top: none;
}
.prod-filter dl label {
  cursor: pointer;
}
.prod-filter dl .disabled {
  color: #cccccc;
}
.prod-filter dl .active {
  color: #00a8ff;
}
.prod-filter dl .actions {
  position: absolute;
  right: 5px;
  bottom: 0px;
  vertical-align: bottom;
}
.prod-filter dl input[type="text"] {
  vertical-align: middle;
  width: 70px;
  height: 22px;
}
.prod-filter dl input[type="submit"] {
  border: 1px solid #cccccc;
}

.prod-sort {
  display: block;
}
.prod-sort {
  zoom: 1;
}
.prod-sort:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.prod-sort li {
  float: left;
}
.prod-sort li a {
  display: inline-block;
  padding: 10px 10px;
}
.prod-sort li a.active, .prod-sort li a:hover {
  color: #00a8ff;
}

@media only screen and (min-width: 768px) and (max-width: 999px) {
  .prod-sort li {
    width: 19%;
    padding: 16px 0;
    text-align: center;
  }
}
.prod-list figure {
  width: 250px;
  margin: 10px 27px;
  float: left;
}

.bottom-pagination {
  text-align: center;
}
.bottom-pagination ul {
  margin: 0 20px;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
}
.bottom-pagination ul {
  zoom: 1;
}
.bottom-pagination ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.bottom-pagination li {
  float: left;
}
.bottom-pagination li a {
  min-width: 36px;
  line-height: 36px;
  padding: 0 10px;
  vertical-align: middle;
  display: inline-block;
  color: #00a8ff;
  border-top: 1px solid #bbb;
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bottom-pagination li a:hover, .bottom-pagination li a.current {
  background: #ddd;
  color: black;
}
.bottom-pagination li:first-child a {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}
.bottom-pagination li:last-child a {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  border-right: 1px solid #bbb;
}
.bottom-pagination a {
  display: inline-block;
  vertical-align: middle;
  color: #00a8ff;
}
.bottom-pagination .total {
  margin-top: 20px;
  color: #888;
  font-size: 0.8em;
}
