body {
  background: white;
}

.header-inn {
  margin-bottom: 35px;
}

.side-menu {
  float: left;
  width: 15%;
  margin-right: 3%;
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
  .side-menu {
    width: 20%;
  }
}
@media only screen and (max-width: 767px) {
  .side-menu {
    width: 100%;
  }
}
.side-menu nav {
  padding: 20px 0;
}
.side-menu nav .main-menu {
  background: #f8f8f8;
}
@media only screen and (max-width: 767px) {
  .side-menu nav .main-menu {
    cursor: pointer;
  }
}
.side-menu nav .main-menu li {
  list-style: none;
  border-bottom: 1px dotted #cccccc;
  padding-left: 20px;
  line-height: 2.6em;
}
.side-menu nav .main-menu li b {
  color: #000;
  display: block;
}
.side-menu nav .main-menu li b .chevron-right {
  float: right;
  padding-right: 10px;
  display: none;
}
@media only screen and (max-width: 767px) {
  .side-menu nav .main-menu li b .chevron-right {
    display: block;
  }
}
.side-menu nav .main-menu li.first {
  border-top: 6px solid #cccccc;
}
.side-menu nav .sec-nav {
  padding: 0;
}
.side-menu nav .sec-nav li {
  padding-left: 10px;
  border-bottom: none;
  line-height: 2em;
}
.side-menu nav .sec-nav li a {
  font-size: 0.8em;
}
.side-menu nav .sec-nav li:last-child {
  margin-bottom: 20px;
}

.help-center {
  float: left;
  padding: 20px 0;
  width: 82%;
  line-height: 1.8em;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
  .help-center {
    width: 77%;
  }
}
@media only screen and (max-width: 767px) {
  .help-center {
    width: 100%;
    padding: 0 5%;
  }
}
.help-center h4, .help-center h5, .help-center h6 {
  color: #000;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 2.6em;
  display: block;
}
.help-center h5 {
  font-size: 1em;
  line-height: 1.6em;
  margin-bottom: 5px;
}
.help-center h5 a {
  color: #00a8ff;
  text-decoration: underline;
}
.help-center h6 {
  font-size: 0.9em;
  line-height: 1.6em;
  margin-bottom: 5px;
}
.help-center .gray {
  color: #6c6c6c;
}
.help-center .gray2 {
  color: #888;
}
.help-center .blue {
  color: #00a8ff;
}
.help-center .black {
  color: #000;
}
.help-center .tip, .help-center .tip2 {
  background: #fff5dd;
  padding: 10px 20px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}
.help-center .tip ul, .help-center .tip p, .help-center .tip2 ul, .help-center .tip2 p {
  color: #6c6c6c;
}
.help-center .tip ul a, .help-center .tip p a, .help-center .tip2 ul a, .help-center .tip2 p a {
  text-decoration: underline;
}
.help-center .tip .point, .help-center .tip2 .point {
  color: #ff3300;
  font-size: 1em;
  font-weight: bold;
}
.help-center .tip ul.inline, .help-center .tip2 ul.inline {
  list-style: none;
  font-size: 1.1em;
}
.help-center .tip ul.inline, .help-center .tip2 ul.inline {
  zoom: 1;
}
.help-center .tip ul.inline:after, .help-center .tip2 ul.inline:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.help-center .tip ul.inline li, .help-center .tip2 ul.inline li {
  text-align: center;
  width: 25%;
  float: left;
}
@media only screen and (max-width: 767px) {
  .help-center .tip ul.inline li, .help-center .tip2 ul.inline li {
    width: 50%;
  }
}
.help-center .tip ul.inline li a, .help-center .tip2 ul.inline li a {
  text-decoration: none;
  color: #7C7C7C;
}
.help-center .tip ul.inline li a i, .help-center .tip2 ul.inline li a i {
  margin-right: 3px;
}
.help-center .tip2 {
  background: #fff;
}
.help-center img {
  padding-top: 10px;
  margin-bottom: 20px;
  display: block;
  max-width: 100%;
}
.help-center ol, .help-center ul {
  list-style: decimal;
  padding-left: 18px;
}
.help-center ol li, .help-center ul li {
  font-size: 0.813em;
}
.help-center ol li p, .help-center ul li p {
  font-size: 1em;
  margin-bottom: 10px;
}
.help-center ol a, .help-center ul a {
  color: #00a8ff;
  text-decoration: underline;
}
.help-center ol .red, .help-center ul .red {
  color: #dd0000;
}
.help-center ol .s-colum, .help-center ul .s-colum {
  font-size: 1.3em;
  list-style: none;
  padding-left: 0;
  color: #999;
}
.help-center ol .s-colum li, .help-center ul .s-colum li {
  text-indent: 36px;
}
.help-center ol .s-colum li:first-child, .help-center ul .s-colum li:first-child {
  text-indent: 0;
}
.help-center ol .s-colum-2, .help-center ul .s-colum-2 {
  font-size: 1.2em;
}
.help-center ol .s-colum-2 p, .help-center ul .s-colum-2 p {
  font-size: 0.9em;
}
.help-center p {
  padding-left: 0;
  line-height: 2em;
  font-size: 0.813em;
  color: #888;
}
.help-center ul {
  list-style: square;
}
.help-center hr {
  border-color: #f4f4f4;
  margin: 1em 0;
}

.product-actions {
  position: fixed;
  right: 0;
  bottom: 55px;
}
.product-actions .icon-movetop {
  background: #f2f2f2;
  border: 1px solid #ccc;
  padding: 5px;
  vertical-align: middle;
}
