.prod-main {
  zoom: 1;
}
.prod-main:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.prod-main .crop {
  float: left;
  position: relative;
  width: 50%;
  height: 0;
  overflow: hidden;
  padding-top: 50%;
}
.prod-main .crop img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.prod-main figcaption {
  float: left;
  width: 50%;
}

.prod-add {
  zoom: 1;
}
.prod-add:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.prod-add figure {
  float: left;
  width: 25%;
}
.prod-add .crop {
  float: left;
  width: 50%;
  position: relative;
  width: 50%;
  height: 0;
  overflow: hidden;
  padding-top: 50%;
}
.prod-add .crop img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.prod-add figcaption {
  float: left;
  width: 50%;
}

.prod-detail img {
  width: 100%;
}

.prod-spec {
  zoom: 1;
}
.prod-spec:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.prod-spec figure {
  float: left;
  width: 25%;
}
.prod-spec .crop {
  float: left;
  width: 50%;
  position: relative;
  width: 50%;
  height: 0;
  overflow: hidden;
  padding-top: 50%;
}
.prod-spec .crop img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.prod-spec figcaption {
  float: left;
  width: 50%;
}
