.template figure {
  position: relative;
  float: left;
  margin: 10px;
  border: 1px solid #6c6c6c;
  padding: 10px;
  width: 270px;
  overflow: hidden;
}
.template figure:hover .actions {
  display: block;
  top: 0;
  bottom: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.template .photo {
  width: 100%;
}
.template .name {
  margin: 10px 0;
  font-size: 16px;
}
.template .master {
  font-size: 12px;
  margin: 0;
}
.template .desc {
  margin: 10px 0 15px;
}
.template .tag {
  display: inline-block;
  padding: 0px 5px 2px;
  background: #cccccc;
  color: white;
  font-size: 13px;
  margin-right: 10px;
  border-radius: 5px;
}
.template .tag.green {
  background: #26d696;
}
.template .tag.yellow {
  background: #ffcc21;
}
.template .tag.blue {
  background: #71d1f4;
}
.template .actions {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  top: -100%;
  right: 0;
  bottom: 100%;
  left: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.template .actions-table {
  display: table;
  text-align: center;
  width: 100%;
  height: 100%;
}
.template .actions-cell {
  display: table-cell;
  vertical-align: middle;
}
.template .actions-color {
  border-bottom: 1px solid #6c6c6c;
  margin: 10px 20px;
  padding-bottom: 5px;
  color: #cccccc;
}
