body {
  background: whitesmoke;
}

.container {
  border: none;
  line-height: 140%;
}

a {
  text-decoration: underline;
}
a:hover {
  color: #00a8ff;
}

h1 {
  font-size: 1.4em;
  margin: 20px 0;
  color: #00a8ff;
}

.header {
  padding: 5px 0;
  border-bottom: 1px solid #00a8ff;
  background: white;
}

.title {
  margin: 0 auto 20px;
  padding: 15px;
}

.block {
  margin: 0 10px;
}
.block .container {
  margin: 20px auto;
  border: 1px solid #cccccc;
  padding: 15px;
  background: white;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: #cccccc 1px 1px 2px;
  -moz-box-shadow: #cccccc 1px 1px 2px;
  box-shadow: #cccccc 1px 1px 2px;
}
.block .container {
  zoom: 1;
}
.block .container:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
@media only screen and (min-width: 768px) {
  .block .part {
    float: left;
    width: 50%;
    padding: 0 10px;
  }
  .block .part:nth-child(odd) {
    border-right: 1px solid #cccccc;
  }
}
.block h2 {
  font-size: 1.25em;
  margin: 8px 0;
  color: black;
}
.block h2 a {
  color: #00a8ff;
}
.block ul {
  margin: 10px 0 0 10px;
}
.block li {
  list-style: decimal inside;
  line-height: 220%;
}

.footer {
  padding: 20px 0;
  text-align: center;
}
