.ontime-banner {
  padding-bottom: 10px;
}
.ontime-banner .container {
  font-size: 0;
}
.ontime-banner .container img {
  width: auto;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.ontime-date .container {
  padding: 13px;
  background: #3c3c3c;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 1px 0px 2px black;
}

.ontime-footer .container {
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #F5F5F5;
  font-size: 0.8em;
  color: #6c6c6c;
  line-height: 1.4;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 999px) {
  .ontime-banner {
    padding: 10px;
  }

  .ontime-date {
    padding: 0 10px;
  }
}
@media (max-width: 767px) {
  .ontime-banner {
    display: none;
  }
}
.item-list-ontime {
  zoom: 1;
}
.item-list-ontime:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.item-list-ontime .items {
  margin: 0 -10px;
  font-size: 0;
}
.item-list-ontime .items {
  zoom: 1;
}
.item-list-ontime .items:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.item-list-ontime .item {
  display: inline-block;
  width: 18.3%;
  margin: 10px;
  border: 1px solid transparent;
  float: left;
}
.item-list-ontime .item:hover {
  border-width: 1px;
  border-style: solid;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
.item-list-ontime .item:hover .photo {
  opacity: 0.75;
}
.item-list-ontime .item-single, .item-list-ontime .item-three {
  background: #F5F5F5;
}
.item-list-ontime .item-single .ontime-head, .item-list-ontime .item-three .ontime-head {
  border-bottom: 1px solid #cccccc;
}
.item-list-ontime .item-single .photo, .item-list-ontime .item-three .photo {
  float: left;
  width: 35%;
  padding-top: 35%;
  margin-bottom: 0px;
}
.item-list-ontime .item-single .info, .item-list-ontime .item-three .info {
  float: left;
  width: 63.5%;
  padding: 15px;
}
.item-list-ontime .item-single .name, .item-list-ontime .item-three .name {
  margin-bottom: 15px !important;
}
.item-list-ontime .item-single {
  width: 48.38% !important;
}
.item-list-ontime .item-three {
  width: 31.72% !important;
}
.item-list-ontime .item-four {
  width: 23.38% !important;
}
.item-list-ontime .ontime-head {
  width: 100%;
  position: relative;
  padding: 8px;
  background: #F5F5F5;
}
.item-list-ontime .photo {
  display: block;
  margin-bottom: 7px;
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
}
.item-list-ontime .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.item-list-ontime .name {
  font-size: 16px;
  height: 43px;
  line-height: 1.4;
  overflow: hidden;
  word-wrap: break-word;
  margin-bottom: 5px;
}
.item-list-ontime .price-auto, .item-list-ontime .price-manual {
  height: 20px;
  width: 100%;
  overflow: hidden;
  color: #dd0000;
  font-size: 19px;
}
.item-list-ontime .currency {
  font-size: 12px;
  display: inline-block;
}
.item-list-ontime .price {
  font-size: 20px;
  display: inline-block;
  margin-right: 5px;
}
.item-list-ontime .buy-actions {
  margin-top: 10px;
}
.item-list-ontime .quantity {
  margin-right: 5px;
  vertical-align: middle;
}
.item-list-ontime .highlight {
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.4;
}

@media (min-width: 1000px) {
  .item-list-ontime .name {
    margin-bottom: 10px;
    overflow: hidden;
  }
}
@media (min-width: 1000px) and (max-width: 1237px) {
  .item-list-ontime .item {
    width: 22.96%;
  }
  .item-list-ontime .item-single {
    width: 47.9% !important;
  }
  .item-list-ontime .item-three {
    width: 30.8% !important;
    margin: 12.4px;
    background: none;
  }
  .item-list-ontime .item-three .ontime-head {
    border-bottom: none;
  }
  .item-list-ontime .item-three .photo {
    float: none;
    width: 100%;
    padding: 0;
    padding-top: 100%;
    margin: 0;
    margin-bottom: 7px;
    height: 0;
  }
  .item-list-ontime .item-three .info {
    float: none;
    width: 100%;
    padding: 0px;
  }
  .item-list-ontime .item-three .name {
    margin-bottom: 10px !important;
  }
  .item-list-ontime .item-four {
    width: 22.96% !important;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .item-list-ontime .items {
    padding: 10px;
    margin: 0;
  }
  .item-list-ontime .item {
    width: 47.26%;
    padding: 20px 20px 20px;
  }
  .item-list-ontime .item-single, .item-list-ontime .item-three {
    width: 47.26% !important;
    background: none;
  }
  .item-list-ontime .item-single .ontime-head, .item-list-ontime .item-three .ontime-head {
    border-bottom: none;
  }
  .item-list-ontime .item-single .photo, .item-list-ontime .item-three .photo {
    float: none;
    width: 100%;
    padding: 0;
    padding-top: 100%;
    margin: 0;
    margin-bottom: 7px;
    height: 0;
  }
  .item-list-ontime .item-single .info, .item-list-ontime .item-three .info {
    float: none;
    width: 100%;
    padding: 0px;
  }
  .item-list-ontime .item-single .name, .item-list-ontime .item-three .name {
    margin-bottom: 10px !important;
  }
  .item-list-ontime .item-four {
    width: 47.26% !important;
  }
  .item-list-ontime .photo {
    margin-bottom: 10px;
  }
  .item-list-ontime .name {
    font-size: 16px;
    height: 36px;
    line-height: 1.2;
    margin-bottom: 10px;
    overflow: hidden;
    word-wrap: break-word;
  }
  .item-list-ontime .price {
    font-size: 18px;
    margin-right: 10px;
  }
  .item-list-ontime .quantity {
    margin-right: 10px;
    vertical-align: middle;
  }
  .item-list-ontime .quantity .quantity-decrease, .item-list-ontime .quantity .quantity-increase {
    padding: 7px;
  }
  .item-list-ontime .quantity .quantity-input {
    width: 36px;
    height: 32px;
  }
  .item-list-ontime .button {
    vertical-align: top;
    font-size: 15px;
    padding: 0 1.25em;
    height: 32px;
    line-height: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .item-list-ontime .button.btn-preorder-finish {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .item-list-ontime .items {
    padding: 10px;
    margin: 0;
  }
  .item-list-ontime .item {
    width: 46%;
    padding: 20px 10px 20px;
  }
  .item-list-ontime .item-single, .item-list-ontime .item-three {
    width: 46% !important;
    background: none;
  }
  .item-list-ontime .item-single .ontime-head, .item-list-ontime .item-three .ontime-head {
    border-bottom: none;
  }
  .item-list-ontime .item-single .photo, .item-list-ontime .item-three .photo {
    float: none;
    width: 100%;
    padding: 0;
    padding-top: 100%;
    margin: 0;
    margin-bottom: 7px;
    height: 0;
  }
  .item-list-ontime .item-single .info, .item-list-ontime .item-three .info {
    float: none;
    width: 100%;
    padding: 0px;
  }
  .item-list-ontime .item-single .name, .item-list-ontime .item-three .name {
    margin-bottom: 10px !important;
  }
  .item-list-ontime .item-four {
    width: 46% !important;
  }
  .item-list-ontime .photo {
    margin-bottom: 10px;
  }
  .item-list-ontime .name {
    font-size: 16px;
    height: 36px;
    line-height: 1.2;
    margin-bottom: 10px;
    overflow: hidden;
    word-wrap: break-word;
  }
  .item-list-ontime .price {
    font-size: 18px;
    margin-right: 10px;
  }
  .item-list-ontime .quantity {
    margin-right: 10px;
    vertical-align: middle;
  }
  .item-list-ontime .quantity .quantity-decrease, .item-list-ontime .quantity .quantity-increase {
    padding: 7px;
  }
  .item-list-ontime .quantity .quantity-input {
    width: 36px;
    height: 32px;
  }
  .item-list-ontime .button {
    vertical-align: top;
    font-size: 15px;
    padding: 0 1.25em;
    height: 32px;
    line-height: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .item-list-ontime .button.btn-preorder-finish {
    padding: 0;
  }
}
@media screen and (max-width: 568px) {
  .item-list-ontime .items {
    padding: 10px;
    margin: 0;
  }
  .item-list-ontime .item {
    width: 100%;
    padding: 20px 20px 20px;
    margin: 0;
  }
  .item-list-ontime .item-single, .item-list-ontime .item-three {
    width: 100% !important;
    background: none;
  }
  .item-list-ontime .item-single .ontime-head, .item-list-ontime .item-three .ontime-head {
    border-bottom: none;
  }
  .item-list-ontime .item-single .photo, .item-list-ontime .item-three .photo {
    float: none;
    width: 100%;
    padding: 0;
    padding-top: 100%;
    margin: 0;
    margin-bottom: 7px;
    height: 0;
  }
  .item-list-ontime .item-single .info, .item-list-ontime .item-three .info {
    float: none;
    width: 100%;
    padding: 0px;
  }
  .item-list-ontime .item-single .name, .item-list-ontime .item-three .name {
    margin-bottom: 10px !important;
  }
  .item-list-ontime .item-four {
    width: 100% !important;
  }
  .item-list-ontime .info {
    padding: 0;
  }
  .item-list-ontime .name {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 10px;
    min-height: 21px;
    height: auto;
    overflow: hidden;
    word-wrap: break-word;
    padding-bottom: 2px;
  }
  .item-list-ontime .price {
    font-size: 18px;
    margin-right: 10px;
  }
  .item-list-ontime .quantity {
    margin-right: 10px;
    vertical-align: middle;
  }
  .item-list-ontime .quantity .quantity-decrease, .item-list-ontime .quantity .quantity-increase {
    padding: 7px;
  }
  .item-list-ontime .quantity .quantity-input {
    width: 36px;
    height: 32px;
  }
  .item-list-ontime .button {
    vertical-align: top;
    font-size: 15px;
    padding: 0 1.25em;
    height: 32px;
    line-height: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .item-list-ontime .button.btn-preorder-finish {
    padding: 0;
  }
}
