.rwd_footer_001 {
  margin-top: 40px;
  padding: 20px 0 30px;
}
.rwd_footer_001 .footer-link {
  zoom: 1;
}
.rwd_footer_001 .footer-link:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.rwd_footer_001 dl {
  width: 16.666%;
  padding: 20px;
  float: left;
}
.rwd_footer_001 dl a {
  display: inline-block;
  font-size: 0.8em;
  line-height: 180%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.rwd_footer_001 dl a:hover {
  text-decoration: underline;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.rwd_footer_001 dt {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 1em;
}

@media (max-width: 999px) {
  .rwd_footer_001 dl {
    width: 33%;
  }
}
@media (max-width: 767px) {
  .rwd_footer_001 dl {
    min-height: 160px;
    text-align: center;
    width: 50%;
    float: left;
    padding: 0;
  }
  .rwd_footer_001 dl a {
    margin: 0 auto;
    max-width: 100%;
  }
}
