@charset "UTF-8";
/* rwd_index_002 開始 */
.rwd-index-002 {
  zoom: 1;
}
.rwd-index-002:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.rwd-index-002 .item {
  width: 50%;
  float: left;
  display: table;
}
.rwd-index-002 .photo {
  display: table-cell;
}
.rwd-index-002.trans-002 .photo {
  padding-top: 50%;
}
.rwd-index-002 .info {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  padding: 0 10px;
}
.rwd-index-002 .feature {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.4;
  height: 60px;
  overflow: hidden;
}
.rwd-index-002 del {
  color: #6c6c6c;
}
.rwd-index-002 .currency {
  font-size: 12px;
  display: inline-block;
}
.rwd-index-002 .price {
  font-size: 18px;
  margin-right: 5px;
  display: inline-block;
}

@media (min-width: 1238px) {
  .rwd-index-002 .feature li {
    width: 285px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
@media (min-width: 1000px) and (max-width: 1237px) {
  .rwd-index-002 .feature li {
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
@media (max-width: 999px) {
  .rwd-index-002 {
    padding: 0 1%;
  }
  .rwd-index-002 .item {
    padding: 1% 0 3%;
    width: 100%;
    margin: 0;
    display: table;
  }
  .rwd-index-002 .photo {
    display: table-cell;
  }
  .rwd-index-002 .info {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    padding: 0 10px;
  }
}
/* rwd_index_002 結束 */
