@charset "UTF-8";
/* pc_index_017 開始 */
.pc_index_017 {
  margin: 0px auto 20px auto;
}
.pc_index_017 {
  zoom: 1;
}
.pc_index_017:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_index_017 .block {
  zoom: 1;
}
.pc_index_017 .block:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_index_017 .item-left {
  float: left;
  width: 410px;
  font-size: 0;
  border: #f2f2f2 1px solid;
  background: #f2f2f2;
  border-radius: 10px;
}
.pc_index_017 .item-left .info {
  margin: 10px 12px 10px 16px;
}
.pc_index_017 .item-left .name {
  font-size: 14px;
  line-height: 1.6;
  height: 40px;
  word-break: break-word;
  word-wrap: break-word;
  overflow: hidden;
  margin-bottom: 15px;
}
.pc_index_017 .item-left .name a {
  color: black;
}
.pc_index_017 .item-left .buy {
  margin-top: 6px;
  color: #e00517;
}
.pc_index_017 .item-left .currency {
  font-size: 13px;
  vertical-align: bottom;
  display: inline-block;
  margin-bottom: 2px;
}
.pc_index_017 .item-left .price {
  font-size: 24px;
  margin-right: 5px;
  vertical-align: bottom;
  display: inline-block;
}
.pc_index_017 .item-left .btn {
  float: none;
  display: block;
  color: #FFF;
  font-size: 17px;
  letter-spacing: 6px;
  background: #e00517;
  text-align: center;
  margin: 14px 0 12px;
  padding: 10px;
  border-radius: 8px;
}
.pc_index_017 .item-left .btn:hover {
  text-decoration: none;
  background: #f70000;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
.pc_index_017 .photo-long {
  font-size: 0;
}
.pc_index_017 .photo-long img {
  width: 100%;
  padding: 12px 12px 0;
}
.pc_index_017 .items {
  float: left;
  width: 590px;
  font-size: 0;
}
.pc_index_017 .item {
  float: left;
  width: 33.33%;
  padding: 12px 10px;
  margin-bottom: 2px;
  border: 1px solid transparent;
}
.pc_index_017 .item:hover {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.pc_index_017 .photo {
  margin-bottom: 4px;
  display: block;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
  position: relative;
}
.pc_index_017 .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.pc_index_017 .name {
  font-size: 12px;
  line-height: 1.4;
  word-break: break-word;
  word-wrap: break-word;
  overflow: hidden;
  margin-bottom: 10px;
  height: 33px;
}
.pc_index_017 .name a {
  color: black;
}
.pc_index_017 .buy {
  margin-top: 2px;
  color: #e00517;
}
.pc_index_017 .currency {
  font-size: 10px;
  vertical-align: bottom;
  display: inline-block;
  margin-bottom: 2px;
}
.pc_index_017 .price {
  font-size: 18px;
  margin-right: 5px;
  vertical-align: bottom;
  display: inline-block;
}
.pc_index_017 .btn {
  float: right;
  margin-top: 3px;
  font-size: 15px;
  color: #e00517;
}
.pc_index_017 .fa {
  margin-left: 4px;
}
.pc_index_017 .tag-status {
  position: absolute;
  bottom: 7px;
  right: 7px;
  z-index: 9;
}

/* pc_index_017 結束 */
