.rwd_index_013 {
  margin-bottom: 20px;
}
.rwd_index_013 {
  zoom: 1;
}
.rwd_index_013:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.rwd_index_013 .container {
  background: white;
  border-bottom: 0;
  padding: 0;
}
.rwd_index_013 .title-h3 {
  display: none;
}
.rwd_index_013 .item {
  float: left;
  width: 20%;
  padding: 10px 12px;
  display: inline-block;
}
.rwd_index_013 .photo {
  display: inline-block;
  width: 100%;
  margin-bottom: 8px;
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
}
.rwd_index_013 .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.rwd_index_013 .name {
  font-size: 1em;
  height: 40px;
  line-height: 1.3;
}
.rwd_index_013 del {
  margin-bottom: 0px;
}
.rwd_index_013 .currency {
  font-size: 12px;
}
.rwd_index_013 .price {
  font-size: 18px;
  margin-right: 5px;
}

@media (max-width: 999px) {
  .rwd_index_013 .item {
    padding: 1.5%;
  }
  .rwd_index_013 .info {
    display: block;
  }
}
@media (max-width: 767px) {
  .rwd_index_013 .item {
    width: 50%;
  }
}
@media screen and (max-width: 568px) {
  .rwd_index_013 .item {
    width: 100%;
  }
  .rwd_index_013 .photo {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    padding-top: 50%;
  }
  .rwd_index_013 .info {
    display: inline-block;
    width: 48%;
    vertical-align: middle;
  }
}
