.rwd_index_015 {
  margin-bottom: 20px;
}
.rwd_index_015 {
  zoom: 1;
}
.rwd_index_015:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.rwd_index_015 .container {
  background: white;
  border-bottom: 0;
  padding: 10px 0;
}
.rwd_index_015 .items {
  margin: 0;
}
.rwd_index_015 .items {
  zoom: 1;
}
.rwd_index_015 .items:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.rwd_index_015 .item {
  float: left;
  width: 39%;
  padding: 0 10px;
  border: 1px solid transparent;
}
.rwd_index_015 .item:hover {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
.rwd_index_015 .item:hover .photo {
  opacity: 0.75;
}
.rwd_index_015 .item-block {
  float: left;
  width: 61%;
}
.rwd_index_015 .item-block .item {
  width: 33.33333%;
}
.rwd_index_015 .item-block .name {
  font-size: 0.95em;
  height: 35px;
}
.rwd_index_015 .item-block .type {
  font-size: 8px;
}
.rwd_index_015 .item-block .currency {
  font-size: 12px;
}
.rwd_index_015 .item-block .price {
  font-size: 16px;
}
.rwd_index_015 .photo {
  display: block;
  margin-bottom: 7px;
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
}
.rwd_index_015 .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.rwd_index_015 .info {
  min-height: 72px;
}
.rwd_index_015 .feature {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.4;
  height: 60px;
  overflow: hidden;
}
.rwd_index_015 .name {
  font-size: 16px;
  height: 20px;
  line-height: 1.3;
  margin-bottom: 10px;
  overflow: hidden;
  word-wrap: break-word;
}
.rwd_index_015 del {
  height: 15px;
  color: #6c6c6c;
  margin-bottom: 0;
}
.rwd_index_015 .currency {
  font-size: 12px;
  display: inline-block;
}
.rwd_index_015 .price {
  font-size: 18px;
  display: inline-block;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .rwd_index_015 .item {
    width: 100%;
    padding: 1.5%;
  }
  .rwd_index_015 .item-block {
    width: 100%;
  }
  .rwd_index_015 .item-block .item {
    width: 50%;
  }
}
@media screen and (max-width: 568px) {
  .rwd_index_015 .item-block .item {
    width: 100%;
  }
  .rwd_index_015 .photo {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    padding-top: 50%;
  }
  .rwd_index_015 .feature {
    display: none;
  }
  .rwd_index_015 .info {
    display: inline-block;
    width: 48%;
    vertical-align: middle;
  }
}
