/* rwd_index_017 start */
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  -webkit-transition-property: -webkit-transform, left, top;
  -webkit-transition-duration: 0s;
  -webkit-transform: translate3d(0px, 0, 0);
  -webkit-transition-timing-function: ease;
  -moz-transition-property: -moz-transform, left, top;
  -moz-transition-duration: 0s;
  -moz-transform: translate3d(0px, 0, 0);
  -moz-transition-timing-function: ease;
  -o-transition-property: -o-transform, left, top;
  -o-transition-duration: 0s;
  -o-transform: translate3d(0px, 0, 0);
  -o-transition-timing-function: ease;
  -o-transform: translate(0px, 0px);
  -ms-transition-property: -ms-transform, left, top;
  -ms-transition-duration: 0s;
  -ms-transform: translate3d(0px, 0, 0);
  -ms-transition-timing-function: ease;
  transition-property: transform, left, top;
  transition-duration: 0s;
  transform: translate3d(0px, 0, 0);
  transition-timing-function: ease;
}

.swiper-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  float: left;
}

.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
}

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
}

.rwd_index_020 .container {
  border-width: 0;
  display: block;
  position: relative;
}
.rwd_index_020 .container {
  zoom: 1;
}
.rwd_index_020 .container:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.rwd_index_020 .swiper-container {
  width: 660px;
  margin: 20px 0;
  float: left;
}
.rwd_index_020 .swiper-container .pagination {
  left: 0;
  right: 0;
  text-align: right;
}
.rwd_index_020 .col-left, .rwd_index_020 .col-right {
  width: 250px;
  margin: 20px 0 0 50px;
  padding: 1px;
  background: #ebebeb;
  background: rgba(210, 210, 210, 0.2);
  float: left;
}
.rwd_index_020 .col-left .info, .rwd_index_020 .col-right .info {
  padding: 10px 5px;
}
.rwd_index_020 .col-left .name, .rwd_index_020 .col-right .name {
  height: 45px;
  font-size: 1em;
}
.rwd_index_020 .col-right {
  margin-left: 0;
  float: right;
}
.rwd_index_020 .item:hover {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
.rwd_index_020 .item:hover .photo {
  opacity: 0.75;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
}
.rwd_index_020 .photo {
  text-align: center;
}
.rwd_index_020 .photo img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.rwd_index_020 .currency {
  font-size: 10px;
  margin-bottom: 2px;
}
@media (max-width: 1237px) {
  .rwd_index_020 .swiper-container {
    width: 100%;
    float: none;
  }
  .rwd_index_020 .col-left, .rwd_index_020 .col-right {
    width: 50%;
    margin: 0;
    padding: 0;
    background: none;
  }
  .rwd_index_020 .col-left .item, .rwd_index_020 .col-right .item {
    display: table;
  }
  .rwd_index_020 .col-left .photo, .rwd_index_020 .col-right .photo {
    width: 50%;
    display: table-cell;
  }
  .rwd_index_020 .col-left .info, .rwd_index_020 .col-right .info {
    width: 50%;
    padding: 0 15px;
    vertical-align: middle;
    display: table-cell;
  }
  .rwd_index_020 .col-left .name, .rwd_index_020 .col-right .name {
    height: 40px;
    font-size: 100%;
  }
}
@media (max-width: 999px) {
  .rwd_index_020 .container {
    padding: 20px 10px;
    border-width: 1px;
  }
}
@media (max-width: 767px) {
  .rwd_index_020 .col-left, .rwd_index_020 .col-right {
    width: 100%;
    float: none;
  }
  .rwd_index_020 .col-left .info, .rwd_index_020 .col-right .info {
    padding: 0 0 0 10px;
  }
  .rwd_index_020 .col-right {
    margin-top: 10px;
  }
}

/* rwd_index_017 end */
