/* rwd_index_018 start */
.rwd_index_018 {
  margin: 0 auto;
  padding-top: 30px;
  position: relative;
}
.rwd_index_018 .more {
  top: 32px;
  right: 15px;
  color: #6c6c6c;
  font-size: 0.8em;
  position: absolute;
}
.rwd_index_018 .tabs {
  text-align: center;
  border-bottom: 1px solid;
}
.rwd_index_018 .tabs {
  zoom: 1;
}
.rwd_index_018 .tabs:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.rwd_index_018 .tabs > li {
  float: left;
  white-space: nowrap;
  padding: 10px 25px;
  letter-spacing: 1px;
  display: block;
  overflow: hidden;
  word-break: break-all;
}
.rwd_index_018 .tabs > li.active {
  font-weight: bold;
}
.rwd_index_018 .tabs > li:hover {
  cursor: pointer;
}
.rwd_index_018 .title-h3 {
  padding: 10px;
  border-bottom: 1px solid;
  display: none;
}
.rwd_index_018 .items {
  display: none;
  padding: 10px 0;
}
.rwd_index_018 .items {
  zoom: 1;
}
.rwd_index_018 .items:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.rwd_index_018 .items.active {
  display: inherit;
}
.rwd_index_018 .item {
  width: 200px;
  margin-left: 5px;
  padding: 12px 10px;
  display: inline-block;
}
.rwd_index_018 .item.item-one {
  width: 360px;
  margin: 0 5px;
  float: left;
}
.rwd_index_018 .item.item-one .name {
  height: 40px;
  font-size: 1em;
}
.rwd_index_018 .item:hover {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
.rwd_index_018 .item:hover .photo {
  opacity: 0.75;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
}
.rwd_index_018 .photo {
  display: inline-block;
  overflow: hidden;
  margin-bottom: 5px;
  text-align: center;
  position: relative;
}
.rwd_index_018 .photo img {
  max-width: 100%;
}
.rwd_index_018 .name {
  height: 35px;
  margin-bottom: 10px;
  font-size: 0.95em;
  line-height: 1.2;
  word-break: break-all;
  overflow: hidden;
}
.rwd_index_018 .feature {
  font-size: 0.85em;
  line-height: 1.4;
  margin-bottom: 20px;
}
.rwd_index_018 .currency {
  font-size: 10px;
}
.rwd_index_018 .price {
  font-size: 18px;
  margin-right: 5px;
  vertical-align: bottom;
  display: inline-block;
}
.rwd_index_018 .btn {
  float: right;
  margin-top: 3px;
  font-size: 15px;
  color: #dd0000;
}
@media (max-width: 1237px) {
  .rwd_index_018 .item {
    width: 16.66666666667%;
    margin: 0;
  }
  .rwd_index_018 .item.item-one {
    width: 30%;
  }
}
@media (max-width: 999px) {
  .rwd_index_018 {
    padding-top: 10px;
  }
  .rwd_index_018 .tabs {
    display: none;
  }
  .rwd_index_018 .title-h3 {
    display: block;
  }
  .rwd_index_018 .items {
    display: block;
  }
  .rwd_index_018 .item {
    width: 49%;
  }
  .rwd_index_018 .item.item-one {
    width: 100%;
    margin: 0;
    float: none;
  }
  .rwd_index_018 .item.item-one .info {
    padding-top: 120px;
  }
  .rwd_index_018 .photo {
    width: 50%;
    float: left;
  }
  .rwd_index_018 .info {
    width: 50%;
    padding: 50px 0 0 15px;
    vertical-align: middle;
    display: table-cell;
  }
  .rwd_index_018 .name {
    height: 40px;
    font-size: 100%;
  }
}
@media (max-width: 767px) {
  .rwd_index_018 .item {
    width: 100%;
    padding-bottom: 0;
    display: table;
  }
  .rwd_index_018 .item.item-one .photo {
    width: 100%;
    float: none;
    display: block;
  }
  .rwd_index_018 .item.item-one .info {
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    display: block;
  }
  .rwd_index_018 .photo {
    width: 100%;
    display: table-cell;
  }
  .rwd_index_018 .info {
    padding: 0 0 0 10px;
  }
}

/* rwd_index_018 end */
