/* rwd_index_021 start */
.rwd_index_021 {
  zoom: 1;
}
.rwd_index_021:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.rwd_index_021 .item {
  float: left;
  width: 16.6666666666667%;
  padding: 10px;
}
.rwd_index_021 .item:hover {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
.rwd_index_021 .item:hover .photo {
  opacity: 0.75;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
}
.rwd_index_021 .photo {
  display: inline-block;
  width: 100%;
  margin-bottom: 8px;
  text-align: center;
  position: relative;
}
.rwd_index_021 .photo img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.rwd_index_021 .name {
  font-size: 1em;
  height: 40px;
  line-height: 1.3;
}
.rwd_index_021 del {
  height: 15px;
  color: #6c6c6c;
  margin-bottom: 0px;
}
.rwd_index_021 .currency {
  font-size: 12px;
  display: inline-block;
}
.rwd_index_021 .price {
  font-size: 18px;
  margin-right: 5px;
  display: inline-block;
}
@media (max-width: 999px) {
  .rwd_index_021 .container {
    padding: 10px 0;
  }
  .rwd_index_021 .item {
    width: 49.5%;
    padding: 12px 10px;
  }
  .rwd_index_021 .item {
    display: table;
  }
  .rwd_index_021 .photo {
    width: 50%;
    display: table-cell;
  }
  .rwd_index_021 .info {
    width: 50%;
    padding: 0 15px;
    vertical-align: middle;
    display: table-cell;
  }
}
@media (max-width: 767px) {
  .rwd_index_021 .item {
    width: 100%;
  }
  .rwd_index_021 .info {
    padding: 0 0 0 10px;
  }
}

/* rwd_index_021 end */
