.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  -webkit-transition-property: -webkit-transform, left, top;
  -webkit-transition-duration: 0s;
  -webkit-transform: translate3d(0px, 0, 0);
  -webkit-transition-timing-function: ease;
  -moz-transition-property: -moz-transform, left, top;
  -moz-transition-duration: 0s;
  -moz-transform: translate3d(0px, 0, 0);
  -moz-transition-timing-function: ease;
  -o-transition-property: -o-transform, left, top;
  -o-transition-duration: 0s;
  -o-transform: translate3d(0px, 0, 0);
  -o-transition-timing-function: ease;
  -o-transform: translate(0px, 0px);
  -ms-transition-property: -ms-transform, left, top;
  -ms-transition-duration: 0s;
  -ms-transform: translate3d(0px, 0, 0);
  -ms-transition-timing-function: ease;
  transition-property: transform, left, top;
  transition-duration: 0s;
  transform: translate3d(0px, 0, 0);
  transition-timing-function: ease;
}

.swiper-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  float: left;
}

.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
}

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
}

.item-silder-type01 .item {
  display: table;
}
.item-silder-type01 .photo {
  display: table-cell;
}
.item-silder-type01 .info {
  max-width: 300px;
  padding: 0 25px 0 15px;
  vertical-align: middle;
  display: table-cell;
}
.item-silder-type01 .feature {
  font-size: 0.85em;
  line-height: 1.4;
  margin-bottom: 20px;
}
.item-silder-type01 .pagination {
  left: 375px;
  bottom: 5px;
  position: absolute;
}
.item-silder-type01 .swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #d2d2d2;
  margin: 0 3px;
  cursor: pointer;
}
.item-silder-type01 .swiper-active-switch {
  width: 30px;
}
.item-silder-type01 .arrow {
  color: #d2d2d2;
  font-size: 3em;
  top: 50%;
  margin-top: -25px;
  opacity: 0.5;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}
.item-silder-type01 .arrow.arrow-left {
  left: 5px;
}
.item-silder-type01 .arrow.arrow-right {
  right: 5px;
}
.item-silder-type01 .arrow:hover {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
@media (max-width: 1237px) {
  .item-silder-type01 .photo {
    width: 50%;
  }
  .item-silder-type01 .pagination {
    left: 50%;
    margin-left: 15px;
  }
}
@media (max-width: 767px) {
  .item-silder-type01 .item, .item-silder-type01 .photo, .item-silder-type01 .info {
    display: block;
  }
  .item-silder-type01 .photo {
    width: 100%;
  }
  .item-silder-type01 .info {
    width: 100%;
    margin-top: 10px;
    padding: 0;
  }
  .item-silder-type01 .pagination {
    left: 0;
    right: 0;
    margin-left: 0;
    text-align: right;
  }
  .item-silder-type01 .arrow {
    display: none;
  }
}

.rwd_index_024 {
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  background: white;
}
.rwd_index_024 .container {
  border: 0;
  padding: 0;
}
.rwd_index_024 .more {
  top: 12px;
  right: 15px;
  color: white;
  font-size: 0.8em;
  position: absolute;
}
.rwd_index_024 .tabs {
  text-align: center;
  padding-top: 3px;
}
.rwd_index_024 .tabs {
  zoom: 1;
}
.rwd_index_024 .tabs:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.rwd_index_024 .tabs > li {
  float: left;
  white-space: nowrap;
  padding: 10px 25px;
  letter-spacing: 1px;
  display: block;
  overflow: hidden;
  word-break: break-all;
}
.rwd_index_024 .tabs > li.active {
  font-weight: bold;
}
.rwd_index_024 .tabs > li:hover {
  cursor: pointer;
}
.rwd_index_024 .title-h3 {
  padding: 10px;
  border-bottom: 1px solid;
  display: none;
}
.rwd_index_024 .items {
  display: none;
  padding: 10px 0;
}
.rwd_index_024 .items {
  zoom: 1;
}
.rwd_index_024 .items:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.rwd_index_024 .items.active {
  display: inherit;
}
.rwd_index_024 .item {
  width: 197px;
  padding: 12px 10px;
  display: inline-block;
}
.rwd_index_024 .item.item-one {
  width: 360px;
  margin: 0 5px;
  float: left;
}
.rwd_index_024 .item.item-one .name {
  height: 40px;
  font-size: 1em;
}
.rwd_index_024 .item:hover {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
.rwd_index_024 .item:hover .photo {
  opacity: 0.75;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
}
.rwd_index_024 .photo {
  display: inline-block;
  overflow: hidden;
  margin-bottom: 5px;
  text-align: center;
  position: relative;
}
.rwd_index_024 .photo img {
  max-width: 100%;
}
.rwd_index_024 .name {
  height: 35px;
  font-size: 0.95em;
  line-height: 1.2;
}
.rwd_index_024 .feature {
  font-size: 0.85em;
  line-height: 1.4;
  margin-bottom: 20px;
}
.rwd_index_024 .currency {
  font-size: 10px;
}
.rwd_index_024 .price {
  font-size: 18px;
  margin-right: 5px;
}
.rwd_index_024 .btn {
  float: right;
  margin-top: 3px;
  font-size: 15px;
  color: #dd0000;
}
@media (max-width: 1237px) {
  .rwd_index_024 .item {
    width: 22.5%;
    margin: 0;
  }
  .rwd_index_024 .item.item-one {
    width: 30%;
  }
}
@media (max-width: 999px) {
  .rwd_index_024 {
    padding-top: 10px;
  }
  .rwd_index_024 .tabs {
    display: none;
  }
  .rwd_index_024 .title-h3 {
    display: block;
  }
  .rwd_index_024 .items {
    display: block;
  }
  .rwd_index_024 .item {
    width: 49%;
  }
  .rwd_index_024 .item.item-one {
    width: 100%;
    margin: 0;
    float: none;
  }
  .rwd_index_024 .item.item-one .info {
    padding-top: 120px;
  }
  .rwd_index_024 .photo {
    width: 50%;
    float: left;
  }
  .rwd_index_024 .info {
    width: 50%;
    padding: 50px 0 0 15px;
    vertical-align: middle;
    display: table-cell;
  }
  .rwd_index_024 .name {
    height: 40px;
    font-size: 100%;
  }
}
@media (max-width: 767px) {
  .rwd_index_024 .item {
    width: 100%;
    padding-bottom: 0;
    display: table;
  }
  .rwd_index_024 .item.item-one .photo {
    width: 100%;
    float: none;
    display: block;
  }
  .rwd_index_024 .item.item-one .info {
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    display: block;
  }
  .rwd_index_024 .photo {
    width: 100%;
    display: table-cell;
  }
  .rwd_index_024 .info {
    padding: 0 0 0 10px;
  }
}
