@charset "UTF-8";
/* pc_index_009 開始 */
.pc_index_009 {
  margin: 0px auto;
  border-bottom: 2px solid #cccccc;
}
.pc_index_009 {
  zoom: 1;
}
.pc_index_009:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_index_009 .title-h3 {
  padding: 0;
  float: left;
  margin-bottom: 0;
  width: 490px;
  height: 18px;
  overflow: hidden;
}
.pc_index_009 .top {
  margin: 10px 0 0;
  padding: 5px 2px;
}
.pc_index_009 .top {
  zoom: 1;
}
.pc_index_009 .top:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_index_009 .links {
  float: right;
  width: 490px;
  height: 18px;
  overflow: hidden;
  text-align: right;
}
.pc_index_009 .links > li {
  display: inline-block;
  margin-left: 15px;
}
.pc_index_009 .links > li a {
  font-weight: bold;
  font-size: 13px;
  color: #c15797;
  word-break: break-all;
}
.pc_index_009 .links > li a:hover {
  text-decoration: underline;
}

/* pc_index_009 結束 */
