.pc_index_003 {
  margin: 0 auto 20px;
}
.pc_index_003 .tabs {
  text-align: center;
}
.pc_index_003 .tabs {
  zoom: 1;
}
.pc_index_003 .tabs:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_index_003 .tabs > li {
  width: 16.66718%;
  float: left;
  border: 1px solid #cccccc;
  border-top: 2px solid #cccccc;
  border-bottom: none;
  background: #FAFAFA;
  white-space: nowrap;
  padding: 8px 4px 9px;
  display: block;
  font-size: 0.85em;
  font-weight: bold;
  color: #333;
  overflow: hidden;
  word-break: break-all;
}
.pc_index_003 .tabs > li.active {
  background: white;
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
}
.pc_index_003 .tabs > li:hover {
  cursor: pointer;
}
.pc_index_003 .content {
  border-top: 1px solid #cccccc;
  margin-top: -1px;
}
.pc_index_003 .items {
  display: none;
  font-size: 0;
  border: 1px solid #cccccc;
  border-top: none;
  padding: 9px 4px;
}
.pc_index_003 .items.active {
  display: inherit;
}
.pc_index_003 .item {
  width: 20%;
  padding: 0 9px;
  display: inline-block;
}
.pc_index_003 .item:hover img {
  -moz-transform: scale(1.05) translate3d(0, 0, 0);
  -o-transform: scale(1.05) translate3d(0, 0, 0);
  -ms-transform: scale(1.05) translate3d(0, 0, 0);
  -webkit-transform: scale(1.05) translate3d(0, 0, 0);
  transform: scale(1.05) translate3d(0, 0, 0);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.pc_index_003 .item:hover .name a {
  color: #c15797;
}
.pc_index_003 .time {
  font-weight: bold;
  background: #1ba7fc;
  color: #fff;
  font-size: 13px;
  padding: 8px 10px;
  text-align: center;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
.pc_index_003 .time li {
  display: inline-block;
}
.pc_index_003 .time div {
  display: inline-block;
  height: 17px;
  vertical-align: top;
  line-height: 1.2;
  overflow: hidden;
}
.pc_index_003 .time.is-come-end {
  background: #f96;
}
.pc_index_003 .time.is-gone {
  background: #ccc;
}
.pc_index_003 .photo {
  display: inline-block;
  margin-bottom: 4px;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
  position: relative;
}
.pc_index_003 .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.pc_index_003 .name {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.5;
  word-break: break-all;
  overflow: hidden;
  height: 35px;
}
.pc_index_003 .name a {
  color: black;
}
.pc_index_003 .buy {
  color: #f60011;
  height: 18px;
}
.pc_index_003 .buy .start {
  color: #333;
  font-size: 12px;
}
.pc_index_003 .buy.is-old .currency, .pc_index_003 .buy.is-old .price {
  color: #0092EB;
}
.pc_index_003 .buy.is-old .price {
  font-size: 14px;
}
.pc_index_003 .currency {
  font-size: 10px;
  vertical-align: bottom;
  display: inline-block;
  margin-bottom: 2px;
}
.pc_index_003 .price {
  font-size: 18px;
  margin-right: 5px;
  vertical-align: bottom;
  display: inline-block;
}
.pc_index_003 .btn {
  float: right;
  margin-top: 3px;
  font-size: 15px;
  color: #f60011;
}
.pc_index_003 .fa {
  margin-left: 4px;
}
.pc_index_003 .tag-status {
  position: absolute;
  bottom: 7px;
  right: 7px;
  z-index: 9;
}
