@charset "UTF-8";
/* pc_index_001 開始 */
.pc_index_001 {
  text-align: center;
  font-size: 0;
  margin-bottom: 20px;
}
.pc_index_001 {
  zoom: 1;
}
.pc_index_001:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_index_001 .menu {
  display: inline-block;
  height: 36px;
  overflow: hidden;
}
.pc_index_001 .menu {
  zoom: 1;
}
.pc_index_001 .menu:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_index_001 .menu > li {
  float: left;
  height: 20px;
  margin-top: 9px;
  overflow: hidden;
  word-break: break-all;
}
.pc_index_001 .menu > li:first-child a {
  border-left: none;
}
.pc_index_001 .menu > li:hover {
  height: 36px;
  margin-top: 0px;
}
.pc_index_001 .menu > li:hover + li {
  height: 36px;
  margin-top: 0px;
}
.pc_index_001 .menu > li:hover + li a {
  padding: 11px 20px;
}
.pc_index_001 .menu > li.hotspot {
  background: #f96;
  height: 36px;
  margin: 0;
  padding: 9px 10px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5db1+0,ef017c+100;Pink+3D+%231 */
  background: #ff5db1;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ff5db1 0%, #ef017c 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ff5db1 0%, #ef017c 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ff5db1 0%, #ef017c 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#ef017c',GradientType=0 );
  /* IE6-9 */
}
.pc_index_001 .menu > li.hotspot:hover {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff0084+0,ff0084+100;Pink+Flat */
  background: #ff0084;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ff0084 0%, #ff0084 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ff0084 0%, #ff0084 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ff0084 0%, #ff0084 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0084', endColorstr='#ff0084',GradientType=0 );
  /* IE6-9 */
}
.pc_index_001 .menu > li.hotspot a:hover {
  color: white;
  padding: 2px 20px;
  background: none;
}
.pc_index_001 a {
  display: block;
  color: white;
  padding: 2px 20px;
  border-left: 1px solid #FFF;
  font-size: 16px;
}
.pc_index_001 a:last-child {
  content: "|";
}
.pc_index_001 a:hover {
  padding: 10px 20px;
  background: #f6f6f6;
  color: black;
}

/* pc_index_001 結束 */
