@charset "UTF-8";
/* pc_index_007 開始 */
.pc_index_007 {
  margin: 0px auto 20px auto;
}
.pc_index_007 {
  zoom: 1;
}
.pc_index_007:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_index_007 .items {
  font-size: 0;
  padding: 10px 0;
}
.pc_index_007 .item {
  width: 20%;
  padding: 10px 10px;
  display: inline-block;
}
.pc_index_007 .photo {
  display: inline-block;
  width: 100%;
}
.pc_index_007 .photo img {
  width: 100%;
}
.pc_index_007 .name {
  margin-bottom: 10px;
  color: black;
  font-weight: bold;
  font-size: 1.5em;
}
.pc_index_007 .feature {
  margin-bottom: 10px;
  font-size: 0.85em;
  line-height: 1.6;
}
.pc_index_007 .currency {
  font-size: 0.8em;
  color: #f60011;
}
.pc_index_007 .price {
  font-size: 1.3em;
  margin-left: -3px;
  margin-right: 5px;
  color: #f60011;
}
.pc_index_007 .button {
  vertical-align: top;
}

/* pc_index_007 結束 */
