@import url(http://fonts.googleapis.com/css?family=Nobile:700,400);
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html, body {
  height: 100%;
}

* {
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, ol {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

ins {
  background-color: #ffff99;
  color: black;
  text-decoration: none;
}

mark {
  background-color: #ffff99;
  color: black;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

::-webkit-search-cancel-button, .hide {
  display: none;
}

body {
  font-size: 100%;
  font-family: "Microsoft YaHei", "Microsoft JhengHei", "Apple LiGothic Medium";
}

img {
  max-width: 100%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
  color: white;
  letter-spacing: 1px;
}

::-webkit-input-placeholder {
  color: white;
}

::-moz-placeholder {
  color: white;
}

::-moz-placeholder {
  color: white;
}

::-ms-input-placeholder {
  color: white;
}

.main-body {
  min-width: 1024px;
  padding-top: 46px;
  background-color: #f3f6f8;
}

.header-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-width: 1024px;
  z-index: 2;
  background-color: #0095ce;
  border-top: 5px solid #555555;
}
.header-nav:after {
  content: "";
  display: table;
  clear: both;
}
.header-nav .search {
  float: right;
  margin-right: 15px;
  padding: 8px 5px;
  position: relative;
}
.header-nav .search_input {
  width: 150px;
  padding: 5px 32px 5px 10px;
  border: 0;
  background: #0086ba;
  color: white;
  -webkit-box-shadow: inset #006d96 1px 1px 5px;
  -moz-box-shadow: inset #006d96 1px 1px 5px;
  box-shadow: inset #006d96 1px 1px 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.header-nav .search_input:focus {
  color: #333333;
  background-color: white;
}
.header-nav .search_input:focus ~ a .fa-search {
  color: #333333;
}
.header-nav .fa-search {
  position: absolute;
  top: 12px;
  right: 15px;
  color: white;
}
.header-nav .login {
  float: right;
  position: relative;
  height: 41px;
  padding: 13px 10px 0 0;
  font-size: 0.8em;
  color: white;
  cursor: pointer;
}
.header-nav .login .login_sub {
  display: none;
  min-width: 100px;
  padding: 10px;
}
.header-nav .login .logintxt {
  margin-right: 5px;
}
.header-nav .login .fa {
  margin-right: 5px;
}
.header-nav .login a {
  color: white;
}
.header-nav .login:hover .login_sub {
  display: block;
  position: absolute;
  right: 2px;
  top: 41px;
  color: white;
  background: #0095ce;
  -webkit-box-shadow: #333333 1px 1px 5px;
  -moz-box-shadow: #333333 1px 1px 5px;
  box-shadow: #333333 1px 1px 5px;
}
.header-nav .login:hover .login_sub:hover {
  color: white;
  background: #0083b4;
}

.logo {
  padding: 2px 50px 8px;
  float: left;
  background-color: #0083b4;
}

.main-nav {
  float: left;
}
.main-nav ul {
  background: #0095ce;
  display: none;
  -webkit-box-shadow: #333333 1px 1px 5px;
  -moz-box-shadow: #333333 1px 1px 5px;
  box-shadow: #333333 1px 1px 5px;
}
.main-nav li {
  min-width: 100px;
  position: relative;
  white-space: nowrap;
  cursor: pointer;
  border-bottom: 1px solid #0083b4;
}
.main-nav li ul {
  position: absolute;
  top: 40px;
  left: 0;
}
.main-nav li:hover {
  background-color: #00709b;
}
.main-nav li:hover > ul {
  display: block;
}
.main-nav > li {
  cursor: pointer;
  display: inline-block;
}
.main-nav > li a {
  display: block;
  min-width: 100px;
  text-align: center;
  padding: 13px 20px;
  color: white;
  font-size: 0.9em;
}
.main-nav > li a:hover {
  background-color: #0083b4;
}
.main-nav > li ul.third-nav {
  top: 0;
  left: 100%;
}

.main_col {
  width: 100%;
}
.main_col:after {
  content: "";
  display: table;
  clear: both;
}

.left_col {
  position: fixed;
  left: 0;
  top: 46px;
  height: 100%;
  float: left;
  overflow: auto;
  background-color: #e8eef4;
  border-right: 1px solid #d3dee6;
}

.left-nav {
  display: inline-block;
  min-width: 150px;
}
.left-nav dt {
  padding: 10px 5px;
  color: #668eaa;
  font-size: 0.95em;
  background-color: #fefefe;
  border-bottom: 1px solid #d9e3ea;
  -webkit-box-shadow: #d9e3ea 0px 1px 5px;
  -moz-box-shadow: #d9e3ea 0px 1px 5px;
  box-shadow: #d9e3ea 0px 1px 5px;
}
.left-nav dd .fa {
  margin-right: 5px;
  font-size: 0.7em;
  color: #4a89dc;
}
.left-nav dd a {
  display: block;
  padding: 10px 15px 10px;
  color: #2e4453;
  font-size: 0.9em;
  width: 200px;
  line-height: 1.5;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-transition-property: background, color;
  -moz-transition-property: background, color;
  -o-transition-property: background, color;
  transition-property: background, color;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.left-nav dd a:hover, .left-nav dd a.active {
  color: #00aadc;
  background-color: #f3f6f8;
  border-bottom: 1px solid #d9e3ea;
}

.right_col {
  margin-left: 200px;
  padding: 10px;
}
.right_col .breadcrumb {
  margin: -10px -10px 10px;
  padding: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
  background-image: -webkit-linear-gradient(#ffffff, #e5e5e5);
  background-image: -moz-linear-gradient(#ffffff, #e5e5e5);
  background-image: -o-linear-gradient(#ffffff, #e5e5e5);
  background-image: linear-gradient(#ffffff, #e5e5e5);
  border-bottom: 1px solid #dbdee0;
}
.right_col .breadcrumb a {
  color: #333333;
  font-size: 0.9em;
}
.right_col .breadcrumb a:hover {
  color: #2a6496;
  text-decoration: underline;
}
.right_col .breadcrumb .b_line {
  margin: 0 5px;
  color: #b6b6b6;
}
.right_col .con_block {
  margin: 0 0 10px;
  background-color: white;
  -webkit-box-shadow: #cccccc 1px 1px 5px;
  -moz-box-shadow: #cccccc 1px 1px 5px;
  box-shadow: #cccccc 1px 1px 5px;
}
.right_col .con_title {
  padding: 10px;
  color: white;
  background-color: #74b8d8;
  text-shadow: rgba(51, 51, 51, 0.2) 1px 2px 0;
}
.right_col .con_title .fa {
  margin-right: 5px;
}
.right_col .con_main {
  padding: 10px;
  line-height: 1.8;
  font-size: 0.9em;
}
.right_col .con_main p {
  max-width: 800px;
  word-break: break-word;
  word-wrap: break-word;
}
.right_col .con_main img {
  display: block;
  max-height: 500px;
  max-width: 800px;
  margin: 10px 0 10px 30px;
  padding: 5px;
  -webkit-box-shadow: #cccccc 1px 1px 5px;
  -moz-box-shadow: #cccccc 1px 1px 5px;
  box-shadow: #cccccc 1px 1px 5px;
}
.right_col .con_main .con_main_title {
  display: inline-block;
  margin: 5px 0;
  padding: 5px 10px;
  line-height: 1.5;
  color: white;
  background-color: #ff9966;
  text-shadow: rgba(51, 51, 51, 0.2) 1px 2px 0;
}
.right_col .con_main .con_main_sub_title {
  color: #4a89dc;
  font-size: 1em;
}
.right_col .con_main .con_main_sub_title:before {
  content: "◉";
  display: inline-block;
}
.right_col .con_main .con_main_list {
  display: block;
  max-width: 800px;
  padding: 5px;
  margin-left: 50px;
  line-height: 2;
  list-style-type: decimal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.right_col .con_main .access_block {
  text-align: center;
}
.right_col .con_main .submit {
  padding: 10px;
  color: white;
  font-size: 1em;
  background: #67c2ef;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: #cccccc 1px 1px 5px;
  -moz-box-shadow: #cccccc 1px 1px 5px;
  box-shadow: #cccccc 1px 1px 5px;
}
.right_col .con_main .submit:hover {
  background-color: #39afea;
}
.right_col .con_main code {
  display: block;
  margin: 5px 0;
  padding: 10px;
  background: #e8eefc;
  border: 1px solid #aaaaaa;
  word-break: break-word;
  word-wrap: break-word;
}
.right_col .con_main .line {
  margin: 0 0 10px;
}
.right_col .con_main .line .front, .right_col .con_main .line .back {
  min-width: 130px;
  display: inline-block;
  text-align: left;
}
.right_col .con_main .line .reg_input {
  padding: 5px 10px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.right_col .con_main .line .reg_input:focus {
  border-color: #ff9966;
}
.right_col .con_main .con_table {
  width: 100%;
  margin: 0 0 8px;
  font-size: 0.95em;
}
.right_col .con_main .con_table th {
  padding: 5px;
  border: 1px solid #dddddd;
  background-color: #fff9da;
  white-space: nowrap;
}
.right_col .con_main .con_table tr:nth-child(odd) {
  background-color: whitesmoke;
}
.right_col .con_main .con_table tr:hover td {
  background-color: #ffede4;
}
.right_col .con_main .con_table td {
  padding: 5px;
  font-size: 0.95em;
  border: 1px solid #dddddd;
  vertical-align: middle;
  line-height: 1.6;
}
.right_col .con_main .con_table td .fa-pencil-square-o {
  padding: 5px;
  color: white;
  background-color: #78cd51;
}
.right_col .con_main .con_table td .fa-times {
  padding: 5px;
  color: white;
  background-color: #ff5454;
}
.right_col .con_index_block {
  width: 33%;
}
.right_col .con_index_table {
  border: 1px solid #aaaaaa;
  background-color: white;
}
.right_col .con_index_table td {
  padding: 5px;
  border-bottom: 1px solid #aaaaaa;
}

.right_col_title {
  display: inline-block;
  margin-bottom: 10px;
  padding: 5px 20px;
  color: white;
  background-color: #0095ce;
  line-height: 1.5;
  -webkit-box-shadow: #cccccc 1px 1px 5px;
  -moz-box-shadow: #cccccc 1px 1px 5px;
  box-shadow: #cccccc 1px 1px 5px;
}

.right_col_form {
  padding: 0 10px 5px;
  background-color: #f1f3f5;
  border: 1px solid #d4dbdf;
  -webkit-box-shadow: #cccccc 1px 1px 5px;
  -moz-box-shadow: #cccccc 1px 1px 5px;
  box-shadow: #cccccc 1px 1px 5px;
}
.right_col_form .line {
  margin-bottom: 10px;
}
.right_col_form input {
  padding: 3px;
}
.right_col_form label.prefix {
  display: inline-block;
  min-width: 150px;
  margin-top: 4px;
  font-size: 0.9em;
  text-align: right;
  vertical-align: top;
}
