.rwd-category-003 {
  zoom: 1;
}
.rwd-category-003:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.rwd-category-003 .items {
  margin: 0;
  padding: 10px;
}
.rwd-category-003 .items {
  zoom: 1;
}
.rwd-category-003 .items:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.rwd-category-003 .item {
  float: left;
  width: 48%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid transparent;
}
.rwd-category-003 .item:hover {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
.rwd-category-003 .item:hover .photo {
  opacity: 0.75;
}
.rwd-category-003 .item-block {
  float: right;
  width: 50%;
}
.rwd-category-003 .item-block {
  zoom: 1;
}
.rwd-category-003 .item-block:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.rwd-category-003 .item-block .item {
  float: none;
  width: 100%;
  margin-bottom: 14px;
}
.rwd-category-003 .item-block .item {
  zoom: 1;
}
.rwd-category-003 .item-block .item:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.rwd-category-003 .item-block .photo {
  float: left;
  width: 36%;
  height: auto;
  line-height: 0;
  margin-right: 5%;
  margin-bottom: 0px;
  padding-top: 0;
}
.rwd-category-003 .item-block img {
  width: 100%;
  position: static !important;
}
.rwd-category-003 .item-block .info {
  float: left;
  width: 59%;
}
.rwd-category-003 .item-block .name {
  font-size: 15px;
  height: 36px;
  margin-bottom: 15px;
}
.rwd-category-003 .item-block .currency {
  font-size: 12px;
}
.rwd-category-003 .item-block .price {
  font-size: 16px;
}
.rwd-category-003 .photo {
  display: block;
  margin-bottom: 7px;
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
}
.rwd-category-003 .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.rwd-category-003 .info {
  min-height: 122px;
}
.rwd-category-003 .name {
  font-size: 16px;
  height: 20px;
  line-height: 1.3;
  margin-bottom: 10px;
  overflow: hidden;
  word-wrap: break-word;
}
.rwd-category-003 .currency {
  font-size: 12px;
  display: inline-block;
}
.rwd-category-003 .price {
  font-size: 18px;
  display: inline-block;
  margin-right: 10px;
}
.rwd-category-003 .buy-actions {
  margin-top: 10px;
}
.rwd-category-003 .quantity {
  margin-right: 10px;
  vertical-align: middle;
}
.rwd-category-003 .quantity .quantity-decrease, .rwd-category-003 .quantity .quantity-increase {
  padding: 7px;
}
.rwd-category-003 .quantity .quantity-input {
  width: 36px;
  height: 32px;
}
.rwd-category-003 .highlight {
  margin-top: 10px;
  font-size: .7em;
  line-height: 1.4;
}

@media (min-width: 768px) and (max-width: 999px) {
  .rwd-category-003 .quantity {
    margin-bottom: 10px;
  }
  .rwd-category-003 .button {
    margin-bottom: 10px;
    padding: 0 .7em;
  }
  .rwd-category-003 .highlight {
    margin-top: 0px;
  }
}
@media (max-width: 767px) {
  .rwd-category-003 .items {
    padding: 10px;
    margin: 0;
  }
  .rwd-category-003 .item {
    float: none;
    width: 100%;
    margin: 0 0 10px;
    padding: 20px 20px 20px;
    height: auto;
  }
  .rwd-category-003 .info {
    padding: 0;
    min-height: 0;
  }
  .rwd-category-003 .name {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 10px;
    height: auto;
    overflow: hidden;
    word-wrap: break-word;
  }
  .rwd-category-003 .price {
    font-size: 18px;
    margin-right: 10px;
  }
  .rwd-category-003 .quantity {
    margin-right: 10px;
    vertical-align: middle;
  }
  .rwd-category-003 .quantity .quantity-decrease, .rwd-category-003 .quantity .quantity-increase {
    padding: 7px;
  }
  .rwd-category-003 .quantity .quantity-input {
    width: 36px;
    height: 32px;
  }
  .rwd-category-003 .button {
    vertical-align: top;
    font-size: 15px;
    padding: 0 1.25em;
    height: 32px;
    line-height: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .rwd-category-003 .button.btn-preorder-finish {
    padding: 0;
  }
  .rwd-category-003 .item-block {
    float: none;
    width: 100%;
  }
  .rwd-category-003 .item-block {
    zoom: 1;
  }
  .rwd-category-003 .item-block:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
  .rwd-category-003 .item-block .item {
    float: none;
    width: 100%;
    margin-bottom: 14px;
  }
  .rwd-category-003 .item-block .item {
    zoom: 1;
  }
  .rwd-category-003 .item-block .item:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
  .rwd-category-003 .item-block .photo {
    float: none;
    width: 100%;
    height: 0;
    line-height: 0;
    margin-right: 0;
    margin-bottom: 10px;
    padding-top: 100%;
  }
  .rwd-category-003 .item-block img {
    width: auto;
    position: absolute !important;
  }
  .rwd-category-003 .item-block .info {
    float: none;
    width: 100%;
  }
  .rwd-category-003 .item-block .name {
    font-size: 16px;
    height: auto;
    margin-bottom: 10px;
  }
  .rwd-category-003 .item-block .currency {
    font-size: 14px;
  }
  .rwd-category-003 .item-block .price {
    font-size: 18px;
  }
}
