.pc-category-003 {
  zoom: 1;
}
.pc-category-003:after, .pc-category-003:before {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc-category-003 .items {
  margin: 10px 0px 0;
}
.pc-category-003 .items {
  zoom: 1;
}
.pc-category-003 .items:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc-category-003 .item {
  float: left;
  width: 46%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid transparent;
}
.pc-category-003 .item:hover {
  border: 1px solid #cccccc;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
.pc-category-003 .item:hover .photo {
  opacity: 0.75;
}
.pc-category-003 .item-block {
  float: right;
  width: 52%;
}
.pc-category-003 .item-block {
  zoom: 1;
}
.pc-category-003 .item-block:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc-category-003 .item-block .item {
  float: none;
  width: 100%;
  margin-bottom: 7px;
}
.pc-category-003 .item-block .item {
  zoom: 1;
}
.pc-category-003 .item-block .item:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc-category-003 .item-block .photo {
  float: left;
  width: 36%;
  height: auto;
  line-height: 0;
  margin-right: 5%;
  margin-bottom: 0px;
  padding-top: 0;
}
.pc-category-003 .item-block img {
  width: 100%;
  position: static !important;
}
.pc-category-003 .item-block .info {
  float: left;
  width: 59%;
  min-height: 145px;
}
.pc-category-003 .item-block .name {
  font-size: 15px;
  line-height: 1.35;
  height: 40px;
  margin-bottom: 15px;
}
.pc-category-003 .item-block .type {
  font-size: 8px;
}
.pc-category-003 .item-block .currency {
  font-size: 12px;
}
.pc-category-003 .item-block .price {
  font-size: 16px;
}
.pc-category-003 .photo {
  display: block;
  margin-bottom: 7px;
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
}
.pc-category-003 .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.pc-category-003 .photo img {
  max-width: 360px;
}
.pc-category-003 .info {
  min-height: 150px;
}
.pc-category-003 .name {
  font-size: 17px;
  height: 46px;
  line-height: 1.4;
  margin-bottom: 10px;
  color: black;
  font-weight: bold;
  overflow: hidden;
  word-break: break-word;
  word-wrap: break-word;
}
.pc-category-003 .type {
  font-size: 15px;
  color: #6c6c6c;
}
.pc-category-003 .currency {
  font-size: 14px;
  color: #f60011;
  display: inline-block;
  margin-left: 3px;
}
.pc-category-003 .price {
  font-size: 22px;
  color: #f60011;
  display: inline-block;
  margin-right: 5px;
}
.pc-category-003 .buy-actions {
  margin-top: 10px;
  text-align: right;
}
.pc-category-003 .quantity {
  margin-right: 5px;
  vertical-align: middle;
}
.pc-category-003 .highlight {
  font-size: 12px;
  line-height: 1.5;
  margin-top: 5px;
  text-align: right;
}
.pc-category-003 .large {
  font-size: 13px;
  padding: 0 10px;
  line-height: 21px;
  height: 22px;
}
.pc-category-003 .tag-status {
  position: absolute;
  bottom: 7px;
  right: 7px;
  z-index: 9;
}
