//
// Box-sizing
//
@mixin box-sizing ( $box-sizing ) {
  -webkit-box-sizing: $box-sizing;
     -moz-box-sizing: $box-sizing;
          box-sizing: $box-sizing;
}
//
// clearfix
//
@mixin clearfix {
  & {
    zoom: 1;
  }
  &:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}
@mixin clearself {
  overflow: hidden;
}
//
// font-family
//
@mixin number-font {
  font-family: Helvetica, Arial, sans-serif;
}
//
// border-radius
//
@mixin border-radius ( $radius ) {
  @include background-clip-padding-box;
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}
@mixin border-top-radius ( $radius ) {
  @include background-clip-padding-box;
  -webkit-border-top-left-radius: $radius;
     -moz-border-radius-topleft:  $radius;
          border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;
     -moz-border-radius-topright:  $radius;
          border-top-right-radius: $radius;
}
@mixin border-right-radius ( $radius ) {
  @include background-clip-padding-box;
  -webkit-border-top-right-radius: $radius;
     -moz-border-radius-topright:  $radius;
          border-top-right-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
     -moz-border-radius-bottomright:  $radius;
          border-bottom-right-radius: $radius;
}
@mixin border-bottom-radius ( $radius ) {
  @include background-clip-padding-box;
  -webkit-border-bottom-left-radius: $radius;
     -moz-border-radius-bottomleft:  $radius;
          border-bottom-left-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
     -moz-border-radius-bottomright:  $radius;
          border-bottom-right-radius: $radius;
}
@mixin border-left-radius ( $radius ) {
  @include background-clip-padding-box;
  -webkit-border-top-left-radius: $radius;
     -moz-border-radius-topleft:  $radius;
          border-top-left-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
     -moz-border-radius-bottomleft:  $radius;
          border-bottom-left-radius: $radius;
}
@mixin background-clip-padding-box {
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}
//
// box-shadow
//
@mixin box-shadow ( $value, $value2: '' ) {
  @if $value2 == '' {
  -webkit-box-shadow: $value;
     -moz-box-shadow: $value;
          box-shadow: $value;
  } @else {
  -webkit-box-shadow: $value, $value2;
     -moz-box-shadow: $value, $value2;
          box-shadow: $value, $value2;
  }
}
@mixin transition ( $value ) {
  -webkit-transition: $value;
     -moz-transition: $value;
       -o-transition: $value;
          transition: $value;
}
//
// background-gradient
//
@mixin background-gradient ( $start, $end ) {
  background-color: ( $start + $end ) / 2;
  background-image: -webkit-gradient(linear, left top, left bottom, from($start), to($end));
  background-image: -webkit-linear-gradient(top, $start, $end);
  background-image:    -moz-linear-gradient(top, $start, $end);
  background-image:     -ms-linear-gradient(top, $start, $end);
  background-image:      -o-linear-gradient(top, $start, $end);
  background-image:         linear-gradient(top bottom, $start, $end);
}
@mixin background-alpha-gradient ( $start, $end, $solid ) {
  background: $solid;
  background: -webkit-gradient(linear, left top, left bottom, from($start), to($end));
  background: -webkit-linear-gradient(top, $start, $end);
  background:    -moz-linear-gradient(top, $start, $end);
  background:     -ms-linear-gradient(top, $start, $end);
  background:      -o-linear-gradient(top, $start, $end);
  background:         linear-gradient(top bottom, $start, $end);
}
@mixin background-alpha-horizontal-gradient ( $start, $end, $solid ) {
  background: $solid;
  background: -webkit-gradient(linear, left top, right top, from($start), to($end));
  background: -webkit-linear-gradient(left, $start, $end);
  background:    -moz-linear-gradient(left, $start, $end);
  background:     -ms-linear-gradient(left, $start, $end);
  background:      -o-linear-gradient(left, $start, $end);
  background:         linear-gradient(left right, $start, $end);
}
@mixin background-stripe($angle, $stripe_color1, $stripe_color2, $stripe_color3, $stripe_color4, $stripe_color5, $stripe_color6, $stripe_color7){
  background-image: -webkit-linear-gradient($angle, $stripe_color1, $stripe_color2, $stripe_color3, $stripe_color4, $stripe_color5, $stripe_color6, $stripe_color7);
  background-image: -moz-linear-gradient($angle, $stripe_color1, $stripe_color2, $stripe_color3, $stripe_color4, $stripe_color5, $stripe_color6, $stripe_color7);
  background-image: -ms-linear-gradient($angle, $stripe_color1, $stripe_color2, $stripe_color3, $stripe_color4, $stripe_color5, $stripe_color6, $stripe_color7);
  background-image: -o-linear-gradient($angle, $stripe_color1, $stripe_color2, $stripe_color3, $stripe_color4, $stripe_color5, $stripe_color6, $stripe_color7);
  background-image: linear-gradient($angle, $stripe_color1, $stripe_color2, $stripe_color3, $stripe_color4, $stripe_color5, $stripe_color6, $stripe_color7);
}


//
// background-size
//
@mixin background-size($b_size){
  -webkit-background-size: ($b_size);
  -moz-background-size: ($b_size);
  -ms-background-size: ($b_size);
  -o-background-size: ($b_size);
  background-size: ($b_size);
}

//
// animate
//
@mixin animate-stripes($a-stripes){
  -webkit-animation: ($a-stripes);
  -moz-animation: ($a-stripes);
  -ms-animation: ($a-stripes);
  -o-animation: ($a-stripes);
  animation: ($a-stripes);
}


//
// columns
//
@mixin column-count ( $columns ) {
  -webkit-column-count: $columns;
     -moz-column-count: $columns;
          column-count: $columns;
}

@mixin column-gap ( $value ) {
  -webkit-column-gap: $value;
     -moz-column-gap: $value;
          column-gap: $value;
}

//
// Opacity
//
@mixin opacity ( $value ) {
  opacity: $value;
  filter: unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=#{round($value * 100)})");
}


//
// other minins by yougi
//
@mixin one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin inline-block {
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
}
@mixin font-small($i) {
  font-size: $i + px;
  font-size-adjust: none;
}
@mixin user-select {
  -webkit-user-select: none;
     -moz-user-select: none; 
      -ms-user-select: none;
          user-select: none;
}
@mixin align-pic {
    & { 
        display:table; 
        table-layout:fixed;
        overflow:hidden;
    }
    .align{
        width:100%; 
        height:100%; 
        display:table-cell;
        vertical-align:middle;
        text-align:center;
        span{
            *height:100%; 
            *display:inline-block; 
            *vertical-align:middle;
        }
        img{
            vertical-align:middle;
        }
    }
}
@mixin crop($width, $color){
  position: relative;
  width: $width;
  height: 0;
  overflow: hidden;
  padding-top: $width;
  background: $color;
  img{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
  }
}
@mixin light-box-setting($width, $height, $position) {
  top: 50%;
  left: 50%;
  width: $width - 30;
  height: $height - 30;
  margin-left: ($width - 30)/2 * -1;
  margin-top: ($height - 30)/2 * -1;
  position: $position;
}


//icon
@mixin selected-icon{
  &:after {
    position: absolute;
    bottom: -2px;
    right: -2px;
    z-index: 999;
    content: ".";
    height: 0;
    width: 16px;
    padding-top: 16px;
    text-indent: -9999;
    display: block;
    overflow: hidden;
    background: url($tw_iconall) 0 -260px no-repeat;
  }
}


//triangle-border
@mixin triangle-border{
  font-size: 1.3em;           
  color: $dark_gray;
  text-align: center;
  line-height: 1.3; 
  margin: 0px;
  padding: 8px 9px 6px 9px;         
  background: $bkerer_gray;
  border: 2px solid $bk_grayish;
  @include border-radius(4px);
  &::before{
    position: absolute;
    right: 10px;               
    bottom: -12px;                
    width: 0px;
    border-width: 10px 10px 0px 10px;
    border-style: solid;
    border-color: $bk_grayish transparent;
    display: block;
    content: "";
  }
  &::after{
    position: absolute;
    right: 11px; 
    bottom: -9px;
    width: 0px;
    border-width: 9px 9px 0px 9px;
    border-style: solid;
    border-color: $bkerer_gray transparent;
    display: block;
    content: "";
  }
}
