// background image file
$bg_file_width:   1030px;
$bg_file_height:  50px;

// icon files
$tw_iconall: "../img/tw_iconall.png";

//brown
$brown:            #b97438;

// red
$dark_red:         #d40011;
$red:              #D52528;
$light_red:        #ee0000;
$lighter_red:      #e8414d;
$brighter_red:     #ffded5;

// blue
$dim_blue:         #004e7a;
$darker_blue:      #0066cc;
$dark_blue:        #0078c4;
$blue:             #1180c2;
$light_blue:       #2290c6;
$lighter_blue:     #33a6de;
$pale_blue:        #62a4c4;
$light_pale_blue:  #b1d1e1;


// gray
$darker_gray:		#111111;
$dark_gray:			#333333;
$gray:				#555555;
$light_gray:		#888888;
$light_grayish:		#999999;
$lighter_gray:		#bbbbbb;
$bk_gray:			#cccccc;
$bk_grayish:		#dddddd;
$bker_gray:			#e0e0e0;
$bker_grayish:		#eeeeee;
$bkerer_gray:		#f6f6f6;
$bkererer_gray:		#fBfBfB;


//purple
$dark_purple:		#a80082;
$purple:			#d37fc0;
$light_purple:		#CB66B4;
$lighter_purple:	#f3e0f0;
$lighterer_purple:	#fff5fb;


//orange
$orange:            #ff5500;

//green
$green:             #009900;

//yellow
$dark_yellow:		#ffaa00;
$yellow:		 	#ffff00;
$light_yellow:		#ffffbb;
$ad_yellow:		 	#fff5dd;


// Small screen (phone)
$screen-sm-max: 600px;
// Medium screen (pad)
$screen-md-min: 601px;
$screen-md-max: 768px;
// Large screen (desktop)
$screen-lg-min: 769px;
$screen-lg-max: 1000px;