.pc_market_003{
	margin-bottom: 10px;
	border: 8px solid $background2;
	.photo-01,.photo-03{
		float: left;
		width: 350px;
		.photo{
			width:340px;
			height:222px;
			display: block;
			font-size: 0;
			margin: 4px;
			border: 1px solid $border2;
			img{
				display:block;
				width:340px;
				height:222px;
			}
		}
	}
	.photo-02{
		float: left;
		width: 284px;
		.photo{
			width:280px;
			height:107px;
			display: block;			
			font-size: 0;
			margin: 4px 1px 8px 1px;
			border: 1px solid $border2;
			img{
				display:block;
				width:280px;
				height:105px;
			}
			&:nth-child(2){
				margin-bottom: 5px;
			}		
			&:last-child{
				margin-bottom: 4px;
			}
		}
	}
	// .photo-03{
	// 	float: left;
	// 	width: 350px;
	// 	.photo{
	// 		display: block;
	// 		font-size: 0;
	// 		margin: 4px;
	// 		border: 1px solid $border2;			
	// 	}
	// }
}