.pc_market_list{
	@include clearfix;
	.items{
		margin: 0 -10px 0;
	}
	.item{
		float: left;
		width: 24.76%;
		margin-bottom: 10px;
		padding: 10px;
		border: 1px solid transparent;
		&:hover{
			border: 1px solid $border;
			@include transition(0.6s);
			.photo{
				opacity: 0.75;
			}
		}
	}
	.photo{
		display: block;
		margin-bottom: 7px;
		@include crop(100%, white);
		position: relative;
	}
	.info{
	}
	.name{
		font-size: 13px;
		height: 32px;
		line-height: 1.3;
		margin-bottom: 5px;
		color: $items_name;
		font-weight: bold;
		overflow: hidden;
		word-break:break-word;
		word-wrap: break-word;
	}
	.type{
		font-size: 8px;
		color: $gray;
	}
	.buy-actions{
		margin-top: 10px;
		text-align: right;
	}
	.quantity{
		margin-right: 5px;
		vertical-align: middle;
	}
	.buy{
		margin-top: 2px;
		color: $price;
	}
	.currency{
		font-size: 10px;
		color: $price;
		vertical-align: bottom;
		display: inline-block;
		margin-bottom: 2px;
	}
	.price{
		font-size: 16px;
		color: $price;
		margin-right: 5px;
		vertical-align: bottom;
		display: inline-block;
	}
	.btn{
		float: right;
		margin-top: 3px;
		font-size: 15px;
		color: $price;
	}
	.fa{
		margin-left: 4px;
	}
	.highlight{
		font-size: 12px;
		line-height: 1.4;
		margin-top: 5px;
		text-align: right;
	}
	.tag-status {
		position: absolute;
		bottom: 7px;
		right: 7px;
		z-index: 9;
	}
}