/* pc_index_006 開始 */
.pc_market_006{
	text-align: center;
	font-size: 0;
	margin-bottom: 15px;
	@include clearfix;
	.menu{
		display: inline-block;
		height: 36px;
		overflow: hidden;
		@include clearfix;
		>li{
			float: left;			
			height: 20px;
			margin-top: 9px;
			overflow: hidden;
			word-break: break-all;
			&:first-child{
				a{
					border-left: none;
				}				
			}
			&:hover{
				height: 36px;
				margin-top: 0px;
				&+li{
					height: 36px;
					margin-top: 0px;
					a{
						padding: 11px 20px;
					}
				}
			}
		}
	}
	a{
		display: block;
		color: white;
		padding: 2px 20px;
		//padding: 10px 20px;
		border-left: 1px solid #FFF;
		font-size: 16px;
		&:last-child{
			content:"|";
		}
		&:hover{
			padding: 10px 20px;
			background: $hover_bk;
			color: black;
		}
	}
}
/* pc_index_001 結束 */