.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  -webkit-transition-property: -webkit-transform, left, top;
  -webkit-transition-duration: 0s;
  -webkit-transform: translate3d(0px, 0, 0);
  -webkit-transition-timing-function: ease;
  -moz-transition-property: -moz-transform, left, top;
  -moz-transition-duration: 0s;
  -moz-transform: translate3d(0px, 0, 0);
  -moz-transition-timing-function: ease;
  -o-transition-property: -o-transform, left, top;
  -o-transition-duration: 0s;
  -o-transform: translate3d(0px, 0, 0);
  -o-transition-timing-function: ease;
  -o-transform: translate(0px, 0px);
  -ms-transition-property: -ms-transform, left, top;
  -ms-transition-duration: 0s;
  -ms-transform: translate3d(0px, 0, 0);
  -ms-transition-timing-function: ease;
  transition-property: transform, left, top;
  transition-duration: 0s;
  transform: translate3d(0px, 0, 0);
  transition-timing-function: ease;
}

.swiper-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  float: left;
}

.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
}

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
}

.nav-breadcrumbs .container {
  padding: 15px 0;
}
.nav-breadcrumbs .fa {
  margin-right: 8px;
}
.nav-breadcrumbs .index {
  position: relative;
  font-weight: bold;
}
.nav-breadcrumbs .cate {
  display: inline-block;
}
.nav-breadcrumbs .locate {
  margin-left: 20px;
}
.nav-breadcrumbs .bread-item-name {
  font-size: 1.12em;
  font-weight: bold;
  color: black;
}

@media (max-width: 999px) {
  .nav-breadcrumbs {
    margin: 10px;
  }
}
@media (max-width: 767px) {
  .nav-breadcrumbs {
    margin: 20px 0 10px 10px;
  }
}
.site-activity {
  line-height: 1.4;
  margin-top: 10px;
}
.site-activity h3 {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  padding: 3px 5px;
  margin-bottom: 10px;
}
.site-activity .ready {
  padding: 5px 10px;
  color: white;
  letter-spacing: 3px;
}
.site-activity .not {
  padding: 5px 10px;
  color: white;
  letter-spacing: 3px;
}
.site-activity .act-title {
  display: inline-block;
  color: black;
  padding: 5px 10px;
}
.site-activity hr {
  margin: 3px 0;
}
.site-activity .date {
  font-size: 12px;
  margin: 5px 0 2px;
  padding: 2px 0;
  text-align: center;
}
.site-activity .desc {
  display: inline-block;
  margin-left: 15px;
}
.site-activity .act-content {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px;
}
.site-activity .tip {
  font-size: 0.8em;
}
.site-activity .act-cart {
  margin: 20px 0;
}
.site-activity .act-cart {
  zoom: 1;
}
.site-activity .act-cart:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.site-activity .act-cart .swiper-container {
  float: left;
  position: relative;
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  width: 840px;
}
.site-activity .act-cart .swiper-container {
  zoom: 1;
}
.site-activity .act-cart .swiper-container:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.site-activity .act-cart .swiper-container .swiper-slide {
  float: left;
  padding: 5px 10px;
  border-right-width: 1px;
  border-right-style: solid;
}
.site-activity .act-cart .swiper-container .swiper-left {
  position: absolute;
  top: 35%;
  left: 0;
  z-index: 10;
  font-size: 13px;
}
.site-activity .act-cart .swiper-container .swiper-right {
  position: absolute;
  top: 35%;
  right: 0;
  z-index: 10;
  font-size: 13px;
}
.site-activity .act-cart .swiper-container .photo {
  display: inline-block;
  float: left;
  position: relative;
  width: 80px;
  height: 0;
  overflow: hidden;
  padding-top: 80px;
}
.site-activity .act-cart .swiper-container .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.site-activity .act-cart .swiper-container .info {
  float: left;
  margin-left: 5px;
}
.site-activity .act-cart .swiper-container .line {
  padding: 2px 0;
}
.site-activity .act-cart .swiper-container .name {
  font-size: 12px;
  width: 145px;
  height: 32px;
  overflow: hidden;
  word-wrap: break-word;
}
.site-activity .act-cart .swiper-container .currency {
  font-size: 0.7em;
}
.site-activity .act-cart .swiper-container .price {
  font-size: 13px;
}
.site-activity .act-cart .swiper-container .quantity {
  vertical-align: top;
}
.site-activity .act-cart .swiper-container .btn-del {
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
  padding: 4px;
}
.site-activity .act-cart .state {
  float: right;
  display: inline-block;
  vertical-align: top;
  width: 30%;
  border-width: 1px;
  border-style: solid;
  padding: 14px 5px;
}
.site-activity .act-cart .state .progress {
  padding: 15px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.site-activity .act-cart .state .progress-bar-static {
  position: relative;
  background: #eee;
  width: 100%;
  margin-bottom: 5px;
  height: 15px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.site-activity .act-cart .state .progress-bar-static .inner-bar {
  height: 15px;
  background-color: orange;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 15px 15px;
  -moz-background-size: 15px 15px;
  -ms-background-size: 15px 15px;
  -o-background-size: 15px 15px;
  background-size: 15px 15px;
  -webkit-animation: animate-stripes 3s linear infinite;
  -moz-animation: animate-stripes 3s linear infinite;
  -ms-animation: animate-stripes 3s linear infinite;
  -o-animation: animate-stripes 3s linear infinite;
  animation: animate-stripes 3s linear infinite;
}
.site-activity .act-cart .state .progress-bar-static .note, .site-activity .act-cart .state .progress-bar-static .note-finish {
  position: absolute;
  top: -35px;
  left: 0;
  min-width: 100px;
  font-size: 13px;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  padding: 3px 10px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.site-activity .act-cart .state .progress-bar-static .note:after, .site-activity .act-cart .state .progress-bar-static .note-finish:after {
  position: absolute;
  bottom: -8px;
  left: 75%;
  content: '';
  border-style: solid;
  border-width: 10px 10px 0 10px;
}
.site-activity .act-cart .state .progress-bar-static .note:before, .site-activity .act-cart .state .progress-bar-static .note-finish:before {
  position: absolute;
  bottom: -10px;
  left: 75%;
  content: '';
  border-style: solid;
  border-width: 10px 10px 0 10px;
}
.site-activity .act-cart .state .actions {
  font-size: 13px;
}
.site-activity .act-cart .state .actions .current {
  display: inline-block;
  margin-top: 5px;
}
.site-activity .act-cart .state .actions .price {
  font-size: 16px;
}
.site-activity .act-cart .state .actions .button {
  float: right;
}

@media (min-width: 1000px) and (max-width: 1237px) {
  .site-activity .act-cart .swiper-container {
    width: 660px;
  }
  .site-activity .act-cart .swiper-container .name {
    width: 90px;
  }
  .site-activity .act-cart .state .actions {
    margin-top: 3px;
  }
}
@media (max-width: 999px) {
  .site-activity {
    margin: 15px 15px 0 15px;
  }
  .site-activity .date {
    margin-top: 10px;
  }
  .site-activity .desc {
    margin: 0;
  }
  .site-activity .act-content {
    font-size: 14px;
  }
  .site-activity .act-cart .swiper-container {
    width: 100%;
    font-size: 0;
  }
  .site-activity .act-cart .swiper-container .name {
    width: auto;
    font-size: 12px;
  }
  .site-activity .act-cart .swiper-container .currency {
    font-size: 12px;
    margin: 0;
  }
  .site-activity .act-cart .swiper-container .price {
    font-size: 14px;
  }
  .site-activity .act-cart .swiper-container .btn-del {
    margin-top: 10px;
    display: block;
    font-size: 12px;
    padding: 5px 0;
  }
  .site-activity .act-cart .swiper-container .swiper-slide {
    width: 100%;
  }
  .site-activity .act-cart .swiper-container .swiper-left, .site-activity .act-cart .swiper-container .swiper-right {
    position: static;
    width: 50%;
    display: inline-block;
    text-align: center;
    padding: 8px 0;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
  }
  .site-activity .act-cart .swiper-container .photo {
    width: 40%;
  }
  .site-activity .act-cart .swiper-container .info {
    width: 60%;
    margin: 0;
  }
  .site-activity .act-cart .state {
    width: 100%;
    margin: 20px 0;
  }
  .site-activity .act-cart .state > .tip {
    text-align: right;
  }
  .site-activity .act-cart .state .actions {
    margin-top: 10px;
  }
}
@-webkit-keyframes animate-stripes {
  /* line 299, ../sass/split/_product_list_events_main_top.scss */
  0% {
    background-position: 0 0;
  }
  /* line 299, ../sass/split/_product_list_events_main_top.scss */
  100% {
    background-position: 60px 0;
  }
}
@-moz-keyframes animate-stripes {
  /* line 302, ../sass/split/_product_list_events_main_top.scss */
  0% {
    background-position: 0 0;
  }
  /* line 302, ../sass/split/_product_list_events_main_top.scss */
  100% {
    background-position: 60px 0;
  }
}
.item-list .items {
  zoom: 1;
}
.item-list .items:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.item-list .item {
  float: left;
  width: 33.33%;
  height: 570px;
  margin-bottom: 10px;
  padding: 0 19px;
  border: 1px solid transparent;
}
.item-list .item {
  zoom: 1;
}
.item-list .item:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.item-list .item:hover {
  border: 1px solid #14b3e5;
}
.item-list .photo {
  display: block;
  margin-bottom: 10px;
  float: none;
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
}
.item-list .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.item-list .name {
  height: 40px;
  margin-bottom: 10px;
  font-size: 1em;
  line-height: 1.3;
  overflow: hidden;
  word-wrap: break-word;
  font-weight: 500;
}
.item-list .currency {
  font-size: 12px;
  display: inline-block;
}
.item-list .price {
  font-size: 18px;
  display: inline-block;
  margin-right: 10px;
}
.item-list .buy-actions {
  margin-top: 10px;
}
.item-list .quantity {
  margin-right: 10px;
  vertical-align: top;
}
.item-list .button {
  vertical-align: top;
}
.item-list .highlight {
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.5;
}

@media (min-width: 1000px) {
  .item-list .items {
    margin: 20px -20px;
  }
  .item-list .name {
    height: 38px;
    overflow: hidden;
  }
}
@media (min-width: 1000px) and (max-width: 1237px) {
  .item-list .item {
    height: 490px;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .item-list .items {
    padding: 10px;
  }
  .item-list .item {
    width: 50%;
    height: auto;
    min-height: 515px;
  }
  .item-list .name {
    height: 20px;
  }
}
@media (max-width: 767px) {
  .item-list .items {
    padding: 10px;
  }
  .item-list .item {
    width: 100%;
    height: auto;
  }
  .item-list .photo img {
    width: auto;
  }
  .item-list .info {
    padding: 0;
  }
}
.item-list-four {
  zoom: 1;
}
.item-list-four:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.item-list-four .items {
  margin: 0 -10px;
}
.item-list-four .items {
  zoom: 1;
}
.item-list-four .items:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.item-list-four .item {
  float: left;
  width: 23.37%;
  height: 455px;
  margin: 10px;
  padding: 5px;
  border: 1px solid transparent;
}
.item-list-four .item:hover {
  border: 1px solid #14b3e5;
}
.item-list-four .photo {
  display: block;
  margin-bottom: 7px;
  float: none;
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
}
.item-list-four .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.item-list-four .name {
  height: 42px;
  margin-bottom: 10px;
  font-size: 1em;
  line-height: 1.3;
  overflow: hidden;
  word-wrap: break-word;
  font-weight: 500;
}
.item-list-four .currency {
  font-size: 12px;
  display: inline-block;
}
.item-list-four .price {
  font-size: 20px;
  display: inline-block;
  margin-right: 5px;
}
.item-list-four .buy-actions {
  margin-top: 10px;
}
.item-list-four .quantity {
  margin-right: 5px;
  vertical-align: middle;
}
.item-list-four .highlight {
  margin-top: 10px;
  font-size: .7em;
  line-height: 1.5;
}

@media (min-width: 1000px) and (max-width: 1237px) {
  .item-list-four .item {
    width: 22.96%;
    height: 390px;
  }
  .item-list-four .name {
    margin-bottom: 10px;
    overflow: hidden;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .item-list-four .items {
    padding: 10px;
    margin: 0;
  }
  .item-list-four .item {
    width: 50%;
    margin: 0 0 10px;
    padding: 20px 20px 20px;
    height: auto;
  }
  .item-list-four .photo {
    margin-bottom: 10px;
  }
  .item-list-four .name {
    font-size: 16px;
    height: 20px;
    line-height: 1.2;
    margin-bottom: 10px;
    overflow: hidden;
    word-wrap: break-word;
  }
  .item-list-four .price {
    font-size: 18px;
    margin-right: 10px;
  }
  .item-list-four .quantity {
    margin-right: 10px;
    vertical-align: middle;
  }
  .item-list-four .quantity .quantity-decrease, .item-list-four .quantity .quantity-increase {
    padding: 7px;
  }
  .item-list-four .quantity .quantity-input {
    width: 36px;
    height: 32px;
  }
  .item-list-four .button {
    vertical-align: top;
    font-size: 15px;
    padding: 0 1.25em;
    height: 32px;
    line-height: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .item-list-four .button.btn-preorder-finish {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .item-list-four .items {
    padding: 10px;
    margin: 0;
  }
  .item-list-four .item {
    width: 100%;
    margin: 0 0 10px;
    padding: 20px 20px 20px;
    height: auto;
  }
  .item-list-four .info {
    padding: 0;
  }
  .item-list-four .name {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 10px;
    height: auto;
    overflow: hidden;
    word-wrap: break-word;
  }
  .item-list-four .price {
    font-size: 18px;
    margin-right: 10px;
  }
  .item-list-four .quantity {
    margin-right: 10px;
    vertical-align: middle;
  }
  .item-list-four .quantity .quantity-decrease, .item-list-four .quantity .quantity-increase {
    padding: 7px;
  }
  .item-list-four .quantity .quantity-input {
    width: 36px;
    height: 32px;
  }
  .item-list-four .button {
    vertical-align: top;
    font-size: 15px;
    padding: 0 1.25em;
    height: 32px;
    line-height: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .item-list-four .button.btn-preorder-finish {
    padding: 0;
  }
}
.nav-pagination {
  margin: 30px 0 80px;
  text-align: center;
  clear: both;
}
.nav-pagination ul {
  margin: 0 20px;
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
}
.nav-pagination ul {
  zoom: 1;
}
.nav-pagination ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.nav-pagination li {
  display: inline-block;
}
.nav-pagination li a {
  border-top-width: 1px;
  border-top-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.nav-pagination li:first-child a {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}
.nav-pagination li:last-child a {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  border-right-width: 1px;
  border-right-style: solid;
}
.nav-pagination a {
  line-height: 36px;
  padding: 0 12px;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
}
.nav-pagination a.active {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.nav-pagination a:hover {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.nav-pagination .total {
  margin-top: 20px;
  font-size: 0.8em;
}

.site-sort .sort {
  display: block;
}
.site-sort .sort {
  zoom: 1;
}
.site-sort .sort:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.site-sort .sort li {
  float: left;
  display: block;
}
.site-sort .sort li:last-child a {
  border-right-width: 1px;
  border-right-style: solid;
}
.site-sort .sort li a {
  padding: 10px 20px;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-right: 0;
  font-size: 13px;
}
.site-sort .sort-s {
  display: none;
}

@media (max-width: 999px) {
  .site-sort {
    padding: 0 15px;
  }
  .site-sort .sort {
    display: none;
  }
  .site-sort .sort-s {
    display: block;
    width: 100%;
    font-size: 1em;
  }
}
.site-filter .attr {
  font-size: 0.813em;
  line-height: 250%;
  margin-bottom: 20px;
}
.site-filter .attrcon {
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-top: none;
}
.site-filter .attrcon:first-child {
  border-top-width: 1px;
  border-top-style: solid;
}
.site-filter .attrcon > div, .site-filter .attrcon label {
  display: inline-block;
  vertical-align: middle;
  line-height: 260%;
}
.site-filter .attrcon label.disabled {
  cursor: no-drop;
}
.site-filter .attrcon .colst {
  width: 12%;
  text-align: right;
  margin-right: 20px;
  vertical-align: top;
}
.site-filter .attrcon .colcheck {
  width: 72%;
  line-height: 0;
}
.site-filter .attrcon .colcheck a {
  width: 115px;
  line-height: 200%;
  margin-right: 20px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.site-filter .attrcon .colcheck a:hover {
  text-decoration: underline;
}
.site-filter .attrcon .all {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  line-height: 140%;
  margin-right: 20px;
}
.site-filter .attrcon .type {
  width: 65px;
  margin-right: 0;
}
.site-filter .attrcon .actions {
  position: absolute;
  right: 5px;
  bottom: 0px;
  vertical-align: bottom;
}
.site-filter .attrcon .actions .colclose {
  display: inline-block;
  margin-left: 10px;
}
.site-filter .attrcon .actions .colclose a {
  display: inline-block;
}
.site-filter .attrcon .actions .clearcheck {
  margin: 0 0 0 10px;
}
.site-filter .attrcon .actions .tirup, .site-filter .attrcon .actions .tirdown {
  display: inline-block;
  width: 0;
  height: 0;
  position: relative;
  bottom: 1px;
  left: 1px;
  border-style: solid;
  border-width: 0 5px 6px 5px;
}
.site-filter .attrcon .actions .tirdown {
  border-width: 6px 5px 0 5px;
}
.site-filter .attrcon label {
  width: 115px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 20px;
}
.site-filter .attrcon input[type="checkbox"] {
  margin-left: 0;
}
.site-filter .attrcon .input-number {
  padding: 0 0 0 3px;
  vertical-align: middle;
  width: 70px;
  height: 22px;
  margin: 0 5px;
}
.site-filter .attrft {
  height: 30px;
  padding-right: 5px;
  text-align: right;
  border-width: 1px;
  border-style: solid;
  border-top: none;
}

.result {
  font-size: 1.8em;
  line-height: 140%;
  text-align: center;
  color: #000;
  margin: 2em 0;
  padding: 0 10px;
}

.site-filter-m {
  display: none;
}
.site-filter-m select {
  width: 100%;
  font-size: 1em;
}
.site-filter-m .attron {
  padding: 4px 15px;
}

@media (max-width: 999px) {
  .site-filter {
    display: none;
  }

  .site-filter-m {
    display: block;
  }
  .site-filter-m .row {
    zoom: 1;
  }
  .site-filter-m .row:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
  .site-filter-m .input-number {
    font-size: 1em;
    margin: 0;
  }
  .site-filter-m .attrcon {
    padding: 4px 15px;
    margin: 5px 0;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .site-filter-m .colst {
    float: left;
    margin-right: 15px;
    line-height: 40px;
  }
  .site-filter-m .colprice .input-number {
    width: 42%;
  }
}
@media (max-width: 767px) {
  .site-filter-m .colst {
    float: left;
    margin-right: 15px;
    line-height: 40px;
  }
  .site-filter-m .colprice .input-number {
    width: 35%;
  }
}
@media (max-width: 320px) {
  .site-filter-m .attrcon {
    margin: 0 15px 15px;
  }
  .site-filter-m .colst {
    float: left;
    margin-right: 15px;
    line-height: 30px;
  }
  .site-filter-m .colprice .input-number {
    width: 31%;
    margin: 0;
  }
  .site-filter-m .icon-search {
    margin-left: 5px;
  }
}
