.pc_left_004{
	border: 1px solid $border;
	margin-bottom: 10px;
	.photo{
		display: block;
		float: left;
		width:100%;
		position:relative;
		height:0;
		overflow: hidden;
		padding-top: 80px;
		max-height:80px;
		max-width:80px;
		img{
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			margin: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	.title-h3{
		color: white;
		background: $aside_title;
		font-size: 1em;
		padding: 10px;
		font-weight: bold;
		margin: 0px;
		line-height: 1.3;
		word-break: break-word;
		word-wrap: break-word;
	}
	.item{
		padding: 5px;
		@include clearfix;
	}
	.name{
		font-size: 12px;
		height: 30px;
		overflow: hidden;
		word-break: break-word;
		word-wrap: break-word;
		a{
			color: $text;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	.buy{
		color: $price;
		overflow: hidden;
		.start{
			font-size:12px;
			font-weight: 500;
			color:#333;
		}
	}
	.info{
		float: left;
		width: 99px;
		line-height: 1.3;
		margin-left: 5px;
	}
	.currency{
		font-size: 12px;
	}
	.price{
		font-size: 14px;
	}
}