.pc_left_005{
	margin-bottom: 10px;
	padding: 8px;
	border: 1px solid $border;
	.title-h3{
		margin: 0 0 10px;
		padding: 0;
		line-height: 1.3;
		word-break: break-word;
		word-wrap: break-word;
	}
	.events-list{
		list-style-type: disc;
		list-style-type: disc;
		padding-left: 21px;
		li{
			margin: 5px 0 5px 0;
			font-size: 12px;
			line-height: 1.5;
			word-break: break-word;
			word-wrap: break-word;
		}
		a{
			color: $text;
			&:hover{
				color: $text_hover;
			}
		}
	}
	
}