.pc_left_011 {
	margin-bottom: 10px;
	.title-h3 {
		background: $aside_title2;
		color: white;
		font-size: 13px;
		// font-weight: bold;
		line-height: 26px;
		margin: 0px;
		padding: 0;
		text-align: center;
		// line-height: 1.3;
		word-break: break-word;
		word-wrap: break-word;
	}
	.items {
		border: 1px solid $border;
		height: 350px;
		overflow: hidden;
		overflow-y: auto; 
		li {
			border-bottom: 1px solid #eee;
		}
		a {
			display: block;
			color: #000;
			font-size: 13px;
			line-height: 34px;
			padding: 0 0 0 8px;
			&:hover {
				color: $hover_text;
			}
		}
	}
}