.pc_left_006{
	//margin-top: 15px;
	border: 1px solid $border;
	margin-bottom: 10px;
	.index{
		background: $aside_title;
		padding: 10px;
		display: block;
		color: white;
		border-bottom: 1px solid $border;
	}
	li{
		&:last-child{
			.title-h3{
				border-bottom: 0;
			}
		}
	}
	.title-h3{
		color: white;
		background: $aside_title;
		font-size: 15px;
		margin: 0px;
		padding: 12px 10px;
		font-weight: bold;
		color:  $text;
		margin-bottom: 0px;
		line-height: 1.3;
		word-break: break-all;
		background: $background2;
		cursor: pointer;
		border-bottom: 1px solid #E8E8E8;
		&:hover{
			background: $hover_bk;
		}
		&:after{
			@include icon-font('\f054');
			font-size: 14px;
			line-height: 1.5;
			float: right;
		}
		&.s-active{
			&:after{
				content: "\f078";
			}
		}
	}
	.fa{
		margin-right: 6px;
	}
	.side-menu{
		font-size: 13px;
		line-height: 140%;
		a{
			color: $text;
			display: block;
			overflow: hidden;	
  			text-overflow : ellipsis;
  			white-space : nowrap;
  			width: 180px;
  			height: 25px;
  			cursor: pointer;
		}
		.sec-menu{
			padding: 8px 0;
			border-bottom: 1px dotted #ccc;
			li{
				padding: 6px 10px;
				font-size: 15px;
			}
			a:hover{
				color: $hover_text;
			}
			.active{
				color: $active_bk;
			}
		}
		>li{
			&:last-child{
				.sec-menu{
					border-bottom: 0;
					border-top: 1px solid #E8E8E8;	
				}
			}
		}
	}
}