.pc_left_003{
	padding: 8px;
	margin-bottom: 10px;
	border: 1px solid $border;
	.title-h3{
		margin: 0 0 10px;
		padding: 0;
		line-height: 1.3;
		word-break: break-word;
		word-wrap: break-word;
	}
	.info{
		display: none;
	}
	.item{
		border: 1px solid $border;
		margin-bottom: 10px;
		&:hover{
			border: 1px solid $primary;
		}
	}
	.photo{
		font-size: 0;
		display: block;
		img{
			width: 100%;
		}
	}
}