.pc_left_010{
	margin-bottom: 20px;
	-webkit-box-shadow:3px 1px 6px #ddd;
	-moz-box-shadow:3px 1px 6px #ddd;
	box-shadow:3px 1px 6px #ddd;
	@include clearfix;
	.nav-menu{
		float: left;
		position: relative;
		width: 100%;		
		background: #fafafa;		
	}
	.title{
		padding: 8px 10px 8px 13px;
		color: white;
		font-size: 16px;
		background: $primary;
		line-height: 1.3;
		word-break: break-word;
		word-wrap: break-word;
	}
	.menu-one{
		//border: 1px solid $border;
		>li{
			border-top:1px solid #fff;
			border-bottom:1px solid #eee;
			position:relative;
			&:last-child{
				>h3>a{
					border-bottom: none;	
				}
			}
			&:hover{
				background: black;
				>h3>a{
					color: white;
				}
				.menu-expand{
					display: block;
				}
			}
			>h3>a{
				position: relative;
				display: block;
				padding: 11px 58px 11px 0;
				margin: 0 13px;
				font-size: 15px;
				font-weight: bold;
				line-height: 15px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				word-break: break-word;
				word-wrap: break-word;
				width: 100%;
				height: 36px;
				//border-bottom: 1px dashed $light_gray;
			}
			.fa{
				position: absolute;
                right: 0;
				margin: 11px 11px 0 0;
				color: $light_gray;
			}
			&.active{
				background-color:#434040;
				background: rgba(203,96,179,1);
				background: -moz-linear-gradient(top, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 50%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(203,96,179,1)), color-stop(50%, rgba(193,70,161,1)), color-stop(51%, rgba(168,0,119,1)), color-stop(100%, rgba(219,54,164,1)));
				background: -webkit-linear-gradient(top, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 50%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%);
				background: -o-linear-gradient(top, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 50%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%);
				background: -ms-linear-gradient(top, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 50%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%);
				background: linear-gradient(to bottom, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 50%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4', GradientType=0 );
				> h3 > a,> h3 > i{
					color:white;
				}
			}
            .new{
                position: absolute;
                top:0;
                right:0;
                display:inline-block;
                padding:11px 5px;
                font-size:14px;
                background: #ffd23b;
                font-weight: bold;
                font-family: sans-serif;
                &:after{
                    border-right: 7px solid #ffd23b;
                    border-top: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                    position: absolute;
                    display: inline-block;
                    content: "";
                    bottom: 13px;
                    right: 42px;
                }
            }
		}
	}
	.menu-expand{
		position: absolute;
		top: 0px;
		left: 100%;
		border: 3px solid black;
		background: white;
		width: 1020px;
		padding: 10px;
		z-index: 5;
		font-size: 0;
		display: none;
		@include clearfix;
		.cate{
			display: inline-block;
			width: 50%;
			padding: 10px;
			vertical-align: top;
			position: relative;
			&:hover, &:hover .menu-more{
				background: $hover_bk;
			}
			>ul{
				@include clearfix;
				max-height: 85px;
				overflow: hidden;
				padding-right: 55px;
				>li{
					float: left;
					margin-right: 20px;
					margin-bottom: 12px;
					>a{
						color: $text;
						width: auto;
						display: inline-block;
						&:hover{
							color: black;
						}
					}
				}
			}
			.menu-more{
				width: 65px;
				text-align: right;
				color: $link3;
				position: absolute;
				bottom: 16px;
				right: 15px;
				display: block;
				background: white;
			}
		}
		h4{
			margin-bottom: 10px;
			>a{
				color: $primary;
				font-size: 16px;
			}
		}
		a{
			font-size: 14px;
			line-height: 1.3;
			word-break: break-all;
			display:block;
		}
	}
}