.pc_left_007{
	margin-top: 15px;
	.side-menu{
		>li{
			padding-bottom: 10px;
			margin-bottom: 10px;
			border-bottom-width: 1px;
			border-bottom-style: dotted; 
			//border-bottom: 1px dotted $border;
			&:last-child{
				.sec-menu{
					border: 0;
				}
			}
		}
		h4{
			font-size: 0.875em;
			//color: $primary;
			font-weight: bold;
		}
	}
	.sec-menu{
		>li{
			>a{
				font-size: 0.813em;
				line-height: 1.5;
				display: block;
				width: 100%;
				margin: 10px 0;
				color: #6c6c6c;
				&:hover{
					//color: $primary;
				}
			}
		}
	}
}
