.rwd_left_002{
	margin-bottom: 20px;
	@include clearfix;
	.nav-menu{
		float: left;
		position: relative;
		width: 100%;		
		//background: white;		
	}
	.title{
		height: 36px;
		padding: 5px 10px 8px 13px;
		color: white;
		font-size: 16px;
		//background: $primary;
		line-height: 1.7;
		word-break: break-word;
		word-wrap: break-word;
		overflow: hidden;
	}
	.menu-one{
		width: 100%;
		//border: 1px solid $border;
		>li{
			width: 100%;
			position:relative;
			float: none;
			&:last-child{
				>h3>a{
					border-bottom: none;	
				}
			}
			&:hover{
				>h3>a{
					//color: $primary;
				}
				.menu-expand{
					display: block;
				}
			}
			>h3>a{
				position: relative;
				display: block;
				padding: 10px 0;
				padding-left: 13px;
				//color: $text;
				font-size: 15px;
				font-weight: bold;
				line-height: 1.2;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				word-break: break-word;
				word-wrap: break-word;
				width: 100%;
				//height: 36px;
				padding-right: 10px;
				//border-bottom: 1px dashed $light_gray;
			}
			.fa{
				float: right;
				margin: 20px 11px 0 0;
				//color: $light_gray;
			}
		}
	}
	.menu-expand{
		position: absolute;
		top: 0px;
		left: 100%;
		border: 3px solid black;
		background: white;
		width: 1020px;
		padding: 10px;
		z-index: 5;
		font-size: 0;
		display: none;
		@include clearfix;
		.cate{
			display: inline-block;
			width: 50%;
			padding: 10px;
			vertical-align: top;
			position: relative;
			&:hover, &:hover .menu-more{
				//background: $hover_bk;
			}
			>ul{
				@include clearfix;
				max-height: 85px;
				overflow: hidden;
				padding-right: 55px;
				>li{
					float: left;
					margin-right: 20px;
					margin-bottom: 12px;
					>a{
						//color: $text;
						width: auto;
						display: inline-block;
						&:hover{
							color: black;
						}
					}
				}
			}
			.menu-more{
				width: 65px;
				text-align: right;
				//color: $primary;
				position: absolute;
				bottom: 16px;
				right: 15px;
				display: block;
				background: white;
			}
		}
		h4{
			margin-bottom: 10px;
			>a{
				//color: $primary;
				font-size: 16px;
			}
		}
		a{
			font-size: 14px;
			line-height: 1.3;
			word-break: break-all;
			display:block;
		}
	}
}