.pc_left_001 {
  margin-bottom: 20px;
  -webkit-box-shadow: 3px 1px 6px #ddd;
  -moz-box-shadow: 3px 1px 6px #ddd;
  box-shadow: 3px 1px 6px #ddd;
}
.pc_left_001 {
  zoom: 1;
}
.pc_left_001:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_left_001 .nav-menu {
  float: left;
  position: relative;
  width: 200px;
  background: #fafafa;
}
.pc_left_001 .title {
  padding: 8px 10px 8px 13px;
  color: white;
  font-size: 16px;
  background: #e00517;
  line-height: 1.3;
  word-break: break-word;
  word-wrap: break-word;
}
.pc_left_001 .menu-one > li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #eee;
  position: relative;
}
.pc_left_001 .menu-one > li:last-child > h3 > a {
  border-bottom: none;
}
.pc_left_001 .menu-one > li:hover {
  background: black;
}
.pc_left_001 .menu-one > li:hover > h3 > a {
  color: white;
}
.pc_left_001 .menu-one > li:hover .menu-expand {
  display: block;
}
.pc_left_001 .menu-one > li > h3 > a {
  position: relative;
  display: block;
  padding: 11px 0;
  margin: 0 13px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-word;
  word-wrap: break-word;
  width: 170px;
  height: 36px;
  padding-right: 10px;
}
.pc_left_001 .menu-one > li .fa {
  float: right;
  margin: 11px 11px 0 0;
  color: #cccccc;
}
.pc_left_001 .menu-expand {
  position: absolute;
  top: 0px;
  left: 100%;
  border: 3px solid black;
  background: white;
  width: 1020px;
  padding: 10px;
  z-index: 5;
  font-size: 0;
  display: none;
}
.pc_left_001 .menu-expand {
  zoom: 1;
}
.pc_left_001 .menu-expand:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_left_001 .menu-expand .cate {
  display: inline-block;
  width: 50%;
  padding: 10px;
  vertical-align: top;
  position: relative;
}
.pc_left_001 .menu-expand .cate:hover, .pc_left_001 .menu-expand .cate:hover .menu-more {
  background: #efefef;
}
.pc_left_001 .menu-expand .cate > ul {
  max-height: 85px;
  overflow: hidden;
  padding-right: 55px;
}
.pc_left_001 .menu-expand .cate > ul {
  zoom: 1;
}
.pc_left_001 .menu-expand .cate > ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_left_001 .menu-expand .cate > ul > li {
  float: left;
  margin-right: 20px;
  margin-bottom: 12px;
}
.pc_left_001 .menu-expand .cate > ul > li > a {
  color: #383838;
  width: auto;
  display: inline-block;
}
.pc_left_001 .menu-expand .cate > ul > li > a:hover {
  color: black;
}
.pc_left_001 .menu-expand .cate .menu-more {
  width: 65px;
  text-align: right;
  color: #4498c8;
  position: absolute;
  bottom: 16px;
  right: 15px;
  display: block;
  background: white;
}
.pc_left_001 .menu-expand h4 {
  margin-bottom: 10px;
}
.pc_left_001 .menu-expand h4 > a {
  color: #e00517;
  font-size: 16px;
}
.pc_left_001 .menu-expand a {
  font-size: 14px;
  line-height: 1.3;
  word-break: break-all;
  display: block;
}
