.pc_left_003 {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
}
.pc_left_003 .title-h3 {
  margin: 0 0 10px;
  padding: 0;
  line-height: 1.3;
  word-break: break-word;
  word-wrap: break-word;
}
.pc_left_003 .info {
  display: none;
}
.pc_left_003 .item {
  border: 1px solid #cccccc;
  margin-bottom: 10px;
}
.pc_left_003 .item:hover {
  border: 1px solid #e00517;
}
.pc_left_003 .photo {
  font-size: 0;
  display: block;
}
.pc_left_003 .photo img {
  width: 100%;
}
