.pc_left_011 {
  margin-bottom: 10px;
}
.pc_left_011 .title-h3 {
  background: #e00517;
  color: white;
  font-size: 13px;
  line-height: 26px;
  margin: 0px;
  padding: 0;
  text-align: center;
  word-break: break-word;
  word-wrap: break-word;
}
.pc_left_011 .items {
  border: 1px solid #cccccc;
  height: 350px;
  overflow: hidden;
  overflow-y: auto;
}
.pc_left_011 .items li {
  border-bottom: 1px solid #eee;
}
.pc_left_011 .items a {
  display: block;
  color: #000;
  font-size: 13px;
  line-height: 34px;
  padding: 0 0 0 8px;
}
.pc_left_011 .items a:hover {
  color: #e00517;
}
