@import "../define/__init.scss";
@import "../frame/_reset.scss";
html, body{
	//font-family: NanumGothic,Dotum,AppleGothic,sans-serif;
	background: #F5F2EA; 
}
header{
	background: #37475A;
	height: 150px; 
	h1 {
	    text-align: center;
		color: #00caa6;
	    background: none repeat scroll 0 0 #fff;
	    @include border-radius(50%);
	    font-size: 35px;
	    height: 200px;
	    line-height: 35px;
	    margin: auto;
	    padding: 60px 0;
	    position: relative;
	    top: 50px;
	    width: 200px;
	    font-weight: 800;
	    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8);
	}
}
h2{
	color: #37475A;
	padding: 15px;
	border-bottom: 1px solid #F6F2EB;
	font-size: 25px;
	text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.2);
}
section{
	max-width: 1100px;
	height: 100%;
	margin: 0 auto;
	//background: #fff;
	border: 1px solid #F6F2EB;
}
.columns {
	/*@include column-count(3);
	@include column-width(315px);
	@include column-gap(15px);
	width: 90%;*/
	max-width: 1100px;
	margin: 140px auto;
	/*&:hover figure:not(:hover) {
		@include opacity(0.4);
	}*/
	figure{
		background: #fefefe;
		border: 2px solid #fcfcfc;
		box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
		//margin: 0 2px 15px;
		transition: opacity .4s ease-in-out;
		display: inline-block;
		column-break-inside: avoid;
		position: relative;
		overflow: hidden;
		//max-height: 500px;
		width: 31%;
		height: 300px;
		margin: 0 1% 15px;
		img {
			position: relative;
			width: 100%; height: auto;
			/*border-bottom: 1px solid #ccc;
			padding-bottom: 15px;
			margin-bottom: 5px;*/
			-webkit-transition: opacity 1s, -webkit-transform 1s;
			transition: opacity 1s, transform 1s;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			opacity: 0.4;
		}
		figcaption {
			padding: 2em;
			color: #fff;
			text-transform: uppercase;
			font-size: 1.25em;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			text-align: left;
			&::before ,&::after {
				pointer-events: none;
			}
		}
		h2{
			position: relative;
			padding: 0.5em 0;
			border: 0;
			font-weight: 800;
			font-size: 24px;
			border: 2px solid;
			padding-left: 15px;
			margin-bottom: 15px;
			a{
				color: #37475a;
			}
		}
		p{
			display: inline-block;
			margin: 0 0 0.25em;
			padding: 0.4em 1em;
			background: rgba(255,255,255,0.9);
			color: #2f3238;
			text-transform: none;
			font-weight: 500;
			font-size: 75%;
			-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
			transition: opacity 0.35s, transform 0.35s;
			-webkit-transform: translate3d(-360px,0,0);
			transform: translate3d(-360px,0,0);
		    &:first-child{
		    	-webkit-transition-delay: 0.15s;
				transition-delay: 0.15s;
				min-width: 100px;
		    }
		    &:nth-of-type(2) {
				-webkit-transition-delay: 0.1s;
				transition-delay: 0.1s;
			}
			&:nth-of-type(3) {
				-webkit-transition-delay: 0.05s;
				transition-delay: 0.05s;
			}
		}
		&:hover{
			background: #2f3238;
			&:first-child{
				-webkit-transition-delay: 0s;
				transition-delay: 0s;
			}
			&:nth-of-type(2){
				-webkit-transition-delay: 0.05s;
				transition-delay: 0.05s;
			}
			&:nth-of-type(3){
				-webkit-transition-delay: 0.1s;
				transition-delay: 0.1s;
			}
			img{
				opacity: 0.4;
				-webkit-transform: scale3d(1.1,1.1,1);
				transform: scale3d(1.1,1.1,1);
			}
			p{
				opacity: 1;
				-webkit-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
			}
			figcaption{
				a{
					h2{
						color: #fff;
						cursor: pointer;
					}
				}

			}
		}
	}
}
.link{
	color: black;
	padding: 0 5px;
	margin-right: 5px;
	background: #fff; 
	@include border-radius(50%);
	height: 14px;
	width: 14px;
	display: inline-block;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	&.gray{	
		color: white;
		background: $gray;
	}
	&.pink{
		color: white;
		background: $pink;
	}
	&.black{
		color: white;
		background: black;
	}
	&.blue{
		color: white;
		background: $blue;
	}
	&.gold{
		color: white;
		background: #C4A265; 
	}
	&.green{
		color: white;
		background: #90BF4F; 
	}
	&.purple{
		color: white;
		background: #827BB9; 
	}
	&.red{
		color: white;
		background: #E00517; 
	}
	&.orange{
		color: white;
		background: #FF9A23; 
	}
}
footer{
	text-align: center;
	padding: 20px;
}
@include RWD(pad-mobile){
.columns { 
	//@include column-count(2);
	figure { 
		width: 45.5%; 
		margin: 0 2% 15px;
	}
}
}
@media screen and (max-width: 659px) { 
.columns { 
	//@include column-count(1);
	figure { 
		width: 90%; 
		margin: 0 5% 15px;
	}
}
}
