.site-header{
    background: $header_bk;
    margin-bottom: 10px;
    > .container{
        height: 78px;
    }
    .logo{
        margin: 20px 0;
        float: left;
        display: inline-block;
        img{
            width: 200px;
        }
    }
}
.cart-btn{
    position: relative;
    display: block;
    padding: 0 0 9px;
    font-size: 0.9em;
    &:hover{
        .icon-cart{
            color: $primary;
            @include transition(0.3s);
        }
    }
    .count{
        position: absolute;
        top: -10px;
        right: -2px;
        background: $primary;
        color: white;
        font-style: normal;
        padding: 2px 5px;
        z-index: 3;
        @include border-radius (50%);
    }
}
@include RWD(pad-mobile) {
	.site-header{
		.logo{
            margin: 0;
            margin-left:23px;
            padding-top: 12px;
            float: none;
		}
        .logo{
            margin: 0;
            float: none;
            width: 100%;
            text-align: center;

        }
	}
}