.nav-user{
    margin-top: 22px;
	float: right;
	@include clearfix;
	>ul>li{
        float: left;
        padding: 4px;
        &.nav-account{
        	margin-right: 40px;
        }
    }
    .icon-cart{
    	position: relative;
    	.count{
    		left: 10px;
    		position: absolute;
    		color: white;
    		font-weight: bold;
    		font-style: normal;
    	}
    }
    .nav-account{
        position: relative;
        &:hover{
            .account-item{
                display: block;
            }
        }
    }
    .account-item{
        border: 1px solid $light_gray;
        width: 148px;
        background: #fff;
        position: absolute;
        z-index: 4;
        font-size: 0.813em;
        right: 0;
        top: 30px;
        li{
            display: block;
            float: none;
            padding: 0;
            border-bottom: 1px solid $light_gray;
            &:first-child{
                margin-right: 0;
            }
            &:last-child{
                border-bottom: 0;
            }
            a{
                display: block;
                padding: 12px 20px;
                color: $gray;
                &:hover{
                    background: $hover_bk;
                    color: $hover_text;
                }
            }
        }
    }
}
@include RWD(desktop-all) {
    .nav-user{
        .main-cart{
            position: relative;
            &:hover{
                .cart-item{
                    display: block;
                }
            }
        }
        .icon-search{
            display: none;
        }
    }
}
@include RWD(pad-mobile) {
.nav-user{
    position: absolute;
    right: 20px;
    top: 50px;
    z-index: 4;
    ul>li{
        float: left;
        padding: 4px;
        &.nav-account{
            margin: 0;
        }
        >a{
            padding: 5px 15px;
        }
    }
    .account-item{
        top: 30px;
        right: 0;
    }
    .icon-search{
        padding: 5px 10px;
        &:before{
            background-position: -234px 0;
            width: 30px;
        }
    }
}
}