@charset "UTF-8";
.hide {
  display: none;
}

.container {
  width: 1220px;
  position: relative;
  margin: 0 auto;
}
.container {
  zoom: 1;
}
.container:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.site-body {
  padding-bottom: 40px;
  width: 1220px;
  margin: 0 auto;
}
.site-body {
  zoom: 1;
}
.site-body:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.site-left {
  width: 200px;
  margin-right: 20px;
  float: left;
  margin-top: 10px;
}

.site-main {
  width: 1000px;
  float: left;
  position: relative;
}
.site-main .container {
  width: auto;
}

.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  -webkit-transition-property: -webkit-transform, left, top;
  -webkit-transition-duration: 0s;
  -webkit-transform: translate3d(0px, 0, 0);
  -webkit-transition-timing-function: ease;
  -moz-transition-property: -moz-transform, left, top;
  -moz-transition-duration: 0s;
  -moz-transform: translate3d(0px, 0, 0);
  -moz-transition-timing-function: ease;
  -o-transition-property: -o-transform, left, top;
  -o-transition-duration: 0s;
  -o-transform: translate3d(0px, 0, 0);
  -o-transition-timing-function: ease;
  -o-transform: translate(0px, 0px);
  -ms-transition-property: -ms-transform, left, top;
  -ms-transition-duration: 0s;
  -ms-transform: translate3d(0px, 0, 0);
  -ms-transition-timing-function: ease;
  transition-property: transform, left, top;
  transition-duration: 0s;
  transform: translate3d(0px, 0, 0);
  transition-timing-function: ease;
}

.swiper-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  float: left;
}

.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
}

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
}

.pc_left_002 {
  border: 1px solid #cccccc;
  margin-bottom: 10px;
}
.pc_left_002 .index {
  background: #504f47;
  padding: 10px;
  display: block;
  color: white;
}
.pc_left_002 .trans-btn {
  background: #013da4;
  padding: 11px 10px 8px 32px;
  display: block;
  color: white;
  border-top: 1px solid #cccccc;
  vertical-align: middle;
  position: relative;
  font-size: 15px;
}
.pc_left_002 .trans-btn .trans-icon {
  width: 15px;
  position: absolute;
  top: 11px;
  left: 10px;
}
.pc_left_002 .trans-btn:hover {
  background: #002767;
}
.pc_left_002 .title-h3 {
  color: white;
  background: white;
  font-size: 1em;
  font-weight: bold;
  margin: 0px;
  padding: 0;
  line-height: 1.3;
  word-break: break-word;
  word-wrap: break-word;
  border-top: 1px solid #cccccc;
  position: relative;
}
.pc_left_002 .title-h3 a {
  color: #333;
  background: #f9f9f9;
  padding: 12px 10px;
  display: block;
}
.pc_left_002 .title-h3 a:hover {
  color: #c15797;
}
.pc_left_002 .title-h3-active a {
  color: white;
  background: #c15797;
}
.pc_left_002 .fa {
  margin-right: 6px;
}
.pc_left_002 .side-menu {
  font-size: 13px;
  line-height: 140%;
}
.pc_left_002 .side-menu li:first-child h4 {
  border-top: 1px solid #cccccc;
}
.pc_left_002 .side-menu h4 {
  padding: 11px 10px 9px 20px;
  border-bottom: 1px dotted #ccc;
  background: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
}
.pc_left_002 .side-menu h4 {
  zoom: 1;
}
.pc_left_002 .side-menu h4:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_left_002 .side-menu h4 .fa {
  float: left;
  display: block;
  margin-top: 1px;
}
.pc_left_002 .side-menu h4 a {
  float: left;
  display: block;
  width: 150px;
  color: #333;
  margin-top: -2px;
}
.pc_left_002 .side-menu a {
  color: #333;
  overflow: hidden;
  width: 153px;
  line-height: 1.4;
  max-height: 40px;
}
.pc_left_002 .side-menu a:hover {
  color: #c15797;
}
.pc_left_002 .side-menu .sec-menu {
  padding: 5px 0;
  border-bottom: 1px dotted #ccc;
}
.pc_left_002 .side-menu .sec-menu li {
  padding: 7px 10px 7px 38px;
  font-size: 15px;
}
.pc_left_002 .side-menu .sec-menu a {
  display: block;
  color: #333;
}
.pc_left_002 .side-menu .sec-menu a:hover {
  color: #c15797;
}
.pc_left_002 .side-menu .sec-menu .active {
  color: #c15797;
  font-weight: bold;
}
.pc_left_002 .side-menu > li:last-child .sec-menu {
  border-bottom: 0;
}
.pc_left_002 .side-menu > li:last-child h4 {
  border-bottom: 0;
}

.pc_left_004 {
  border: 1px solid #cccccc;
  margin-bottom: 10px;
}
.pc_left_004 .photo {
  display: block;
  float: left;
  width: 100%;
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: 80px;
  max-height: 80px;
  max-width: 80px;
}
.pc_left_004 .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.pc_left_004 .title-h3 {
  color: white;
  background: #504f47;
  font-size: 1em;
  padding: 10px;
  font-weight: bold;
  margin: 0px;
  line-height: 1.3;
  word-break: break-word;
  word-wrap: break-word;
}
.pc_left_004 .item {
  padding: 5px;
}
.pc_left_004 .item {
  zoom: 1;
}
.pc_left_004 .item:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_left_004 .name {
  font-size: 12px;
  height: 30px;
  overflow: hidden;
  word-break: break-word;
  word-wrap: break-word;
}
.pc_left_004 .name a {
  color: #383838;
}
.pc_left_004 .name a:hover {
  text-decoration: underline;
}
.pc_left_004 .buy {
  color: #f60011;
  overflow: hidden;
}
.pc_left_004 .buy .start {
  font-size: 12px;
  font-weight: 500;
  color: #333;
}
.pc_left_004 .info {
  float: left;
  width: 99px;
  line-height: 1.3;
  margin-left: 5px;
}
.pc_left_004 .currency {
  font-size: 12px;
}
.pc_left_004 .price {
  font-size: 14px;
}

.pc_left_008 {
  border: 1px solid #cccccc;
  margin-bottom: 10px;
}
.pc_left_008 .index {
  background: #c15797;
  padding: 10px;
  display: block;
  color: white;
  border-bottom: 1px solid #cccccc;
}
.pc_left_008 .title-h3 {
  color: white;
  background: white;
  font-size: 1em;
  font-weight: bold;
  margin: 0px;
  padding: 0;
  line-height: 1.3;
  word-break: break-word;
  word-wrap: break-word;
  border-top: 1px solid #cccccc;
}
.pc_left_008 .title-h3 a {
  color: #333;
  background: #f9dfef;
  padding: 12px 10px;
  display: block;
}
.pc_left_008 .title-h3 a:hover {
  color: #c15797;
}
.pc_left_008 .title-h3-active a {
  color: white;
  background: #c15797;
}
.pc_left_008 .fa {
  margin-right: 6px;
}
.pc_left_008 .side-menu {
  font-size: 13px;
  line-height: 140%;
}
.pc_left_008 .side-menu h4 {
  padding: 11px 10px 9px 20px;
  border-bottom: 1px dotted #ccc;
  background: #fdf8fb;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
}
.pc_left_008 .side-menu h4 {
  zoom: 1;
}
.pc_left_008 .side-menu h4:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_left_008 .side-menu h4 .fa {
  float: left;
  display: block;
  margin-top: 1px;
}
.pc_left_008 .side-menu h4 a {
  float: left;
  display: block;
  width: 150px;
  color: #333;
  margin-top: -2px;
}
.pc_left_008 .side-menu a {
  color: #333;
  overflow: hidden;
  width: 153px;
  line-height: 1.4;
  max-height: 40px;
}
.pc_left_008 .side-menu a:hover {
  color: #c15797;
}
.pc_left_008 .side-menu .sec-menu {
  padding: 5px 0;
  border-bottom: 1px dotted #ccc;
}
.pc_left_008 .side-menu .sec-menu li {
  padding: 7px 10px 7px 38px;
  font-size: 15px;
}
.pc_left_008 .side-menu .sec-menu a {
  display: block;
  color: #333;
}
.pc_left_008 .side-menu .sec-menu a:hover {
  color: #c15797;
}
.pc_left_008 .side-menu .sec-menu .active {
  color: #c15797;
  font-weight: bold;
}
.pc_left_008 .side-menu > li:last-child .sec-menu {
  border-bottom: 0;
}
.pc_left_008 .side-menu > li:last-child h4 {
  border-bottom: 0;
}

.nav-breadcrumbs .container {
  padding: 15px 0;
}
.nav-breadcrumbs .fa {
  margin-right: 8px;
}
.nav-breadcrumbs .index {
  position: relative;
  font-weight: bold;
}
.nav-breadcrumbs .cate {
  display: inline-block;
}
.nav-breadcrumbs .locate {
  margin-left: 20px;
}
.nav-breadcrumbs .bread-item-name {
  font-size: 1.12em;
  font-weight: bold;
  color: black;
}

@media (max-width: 999px) {
  .nav-breadcrumbs {
    margin: 10px;
  }
}
@media (max-width: 767px) {
  .nav-breadcrumbs {
    margin: 20px 0 10px 10px;
  }
}
.pc-item-main {
  line-height: 1.9;
  font-size: 13px;
  	/*.point-more{
  		position: relative;
  	    bottom: 4px;
  	    display: inline-block;
  	    cursor: pointer;
  	    -webkit-user-select: none;
  	    -moz-user-select: none;a
  	    -ms-user-select: none;
  	    user-select: none;
  	    background-color: #006fae;
  	    color: #FFF;
          padding: 1px 3px;
      	line-height: 18px;
  	    border-radius: 6px;
  		.point-list{
  			visibility: hidden;
  		    min-width: 220px;
  		    width: auto;
  		    background-color: #FFF;
  		    color: #006fae;
  		    border: #006fae 1px solid;
  		    text-align: center;
  		    border-radius: 6px;
  		    padding: 8px 20px 8px 8px;
  		    position: absolute;
  		    z-index: 1;
  		    bottom: 125%;
  	        right: -5%;
  	        -moz-box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
  			-webkit-box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
  			box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
  		    cursor: auto;
  	        &::after {
  			    content: "";
  			    position: absolute;
  		        bottom: -10px;
  			    right: 4px;
  			    margin-left: -5px;
  			    border-width: 5px;
  			    border-style: solid;
  			    border-color: #006fae transparent transparent transparent;
  			}
  			a{
  				color: #e00517;
  			    cursor: pointer;
  			}
  			.block{
  				text-align: right;
  				margin-right: 10px;
  			}
  			.closebtn{
  				position: absolute;
  			    right: 8px;
  			    top: 0;
  		        cursor: pointer;
  			}
  		}
  		.show {
  		    visibility: visible;
  		    -webkit-animation: fadeIn 1s;
  		    animation: fadeIn 1s;
  		}
  		@-webkit-keyframes fadeIn {
  	    from {opacity: 0;}
  	    to {opacity: 1;}
  		}
  
  		@keyframes fadeIn {
  		    to {opacity:1 ;}
  		}
  	}*/
}
.pc-item-main {
  zoom: 1;
}
.pc-item-main:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc-item-main .subheading {
  float: right;
  width: 1000px;
  height: auto;
  font-size: 0px;
  color: #383838;
  text-align: center;
  word-wrap: break-word;
  overflow: hidden;
}
.pc-item-main .subheading {
  zoom: 1;
}
.pc-item-main .subheading:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc-item-main .subheading img {
  max-width: 100%;
  margin-bottom: 15px;
}
.pc-item-main .subheading p {
  text-align: right;
  font-size: 14px;
}
.pc-item-main .item-main-left {
  float: left;
  width: 36%;
  position: relative;
}
.pc-item-main .photo {
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  float: left;
  position: relative;
}
.pc-item-main .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 360px;
  max-height: 360px;
  display: block;
  margin: 0 auto;
}
.pc-item-main .swiper-slide {
  width: 100%;
  position: relative;
}
.pc-item-main .photo-other {
  width: 103.3%;
  margin: 5px -1.5%;
  font-size: 0;
}
.pc-item-main .photo-other img {
  width: 17%;
  margin: 5px 1.5%;
  opacity: 0.7;
  display: inline-block;
  position: static;
  border: 1px solid #cccccc;
}
.pc-item-main .photo-other img:hover {
  opacity: 1;
  border: 2px solid #cccccc;
  cursor: pointer;
}
.pc-item-main .photo-other img.active {
  opacity: 1;
  border: 2px solid #cccccc;
  cursor: pointer;
}
.pc-item-main a:hover {
  color: #c15797;
}
.pc-item-main .more_2h a {
  padding: 0 5px;
  color: #fff;
  background-color: #06c;
  text-decoration: underline;
  display: inline-block;
}
.pc-item-main .more_2h i {
  margin-left: 5px;
}
.pc-item-main .info {
  float: left;
  width: 64%;
  padding: 0 10px 30px 20px;
}
.pc-item-main .btn-follow-list {
  float: right;
  vertical-align: top;
  padding: 3px 10px;
  background-color: transparent;
  color: #c15797;
  font-weight: bold;
  font-weight: bold;
}
.pc-item-main .btn-follow-list:before {
  content: "";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
  margin-right: 3px;
}
.pc-item-main .btn-follow-list:before {
  content: "";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
  margin-right: 3px;
}
.pc-item-main .btn-follow-list:hover {
  color: #FFF;
  background-color: #c15797;
}
.pc-item-main .btn-follow-list:hover:before {
  content: '\f005';
}
.pc-item-main .btn-follow-list:hover:before {
  content: '\f005';
}
.pc-item-main h1.name {
  margin-bottom: 8px;
  word-wrap: break-word;
  word-break: break-word;
  color: black;
  font-size: 20px;
  line-height: 1.5;
}
.pc-item-main h1.name .tag-status {
  vertical-align: 3px;
}
.pc-item-main h1.name .tag-status.is-2h-delivery {
  vertical-align: 0;
}
.pc-item-main .feature {
  list-style: square inside;
  padding: 8px 10px 10px;
  border-top: 1px dotted #6c6c6c;
  position: relative;
  font-size: 15px;
}
.pc-item-main .feature li {
  float: none;
  line-height: 1.6;
  color: #383838;
  word-wrap: break-word;
  word-break: break-word;
  max-width: 515px;
}
.pc-item-main #slogan_data {
  padding-bottom: 8px;
}
.pc-item-main .trans-block {
  top: 10px;
  right: 12px;
}
.pc-item-main .line {
  padding: 8px 10px;
  border-top: 1px dotted #e9e9e9;
}
.pc-item-main .line {
  zoom: 1;
}
.pc-item-main .line:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc-item-main .hlight {
  -webkit-box-shadow: 0px 0px 1px 2px #c15797;
  -moz-box-shadow: 0px 0px 1px 2px #c15797;
  box-shadow: 0px 0px 1px 2px #c15797;
}
.pc-item-main .key {
  color: black;
  display: inline-block;
  vertical-align: top;
  word-wrap: break-word;
  width: 100px;
}
.pc-item-main .value {
  display: inline-block;
  width: 465px;
  margin-bottom: -8px;
  position: relative;
  z-index: 0;
}
.pc-item-main .value > li {
  padding: 10px 10px;
  margin: 0 8px 8px 0;
  cursor: pointer;
  height: 36px;
  border: 1px solid #cccccc;
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  vertical-align: top;
  position: relative;
  z-index: 0;
}
.pc-item-main .value > li.img {
  padding: 1px;
}
.pc-item-main .value > li img {
  height: 100%;
  display: block;
  width: 32px;
  text-align: center;
  position: relative;
  z-index: 0;
}
.pc-item-main .value .active {
  position: relative;
  border: 1px solid #c15797;
  color: #c15797;
  z-index: 0;
}
.pc-item-main .value .active:after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  border-style: solid;
  border-width: 0 0 15px 15px;
  border-color: transparent transparent #c15797 transparent;
  z-index: 10;
}
.pc-item-main .value .active .type {
  padding: 3px;
}
.pc-item-main .value .active .fa {
  position: absolute;
  right: -1px;
  bottom: -2px;
  color: white;
  font-size: 12px;
  z-index: 99;
  -ms-transform: scale(0.8, 0.8);
  /* IE 9 */
  -webkit-transform: scale(0.8, 0.8);
  /* Chrome, Safari, Opera */
  transform: scale(0.8, 0.8);
}
.pc-item-main .value .disabled {
  position: relative;
  cursor: not-allowed;
  border: 1px dashed #cccccc;
}
.pc-item-main .value .disabled .fa {
  position: absolute;
  right: 2px;
  bottom: 0px;
  color: #cccccc;
  font-size: 16px;
  z-index: 3;
}
.pc-item-main .value .item {
  margin-bottom: 8px;
}
.pc-item-main .value .item .l-left {
  float: none;
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px;
}
.pc-item-main .value .item .l-left li {
  margin: 0;
}
.pc-item-main .value .name {
  font-size: 13px;
  cursor: pointer;
}
.pc-item-main .label {
  display: inline-block;
  color: #383838;
  font-size: 12px;
  line-height: 1.9;
}
.pc-item-main .checkbox {
  margin: 0 0 0 0;
}
.pc-item-main .select-style {
  width: auto;
  background-position: 98% 50%;
}
.pc-item-main .select-style select {
  padding: 5px 15px 5px 5px;
}
.pc-item-main .select-style select::-ms-expand {
  display: none;
}
.pc-item-main .select {
  margin-left: 8px;
  width: 100px;
  overflow: hidden;
  font-size: 12px;
}
.pc-item-main .link {
  font-size: 12px;
  color: #383838;
}
.pc-item-main .link:hover {
  color: #c15797;
}
.pc-item-main .payinfo-left {
  float: left;
  width: 275px;
}
.pc-item-main .payinfo-right {
  float: right;
  width: 286px;
}
.pc-item-main .payinfo-right .key {
  width: 68px;
  font-size: 12px;
  line-height: 30px;
  padding-left: 10px;
}
.pc-item-main .payinfo-right .value {
  width: 205px;
  text-align: right;
}
.pc-item-main .remind {
  position: relative;
  margin: 0 10px 8px 0;
}
.pc-item-main .remind p {
  display: inline-block;
  background: #ff5100;
  color: #FFF;
  font-size: 13px;
  padding: 0 8px;
  border-radius: 8px;
  text-align: center;
}
.pc-item-main .remind p a {
  cursor: pointer;
  color: #FFF;
}
.pc-item-main .remind p a:hover {
  color: #e00517;
}
.pc-item-main .remind div {
  display: block;
  background: #FFF;
  color: #ff5100;
  font-size: 13px;
  padding: 0 8px;
  border-radius: 6px;
  text-align: center;
  border: #ff5100 1px solid;
  margin-top: 10px;
}
.pc-item-main .remind div a {
  cursor: pointer;
  color: #ff5100;
}
.pc-item-main .remind div a:hover {
  color: #e00517;
}
.pc-item-main .remind .icon-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #ff5100 transparent transparent transparent;
  position: absolute;
  bottom: -6px;
  right: 24px;
}
.pc-item-main .web-price .key {
  padding-top: 0;
}
.pc-item-main .web-price .price {
  font-size: 16px;
  line-height: 1.9;
  padding-right: 4px;
  color: #ff5100;
}
.pc-item-main .web-price .currency {
  margin-bottom: 3px;
  color: #ff5100;
}
.pc-item-main .point-price {
  background: #f8f8f8;
  margin-top: 8px;
  padding-bottom: 1px;
}
.pc-item-main .point-price .point-more {
  text-decoration: underline;
  color: #006fae;
  padding-left: 2px;
}
.pc-item-main .point-price .point-more:hover {
  color: #c15797;
}
.pc-item-main .buy {
  display: inline-block;
  width: 80%;
}
.pc-item-main del {
  font-size: 10px;
  margin-right: 2px;
}
.pc-item-main .discount-mark {
  display: inline-block;
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin-right: 3px;
  margin-bottom: 4px;
  padding: 1px 5px;
  background: #f60011;
  border-radius: 10px;
}
.pc-item-main .currency {
  font-size: 12px;
  color: #f60011;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 2px;
}
.pc-item-main .price {
  font-size: 21px;
  line-height: 1.45;
  color: #f60011;
  display: inline-block;
  vertical-align: bottom;
}
.pc-item-main .start {
  display: inline-block;
  color: #333;
  font-size: 12px;
  vertical-align: bottom;
}
.pc-item-main .pr_fee {
  display: inline-block;
}
.pc-item-main .input-style {
  border-right: 0;
  border-left: 0;
}
.pc-item-main .quantity-add {
  text-align: right;
  margin-top: 10px;
  width: 100%;
  margin-top: 16px;
}
.pc-item-main .quantity {
  vertical-align: bottom;
  display: inline-block;
}
.pc-item-main .quantity .quantity-input {
  height: 32px;
}
.pc-item-main .button {
  margin-left: 10px;
  display: inline-block;
}
.pc-item-main .btn-arrival {
  float: right;
  margin-top: 10px;
  padding: 3px 13px;
}
.pc-item-main .btn-arrival {
  zoom: 1;
}
.pc-item-main .btn-arrival:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc-item-main .item-fee {
  clear: both;
  display: block;
  width: 100%;
  padding-top: 10px;
  color: black;
  font-size: 14px;
  text-align: right;
}
.pc-item-main .item-fee .currency {
  color: black;
  font-weight: bold;
}
.pc-item-main .item-fee .price {
  color: black;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
}
.pc-item-main .item-fee .fa-question {
  display: inline-block;
  position: relative;
  color: white;
  text-align: center;
  background: #383838;
  font-size: 15px;
  margin: 0 2px;
  padding: 0 2px 1px 0;
  width: 15px;
  height: 15px;
  cursor: pointer;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.pc-item-main .item-fee .fa-question .fee-info {
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 9;
  width: 155px;
  padding: 10px 10px;
  background: #00a8ff;
  color: white;
  font-size: 13px;
  font-family: Tahoma,'微軟正黑體','新細明體','Arial Unicode MS',Arial,Helvetica,sans-serif;
  line-height: 1.6;
  border: 1px solid #cccccc;
  visibility: hidden;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
.pc-item-main .item-fee .fa-question:hover {
  background: black;
}
.pc-item-main .item-fee .fa-question:hover .fee-info {
  visibility: visible;
  top: 20px;
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.pc-item-main .item-fee .fee-c {
  color: #4498c8;
}
.pc-item-main .item-fee .fee-c:hover {
  color: #006fae;
}
.pc-item-main .sale {
  width: 400px;
  color: #c15797;
  font-size: 12px;
  display: inline-block;
}
.pc-item-main .sale .type {
  border: 1px solid #c15797;
  padding: 3px 5px;
  margin-bottom: 5px;
  line-height: 140%;
  display: block;
}
.pc-item-main .sale .type a {
  padding: 3px 5px;
  color: #06c;
  text-decoration: underline;
}
.pc-item-main .sale span {
  word-wrap: break-word;
  margin-right: 5px;
}
.pc-item-main .sale .time {
  font-weight: bold;
  background: #c15797;
  color: #fff;
  padding: 0px 5px;
  display: inline-block;
}
.pc-item-main .sale .time li {
  display: inline-block;
}
.pc-item-main .sale .time div {
  display: inline-block;
  height: 17px;
  margin: 0 1px 0 0;
  vertical-align: top;
  line-height: 1.6;
  overflow: hidden;
}
.pc-item-main .sale .bought {
  margin-left: 5px;
  display: inline-block;
}
.pc-item-main .social-plugins {
  padding: 5px 0;
}
.pc-item-main .social-plugins .each_plugin {
  display: inline-block;
  margin-right: 5px;
}
.pc-item-main .social-plugins .each_plugin a {
  display: inline-block;
  margin-right: 5px;
}
.pc-item-main .social-plugins .each_plugin a:last-child {
  margin: 0;
}
.pc-item-main .social-plugins .each_plugin img {
  display: block;
  width: 24px;
  height: 24px;
}
.pc-item-main .social-plugins .each_plugin.facebook .fb-like {
  vertical-align: text-bottom;
}
.pc-item-main .credit-card {
  margin: 10px 0 10px;
  width: 100%;
}
.pc-item-main .credit-card {
  zoom: 1;
}
.pc-item-main .credit-card:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc-item-main .credit-card a {
  font-size: 11px;
}
.pc-item-main .credit-card .row + .row .block {
  border-top: none;
}
.pc-item-main .credit-card .row {
  zoom: 1;
}
.pc-item-main .credit-card .row:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc-item-main .credit-card .block {
  border: 1px solid #cccccc;
  background: #f9f9f9;
  padding: 0px 5px;
  float: left;
  margin-left: -1px;
  font-size: 12px;
  line-height: 26px;
  min-width: 80px;
}
.pc-item-main .credit-card .block .colee0 {
  color: #dd0000;
  padding: 0 2px;
}
.pc-item-main .credit-card .block:first-child {
  text-align: right;
}
.pc-item-main .credit-card .block:first-child + .block {
  width: 116px;
}
.pc-item-main .credit-card .block:last-child {
  text-align: center;
}
.pc-item-main .credit-card .more {
  position: relative;
  cursor: pointer;
}
.pc-item-main .credit-card .more:hover .credit-card-list {
  display: block;
}
.pc-item-main .credit-card .more .fa {
  margin-left: 5px;
}
.pc-item-main .credit-card .more .credit-card-list {
  min-width: 185px;
  background: #fff;
  border: 1px solid #cccccc;
  border-bottom: 2px solid #cccccc;
  border-top: 2px solid #cccccc;
  line-height: 14px;
  position: absolute;
  right: -1px;
  z-index: 2;
  display: none;
}
.pc-item-main .credit-card .more .credit-card-list p {
  margin-bottom: 6px;
  padding: 8px 10px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #cccccc;
  background: #504f47;
  color: #fff;
}
.pc-item-main .credit-card .more .credit-card-list .block {
  background: #fff;
  border: 0;
  border-bottom: 1px dotted #cccccc;
  float: none;
  margin-left: 0;
  padding: 0 5px;
  white-space: nowrap;
  text-align: left;
}
.pc-item-main .credit-card .more .credit-card-list .block:last-child {
  border: 0;
  text-align: right;
}
.pc-item-main .credit-card .more .credit-card-list .block .col {
  display: inline-block;
  text-align: right;
}
.pc-item-main .credit-card .more .credit-card-list .block .col:first-child {
  width: 70px;
  margin-right: 10px;
}
.pc-item-main .pay {
  font-size: 12px;
}
.pc-item-main .pay i {
  margin-right: 3px;
}
.pc-item-main .pay a {
  margin-left: 0px;
  display: block;
}
.pc-item-main .pay .photo {
  width: auto;
}
.pc-item-main .relative-word {
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #e9e9e9;
  font-size: 12px;
}
.pc-item-main .relative-word p {
  color: black;
}
.pc-item-main .relative-word ul {
  zoom: 1;
}
.pc-item-main .relative-word ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc-item-main .relative-word ul li {
  float: left;
  margin-right: 15px;
  line-height: 1.9;
}
.pc-item-main .relative-word ul li a {
  color: #4498c8;
}
.pc-item-main .relative-word ul li a:hover {
  color: #006fae;
}
.pc-item-main .other-pay {
  padding: 5px 0;
  margin-bottom: 5px;
  border-bottom: 1px solid #e9e9e9;
}
.pc-item-main .other-pay {
  zoom: 1;
}
.pc-item-main .other-pay:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc-item-main .other-pay span {
  float: right;
}
.pc-item-main .icon-seven::before {
  margin-right: 4px;
  margin-top: -4px;
}
.pc-item-main .icon-fami {
  float: right;
  margin-right: 6px;
  margin-top: -2px;
}
.pc-item-main .highlight {
  width: 100%;
  margin: 8px 0 0 0;
  text-align: right;
}
.pc-item-main .highlight span {
  margin: 0 0 0 10px;
}
.pc-item-main .highlight span span {
  margin: 0;
}

@-moz-document url-prefix() {
  .select-style {
    padding: 2px 6px 2px 0;
  }
}
.item-slider-001 .pagination {
  width: 100%;
  margin: 5px auto;
  text-align: center;
  display: none;
}
.item-slider-001 .swiper-pagination-switch {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 10px;
  background: #d2d2d2;
  margin: 0 3px;
  cursor: pointer;
}
.item-slider-001 .swiper-active-switch {
  width: 30px;
}
.item-slider-001 .arrow {
  display: none;
  color: #d2d2d2;
  font-size: 3em;
  top: 45%;
  margin-top: -25px;
  opacity: 0.5;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}
.item-slider-001 .arrow.arrow-left {
  left: 5px;
}
.item-slider-001 .arrow.arrow-right {
  right: 5px;
}
.item-slider-001 .arrow:hover {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

/* for 購物金 demo - 2016-10-28 */
.line-demo {
  width: 100%;
  padding: 8px 10px 16px;
  border-top: 1px dotted #e9e9e9;
}
.line-demo .point {
  padding-left: 11px;
  font-style: inherit;
  text-align: right;
}
.line-demo .point .key {
  padding-top: 4px;
}
.line-demo .point-price {
  position: relative;
  bottom: 6px;
}
.line-demo .point-price .currency, .line-demo .point-price .price {
  color: #e00517;
}
.line-demo .point-price.key {
  padding-top: 20px;
  width: 60px;
  text-align: left;
}
.line-demo .point-price.value {
  text-align: right;
  width: auto;
  padding-right: 10px;
}
.line-demo .point-price .discount-mark {
  position: relative;
  bottom: 10px;
}
.line-demo .point-price .currency {
  position: relative;
  bottom: 10px;
}
.line-demo .point-price .price {
  font-size: 30px;
}
.line-demo .quantity-add {
  text-align: left;
}

.pc-item-add .container {
  border: 1px solid #e9e9e9;
}
.pc-item-add .title-h3 {
  background: #f9f9f9;
  border-bottom: 1px solid #e9e9e9;
  padding: 10px;
}
.pc-item-add .items {
  padding: 10px;
}
.pc-item-add .items {
  zoom: 1;
}
.pc-item-add .items:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc-item-add .item {
  float: left;
  margin-bottom: 15px;
  width: 50%;
  min-height: 110px;
}
.pc-item-add label {
  cursor: pointer;
  color: #383838;
}
.pc-item-add .photo {
  margin-right: 8px;
  display: inline-block;
}
.pc-item-add .photo img {
  max-width: 100px;
}
.pc-item-add .info {
  display: inline-block;
  vertical-align: top;
}
.pc-item-add .checkbox {
  display: inline-block;
  vertical-align: top;
}
.pc-item-add .name {
  margin-bottom: 10px;
  color: black;
  font-size: 14px;
  line-height: 1.4;
  height: 38px;
  width: 345px;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-word;
}
.pc-item-add .spec {
  margin-right: 5px;
  width: 100px;
  padding: 2px 4px;
  font-size: 12px;
}
.pc-item-add .buy {
  margin-top: 10px;
}
.pc-item-add .feature {
  margin-bottom: 10px;
  font-size: 0.85em;
  line-height: 1.6;
}
.pc-item-add .currency {
  font-size: 10px;
  color: #f60011;
  display: inline-block;
}
.pc-item-add .price {
  font-size: 14px;
  color: #f60011;
  display: inline-block;
  margin-right: 10px;
}
.pc-item-add .button {
  vertical-align: top;
}
.pc-item-add .quantity {
  vertical-align: middle;
}
.pc-item-add .add-actions {
  border-top: 1px solid #e9e9e9;
  padding: 10px 0 12px;
  text-align: center;
}
.pc-item-add .add-actions .quantity {
  vertical-align: bottom;
  margin-right: 10px;
}
.pc-item-add .add-actions .button {
  vertical-align: bottom;
}

.pc-item-related .container {
  padding: 0;
  margin: 30px auto;
}
.pc-item-related .item-related-tabs {
  margin-bottom: -10px;
  padding-left: 18px;
  height: 21px;
}
.pc-item-related .item-related-tabs ul {
  display: inline-block;
  text-align: left;
  padding: 0 0px 0 8px;
  background: white;
}
.pc-item-related .item-related-tabs li {
  display: inline-block;
  padding: 0px 15px;
  margin-top: 3px;
  font-size: 14px;
  color: #6c6c6c;
  border-left: 1px solid #e9e9e9;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.pc-item-related .item-related-tabs li:hover {
  color: #333;
}
.pc-item-related .item-related-tabs li.active {
  float: left;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border-left: 0;
  margin-top: 0;
  padding: 0px 15px 0px 0px;
}
.pc-item-related .item-related-tabs li.active:before {
  font-size: 0px;
}
.pc-item-related .item-related-tabs li.active:hover {
  color: black;
}
.pc-item-related .item-related-tabs li:before {
  content: "";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
  margin-right: 4px;
  vertical-align: 0px;
  font-size: 13px;
}
.pc-item-related .items {
  width: 100%;
  height: auto;
  border: 1px solid #e9e9e9;
  padding: 28px 10px 15px;
  overflow: hidden;
  visibility: hidden;
  position: absolute;
}
.pc-item-related .items {
  zoom: 1;
}
.pc-item-related .items:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc-item-related .items.active {
  visibility: visible;
  position: static;
}
.pc-item-related .item {
  padding: 0 13px;
}
.pc-item-related .item:hover {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
.pc-item-related .item:hover .photo {
  opacity: 0.75;
}
.pc-item-related .photo {
  display: block;
  margin-bottom: 7px;
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
}
.pc-item-related .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.pc-item-related .photo img {
  width: 100%;
}
.pc-item-related .name {
  margin-bottom: 7px;
  color: black;
  font-weight: bold;
  font-size: 13px;
  height: 32px;
  line-height: 1.3;
  word-break: break-word;
  word-wrap: break-word;
  overflow: hidden;
}
.pc-item-related .buy {
  text-align: left;
}
.pc-item-related .currency {
  font-size: 10px;
  color: #f60011;
  display: inline-block;
}
.pc-item-related .price {
  font-size: 14px;
  color: #f60011;
  display: inline-block;
  margin-right: 10px;
}

.item-slider-002, .item-slider-003, .item-slider-004 {
  padding: 0 10px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.item-slider-002 .pagination, .item-slider-003 .pagination, .item-slider-004 .pagination {
  width: 100%;
  margin: 5px auto;
  text-align: center;
  display: none;
}
.item-slider-002 .swiper-pagination-switch, .item-slider-003 .swiper-pagination-switch, .item-slider-004 .swiper-pagination-switch {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 10px;
  background: #d2d2d2;
  margin: 0 3px;
  cursor: pointer;
}
.item-slider-002 .swiper-active-switch, .item-slider-003 .swiper-active-switch, .item-slider-004 .swiper-active-switch {
  width: 30px;
}
.item-slider-002 .arrow, .item-slider-003 .arrow, .item-slider-004 .arrow {
  color: #d2d2d2;
  font-size: 2.8em;
  top: 45%;
  margin-top: -25px;
  opacity: 0.5;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}
.item-slider-002 .arrow.arrow-c-left, .item-slider-003 .arrow.arrow-c-left, .item-slider-004 .arrow.arrow-c-left {
  left: 0px;
}
.item-slider-002 .arrow.arrow-c-right, .item-slider-003 .arrow.arrow-c-right, .item-slider-004 .arrow.arrow-c-right {
  right: 0px;
}
.item-slider-002 .arrow:hover, .item-slider-003 .arrow:hover, .item-slider-004 .arrow:hover {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

.pc-item-detail {
  zoom: 1;
}
.pc-item-detail:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc-item-detail .container {
  margin: 30px auto;
  border-bottom: 1px solid #cccccc;
  padding: 0 0 30px;
}
.pc-item-detail .center {
  text-align: center;
}
.pc-item-detail img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.pc-item-detail .desc {
  line-height: 1.9;
  margin: 15px 0;
  word-break: break-word;
  word-wrap: break-word;
}
.pc-item-detail .desc iframe {
  display: block;
  margin: 0 auto;
}
.pc-item-detail .pic_txt {
  font-size: 0;
}
.pc-item-detail .pic_txt .pic_txt_col {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 1.5;
  word-break: break-word;
  word-wrap: break-word;
}
.pc-item-detail .pic_txt .pic_txt_col img {
  display: inline;
}

.pc-item-spec {
  padding-top: 15px;
  margin-top: 30px;
  border-top: 1px solid #cccccc;
}
.pc-item-spec {
  zoom: 1;
}
.pc-item-spec:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc-item-spec .spec {
  margin: 0 0 15px;
  border-bottom: 1px solid #cccccc;
  padding: 0 0 15px;
  line-height: 1.9;
  font-size: 0.85em;
  word-wrap: break-word;
  position: relative;
}
.pc-item-spec .title-h3 {
  padding: 0px;
  line-height: 1;
}

.pc-item-buy {
  text-align: center;
}
.pc-item-buy .quantity {
  vertical-align: bottom;
  margin-right: 10px;
}

.highlight {
  display: inline-block;
  font-size: 12px;
  vertical-align: bottom;
  height: auto;
  margin-left: 10px;
  text-align: left;
}
.highlight p {
  vertical-align: middle;
  line-height: 1.42;
}
.highlight span {
  margin-right: 20px;
}

.credit-card {
  max-width: 880px;
  background: #fff;
  margin-top: -46px;
  margin-bottom: 36px;
}
.credit-card .title-h3 {
  background: #504f47;
  color: #fff;
  border-bottom: 1px solid #e9e9e9;
  padding: 15px 10px;
  margin-bottom: 0;
}
.credit-card .title-h3 .link {
  color: #eee;
  font-size: 13px;
  margin-left: 10px;
  font-weight: normal;
  text-decoration: underline;
}
.credit-card .title-h3 .link:hover {
  color: #c15797;
}
.credit-card .title-h3 .icon-close {
  float: right;
}
.credit-card .list {
  width: 100%;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
}
.credit-card .list th {
  padding: 10px 5px 5px;
  border-bottom: 2px solid #cccccc;
}
.credit-card .list td {
  padding: 10px 5px;
  border-bottom: 1px dotted #cccccc;
  vertical-align: middle;
}
.credit-card .list td img {
  margin-top: 4px;
  width: 100px;
}
.credit-card .list td a {
  font-size: 12px;
}
.credit-card .list h4 {
  font-weight: bold;
  color: red;
}
.credit-card .list a:hover {
  color: #c15797;
}
.credit-card .list .descript {
  font-size: 12px;
  text-align: left;
  padding: 15px 20px;
  background: #f9f9f9;
}
.credit-card .list .descript p {
  font-weight: bold;
  font-size: 13px;
}
.credit-card .list .descript ol {
  list-style-type: decimal;
  margin-left: 14px;
  margin-top: 10px;
}
.credit-card .list .descript ul > li {
  background: url("../../../../../../img/frame/circle.png") no-repeat 0px 10px;
  padding-left: 8px;
}
.credit-card .bonus-detail {
  background: #504f47;
  color: #fff;
  display: block;
  padding: 15px 0;
  margin-bottom: 36px;
}
.credit-card .bonus-detail th, .credit-card .bonus-detail td {
  font-size: 12px;
  line-height: 140%;
  padding: 8px 10px;
}
.credit-card .bonus-detail th {
  width: 140px;
  text-align: right;
}
.credit-card .rate {
  color: #dd0000;
  font-weight: bold;
  width: 15%;
}
.credit-card .rate .text18 {
  font-size: 22px;
  padding: 0 3px;
  top: 2px;
  position: relative;
  font-style: italic;
}
.credit-card .bank-name {
  font-size: 12px;
  width: 70%;
  text-align: left;
}
.credit-card .bank-name .note > li {
  display: inline-block;
  width: 84px;
  color: #666;
}

.wysiwyg-color-black {
  color: black;
}

.wysiwyg-color-silver {
  color: silver;
}

.wysiwyg-color-gray {
  color: gray;
}

.wysiwyg-color-white {
  color: white;
}

.wysiwyg-color-maroon {
  color: maroon;
}

.wysiwyg-color-red {
  color: red;
}

.wysiwyg-color-purple {
  color: purple;
}

.wysiwyg-color-fuchsia {
  color: fuchsia;
}

.wysiwyg-color-green {
  color: green;
}

.wysiwyg-color-lime {
  color: lime;
}

.wysiwyg-color-olive {
  color: olive;
}

.wysiwyg-color-yellow {
  color: yellow;
}

.wysiwyg-color-navy {
  color: navy;
}

.wysiwyg-color-blue {
  color: blue;
}

.wysiwyg-color-teal {
  color: teal;
}

.wysiwyg-color-aqua {
  color: aqua;
}

.wysiwyg-font-size-small {
  font-size: 0.8rem;
}

.wysiwyg-font-size-large {
  font-size: 1.2rem;
}

.wysiwyg-font-size-larger {
  font-size: 1.4rem;
}

.wysiwyg-font-size-x-large {
  font-size: 1.8rem;
}

.wysiwyg-font-size-xx-large {
  font-size: 2.2rem;
}

.wysiwyg-text-align-center {
  text-align: center;
}

.wysiwyg-text-align-justify {
  text-align: justify;
}

.wysiwyg-text-align-left {
  text-align: left;
}

.wysiwyg-text-align-right {
  text-align: right;
}
