.md_nav_breadcrumbs.is-fixed {
  top: 0;
  border-bottom: 2px solid #03aa01;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 5px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 5px 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 20px;
  position: fixed;
  z-index: 10;
}
.md_nav_breadcrumbs .container {
  padding: 10px;
}
.md_nav_breadcrumbs .item {
  max-width: 28%;
  margin: 0 2px;
  color: #999999;
  font-size: 0.9rem;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
}
.md_nav_breadcrumbs .item + .item:before {
  content: "\f105";
  margin-right: 4px;
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
}
.md_nav_breadcrumbs .item.item-select {
  overflow: visible;
}
.md_nav_breadcrumbs .select-breadcrumbs {
  width: 95%;
  padding: 1px 3px;
  color: #666;
  font-size: 0.9rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.md_nav_breadcrumbs .select-breadcrumbs option {
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

.btn-toggle-filter {
  top: 6px;
  right: 10px;
  padding: 3px 5px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.95rem;
  border: rgba(255, 255, 255, 0.8) 1px solid;
  background: none;
  position: absolute;
}
.btn-toggle-filter:before {
  content: "\f161";
  margin-right: 3px;
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
}
.btn-toggle-filter.is-active {
  color: #03aa01;
  border-color: #03aa01;
  background: rgba(255, 255, 255, 0.7);
}
.btn-toggle-filter.is-active:before {
  content: "\f139";
}

.site-filter {
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom-width: 0;
  background: #d2d2d2;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  overflow: hidden;
}
.site-filter.is-expand {
  max-height: 10000px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: #e2e0e0 1px solid;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px;
  overflow: visible;
}
.site-filter select {
  width: 100%;
  padding: 6px 4px;
  border: none;
}
.site-filter .row {
  padding: 5px 10px;
}
.site-filter .row {
  zoom: 1;
}
.site-filter .row:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.site-filter .input-number {
  margin: 0;
  padding: 6px 4px;
  border: none;
}
.site-filter .col-left {
  float: left;
  margin-right: 15px;
  line-height: 32px;
}
.site-filter .col-right {
  text-align: right;
}
.site-filter .col-right .input-number {
  width: 30%;
}
.site-filter .col-right span {
  margin: 0 5px;
}
.site-filter .btn-filter {
  color: #fff;
  letter-spacing: 1px;
  margin-top: 5px;
  padding: 7px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.site-filter .btn-filter.btn-clear {
  width: 30%;
  background: #9f9f9f;
  float: left;
}
.site-filter .btn-filter.btn-submit {
  width: 68%;
  background: #393939;
  float: right;
}

.infinite-next-page, #infscr-loading {
  color: #ec412b;
  line-height: 1.4;
  text-align: center;
  padding: 0 10px 20px;
  display: block;
}

#infscr-loading {
  color: #999999;
  font-size: 0.9rem;
}

.md_category_001 {
  position: relative;
}
.md_category_001 .t-title {
  padding-right: 105px;
}
.md_category_001 .t-ellipsis {
  max-width: 75%;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
}
.md_category_001 .t-count {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.85rem;
  margin-left: 5px;
  vertical-align: middle;
}
