[class*="btn-"].btn-buy, [class*="btn-"].btn-rush, [class*="btn-"].btn-addcart, [class*="btn-"].btn-select-size {
  background: #03aa01;
}

.site-header {
  border-bottom: 2px solid #03aa01;
}
.site-header .number {
  background: #03aa01;
}

.md-site-sliders .swiper-container .swiper-pagination-bullet-active {
  background: #03aa01;
}

.t-title {
  background: #03aa01;
}

.size-block .hlight {
  border: #03aa01 2px solid;
}
