@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Orbitron");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html, body {
  height: 100%;
  font-family: '微軟正黑體',Tahoma,'新細明體','Arial Unicode MS',Arial,Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html:lang(vi-vn) body {
  font-family: Segoe UI,'微軟正黑體',Tahoma,'新細明體','Arial Unicode MS',Arial,Helvetica,sans-serif;
}

* {
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, ol {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

::-webkit-search-cancel-button {
  display: none;
}

.hide {
  display: none;
}

.container, .clearfix, .select-dialog .discount-line {
  zoom: 1;
}
.container:after, .clearfix:after, .select-dialog .discount-line:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.container {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.site-outter {
  width: 100%;
}
.site-outter.fixed {
  position: fixed;
}

.edm-container {
  padding-top: 90px !important;
}

body {
  color: #666;
  background: #efefef;
  font-family: 'EuphemiaUCAS',Tahoma,'LiHei Pro','Heiti TC','微軟正黑體',sans-serif;
  -webkit-text-size-adjust: none;
}

a {
  color: #ec412b;
}

input, select, button {
  font-family: 'EuphemiaUCAS',Tahoma,'LiHei Pro','Heiti TC','微軟正黑體',sans-serif;
  background: white;
  color: #666;
  font-size: 1rem;
  margin: 0;
  padding: 4px;
  border: #e2e0e0 1px solid;
}
input:focus, select:focus, button:focus {
  outline: none;
}
input:disabled, select:disabled, button:disabled {
  color: #c9c6c6;
  background: #eeeded;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button {
  border: none;
}

.quantity-alert {
  color: #fff;
  font-size: 0.9rem;
  line-height: 1.4;
  text-align: center;
  width: 150px;
  left: 50%;
  bottom: 100%;
  margin-left: -75px;
  padding: 1px 5px;
  background: #dd0000;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: block;
  position: absolute;
  z-index: 99;
}
.quantity-alert:after {
  content: "\0020";
  top: 100%;
  left: 50%;
  border: solid transparent;
  border-color: rgba(221, 0, 0, 0);
  border-top-color: #dd0000;
  border-width: 5px;
  margin-left: -5px;
  position: absolute;
}

.quantity {
  font-size: 0;
  vertical-align: top;
  display: inline-block;
  position: relative;
}
.quantity {
  zoom: 1;
}
.quantity:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.quantity .quantity-input {
  width: 36px;
  height: 30px;
  padding: 0;
  font-size: 1rem;
  line-height: 30px;
  letter-spacing: normal;
  text-align: center;
  border-left: none;
  border-right: none;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.quantity .btn-quantity {
  width: 28px;
  height: 30px;
  padding: 0 7px;
  color: #6c6c6c;
  line-height: 30px;
  letter-spacing: normal;
  text-align: center;
  background: #fff;
  border: #e2e0e0 1px solid;
  vertical-align: middle;
  cursor: pointer;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.quantity .btn-quantity.is-disabled {
  color: #c9c6c6;
  background: #eeeded;
  cursor: no-drop;
}
.quantity.large {
  margin-right: 10px;
}
.quantity.large .btn-quantity {
  width: 43px;
  height: 40px;
  font-size: 1.2rem;
  line-height: 40px;
}
.quantity.large .quantity-input {
  width: 42px;
  height: 40px;
  line-height: 38px;
}

.nav-to-top {
  color: #393939;
  font-size: 1.4rem;
  right: 0;
  bottom: 30px;
  padding: 8px 15px;
  background: #d2d2d2;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 5px 7px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 5px 7px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 5px 7px;
  opacity: 0.8;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  display: block;
  cursor: pointer;
  position: fixed;
  z-index: 10;
}

.cart-mark {
  background: #03aa01;
  color: white;
  border: 10px solid rgba(3, 170, 1, 0.4);
  padding: 17px 20px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
  margin-top: -35px;
  margin-left: -100px;
  width: 200px;
  line-height: 1.2;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.select-dialog {
  left: 0;
  right: 0;
  bottom: 100%;
  background: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: fixed;
  z-index: 99;
}
.select-dialog.is-show {
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}
.select-dialog .t-title {
  color: #000;
  font-size: 1.05rem;
  margin-right: 20px;
  padding: 10px 0 20px;
  background: none;
}
.select-dialog .size-block {
  padding: 10px;
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0 5px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0 5px 20px;
  box-shadow: rgba(0, 0, 0, 0.7) 0 5px 20px;
}
.select-dialog .btn-close {
  color: #6c6c6c;
  top: 0;
  right: 0;
  position: absolute;
}
.select-dialog .discount-line {
  color: #868686;
  padding: 5px 0;
  text-align: right;
}
.select-dialog .discount-line.summary {
  padding-top: 10px;
  border-top: 1px solid #e9e9e9;
}
.select-dialog .discount-line .value-name {
  float: left;
}
.select-dialog .md-item-buy {
  margin-top: 10px;
  text-align: center;
}

.size-block .hlight {
  border: #03aa01 2px solid;
  padding: 0 10px;
}
.size-block .line {
  padding: 10px 0;
}
.size-block .value-name {
  margin-bottom: 8px;
  font-size: 1.05rem;
}
.size-block .select-size {
  display: block;
  margin-bottom: -8px;
}
.size-block .select-size .size {
  margin: 0 5px 5px 0;
  font-size: 0.8rem;
  line-height: 1;
  vertical-align: top;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.size-block .select-size .size label {
  padding: 10px;
}
.size-block .select-size .size.img {
  padding: 0;
}
.size-block .select-size .size.img label {
  width: 35px;
  height: 35px;
  padding: 1px;
}
.size-block .select-size .size.img .img-item {
  height: 100%;
}
.size-block .select-size .input-size {
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
.size-block .select-size .input-size + label {
  border: #cccccc 1px solid;
  display: inline-block;
}
.size-block .select-size .input-size + label:before {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
}
.size-block .select-size .input-size + label:after {
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  right: 0;
  bottom: 0;
  display: inline-block;
  position: absolute;
  z-index: 1;
}
.size-block .select-size .input-size:checked + label {
  border-color: #03aa01;
}
.size-block .select-size .input-size:checked + label:before {
  border-style: solid;
  border-width: 0 0 20px 20px;
  border-color: transparent transparent #03aa01 transparent;
}
.size-block .select-size .input-size:checked + label:after {
  content: "\f00c";
  color: #fff;
  font-size: 12px;
}
.size-block .select-size .input-size:disabled + label {
  border-color: #cccccc;
  border-style: dashed;
  color: #cccccc;
}
.size-block .select-size .input-size:disabled + label:after {
  content: "\f057";
  right: 3px;
  bottom: 1px;
  color: #cccccc;
  font-size: 16px;
}
.size-block .select-size .input-size:disabled + label .img-item {
  opacity: 0.7;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}

.img-spacing {
  margin-bottom: 15px !important;
}

.is-border-none:hover {
  border: none !important;
}

.t-title {
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 1px;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 10px;
  background: #03aa01;
}

.t-digital-numbers {
  font-family: "Orbitron", sans-serif;
}

.t-ontime-clock {
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0;
  padding: 2px 5px;
  vertical-align: middle;
  text-shadow: #000 1px 1px 2px;
  border: #b8b8b8 1px solid;
  background: #222;
  background-color: #777;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#777), to(#000));
  background-image: -webkit-linear-gradient(top, #777, #000);
  background-image: -moz-linear-gradient(top, #777, #000);
  background-image: -ms-linear-gradient(top, #777, #000);
  background-image: -o-linear-gradient(top, #777, #000);
  background-image: linear-gradient(top bottom, #777, #000);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: #000 1px 1px 5px inset;
  -moz-box-shadow: #000 1px 1px 5px inset;
  box-shadow: #000 1px 1px 5px inset;
  display: inline-block;
}

.t-red {
  color: #dd0000;
}

[class*="btn-"] {
  color: #fff;
  text-align: center;
  padding: 5px 8px;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
  cursor: pointer;
  -webkit-appearance: none;
}
[class*="btn-"].large {
  height: 40px;
  font-size: 1.1rem;
  line-height: 40px;
  padding: 0 15px;
}
[class*="btn-"].btn-buy, [class*="btn-"].btn-rush, [class*="btn-"].btn-addcart, [class*="btn-"].btn-select-size {
  background: #03aa01;
}
[class*="btn-"].btn-buy:active, [class*="btn-"].btn-buy.pressed, [class*="btn-"].btn-rush:active, [class*="btn-"].btn-rush.pressed, [class*="btn-"].btn-addcart:active, [class*="btn-"].btn-addcart.pressed, [class*="btn-"].btn-select-size:active, [class*="btn-"].btn-select-size.pressed {
  background: #025e01;
}
[class*="btn-"].btn-discount {
  background: #f90;
}
[class*="btn-"].btn-discount:active, [class*="btn-"].btn-discount.pressed {
  background: #b36b00;
}
[class*="btn-"].btn-preorder {
  background: #ffcc21;
}
[class*="btn-"].btn-preorder:active, [class*="btn-"].btn-preorder.pressed {
  background: #d3a300;
}
[class*="btn-"].btn-del {
  background: #9f9f9f;
}
[class*="btn-"].btn-del:active, [class*="btn-"].btn-del.pressed {
  background: #464646;
}
[class*="btn-"].btn-preorder-finish, [class*="btn-"].btn-rush-finish, [class*="btn-"].btn-soldout-stock, [class*="btn-"].btn-soldout, [class*="btn-"].btn-to-sale {
  color: #868686;
  background: #ebebeb;
  cursor: no-drop;
}
[class*="btn-"].btn-to-sale {
  color: #f90;
  background: #fff4e5;
  cursor: no-drop;
}

.site-body {
  padding-top: 90px;
}

.site-header {
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid #fff;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 5px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 5px 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 20px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: fixed;
  z-index: 100;
}
.site-header.is-hide {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.site-header .container {
  text-align: center;
  padding: 9px 0;
}
.site-header .logo {
  display: inline-block;
  font-size: 0;
  margin: 3px 10px 0 0;
}
.site-header .logo .img-logo {
  max-width: 140px;
  max-height: 30px;
  vertical-align: middle;
}
.site-header .logo h1 {
  display: none;
}
.site-header .btn-menu {
  top: 13px;
  left: 13px;
  padding: 0;
  font-size: 1.55rem;
  cursor: pointer;
  position: absolute;
}
.site-header .btn-cart, .site-header .btn-user {
  display: inline-block;
  position: absolute;
  top: 6px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 1.6rem;
}
.site-header .btn-cart {
  right: 0;
}
.site-header .btn-user {
  right: 40px;
}
.site-header .fa-bars, .site-header .fa-shopping-cart, .site-header .fa-user {
  color: #666;
}
.site-header .fa-bars span {
  font-size: 0.7em;
  vertical-align: 4px;
  margin-left: 4px;
  color: black;
}
.site-header .fa-shopping-cart.is-animate {
  -webkit-animation: animate-rubberBand 1s ease;
  -moz-animation: animate-rubberBand 1s ease;
  -ms-animation: animate-rubberBand 1s ease;
  -o-animation: animate-rubberBand 1s ease;
  animation: animate-rubberBand 1s ease;
}
.site-header .number {
  position: absolute;
  right: 7px;
  top: 0;
  width: 20px;
  height: 20px;
  background: #03aa01;
  color: #fff;
  font-size: 0.85rem;
  line-height: 1.4;
  text-align: center;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.site-header .number.is-animate {
  -webkit-animation: animate-pulse 1s ease;
  -moz-animation: animate-pulse 1s ease;
  -ms-animation: animate-pulse 1s ease;
  -o-animation: animate-pulse 1s ease;
  animation: animate-pulse 1s ease;
}
.site-header .md_nav_menu_collapse {
  position: absolute;
  top: 53px;
  left: -100px;
  width: 0;
  -webkit-box-shadow: 1px 5px 20px #999;
  -moz-box-shadow: 1px 5px 20px #999;
  box-shadow: 1px 5px 20px #999;
  background-color: white;
}
.site-header .md_nav_menu_collapse.active {
  -webkit-transition: 250ms all;
  transition: 250ms all;
  width: 80%;
  left: 0;
}
.site-header .md_nav_menu_collapse .md_nav_menu {
  overflow: auto;
  max-height: 480px;
}

.search-bar {
  width: 100%;
  position: relative;
  padding: 0px 12px;
  margin: 8px 0 2px;
}
.search-bar .input-search {
  width: 100%;
  padding: 5px 15px;
  padding-right: 40px;
  font-size: 0.95rem;
  color: #333333;
  background: rgba(217, 217, 217, 0.8);
  border: none;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px inset;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px inset;
}
.search-bar ::-webkit-input-placeholder {
  color: #a6a6a6;
  opacity: 1;
}
.search-bar :-moz-placeholder {
  color: #a6a6a6;
  opacity: 1;
}
.search-bar ::-moz-placeholder {
  color: #a6a6a6;
  opacity: 1;
}
.search-bar :-ms-input-placeholder {
  color: #a6a6a6;
  opacity: 1;
}
.search-bar .btn-submit {
  font-size: 1.2rem;
  color: #999999;
  position: absolute;
  right: 20px;
  top: -1px;
  padding: 3px 5px;
  background: none;
}

@-webkit-keyframes animate-pulse {
  0%, 75% {
    transform: scale(0);
  }
  87% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes animate-pulse {
  0%, 75% {
    transform: scale(0);
  }
  87% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@-ms-keyframes animate-pulse {
  0%, 75% {
    transform: scale(0);
  }
  87% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes animate-pulse {
  0%, 75% {
    transform: scale(0);
  }
  87% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animate-pulse {
  0%, 75% {
    transform: scale(0);
  }
  87% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes animate-rubberBand {
  0%, 50%, 100% {
    transform: scale3d(1, 1, 1);
  }
  75% {
    transform: scale3d(1.25, 0.75, 1);
  }
  87% {
    transform: scale3d(0.75, 1.25, 1);
  }
}
@-moz-keyframes animate-rubberBand {
  0%, 50%, 100% {
    transform: scale3d(1, 1, 1);
  }
  75% {
    transform: scale3d(1.25, 0.75, 1);
  }
  87% {
    transform: scale3d(0.75, 1.25, 1);
  }
}
@-ms-keyframes animate-rubberBand {
  0%, 50%, 100% {
    transform: scale3d(1, 1, 1);
  }
  75% {
    transform: scale3d(1.25, 0.75, 1);
  }
  87% {
    transform: scale3d(0.75, 1.25, 1);
  }
}
@-o-keyframes animate-rubberBand {
  0%, 50%, 100% {
    transform: scale3d(1, 1, 1);
  }
  75% {
    transform: scale3d(1.25, 0.75, 1);
  }
  87% {
    transform: scale3d(0.75, 1.25, 1);
  }
}
@keyframes animate-rubberBand {
  0%, 50%, 100% {
    transform: scale3d(1, 1, 1);
  }
  75% {
    transform: scale3d(1.25, 0.75, 1);
  }
  87% {
    transform: scale3d(0.75, 1.25, 1);
  }
}
.md_nav_menu {
  border-bottom: #e2e0e0 1px solid;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px;
}
.md_nav_menu li + li {
  border-top: #e2e0e0 1px solid;
}
.md_nav_menu .menu-item {
  padding: 15px 30px 15px 10px;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  position: relative;
}
.md_nav_menu .menu-item:after {
  content: "\f107";
  color: #cccccc;
  font-size: 1.4rem;
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  top: 15px;
  right: 10px;
  display: inline-block;
  position: absolute;
}
.md_nav_menu .menu-one {
  background: #fff;
}
.md_nav_menu .menu-one > li > .menu-item {
  color: gray;
}
.md_nav_menu .menu-two, .md_nav_menu .menu-three {
  max-height: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  overflow: hidden;
}
.md_nav_menu .menu-two.is-expand, .md_nav_menu .menu-three.is-expand {
  max-height: 10000px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 5px 10px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 5px 10px inset;
  box-shadow: rgba(0, 0, 0, 0.1) 0 5px 10px inset;
  overflow: visible;
}
.md_nav_menu .menu-two {
  background: #f2f2f2;
}
.md_nav_menu .menu-two > li {
  border-color: #d6d3d3;
}
.md_nav_menu .menu-two > li > .menu-item {
  color: #4d4d4d;
  padding-left: 25px;
}
.md_nav_menu .menu-two > li > .menu-item:after {
  color: #b3b3b3;
}
.md_nav_menu .menu-three {
  background: #ebe2e1;
}
.md_nav_menu .menu-three > li {
  border-color: #bdaca9;
}
.md_nav_menu .menu-three > li > .menu-item {
  color: #1a1a1a;
  padding-left: 40px;
}
.md_nav_menu .menu-three > li > .menu-item:after {
  content: "\f105";
  color: #dc867b;
  right: 14px;
}

.md_nav_menu_002 .t-title, .md_nav_menu_003 .t-title {
  background: #000;
}
.md_nav_menu_002 .menu-item:after, .md_nav_menu_003 .menu-item:after {
  content: "\f105";
  color: #dc867b;
  right: 14px;
}

.md_nav_menu_title_002 .t-title {
  background: #000;
}

.items {
  padding: 0 10px;
}

.md-list-item {
  width: 100%;
  margin: 15px 0;
  padding: 15px 10px;
  background: #fff;
  border-bottom: #e2e0e0 1px solid;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px;
  display: table;
  position: relative;
}
.md-list-item .photo {
  width: 50%;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}
.md-list-item .photo.photo-lazyload {
  background: #fff url("../../../../../img/sth_asap_m/loading.svg") no-repeat center center;
}
.md-list-item .photo img {
  max-width: 100%;
  max-height: 360px;
}
.md-list-item .img-item {
  border: #ebebeb 1px solid;
  background-color: #fff;
}
.md-list-item .info {
  width: 45%;
  padding-left: 10px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
}
.md-list-item .name {
  max-height: 65px;
  line-height: 1.4;
  margin-bottom: 6px;
  overflow: hidden;
  word-break: break-word;
  word-wrap: break-word;
}
.md-list-item .name a {
  color: #333;
}
.md-list-item .price {
  text-align: right;
}
.md-list-item .t-original-price {
  color: #b3b3b3;
  font-size: 0.9rem;
  margin-bottom: 3px;
  text-decoration: line-through;
  display: block;
}
.md-list-item .t-sale-price {
  color: #ec412b;
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
}
.md-list-item .t-sale-price .t-currency {
  color: #ec412b;
  font-size: 0.8rem;
  font-weight: normal;
  vertical-align: bottom;
  margin-bottom: 4px;
  display: inline-block;
}
.md-list-item [class*="btn-"] {
  margin-top: 7px;
}
.md-list-item [class*="btn-"] .fa {
  margin-left: 5px;
}
.md-list-item .btn-del .fa {
  margin-left: 0;
  margin-right: 5px;
}
.md-list-item .quantity [class*="btn-"] {
  margin-top: 0;
}

.img-lazyload {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  -ms-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.md_copyright_001 .container {
  margin-top: 20px;
  padding: 0 10px 20px;
  text-align: center;
  color: #999999;
  font-size: 0.8rem;
  line-height: 1.5;
}
.md_copyright_001 .service {
  font-weight: bold;
}
.md_copyright_001 a {
  color: #999999;
  text-decoration: underline;
}

.tag-status {
  font-size: 12px;
  line-height: 1.44;
  letter-spacing: normal;
  font-weight: bold;
  margin-left: 5px;
  padding: 0 5px;
  border: 1px solid;
  background: white;
  display: inline-block;
}
.tag-status.is-odd {
  border-color: #53c6db;
  color: #53c6db;
}
.tag-status.is-odd a {
  color: #53c6db;
}
.tag-status.is-preorder {
  border-color: #ffc107;
  color: #ffc107;
}
.tag-status.is-preorder a {
  color: #ffc107;
}
.tag-status.is-imported {
  border-color: #7caa18;
  color: #7caa18;
}
.tag-status.is-imported a {
  color: #7caa18;
}
.tag-status.is-uitox-5h-delivery {
  border-color: #f27ba3;
  color: #f27ba3;
}
.tag-status.is-uitox-5h-delivery a {
  color: #f27ba3;
}
.tag-status.is-uitox-24h-delivery {
  border-color: #FF3600;
  color: #FF3600;
}
.tag-status.is-uitox-24h-delivery a {
  color: #FF3600;
}
.tag-status.is-vendor-delivery {
  border-color: #a48fbb;
  color: #a48fbb;
}
.tag-status.is-vendor-delivery a {
  color: #a48fbb;
}
.tag-status.is-separate-delivery {
  border-color: #4498c8;
  color: #4498c8;
}
.tag-status.is-separate-delivery a {
  color: #4498c8;
}
.tag-status.is-max-purchase {
  border-color: #7b8ea2;
  color: #7b8ea2;
}
.tag-status.is-max-purchase a {
  color: #7b8ea2;
}
.tag-status.is-2h-delivery {
  background: none;
  border: none;
  padding: 0;
}

.trans-block {
  position: absolute;
  right: 0;
  top: 8px;
  font-size: 12px;
  font-weight: bold;
  color: #1882ee;
  display: block;
  line-height: 1;
  opacity: 0.7;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
.trans-block .translation {
  display: inline-block;
  font-size: 13px;
  color: white;
  line-height: 1;
  margin-left: 1px;
}
.trans-block .translation img {
  width: 25px;
}
.trans-block:hover {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  color: #1882ee !important;
}

.md-list-item {
  margin: 5px 0;
  padding: 5px 10px;
}

.search-bar {
  display: none;
}

.site-body {
  padding-top: 53px;
}
