.rwd_left_002 {
  margin-bottom: 20px;
}
.rwd_left_002 {
  zoom: 1;
}
.rwd_left_002:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.rwd_left_002 .nav-menu {
  float: left;
  position: relative;
  width: 100%;
}
.rwd_left_002 .title {
  height: 36px;
  padding: 5px 10px 8px 13px;
  color: white;
  font-size: 16px;
  line-height: 1.7;
  word-break: break-word;
  word-wrap: break-word;
  overflow: hidden;
}
.rwd_left_002 .menu-one {
  width: 100%;
}
.rwd_left_002 .menu-one > li {
  width: 100%;
  position: relative;
  float: none;
}
.rwd_left_002 .menu-one > li:last-child > h3 > a {
  border-bottom: none;
}
.rwd_left_002 .menu-one > li:hover .menu-expand {
  display: block;
}
.rwd_left_002 .menu-one > li > h3 > a {
  position: relative;
  display: block;
  padding: 10px 0;
  padding-left: 13px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-word;
  word-wrap: break-word;
  width: 100%;
  padding-right: 10px;
}
.rwd_left_002 .menu-one > li .fa {
  float: right;
  margin: 20px 11px 0 0;
}
.rwd_left_002 .menu-expand {
  position: absolute;
  top: 0px;
  left: 100%;
  border: 3px solid black;
  background: white;
  width: 1020px;
  padding: 10px;
  z-index: 5;
  font-size: 0;
  display: none;
}
.rwd_left_002 .menu-expand {
  zoom: 1;
}
.rwd_left_002 .menu-expand:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.rwd_left_002 .menu-expand .cate {
  display: inline-block;
  width: 50%;
  padding: 10px;
  vertical-align: top;
  position: relative;
}
.rwd_left_002 .menu-expand .cate > ul {
  max-height: 85px;
  overflow: hidden;
  padding-right: 55px;
}
.rwd_left_002 .menu-expand .cate > ul {
  zoom: 1;
}
.rwd_left_002 .menu-expand .cate > ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.rwd_left_002 .menu-expand .cate > ul > li {
  float: left;
  margin-right: 20px;
  margin-bottom: 12px;
}
.rwd_left_002 .menu-expand .cate > ul > li > a {
  width: auto;
  display: inline-block;
}
.rwd_left_002 .menu-expand .cate > ul > li > a:hover {
  color: black;
}
.rwd_left_002 .menu-expand .cate .menu-more {
  width: 65px;
  text-align: right;
  position: absolute;
  bottom: 16px;
  right: 15px;
  display: block;
  background: white;
}
.rwd_left_002 .menu-expand h4 {
  margin-bottom: 10px;
}
.rwd_left_002 .menu-expand h4 > a {
  font-size: 16px;
}
.rwd_left_002 .menu-expand a {
  font-size: 14px;
  line-height: 1.3;
  word-break: break-all;
  display: block;
}
