@charset "UTF-8";
.pc_left_006 {
  border: 1px solid #cccccc;
  margin-bottom: 10px;
}
.pc_left_006 .index {
  background: #504f47;
  padding: 10px;
  display: block;
  color: white;
  border-bottom: 1px solid #cccccc;
}
.pc_left_006 li:last-child .title-h3 {
  border-bottom: 0;
}
.pc_left_006 .title-h3 {
  color: white;
  background: #504f47;
  font-size: 15px;
  margin: 0px;
  padding: 12px 10px;
  font-weight: bold;
  color: #383838;
  margin-bottom: 0px;
  line-height: 1.3;
  word-break: break-all;
  background: #f9f9f9;
  cursor: pointer;
  border-bottom: 1px solid #E8E8E8;
}
.pc_left_006 .title-h3:hover {
  background: #f6f6f6;
}
.pc_left_006 .title-h3:after {
  content: "";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
  font-size: 14px;
  line-height: 1.5;
  float: right;
}
.pc_left_006 .title-h3.s-active:after {
  content: "\f078";
}
.pc_left_006 .fa {
  margin-right: 6px;
}
.pc_left_006 .side-menu {
  font-size: 13px;
  line-height: 140%;
}
.pc_left_006 .side-menu a {
  color: #383838;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 180px;
  height: 25px;
  cursor: pointer;
}
.pc_left_006 .side-menu .sec-menu {
  padding: 8px 0;
  border-bottom: 1px dotted #ccc;
}
.pc_left_006 .side-menu .sec-menu li {
  padding: 6px 10px;
  font-size: 15px;
}
.pc_left_006 .side-menu .sec-menu a:hover {
  color: #c15797;
}
.pc_left_006 .side-menu .sec-menu .active {
  color: #c15797;
}
.pc_left_006 .side-menu > li:last-child .sec-menu {
  border-bottom: 0;
  border-top: 1px solid #E8E8E8;
}
