.pc_left_004 {
  border: 1px solid #cccccc;
  margin-bottom: 10px;
}
.pc_left_004 .photo {
  display: block;
  float: left;
  width: 100%;
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: 80px;
  max-height: 80px;
  max-width: 80px;
}
.pc_left_004 .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.pc_left_004 .title-h3 {
  color: white;
  background: #504f47;
  font-size: 1em;
  padding: 10px;
  font-weight: bold;
  margin: 0px;
  line-height: 1.3;
  word-break: break-word;
  word-wrap: break-word;
}
.pc_left_004 .item {
  padding: 5px;
}
.pc_left_004 .item {
  zoom: 1;
}
.pc_left_004 .item:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_left_004 .name {
  font-size: 12px;
  height: 30px;
  overflow: hidden;
  word-break: break-word;
  word-wrap: break-word;
}
.pc_left_004 .name a {
  color: #383838;
}
.pc_left_004 .name a:hover {
  text-decoration: underline;
}
.pc_left_004 .buy {
  color: #f60011;
  overflow: hidden;
}
.pc_left_004 .buy .start {
  font-size: 12px;
  font-weight: 500;
  color: #333;
}
.pc_left_004 .info {
  float: left;
  width: 99px;
  line-height: 1.3;
  margin-left: 5px;
}
.pc_left_004 .currency {
  font-size: 12px;
}
.pc_left_004 .price {
  font-size: 14px;
}
