@charset "UTF-8";
.hide {
  display: none;
}

.container {
  width: 1220px;
  position: relative;
  margin: 0 auto;
}
.container {
  zoom: 1;
}
.container:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.site-body {
  padding-bottom: 40px;
  width: 1220px;
  margin: 0 auto;
}
.site-body {
  zoom: 1;
}
.site-body:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.site-left {
  width: 200px;
  margin-right: 20px;
  float: left;
  margin-top: 10px;
}

.site-main {
  width: 1000px;
  float: left;
  position: relative;
}
.site-main .container {
  width: auto;
}

.pc_left_001 {
  margin-bottom: 20px;
  -webkit-box-shadow: 3px 1px 6px #ddd;
  -moz-box-shadow: 3px 1px 6px #ddd;
  box-shadow: 3px 1px 6px #ddd;
}
.pc_left_001 {
  zoom: 1;
}
.pc_left_001:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_left_001 .nav-menu {
  float: left;
  position: relative;
  width: 200px;
  background: #fafafa;
}
.pc_left_001 .title {
  padding: 8px 10px 8px 13px;
  color: white;
  font-size: 16px;
  background: #e00517;
  line-height: 1.3;
  word-break: break-word;
  word-wrap: break-word;
}
.pc_left_001 .menu-one > li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #eee;
  position: relative;
}
.pc_left_001 .menu-one > li:last-child > h3 > a {
  border-bottom: none;
}
.pc_left_001 .menu-one > li:hover {
  background: black;
}
.pc_left_001 .menu-one > li:hover > h3 > a {
  color: white;
}
.pc_left_001 .menu-one > li:hover .menu-expand {
  display: block;
}
.pc_left_001 .menu-one > li > h3 > a {
  position: relative;
  display: block;
  padding: 11px 0;
  margin: 0 13px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-word;
  word-wrap: break-word;
  width: 170px;
  height: 36px;
  padding-right: 10px;
}
.pc_left_001 .menu-one > li .fa {
  float: right;
  margin: 11px 11px 0 0;
  color: #cccccc;
}
.pc_left_001 .menu-expand {
  position: absolute;
  top: 0px;
  left: 100%;
  border: 3px solid black;
  background: white;
  width: 1020px;
  padding: 10px;
  z-index: 5;
  font-size: 0;
  display: none;
}
.pc_left_001 .menu-expand {
  zoom: 1;
}
.pc_left_001 .menu-expand:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_left_001 .menu-expand .cate {
  display: inline-block;
  width: 50%;
  padding: 10px;
  vertical-align: top;
  position: relative;
}
.pc_left_001 .menu-expand .cate:hover, .pc_left_001 .menu-expand .cate:hover .menu-more {
  background: #efefef;
}
.pc_left_001 .menu-expand .cate > ul {
  max-height: 85px;
  overflow: hidden;
  padding-right: 55px;
}
.pc_left_001 .menu-expand .cate > ul {
  zoom: 1;
}
.pc_left_001 .menu-expand .cate > ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_left_001 .menu-expand .cate > ul > li {
  float: left;
  margin-right: 20px;
  margin-bottom: 12px;
}
.pc_left_001 .menu-expand .cate > ul > li > a {
  color: #383838;
  width: auto;
  display: inline-block;
}
.pc_left_001 .menu-expand .cate > ul > li > a:hover {
  color: black;
}
.pc_left_001 .menu-expand .cate .menu-more {
  width: 65px;
  text-align: right;
  color: #4498c8;
  position: absolute;
  bottom: 16px;
  right: 15px;
  display: block;
  background: white;
}
.pc_left_001 .menu-expand h4 {
  margin-bottom: 10px;
}
.pc_left_001 .menu-expand h4 > a {
  color: #e00517;
  font-size: 16px;
}
.pc_left_001 .menu-expand a {
  font-size: 14px;
  line-height: 1.3;
  word-break: break-all;
  display: block;
}

.pc_market_list {
  zoom: 1;
}
.pc_market_list:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_market_list .items {
  margin: 0 -10px 0;
}
.pc_market_list .item {
  float: left;
  width: 24.76%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid transparent;
}
.pc_market_list .item:hover {
  border: 1px solid #cccccc;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
.pc_market_list .item:hover .photo {
  opacity: 0.75;
}
.pc_market_list .photo {
  display: block;
  margin-bottom: 7px;
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
  position: relative;
}
.pc_market_list .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.pc_market_list .name {
  font-size: 13px;
  height: 32px;
  line-height: 1.3;
  margin-bottom: 5px;
  color: black;
  font-weight: bold;
  overflow: hidden;
  word-break: break-word;
  word-wrap: break-word;
}
.pc_market_list .type {
  font-size: 8px;
  color: #6c6c6c;
}
.pc_market_list .buy-actions {
  margin-top: 10px;
  text-align: right;
}
.pc_market_list .quantity {
  margin-right: 5px;
  vertical-align: middle;
}
.pc_market_list .buy {
  margin-top: 2px;
  color: #e00517;
}
.pc_market_list .currency {
  font-size: 10px;
  color: #e00517;
  vertical-align: bottom;
  display: inline-block;
  margin-bottom: 2px;
}
.pc_market_list .price {
  font-size: 16px;
  color: #e00517;
  margin-right: 5px;
  vertical-align: bottom;
  display: inline-block;
}
.pc_market_list .btn {
  float: right;
  margin-top: 3px;
  font-size: 15px;
  color: #e00517;
}
.pc_market_list .fa {
  margin-left: 4px;
}
.pc_market_list .highlight {
  font-size: 12px;
  line-height: 1.4;
  margin-top: 5px;
  text-align: right;
}
.pc_market_list .tag-status {
  position: absolute;
  bottom: 7px;
  right: 7px;
  z-index: 9;
}

.nav-pagination {
  margin: 30px 0 80px;
  text-align: center;
}
.nav-pagination ul {
  margin: 0 20px;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
}
.nav-pagination ul {
  zoom: 1;
}
.nav-pagination ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.nav-pagination li {
  float: left;
}
.nav-pagination li a {
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.nav-pagination li:first-child a {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}
.nav-pagination li:last-child a {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  border-right: 1px solid #cccccc;
}
.nav-pagination a {
  min-width: 36px;
  line-height: 36px;
  padding: 0 10px;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  color: #383838;
}
.nav-pagination a.active {
  background: #e00517;
  color: white;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.nav-pagination a:hover {
  background: #efefef;
  color: #e00517;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.nav-pagination .total {
  margin-top: 20px;
  color: #383838;
  font-size: 0.8em;
}

.nav-breadcrumbs .container {
  padding: 15px 0;
}
.nav-breadcrumbs .fa {
  margin-right: 8px;
}
.nav-breadcrumbs .index {
  position: relative;
  font-weight: bold;
}
.nav-breadcrumbs .cate {
  display: inline-block;
}
.nav-breadcrumbs .locate {
  margin-left: 20px;
}
.nav-breadcrumbs .bread-item-name {
  font-size: 1.12em;
  font-weight: bold;
  color: black;
}

@media (max-width: 999px) {
  .nav-breadcrumbs {
    margin: 10px;
  }
}
@media (max-width: 767px) {
  .nav-breadcrumbs {
    margin: 20px 0 10px 10px;
  }
}
.site-sort {
  display: inline-block;
}
.site-sort .sort {
  display: block;
}
.site-sort .sort {
  zoom: 1;
}
.site-sort .sort:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.site-sort .sort li {
  float: left;
  display: block;
}
.site-sort .sort li:last-child a {
  border-right: 1px solid #cccccc;
}
.site-sort .sort li a {
  padding: 10px 20px;
  display: inline-block;
  border: 1px solid #cccccc;
  border-right: 0;
  color: #383838;
  font-size: 13px;
}
.site-sort .sort li a.active {
  color: white;
  background: #e00517;
  border-color: #e00517;
}
.site-sort .sort li a:hover {
  color: #e00517;
  background: #efefef;
}

.pc_left_001 .menu-one > li.active {
  background-color: #434040;
}
.pc_left_001 .menu-one > li.active > h3 > a {
  color: white;
}

.pc_left_001 .title:after {
  display: inline-block;
  content: " 看全部 >";
  background: #FFE739;
  background: #fcf4a9;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fcf4a9 0%, #ffe739 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fcf4a9 0%, #ffe739 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fcf4a9 0%, #ffe739 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf4a9', endColorstr='#ffe739',GradientType=0 );
  /* IE6-9 */
  color: #000;
  margin-left: 11px;
  padding: 3px 5px 3px 8px;
  font-size: 13px;
  border-radius: 5px;
  font-family: monospace;
  vertical-align: 2px;
}

.site-main.groupbuy-single {
  width: 100%;
}

.groupbuy-top-banner {
  margin-bottom: 10px;
}
.groupbuy-top-banner a, .groupbuy-top-banner img {
  display: block;
}

.nav-breadcrumbs .container {
  padding: 8px 0 14px;
}

.site-sort {
  margin-bottom: 20px;
}

.groupbuy-04 {
  margin: 10px 0;
}
.groupbuy-04 .items {
  zoom: 1;
}
.groupbuy-04 .items:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.groupbuy-04 .item {
  display: inline-block;
  width: 49.35%;
  min-height: 310px;
  vertical-align: top;
  margin: 2px;
  margin-bottom: 5px;
  padding: 10px;
  background-color: #F5FBFF;
  border: 1px solid #eee;
}
.groupbuy-04 .time {
  width: 165px;
  font-weight: bold;
  background: #1ba7fc;
  color: #fff;
  font-size: 13px;
  padding: 5px;
  text-align: center;
  display: inline-block;
}
.groupbuy-04 .time li {
  display: inline-block;
}
.groupbuy-04 .time div {
  display: inline-block;
  height: 17px;
  vertical-align: top;
  line-height: 1.2;
  overflow: hidden;
}
.groupbuy-04 .time.is-come-end {
  background: #f96;
}
.groupbuy-04 .time.is-gone {
  background: #ccc;
}
.groupbuy-04 .photo {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  position: relative;
}
.groupbuy-04 .photo img {
  width: 100%;
  display: block;
}
.groupbuy-04 .photo .discount_tip {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 45px;
  height: 45px;
  color: #e00517;
  font-weight: 700;
  text-align: center;
  background-image: url("../../../../../../c/img/frame/2hr_icon_45x45.png");
}
.groupbuy-04 .info {
  display: inline-block;
  width: 49%;
}
.groupbuy-04 .name {
  display: block;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  margin: -10px;
  margin-bottom: 15px;
  padding-left: 10px;
  font-weight: bold;
  overflow: hidden;
  background-color: #e00517;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-box-shadow: 1px 1px 5px #aaa;
  -moz-box-shadow: 1px 1px 5px #aaa;
  box-shadow: 1px 1px 5px #aaa;
  position: relative;
}
.groupbuy-04 .name a, .groupbuy-04 .name a:hover {
  color: white !important;
}
.groupbuy-04 .feature ul {
  margin: 10px 0;
}
.groupbuy-04 .feature li {
  margin-bottom: 5px;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.groupbuy-04 .type {
  font-size: 8px;
  color: #6c6c6c;
}
.groupbuy-04 .buy-actions {
  margin-top: 10px;
  text-align: right;
}
.groupbuy-04 .quantity {
  margin-right: 5px;
  vertical-align: middle;
}
.groupbuy-04 .buy {
  margin-top: 5px;
  color: #e00517;
}
.groupbuy-04 .buy span.discount {
  font-size: 12px;
  color: #aaa;
}
.groupbuy-04 .buy .discount-sale-num {
  font-size: 12px;
  color: #0092EB;
}
.groupbuy-04 .buy .start {
  font-size: 12px;
  font-weight: 500;
  color: #333;
}
.groupbuy-04 .currency {
  font-size: 10px;
  color: #e00517;
  vertical-align: bottom;
  display: inline-block;
  margin-bottom: 2px;
}
.groupbuy-04 .buy.is-old .currency, .groupbuy-04 .buy.is-old .price {
  color: #333;
  text-decoration: line-through;
}
.groupbuy-04 .buy.is-old .price {
  font-size: 14px;
}
.groupbuy-04 .price {
  font-size: 22px;
  color: #e00517;
  margin-right: 5px;
  vertical-align: bottom;
  display: inline-block;
}
.groupbuy-04 .btn {
  color: #e00517;
  float: right;
  margin-top: 30px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #e00517;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.groupbuy-04 .fa {
  margin-left: 4px;
}
.groupbuy-04 .highlight {
  font-size: 12px;
  line-height: 1.4;
  margin-top: 5px;
  text-align: right;
}
.groupbuy-04 .tag-status {
  position: absolute;
  bottom: 7px;
  right: 7px;
  z-index: 9;
}

.groupbuy-single .pc_market_list .item {
  min-height: 390px;
}

.pc_market_list h3 {
  display: none;
}
.pc_market_list .item {
  min-height: 335px;
}
.pc_market_list .buy.is-old .currency, .pc_market_list .buy.is-old .price {
  color: #0092EB;
  text-decoration: line-through;
}
.pc_market_list .buy.is-old .price {
  font-size: 14px;
}
.pc_market_list .start {
  font-size: 12px;
  font-weight: 500;
  color: #333;
}

.site-header {
  border-bottom: none;
}

.site-left {
  margin-top: 0px;
}

.result {
  font-size: 1.8em;
  line-height: 140%;
  text-align: center;
  color: #000;
  margin: 2em 0;
  padding: 0 10px;
}
