html,body{
	padding:0;
	height:auto;
}
.site-body,.site-main{
	width:100%;
}
.pc-item-main{
	.photo{
		width:40%;
		height:360px;
		padding-top:75px;
		position:relative;
		overflow:visible;
		img{
			max-width:190px;
			display: block;
			margin:0 auto;
			position:relative;
		}
	}
	.info{
		// float: none
		width:55%;
		padding:75px 0 0 10px;
	}
	h1.name{
		width:100%;
		max-height:60px;
		position: absolute;
		top: 0;
		left: 0;
		padding:4px 13px;
		border-bottom:1px solid #ccc;
		overflow: hidden;
		font-size:18px;
		color:white;
		background-color:$primary; 
	}
	del{
		font-size: 14px;
	}
	.line{
		padding:10px 10px 5px;
		border:none;
	}
	.key{
		// width:100%;
		// display: block;
		font-size: 14px;
	}
	.feature{
		display: none;
	}
	.recomand_price{
		text-align: right;
		width:100%;
		// .key{
		// 	width:60px;
		// }
		.value{
			width:160px;
		}
	}
	.net_price{
		text-align: right;
		width:100%;
		.key{
			width:60px;
		}
		.buy{
			width:160px;
		}
	}
	.buy_button{
		// position: absolute;
		// left: 50%;
		// margin-left: -112px;
		text-align:right;
	}
	.value,.buy{
		width:70%;
		margin-bottom: 0;
	}
	.quantity{
		.quantity-input{
			border:1px solid #ccc;
			border-right:none;
			border-left:none;
		}
	}
}
@media screen and (max-width: 480px){
.pc-item-main{
	.photo{
		img{
			max-width:300px;
		}
	}
	.photo,.info{
		width:100%;
		padding-top:70px;
	}
	.info{
		padding:10px 10px 0;
	}
	.value,.buy{
		width:100%;
	}
	.recomand_price{
		.value,.key{
			width:100%;
			text-align: right;
		}
	}
	.net_price{
		.buy,.key{
			width:100%;
			text-align: right;
		}
	}
}
}