.item-detail {
    @include clearfix;
    .container{
        margin: 30px auto;
        border-bottom-width: 1px;
        border-bottom-style: solid; 
        //border-bottom: 1px solid $border;
        padding: 0 0 30px;
    }
    .center {
        text-align: center;
    }
    img {
        max-width: 100%;
        display:block;
        margin:0 auto;
    }
    .desc {
        line-height: 1.9;
        margin: 5px 0;
        word-wrap: break-word;
    }
    iframe{
        display:block;
        margin:0 auto;
        max-width:100%;
    }
    .pic_txt{
        font-size:0;
        .pic_txt_col{
            width:50%;
            padding:2px;
            display:inline-block;
            vertical-align:middle;
            font-size:16px;
            line-height:1.5;
            word-break: break-word;
            word-wrap: break-word;
            img{
                display:inline;
            }
        }
    }
}
// @include RWD(desktop-all) {
//     .item-detail {}
// }

@include RWD(pad-mobile) {
    .item-detail {
        padding: 0 1%;
    }
}
@media (max-width: 519px){
.item-detail{
	.pic_txt{
		.pic_txt_col{
			width: 100%;
		}
	}
}
}