.item-spec{
	@include clearfix;
	.spec{
		margin: 0 0 30px;
		border-bottom-width: 1px;
		border-bottom-style: solid; 
		//border-bottom: 1px solid $border;
		padding: 0 0 30px;
		line-height: 1.9;
		font-size: 0.85em;
		word-wrap: break-word;
	}
}
@include RWD(pad-mobile) {
.item-spec{
	padding: 0 1%;
}
}