.pc-item-main{
	line-height: 1.9;
	font-size: 13px;
	@include clearfix;
	.subheading{
		float: right;
		width: 1000px;
		height: auto;
		font-size: 0px;
		color: $text;
		text-align: center;
		word-wrap:break-word;
		overflow: hidden;
		@include clearfix;
		img{
			max-width: 100%;
			margin-bottom: 15px;
		}
		p{
			text-align: right;
			font-size: 14px;
		}
	}
	.item-main-left{
		float: left;
		width: 36%;
		position: relative;
	}
	.photo{
		width: 100%;
		height: 0;
		//width: 40%;
		padding-top: 100%;
		position: relative;
		overflow: hidden;
		float: left;		
		position: relative;
		img{
			// width: 100%;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			margin: auto;
			max-width:360px;
			max-height:360px;
			display:block;
			margin: 0 auto;
		}
	}
	.swiper-slide{
		width: 100%;
		//height: 480px;
		position: relative;
	}
	.photo-other{
		width: 103.3%;
		margin: 5px -1.5%;
		// text-align: center;
		font-size: 0;
		img{
			width: 17%;
			margin: 5px 1.5%;
			opacity: 0.7;
			display: inline-block;
			position: static;
			border: 1px solid $border;
			&:hover{
				opacity: 1;
				border: 2px solid $border;
				cursor: pointer;
			}
			&.active{
				opacity: 1;
				border: 2px solid $border;
				cursor: pointer;
			}
		}
	}
	a:hover{
		color: $hover_text;
	}
	.more_2h{
		a{
            padding:0 5px;
			color: #fff;
            background-color: #06c;
			text-decoration: underline;
			display: inline-block;
		}
        i{
            margin-left: 5px;
        }
	}
	.info{
		float: left;
		width: 64%;
		padding: 0 10px 30px 20px;
	}
	.btn-follow-list{
		float:right;
		vertical-align: top;
		padding: 3px 10px;
		background-color:transparent;
		color: $primary;
		font-weight:bold;
		&:before{
			@include icon-font('\f006');
			margin-right:3px;
		}
		font-weight:bold;
		&:before{
			@include icon-font('\f006');
			margin-right:3px;
		}
		&:hover{
			color: #FFF;
			&:before{
				content:'\f005';
			}
			background-color: $primary;
			&:before{
				content:'\f005';
			}
		}
	}
	h1.name{
		margin-bottom: 8px;
		word-wrap: break-word;
		word-break:break-word;
		color: $items_name;
		font-size: 20px;
		line-height: 1.5;
		.tag-status {
            vertical-align: 3px;
            &.is-2h-delivery{
                vertical-align: 0;
            }
		}
	}
	.feature{
		list-style: square inside;
		padding: 8px 10px 10px;
		border-top: 1px dotted #6c6c6c;
		position: relative;
		font-size: 15px;
		li{
			float:none;
			line-height: 1.6;
			color: $text;
			word-wrap: break-word;
			word-break:break-word;
			max-width: 515px;
		}
	}
	#slogan_data{
		padding-bottom: 8px;
	}
	.trans-block{
		top: 10px;
		right: 12px;
	}
	.line{
		padding: 8px 10px;
		border-top: 1px dotted $border2;
		@include clearfix;
	}
	.hlight{
		@include box-shadow(0px 0px 1px 2px $hlight);
	}
	.key{
		color: $items_name;
		display: inline-block;
		vertical-align: top;
		word-wrap: break-word;
		width: 100px;
	}
	.value{
		display: inline-block;
		width:465px;
		margin-bottom: -8px;
		position:relative;
		z-index: 0;
		>li{
			padding: 10px 10px;
			margin: 0 8px 8px 0;
			cursor: pointer;
			// min-width: 36px;
			height: 36px;
			border: 1px solid $light_gray;
			display: inline-block;
			font-size: 12px;
			line-height: 14px;
			vertical-align: top;
			position:relative;
			z-index: 0;
			&.img{
				padding: 1px;
			}
			img{
				height: 100%;
				display:block;
				width:32px;
				text-align: center;
				position:relative;
				z-index: 0;
			}
		}
		.active{
			position: relative;
			border: 1px solid $primary;
			color: $primary;
			z-index: 0;
			&:after{
				position: absolute;
				bottom: 0;
				right: 0;
				content: '';
				border-style: solid;
				border-width: 0 0 15px 15px;
				border-color: transparent transparent $primary transparent;
				z-index:10;
			}
			.type{
				padding: 3px;
			}
			.fa{
				position: absolute;
				right: -1px;
				bottom: -2px;
				color: white;
				font-size: 12px;
				z-index: 99;
				-ms-transform: scale(0.8, 0.8); /* IE 9 */
				-webkit-transform: scale(0.8, 0.8); /* Chrome, Safari, Opera */
				transform: scale(0.8, 0.8);
			}
		}
		.disabled{
			position: relative;
			cursor: not-allowed;
			border: 1px dashed $light_gray;
			.fa{
				position: absolute;
				right: 2px;
				bottom: 0px;
				color: $light_gray;
				font-size: 16px;
				z-index: 3;
			}
		}
		.item{
			margin-bottom: 8px;
			.l-left{
				float:none;
				display: inline-block;
				vertical-align: middle;
				margin:0 3px;
				li{
					margin:0;
				}
			}
		}
		.name{
			font-size: 13px;
			cursor:pointer;
		}
	}
	.label{
		display: inline-block;
		color: $text;
		font-size: 12px;
		line-height: 1.9;
	}
	.checkbox{
		margin:0 0 0 0;
	}
	.select-style{
		width:auto;
		background-position:98% 50%;
		select{
			padding: 5px 15px 5px 5px;
			&::-ms-expand{
				display: none; 
			}
		}
	}
	.select{
		margin-left: 8px;
		width: 100px;
		overflow: hidden;
		font-size: 12px;
	}
	.link{
		font-size: 12px;
		color: $text;
		&:hover{
			color: $primary;
		}
	}
	.payinfo-left{
		float: left;
		width: 275px;
	}
	.payinfo-right{
		float: right;
		width: 286px;
		.key{
			width: 68px;
			font-size: 12px;
    	    line-height: 30px;	
    	    padding-left: 10px;
		}
		.value{
			width: 205px;
			text-align: right;
		}
	}
	.remind{
	    position: relative;
	    margin: 0 10px 8px 0;
		p{
			display: inline-block;
    		background: #ff5100;
    		color: #FFF;
    		font-size: 13px;
    		padding: 0 8px;
    		border-radius: 8px;
    		text-align: center;
    		a{
    			cursor: pointer;
    			color: #FFF;
	    		&:hover{
	    			color: #e00517;
	    		}
    		}
		}
		div{
			display: block;
    		background: #FFF;
    		color: #ff5100;
    		font-size: 13px;
    		padding: 0 8px;
    		border-radius: 6px;
    		text-align: center;
    		border: #ff5100 1px solid;
		    margin-top: 10px;
    		a{
    			cursor: pointer;
    			color: #ff5100;
	    		&:hover{
	    			color: #e00517;
	    		}
    		}
		}
		.icon-triangle{
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 10px 10px 0 10px;
			border-color: #ff5100 transparent transparent transparent;
			position: absolute;
			bottom: -6px;
			right: 24px;
		}
	}
	.web-price{
		.key{
	    	padding-top: 0;
	    }
	    .price{
			font-size: 16px;
			line-height: 1.9;
			padding-right: 4px;
			color: #ff5100;
		}
		.currency{
			margin-bottom: 3px;
			color: #ff5100;
		}
	}
	.point-price{
	    background: #f8f8f8;
	    margin-top:8px;
	    padding-bottom: 1px;
	    .point-more{
	    	text-decoration: underline;
			color: #006fae;
			padding-left: 2px;
			&:hover{
			color: $primary;
		}
	    }
    }
	/*.point-more{
		position: relative;
	    bottom: 4px;
	    display: inline-block;
	    cursor: pointer;
	    -webkit-user-select: none;
	    -moz-user-select: none;a
	    -ms-user-select: none;
	    user-select: none;
	    background-color: #006fae;
	    color: #FFF;
        padding: 1px 3px;
    	line-height: 18px;
	    border-radius: 6px;
		.point-list{
			visibility: hidden;
		    min-width: 220px;
		    width: auto;
		    background-color: #FFF;
		    color: #006fae;
		    border: #006fae 1px solid;
		    text-align: center;
		    border-radius: 6px;
		    padding: 8px 20px 8px 8px;
		    position: absolute;
		    z-index: 1;
		    bottom: 125%;
	        right: -5%;
	        -moz-box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
			-webkit-box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
			box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
		    cursor: auto;
	        &::after {
			    content: "";
			    position: absolute;
		        bottom: -10px;
			    right: 4px;
			    margin-left: -5px;
			    border-width: 5px;
			    border-style: solid;
			    border-color: #006fae transparent transparent transparent;
			}
			a{
				color: #e00517;
			    cursor: pointer;
			}
			.block{
				text-align: right;
				margin-right: 10px;
			}
			.closebtn{
				position: absolute;
			    right: 8px;
			    top: 0;
		        cursor: pointer;
			}
		}
		.show {
		    visibility: visible;
		    -webkit-animation: fadeIn 1s;
		    animation: fadeIn 1s;
		}
		@-webkit-keyframes fadeIn {
	    from {opacity: 0;}
	    to {opacity: 1;}
		}

		@keyframes fadeIn {
		    to {opacity:1 ;}
		}
	}*/
	.buy{
		display: inline-block;
		width: 80%;
	}
	del{
		font-size: 10px;
		margin-right: 2px;
		// span:last-child{
		// 	margin-left: -3px;
		// }
	}
	.discount-mark{
		display: inline-block;
		color: white;
		font-size: 12px;
		font-weight: bold;
		margin-right: 3px;
		margin-bottom: 4px;
		padding: 1px 5px;
		background: $price;
		border-radius: 10px;
	}
	.currency{
		font-size: 12px;
		color: $price;
		display: inline-block;
		vertical-align: bottom;
		margin-bottom: 2px;
	}
	.price{
		font-size: 21px;
		line-height: 1.45;
		color: $price;
		display: inline-block;
		//margin-right: 10px;
		vertical-align: bottom;
	}
	.start{
		display: inline-block;
		color: #333;
		font-size: 12px;
		vertical-align: bottom;
	}
	.pr_fee{
		display: inline-block;
	}
	.input-style{
		border-right: 0;
		border-left: 0;
	}
	.quantity-add{
		text-align: right;
		margin-top: 10px;
		width: 100%;
		// for 購物金
		margin-top: 16px;
	}
	.quantity{
		vertical-align: bottom;
		display: inline-block;
		.quantity-input{
			height: 32px;
		}
	}
	.button{
		margin-left: 10px;
		display: inline-block;
	}
	.btn-arrival{
		float: right;
		margin-top: 10px;
		padding: 3px 13px;
		@include clearfix;
	}
	.item-fee{
		clear: both;
		display: block;
		width: 100%;
		padding-top: 10px;
		color: black;
		font-size: 14px;
		text-align: right;
		.currency{
			color: black;
			font-weight: bold;
		}
		.price{
			color: black;
			font-weight: bold;
			font-size: 18px;
			line-height: 1.5;
		}
		.fa-question{
			display: inline-block;
			position: relative;
			color: white;
			text-align: center;
			background: $text;
			font-size: 15px;
			margin:0 2px;
			padding: 0 2px 1px 0;
			width: 15px;
			height: 15px;
			cursor: pointer;
			@include border-radius(10px);
			.fee-info{
				display: block;
				position: absolute;
				top: 10px;
				right: 0;
				z-index: 9;
				width: 155px;
				padding: 10px 10px;
				background: $blue;
				color: white;
				font-size: 13px;
				font-family: Tahoma,'微軟正黑體','新細明體','Arial Unicode MS',Arial,Helvetica,sans-serif;
				line-height: 1.6;
				border: 1px solid $border;
				visibility:hidden;
				@include opacity(0);
				@include border-radius(4px);
				@include transition(0.4s);
			}
			&:hover{
				.fee-info{
					visibility: visible;
					top: 20px;
					@include opacity(1);
				}
				background: black;
			}
		}
		.fee-c{
			color: $link2;
			&:hover{
				color: $link4;
			} 
		}
	}
	.sale{
		width: 400px;
		color: $primary;
		font-size: 12px;
		display: inline-block;		
		.type{
			border: 1px solid $primary;
			padding:3px 5px;
			margin-bottom: 5px;
			line-height: 140%;
			display: block;
            a{
                padding: 3px 5px;
                color: #06c;
                text-decoration: underline;
            }
		}
		span{
			word-wrap: break-word;
			margin-right:5px;
		}
		.time{
			font-weight: bold;
			background: $primary;
			color: #fff;
			padding: 0px 5px;
			display: inline-block;
			li{
				display: inline-block;
			}
			div{
				display:inline-block;
				height:17px;
				margin:0 1px 0 0;
				vertical-align:top;
				line-height:1.6;
				overflow: hidden;
			}
		}
		.bought{
			margin-left: 5px;
			display:inline-block;
			//vertical-align:middle;
		}
	}
	.social-plugins{
		padding: 5px 0;
		// border-top: 1px solid $border2;
		.each_plugin{
			display: inline-block;
			margin-right:5px;
			a{
				display: inline-block;
				margin-right: 5px;
				&:last-child{
					margin:0;
				}
			}
			img{
				display:block;
				width:24px;
				height:24px;
			}
			&.facebook{
				.fb-like{
					vertical-align: text-bottom;
				}
			}
		}
	}
	
	.credit-card{
		@include clearfix;
		margin: 10px 0 10px;
		width: 100%;
		a{
			font-size: 11px;
		}
		.row{
			&+.row{
				.block{
					border-top: none;
				}
			}
			@include clearfix;
		}
		.block{
			border: 1px solid $border;
			background: $background2;
			padding: 0px 5px;
			float: left;
			margin-left: -1px;
			font-size: 12px;
			line-height: 26px;
			min-width:80px;
			.colee0{
				color: $red;
				padding: 0 2px;
			}
			&:first-child{
				text-align:right;
				&+.block{
					width: 116px;
				}
			}
			&:last-child{
				text-align: center;
			}
		}
		.more{
			position: relative;
			cursor: pointer;
			&:hover{
				.credit-card-list{
					display: block;
				}
			}
			.fa{
				margin-left: 5px;
			}
			.credit-card-list{
				min-width:185px;
				background: #fff;
    			border: 1px solid $border;
    			border-bottom: 2px solid $border;
    			border-top: 2px solid $border;
    			line-height: 14px;
    			position: absolute;
    			// width: 186px;
    			right: -1px;
    			z-index: 2;
    			display: none;
    			p{
    				margin-bottom: 6px;
    				padding: 8px 10px;
    				font-weight: bold;
    				text-align: center;
    				border-bottom: 1px solid $border;
    				background: #504f47;
    				color: #fff;
    			}
    			.block{
    				background: #fff;
    				border: 0;
    				border-bottom: 1px dotted $border;
    				float: none;
    				margin-left: 0;
    				padding: 0 5px;
    				white-space: nowrap;
    				text-align: left;
    				&:last-child{
    					border: 0;
    					text-align: right;
    				}
    				.col{
    					display: inline-block;
    					text-align: right;
    					&:first-child{
    						width: 70px;
    						margin-right: 10px;
    					}
    				}
    			}
			}
		}
	}
	.pay{
		font-size: 12px;
		i{
			margin-right: 3px;
		}
		a{
			margin-left: 0px;
			display: block;
		}
		.photo{
			width: auto;
		}
	}
	.relative-word{
		padding: 10px;
		margin-bottom: 5px;
		border: 1px solid $border2;
		font-size: 12px;
		p{
			color: $title_h3;
		}
		ul{
			@include clearfix;
			li{
				float: left;
				margin-right: 15px;
				line-height: 1.9;
				a {
					color: $link2;
					&:hover{
						color: $link4;
					}
				}
			}
		}
	}
	.other-pay {
		padding: 5px 0;
		margin-bottom: 5px;
		border-bottom: 1px solid $border2;
		@include clearfix;
		span{
			float: right;
		}
	}
	.icon-seven{		
		&::before{
			margin-right: 4px;
			margin-top: -4px;
		}
	}
	.icon-fami{
		float: right;
		margin-right: 6px;
		margin-top: -2px;
	}
	.highlight{
		width: 100%;
		margin: 8px 0 0 0;
		text-align: right;
		span{
			margin:0 0 0 10px;
			span{
				margin:0;
			}
		}
	}
}

@-moz-document url-prefix() {
    .select-style {
      padding: 2px 6px 2px 0;
    }
}

.item-slider-001 { 
    .pagination {
	width: 100%;
	margin: 5px auto;
	text-align: center;
	display: none;
    }
    .swiper-pagination-switch {
        display: inline-block;
        width: 7px;
        height: 7px;
        border-radius: 10px;
        background: lighten($gray,40);
        margin: 0 3px;
        cursor: pointer;
    }
    .swiper-active-switch {
        width: 30px;
    }
    .arrow {
    	display: none;
        color: lighten($gray,40);
        font-size: 3em;
        top: 45%;
        margin-top: -25px;
        @include opacity(0.5);
        @include transition(all 0.3s ease-out);
        cursor: pointer;
        position: absolute;
        z-index: 1;
        &.arrow-left {
            left: 5px;
        }
        &.arrow-right {
            right: 5px;
        }
        &:hover {
            @include opacity(1);
        }
    }    
}

/* for 購物金 demo - 2016-10-28 */

.line-demo{
	width: 100%;
	padding: 8px 10px 16px;
    border-top: 1px dotted #e9e9e9;
	.point{
		padding-left: 11px;
		font-style: inherit;
		text-align: right;
		.key{
			padding-top: 4px;
		}
	}
	.point-price{
		position: relative;
    	bottom: 6px;
		.currency,.price{
			color: #e00517;
		}
	}
	.point-price{
		&.key{
			padding-top: 20px;
			width:60px;
			text-align: left;
		}
		&.value{
			text-align: right;
			width:auto;
			padding-right: 10px;
		}
		.discount-mark{
			position: relative;
			bottom: 10px;
		}
		.currency{
			position: relative;
			bottom: 10px;
		}
		.price{
			font-size: 30px;
		}
	}
	.remind{
		//width: 245px;
	}
	.quantity-add{
	    text-align: left;
	}
}