.pc-item-related {	
	.container {
		padding: 0;
		margin: 30px auto;
	}
	.item-related-tabs{
		margin-bottom: -10px;
		padding-left: 18px;
		height: 21px;
		ul{
			display: inline-block;
			text-align: left;
			padding: 0 0px 0 8px;
			background: $background;
		}
		li {
			display: inline-block;
			padding: 0px 15px;
			margin-top: 3px;
			font-size: 14px;
			color: #6c6c6c;
			border-left: 1px solid $border2;
			cursor: pointer;			
			@include transition(0.3s);
			&:hover{
				color: #333;
			}
			&.active{
				float: left;
				color: $title_h3;
				font-weight: bold;
				font-size: 18px;
				border-left: 0;
				margin-top: 0;
				padding: 0px 15px 0px 0px;
				&:before{					
					font-size: 0px;
				}
				&:hover{
					color: $title_h3;
				}
			}
			&:before{
				@include icon-font('\f152');
				margin-right: 4px;
				vertical-align: 0px;
				font-size: 13px;
			}
		}
	}
	.items {
		width: 100%;
		height: auto;
		border: 1px solid $border2;
		padding: 28px 10px 15px;
		overflow: hidden;
		visibility: hidden;
		position: absolute;
		@include clearfix;
		&.active {
			visibility: visible;
			position: static;
		}
	}
	.item {
		padding: 0 13px;
		&:hover{
			@include transition(0.6s);
			.photo{
				opacity: 0.75;
			}
		}
	}
	.photo {
		display: block;
		margin-bottom: 7px;
		@include crop(100%, white);
		img {
			width: 100%;
		}
	}
	.name {
		margin-bottom: 7px;
		color: $items_name;
		font-weight: bold;
		font-size: 13px;
		height: 32px;
		line-height: 1.3;
		word-break: break-word;
		word-wrap: break-word;
		overflow: hidden;
	}
	.buy {
		text-align: left;
	}
	.currency {
		font-size: 10px;
		color: $price;
		display: inline-block;
	}
	.price {
		font-size: 14px;
		color: $price;
		display: inline-block;
		margin-right: 10px;
	}
}
.item-slider-002,.item-slider-003,.item-slider-004 {
	padding: 0 10px;
	@include box-sizing(content-box);
	.pagination {
		width: 100%;
		margin: 5px auto;
		text-align: center;
		display: none;
	}
	.swiper-pagination-switch {
		display: inline-block;
		width: 7px;
		height: 7px;
		border-radius: 10px;
		background: lighten($gray, 40);
		margin: 0 3px;
		cursor: pointer;
	}
	.swiper-active-switch {
		width: 30px;
	}
	.arrow {
		color: lighten($gray, 40);
		font-size: 2.8em;
		top: 45%;
		margin-top: -25px;
		@include opacity(0.5);
		@include transition(all 0.3s ease-out);
		cursor: pointer;
		position: absolute;
		z-index: 1;
		&.arrow-c-left {
			left: 0px;
		}
		&.arrow-c-right {
			right: 0px;
		}
		&:hover {
			@include opacity(1);
		}
	}
}