.pc-item-buy{
	text-align: center;
	.quantity{
		vertical-align: bottom;
		margin-right: 10px;
	}
}
.highlight{
	display: inline-block;
	font-size: 12px;
	vertical-align: bottom;
	height: auto;
	margin-left: 10px;
	// margin-bottom: -3px;
	text-align: left;
	p{
		vertical-align: middle;
		line-height: 1.42;
	}
	span{
		margin-right: 20px;
	}
}