.pc-item-add{
	.container{
		border: 1px solid $border2;
	}
	.title-h3{
		background: $background2;
		border-bottom: 1px solid $border2;
		padding: 10px;
	}
	.items{
		@include clearfix;
		padding: 10px;
	}
	.item{
		float: left;
		margin-bottom: 15px;
		width: 50%;
		min-height:110px;
	}
	label{
		cursor: pointer;
		color: $text;
	}
	.photo{
		margin-right: 8px;
		display: inline-block;
		img{
			max-width: 100px;
		}
	}
	.info{
		display: inline-block;
		vertical-align: top;
	}
	.checkbox{
		display: inline-block;
		vertical-align: top;
	}
	.name{
		margin-bottom: 10px;
		color: $items_name;
		font-size: 14px;
		line-height: 1.4;
		height: 38px;
		width: 345px;
		overflow: hidden;
		word-wrap: break-word;
		word-break:break-word;
	}
	.spec{
		margin-right: 5px;
		width: 100px;
		padding: 2px 4px;
		font-size: 12px;
	}
	.buy{
		margin-top: 10px;
	}
	.feature{
		margin-bottom: 10px;
		font-size: 0.85em;
		line-height: 1.6;
	}
	.currency{
		font-size: 10px;
		color: $price;
		display: inline-block;
	}
	.price{
		font-size: 14px;
		color: $price;
		display: inline-block;
		margin-right: 10px;
	}
	.button{
		vertical-align: top;
	}
	.quantity{
		vertical-align: middle;
	}
	.add-actions{
		border-top: 1px solid $border2;
		padding: 10px 0 12px;
		text-align: center;
		.quantity {
			vertical-align: bottom;
			margin-right: 10px;
		}
		.button{
			vertical-align: bottom;
		}
	}
}