html, body{
	height: 100%;
	font-family: '微軟正黑體','新細明體','Arial Unicode MS', Arial, Helvetica, sans-serif;
}
body{
	color: $gray;
	background-color: white;
}
a{
	color: $gray;
}
* {
    outline: none;
    @include box-sizing(border-box);
    *behavior: url(assets/c/css/common/boxsizing.htc);
}
select{
	font-family: '微軟正黑體','新細明體','Arial Unicode MS', Arial, Helvetica, sans-serif;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	padding: 8px 0px 8px 5px;
	margin: 0 0 8px 0;
	border: 1px solid $gray;
	font-size: 1.4em;
	color: black;
	background: url(http://img.giftting.co.kr/pintle/images/pintle/line/btn_select_01.gif) no-repeat right center #FFF;
	background-size: 17px 36px;
	border-radius: 3px;
	@include box-sizing(border-box);
	&:focus{
		border: 1px solid $blue;
		box-shadow: 0px 0px 2px $blue;
	}
	&.selected, .selected{
		color: $blue;
	}
}
input[type='password'], input[type='email'], input[type='tel'], input[type='text'], input[type='number'], input[type='search']{
	-webkit-appearance: none;
	font-family: '微軟正黑體','新細明體','Arial Unicode MS', Arial, Helvetica, sans-serif;
	padding: 8px;
	margin: 0 0 10px 0;
	border: 1px solid $light_gray;
	font-size: 1.5em;
	color: $gray;
	@include box-sizing(border-box);
	&:focus{
		outline: none;
	}
}
.hide{
	display: none;
}
.container, .row, .clearfix{
	@include clearfix;
}
.container{
	max-width: 1220px;
	width: 100%;
	margin: 0 auto;
}
.c{
	@include clearfix;
}