@import "../define/__init.scss";
header{
	background: #eee;
	border-bottom: 1px solid #dfdfdf;
	padding: 20px;
	h2{
		font-size: 24px;
		margin-bottom: 5px;
	}
	p{
		color: #999;
		font-size: 13px;
	}
}
.block{
	padding: 30px 80px;
}
.case{
	a{
		display: inline-block;
		margin: 0 1% 1% 0;
		border: 1px solid $gray;
		padding: 3px;
		@include crop(23%, black);
		background: #f2f2f2;
		img{
		}
	}
}