.nav-pagination {
  margin: 30px 0 80px;
  text-align: center;
  clear: both;
}
.nav-pagination ul {
  margin: 0 20px;
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
}
.nav-pagination ul {
  zoom: 1;
}
.nav-pagination ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.nav-pagination li {
  display: inline-block;
}
.nav-pagination li a {
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.nav-pagination li:first-child a {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}
.nav-pagination li:last-child a {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  border-right: 1px solid #dddddd;
}
.nav-pagination a {
  line-height: 36px;
  padding: 0 12px;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  color: #666666;
}
.nav-pagination a.active {
  background: #2290c6;
  color: white;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.nav-pagination a:hover {
  background: #efefef;
  color: #7fbee5;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.nav-pagination .total {
  margin-top: 20px;
  color: #666666;
  font-size: 0.8em;
}

@media screen and (max-width: 768px) {
  .nav-pagination .hidden-mobile {
    display: none;
  }
}
.account_001 {
  margin: 20px 0 80px;
}
.account_001 .account-menu {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
.account_001 a {
  display: inline-block;
  position: relative;
  width: 282px;
  text-align: center;
  font-size: 24px;
  color: #333333;
  padding: 22px;
  margin: 18px;
  top: 0px;
  background: white;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px 1px #dddddd;
  -moz-box-shadow: 0 1px 2px 1px #dddddd;
  box-shadow: 0 1px 2px 1px #dddddd;
}
.account_001 a i {
  font-size: 28px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: -1px;
}
.account_001 a p {
  display: inline-block;
}
.account_001 a:hover, .account_001 a .on-touch {
  background: #2290c6;
  color: white;
  top: -5px;
  -webkit-box-shadow: 0 7px 9px 1px #dddddd;
  -moz-box-shadow: 0 7px 9px 1px #dddddd;
  box-shadow: 0 7px 9px 1px #dddddd;
}
.account_001 a:active {
  top: 2px;
  -webkit-box-shadow: 0 0px 3px 4px #dddddd;
  -moz-box-shadow: 0 0px 3px 4px #dddddd;
  box-shadow: 0 0px 3px 4px #dddddd;
}
.account_001 .highlight-menu {
  background: #dd0000;
  color: white;
}
.account_001 .highlight-menu:hover, .account_001 .highlight-menu .on-touch {
  background: #ff3300;
}
@media only screen and (max-width: 1000px) {
  .account_001 .account-menu {
    max-width: 800px;
  }
  .account_001 a {
    margin: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .account_001 .account-menu {
    max-width: 100%;
  }
  .account_001 a {
    width: 256px;
    margin: 10px 7px;
    padding: 20px 10px;
    font-size: 22px;
  }
}
@media only screen and (max-width: 568px) {
  .account_001 {
    margin: 10px 0 60px;
  }
  .account_001 a {
    width: 90%;
    margin: 8px 7px;
  }
  .account_001 a i {
    font-size: 28px;
  }
}
