.address_list {
  position: relative;
  margin: 10px 0 25px;
}
.address_list * {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
@media only screen and (max-width: 1241px) {
  .address_list {
    padding: 0 15px;
  }
}

.t-order-title {
  color: #999999;
  font-size: 1.2em;
  margin: 0px 5px 10px;
}

.l-card {
  margin-bottom: 10px;
  padding: 10px 1%;
  border: 1px solid #e9e9e9;
  background: white;
  position: relative;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px 1px #dddddd;
  -moz-box-shadow: 0 1px 2px 1px #dddddd;
  box-shadow: 0 1px 2px 1px #dddddd;
}
@media only screen and (max-width: 768px) {
  .l-card {
    padding: 7px 2%;
  }
}
@media only screen and (max-width: 568px) {
  .l-card {
    padding: 10px 1.8%;
  }
}

.md-recipient-infr {
  padding-top: 50px;
}
@media only screen and (max-width: 568px) {
  .md-recipient-infr {
    padding-top: 56px;
  }
}

.md-user-address {
  width: 23.68%;
  height: 218px;
  margin: 7px .5%;
  padding: 5px 10px 45px 10px;
  border: 1px solid #e9e9e9;
  line-height: 1.5;
  vertical-align: top;
  overflow: hidden;
  display: inline-block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.md-user-address.in-cvs {
  height: 163px;
}
@media only screen and (max-width: 568px) {
  .md-user-address.in-cvs {
    height: 64px;
  }
}
.md-user-address li {
  margin: 5px 0;
  font-size: .9em;
}
.md-user-address li:first-child {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
.md-user-address li.t-address {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
.md-user-address li.t-active {
  bottom: 5px;
  right: 5px;
  margin: 0;
  position: absolute;
  z-index: 1;
}
.md-user-address li.t-active a {
  color: #7fbee5;
  margin: 0 6px;
  cursor: pointer;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  -ms-transition: 0s;
  transition: 0s;
}
.md-user-address li.t-active a:hover, .md-user-address li.t-active a .on-touch {
  color: #0066a0;
}
.md-user-address li.t-active a:before {
  margin-right: 3px;
  padding-bottom: 2px;
}
.md-user-address li.t-active a.go-edit-address:before {
  content: "\f040";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
}
.md-user-address li.t-active a.go-delete-address:before {
  content: "\f00d";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
}
.md-user-address li.t-set {
  bottom: 28px;
  right: 5px;
  margin: 0;
  position: absolute;
  z-index: 1;
  color: #7fbee5;
  margin: 0 7px;
  cursor: pointer;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  -ms-transition: 0s;
  transition: 0s;
}
.md-user-address li.t-set:hover {
  color: #0066a0;
}
.md-user-address li.t-set:hover:before {
  content: "\f005";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
}
.md-user-address li.t-set:before {
  margin-right: 3px;
  padding-bottom: 2px;
  content: "\f006";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
}
.md-user-address:first-child {
  border-color: #7fbee5;
  border-width: 2px;
}
.md-user-address:first-child .t-set {
  color: #0066a0;
  font-weight: bold;
  cursor: text;
}
.md-user-address:first-child .t-set:before {
  content: "\f005";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
}
@media (min-width: 1241px) {
  .md-user-address {
    width: 23.74%;
  }
}
@media only screen and (max-width: 1000px) {
  .md-user-address {
    width: 23.55%;
  }
}
@media only screen and (max-width: 768px) {
  .md-user-address {
    width: 48.6%;
  }
}
@media only screen and (max-width: 568px) {
  .md-user-address {
    width: 100%;
    height: 64px;
    margin: 0;
    padding-bottom: 5px;
    border-top-width: 0;
  }
  .md-user-address.is-active {
    height: auto;
  }
  .md-user-address li:first-child {
    width: 127px;
  }
  .md-user-address li.t-active {
    top: 7px;
    right: 5px;
    font-size: 1em;
  }
  .md-user-address li.t-active a {
    margin: 0 9px;
  }
  .md-user-address li.t-active a:before {
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    -ms-transition: 0.1s;
    transition: 0.1s;
  }
  .md-user-address li.t-active span {
    display: none;
  }
  .md-user-address li.t-set {
    top: 7px;
    right: 85px;
    font-size: 1em;
  }
  .md-user-address li.t-set span {
    display: none;
  }
  .md-user-address li.t-set:before {
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    -ms-transition: 0.1s;
    transition: 0.1s;
  }
}

.btn-add-address {
  left: 1.5%;
  top: 12px;
  position: absolute;
}
.btn-add-address:before {
  margin-right: 5px;
  content: "\f067";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
}
@media only screen and (max-width: 768px) {
  .btn-add-address {
    width: 95%;
    left: 2.5%;
    top: 12px;
    padding: 7px 0;
  }
}
@media only screen and (max-width: 568px) {
  .btn-add-address {
    width: 96.4%;
    left: 1.8%;
  }
}
