.bonus_exchange_001 .account-title {
  color: #999999;
  font-size: 1.2em;
  margin: 10px 0px;
}
.bonus_exchange_001 .bonus-exchange-block {
  position: relative;
  width: 100%;
  height: auto;
  color: #666666;
  text-align: center;
  line-height: 1.5;
  padding: 45px 15px;
  margin-bottom: 30px;
  top: 0px;
  background: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px 1px #dddddd;
  -moz-box-shadow: 0 1px 2px 1px #dddddd;
  box-shadow: 0 1px 2px 1px #dddddd;
}
.bonus_exchange_001 .bonus-exchange-block {
  zoom: 1;
}
.bonus_exchange_001 .bonus-exchange-block:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.bonus_exchange_001 .bonus-exchange-block .bonus-exchange-content {
  width: 492px;
  margin: 0px auto;
  text-align: left;
}
.bonus_exchange_001 .bonus-exchange-block dl {
  line-height: 1.4;
  padding: 7px 0;
  font-size: 1.1em;
  line-height: 1.7;
}
.bonus_exchange_001 .bonus-exchange-block dl dt {
  display: inline-block;
  width: 110px;
  font-size: 90%;
  vertical-align: 3px;
}
.bonus_exchange_001 .bonus-exchange-block dl dd {
  display: inline-block;
  margin-right: 7px;
}
.bonus_exchange_001 .bonus-exchange-block dl dd input {
  width: 210px;
}
.bonus_exchange_001 .bonus-exchange-block dl .r-img {
  vertical-align: -6px;
}
.bonus_exchange_001 .bonus-exchange-block dl .replay {
  font-size: 80%;
  color: #2290c6;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
.bonus_exchange_001 .bonus-exchange-block dl .replay:hover, .bonus_exchange_001 .bonus-exchange-block dl .replay:active {
  color: #7fbee5;
}
.bonus_exchange_001 .bonus-exchange-block dl .replay.button {
  color: white;
}
.bonus_exchange_001 .actions {
  border-top: 1px solid #dddddd;
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
}
.bonus_exchange_001 .button {
  margin: 0 10px;
}
@media only screen and (max-width: 1241px) {
  .bonus_exchange_001 {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 568px) {
  .bonus_exchange_001 .bonus-exchange-block .bonus-exchange-content {
    max-width: 260px;
    width: 100%;
    text-align: center;
  }
  .bonus_exchange_001 .bonus-exchange-block dl dt {
    margin-bottom: 5px;
  }
  .bonus_exchange_001 .bonus-exchange-block dl dd {
    margin-right: 0;
  }
  .bonus_exchange_001 .bonus-exchange-block .replay {
    margin-left: 7px;
  }
  .bonus_exchange_001 .button {
    margin-bottom: 10px;
  }
}
