html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html, body {
  height: 100%;
  font-family: 'Heiti TC','微軟正黑體','新細明體','Arial Unicode MS',Arial,Helvetica,sans-serif;
}

* {
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, ol {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

::-webkit-search-cancel-button {
  display: none;
}

.button {
  cursor: pointer;
  -webkit-appearance: none;
  font-size: 13px;
  color: white;
  text-decoration: none;
  width: auto;
  text-align: center;
  line-height: 1.6;
  height: auto;
  border: none;
  background: #dd0000;
  padding: 0 .9em;
  margin: 0;
  font-family: '微軟正黑體';
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
.button:hover {
  color: white;
  text-decoration: none;
  background: #f70000;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
.button.disabled, .button[disabled] {
  cursor: default;
  color: #cccccc;
  background: transparent;
}
.button.disabled:active, .button.disabled.pressed, .button[disabled]:active, .button[disabled].pressed {
  background: transparent;
}
.button[type=reset], .button[type=button], .button[type=submit] {
  font-family: inherit;
  border: 0 none;
  margin: 0;
}
.button:active, .button.pressed {
  background: #910000;
}
.button.large {
  font-size: 15px;
  padding: .37em 1.9em;
  height: auto;
  line-height: 1.4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.button.full {
  width: 100%;
}
.button.gray {
  background: #6c6c6c;
  color: white;
}
.button.gray:hover {
  background: #797979;
}
.button.gray:active, .button.gray.pressed {
  background: #464646;
}
.button.lighten-blue {
  background: #7fbee5;
  color: white;
}
.button.lighten-blue:hover {
  background: #94c9e9;
}
.button.lighten-blue:active, .button.lighten-blue.pressed {
  background: #3f9ed8;
}
.button.light-blue {
  background: #2290c6;
  color: white;
}
.button.light-blue:hover {
  background: #289fda;
}
.button.light-blue:active, .button.light-blue.pressed {
  background: #176185;
}
.button.btn-rush, .button .btn-addcart, .button .btn-add {
  background: #2290c6;
  color: white;
}
.button.btn-rush:hover, .button .btn-addcart:hover, .button .btn-add:hover {
  background: #289fda;
}
.button.btn-rush:active, .button.btn-rush.pressed, .button .btn-addcart:active, .button .btn-addcart.pressed, .button .btn-add:active, .button .btn-add.pressed {
  background: #176185;
}
.button.btn-discount, .button.red {
  background: #dd0000;
}
.button.btn-discount:hover, .button.red:hover {
  background: #f70000;
}
.button.btn-discount:active, .button.btn-discount.pressed, .button.red:active, .button.red.pressed {
  background: #910000;
}
.button.btn-preorder, .button.yellow {
  background: #ffcc21;
  color: white;
}
.button.btn-preorder:hover, .button.yellow:hover {
  background: #ffd23b;
}
.button.btn-preorder:active, .button.btn-preorder.pressed, .button.yellow:active, .button.yellow.pressed {
  background: #d3a300;
}
.button.gray {
  background: #6c6c6c;
  color: white;
}
.button.gray:hover {
  background: #797979;
}
.button.gray:active, .button.gray.pressed {
  background: #464646;
}
.button.btn-preorder-finish, .button.btn-rush-finish, .button.btn-soldout-stock, .button.btn-soldout, .button.btn-to-sale {
  padding: 0;
  color: gray;
  font-weight: 700;
  cursor: default;
  background: transparent;
}
.button.btn-preorder-finish:hover, .button.btn-preorder-finish:active, .button.btn-preorder-finish.pressed, .button.btn-rush-finish:hover, .button.btn-rush-finish:active, .button.btn-rush-finish.pressed, .button.btn-soldout-stock:hover, .button.btn-soldout-stock:active, .button.btn-soldout-stock.pressed, .button.btn-soldout:hover, .button.btn-soldout:active, .button.btn-soldout.pressed, .button.btn-to-sale:hover, .button.btn-to-sale:active, .button.btn-to-sale.pressed {
  background: transparent;
}
.button.btn-to-sale {
  color: #ff9900;
}
.button.btn-checkout {
  background: #ff9900;
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
  position: relative;
}

.fancybox-inner {
  overflow: hidden;
  padding-bottom: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 500px;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading {
  position: fixed;
  top: 0;
  z-index: 8060;
  width: 100%;
  height: 100%;
  background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2032%2032%22%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23ccc%22%3E%0A%20%20%3Cpath%20opacity%3D%22.25%22%20d%3D%22M16%200%20A16%2016%200%200%200%2016%2032%20A16%2016%200%200%200%2016%200%20M16%204%20A12%2012%200%200%201%2016%2028%20A12%2012%200%200%201%2016%204%22/%3E%0A%20%20%3Cpath%20d%3D%22M16%200%20A16%2016%200%200%201%2032%2016%20L28%2016%20A12%2012%200%200%200%2016%204z%22%3E%0A%20%20%20%20%3CanimateTransform%20attributeName%3D%22transform%22%20type%3D%22rotate%22%20from%3D%220%2016%2016%22%20to%3D%22360%2016%2016%22%20dur%3D%220.8s%22%20repeatCount%3D%22indefinite%22%20/%3E%0A%20%20%3C/path%3E%0A%3C/svg%3E%0A%0A) center center no-repeat;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

#fancybox-loading:after {
  position: fixed;
  top: 50%;
  width: 100%;
  margin-top: 20px;
  font-size: 16px;
  color: #aaa;
  text-align: center;
  content: "Loading";
}

.fancybox-close {
  font-family: FontAwesome;
  -webkit-font-smoothing: antialiased;
  padding: 4px 6px 6px 6px;
  color: white;
}
.fancybox-close:before {
  content: "\f00d";
}

.fancybox-close {
  position: absolute;
  top: -12px;
  right: -11px;
  width: 28px;
  height: 30px;
  cursor: pointer;
  z-index: 8040;
  background: #333;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #fff;
  -webkit-box-shadow: -1px 1px 3px #555;
  -moz-box-shadow: -1px 1px 3px #555;
  box-shadow: -1px 1px 3px #555;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 8040;
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

.fancybox-nav:hover span {
  visibility: visible;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}

.fancybox-lock body {
  overflow: hidden !important;
}

.fancybox-lock-test {
  overflow-y: hidden !important;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("../../../img/frame/fancybox_overlay.png");
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/
  }

  #fancybox-loading div {
    background-image: url("../../../../../../../c/img/frame/fancybox_loading@2x.gif");
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
}
.fancybox-inner .title {
  padding: 5px 15px;
  font-weight: bold;
  background: #2290c6;
  color: white;
  line-height: 180%;
}
.fancybox-inner .block {
  position: relative;
  background: white;
  line-height: 180%;
  padding: 15px;
  padding-bottom: 10px;
}
.fancybox-inner .block {
  zoom: 1;
}
.fancybox-inner .block:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.fancybox-inner .block .line {
  font-size: 14px;
  padding: 0 10px;
}
.fancybox-inner .block .button {
  vertical-align: top;
}
.fancybox-inner .block .key {
  color: black;
  display: inline-block;
  vertical-align: top;
  word-wrap: break-word;
  text-align: justify;
  text-justify: inter-ideograph;
  width: 80px;
}
.fancybox-inner .block .value {
  display: inline-block;
}
.fancybox-inner .block .price {
  color: #dd0000;
  font-weight: bold;
}
.fancybox-inner .block hr {
  margin: 10px 0;
}
.fancybox-inner .block .product {
  margin-right: 12px;
  display: inline-block;
  vertical-align: top;
}
.fancybox-inner .block .options {
  max-width: 400px;
  display: inline-block;
}
.fancybox-inner .block .options .option {
  margin: 10px 0;
}
.fancybox-inner .block .options .key {
  min-width: 40px;
  vertical-align: top;
  display: inline-block;
}
.fancybox-inner .block .options .value {
  display: inline-block;
  width: 80%;
  margin-bottom: -8px;
  position: relative;
  z-index: 0;
}
.fancybox-inner .block .options .value > li {
  padding: 10px 10px;
  margin: 0 8px 8px 0;
  cursor: pointer;
  height: 36px;
  border: 1px solid #cccccc;
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  vertical-align: top;
}
.fancybox-inner .block .options .value > li.img {
  padding: 1px;
}
.fancybox-inner .block .options .value > li img {
  height: 100%;
  display: block;
  width: 36px;
  text-align: center;
  position: relative;
  z-index: -1;
}
.fancybox-inner .block .options .value .active {
  position: relative;
  border: 1px solid #2290c6;
  color: #2290c6;
}
.fancybox-inner .block .options .value .active:after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  border-style: solid;
  border-width: 0 0 15px 15px;
  border-color: transparent transparent #2290c6 transparent;
  z-index: 10;
}
.fancybox-inner .block .options .value .active .type {
  padding: 3px;
}
.fancybox-inner .block .options .value .active .fa {
  position: absolute;
  right: -1px;
  bottom: -2px;
  color: white;
  font-size: 12px;
  z-index: 20;
  -ms-transform: scale(0.8, 0.8);
  /* IE 9 */
  -webkit-transform: scale(0.8, 0.8);
  /* Chrome, Safari, Opera */
  transform: scale(0.8, 0.8);
}
.fancybox-inner .block .options .value .disabled {
  position: relative;
  cursor: not-allowed;
  border: 1px dashed #cccccc;
  opacity: 0.5;
}
.fancybox-inner .block .options .value .disabled .fa {
  position: absolute;
  right: 2px;
  bottom: 0px;
  color: #cccccc;
  font-size: 16px;
  z-index: 5;
}
.fancybox-inner .block .options .value .item {
  font-size: 13px;
  margin-bottom: 8px;
}
.fancybox-inner .block .quantity {
  vertical-align: top;
}
.fancybox-inner .block hr + .line {
  text-align: center;
}
.fancybox-inner .block .final-price:after {
  content: "";
  display: block;
}
.fancybox-inner .name {
  font-weight: bold;
  margin-right: 5px;
}
.fancybox-inner .actions {
  border-top: 1px solid #dddddd;
  text-align: center;
  margin: 10px 0 0px;
  padding: 15px 0 10px;
}

.f-order h3 {
  width: 100%;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.5;
}
.f-order p {
  line-height: 1.4;
  font-size: 0.9em;
}
.f-order .button {
  margin: 0 6px;
}

.fancybox-order-contact h3 {
  text-align: center;
}
.fancybox-order-contact .line {
  margin-bottom: 20px;
}
.fancybox-order-contact .line:last-child {
  margin-bottom: 0;
}
.fancybox-order-contact .key {
  width: 100% !important;
}
.fancybox-order-contact input, .fancybox-order-contact textarea {
  margin-bottom: 0px !important;
}
.fancybox-order-contact textarea {
  resize: vertical;
}
.fancybox-order-contact .button {
  margin: 0 10px;
}
.fancybox-order-contact p {
  margin-top: 5px;
  display: block;
}

.fancybox-order-contact-msg p {
  line-height: 1.9;
  font-size: 1.05em;
  text-align: center;
  padding: 20px 10px 15px 10px;
}

.fancybox-order-invoice {
  text-align: center;
}
.fancybox-order-invoice .title {
  text-align: left;
}
.fancybox-order-invoice .button {
  margin: 15px 0;
}
.fancybox-order-invoice .block {
  max-height: 500px;
}
.fancybox-order-invoice img {
  max-width: 100%;
}
.fancybox-order-invoice p {
  line-height: 1.5;
  font-size: 1em;
}
.fancybox-order-invoice .invoice-tip {
  padding-bottom: 10px;
  max-width: 350px;
  margin: 0 auto;
}
.fancybox-order-invoice .invoice-content {
  font-size: 14px;
  padding: 0 10px;
  margin: 0 auto;
}

.fancybox-order-vendor .block {
  max-width: 600px;
}
.fancybox-order-vendor .line {
  margin: 15px 0 20px;
  padding: 8px 10px !important;
  background: #f5f5f5;
}
.fancybox-order-vendor dl {
  line-height: 1.4;
  padding: 5px 0;
}
.fancybox-order-vendor dl dt {
  display: inline-block;
}
.fancybox-order-vendor dl dd {
  display: inline-block;
}

.fancybox-order-shipping {
  max-width: 700px;
}
.fancybox-order-shipping .line {
  padding: 0px 0 15px !important;
}
.fancybox-order-shipping h2 {
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1.4;
  margin-bottom: 15px;
}
.fancybox-order-shipping .order-item {
  width: 100%;
  margin: 10px 0 15px;
}
.fancybox-order-shipping .order-item {
  zoom: 1;
}
.fancybox-order-shipping .order-item:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.fancybox-order-shipping .order-item li {
  float: left;
  margin-right: 10px;
  line-height: 1;
}
.fancybox-order-shipping .order-item li:last-child {
  float: right;
  margin-right: 0;
}
.fancybox-order-shipping .order-item .s-sn {
  width: 18px;
}
.fancybox-order-shipping .order-item .s-name {
  width: 83%;
  font-size: 1em;
  line-height: 1;
  font-weight: normal;
  margin-top: -4px;
}
.fancybox-order-shipping .order-item .s-quantity {
  width: 8%;
}
.fancybox-order-shipping .order-state {
  display: table;
  width: 100%;
}
.fancybox-order-shipping .order-state ul {
  width: 100%;
  display: table-row;
}
.fancybox-order-shipping .order-state ul {
  zoom: 1;
}
.fancybox-order-shipping .order-state ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.fancybox-order-shipping .order-state ul.header {
  background: #f9f9f9;
}
.fancybox-order-shipping .order-state ul.header li {
  border-top: 1px solid #dddddd;
}
.fancybox-order-shipping .order-state li {
  height: auto;
  padding: 5px 10px;
  font-size: 0.95em;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #dddddd;
  border-right: none;
  border-top: none;
  display: table-cell;
}
.fancybox-order-shipping .order-state li:last-child {
  border-right: 1px solid #dddddd;
}
.fancybox-order-shipping .order-state .o-s-time {
  width: 22%;
}
.fancybox-order-shipping .order-state .o-s-time span {
  margin-right: 10px;
}
.fancybox-order-shipping .order-state .o-s-time span:last-child {
  margin-right: 0;
}
.fancybox-order-shipping .order-state .o-s-place {
  width: 28%;
}
.fancybox-order-shipping .order-state .o-s-state {
  width: 50%;
}

.fancybox-order-address-change {
  max-width: 550px;
}
.fancybox-order-address-change h3 {
  text-align: center;
}
.fancybox-order-address-change .line {
  margin-bottom: 20px;
}
.fancybox-order-address-change .line:last-child {
  margin-bottom: 0;
}
.fancybox-order-address-change dl {
  line-height: 1.4;
  padding: 5px 0;
  font-size: 1.1em;
  font-weight: bold;
}
.fancybox-order-address-change dl dt {
  display: inline-block;
  width: 90px;
  margin-bottom: 5px;
}
.fancybox-order-address-change dl dd {
  display: inline-block;
}
.fancybox-order-address-change dl dd input {
  width: 200px;
}
.fancybox-order-address-change input {
  margin-bottom: 0px !important;
  height: 35px;
}
.fancybox-order-address-change select {
  height: 35px;
}
.fancybox-order-address-change .button {
  margin: 5px 10px;
}
.fancybox-order-address-change p {
  margin-top: 5px;
}
.fancybox-order-address-change .o-address-detail {
  width: 100%;
  padding-left: 94px;
  margin-top: 10px;
}
.fancybox-order-address-change .o-address-detail input {
  width: 100%;
}

.fancybox-order-event .block {
  max-width: 600px;
}
.fancybox-order-event .line {
  padding: 15px 0 15px !important;
}
.fancybox-order-event p {
  font-size: 1.05em;
  line-height: 1.6;
}

.fancybox-order-atm dl {
  line-height: 1.4;
  padding: 5px 0;
  font-size: 1.1em;
  font-weight: bold;
  padding-right: 40px;
}
.fancybox-order-atm dl dt {
  display: inline-block;
}
.fancybox-order-atm dl dd {
  display: inline-block;
}

.fancybox-order-product-problem {
  text-align: center;
}
.fancybox-order-product-problem h1 {
  text-align: left;
}
.fancybox-order-product-problem p {
  line-height: 2;
  font-size: 1.05em;
  padding: 20px 10px;
}
.fancybox-order-product-problem .button {
  margin: 0 10px;
}

.fancybox-order-warranty .line {
  padding: 0px 0 15px !important;
}
.fancybox-order-warranty h3 {
  margin-bottom: 10px;
}
.fancybox-order-warranty .order-state {
  width: 100%;
}
.fancybox-order-warranty .order-state {
  zoom: 1;
}
.fancybox-order-warranty .order-state:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.fancybox-order-warranty .order-state li {
  float: left;
  min-height: 10px;
  height: auto;
  padding: 10px 10px 8px;
  font-size: 0.95em;
  line-height: 1.4;
  border-top: 1px solid #dddddd;
}
.fancybox-order-warranty .order-state.header {
  background: #f9f9f9;
}
.fancybox-order-warranty .order-state .radio {
  width: 6%;
}
.fancybox-order-warranty .order-state .sn {
  width: 6%;
}
.fancybox-order-warranty .order-state .order-name {
  width: 68%;
}
.fancybox-order-warranty .order-state .order-price {
  width: 20%;
  text-align: right;
}
.fancybox-order-warranty .button {
  margin: 0 10px;
}

.fancybox-order-warranty-msg p {
  line-height: 2;
  font-size: 1.05em;
  padding: 20px 10px;
  text-align: center;
}
.fancybox-order-warranty-msg .button {
  margin: 0 10px;
}

.fancybox-order-warranty-detail .block {
  max-width: 600px;
}
.fancybox-order-warranty-detail .line {
  margin: 15px 0 20px;
  padding: 8px 10px !important;
  background: #f5f5f5;
}
.fancybox-order-warranty-detail dl {
  line-height: 1.4;
  padding: 5px 0;
}
.fancybox-order-warranty-detail dl dt {
  display: inline-block;
}
.fancybox-order-warranty-detail dl dd {
  display: inline-block;
}

.fancybox-order-invoice-q .line {
  padding: 0px 0 15px !important;
}
.fancybox-order-invoice-q h3 {
  margin-bottom: 10px;
}
.fancybox-order-invoice-q .order-state {
  width: 100%;
}
.fancybox-order-invoice-q .order-state {
  zoom: 1;
}
.fancybox-order-invoice-q .order-state:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.fancybox-order-invoice-q .order-state li {
  float: left;
  min-height: 10px;
  height: auto;
  padding: 10px 0px 8px;
  font-size: 0.95em;
  line-height: 1.4;
}
.fancybox-order-invoice-q .order-state .radio {
  width: 10%;
}
.fancybox-order-invoice-q .order-state .invoice-q {
  width: 90%;
}
.fancybox-order-invoice-q .button {
  margin: 0 10px;
}

.fancybox-order-invoice-msg {
  max-width: 500px;
}
.fancybox-order-invoice-msg p {
  line-height: 1.8;
  font-size: 1em;
  padding: 0px 10px 10px;
  text-align: center;
}
.fancybox-order-invoice-msg .tip {
  font-size: 90%;
  line-height: 1.5;
  color: #999999;
}
.fancybox-order-invoice-msg .contact {
  float: right;
  display: block;
  margin: 5px 0 15px !important;
}
.fancybox-order-invoice-msg .actions {
  clear: both;
}
.fancybox-order-invoice-msg .button {
  margin: 0 10px;
}

.fancybox-refund-account h3 {
  text-align: center;
}
.fancybox-refund-account .line {
  margin-bottom: 20px;
}
.fancybox-refund-account .line:last-child {
  margin-bottom: 0;
}
.fancybox-refund-account dl {
  line-height: 1.4;
  padding: 7px 0;
  font-size: 1.1em;
  font-weight: bold;
  padding-right: 40px;
}
.fancybox-refund-account dl dt {
  display: inline-block;
  width: 80px;
}
.fancybox-refund-account dl dd {
  display: inline-block;
}
.fancybox-refund-account dl dd input {
  width: 200px;
}
.fancybox-refund-account .r-bank-name select {
  width: 200px;
}
.fancybox-refund-account input {
  margin-bottom: 0px !important;
}
.fancybox-refund-account .button {
  margin: 0 10px;
}
.fancybox-refund-account p {
  margin-top: 5px;
}

.fancybox-order-success {
  min-width: 260px;
}
.fancybox-order-success p {
  line-height: 2.2;
  font-size: 1.05em;
  text-align: center;
  padding: 20px 10px;
}

.fancybox-order-delete {
  min-width: 260px;
}
.fancybox-order-delete p {
  line-height: 1.9;
  font-size: 1.05em;
  text-align: center;
  padding: 20px 10px 15px 10px;
}

.fancybox-exchange-bonus .line {
  margin-bottom: 20px;
}
.fancybox-exchange-bonus .line:last-child {
  margin-bottom: 0;
}
.fancybox-exchange-bonus dl {
  line-height: 1.4;
  padding: 7px 0;
  font-size: 1.1em;
  line-height: 1.7;
  font-weight: bold;
  padding-right: 40px;
}
.fancybox-exchange-bonus dl dt {
  display: inline-block;
  width: 130px;
}
.fancybox-exchange-bonus dl dd {
  display: inline-block;
  margin-right: 7px;
}
.fancybox-exchange-bonus dl dd input {
  width: 200px;
}
.fancybox-exchange-bonus dl .r-img {
  vertical-align: -6px;
}
.fancybox-exchange-bonus dl .replay {
  font-size: 80%;
  color: #2290c6;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
.fancybox-exchange-bonus dl .replay:hover, .fancybox-exchange-bonus dl .replay:active {
  color: #7fbee5;
}
.fancybox-exchange-bonus dl .replay.button {
  color: white;
}
.fancybox-exchange-bonus input {
  margin-bottom: 0px !important;
}
.fancybox-exchange-bonus .button {
  margin: 0 10px;
}
.fancybox-exchange-bonus p {
  margin-top: 5px;
}

.fancybox-confirm-payment h3 {
  text-align: center;
}
.fancybox-confirm-payment .line {
  margin-bottom: 20px;
}
.fancybox-confirm-payment .line:last-child {
  margin-bottom: 0;
}
.fancybox-confirm-payment dl {
  line-height: 1.4;
  padding: 7px 0;
  font-size: 1.1em;
  font-weight: bold;
}
.fancybox-confirm-payment dl dt {
  display: inline-block;
  width: 275px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.fancybox-confirm-payment dl dd {
  display: inline-block;
}
.fancybox-confirm-payment dl dd input {
  width: 200px;
  height: 35px;
}
.fancybox-confirm-payment dl dd select {
  margin-bottom: 5px;
  height: 35px;
}
.fancybox-confirm-payment input {
  margin-bottom: 0px !important;
}
.fancybox-confirm-payment .button {
  margin: 0 10px;
}
.fancybox-confirm-payment p {
  margin-top: 5px;
}
@media only screen and (max-width: 768px) {
  .fancybox-confirm-payment dl dt {
    width: 100%;
    display: block;
    margin-bottom: 5px;
  }
}

.fancybox-confirm-payment-finish h3 {
  text-align: center;
}
.fancybox-confirm-payment-finish .line {
  margin-bottom: 20px;
}
.fancybox-confirm-payment-finish .line:last-child {
  margin-bottom: 0;
}
.fancybox-confirm-payment-finish dl {
  line-height: 1.4;
  padding: 7px 0;
  font-size: 1.1em;
  font-weight: bold;
  padding-right: 40px;
}
.fancybox-confirm-payment-finish dl dt {
  display: inline-block;
  width: 275px;
}
.fancybox-confirm-payment-finish dl dd {
  display: inline-block;
  color: #2290c6;
  min-width: 150px;
}
.fancybox-confirm-payment-finish .button {
  margin: 0 10px;
}
.fancybox-confirm-payment-finish p {
  margin-top: 5px;
}
@media only screen and (max-width: 768px) {
  .fancybox-confirm-payment-finish dl dt {
    width: 100%;
    display: block;
    margin-bottom: 5px;
  }
}

.fancybox-refund-confirm {
  max-width: 450px;
}
.fancybox-refund-confirm p {
  line-height: 2;
  font-size: 1.05em;
  text-align: center;
  padding: 20px 10px;
}

.fancybox-refund-cvs {
  max-width: 450px;
}
.fancybox-refund-cvs p {
  line-height: 2;
  font-size: 1.05em;
  text-align: center;
  padding: 20px 10px;
}

.fancybox-refund-expired {
  max-width: 450px;
}
.fancybox-refund-expired p {
  line-height: 2;
  font-size: 1.05em;
  text-align: center;
  padding: 20px 10px;
}
.fancybox-refund-expired a {
  color: #2290c6;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
.fancybox-refund-expired a:hover, .fancybox-refund-expired a .on-touch {
  color: #7fbee5;
}

.fancybox-refund-all {
  max-width: 450px;
  min-width: 300px;
}
.fancybox-refund-all p {
  line-height: 2;
  font-size: 1.05em;
  text-align: center;
  padding: 20px 10px;
}
.fancybox-refund-all a {
  color: #2290c6;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
.fancybox-refund-all a:hover, .fancybox-refund-all a .on-touch {
  color: #7fbee5;
}

.fancybox-invoice-winning {
  max-width: 550px;
}
.fancybox-invoice-winning .line {
  margin-bottom: 22px;
}
.fancybox-invoice-winning .line:last-child {
  margin-bottom: 0;
}
.fancybox-invoice-winning h3 {
  font-size: 18px;
  color: #dd0000;
}
.fancybox-invoice-winning .tip {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
}
.fancybox-invoice-winning dl {
  line-height: 1.4;
  padding: 5px 0;
  font-size: 1.1em;
  font-weight: bold;
}
.fancybox-invoice-winning dl dt {
  display: inline-block;
  width: 90px;
  margin-bottom: 5px;
}
.fancybox-invoice-winning dl dd {
  display: inline-block;
}
.fancybox-invoice-winning dl dd input {
  width: 200px;
}
.fancybox-invoice-winning input {
  margin-bottom: 0px !important;
  height: 35px;
}
.fancybox-invoice-winning select {
  height: 35px;
}
.fancybox-invoice-winning .button {
  margin: 5px 10px;
}
.fancybox-invoice-winning p {
  margin-top: 5px;
}
.fancybox-invoice-winning .o-address-detail {
  width: 100%;
  padding-left: 94px;
  margin-top: 10px;
}
.fancybox-invoice-winning .o-address-detail input {
  width: 100%;
}

/*--add edit address cvs list--*/
.fancybox-cvs-add, .fancybox-cvs-edit {
  min-width: 280px;
}

.md-add-address .md-form input {
  width: auto;
  height: 35px;
}
.md-add-address .md-form.md-local-address, .md-add-address .md-form.md-foreign-address {
  display: none;
}
.md-add-address .md-form.md-local-address.is-show, .md-add-address .md-form.md-foreign-address.is-show {
  display: block;
}
.md-add-address .md-form > dd {
  margin: 5px 0;
  display: block;
}
.md-add-address .md-form .label-title {
  width: 180px;
  margin-right: 10px;
  text-align: right;
  display: inline-block;
  vertical-align: 3px;
}
.md-add-address .md-form .input-zip {
  width: 90px;
}
.md-add-address .md-form .go-pickup {
  margin: 0 5px;
}
.md-add-address .md-form .go-pickup:before {
  margin-right: 3px;
  content: "\f0da";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
}
.md-add-address .md-form select {
  height: 35px;
}

.md-add-cvs .md-form input {
  width: auto;
  height: 35px;
}
.md-add-cvs .md-form > dd {
  margin: 5px 0;
  display: block;
}
.md-add-cvs .md-form .label-title {
  width: 100px;
  margin-right: 10px;
  text-align: right;
  display: inline-block;
  vertical-align: 3px;
}
.md-add-cvs .cvs-info {
  display: inline-block;
  max-width: 400px;
  vertical-align: top;
}
.md-add-cvs .button {
  margin-left: -2px;
}

.t-address-switch:before {
  margin-right: 5px;
  content: "\f041";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
}
.t-address-switch.go-foreign-address:before {
  content: "\f0ac";
}

.md-dialog {
  font-size: 14px;
  line-height: 1.5;
}
.md-dialog select {
  margin-bottom: 5px;
}
@media only screen and (max-width: 768px) {
  .md-dialog .md-form input {
    width: 100%;
  }
  .md-dialog .md-form .label-title {
    display: none !important;
  }
  .md-dialog .md-form .label-title.is-show {
    width: auto !important;
    text-align: left !important;
    display: block !important;
  }
}

/*--add address list end--*/
@media only screen and (max-width: 568px) {
  .fancybox-order-shipping .order-item {
    margin: 10px 0 5px;
  }
  .fancybox-order-shipping .order-item li {
    float: none;
    margin-bottom: 10px;
  }
  .fancybox-order-shipping .order-item li:last-child {
    float: none;
  }
  .fancybox-order-shipping .order-item .s-sn {
    width: 18px;
  }
  .fancybox-order-shipping .order-item .s-name {
    width: 100%;
  }
  .fancybox-order-shipping .order-item .s-quantity {
    width: 20%;
  }
  .fancybox-order-shipping .order-state .o-s-time {
    width: 17%;
  }
  .fancybox-order-shipping .order-state .o-s-time span {
    margin-right: 0px;
    margin-bottom: 3px;
    display: block;
  }
  .fancybox-order-shipping .order-state .o-s-place {
    width: 20%;
  }
  .fancybox-order-shipping .order-state .o-s-state {
    width: 63%;
  }

  .fancybox-order-address-change dl dt {
    width: 100%;
  }
  .fancybox-order-address-change dl dd {
    width: 100%;
    margin-bottom: 5px;
  }
  .fancybox-order-address-change dl dd input {
    width: 100%;
  }
  .fancybox-order-address-change .o-address dd {
    width: auto;
  }
  .fancybox-order-address-change .o-address .o-address-detail {
    width: 100%;
  }
  .fancybox-order-address-change .o-address-detail {
    padding-left: 0px;
    margin-top: 5px;
  }

  .fancybox-order-warranty .radio {
    width: 6%;
  }
  .fancybox-order-warranty .sn {
    width: 6%;
  }
  .fancybox-order-warranty .order-name {
    width: 88% !important;
  }
  .fancybox-order-warranty .order-price {
    display: none;
  }

  .fancybox-refund-account dl dt {
    margin-bottom: 5px;
  }

  .fancybox-exchange-bonus .button {
    margin-bottom: 10px;
  }

  .fancybox-invoice-winning dl dt {
    width: 100%;
  }
  .fancybox-invoice-winning dl dd {
    width: 100%;
    margin-bottom: 5px;
  }
  .fancybox-invoice-winning dl dd input {
    width: 100%;
  }
  .fancybox-invoice-winning .o-address dd {
    width: auto;
  }
  .fancybox-invoice-winning .o-address .o-address-detail {
    width: 100%;
  }
  .fancybox-invoice-winning .o-address-detail {
    padding-left: 0px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 425px) {
  .fancybox-order-warranty .radio {
    width: 12% !important;
  }
  .fancybox-order-warranty .sn {
    width: 11% !important;
  }
  .fancybox-order-warranty .order-name {
    width: 76% !important;
  }
}
.icon-search {
  position: relative;
}
.icon-search:before {
  content: ".";
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(../../../../c/img/sth_asap/icon_asap.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (max--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .icon-search:before {
    background-image: url(../../../../c/img/sth_asap/icon_retina_asap.png);
    background-size: 400px 400px;
  }
}
.icon-search:before {
  width: 25px;
  padding-top: 25px;
  background-position: -25px 0px;
  top: 0px;
  left: 0px;
}

.icon-cart {
  position: relative;
}
.icon-cart:before {
  content: ".";
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(../../../../c/img/sth_asap/icon_asap.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (max--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .icon-cart:before {
    background-image: url(../../../../c/img/sth_asap/icon_retina_asap.png);
    background-size: 400px 400px;
  }
}
.icon-cart:before {
  width: 25px;
  padding-top: 25px;
  background-position: -75px 0px;
  top: 0px;
  left: 0px;
}

.icon-close {
  position: relative;
}
.icon-close:before {
  content: ".";
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(../../../../c/img/sth_asap/icon_asap.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (max--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .icon-close:before {
    background-image: url(../../../../c/img/sth_asap/icon_retina_asap.png);
    background-size: 400px 400px;
  }
}
.icon-close:before {
  width: 25px;
  padding-top: 25px;
  background-position: -100px 0px;
  top: 0px;
  left: 0px;
}

.icon-go-top {
  position: relative;
}
.icon-go-top:before {
  content: ".";
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(../../../../c/img/sth_asap/icon_asap.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (max--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .icon-go-top:before {
    background-image: url(../../../../c/img/sth_asap/icon_retina_asap.png);
    background-size: 400px 400px;
  }
}
.icon-go-top:before {
  width: 25px;
  padding-top: 25px;
  background-position: -125px 0px;
  top: 0px;
  left: 0px;
}

[class*="icon-"]:before {
  content: "";
  position: relative;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
}

body {
  -webkit-text-size-adjust: 100%;
}

.hide {
  display: none;
}

.container {
  max-width: 1220px;
  position: relative;
  margin: 0 auto;
}
.container {
  zoom: 1;
}
.container:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.site-body {
  padding-bottom: 40px;
  max-width: 1220px;
  margin: 0 auto;
}
.site-body {
  zoom: 1;
}
.site-body:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

@media only screen and (min-width: 999px) {
  .hidden-desktop {
    display: none !important;
  }
}

body {
  color: #666666;
  background: #f9f9f9;
}

a {
  color: #333333;
}

.title-h3 {
  color: black;
  font-size: 18px;
  margin-bottom: 15px;
  padding: 10px 0;
  font-weight: bold;
}
.title-h3 .sub {
  font-size: 12px;
  color: #2290c6;
  font-style: italic;
  margin-bottom: 5px;
}

.red-text {
  color: #dd0000;
}

input[type='password'], input[type='email'], input[type='tel'], input[type='text'], input[type='number'], input[type='search'], textarea {
  -webkit-appearance: none;
  font-family: 'Heiti TC','微軟正黑體','新細明體','Arial Unicode MS',Arial,Helvetica,sans-serif;
  width: 100%;
  padding: 4px;
  margin: 0 0 10px 0;
  border: 1px solid #dddddd;
  font-size: 0.9em;
  background: white;
  color: black;
}
input[type='password']:focus, input[type='email']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='number']:focus, input[type='search']:focus, textarea:focus {
  outline: none;
}

select {
  background: white;
  color: black;
  padding: 4px;
  border: 1px solid #dddddd;
  margin: 0;
}

.select-style {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0 0 0 6px;
  border: 1px solid #dddddd;
  width: 120px;
  overflow: hidden;
  background-color: white;
  background: white url("../../../../../../c/img/frame/arrowdown.gif") no-repeat 90% 50%;
}

.select-style select {
  color: black;
  padding: 5px 8px;
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-style select:focus {
  outline: none;
}

.input-style {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  border: 1px solid #dddddd;
  overflow: hidden;
  background-color: white;
}

.input-style input {
  color: black;
  padding: 5px 8px;
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.quantity-add {
  position: relative;
}

.quantity-alert {
  position: absolute;
  left: -60px;
  top: -135%;
  background: #2290c6;
  color: white;
  border: 1px solid #2290c6;
  font-size: 12px;
  line-height: 1;
  padding: 10px 5px;
  white-space: nowrap;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.quantity-alert:after {
  position: absolute;
  bottom: -30%;
  left: 45%;
  content: '';
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #dd0000 transparent transparent transparent;
}

.quantity {
  display: inline-block;
  font-size: 0;
}
.quantity {
  zoom: 1;
}
.quantity:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.quantity.small .quantity-input {
  height: 22px;
  width: 24px;
  font-size: 12px;
}
.quantity.small .quantity-decrease, .quantity.small .quantity-increase {
  padding: 2px 4px;
  width: 20px;
}
.quantity .quantity-input {
  line-height: 1;
  width: 36px;
  height: 32px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 12px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-right: 0;
  border-left: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}
.quantity .quantity-decrease {
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  padding: 7px;
  font-size: 16px;
  border: 1px solid #dddddd;
  width: 28px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.quantity .quantity-increase {
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  padding: 7px;
  font-size: 16px;
  border: 1px solid #dddddd;
  width: 28px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav-to-top {
  position: fixed;
  bottom: 200px;
  right: -42px;
  padding: 10px 11px 8px 14px;
  text-align: center;
  border: 1px solid #dddddd;
  border-right: none;
  font-size: 12px;
  color: #333333;
  z-index: 10;
  cursor: pointer;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#efefef));
  background-image: -webkit-linear-gradient(top, white, #efefef);
  background-image: -moz-linear-gradient(top, white, #efefef);
  background-image: -ms-linear-gradient(top, white, #efefef);
  background-image: -o-linear-gradient(top, white, #efefef);
  background-image: linear-gradient(top bottom, #ffffff, #efefef);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
  -webkit-box-shadow: -1px 0 2px 0px rgba(127, 127, 127, 0.2);
  -moz-box-shadow: -1px 0 2px 0px rgba(127, 127, 127, 0.2);
  box-shadow: -1px 0 2px 0px rgba(127, 127, 127, 0.2);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.nav-to-top .fa {
  font-size: 22px;
}
.nav-to-top.show {
  right: 0px;
  opacity: 0.9;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
}
.nav-to-top:hover {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  background-color: #efefef;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(white));
  background-image: -webkit-linear-gradient(top, #efefef, white);
  background-image: -moz-linear-gradient(top, #efefef, white);
  background-image: -ms-linear-gradient(top, #efefef, white);
  background-image: -o-linear-gradient(top, #efefef, white);
  background-image: linear-gradient(top bottom, #efefef, #ffffff);
}
.nav-to-top:hover .fa {
  color: #2290c6;
}

.nav-breadcrumbs .container {
  padding: 0px 0 7px 0;
  line-height: 1.5;
  font-size: 0.93em;
}
.nav-breadcrumbs .fa {
  margin-right: 8px;
}
.nav-breadcrumbs .index {
  position: relative;
  font-weight: bold;
}
.nav-breadcrumbs .cate {
  display: inline-block;
}
.nav-breadcrumbs .locate {
  margin-left: 20px;
}
@media only screen and (max-width: 1241px) {
  .nav-breadcrumbs {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 568px) {
  .nav-breadcrumbs {
    font-size: 0.95em;
  }
}

.tag-status {
  font-size: 12px;
  line-height: 1.44;
  letter-spacing: normal;
  font-weight: bold;
  padding: 0 5px;
  border: 1px solid;
  background: white;
  display: inline-block;
}
.tag-status.is-odd {
  border-color: #53c6db;
  color: #53c6db;
}
.tag-status.is-preorder {
  border-color: #ffc107;
  color: #ffc107;
}
.tag-status.is-imported {
  border-color: #7caa18;
  color: #7caa18;
}
.tag-status.is-uitox-delivery {
  border-color: #f27ba3;
  color: #f27ba3;
}
.tag-status.is-vendor-delivery {
  border-color: #a48fbb;
  color: #a48fbb;
}
.tag-status.is-separate-delivery {
  border-color: #4498c8;
  color: #4498c8;
}
.tag-status.is-max-purchase {
  border-color: #7b8ea2;
  color: #7b8ea2;
}

.site-header {
  position: relative;
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 12px;
}
.site-header {
  zoom: 1;
}
.site-header:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.site-header > .container {
  margin-bottom: 19px;
}
.site-header > .container {
  zoom: 1;
}
.site-header > .container:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.site-header .logo {
  float: left;
  width: 48%;
  margin-top: 23px;
  margin-right: 2%;
  display: block;
}
.site-header .logo {
  zoom: 1;
}
.site-header .logo:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.site-header .logo img {
  float: left;
  height: 30px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
.site-header .logo h1 {
  float: left;
  margin: 4px 0 0 10px;
  font-size: 22px;
  color: #000;
  font-weight: bold;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
.site-header .top-msg {
  float: right;
  width: 50%;
  padding-top: 20px;
  font-size: 0.9em;
}
.site-header .top-msg li {
  margin-bottom: 10px;
}
.site-header .top-msg li:last-child {
  margin-bottom: 0;
}
.site-header .top-msg li {
  zoom: 1;
}
.site-header .top-msg li:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.site-header .top-msg a {
  color: #2290c6;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
.site-header .top-msg a:hover, .site-header .top-msg a:active {
  color: #7fbee5;
}
.site-header .top-msg .top-msg-content {
  width: 93%;
  display: block;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.site-header .top-msg .more {
  width: 7%;
  display: block;
  float: left;
}

.site-topbar {
  padding: 7px 0 0 0;
  background: #f7f7f7;
  border-bottom: 1px solid #cccccc;
  width: 100%;
  min-height: 40px;
  top: 0;
  z-index: 999;
}
.site-topbar {
  zoom: 1;
}
.site-topbar:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.site-topbar a:hover, .site-topbar a:active {
  color: #bbbbbb;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.site-topbar .nav-other {
  float: left;
  margin-top: 2px;
}
.site-topbar .nav-other {
  zoom: 1;
}
.site-topbar .nav-other:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.site-topbar .nav-other > li {
  float: left;
  font-size: 0.85em;
  padding-top: 4px;
}
.site-topbar .nav-other > li a {
  padding: 8px 6px;
}
.site-topbar .nav-other > li:after {
  content: "|";
  margin-left: 10px;
  color: #cccccc;
}
.site-topbar .nav-other > li:last-child:after {
  content: "";
  margin-left: 0;
}
.site-topbar .nav-other > li.back-account {
  font-weight: bold;
}
.site-topbar .nav-other > li.back-account a {
  color: #2290c6;
}
.site-topbar .nav-other > li.back-account a:hover, .site-topbar .nav-other > li.back-account a:active {
  color: #7fbee5;
}

@media only screen and (max-width: 1241px) {
  .site-header {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 768px) {
  .site-header .logo {
    float: none;
    width: 100%;
  }
  .site-header .top-msg {
    float: none;
    width: 100%;
  }

  .site-topbar .link-pw {
    display: none;
  }
  .site-topbar .link-eccode {
    display: none;
  }
  .site-topbar .link-order-edm {
    display: none;
  }
}
@media only screen and (max-width: 568px) {
  .site-header > .container {
    margin-bottom: 10px;
  }
  .site-header .logo {
    margin-top: 15px;
    margin-right: 15px;
  }
  .site-header .logo img {
    height: 22px;
  }
  .site-header .logo h1 {
    margin: 4px 0 0 10px;
    font-size: 15px;
  }
  .site-header .top-msg {
    padding-top: 15px;
  }
  .site-header .top-msg .top-msg-content {
    width: 90%;
  }
  .site-header .top-msg .more {
    width: 10%;
  }

  .site-topbar .link-order-list {
    display: none;
  }
  .site-topbar .link-bonus {
    display: none;
  }
  .site-topbar .link-bonus-exchange {
    display: none;
  }
  .site-topbar .link-address {
    display: none;
  }
  .site-topbar .link-follow {
    display: none;
  }
}
@media only screen and (max-width: 320px) {
  .orderlist_001 .o-list-top-l .o-list-arrow {
    font-size: 25px;
    top: 39%;
  }
}
.nav-user {
  float: right;
  margin-top: 2px;
  margin-bottom: 8px;
  visibility: hidden;
}
.nav-user > ul {
  zoom: 1;
}
.nav-user > ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.nav-user > ul > li {
  float: left;
  font-size: 0.75em;
  padding-top: 6px;
}
.nav-user > ul > li a {
  padding: 8px 9px;
}
.nav-user > ul > li:after {
  content: "|";
  color: #cccccc;
}
.nav-user > ul > li:last-child:after {
  content: "";
  margin-left: 0;
}
.nav-user > ul .link-invoices-win a {
  color: #dd0000;
}
.nav-user .account {
  display: inline-block;
  margin-right: 10px;
}

.copyright_001 {
  padding-top: 30px;
  text-align: right;
  margin-bottom: 10px;
  font-size: 0.75em;
  line-height: 1.5;
  word-break: break-word;
  word-wrap: break-word;
}
.copyright_001 .service {
  margin-right: 10px;
  font-weight: bold;
}
.copyright_001 a {
  text-decoration: underline;
  margin-left: 10px;
}

.u_copyright {
  padding: 10px 0 20px;
  text-align: right;
  font-size: 0.75em;
}

@media screen and (max-width: 1241px) {
  .copyright_001, .u_copyright {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 567px) {
  .copyright_001 a {
    display: block;
  }
}
