.refund_finish_001 a {
  color: #2290c6;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
.refund_finish_001 a:hover, .refund_finish_001 a:active, .refund_finish_001 a .on-touch {
  color: #7fbee5;
}
.refund_finish_001 .order-list-block {
  position: relative;
  width: 100%;
  height: auto;
  color: #666666;
  padding: 20px 50px;
  margin-bottom: 30px;
  top: 0px;
  background: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px 1px #dddddd;
  -moz-box-shadow: 0 1px 2px 1px #dddddd;
  box-shadow: 0 1px 2px 1px #dddddd;
}
.refund_finish_001 .order-list-block:first-child {
  margin-top: 5px;
}
.refund_finish_001 .order-list-block {
  zoom: 1;
}
.refund_finish_001 .order-list-block:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.refund_finish_001 .o-top-title {
  line-height: 1.5;
  color: black;
  margin-bottom: 10px;
}
.refund_finish_001 .o-top-title h3 {
  font-size: 0.95em;
  margin-bottom: 5px;
}
.refund_finish_001 .o-top-title h2 {
  font-size: 1em;
  font-weight: bold;
  color: #dd0000;
}
.refund_finish_001 .o-top-title a {
  display: inline-block;
}
.refund_finish_001 .o-r-title {
  font-size: 1em;
  line-height: 1.5;
  color: black;
  font-weight: bold;
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-left: -32px;
  border-bottom: 1px solid #dddddd;
}
.refund_finish_001 .refund-info {
  width: 100%;
  padding-top: 15px;
  padding-left: 32px;
  margin-bottom: 10px;
  font-weight: bold;
}
.refund_finish_001 .refund-info p {
  margin-bottom: 10px;
  font-size: 0.93em;
  line-height: 1.7;
}
.refund_finish_001 .refund-info a {
  margin: 0 6px;
}
.refund_finish_001 .refund-info .red {
  color: #dd0000;
}
.refund_finish_001 .refund-info li {
  font-size: 0.93em;
  line-height: 1.7;
  margin-bottom: 5px;
}
.refund_finish_001 .refund-form-content {
  width: 60%;
  max-width: 720px;
  padding: 15px 20px;
  border: 1px solid #CDCDCD;
  margin: 0px auto 20px auto;
  line-height: 1.4;
  -webkit-box-shadow: 0 1px 4px 2px #cccccc;
  -moz-box-shadow: 0 1px 4px 2px #cccccc;
  box-shadow: 0 1px 4px 2px #cccccc;
}
.refund_finish_001 .refund-form-content h3 {
  color: white;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  background: #0066a0;
  padding: 5px 5px;
  width: 100%;
}
.refund_finish_001 .refund-form-content h2 {
  color: #333333;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 15px;
}
.refund_finish_001 .refund-form-content h4 {
  color: #666666;
  font-size: 1em;
  text-align: center;
}
.refund_finish_001 .refund-form-content .r-form-data {
  border: 1px solid #dddddd;
  color: #666666;
  padding: 15px;
  margin: 15px 0;
}
.refund_finish_001 .refund-form-content .r-form-data {
  zoom: 1;
}
.refund_finish_001 .refund-form-content .r-form-data:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.refund_finish_001 .refund-form-content li {
  float: left;
}
.refund_finish_001 .refund-form-content .r-form-title {
  width: 9%;
  margin-right: 1%;
  margin-bottom: 20px;
  display: block;
  font-weight: bold;
}
.refund_finish_001 .refund-form-content .r-form-detail {
  width: 90%;
  margin-bottom: 0px;
}
.refund_finish_001 .refund-form-content dl {
  margin-bottom: 10px;
  display: block;
}
.refund_finish_001 .refund-form-content dl {
  zoom: 1;
}
.refund_finish_001 .refund-form-content dl:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.refund_finish_001 .refund-form-content dl:last-child {
  margin-bottom: 0;
}
.refund_finish_001 .refund-form-content dt {
  float: left;
  width: 10%;
  margin-right: 1%;
  display: block;
}
.refund_finish_001 .refund-form-content dd {
  float: left;
  width: 89%;
}
.refund_finish_001 .refund-actions {
  width: 100%;
  text-align: center;
  margin: 25px 0;
}
.refund_finish_001 .refund-actions .button {
  margin: 0 20px;
}
.refund_finish_001 .refund-actions .button:hover, .refund_finish_001 .refund-actions .button:active, .refund_finish_001 .refund-actions .button .on-touch {
  color: white;
}
@media only screen and (max-width: 1241px) {
  .refund_finish_001 {
    padding: 0 15px;
  }
  .refund_finish_001 .refund-form-content {
    width: 67%;
  }
  .refund_finish_001 .refund-form-content .r-form-title {
    width: 10%;
  }
  .refund_finish_001 .refund-form-content .r-form-detail {
    width: 89%;
  }
  .refund_finish_001 .refund-form-content dt {
    width: 11%;
  }
  .refund_finish_001 .refund-form-content dd {
    width: 88%;
  }
}
@media only screen and (max-width: 1000px) {
  .refund_finish_001 .order-list-block {
    padding: 15px 15px;
  }
  .refund_finish_001 .order-list-top {
    margin-left: 2px;
  }
  .refund_finish_001 .o-list-top-l {
    margin-right: 30px;
  }
  .refund_finish_001 .order-list .order-sn {
    width: 2.5%;
  }
  .refund_finish_001 .order-list .order-name {
    width: 46.5%;
  }
  .refund_finish_001 .order-list h4.order-name {
    margin-left: 3.5%;
  }
  .refund_finish_001 .order-list .order-list-r {
    width: 48%;
  }
  .refund_finish_001 .order-list .order-price {
    width: 29%;
  }
  .refund_finish_001 .order-list .order-returned {
    width: 55%;
  }
  .refund_finish_001 .refund-form-content {
    width: 70%;
  }
  .refund_finish_001 .refund-form-content .r-form-title {
    width: 12%;
    margin-right: 1%;
  }
  .refund_finish_001 .refund-form-content .r-form-detail {
    width: 87%;
  }
  .refund_finish_001 .refund-form-content dl {
    margin-bottom: 10px;
  }
  .refund_finish_001 .refund-form-content dt {
    width: 14%;
  }
  .refund_finish_001 .refund-form-content dd {
    width: 85%;
  }
}
@media only screen and (max-width: 768px) {
  .refund_finish_001 .order-list-top {
    margin-left: 5px;
  }
  .refund_finish_001 .o-list-top-r {
    float: left;
    width: 100%;
    text-align: left;
  }
  .refund_finish_001 .o-list-top-l {
    width: 100%;
  }
  .refund_finish_001 .o-list-top-m {
    width: 100%;
  }
  .refund_finish_001 .refund-process-block {
    width: 100%;
    margin-right: 0;
  }
  .refund_finish_001 .refund-help {
    width: 100%;
    padding-top: 25px;
  }
  .refund_finish_001 .order-list .order-list-content.fee .order-sn {
    display: none;
  }
  .refund_finish_001 .order-list .order-list-content.fee .order-name {
    width: 54%;
    margin-right: 1%;
  }
  .refund_finish_001 .order-list .order-list-content.fee .order-list-r {
    width: 45%;
    margin-top: 0;
  }
  .refund_finish_001 .order-list .order-sn {
    width: 3%;
    margin-right: 1%;
  }
  .refund_finish_001 .order-list .order-name {
    width: 74%;
    margin-right: 0;
    margin-top: -3px;
    font-size: 1em;
    line-height: 1.5;
  }
  .refund_finish_001 .order-list h4.order-name {
    margin-left: 0%;
  }
  .refund_finish_001 .order-list .order-list-r {
    width: 33%;
    margin-top: 10px;
  }
  .refund_finish_001 .order-list .order-list-r li {
    font-size: 0.95em;
    margin-right: 5%;
  }
  .refund_finish_001 .order-list .order-quantity {
    width: 23%;
  }
  .refund_finish_001 .order-list .order-price {
    width: 72%;
    margin-right: 0 !important;
  }
  .refund_finish_001 .order-list .order-returned {
    display: none;
  }
  .refund_finish_001 .o-r-title {
    margin-left: 0px;
  }
  .refund_finish_001 .refund-info {
    padding-left: 0px;
  }
  .refund_finish_001 .refund-form-content {
    width: 90%;
  }
  .refund_finish_001 .refund-form-content .r-form-title {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .refund_finish_001 .refund-form-content .r-form-detail {
    width: 100%;
  }
  .refund_finish_001 .refund-form-content dl {
    margin-bottom: 15px;
  }
  .refund_finish_001 .refund-form-content dt {
    width: 13%;
    margin-right: 1%;
  }
  .refund_finish_001 .refund-form-content dd {
    width: 86%;
  }
}
@media only screen and (max-width: 568px) {
  .refund_finish_001 .o-top-title a {
    font-size: 100%;
  }
  .refund_finish_001 .order-list-top {
    margin-left: 5px;
  }
  .refund_finish_001 .order-list-top .refund-bonus {
    display: none;
  }
  .refund_finish_001 .o-list-top-m {
    width: 100%;
  }
  .refund_finish_001 .refund-process-content {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .refund_finish_001 .refund-process-content .refund-check {
    width: 8%;
  }
  .refund_finish_001 .refund-process-content .refund-p-list {
    width: 38%;
  }
  .refund_finish_001 .refund-process-content .refund-p-result {
    width: 48%;
  }
  .refund_finish_001 .refund-process-tips {
    width: 100%;
    padding: 6px 5px;
    line-height: 1.4;
  }
  .refund_finish_001 .order-list .order-sn {
    width: 7%;
    margin-right: 1%;
  }
  .refund_finish_001 .order-list .order-name {
    width: 92%;
    margin-right: 0;
  }
  .refund_finish_001 .order-list .order-list-r {
    width: 65%;
  }
  .refund_finish_001 .order-list .order-quantity {
    width: 25%;
  }
  .refund_finish_001 .order-list .order-price {
    width: 70%;
  }
  .refund_finish_001 .refund-form-content h2 {
    font-size: 1.3em;
  }
  .refund_finish_001 .refund-form-content dt {
    width: 100%;
    margin-bottom: 0px;
  }
  .refund_finish_001 .refund-form-content dd {
    width: 100%;
  }
  .refund_finish_001 .refund-actions .button {
    margin: 5px 10px;
  }
}
