.refund_state_001 a {
  color: #2290c6;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
.refund_state_001 a:hover, .refund_state_001 a:active, .refund_state_001 a .on-touch {
  color: #7fbee5;
}
.refund_state_001 .order-list-block {
  position: relative;
  width: 100%;
  height: auto;
  color: #666666;
  padding: 12px 15px;
  margin-bottom: 30px;
  top: 0px;
  background: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px 1px #dddddd;
  -moz-box-shadow: 0 1px 2px 1px #dddddd;
  box-shadow: 0 1px 2px 1px #dddddd;
}
.refund_state_001 .order-list-block:first-child {
  margin-top: 5px;
}
.refund_state_001 .order-list-block {
  zoom: 1;
}
.refund_state_001 .order-list-block:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.refund_state_001 .order-list-top {
  width: 100%;
  margin: 0px 0px 15px 0px;
  padding: 3px 0px;
  position: relative;
  color: #666666;
}
.refund_state_001 .order-list-top {
  zoom: 1;
}
.refund_state_001 .order-list-top:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.refund_state_001 .o-list-top-l {
  float: left;
  position: relative;
  margin-right: 125px;
  font-size: 0.85em;
  line-height: 1.4;
}
.refund_state_001 .o-list-top-l li {
  padding-bottom: 6px;
}
.refund_state_001 .o-list-top-m {
  float: left;
  position: relative;
  font-size: 0.85em;
  line-height: 1.4;
}
.refund_state_001 .o-list-top-m li {
  padding-bottom: 6px;
}
.refund_state_001 .o-list-top-m li:last-child {
  padding-bottom: 0;
}
.refund_state_001 .o-list-top-m .refund-price {
  color: #dd0000;
  font-weight: bold;
  margin-right: 5px;
}
.refund_state_001 .o-list-top-r {
  float: right;
  text-align: right;
  padding-right: 2px;
  font-size: 0.85em;
  line-height: 1.4;
}
.refund_state_001 .o-list-top-r li {
  padding-bottom: 6px;
}
.refund_state_001 .o-list-top-r li:last-child {
  padding-bottom: 0;
}
.refund_state_001 .refund-process {
  position: relative;
  width: 100%;
  height: auto;
  color: #666666;
  margin-bottom: 25px;
}
.refund_state_001 .refund-process {
  zoom: 1;
}
.refund_state_001 .refund-process:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.refund_state_001 .refund-process-block {
  float: left;
  position: relative;
  width: 75%;
  padding: 15px;
  margin-right: 1%;
  background: #f9f9f9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px 1px #dddddd;
  -moz-box-shadow: 0 1px 2px 1px #dddddd;
  box-shadow: 0 1px 2px 1px #dddddd;
}
.refund_state_001 .refund-process-block {
  zoom: 1;
}
.refund_state_001 .refund-process-block:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.refund_state_001 .refund-process-content {
  float: left;
  width: 67%;
  margin-right: 3%;
}
.refund_state_001 .refund-process-content ul {
  margin-bottom: 10px;
}
.refund_state_001 .refund-process-content ul:last-child {
  margin-bottom: 0;
}
.refund_state_001 .refund-process-content ul {
  zoom: 1;
}
.refund_state_001 .refund-process-content ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.refund_state_001 .refund-process-content ul li {
  float: left;
  margin-right: 3%;
  line-height: 1.4;
  min-height: 20px;
}
.refund_state_001 .refund-process-content ul li:last-child {
  margin-right: 0;
}
.refund_state_001 .refund-process-content .refund-check {
  width: 5%;
  color: #dd0000;
}
.refund_state_001 .refund-process-content .refund-p-list {
  width: 40%;
}
.refund_state_001 .refund-process-content .refund-p-result {
  width: 49%;
}
.refund_state_001 .refund-process-content .r-date {
  color: #dd0000;
}
.refund_state_001 .refund-process-tips {
  float: left;
  width: 30%;
  padding: 25px 5px;
  color: white;
  line-height: 1.6;
  text-align: center;
  background: #7fbee5;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.refund_state_001 .refund-help {
  float: left;
  width: 24%;
  text-align: center;
  padding-top: 85px;
  font-size: 1em;
}
.refund_state_001 .refund-help a {
  text-align: center;
  margin: 0 6%;
}
.refund_state_001 .o-r-title {
  font-size: 1em;
  line-height: 1.5;
  color: black;
  font-weight: bold;
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid #dddddd;
}
.refund_state_001 .order-list {
  width: 100%;
  margin-bottom: 10px;
}
.refund_state_001 .order-list {
  zoom: 1;
}
.refund_state_001 .order-list:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.refund_state_001 .order-list .order-list-content {
  margin-bottom: 15px;
}
.refund_state_001 .order-list .order-list-content {
  zoom: 1;
}
.refund_state_001 .order-list .order-list-content:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.refund_state_001 .order-list .order-list-content:last-child {
  border-bottom: none;
}
.refund_state_001 .order-list .order-sn, .refund_state_001 .order-list .order-name, .refund_state_001 .order-list .order-list-r li {
  float: left;
  min-height: 20px;
  line-height: 1.5;
  font-size: 0.8em;
}
.refund_state_001 .order-list .order-sn {
  width: 2%;
  margin-right: 1%;
}
.refund_state_001 .order-list .order-name {
  width: 55%;
  margin-right: 2%;
  margin-top: -1px;
  font-weight: bold;
  font-size: 0.93em;
  color: #333333;
}
.refund_state_001 .order-list h4.order-name {
  margin-left: 3%;
}
.refund_state_001 .order-list .order-list-r {
  width: 40%;
  float: right;
}
.refund_state_001 .order-list .order-list-r {
  zoom: 1;
}
.refund_state_001 .order-list .order-list-r:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.refund_state_001 .order-list .order-list-r li {
  margin-right: 3%;
  margin-bottom: 3px;
}
.refund_state_001 .order-list .order-quantity {
  width: 10%;
  text-align: right;
}
.refund_state_001 .order-list .order-price {
  width: 27%;
  text-align: right;
  font-weight: bold;
}
.refund_state_001 .order-list .order-returned {
  width: 56%;
  margin-right: 0 !important;
  text-align: left;
}
.refund_state_001 .refund-info {
  width: 100%;
  padding-top: 15px;
  margin-bottom: 10px;
  font-weight: bold;
}
.refund_state_001 .refund-info p {
  margin-bottom: 15px;
  font-size: 0.93em;
  line-height: 1.7;
}
.refund_state_001 .refund-info a {
  margin: 0 6px;
}
.refund_state_001 .group .order-name {
  color: #999999;
}
.refund_state_001 .group .order-list-add .order-name {
  padding-left: 13px;
  color: #333333;
}
.refund_state_001 .order-list-add {
  clear: both;
  width: 100%;
  padding-top: 15px;
  position: relative;
}
.refund_state_001 .order-list-add {
  zoom: 1;
}
.refund_state_001 .order-list-add:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.refund_state_001 .order-list-add .red {
  color: #dd0000;
}
.refund_state_001 .refund-form-content {
  width: 60%;
  max-width: 720px;
  padding: 15px 20px;
  border: 1px solid #CDCDCD;
  margin: 10px auto 0px auto;
  line-height: 1.4;
  -webkit-box-shadow: 0 1px 4px 2px #cccccc;
  -moz-box-shadow: 0 1px 4px 2px #cccccc;
  box-shadow: 0 1px 4px 2px #cccccc;
}
.refund_state_001 .refund-form-content h3 {
  color: white;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  background: #0066a0;
  padding: 5px 5px;
  width: 100%;
}
.refund_state_001 .refund-form-content h2 {
  color: #333333;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 10px;
}
.refund_state_001 .refund-form-content h4 {
  color: #666666;
  font-size: 1em;
  text-align: center;
}
.refund_state_001 .refund-form-content .r-form-data {
  border: 1px solid #dddddd;
  color: #666666;
  padding: 15px;
  margin: 15px 0;
  font-size: 0.95em;
}
.refund_state_001 .refund-form-content .r-form-data {
  zoom: 1;
}
.refund_state_001 .refund-form-content .r-form-data:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.refund_state_001 .refund-form-content li {
  float: left;
}
.refund_state_001 .refund-form-content .r-form-title {
  width: 9%;
  margin-right: 1%;
  margin-bottom: 20px;
  display: block;
  font-weight: bold;
}
.refund_state_001 .refund-form-content .r-form-detail {
  width: 90%;
}
.refund_state_001 .refund-form-content dl {
  margin-bottom: 10px;
  display: block;
}
.refund_state_001 .refund-form-content dl {
  zoom: 1;
}
.refund_state_001 .refund-form-content dl:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.refund_state_001 .refund-form-content dl:last-child {
  margin-bottom: 0;
}
.refund_state_001 .refund-form-content dt {
  float: left;
  width: 10%;
  margin-right: 1%;
  display: block;
}
.refund_state_001 .refund-form-content dd {
  float: left;
  width: 89%;
}
.refund_state_001 .refund-actions {
  width: 100%;
  text-align: center;
  padding-top: 5px;
}
.refund_state_001 .refund-actions .button {
  margin: 0 20px;
}
.refund_state_001 .refund-actions .button:hover, .refund_state_001 .refund-actions .button:active, .refund_state_001 .refund-actions .button .on-touch {
  color: white;
}
@media only screen and (max-width: 1241px) {
  .refund_state_001 {
    padding: 0 15px;
  }
  .refund_state_001 .refund-form-content {
    width: 67%;
  }
  .refund_state_001 .refund-form-content .r-form-title {
    width: 10%;
  }
  .refund_state_001 .refund-form-content .r-form-detail {
    width: 89%;
  }
  .refund_state_001 .refund-form-content dt {
    width: 11%;
  }
  .refund_state_001 .refund-form-content dd {
    width: 88%;
  }
}
@media only screen and (max-width: 1000px) {
  .refund_state_001 .order-list-block {
    padding: 15px 15px;
  }
  .refund_state_001 .order-list-top {
    margin-left: 2px;
  }
  .refund_state_001 .o-list-top-l {
    margin-right: 30px;
  }
  .refund_state_001 .refund-process {
    margin-bottom: 10px;
  }
  .refund_state_001 .refund-process-block {
    width: 100%;
    margin-right: 0;
  }
  .refund_state_001 .refund-help {
    width: 100%;
    padding-top: 20px;
    font-size: 0.95em;
    text-align: right;
  }
  .refund_state_001 .refund-help a {
    margin: 0;
  }
  .refund_state_001 .order-list .order-sn {
    width: 2.5%;
  }
  .refund_state_001 .order-list .order-name {
    width: 46.5%;
  }
  .refund_state_001 .order-list h4.order-name {
    margin-left: 3.5%;
  }
  .refund_state_001 .order-list .order-list-r {
    width: 48%;
  }
  .refund_state_001 .order-list .order-price {
    width: 29%;
  }
  .refund_state_001 .order-list .order-returned {
    width: 55%;
  }
  .refund_state_001 .refund-form-content {
    width: 70%;
  }
  .refund_state_001 .refund-form-content .r-form-title {
    width: 12%;
    margin-right: 1%;
  }
  .refund_state_001 .refund-form-content .r-form-detail {
    width: 87%;
  }
  .refund_state_001 .refund-form-content dl {
    margin-bottom: 10px;
  }
  .refund_state_001 .refund-form-content dt {
    width: 14%;
  }
  .refund_state_001 .refund-form-content dd {
    width: 85%;
  }
}
@media only screen and (max-width: 768px) {
  .refund_state_001 .order-list-top {
    margin-left: 5px;
  }
  .refund_state_001 .o-list-top-r {
    float: left;
    width: 100%;
    text-align: left;
  }
  .refund_state_001 .o-list-top-r li:last-child {
    padding-bottom: 6px;
  }
  .refund_state_001 .o-list-top-l {
    width: 100%;
  }
  .refund_state_001 .o-list-top-m {
    width: 100%;
  }
  .refund_state_001 .order-list .order-list-content.fee .order-sn {
    display: none;
  }
  .refund_state_001 .order-list .order-list-content.fee .order-name {
    width: 54%;
    margin-right: 1%;
  }
  .refund_state_001 .order-list .order-list-content.fee .order-list-r {
    width: 45%;
    margin-top: 0;
  }
  .refund_state_001 .order-list .order-sn {
    width: 3%;
    margin-right: 1%;
  }
  .refund_state_001 .order-list .order-name {
    width: 74%;
    margin-right: 0;
    margin-top: -3px;
    font-size: 1em;
    line-height: 1.5;
  }
  .refund_state_001 .order-list h4.order-name {
    margin-left: 0%;
  }
  .refund_state_001 .order-list .order-list-r {
    width: 33%;
    margin-top: 10px;
  }
  .refund_state_001 .order-list .order-list-r li {
    font-size: 0.95em;
    margin-right: 5%;
  }
  .refund_state_001 .order-list .order-quantity {
    width: 23%;
  }
  .refund_state_001 .order-list .order-price {
    width: 72%;
    margin-right: 0 !important;
  }
  .refund_state_001 .order-list .order-returned {
    display: none;
  }
  .refund_state_001 .refund-form-content {
    width: 90%;
  }
  .refund_state_001 .refund-form-content .r-form-title {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .refund_state_001 .refund-form-content .r-form-detail {
    width: 100%;
  }
  .refund_state_001 .refund-form-content dl {
    margin-bottom: 15px;
  }
  .refund_state_001 .refund-form-content dt {
    width: 13%;
    margin-right: 1%;
  }
  .refund_state_001 .refund-form-content dd {
    width: 86%;
  }
}
@media only screen and (max-width: 568px) {
  .refund_state_001 .order-list-top {
    margin-left: 5px;
  }
  .refund_state_001 .o-list-top-l {
    font-size: 0.95em;
  }
  .refund_state_001 .o-list-top-m {
    width: 100%;
    font-size: 0.95em;
  }
  .refund_state_001 .o-list-top-r {
    font-size: 0.95em;
  }
  .refund_state_001 .refund-process-content {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .refund_state_001 .refund-process-content .refund-check {
    width: 8%;
  }
  .refund_state_001 .refund-process-content .refund-p-list {
    width: 38%;
  }
  .refund_state_001 .refund-process-content .refund-p-result {
    width: 48%;
  }
  .refund_state_001 .refund-process-tips {
    width: 100%;
    padding: 6px 5px;
    line-height: 1.4;
  }
  .refund_state_001 .order-list .order-sn {
    width: 7%;
    margin-right: 1%;
  }
  .refund_state_001 .order-list .order-name {
    width: 92%;
    margin-right: 0;
  }
  .refund_state_001 .order-list .order-list-r {
    width: 65%;
  }
  .refund_state_001 .order-list .order-quantity {
    width: 25%;
  }
  .refund_state_001 .order-list .order-price {
    width: 70%;
  }
  .refund_state_001 .group .order-list-add .order-name {
    padding-left: 13px;
  }
  .refund_state_001 .refund-form-content h2 {
    font-size: 1.3em;
  }
  .refund_state_001 .refund-form-content dt {
    width: 100%;
    margin-bottom: 0px;
  }
  .refund_state_001 .refund-form-content dd {
    width: 100%;
  }
}
