.orderdetail_001 {
  margin-top: 20px;
}
.orderdetail_001 a {
  color: #2290c6;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
.orderdetail_001 a:hover, .orderdetail_001 a:active, .orderdetail_001 a .on-touch {
  color: #7fbee5;
}
.orderdetail_001 .order-list-block {
  position: relative;
  width: 100%;
  height: auto;
  color: #666666;
  padding: 12px 15px;
  margin-bottom: 30px;
  top: 0px;
  background: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px 1px #dddddd;
  -moz-box-shadow: 0 1px 2px 1px #dddddd;
  box-shadow: 0 1px 2px 1px #dddddd;
}
.orderdetail_001 .order-list-block:first-child {
  margin-top: 5px;
}
.orderdetail_001 .order-list-block {
  zoom: 1;
}
.orderdetail_001 .order-list-block:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.orderdetail_001 .order-list-top {
  width: 100%;
  margin: 0px 0px 15px 0px;
  padding: 5px 0px;
  position: relative;
  color: #999999;
}
.orderdetail_001 .order-list-top {
  zoom: 1;
}
.orderdetail_001 .order-list-top:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.orderdetail_001 .o-list-top-l {
  float: left;
  position: relative;
  font-size: 0.9em;
  line-height: 1.4;
}
.orderdetail_001 .o-list-top-l li {
  padding-bottom: 6px;
}
.orderdetail_001 .o-list-top-l li:last-child {
  padding-bottom: 0;
}
.orderdetail_001 .order-address a {
  margin-left: 10px;
}
.orderdetail_001 .o-list-top-r {
  float: right;
  text-align: right;
  font-size: 0.85em;
  line-height: 1.4;
}
.orderdetail_001 .o-list-top-menu {
  position: absolute;
  text-align: right;
  font-size: 0.85em;
  right: 0;
  top: -40px;
}
.orderdetail_001 .o-list-top-menu a {
  margin-left: 20px;
}
.orderdetail_001 .order-list {
  width: 100%;
}
.orderdetail_001 .order-list {
  zoom: 1;
}
.orderdetail_001 .order-list:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.orderdetail_001 .order-list .order-list-content {
  margin-bottom: 15px;
  padding: 0 0px 15px;
  border-bottom: 1px dashed #dddddd;
}
.orderdetail_001 .order-list .order-list-content {
  zoom: 1;
}
.orderdetail_001 .order-list .order-list-content:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.orderdetail_001 .order-list .order-list-content:last-child {
  border-bottom: none;
}
.orderdetail_001 .order-list .fee .order-list-content {
  border-bottom: none;
  padding-bottom: 0;
}
.orderdetail_001 .order-list .fee .order-price {
  float: right;
}
.orderdetail_001 .order-list .fee h3 {
  margin-left: 3%;
}
.orderdetail_001 .order-list .shipping-fee {
  border-top: 1px solid #dddddd;
  padding-top: 15px;
}
.orderdetail_001 .order-list .shipping-fee .order-list-content {
  border-bottom: none;
  padding-bottom: 0;
}
.orderdetail_001 .order-list .shipping-fee .order-price {
  float: right;
}
.orderdetail_001 .order-list .shipping-fee h3 {
  margin-left: 3%;
}
.orderdetail_001 .order-list .order-tax {
  border-top: 1px solid #dddddd;
  padding-top: 15px;
}
.orderdetail_001 .order-list .order-tax .order-list-content {
  border-bottom: none;
  padding-bottom: 0;
}
.orderdetail_001 .order-list .order-tax .order-name {
  text-align: right;
  width: 83%;
}
.orderdetail_001 .order-list .order-tax .order-list-r {
  width: 15%;
}
.orderdetail_001 .order-list .order-tax .order-price {
  float: right;
  width: 100%;
  margin-top: -2px;
}
.orderdetail_001 .order-list .total-fee .order-list-content {
  border-bottom: none;
  border-top: 2px solid #dddddd;
  padding-top: 15px;
  padding-bottom: 0;
}
.orderdetail_001 .order-list .total-fee h3.order-name {
  text-align: right;
  width: 83%;
}
.orderdetail_001 .order-list .total-fee .order-list-r {
  width: 15%;
}
.orderdetail_001 .order-list .total-fee .order-price {
  color: #dd0000;
  font-weight: bold;
  font-size: 95%;
  width: 100%;
  margin-top: -2px;
}
.orderdetail_001 .order-list .total-fee .o-pay-way {
  position: relative;
  top: -25px;
  padding-top: 0;
}
.orderdetail_001 .order-list .total-fee h4 {
  margin-left: 3%;
  margin-right: 0;
}
.orderdetail_001 .order-list .order-sn, .orderdetail_001 .order-list .order-name, .orderdetail_001 .order-list .order-list-r li {
  float: left;
  min-height: 20px;
  line-height: 1.5;
  font-size: 0.8em;
}
.orderdetail_001 .order-list .order-sn {
  width: 2%;
  margin-right: 1%;
  font-size: 0.8em;
}
.orderdetail_001 .order-list .order-name {
  width: 55%;
  margin-right: 2%;
  margin-top: -1px;
  font-weight: bold;
  font-size: 0.93em;
  color: #333333;
}
.orderdetail_001 .order-list .order-name a {
  color: #333333;
}
.orderdetail_001 .order-list .order-name a:hover, .orderdetail_001 .order-list .order-name a .on-touch {
  color: #7fbee5;
}
.orderdetail_001 .order-list .order-pre {
  font-size: 80%;
  color: #dd0000;
}
.orderdetail_001 .order-list .order-list-r {
  width: 40%;
  float: right;
}
.orderdetail_001 .order-list .order-list-r {
  zoom: 1;
}
.orderdetail_001 .order-list .order-list-r:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.orderdetail_001 .order-list .order-list-r li {
  margin-right: 2.2%;
  margin-bottom: 5px;
}
.orderdetail_001 .order-list .order-list-r li:last-child {
  margin-right: 0;
}
.orderdetail_001 .order-list .order-shipping {
  width: 32%;
}
.orderdetail_001 .order-list .order-quantity {
  width: 33%;
  text-align: right;
}
.orderdetail_001 .order-list .order-price {
  width: 30%;
  text-align: right;
  margin-right: 0 !important;
  font-weight: bold;
}
.orderdetail_001 .order-list .order-status {
  width: 32%;
  margin-top: -1px;
}
.orderdetail_001 .order-list .order-status a {
  padding-left: 5px;
}
.orderdetail_001 .order-list .order-vendor {
  width: 25%;
  text-align: right;
}
.orderdetail_001 .order-list .order-returned {
  width: 33%;
  margin-right: 0 !important;
  text-align: right;
}
.orderdetail_001 .order-list .order-activity {
  width: 100%;
  clear: both;
  line-height: 1.4;
  font-size: 0.8em;
  text-align: left;
  padding: 8px 0 0 34px;
}
.orderdetail_001 .group .order-name a {
  color: #999999;
}
.orderdetail_001 .group .order-name a:hover, .orderdetail_001 .group .order-name a .on-touch {
  color: #7fbee5;
}
.orderdetail_001 .group .order-status, .orderdetail_001 .group .order-returned {
  display: none;
}
.orderdetail_001 .group .order-list-add .order-name {
  color: #333333;
  padding-left: 13px;
}
.orderdetail_001 .group .order-list-add .order-name a {
  color: #333333;
}
.orderdetail_001 .group .order-list-add .order-name a:hover, .orderdetail_001 .group .order-list-add .order-name a .on-touch {
  color: #7fbee5;
}
.orderdetail_001 .group .order-list-add .order-status, .orderdetail_001 .group .order-list-add .order-returned {
  display: block;
}
.orderdetail_001 .refund {
  background: #efefef;
  margin-top: -15px;
  padding-bottom: 0 !important;
}
.orderdetail_001 .refund .order-refund-title {
  background: #DDD;
  padding: 8px 15px;
  width: 100%;
  font-size: 0.95em;
  font-weight: bold;
}
.orderdetail_001 .refund .order-list-add {
  padding: 15px 15px 0 15px;
}
.orderdetail_001 .order-list-add {
  clear: both;
  width: 100%;
  padding-top: 15px;
  position: relative;
}
.orderdetail_001 .order-list-add {
  zoom: 1;
}
.orderdetail_001 .order-list-add:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.orderdetail_001 .order-list-add .red {
  color: #dd0000;
}
.orderdetail_001 .order-list-add.o-events a {
  color: #2290c6;
}
.orderdetail_001 .order-list-add.o-events a:hover, .orderdetail_001 .order-list-add.o-events a .on-touch {
  color: #7fbee5;
}
.orderdetail_001 .o-atm-content {
  clear: both;
  width: 100%;
  padding-left: 3%;
  padding-top: 10px;
  font-size: 0.93em;
  color: #333333;
}
.orderdetail_001 .o-atm-content dl {
  line-height: 1.4;
  margin-bottom: 7px;
  font-weight: bold;
}
.orderdetail_001 .o-atm-content dl dt {
  display: inline-block;
}
.orderdetail_001 .o-atm-content dl dd {
  display: inline-block;
}
.orderdetail_001 .order-help {
  padding: 30px 10px 20px 0;
  font-size: 0.85em;
}
.orderdetail_001 .order-help {
  zoom: 1;
}
.orderdetail_001 .order-help:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.orderdetail_001 .order-help h5 {
  display: block;
  float: left;
  margin-right: 20px;
}
.orderdetail_001 .order-help a {
  margin-right: 20px;
  display: block;
  float: left;
}
@media only screen and (max-width: 1241px) {
  .orderdetail_001 {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 1000px) {
  .orderdetail_001 .order-list-block {
    padding: 15px 15px;
  }
  .orderdetail_001 .order-list-top {
    margin-left: 2px;
  }
  .orderdetail_001 .order-list .order-sn {
    width: 2.5%;
  }
  .orderdetail_001 .order-list .order-name {
    width: 48.5%;
  }
  .orderdetail_001 .order-list h4.order-name {
    margin-left: 3.5%;
  }
  .orderdetail_001 .order-list .order-list-r {
    width: 46%;
  }
  .orderdetail_001 .order-list .order-shipping {
    width: 37%;
  }
  .orderdetail_001 .order-list .order-quantity {
    width: 28%;
  }
  .orderdetail_001 .order-list .order-price {
    width: 30%;
  }
  .orderdetail_001 .order-list .order-status {
    width: 37%;
  }
  .orderdetail_001 .order-list .order-vendor {
    width: 25%;
  }
  .orderdetail_001 .order-list .order-returned {
    width: 34%;
  }
  .orderdetail_001 .o-atm-content {
    padding-left: 3.5%;
  }
}
@media only screen and (max-width: 768px) {
  .orderdetail_001 .o-list-top-r {
    float: left;
    width: 100%;
    text-align: left;
  }
  .orderdetail_001 .order-list-top {
    margin-left: 5px;
  }
  .orderdetail_001 .o-list-top-l {
    font-size: 0.85em;
  }
  .orderdetail_001 .order-list .fee .order-name {
    width: 100%;
    margin-right: 0;
  }
  .orderdetail_001 .order-list .fee .order-list-r {
    width: 100%;
    margin-top: 8px;
  }
  .orderdetail_001 .order-list .fee .order-price {
    margin-top: -2px;
  }
  .orderdetail_001 .order-list .fee h3 {
    margin-left: 3.5%;
  }
  .orderdetail_001 .order-list .shipping-fee h3 {
    margin-left: 3.5%;
  }
  .orderdetail_001 .order-list .order-tax .order-name {
    width: 75%;
  }
  .orderdetail_001 .order-list .order-tax .order-list-r {
    width: 25%;
    margin-top: 0;
  }
  .orderdetail_001 .order-list .total-fee h3.order-name {
    width: 75%;
  }
  .orderdetail_001 .order-list .total-fee .order-list-r {
    width: 25%;
    margin-top: 0;
  }
  .orderdetail_001 .order-list .total-fee .o-pay-way {
    position: relative;
    top: 0px;
    padding-top: 15px;
  }
  .orderdetail_001 .order-list .total-fee h4 {
    margin-left: 0;
    width: 100%;
  }
  .orderdetail_001 .order-list .order-sn {
    width: 3%;
    margin-right: 1%;
  }
  .orderdetail_001 .order-list .order-name {
    width: 74%;
    margin-right: 0;
    margin-top: -3px;
    font-size: 1.03em;
    line-height: 1.5;
  }
  .orderdetail_001 .order-list h4.order-name {
    margin-left: 0%;
  }
  .orderdetail_001 .order-list .order-list-r {
    width: 60%;
    margin-top: 10px;
  }
  .orderdetail_001 .order-list .order-list-r li {
    margin-bottom: 6px;
    float: none;
    margin-right: 0;
    min-height: 0px;
    text-align: right;
    font-size: 0.95em;
  }
  .orderdetail_001 .order-list .order-status {
    width: 100%;
  }
  .orderdetail_001 .order-list .order-quantity {
    width: 100%;
  }
  .orderdetail_001 .order-list .order-price {
    width: 100%;
  }
  .orderdetail_001 .order-list .order-shipping {
    width: 100%;
  }
  .orderdetail_001 .order-list .order-vendor {
    width: 100%;
  }
  .orderdetail_001 .order-list .order-returned {
    width: 100%;
  }
  .orderdetail_001 .o-atm-content {
    padding-left: 0%;
  }
  .orderdetail_001 .order-help {
    padding: 30px 10px 20px;
    font-size: 0.95em;
  }
  .orderdetail_001 .order-help h5 {
    width: 100%;
  }
  .orderdetail_001 .order-help a {
    margin-top: 13px;
  }
}
@media only screen and (max-width: 568px) {
  .orderdetail_001 {
    margin-top: 25px;
  }
  .orderdetail_001 .order-list .fee h3, .orderdetail_001 .order-list .shipping-fee h3 {
    margin-left: 0%;
  }
  .orderdetail_001 .order-list .order-tax .order-name {
    width: 55%;
  }
  .orderdetail_001 .order-list .order-tax .order-list-r {
    width: 45%;
  }
  .orderdetail_001 .order-list .total-fee h3.order-name {
    width: 55%;
  }
  .orderdetail_001 .order-list .total-fee .order-list-r {
    width: 45%;
  }
  .orderdetail_001 .order-list .order-sn {
    width: 7%;
    margin-right: 1%;
  }
  .orderdetail_001 .order-list .order-name {
    width: 92%;
    margin-right: 0;
  }
  .orderdetail_001 .order-list .order-vendor {
    display: none;
  }
  .orderdetail_001 .group .order-list-add .order-name {
    padding-left: 10px;
  }
}
