.order_refund_confirm_001 a {
  color: #2290c6;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
.order_refund_confirm_001 a:hover, .order_refund_confirm_001 a:active, .order_refund_confirm_001 a .on-touch {
  color: #7fbee5;
}
.order_refund_confirm_001 .order-list-block {
  position: relative;
  width: 100%;
  height: auto;
  color: #666666;
  padding: 12px 15px;
  margin-bottom: 30px;
  top: 0px;
  background: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px 1px #dddddd;
  -moz-box-shadow: 0 1px 2px 1px #dddddd;
  box-shadow: 0 1px 2px 1px #dddddd;
}
.order_refund_confirm_001 .order-list-block:first-child {
  margin-top: 5px;
}
.order_refund_confirm_001 .order-list-block {
  zoom: 1;
}
.order_refund_confirm_001 .order-list-block:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.order_refund_confirm_001 .order-list-top {
  width: 100%;
  margin: 0px 0px 10px 0px;
  padding: 5px 0px;
  position: relative;
  color: #666666;
}
.order_refund_confirm_001 .order-list-top h3 {
  font-size: 0.85em;
  line-height: 1.4;
}
.order_refund_confirm_001 .order-list-top h3 span {
  font-weight: bold;
  color: #333333;
  font-size: 110%;
  padding: 0 3px;
}
.order_refund_confirm_001 .order-list {
  width: 100%;
  position: relative;
  margin-bottom: 25px;
  border-bottom: 1px solid #dddddd;
}
.order_refund_confirm_001 .order-list {
  zoom: 1;
}
.order_refund_confirm_001 .order-list:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.order_refund_confirm_001 .order-list .order-list-content {
  margin-bottom: 15px;
}
.order_refund_confirm_001 .order-list .order-list-content {
  zoom: 1;
}
.order_refund_confirm_001 .order-list .order-list-content:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.order_refund_confirm_001 .order-list .order-list-content:last-child {
  border-bottom: none;
}
.order_refund_confirm_001 .order-list .order-sn, .order_refund_confirm_001 .order-list .order-name, .order_refund_confirm_001 .order-list .order-list-r li {
  float: left;
  min-height: 20px;
  line-height: 1.7;
  font-size: 0.8em;
}
.order_refund_confirm_001 .order-list .order-sn {
  width: 2%;
  margin-right: 1%;
}
.order_refund_confirm_001 .order-list .order-name {
  width: 55%;
  margin-right: 2%;
  margin-top: -2px;
  font-weight: bold;
  font-size: 0.93em;
  color: #333333;
}
.order_refund_confirm_001 .order-list .order-list-r {
  width: 40%;
  float: right;
}
.order_refund_confirm_001 .order-list .order-list-r {
  zoom: 1;
}
.order_refund_confirm_001 .order-list .order-list-r:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.order_refund_confirm_001 .order-list .order-list-r li {
  margin-right: 3%;
  margin-bottom: 3px;
}
.order_refund_confirm_001 .order-list .order-quantity {
  width: 10%;
  text-align: right;
}
.order_refund_confirm_001 .order-list .order-price {
  width: 27%;
  text-align: right;
  font-weight: bold;
}
.order_refund_confirm_001 .order-list .order-returned {
  width: 56%;
  margin-right: 0 !important;
  text-align: left;
}
.order_refund_confirm_001 .order-list .refund-info {
  width: 100%;
  border-top: 2px solid #dddddd;
  padding-top: 15px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 0.93em;
  line-height: 1.5;
}
.order_refund_confirm_001 .order-list .refund-info p {
  margin-bottom: 15px;
}
.order_refund_confirm_001 .order-list .refund-info a {
  margin: 0 6px;
}
.order_refund_confirm_001 .o-list-all {
  height: 0px;
  overflow: hidden;
}
.order_refund_confirm_001 .o-list-all.o-list-show {
  height: auto;
  overflow: auto;
}
.order_refund_confirm_001 .o-list-more {
  text-align: center;
  height: 40px;
  width: 100%;
  color: #666666;
  font-weight: bold;
  font-size: 0.9em;
  line-height: 38px;
  border: 1px solid #dddddd;
  background: #f9f9f9;
  cursor: pointer;
}
.order_refund_confirm_001 .o-list-more i {
  margin-left: 5px;
}
.order_refund_confirm_001 .o-list-more:hover, .order_refund_confirm_001 .o-list-more .on-touch {
  background: #efefef;
  border-bottom: 0px solid #dddddd;
}
.order_refund_confirm_001 .group .order-name {
  color: #999999;
}
.order_refund_confirm_001 .group .order-list-add .order-name {
  color: #333333;
  padding-left: 13px;
}
.order_refund_confirm_001 .order-list-add {
  clear: both;
  width: 100%;
  padding-top: 15px;
  position: relative;
}
.order_refund_confirm_001 .order-list-add {
  zoom: 1;
}
.order_refund_confirm_001 .order-list-add:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.order_refund_confirm_001 .order-list-add .red {
  color: #dd0000;
}
.order_refund_confirm_001 .back-refund {
  position: absolute;
  right: 0px;
  font-size: 0.8em;
}
.order_refund_confirm_001 .back-refund.r-top {
  top: 9px;
}
.order_refund_confirm_001 .back-refund.r-bottom {
  bottom: -25px;
}
.order_refund_confirm_001 .refund-pickup-data {
  margin-bottom: 25px;
}
.order_refund_confirm_001 .refund-pickup-data ul {
  padding: 20px;
  border: 1px solid #e9e9e9;
  width: 100%;
  color: #333333;
}
.order_refund_confirm_001 .refund-pickup-data ul {
  zoom: 1;
}
.order_refund_confirm_001 .refund-pickup-data ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.order_refund_confirm_001 .refund-pickup-data li {
  float: left;
  margin-right: 2%;
  font-size: 0.9em;
  width: 31.333%;
  margin-bottom: 20px;
}
.order_refund_confirm_001 .refund-pickup-data .label-title {
  width: 100%;
  margin-bottom: 8px;
  display: block;
}
.order_refund_confirm_001 .refund-pickup-data input, .order_refund_confirm_001 .refund-pickup-data select {
  height: 35px;
  display: inline-block;
  width: auto;
}
.order_refund_confirm_001 .refund-pickup-data input {
  width: 100%;
  margin-bottom: 0;
  vertical-align: middle;
}
.order_refund_confirm_001 .refund-pickup-data .r-address {
  width: 100%;
  margin-bottom: 0px;
}
.order_refund_confirm_001 .refund-pickup-data .r-address .label-title {
  width: 75px;
  margin-bottom: 5px;
  display: inline-block;
}
.order_refund_confirm_001 .refund-pickup-data .r-address input {
  margin-top: 10px;
}
.order_refund_confirm_001 .refund-pickup-data .r-address select {
  margin-right: 5px;
}
.order_refund_confirm_001 .refund-data {
  margin-bottom: 25px;
}
.order_refund_confirm_001 .refund-data ul {
  padding: 20px;
  padding-bottom: 0;
  border: 1px solid #e9e9e9;
  width: 100%;
  color: #333333;
}
.order_refund_confirm_001 .refund-data ul {
  zoom: 1;
}
.order_refund_confirm_001 .refund-data ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.order_refund_confirm_001 .refund-data li {
  float: left;
  margin-right: 2%;
  font-size: 0.9em;
  line-height: 1.5;
  width: 48%;
  min-height: 22px;
  margin-bottom: 20px;
}
.order_refund_confirm_001 .refund-data .refund-data-tip {
  width: 100%;
  color: #00a8ff;
  font-size: 0.92em;
  margin-bottom: 1px;
  line-height: 1.35;
}
.order_refund_confirm_001 .refund-data .refund-data-title, .order_refund_confirm_001 .refund-data .refund-data-way {
  display: inline-block;
}
.order_refund_confirm_001 .refund-data .r-way {
  font-weight: bold;
  color: black;
  font-size: 105%;
}
.order_refund_confirm_001 .refund-data .label-title {
  width: 100%;
  margin-bottom: 8px;
  display: block;
}
.order_refund_confirm_001 .refund-data .label-title-s {
  margin-bottom: 8px;
  display: inline-block;
}
.order_refund_confirm_001 .refund-data input, .order_refund_confirm_001 .refund-data select {
  height: 35px;
  display: inline-block;
  width: auto;
}
.order_refund_confirm_001 .refund-data input[type="text"] {
  width: 85%;
  margin-bottom: 0;
  vertical-align: middle;
}
.order_refund_confirm_001 .refund-confirm-check {
  text-align: center;
  line-height: 1.5;
  font-size: 0.95em;
}
.order_refund_confirm_001 .refund-confirm-check input[type='checkbox'] {
  vertical-align: -2px;
  width: 15px;
  height: 15px;
}
.order_refund_confirm_001 .refund-actions {
  width: 100%;
  text-align: center;
  margin: 25px 0;
}
.order_refund_confirm_001 .refund-actions .button {
  margin: 0 20px;
}
.order_refund_confirm_001 .refund-actions .button:hover, .order_refund_confirm_001 .refund-actions .button:active, .order_refund_confirm_001 .refund-actions .button .on-touch {
  color: white;
}
@media only screen and (max-width: 1241px) {
  .order_refund_confirm_001 {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 1000px) {
  .order_refund_confirm_001 .order-list-block {
    padding: 15px 15px;
  }
  .order_refund_confirm_001 .order-list .order-sn {
    width: 2.5%;
  }
  .order_refund_confirm_001 .order-list .order-name {
    width: 46.5%;
  }
  .order_refund_confirm_001 .order-list .order-list-r {
    width: 48%;
  }
  .order_refund_confirm_001 .order-list .order-price {
    width: 29%;
  }
  .order_refund_confirm_001 .order-list .order-returned {
    width: 55%;
  }
}
@media only screen and (max-width: 768px) {
  .order_refund_confirm_001 .order-list .order-sn {
    width: 3%;
    margin-right: 1%;
    margin-top: 0px;
  }
  .order_refund_confirm_001 .order-list .order-name {
    width: 74%;
    margin-right: 0;
    margin-top: -3px;
    font-size: 1em;
    line-height: 1.7;
  }
  .order_refund_confirm_001 .order-list .order-list-r {
    width: 33%;
    margin-top: 10px;
  }
  .order_refund_confirm_001 .order-list .order-list-r li {
    font-size: 0.95em;
    margin-right: 5%;
  }
  .order_refund_confirm_001 .order-list .order-quantity {
    width: 23%;
  }
  .order_refund_confirm_001 .order-list .order-price {
    width: 72%;
    margin-right: 0 !important;
  }
  .order_refund_confirm_001 .order-list .order-returned {
    display: none;
  }
  .order_refund_confirm_001 .refund-data .refund-data-select {
    display: block;
    max-width: 238px;
  }
  .order_refund_confirm_001 .refund-data input[type="text"] {
    width: 95%;
  }
}
@media only screen and (max-width: 568px) {
  .order_refund_confirm_001 .order-list .order-sn {
    width: 7%;
    margin-right: 1%;
  }
  .order_refund_confirm_001 .order-list .order-name {
    width: 92%;
    margin-right: 0;
  }
  .order_refund_confirm_001 .order-list .order-list-r {
    width: 65%;
  }
  .order_refund_confirm_001 .order-list .order-quantity {
    width: 25%;
  }
  .order_refund_confirm_001 .order-list .order-price {
    width: 70%;
  }
  .order_refund_confirm_001 .o-list-more {
    height: 40px;
    line-height: 40px;
  }
  .order_refund_confirm_001 .refund-pickup-data li {
    float: none;
    margin-right: 0;
    width: 100%;
  }
  .order_refund_confirm_001 .refund-pickup-data .r-address .label-title {
    width: 100%;
    margin-right: 0px;
    display: block;
  }
  .order_refund_confirm_001 .refund-pickup-data .r-address select {
    margin-bottom: 10px;
    max-width: 228px;
  }
  .order_refund_confirm_001 .refund-pickup-data .r-address input {
    margin-top: 0px;
  }
  .order_refund_confirm_001 .group .order-list-add .order-name {
    padding-left: 10px;
  }
  .order_refund_confirm_001 .refund-data li {
    float: none;
    width: 100%;
  }
  .order_refund_confirm_001 .refund-data .refund-data-select {
    max-width: 228px;
  }
  .order_refund_confirm_001 .refund-actions .button {
    margin: 5px 10px;
  }
}
