.pc_market_002 {
  margin-bottom: 10px;
  border: 8px solid #f9f9f9;
}
.pc_market_002 .photo-01 {
  float: left;
  width: 500px;
  height: 400px;
}
.pc_market_002 .photo-01 .photo {
  display: block;
}
.pc_market_002 .photo-01 .photo img {
  display: block;
  width: 500px;
  height: 400px;
}
.pc_market_002 .photo-02 {
  float: left;
  width: 242px;
  height: 400px;
}
.pc_market_002 .photo-02 .photo {
  width: 242px;
  height: 200px;
  display: block;
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.pc_market_002 .photo-02 .photo img {
  display: block;
  width: 242px;
  height: 199px;
}
.pc_market_002 .photo-02 .photo:last-child {
  border-bottom: 0;
}
