.rwd_left_003 {
  margin-bottom: 15px;
}
.rwd_left_003 .photo {
  font-size: 0;
  display: block;
  float: left;
  position: relative;
  width: 80px;
  height: 0;
  overflow: hidden;
  padding-top: 80px;
}
.rwd_left_003 .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.rwd_left_003 .title-h3 {
  color: white;
  font-size: 1em;
  padding: 10px;
  font-weight: bold;
  margin: 0px;
  line-height: 1.3;
  word-break: break-word;
  word-wrap: break-word;
}
.rwd_left_003 .item {
  padding: 5px;
}
.rwd_left_003 .item {
  zoom: 1;
}
.rwd_left_003 .item:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.rwd_left_003 .name {
  font-size: 12px;
  height: 30px;
  overflow: hidden;
  word-break: break-word;
  word-wrap: break-word;
}
.rwd_left_003 .name a {
  color: #6c6c6c;
}
.rwd_left_003 .name a:hover {
  text-decoration: underline;
}
.rwd_left_003 .info {
  float: left;
  width: 100px;
  line-height: 1.3;
  margin-left: 5px;
  padding-top: 30px;
}
.rwd_left_003 .events-list {
  list-style-type: disc;
  list-style-type: disc;
  padding: 10px 5px 10px 21px;
  padding-left: 21px;
}
.rwd_left_003 .events-list li {
  margin: 5px 0 5px 0;
  font-size: 12px;
  line-height: 1.5;
  word-break: break-word;
  word-wrap: break-word;
}
.rwd_left_003 .events-list a {
  color: #6c6c6c;
}
.rwd_left_003 .events-list a:hover {
  color: #90c8f2;
}

@media (min-width: 1000px) and (max-width: 1237px) {
  .rwd_left_003 .info {
    width: 95px;
  }
}
