.rwd_left_004 {
  margin-bottom: 15px;
}
.rwd_left_004 .photo {
  font-size: 0;
  display: block;
  float: left;
  position: relative;
  width: 80px;
  height: 0;
  overflow: hidden;
  padding-top: 80px;
}
.rwd_left_004 .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.rwd_left_004 .title-h3 {
  color: white;
  font-size: 1em;
  padding: 10px;
  font-weight: bold;
  margin: 0px;
  line-height: 1.3;
  word-break: break-word;
  word-wrap: break-word;
}
.rwd_left_004 .item {
  padding: 5px;
}
.rwd_left_004 .item {
  zoom: 1;
}
.rwd_left_004 .item:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.rwd_left_004 .name {
  font-size: 12px;
  height: 30px;
  overflow: hidden;
  word-break: break-word;
  word-wrap: break-word;
}
.rwd_left_004 .name a {
  color: #6c6c6c;
}
.rwd_left_004 .name a:hover {
  text-decoration: underline;
}
.rwd_left_004 .buy {
  color: #dd0000;
  overflow: hidden;
}
.rwd_left_004 .info {
  float: left;
  width: 100px;
  line-height: 1.3;
  margin-left: 5px;
}
.rwd_left_004 .currency {
  font-size: 12px;
}
.rwd_left_004 .price {
  font-size: 14px;
}

@media (min-width: 1000px) and (max-width: 1237px) {
  .rwd_left_004 .info {
    width: 95px;
  }
}
