.nav-user{
    float: right;
    margin-top: 2px;
    visibility:hidden;
    >ul{
        @include clearfix; 
        >li{
            float: left;
            font-size: 0.75em;
            padding: 3px 6px;
            &:after{
                content: "|";
                margin-left: 10px;
                color: $light_gray;
            }
            &:last-child{
                &:after{
                    content:"";
                    margin-left: 0;
                }
            }
        }
    }
    .account{
        display: inline-block;
        margin-right: 10px;
    }
}