.pc_category_list {
  zoom: 1;
}
.pc_category_list:after, .pc_category_list:before {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_category_list .items {
  margin: 20px -10px 0;
}
.pc_category_list .items {
  zoom: 1;
}
.pc_category_list .items:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_category_list .item {
  float: left;
  width: 25%;
  padding: 8px 10px;
  border: 1px solid transparent;
  height: 400px;
}
.pc_category_list .item:hover {
  border: 1px solid #cccccc;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
.pc_category_list .item:hover .photo {
  opacity: 0.75;
}
.pc_category_list .photo {
  display: block;
  margin-bottom: 7px;
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
  position: relative;
}
.pc_category_list .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.pc_category_list .info {
  height: 126px;
}
.pc_category_list .name {
  font-size: 13px;
  height: 32px;
  line-height: 1.3;
  margin-bottom: 5px;
  color: black;
  font-weight: bold;
  overflow: hidden;
  word-break: break-word;
  word-wrap: break-word;
}
.pc_category_list .type {
  font-size: 12px;
  color: #6c6c6c;
}
.pc_category_list .currency {
  font-size: 12px;
  color: #e00517;
  display: inline-block;
  margin-left: 3px;
}
.pc_category_list .price {
  font-size: 16px;
  color: #e00517;
  display: inline-block;
  margin-right: 5px;
}
.pc_category_list .buy-actions {
  margin-top: 10px;
  text-align: right;
}
.pc_category_list .quantity {
  margin-right: 5px;
  vertical-align: middle;
}
.pc_category_list .quantity-decrease, .pc_category_list .quantity-increase {
  padding: 2px 4px;
  width: 20px;
}
.pc_category_list .quantity-input {
  height: 22px;
  width: 24px;
  font-size: 12px;
}
.pc_category_list .large {
  font-size: 13px;
  padding: 0 10px;
  line-height: 21px;
  height: 22px;
}
.pc_category_list .highlight {
  font-size: 12px;
  line-height: 1.5;
  margin-top: 5px;
  text-align: right;
}
.pc_category_list.item-list-3 .item {
  width: 33.333%;
  height: 470px;
}
.pc_category_list .tag-status {
  position: absolute;
  bottom: 7px;
  right: 7px;
  z-index: 9;
}
