.site-header{
    position: relative;
    @include clearfix;
    >.container{
        height: 105px;
        //height: 120px;
        //margin-bottom: 10px;
        @include clearfix;
    }
    .logo{
        float: left;
        margin-top: 10px;
        //margin-top: 20px;
        img{
            max-width: 150px;
        }
    } 
}
.cart-btn{
    position: relative;
    display: block;
    padding: 9px 0 9px;
    font-size: 0.9em;
    &:hover{
        .icon-cart{
            color: $primary;
            @include transition(0.3s);
        }
    }
    .count{
        position: absolute;
        top: 2px;
        left: -2px;
        background: $primary;
        color: white;
        font-style: normal;
        padding: 2px 5px;
        z-index: 3;
        @include border-radius (50%);
    }
}

@include RWD(pad-mobile) {
.site-header{
    >.container{
        height: auto;
        margin: 0;
        padding: 0;
    }
    .logo{
        padding: 14px 10px 11px 20px;
        margin: 0;
        display: block;
        img{
            max-width: 130px;
        }
    }
}
}

@media screen and (max-width: 568px) {
.site-header{
    .logo{
        float: none;
        text-align: center;
        img{
            max-width: 120px;
        }
    }
}
}