.nav-user{
    padding-top: 2px;
    border-top: 1px solid $border;
    //visibility:hidden;
    >ul{
        margin-top: 3px;
        float: right;
        @include clearfix;    
        >li{
            float: left;
            >a{
                display: block;
                padding: 13px 16px;
                font-size: 0.9em;
                font-weight: bold;
                color: #999;
                &:hover{
                    color: white;
                }
            }
            .cart-btn > a{
                color: #999;
                font-weight: bold;
                &:hover,&:active{
                    color: #ff0077;
                }
            }
            .f-cart{
                color: #666;
                font-size: 1.9em;
                vertical-align: -4px;
                margin-top: -3px;
            }
        }
    }	
}
@include RWD(pad-mobile) {
.nav-user{
    background: #fff;
    border-top: 0;
    padding-top: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 3;
    .cart-btn{
        display: none;
    }
    >ul{
        float: none;
        >li{
            width:25%;
        }
    }
}
}