.icon-search{
    font-size:1.5em;
    color: #666!important;
}
.site-search{
	float: right;
    margin: 11px 0 0 0;
    z-index: 3;
    .form{
        font-size: 0;
    }
    .input-search{
    	border: none;
    	height: 30px;
    	margin: 0;
        margin-right: -4px;
    	padding-left: 10px;
    	width: 174px;
        background: $search_bk;
        color: $search_text;
        @include border-radius(6px 0 0 6px);
        font-size: 14px;
	}
    .btn-submit{
        //background: $search_bk;
        border: none;
        margin: 0;
        height: 30px;
        vertical-align: top;
        cursor: pointer;
        @include border-radius(0 6px 6px 0);
    }
    .recommend{
        display: none;
        width:204px;
        height:20px;
        margin-top: 3px;
        font-size: 0.7em;
        overflow:hidden;
        line-height:1.2;
        >li{
            float: left;
            list-style: none;
            padding: 3px 3px;
            &:first-child{
                padding-left: 0;
            }
        }
        a{
            display:inline-block;
            text-decoration: underline;
            //color: $recommend_link;
            &:hover{
                //color: $primary;
                @include transition(0.3s);
            }
        }
    }
}
.ui-menu {
    padding:2px;
    display:block;
    background: #fff;
    z-index: 4;
    border: 1px solid $search_border;
    max-width: 279px;
    .ui-menu-item {
        width:100%;
        a {
            line-height: 1.6;
            padding: 2px 2px 2px 10px;
            font-size: 14px;
            display: block;
            &:hover {
                border: 1px solid $ui_menu_border;
                background: $ui_menu_bk;
                padding: 1px 1px 1px 9px;
                cursor: pointer;
            }
        }
    }
}
@include RWD(desktop-normal) {
.site-search{
    width: 20%;   
    .input-search{
        width: 157px;
    }
}
}
@include RWD(pad-mobile) {
.site-search{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0;
    height: auto;
    padding: 0;
    width: 100%;
    background: white;
    .search-btn{
        position: absolute;
        z-index: 10;
        right: 10px;
        top: 10px;
        display: block;
    }
    .input-search {
        height: 40px;
        margin: 0;
        width: 100%;
        background: white;
        position: relative;
        border-bottom: 1px solid $light_gray;
    }
    .recommend{
        width:100%;
        padding-left: 15px;
        margin-bottom: 10px;
        display:none;
        a{
            width: auto;
            margin-right: 10px;
            //color: $recommend_link;
        }
    }
}
.ui-menu {
    z-index: 12;
    max-width: 100%;
}
}