.button {
  color: white;
  background: #d00;
}
.button:hover {
  background: #f70000;
}
.button.disabled, .button[disabled] {
  color: #cccccc;
}
.button.btn-rush, .button .btn-addcart, .button .btn-add {
  background: #d00;
  color: white;
}
.button.btn-rush:hover, .button .btn-addcart:hover, .button .btn-add:hover {
  background: #f70000;
}
.button.btn-rush:active, .button.btn-rush.pressed, .button .btn-addcart:active, .button .btn-addcart.pressed, .button .btn-add:active, .button .btn-add.pressed {
  background: #910000;
}
.button.btn-discount, .button.red {
  background: #f90;
}
.button.btn-discount:hover, .button.red:hover {
  background: #ffa31a;
}
.button.btn-discount:active, .button.btn-discount.pressed, .button.red:active, .button.red.pressed {
  background: #b36b00;
}
.button.btn-preorder, .button.yellow {
  background: #ffcc21;
  color: white;
}
.button.btn-preorder:hover, .button.yellow:hover {
  background: #ffd23b;
}
.button.btn-preorder:active, .button.btn-preorder.pressed, .button.yellow:active, .button.yellow.pressed {
  background: #d3a300;
}
.button.gray {
  background: #6c6c6c;
  color: white;
}
.button.gray:hover {
  background: #797979;
}
.button.gray:active, .button.gray.pressed {
  background: #464646;
}
.button.btn-to-sale {
  color: #f90;
}

body {
  color: #383838;
  background: white;
}

a {
  color: #333;
}

.title-h3 {
  color: black;
}
.title-h3 .sub {
  color: #00b6f9;
}

.red-text {
  color: #dd0000;
}

input[type='password'], input[type='email'], input[type='tel'], input[type='text'], input[type='number'], input[type='search'] {
  border-color: #cccccc;
  background: white;
  color: black;
}

select {
  background: white;
  color: black;
  border-color: #cccccc;
}

.quantity-alert {
  background: #00b6f9;
  color: #383838;
}
.quantity-alert:after {
  border-color: #00b6f9 transparent transparent transparent;
}

.quantity .quantity-input {
  border: none;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  color: black;
  background: white;
}
.quantity .quantity-decrease {
  color: black;
  border-color: #cccccc;
}
.quantity .quantity-increase {
  color: black;
  border-color: #cccccc;
}

.fancybox-inner .title {
  background: #00b6f9;
}
.fancybox-inner .block .price {
  color: #f60011;
}
.fancybox-inner .block .final-price {
  color: #f60011;
}
.fancybox-inner .name {
  color: #00b6f9;
}

.cart-mark {
  background: black;
  color: #00b6f9;
  border: 10px solid rgba(255, 255, 255, 0.3);
}

.item-list .name a {
  color: black;
}
.item-list .currency {
  color: #f60011;
}
.item-list .price {
  color: #f60011;
}

.item_list_four .item:hover {
  border-color: #cccccc;
}
.item_list_four .name {
  color: black;
}
.item_list_four .currency {
  color: #f60011;
}
.item_list_four .price {
  color: #f60011;
}

.nav-breadcrumbs .index {
  color: #00b6f9;
}
.nav-breadcrumbs .index:after {
  border-color: transparent white transparent transparent;
}
.nav-breadcrumbs .index::before {
  border-color: transparent #00b6f9 transparent transparent;
}
.nav-breadcrumbs .locate {
  color: #6c6c6c;
}

.nav-pagination li a {
  border-top-color: #cccccc;
  border-left-color: #cccccc;
  border-bottom-color: #cccccc;
}
.nav-pagination li:last-child a {
  border-right-color: #cccccc;
}
.nav-pagination a {
  color: #383838;
}
.nav-pagination a.active {
  background: #00b6f9;
  color: white;
}
.nav-pagination a:hover {
  background: #f6f6f6;
  color: #00b6f9;
}
.nav-pagination .total {
  color: #383838;
}

.rwd_other_001 h4 {
  color: black;
}

.site-activity h3 {
  border-color: #cccccc;
}
.site-activity .ready {
  background: #dd0000;
}
.site-activity .not {
  background: #6c6c6c;
}
.site-activity hr {
  border-color: #cccccc;
}
.site-activity .act-content {
  color: #dd0000;
}
.site-activity .swiper-container {
  border-color: #cccccc;
}
.site-activity .swiper-container .swiper-slide {
  border-right-color: #cccccc;
}
.site-activity .swiper-container .currency {
  color: #f60011;
}
.site-activity .swiper-container .price {
  color: #f60011;
}
.site-activity .state {
  border: 1px solid #cccccc;
}
.site-activity .state .progress {
  border-bottom-color: #cccccc;
}
.site-activity .state .inner-bar.finish {
  background-color: #00a8ff;
}
.site-activity .state .note, .site-activity .state .note-finish {
  border-color: #cccccc;
  color: #383838;
  background: white;
}
.site-activity .state .note:after, .site-activity .state .note-finish:after {
  border-color: white transparent transparent transparent;
}
.site-activity .state .note:before, .site-activity .state .note-finish:before {
  border-color: #cccccc transparent transparent transparent;
}
.site-activity .state .note-finish {
  color: #00b6f9;
}
.site-activity .state .actions.finish {
  color: #00b6f9;
}

@media (max-width: 999px) {
  .site-activity .swiper-container .swiper-left, .site-activity .swiper-container .swiper-right {
    border-top-color: #cccccc;
    border-right-color: #cccccc;
    background: #F5F5F5;
  }
  .site-activity .state > .tip {
    color: #383838;
  }
}
.site-cart {
  border-color: #cccccc;
  background: white;
}
.site-cart .name {
  color: black;
}
.site-cart .full {
  color: #f60011;
}
.site-cart .full .tag {
  border-color: #f60011;
}
.site-cart .buy {
  color: #f60011;
}
.site-cart .del {
  color: #383838;
}
.site-cart .del:hover {
  color: #00b6f9;
}
.site-cart .cart-sale .sale-discount {
  color: #f60011;
}
.site-cart .cart-actions {
  border-top-color: #cccccc;
}
.site-cart .total {
  color: #f60011;
}

.error h1 {
  color: black;
}
.error li {
  color: #383838;
}

.site-filter .attrcon {
  border-color: #cccccc;
}
.site-filter .attrcon:first-child {
  border-top-color: #cccccc;
}
.site-filter .attrcon label.disabled {
  color: gray;
}
.site-filter .attrcon .colcheck a {
  color: #383838;
}
.site-filter .attrcon .colcheck a.current {
  color: #00b6f9;
}
.site-filter .attrcon .colcheck .selected {
  color: #00b6f9;
}
.site-filter .attrcon .actions .colclose a {
  color: #333;
}
.site-filter .attrcon .actions .tirup, .site-filter .attrcon .actions .tirdown {
  border-color: transparent transparent #333 transparent;
}
.site-filter .attrcon .actions .tirdown {
  border-color: #333 transparent transparent transparent;
}
.site-filter .attrft {
  border-color: #cccccc;
}
.site-filter .attrft a {
  color: #333;
}

.filter-s select {
  background: white;
}

.site-search .input-search {
  border-color: #00b6f9;
  background: white;
  color: #555;
}
.site-search .btn-submit {
  background: #00b6f9;
}
.site-search .recommend a {
  color: #888;
}

.site-search-answer .light {
  color: #dd0000;
}
.site-search-answer h1 {
  color: #383838;
}
.site-search-answer p {
  color: #383838;
}
.site-search-answer p a {
  color: #333;
}

.site-sort .sort li:last-child a {
  border-right-color: #cccccc;
}
.site-sort .sort li a {
  border-color: #cccccc;
  color: #383838;
}
.site-sort .sort li a.active {
  color: white;
  background: #00b6f9;
  border: 1px solid #00b6f9;
}
.site-sort .sort li a:hover {
  border: 1px solid #00b6f9;
}

.site-float-bar .value .active {
  border-color: #e00;
  color: #e00;
}
.site-float-bar .value .active:after {
  border-color: transparent transparent #e00 transparent;
}

.quantity-alert {
  background: #00b6f9;
  color: white;
}
.quantity-alert:after {
  border-color: #00b6f9 transparent transparent transparent;
}

.site-main .item:hover .name a {
  color: #00b6f9;
}

.pc_index_001 .container {
  background: #00b6f9;
}

.pc_index_003 .tabs > li.active, .pc_index_015 .tabs > li.active {
  color: #00b6f9;
  border-top: 3px solid #00b6f9;
}

.pc_index_013 .tabs-2 > li.active {
  color: #00b6f9;
  border-top: 3px solid #00b6f9;
}

.pc_index_004 .item:hover {
  border: 1px solid #00b6f9;
}

.pc_index_017 .item:hover, .pc_index_017 .item-left:hover {
  border: 1px solid #00b6f9;
}

.pc_index_009 .links > li a, .pc_index_014 .links > li a {
  color: #00b6f9;
}

.pc_left_001 .title {
  background: #00b6f9;
}
.pc_left_001 .menu-expand h4 > a {
  color: #00b6f9;
}

.pc_left_002 .index, .pc_left_006 .index, .pc_left_008 .index {
  background: #504f47;
}
.pc_left_002 .side-menu a:hover, .pc_left_006 .side-menu a:hover, .pc_left_008 .side-menu a:hover {
  color: #00b6f9;
}
.pc_left_002 .side-menu .sec-menu a:hover, .pc_left_006 .side-menu .sec-menu a:hover, .pc_left_008 .side-menu .sec-menu a:hover {
  color: #00b6f9;
}
.pc_left_002 .side-menu .sec-menu .active, .pc_left_006 .side-menu .sec-menu .active, .pc_left_008 .side-menu .sec-menu .active {
  color: #00b6f9;
}

.pc_left_008 .title-h3 a {
  background: #ddf6ff;
}
.pc_left_008 .side-menu {
  background: white;
}
.pc_left_008 .side-menu h4 {
  background: #f9fdff;
}
.pc_left_008 .side-menu h4 a {
  color: #333;
}

.pc_left_002 .title-h3 a, .pc_left_008 .title-h3 a {
  color: #333;
}
.pc_left_002 .title-h3 a:hover, .pc_left_008 .title-h3 a:hover {
  color: #00b6f9;
}
.pc_left_002 .title-h3-active a, .pc_left_008 .title-h3-active a {
  color: white;
  background: #00b6f9;
}
.pc_left_002 .title-h3-active a:hover, .pc_left_008 .title-h3-active a:hover {
  color: white;
}

.pc_left_007 .side-menu > li {
  border-bottom: 1px dotted #cccccc;
}
.pc_left_007 .side-menu h4 {
  color: #00b6f9;
}
.pc_left_007 .sec-menu > li > a:hover {
  color: #00b6f9;
}

.pc_market_006 {
  background: #00b6f9;
}
.pc_market_006 a:hover {
  background: #ddf6ff;
}

.site-filter .attrcon.special {
  background: #f9fdff;
}

.site-search .recommend a:hover {
  color: #00b6f9;
}

.site-sort .sort li a:hover {
  color: #00b6f9;
  background: white;
}
