@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html, body {
  height: 100%;
  font-family: '微軟正黑體',Tahoma,'新細明體','Arial Unicode MS',Arial,Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html:lang(vi-vn) body {
  font-family: Segoe UI,'微軟正黑體',Tahoma,'新細明體','Arial Unicode MS',Arial,Helvetica,sans-serif;
}

* {
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, ol {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

::-webkit-search-cancel-button {
  display: none;
}

.button {
  cursor: pointer;
  -webkit-appearance: none;
  font-size: 13px;
  color: white;
  text-decoration: none;
  width: auto;
  line-height: 1.6;
  height: auto;
  border: none;
  background: #d00;
  padding: 0 .9em;
  margin: 0;
  font-family: '微軟正黑體';
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
.button:hover {
  color: white;
  text-decoration: none;
  background: #f70000;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
.button.disabled, .button[disabled] {
  cursor: default;
  color: #cccccc;
  background: transparent;
}
.button.disabled:active, .button.disabled.pressed, .button[disabled]:active, .button[disabled].pressed {
  background: transparent;
}
.button[type=reset], .button[type=button], .button[type=submit] {
  font-family: inherit;
  border: 0 none;
  margin: 0;
}
.button:active, .button.pressed {
  background: #910000;
}
.button.large {
  font-size: 15px;
  padding: .37em .9em;
  height: auto;
  line-height: 1.4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.button.full {
  width: 100%;
}
.button.btn-rush, .button .btn-addcart, .button .btn-add {
  background: #e00517;
  color: white;
}
.button.btn-rush:hover, .button .btn-addcart:hover, .button .btn-add:hover {
  background: #f9061a;
}
.button.btn-rush:active, .button.btn-rush.pressed, .button .btn-addcart:active, .button .btn-addcart.pressed, .button .btn-add:active, .button .btn-add.pressed {
  background: #95030f;
}
.button.btn-follow-list, .button.btn-discount, .button.red {
  background: #dd0000;
}
.button.btn-follow-list:hover, .button.btn-discount:hover, .button.red:hover {
  background: #f70000;
}
.button.btn-follow-list:active, .button.btn-follow-list.pressed, .button.btn-discount:active, .button.btn-discount.pressed, .button.red:active, .button.red.pressed {
  background: #910000;
}
.button.btn-preorder, .button.yellow {
  background: #ffcc21;
  color: white;
}
.button.btn-preorder:hover, .button.yellow:hover {
  background: #ffd23b;
}
.button.btn-preorder:active, .button.btn-preorder.pressed, .button.yellow:active, .button.yellow.pressed {
  background: #d3a300;
}
.button.orange {
  background: #f90;
  color: white;
}
.button.orange:hover {
  background: #ffb442;
}
.button.orange:active, .button.orange.pressed {
  background: #e68a00;
}
.button.btn-arrival, .button.blue {
  background: #00a8ff;
  color: white;
}
.button.btn-arrival:hover, .button.blue:hover {
  background: #42bfff;
}
.button.btn-arrival:active, .button.btn-arrival.pressed, .button.blue:active, .button.blue.pressed {
  background: #0097e6;
}
.button.gray {
  background: #6c6c6c;
  color: white;
}
.button.gray:hover {
  background: #797979;
}
.button.gray:active, .button.gray.pressed {
  background: #464646;
}
.button.btn-preorder-finish, .button.btn-rush-finish, .button.btn-soldout-stock, .button.btn-soldout, .button.btn-to-sale {
  padding: 0;
  color: gray;
  font-weight: 700;
  cursor: default;
  background: transparent;
}
.button.btn-preorder-finish:hover, .button.btn-preorder-finish:active, .button.btn-preorder-finish.pressed, .button.btn-rush-finish:hover, .button.btn-rush-finish:active, .button.btn-rush-finish.pressed, .button.btn-soldout-stock:hover, .button.btn-soldout-stock:active, .button.btn-soldout-stock.pressed, .button.btn-soldout:hover, .button.btn-soldout:active, .button.btn-soldout.pressed, .button.btn-to-sale:hover, .button.btn-to-sale:active, .button.btn-to-sale.pressed {
  background: transparent;
}
.button.btn-to-sale {
  color: #f90;
}
.button.btn-checkout {
  background: #f90;
}

@-moz-document url-prefix() {}
.icon-search {
  position: relative;
}
.icon-search:before {
  content: ".";
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(../../../../../../c/img/sth_asap/icon_asap.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (max--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .icon-search:before {
    background-image: url(../../../../../../c/img/sth_asap/icon_retina_asap.png);
    background-size: 400px 400px;
  }
}
.icon-search:before {
  width: 25px;
  padding-top: 25px;
  background-position: -25px 0px;
  top: 0px;
  left: 0px;
}

.icon-cart {
  position: relative;
}
.icon-cart:before {
  content: ".";
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(../../../../../../c/img/sth_asap/icon_asap.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (max--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .icon-cart:before {
    background-image: url(../../../../../../c/img/sth_asap/icon_retina_asap.png);
    background-size: 400px 400px;
  }
}
.icon-cart:before {
  width: 25px;
  padding-top: 25px;
  background-position: -75px 0px;
  top: 0px;
  left: 0px;
}

.icon-close {
  position: relative;
}
.icon-close:before {
  content: ".";
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(../../../../../../c/img/sth_asap/icon_asap.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (max--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .icon-close:before {
    background-image: url(../../../../../../c/img/sth_asap/icon_retina_asap.png);
    background-size: 400px 400px;
  }
}
.icon-close:before {
  width: 25px;
  padding-top: 25px;
  background-position: -100px 0px;
  top: 0px;
  left: 0px;
}

.icon-go-top {
  position: relative;
}
.icon-go-top:before {
  content: ".";
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(../../../../../../c/img/sth_asap/icon_asap.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (max--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .icon-go-top:before {
    background-image: url(../../../../../../c/img/sth_asap/icon_retina_asap.png);
    background-size: 400px 400px;
  }
}
.icon-go-top:before {
  width: 25px;
  padding-top: 25px;
  background-position: -125px 0px;
  top: 0px;
  left: 0px;
}

[class*="icon-"]:before {
  content: "";
  position: relative;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
}

.icon-taishin {
  position: relative;
}
.icon-taishin:before {
  content: ".";
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(../../../../../../c/img/sth_asap/icon_bank.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (max--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .icon-taishin:before {
    background-image: url(../../../../../../c/img/sth_asap/icon_retina_bank.png);
    background-size: 400px 400px;
  }
}
.icon-taishin:before {
  width: 145px;
  padding-top: 30px;
  background-position: 0px -25px;
  top: 0px;
  left: 0px;
}

.icon-cosmos {
  position: relative;
}
.icon-cosmos:before {
  content: ".";
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(../../../../../../c/img/sth_asap/icon_bank.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (max--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .icon-cosmos:before {
    background-image: url(../../../../../../c/img/sth_asap/icon_retina_bank.png);
    background-size: 400px 400px;
  }
}
.icon-cosmos:before {
  width: 145px;
  padding-top: 30px;
  background-position: 0px -55px;
  top: 0px;
  left: 0px;
}

.icon-anz {
  position: relative;
}
.icon-anz:before {
  content: ".";
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(../../../../../../c/img/sth_asap/icon_bank.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (max--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .icon-anz:before {
    background-image: url(../../../../../../c/img/sth_asap/icon_retina_bank.png);
    background-size: 400px 400px;
  }
}
.icon-anz:before {
  width: 145px;
  padding-top: 30px;
  background-position: 0px -85px;
  top: 0px;
  left: 0px;
}

.icon-sk {
  position: relative;
}
.icon-sk:before {
  content: ".";
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(../../../../../../c/img/sth_asap/icon_bank.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (max--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .icon-sk:before {
    background-image: url(../../../../../../c/img/sth_asap/icon_retina_bank.png);
    background-size: 400px 400px;
  }
}
.icon-sk:before {
  width: 145px;
  padding-top: 30px;
  background-position: 0px -115px;
  top: 0px;
  left: 0px;
}

.icon-hsbc {
  position: relative;
}
.icon-hsbc:before {
  content: ".";
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(../../../../../../c/img/sth_asap/icon_bank.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (max--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .icon-hsbc:before {
    background-image: url(../../../../../../c/img/sth_asap/icon_retina_bank.png);
    background-size: 400px 400px;
  }
}
.icon-hsbc:before {
  width: 145px;
  padding-top: 30px;
  background-position: 0px -145px;
  top: 0px;
  left: 0px;
}

.icon-sc {
  position: relative;
}
.icon-sc:before {
  content: ".";
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(../../../../../../c/img/sth_asap/icon_bank.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (max--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .icon-sc:before {
    background-image: url(../../../../../../c/img/sth_asap/icon_retina_bank.png);
    background-size: 400px 400px;
  }
}
.icon-sc:before {
  width: 145px;
  padding-top: 30px;
  background-position: 0px -175px;
  top: 0px;
  left: 0px;
}

.icon-aeon {
  position: relative;
}
.icon-aeon:before {
  content: ".";
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(../../../../../../c/img/sth_asap/icon_bank.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (max--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .icon-aeon:before {
    background-image: url(../../../../../../c/img/sth_asap/icon_retina_bank.png);
    background-size: 400px 400px;
  }
}
.icon-aeon:before {
  width: 145px;
  padding-top: 30px;
  background-position: 0px -205px;
  top: 0px;
  left: 0px;
}

.icon-first {
  position: relative;
}
.icon-first:before {
  content: ".";
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(../../../../../../c/img/sth_asap/icon_bank.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (max--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .icon-first:before {
    background-image: url(../../../../../../c/img/sth_asap/icon_retina_bank.png);
    background-size: 400px 400px;
  }
}
.icon-first:before {
  width: 145px;
  padding-top: 30px;
  background-position: 0px -235px;
  top: 0px;
  left: 0px;
}

.icon-yuanta {
  position: relative;
}
.icon-yuanta:before {
  content: ".";
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(../../../../../../c/img/sth_asap/icon_bank.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (max--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .icon-yuanta:before {
    background-image: url(../../../../../../c/img/sth_asap/icon_retina_bank.png);
    background-size: 400px 400px;
  }
}
.icon-yuanta:before {
  width: 145px;
  padding-top: 30px;
  background-position: 0px -265px;
  top: 0px;
  left: 0px;
}

.icon-enti {
  position: relative;
}
.icon-enti:before {
  content: ".";
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(../../../../../../c/img/sth_asap/icon_bank.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (max--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .icon-enti:before {
    background-image: url(../../../../../../c/img/sth_asap/icon_retina_bank.png);
    background-size: 400px 400px;
  }
}
.icon-enti:before {
  width: 145px;
  padding-top: 30px;
  background-position: 0px -295px;
  top: 0px;
  left: 0px;
}

.icon-cathay {
  position: relative;
}
.icon-cathay:before {
  content: ".";
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(../../../../../../c/img/sth_asap/icon_bank.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (max--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .icon-cathay:before {
    background-image: url(../../../../../../c/img/sth_asap/icon_retina_bank.png);
    background-size: 400px 400px;
  }
}
.icon-cathay:before {
  width: 145px;
  padding-top: 30px;
  background-position: -145px -25px;
  top: 0px;
  left: 0px;
}

.icon-esun {
  position: relative;
}
.icon-esun:before {
  content: ".";
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(../../../../../../c/img/sth_asap/icon_bank.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (max--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .icon-esun:before {
    background-image: url(../../../../../../c/img/sth_asap/icon_retina_bank.png);
    background-size: 400px 400px;
  }
}
.icon-esun:before {
  width: 145px;
  padding-top: 30px;
  background-position: -145px -55px;
  top: 0px;
  left: 0px;
}

.icon-jihsun {
  position: relative;
}
.icon-jihsun:before {
  content: ".";
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(../../../../../../c/img/sth_asap/icon_bank.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (max--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .icon-jihsun:before {
    background-image: url(../../../../../../c/img/sth_asap/icon_retina_bank.png);
    background-size: 400px 400px;
  }
}
.icon-jihsun:before {
  width: 145px;
  padding-top: 30px;
  background-position: -145px -85px;
  top: 0px;
  left: 0px;
}

.icon-fubon {
  position: relative;
}
.icon-fubon:before {
  content: ".";
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(../../../../../../c/img/sth_asap/icon_bank.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (max--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .icon-fubon:before {
    background-image: url(../../../../../../c/img/sth_asap/icon_retina_bank.png);
    background-size: 400px 400px;
  }
}
.icon-fubon:before {
  width: 145px;
  padding-top: 30px;
  background-position: -145px -115px;
  top: 0px;
  left: 0px;
}

.icon-sinopac {
  position: relative;
}
.icon-sinopac:before {
  content: ".";
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(../../../../../../c/img/sth_asap/icon_bank.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (max--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .icon-sinopac:before {
    background-image: url(../../../../../../c/img/sth_asap/icon_retina_bank.png);
    background-size: 400px 400px;
  }
}
.icon-sinopac:before {
  width: 145px;
  padding-top: 30px;
  background-position: -145px -145px;
  top: 0px;
  left: 0px;
}

.icon-hncb {
  position: relative;
}
.icon-hncb:before {
  content: ".";
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(../../../../../../c/img/sth_asap/icon_bank.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (max--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .icon-hncb:before {
    background-image: url(../../../../../../c/img/sth_asap/icon_retina_bank.png);
    background-size: 400px 400px;
  }
}
.icon-hncb:before {
  width: 145px;
  padding-top: 30px;
  background-position: -145px -175px;
  top: 0px;
  left: 0px;
}

.icon-meg {
  position: relative;
}
.icon-meg:before {
  content: ".";
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(../../../../../../c/img/sth_asap/icon_bank.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (max--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .icon-meg:before {
    background-image: url(../../../../../../c/img/sth_asap/icon_retina_bank.png);
    background-size: 400px 400px;
  }
}
.icon-meg:before {
  width: 145px;
  padding-top: 30px;
  background-position: -145px -205px;
  top: 0px;
  left: 0px;
}

.icon-ctbc {
  position: relative;
}
.icon-ctbc:before {
  content: ".";
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(../../../../../../c/img/sth_asap/icon_bank.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (max--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .icon-ctbc:before {
    background-image: url(../../../../../../c/img/sth_asap/icon_retina_bank.png);
    background-size: 400px 400px;
  }
}
.icon-ctbc:before {
  width: 145px;
  padding-top: 30px;
  background-position: -145px -234px;
  top: 0px;
  left: 0px;
}

.icon-scsb {
  position: relative;
}
.icon-scsb:before {
  content: ".";
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(../../../../../../c/img/sth_asap/icon_bank.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (max--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .icon-scsb:before {
    background-image: url(../../../../../../c/img/sth_asap/icon_retina_bank.png);
    background-size: 400px 400px;
  }
}
.icon-scsb:before {
  width: 145px;
  padding-top: 30px;
  background-position: -145px -265px;
  top: 0px;
  left: 0px;
}

.icon-visa {
  position: relative;
}
.icon-visa:before {
  content: ".";
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(../../../../../../c/img/sth_asap/icon_bank.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (max--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .icon-visa:before {
    background-image: url(../../../../../../c/img/sth_asap/icon_retina_bank.png);
    background-size: 400px 400px;
  }
}
.icon-visa:before {
  width: 38px;
  padding-top: 30px;
  background-position: -1px -325px;
  top: 0px;
  left: 0px;
}

.icon-jcb {
  position: relative;
}
.icon-jcb:before {
  content: ".";
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(../../../../../../c/img/sth_asap/icon_bank.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (max--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .icon-jcb:before {
    background-image: url(../../../../../../c/img/sth_asap/icon_retina_bank.png);
    background-size: 400px 400px;
  }
}
.icon-jcb:before {
  width: 23px;
  padding-top: 30px;
  background-position: -46px -325px;
  top: 0px;
  left: 0px;
}

.icon-mastercard {
  position: relative;
}
.icon-mastercard:before {
  content: ".";
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(../../../../../../c/img/sth_asap/icon_bank.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (max--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .icon-mastercard:before {
    background-image: url(../../../../../../c/img/sth_asap/icon_retina_bank.png);
    background-size: 400px 400px;
  }
}
.icon-mastercard:before {
  width: 31px;
  padding-top: 30px;
  background-position: -75px -325px;
  top: 0px;
  left: 0px;
}

.icon-atm {
  position: relative;
}
.icon-atm:before {
  content: ".";
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(../../../../../../c/img/sth_asap/icon_bank.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (max--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .icon-atm:before {
    background-image: url(../../../../../../c/img/sth_asap/icon_retina_bank.png);
    background-size: 400px 400px;
  }
}
.icon-atm:before {
  width: 32px;
  padding-top: 30px;
  background-position: -114px -325px;
  top: 0px;
  left: 0px;
}

.icon-seven {
  position: relative;
}
.icon-seven:before {
  content: ".";
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(../../../../../../c/img/sth_asap/icon_bank.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (max--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .icon-seven:before {
    background-image: url(../../../../../../c/img/sth_asap/icon_retina_bank.png);
    background-size: 400px 400px;
  }
}
.icon-seven:before {
  width: 16px;
  padding-top: 16px;
  background-position: 0px -6px;
  top: 0px;
  left: 0px;
}

.icon-fami {
  position: relative;
}
.icon-fami:before {
  content: ".";
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(../../../../../../c/img/sth_asap/icon_bank.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (max--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .icon-fami:before {
    background-image: url(../../../../../../c/img/sth_asap/icon_retina_bank.png);
    background-size: 400px 400px;
  }
}
.icon-fami:before {
  width: 17px;
  padding-top: 16px;
  background-position: -21px -6px;
  top: 0px;
  left: 0px;
}

[class*="icon-"]:before {
  content: "";
  position: relative;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  padding: 0;
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
  position: relative;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 500px;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading {
  position: fixed;
  top: 0;
  z-index: 8060;
  width: 100%;
  height: 100%;
  background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2032%2032%22%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23ccc%22%3E%0A%20%20%3Cpath%20opacity%3D%22.25%22%20d%3D%22M16%200%20A16%2016%200%200%200%2016%2032%20A16%2016%200%200%200%2016%200%20M16%204%20A12%2012%200%200%201%2016%2028%20A12%2012%200%200%201%2016%204%22/%3E%0A%20%20%3Cpath%20d%3D%22M16%200%20A16%2016%200%200%201%2032%2016%20L28%2016%20A12%2012%200%200%200%2016%204z%22%3E%0A%20%20%20%20%3CanimateTransform%20attributeName%3D%22transform%22%20type%3D%22rotate%22%20from%3D%220%2016%2016%22%20to%3D%22360%2016%2016%22%20dur%3D%220.8s%22%20repeatCount%3D%22indefinite%22%20/%3E%0A%20%20%3C/path%3E%0A%3C/svg%3E%0A%0A) center center no-repeat;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

#fancybox-loading:after {
  position: fixed;
  top: 50%;
  width: 100%;
  margin-top: 20px;
  font-size: 16px;
  color: #aaa;
  text-align: center;
  content: "Loading";
}

.fancybox-close {
  font-family: FontAwesome;
  -webkit-font-smoothing: antialiased;
  padding: 6px;
  color: white;
}
.fancybox-close:before {
  content: "\f00d";
}

.fancybox-close {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 28px;
  height: 30px;
  cursor: pointer;
  z-index: 8040;
  background: #333;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #fff;
  -webkit-box-shadow: -1px 1px 3px #555;
  -moz-box-shadow: -1px 1px 3px #555;
  box-shadow: -1px 1px 3px #555;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: transparent;
  z-index: 8040;
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

.fancybox-nav:hover span {
  visibility: visible;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}

.fancybox-lock body {
  overflow: hidden !important;
}

.fancybox-lock-test {
  overflow-y: hidden !important;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("../../../../../../c/img/frame/fancybox_overlay.png");
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-size: 44px 44px;
    /*The size of the normal image, half the size of the hi-res image*/
  }

  #fancybox-loading div {
    background-image: url("../../../../../../../c/img/frame/fancybox_loading@2x.gif");
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
}
.fancybox-inner .title {
  padding: 5px 15px;
  font-weight: bold;
  background: #e00517;
  color: white;
  line-height: 180%;
}
.fancybox-inner .block {
  position: relative;
  background: white;
  line-height: 180%;
  padding: 15px;
}
.fancybox-inner .block {
  zoom: 1;
}
.fancybox-inner .block:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.fancybox-inner .block .line {
  font-size: 14px;
  padding: 0 10px;
}
.fancybox-inner .block .button {
  vertical-align: top;
}
.fancybox-inner .block .key {
  color: black;
  display: inline-block;
  vertical-align: top;
  word-wrap: break-word;
  text-align: justify;
  text-justify: inter-ideograph;
  min-width: 100px;
  max-width: 180px;
}
.fancybox-inner .block .value {
  display: inline-block;
}
.fancybox-inner .block .price {
  color: #e00517;
  font-weight: bold;
}
.fancybox-inner .block hr {
  margin: 10px 0;
}
.fancybox-inner .block .product {
  margin-right: 12px;
  display: inline-block;
  vertical-align: top;
}
.fancybox-inner .block .options {
  max-width: 400px;
  display: inline-block;
}
.fancybox-inner .block .options .option {
  margin: 10px 0;
}
.fancybox-inner .block .options .key {
  min-width: 40px;
  vertical-align: top;
  display: inline-block;
}
.fancybox-inner .block .options .value {
  display: inline-block;
  width: 80%;
  margin-bottom: -8px;
  position: relative;
  z-index: 0;
}
.fancybox-inner .block .options .value > li {
  padding: 10px 10px;
  margin: 0 8px 8px 0;
  cursor: pointer;
  height: 36px;
  border: 1px solid #cccccc;
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  vertical-align: top;
}
.fancybox-inner .block .options .value > li.img {
  padding: 1px;
}
.fancybox-inner .block .options .value > li img {
  height: 100%;
  display: block;
  width: 36px;
  text-align: center;
  position: relative;
  z-index: -1;
}
.fancybox-inner .block .options .value .active {
  position: relative;
  border: 1px solid #e00517;
  color: #e00517;
}
.fancybox-inner .block .options .value .active:after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  border-style: solid;
  border-width: 0 0 15px 15px;
  border-color: transparent transparent #e00517 transparent;
  z-index: 10;
}
.fancybox-inner .block .options .value .active .type {
  padding: 3px;
}
.fancybox-inner .block .options .value .active .fa {
  position: absolute;
  right: -1px;
  bottom: -2px;
  color: white;
  font-size: 12px;
  z-index: 20;
  -ms-transform: scale(0.8, 0.8);
  /* IE 9 */
  -webkit-transform: scale(0.8, 0.8);
  /* Chrome, Safari, Opera */
  transform: scale(0.8, 0.8);
}
.fancybox-inner .block .options .value .disabled {
  position: relative;
  cursor: not-allowed;
  border: 1px dashed #cccccc;
  opacity: 0.5;
}
.fancybox-inner .block .options .value .disabled .fa {
  position: absolute;
  right: 2px;
  bottom: 0px;
  color: #cccccc;
  font-size: 16px;
  z-index: 5;
}
.fancybox-inner .block .options .value .item {
  font-size: 13px;
  margin-bottom: 8px;
}
.fancybox-inner .block .quantity {
  vertical-align: top;
}
.fancybox-inner .block hr + .line {
  text-align: center;
}
.fancybox-inner .block .final-price:after {
  content: "";
  display: block;
}
.fancybox-inner .name {
  font-weight: bold;
  margin-right: 5px;
}
.fancybox-inner .actions {
  font-size: 14px;
  text-align: center;
  padding: 0 20px;
}

.cart-mark, .add-follow-list, .arrival-info {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background: #FFF !important;
  border: none !important;
  filter: alpha(opacity=65);
  -moz-opacity: 0.65;
  opacity: 0.65;
}
.cart-mark p, .add-follow-list p, .arrival-info p {
  padding: 10px;
  position: fixed;
  top: 50%;
  left: 45%;
  background: #e00517;
  text-align: center;
  color: white;
  letter-spacing: 1px;
}

.add-follow-list p {
  background: #dd0000;
}

.arrival-info p {
  background: #00a8ff;
}

.fancybox-fee-calculate b {
  color: black;
}
.fancybox-fee-calculate .f-c-currency {
  font-size: 14px;
  margin-right: 3px;
}
.fancybox-fee-calculate .f-c-price {
  font-size: 16px;
}
.fancybox-fee-calculate .f-c-info {
  color: #999;
  font-size: 14px;
  text-align: center;
  padding: 0 20px;
}
.fancybox-fee-calculate .line {
  min-width: 200px;
  position: relative;
  clear: both;
  margin: 0 20px;
}
.fancybox-fee-calculate .line + .line .key:before {
  content: "+";
  position: absolute;
  left: -5px;
}
.fancybox-fee-calculate .line .key {
  text-align: right;
}
.fancybox-fee-calculate .line .price {
  font-size: 16px;
}
.fancybox-fee-calculate .line .value {
  float: right;
  color: black;
  font-weight: 700;
}
.fancybox-fee-calculate .total {
  margin: 10px 20px 0;
  padding: 5px 10px !important;
  border-top: 1px solid #ccc;
  text-align: right;
  font-weight: 700;
}
.fancybox-fee-calculate .total .f-c-price {
  color: #e00517;
  font-size: 18px;
}

.hide {
  display: none;
}

.container {
  width: 1220px;
  position: relative;
  margin: 0 auto;
}
.container {
  zoom: 1;
}
.container:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.site-body {
  padding-bottom: 40px;
  width: 1220px;
  margin: 0 auto;
}
.site-body {
  zoom: 1;
}
.site-body:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

@media only screen and (min-width: 999px) {
  .hidden-desktop {
    display: none !important;
  }
}

body {
  color: #383838;
  background: white;
}

a {
  color: #333;
}

.title-h3 {
  color: black;
  font-size: 18px;
  margin-bottom: 15px;
  padding: 10px 0;
  font-weight: bold;
}
.title-h3 .sub {
  font-size: 12px;
  color: #e00517;
  font-style: italic;
  margin-bottom: 5px;
}
@media (max-width: 999px) {
  .title-h3 {
    margin: 10px 0;
  }
}

.red-text {
  color: #dd0000;
}

input[type='password'], input[type='email'], input[type='tel'], input[type='text'], input[type='number'], input[type='search'] {
  -webkit-appearance: none;
  font-family: 'Heiti TC','微軟正黑體','新細明體','Arial Unicode MS',Arial,Helvetica,sans-serif;
  width: 100%;
  padding: 4px;
  margin: 0 0 10px 0;
  border: 1px solid #cccccc;
  font-size: 0.85em;
  background: white;
  color: black;
}
input[type='password']:focus, input[type='email']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='number']:focus, input[type='search']:focus {
  outline: none;
}

select {
  background: white;
  color: black;
  padding: 4px;
  border: 1px solid #cccccc;
  margin: 0;
}

.select-style {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0 0 0 6px;
  border: 1px solid #cccccc;
  width: 120px;
  overflow: hidden;
  background-color: white;
  background: white url("../../../../../../c/img/frame/arrowdown.gif") no-repeat 90% 50%;
}

.select-style select {
  color: black;
  padding: 5px 8px;
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-style select:focus {
  outline: none;
}

.input-style {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  border: 1px solid #cccccc;
  overflow: hidden;
  background-color: white;
}

.input-style input {
  color: black;
  padding: 5px 8px;
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.quantity-add {
  position: relative;
}

.quantity-alert {
  position: absolute;
  left: -80px;
  top: -120%;
  background: #dd0000;
  color: white;
  font-size: 13px;
  line-height: 1;
  padding: 5px;
  white-space: nowrap;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.quantity-alert:after {
  position: absolute;
  bottom: -30%;
  left: 45%;
  content: '';
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #dd0000 transparent transparent transparent;
}

.quantity {
  display: inline-block;
  font-size: 0;
}
.quantity {
  zoom: 1;
}
.quantity:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.quantity.small .quantity-input {
  height: 22px;
  width: 24px;
  font-size: 12px;
}
.quantity.small .quantity-decrease, .quantity.small .quantity-increase {
  padding: 2px 4px;
  width: 20px;
}
.quantity .quantity-input {
  line-height: 1;
  width: 36px;
  height: 32px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 12px;
  border-width: 0;
  border-top-width: 1px;
  border-bottom-width: 1px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}
.quantity .quantity-decrease {
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  padding: 7px;
  font-size: 16px;
  border: 1px solid #cccccc;
  width: 28px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.quantity .quantity-increase {
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  padding: 7px;
  font-size: 16px;
  border: 1px solid #cccccc;
  width: 28px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav-to-top {
  display: none;
  position: fixed;
  bottom: 200px;
  right: 0px;
  padding: 10px 11px 8px 14px;
  text-align: center;
  border: 1px solid #cccccc;
  border-right: none;
  font-size: 12px;
  z-index: 10;
  cursor: pointer;
  opacity: 0.95;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#efefef));
  background-image: -webkit-linear-gradient(top, white, #efefef);
  background-image: -moz-linear-gradient(top, white, #efefef);
  background-image: -ms-linear-gradient(top, white, #efefef);
  background-image: -o-linear-gradient(top, white, #efefef);
  background-image: linear-gradient(top bottom, white, #efefef);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
  -webkit-box-shadow: -1px 0 2px 0px rgba(127, 127, 127, 0.2);
  -moz-box-shadow: -1px 0 2px 0px rgba(127, 127, 127, 0.2);
  box-shadow: -1px 0 2px 0px rgba(127, 127, 127, 0.2);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.nav-to-top .fa {
  font-size: 22px;
}
.nav-to-top.show {
  right: 0px;
  opacity: 0.9;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
}
.nav-to-top:hover {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  background-color: #efefef;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(white));
  background-image: -webkit-linear-gradient(top, #efefef, white);
  background-image: -moz-linear-gradient(top, #efefef, white);
  background-image: -ms-linear-gradient(top, #efefef, white);
  background-image: -o-linear-gradient(top, #efefef, white);
  background-image: linear-gradient(top bottom, #efefef, white);
}
.nav-to-top:hover .fa {
  color: #e00517;
}

.img-spacing {
  margin-bottom: 15px !important;
}

.is-border-none:hover {
  border: 1px solid transparent !important;
}

del {
  height: 12px;
  font-size: 10px;
  margin-right: 2px;
  margin-bottom: 5px;
  color: #666666;
  display: block;
  height: 12px;
}

.site-main .nav-breadcrumbs .container {
  font-size: 14px;
}
.site-main .nav-breadcrumbs .cate a:hover {
  text-decoration: underline;
}

html:lang(vi-vn) .site-main .btn {
  font-size: 12px;
}

.trans-block {
  position: absolute;
  right: 0;
  top: 8px;
  font-size: 12px;
  font-weight: bold;
  color: #1882ee;
  display: block;
  line-height: 1;
  opacity: 0.7;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
.trans-block .translation {
  display: inline-block;
  font-size: 13px;
  color: white;
  line-height: 1;
  margin-left: 1px;
}
.trans-block .translation img {
  width: 25px;
}
.trans-block:hover {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  color: #1882ee !important;
}

.trans-block-03 {
  position: fixed;
  bottom: 255px;
  right: 0px;
  z-index: 10;
  font-size: 12px;
  color: white;
  line-height: 1;
  letter-spacing: 4px;
  text-align: center;
  padding: 8px 6px 7px 10px;
  background: #1BA7FC;
  border: 1px solid white;
  border-right: none;
  background-color: #1BA7FC;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1BA7FC), to(#0993E7));
  background-image: -webkit-linear-gradient(top, #1BA7FC, #0993E7);
  background-image: -moz-linear-gradient(top, #1BA7FC, #0993E7);
  background-image: -ms-linear-gradient(top, #1BA7FC, #0993E7);
  background-image: -o-linear-gradient(top, #1BA7FC, #0993E7);
  background-image: linear-gradient(top bottom, #1BA7FC, #0993E7);
  -webkit-box-shadow: -1px 0 1px 0px rgba(127, 127, 127, 0.3);
  -moz-box-shadow: -1px 0 1px 0px rgba(127, 127, 127, 0.3);
  box-shadow: -1px 0 1px 0px rgba(127, 127, 127, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
  opacity: 0.9;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.trans-block-03 img {
  width: 30px;
  display: block;
  margin-bottom: 3px;
}
.trans-block-03.show {
  right: 0px;
  opacity: 0.9;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
}
.trans-block-03:hover {
  background: #0F7ABB;
  background-color: #0993E7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0993E7), to(#1BA7FC));
  background-image: -webkit-linear-gradient(top, #0993E7, #1BA7FC);
  background-image: -moz-linear-gradient(top, #0993E7, #1BA7FC);
  background-image: -ms-linear-gradient(top, #0993E7, #1BA7FC);
  background-image: -o-linear-gradient(top, #0993E7, #1BA7FC);
  background-image: linear-gradient(top bottom, #0993E7, #1BA7FC);
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

.tag-status {
  font-size: 12px;
  line-height: 1.44;
  letter-spacing: normal;
  font-weight: bold;
  margin-left: 5px;
  padding: 0 5px;
  border: 1px solid;
  background: white;
  display: inline-block;
}
.tag-status.is-odd {
  border-color: #53c6db;
  color: #53c6db;
}
.tag-status.is-odd a {
  color: #53c6db;
}
.tag-status.is-preorder {
  border-color: #ffc107;
  color: #ffc107;
}
.tag-status.is-preorder a {
  color: #ffc107;
}
.tag-status.is-imported {
  border-color: #7caa18;
  color: #7caa18;
}
.tag-status.is-imported a {
  color: #7caa18;
}
.tag-status.is-uitox-5h-delivery {
  border-color: #f27ba3;
  color: #f27ba3;
}
.tag-status.is-uitox-5h-delivery a {
  color: #f27ba3;
}
.tag-status.is-uitox-24h-delivery {
  border-color: #FF3600;
  color: #FF3600;
}
.tag-status.is-uitox-24h-delivery a {
  color: #FF3600;
}
.tag-status.is-vendor-delivery {
  border-color: #a48fbb;
  color: #a48fbb;
}
.tag-status.is-vendor-delivery a {
  color: #a48fbb;
}
.tag-status.is-separate-delivery {
  border-color: #4498c8;
  color: #4498c8;
}
.tag-status.is-separate-delivery a {
  color: #4498c8;
}
.tag-status.is-max-purchase {
  border-color: #7b8ea2;
  color: #7b8ea2;
}
.tag-status.is-max-purchase a {
  color: #7b8ea2;
}
.tag-status.is-2h-delivery {
  background: none;
  border: none;
  padding: 0;
}

.site-ad-top .container {
  font-size: 0;
}
.site-ad-top .container img {
  width: 100%;
}

@media (max-width: 767px) {
  .site-ad-top {
    display: none;
  }
}
body {
  padding-top: 36px;
}

.site-header {
  position: relative;
  border-bottom: 1px solid #e9e9e9;
}
.site-header {
  zoom: 1;
}
.site-header:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.site-header.imported-header .logo {
  margin-top: 12px;
}
.site-header.imported-header > .container {
  margin-bottom: 5px;
}
.site-header > .container {
  margin-bottom: 5px;
}
.site-header > .container {
  zoom: 1;
}
.site-header > .container:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.site-header .logo {
  float: left;
  margin-top: 25px;
  margin-right: 15px;
  /*.all-number{
      position: relative;
      top: 0;
      right: 3px;
      font-size: 12px;
      text-align: right;
      font-weight: 700;
      font-style: oblique;
      text-shadow:1px 1px 1px #f2f2f2;
      i{
          color: #d00;
          font-size: 12px;
      }
      span{
          font-size: 13px;
          color: #d00;
          font-weight: 700;
      }
  }*/
}
.site-header .logo img {
  max-width: 320px;
  max-height: 45px;
}
.site-header .logo h1 {
  display: none;
}
.site-header .get {
  float: left;
  margin-right: 10px;
  font-size: 0;
}
.site-header .function-btn {
  float: left;
  margin-right: 5px;
  margin-top: 33px;
  background: #ffe99e;
  color: black;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  height: 25px;
  background-color: #ffe99e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe99e), to(#ffce39));
  background-image: -webkit-linear-gradient(top, #ffe99e, #ffce39);
  background-image: -moz-linear-gradient(top, #ffe99e, #ffce39);
  background-image: -ms-linear-gradient(top, #ffe99e, #ffce39);
  background-image: -o-linear-gradient(top, #ffe99e, #ffce39);
  background-image: linear-gradient(top bottom, #ffe99e, #ffce39);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.site-header .function-btn:hover {
  background: #ffce39;
}
.site-header .function-btn .fa {
  margin-right: 5px;
}
.site-header .function-btn span {
  font-family: arial;
  font-weight: normal;
}
.site-header .function-btn2 {
  float: left;
  margin-right: 5px;
  margin-top: 33px;
  background: #f31717;
  color: white;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  height: 25px;
  background-color: #f31717;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f31717), to(#ca0005));
  background-image: -webkit-linear-gradient(top, #f31717, #ca0005);
  background-image: -moz-linear-gradient(top, #f31717, #ca0005);
  background-image: -ms-linear-gradient(top, #f31717, #ca0005);
  background-image: -o-linear-gradient(top, #f31717, #ca0005);
  background-image: linear-gradient(top bottom, #f31717, #ca0005);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.site-header .function-btn2:hover {
  background: #ca0005;
}
.site-header .function-btn2 .fa {
  margin-right: 5px;
}
.site-header .function-btn2 span {
  font-family: arial;
  font-weight: normal;
}

.site-topbar {
  padding: 7px 0 0 0;
  background: #f7f7f7;
  border-bottom: 1px solid #cccccc;
  width: 100%;
  min-height: 36px;
  position: fixed;
  top: 0;
  z-index: 99;
}
.site-topbar .container {
  max-width: 1220px;
  width: 100%;
}
.site-topbar {
  zoom: 1;
}
.site-topbar:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.site-topbar a:hover {
  color: #e00517;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.site-topbar .cart-btn-top {
  position: relative;
  float: right;
  margin-top: -5px;
}
.site-topbar .cart-btn-top:hover .icon-cart {
  color: #e00517;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.site-topbar .cart-btn-top .count {
  position: absolute;
  top: 0px;
  left: 4px;
  background: #e00517;
  color: white;
  font-style: normal;
  padding: 2px 5px;
  z-index: 3;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.site-topbar .cart-btn-top .cart-banner {
  display: inline-block;
  margin-left: 2px;
  font-size: 0.75em;
}
.site-topbar .cart-btn-top .focus {
  color: #dd0000;
  display: inline-block;
  padding: 0 3px;
  font-weight: bold;
}
.site-topbar .nav-other {
  float: left;
  margin-top: 2px;
  /*.nav-seatch{
      position: relative;
      bottom: 3px;
      vertical-align: top;
      z-index: 3;
      padding: 0;
      .form{
          font-size: 0;
      }
      .input-search{
          border: 1px solid $border2;
          padding-left: 10px;
          padding-right: 10px;
          margin: 0;
          width: 150px;
          height: 24px;
          background: $search_bk;
          color: $search_text;
          font-size: 12px;
          &:focus{
              color: black;
              border: 1px solid #ff5100;
          }
      }
      .btn-submit{
          background: #ff5100;
          border: none;
          width: 24px;
          height: 24px;
          vertical-align: top;
          cursor: pointer;
          border-radius: 0 4px 4px 0;
      }
      .icon-search{
          position: relative;
          bottom: 1px;
          right: 7px;
          padding: 0;
          font-size: 14px;
          color: white;
          &:before{
              background: none;
              height: auto;
              padding-top: 0;
          }
      }
      .icon{
          position: absolute;
          right: 23px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 12px 10px 12px 0;
          border-color: transparent #ff5100 transparent transparent;
      }
  }*/
}
.site-topbar .nav-other {
  zoom: 1;
}
.site-topbar .nav-other:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.site-topbar .nav-other > li {
  float: left;
  font-size: 0.75em;
  padding: 3px 6px;
}
.site-topbar .nav-other > li:after {
  content: "|";
  margin-left: 10px;
  color: #cccccc;
}
.site-topbar .nav-other > li:last-child:after {
  content: "";
  margin-left: 0;
}
.site-topbar .nav-other .all-number {
  position: relative;
  top: -3px;
  right: 3px;
  font-size: 13px;
  text-align: right;
  font-weight: 800;
  letter-spacing: 0.06em;
  text-shadow: 1px 1px 1px #f2f2f2;
}
.site-topbar .nav-other .all-number i {
  color: #d00;
  font-size: 13px;
}
.site-topbar .nav-other .all-number span {
  font-size: 14px;
  color: #d00;
  font-weight: 700;
}
.site-topbar .nav-other .all-number .bacolor {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 33px;
  width: 93px;
  height: 10px;
  background: #FFF;
  z-index: -1;
  border-bottom: #ddd 2px solid;
}
.site-topbar .nav-other .site-btn {
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 4px;
}
.site-topbar .nav-other .site-btn:after {
  content: " ";
  margin-left: 0;
  color: none;
}
.site-topbar .nav-other .site-btn .function-btn {
  margin-right: 5px;
  margin-top: 0;
  background: #ffe99e;
  color: black;
  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
  height: 24px;
  background-color: #ffe99e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe99e), to(#ffce39));
  background-image: -webkit-linear-gradient(top, #ffe99e, #ffce39);
  background-image: -moz-linear-gradient(top, #ffe99e, #ffce39);
  background-image: -ms-linear-gradient(top, #ffe99e, #ffce39);
  background-image: -o-linear-gradient(top, #ffe99e, #ffce39);
  background-image: linear-gradient(top bottom, #ffe99e, #ffce39);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.site-topbar .nav-other .site-btn .function-btn:hover {
  background: #ffce39;
}
.site-topbar .nav-other .site-btn .function-btn i {
  position: relative;
  right: 4px;
}
.site-topbar .nav-other .site-search {
  margin: 0;
  padding: 0 0 0 6px;
  position: relative;
  bottom: 4px;
}
.site-topbar .nav-other .site-search .form {
  font-size: 0;
}
.site-topbar .nav-other .site-search .input-search {
  border: 1px solid #e00517;
  width: 160px;
  height: 24px;
}
.site-topbar .nav-other .site-search .btn-submit {
  height: 24px;
}
.site-topbar .nav-other .site-search .icon-search {
  position: relative;
  bottom: 1px;
  padding: 0px;
  font-size: 14px;
}

.site-news {
  float: left;
  margin: 22px 0 0 8px;
}
.site-news {
  zoom: 1;
}
.site-news:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.site-news > li {
  float: left;
  font-size: 12px;
  line-height: 1.7;
  font-weight: bold;
  color: #e00517;
}
.site-news > li:after {
  content: "|";
  margin-left: 10px;
  color: #cccccc;
}
.site-news > li:last-child:after {
  content: "";
}
.site-news > li:first-child {
  padding-left: 0;
}

.cart-btn {
  position: relative;
  float: right;
  padding: 9px 0 9px;
  font-size: 0.9em;
  margin-top: 5px;
}
.cart-btn:hover .icon-cart {
  color: #e00517;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.cart-btn .count {
  position: absolute;
  top: 2px;
  left: -5px;
  width: 19px;
  height: 19px;
  background: #e00517;
  color: white;
  font-style: normal;
  font-size: 12px;
  text-align: center;
  line-height: 19px;
  z-index: 3;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.cart-btn .cart-banner {
  display: inline-block;
  margin-left: 2px;
  font-size: 0.75em;
}
.cart-btn .focus {
  color: #dd0000;
  display: inline-block;
  padding: 0 3px;
  font-weight: bold;
}

.asap-app {
  margin-top: -2px;
  position: relative;
}
.asap-app span {
  color: #d00;
  font-weight: 700;
}
.asap-app .fa-mobile {
  font-size: 1.5em;
  margin-right: 5px;
  vertical-align: -2px;
}
.asap-app .asap-top-app {
  display: none;
  position: absolute;
  top: 24px;
  right: 7px;
}
.asap-app .asap-top-app img {
  display: block;
  padding: 4px 0;
}
.asap-app:hover .asap-top-app {
  display: block;
}

.site-search {
  float: left;
  vertical-align: top;
  margin: 25px 0 0;
  z-index: 3;
}
.site-search .form {
  font-size: 0;
}
.site-search .input-search {
  border: 3px solid #e00517;
  padding-left: 10px;
  margin: 0;
  width: 300px;
  height: 34px;
  background: white;
  color: #555;
  font-size: 12px;
}
.site-search .input-search:focus {
  color: black;
}
.site-search .btn-submit {
  background: #e00517;
  border: none;
  margin: 0;
  height: 34px;
  vertical-align: top;
  cursor: pointer;
}
.site-search .icon-search {
  padding: 5px 0px;
  font-size: 20px;
  color: white;
}
.site-search .icon-search:before {
  background: none;
  height: auto;
  padding-top: 0;
}
.site-search .recommend {
  font-size: 0.815em;
  margin-top: 3px;
  width: 337px;
  height: 20px;
  overflow: hidden;
}
.site-search .recommend > li {
  float: left;
  list-style: none;
  padding: 3px 6px;
}
.site-search .recommend > li:first-child {
  padding-left: 0;
}
.site-search .recommend a {
  color: #888;
}
.site-search .recommend a:hover {
  color: #e00517;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

.ui-menu {
  padding: 2px;
  background: #fff;
  z-index: 2;
  max-width: 300px;
  -webkit-box-shadow: 0 1px 5px #555;
  -moz-box-shadow: 0 1px 5px #555;
  box-shadow: 0 1px 5px #555;
}
.ui-menu .ui-menu-item {
  width: 100%;
}
.ui-menu .ui-menu-item a {
  line-height: 1.6;
  padding: 5px 10px;
  color: #111;
  font-size: 14px;
  display: block;
  border-bottom: 1px solid #eee;
}
.ui-menu .ui-menu-item a:hover {
  border: 1px solid #ccc;
  background: #ECFAFF;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 5px #aaa;
  -moz-box-shadow: 1px 1px 5px #aaa;
  box-shadow: 1px 1px 5px #aaa;
}

.nav-user {
  float: right;
  margin-top: 2px;
  visibility: hidden;
}
.nav-user > ul {
  zoom: 1;
}
.nav-user > ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.nav-user > ul > li {
  float: left;
  font-size: 0.75em;
  padding: 3px 6px;
}
.nav-user > ul > li:after {
  content: "|";
  margin-left: 10px;
  color: #cccccc;
}
.nav-user > ul > li:last-child:after {
  content: "";
  margin-left: 0;
}
.nav-user .account {
  display: inline-block;
  margin-right: 10px;
}

.site-cart {
  position: absolute;
  top: 99%;
  right: 0;
  border-width: 2px;
  border-style: solid;
  width: 500px;
  padding: 10px 3px;
  z-index: 999;
}
.site-cart .list {
  overflow-y: auto;
  max-height: 200px;
  min-height: 18px;
}
.site-cart .items {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.site-cart .items:hover {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.site-cart .item {
  display: table;
  color: black;
  padding: 5px 0;
}
.site-cart .name {
  display: table-cell;
  vertical-align: middle;
  padding: 5px 0;
  line-height: 1.4;
  font-size: 12px;
  width: 130px;
  word-wrap: break-word;
  word-break: break-word;
}
.site-cart .labels {
  display: block;
}
.site-cart .labels.lower {
  margin-left: 60px;
}
.site-cart .full {
  display: inline-block;
  line-height: 1.4;
  width: auto;
  word-break: break-all;
}
.site-cart .full .tag {
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  padding: 0px 2px;
  margin-right: 3px;
}
.site-cart .combo {
  display: inline-block;
  line-height: 1.4;
}
.site-cart .buy {
  display: table-cell;
  vertical-align: middle;
  padding: 5px 8px;
  text-align: right;
  width: 150px;
  word-break: break-all;
}
.site-cart .crop {
  display: inline-block;
  margin: 5px;
  position: relative;
  width: 60px;
  height: 0;
  overflow: hidden;
  padding-top: 60px;
}
.site-cart .crop img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.site-cart .crop-no {
  display: inline-block;
  margin: 5px;
  width: 60px;
}
.site-cart .currency {
  font-size: 8px;
}
.site-cart .price {
  font-size: 14px;
}
.site-cart .quantity {
  display: table-cell;
  vertical-align: middle;
}
.site-cart .del {
  display: table-cell;
  vertical-align: middle;
  font-size: 12px;
  padding: 0 10px;
}
.site-cart .cart-sale {
  padding: 5px 0;
}
.site-cart .cart-sale li {
  padding: 5px;
}
.site-cart .cart-sale .sale-name {
  font-size: 12px;
  width: 251px;
  display: inline-block;
  word-break: break-all;
}
.site-cart .cart-sale .sale-discount {
  font-size: 14px;
  min-width: 86px;
  display: inline-block;
  text-align: right;
  word-break: break-all;
}
.site-cart .cart-actions {
  border-top-width: 1px;
  border-top-style: solid;
  padding: 10px 10px 0 10px;
  text-align: right;
}
.site-cart .cart-actions .button:hover {
  color: white;
}
.site-cart .total-title {
  font-size: 0.8em;
  margin-right: 5px;
}
.site-cart .total {
  margin-right: 10px;
  font-weight: bold;
}

.site-header .logo {
  margin-top: 10px;
}
.site-header .logo img {
  max-height: none;
}

.site-search {
  margin-top: 45px;
}

.cart-btn {
  margin-top: 43px;
}

.pc_footer_001 {
  padding: 20px 0;
  background: #F5F5F5;
}
.pc_footer_001 .links {
  text-align: center;
}
.pc_footer_001 .links {
  zoom: 1;
}
.pc_footer_001 .links:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_footer_001 dl {
  width: 16.30%;
  padding: 15px;
  text-align: left;
  display: inline-block;
  vertical-align: top;
}
.pc_footer_001 dl a {
  display: inline-block;
  font-size: 0.8em;
  line-height: 180%;
  color: #6c6c6c;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.pc_footer_001 dl a:hover {
  text-decoration: underline;
  color: #e00517;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.pc_footer_001 dt {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1em;
  color: #474747;
}

.pc_copyright_001 {
  padding-top: 30px;
  text-align: right;
  margin-bottom: 20px;
  font-size: 0.75em;
  word-break: break-word;
  word-wrap: break-word;
}
.pc_copyright_001 .service {
  margin-right: 10px;
  font-weight: bold;
}
.pc_copyright_001 a {
  text-decoration: underline;
  margin-left: 10px;
}

.u_copyright {
  padding: 10px 0;
  text-align: right;
  font-size: 0.75em;
  background: white;
}
