.campaign-5 {
  clear: both;
  padding: 3px 0 7px;
}
.campaign-5 li {
  width: 24.5%;
  display: inline-block;
  text-align: center;
  padding: 8px 0 0;
}
.campaign-5 a {
  display: block;
  width: 100%;
  font-size: 15px;
  color: #666;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  word-wrap: break-word;
  padding: 0 16px;
  font-weight: 700;
}
.campaign-5 a:hover {
  color: #e00517;
}
.campaign-5 .nth1, .campaign-5 .nth2, .campaign-5 .nth3, .campaign-5 .nth4 {
  color: #e00517;
}
.campaign-5 .nth1:hover, .campaign-5 .nth2:hover, .campaign-5 .nth3:hover, .campaign-5 .nth4:hover {
  color: #666;
}
