	.item-F{
    	display: block;
		width: 100%;
	    text-align: center;
		padding: 5px 0;
		background-color: #FFF;
		li{
			width: 19%;
			display: inline-block;
			margin: 5px 3px;
			padding: 5px 6px 5px 7px;
			vertical-align: top;
			background-color: #FFF;
			a{
				display: block;
			}
		}	
		.photo-block{
			position: relative;
			display: block;
			width: 100%;
			height: 215px;
			font-size: 0;
			margin: 0;
			border: #dae0e5 1px solid;
			background: #FFF;
			.photo{
			    display: block;
			    width: 100%;
			    height: 0;
			    overflow: hidden;
			    padding-top: 100%;
			    position: relative;
			}
			img{
				position: absolute;
			    left: 0;
			    top: 0;
			    bottom: 0;
			    right: 0;
			    margin: auto;
			    max-width: 100%;
			    max-height: 100%;
			}
		}
		.info-block{
			display: block;
			width: 100%;
			padding: 10px 0 0;
		}
		.info-txt{
			margin: 0;
			h3{
				display: block;
			    width: 100%;
			    height: 32px;
			    overflow: hidden;
			    color: #000;
			    font-size: 13px;
			    line-height: 16px;
			    margin: 0 0 8px;
			    text-align: left;
			}
			p{
			    display: block;
		        width: 100%;
		        overflow: hidden;
				color: #eb6089;
				padding: 0 0 10px;
				text-align: right;
				font-weight: 700;
				font-family: "微軟正黑體";
				.price-icon{
					display: inline-block;
					width: 15px;
					height: 22px;
					background: url("../img/edm_block_3/edm-style-F/price-icon.png");
					background-repeat: no-repeat;
				    background-position: left center;
				    background-size: contain;
					}
				.currency{
					position: relative;
					bottom: 2px;
					padding-right: 3px;
				}
				.price{
					font-size: 32px;
				}
			}
		}
		.price-block{
			display: none;
			text-align: right;
			.item-btn{
				display: inline-block;
	    		width: 41px;
			    height: 21px;
				background: url("../img/edm_block_3/edm-style-F/buy_btn.png");
				background-repeat: no-repeat;
			    background-position: center;
			    background-size: contain;
			    cursor: pointer;	
			    border: none;			
				.currency{
					font-size: 12px;
				}
			}
		}
		
	}