	.item-D{
    	display: block;
		width: 100%;
	    text-align: center;
		padding: 5px 0;
		background-color: #393f4e;
		li{
			width: 19%;
			display: inline-block;
			margin: 5px 3px;
			padding: 0;
			vertical-align: top;
			background-color: #FFF;
			a{
				display: block;
			}
		}	
		.photo-block{
			position: relative;
			display: block;
			width: 100%;
			height: 228px;
			font-size: 0;
			margin: 0;
			background: #FFF;
			.photo{
			    display: block;
			    width: 100%;
			    height: 0;
			    overflow: hidden;
			    padding-top: 100%;
			    position: relative;
			}
			img{
				position: absolute;
			    left: 0;
			    top: 0;
			    bottom: 0;
			    right: 0;
			    margin: auto;
			    max-width: 100%;
			    max-height: 100%;
			}
		}
		.info-photo{
			display: block;
			width: 100%;
			background: #5f77b0;
			position: relative;
			top: -3px;
			p{
				font-size: 16px;
			    line-height: 130%;
				color: #FFF;
			    text-align: center;
			    padding: 6px 10px;
			    font-family: "微軟正黑體";
			}
		}
		.info-block{
			display: block;
			width: 100%;
			padding: 10px 0 0;
		}
		.info-txt{
			margin: 0;
			h3{
				display: block;
			    width: 90%;
			    height: 32px;
			    overflow: hidden;
			    color: #000;
			    font-size: 13px;
			    line-height: 16px;
			    margin: 0 0 6px;
			    text-align: center;
			    margin: 0 auto 10px;
			}
		}
		.item-btn{
			display: block;
    		width: 100%;
		    height: 49px;
			background: url("../img/edm_block_3/edm-style-D/buy_btn.png");
			background-repeat: no-repeat;
		    background-position: right;
		    background-size: contain;
			font-size: 14px;
			padding: 6px 50px 5px 7px;
		    cursor: pointer;
		    border: none;
			del{
			    display: none;
		        overflow: hidden;
		    	text-align: right;
			    padding: 4px 13px 4px 0;
		        font-size: 12px;
			    color: #6c6c6c;
			    height: auto;
			    span{
			    	display: inline-block;
			    	max-width: 70px;
			    	overflow: hidden;
			    }
			}
			p{
			    display: inline-block;
		        overflow: hidden;
				color: #368ef6;
				font-weight: 700;
				padding: 0 0 2px;
				text-align: right;
				.currency{
					display: inline-block;
					position: relative;
					bottom: 9px;
					padding-right: 2px;
				}
				.price{
					display: inline-block;
					font-size: 32px;
			    	max-width: 116px;
			    	overflow: hidden;
				}
			}
			.currency{
				font-size: 12px;
			}
		}
	}