	.item-C{
    	display: block;
		width: 100%;
	    text-align: center;
		padding: 5px 0;
		background-color: #FFF;
		li{
			width: 19%;
			display: inline-block;
			margin: 5px 3px;
			padding: 5px 6px 5px 7px;
			vertical-align: top;
			a{
				display: block;
			}
		}	
		.photo-block{
			position: relative;
			display: block;
			width: 100%;
			height: 215px;
			font-size: 0;
			margin: 0;
			border: #dae0e5 1px solid;
			background: #FFF;
			.photo{
			    display: block;
			    width: 100%;
			    height: 0;
			    overflow: hidden;
			    padding-top: 100%;
			    position: relative;
			}
			img{
				position: absolute;
			    left: 0;
			    top: 0;
			    bottom: 0;
			    right: 0;
			    margin: auto;
			    max-width: 100%;
			    max-height: 100%;
			}
		}
		.info-photo{
			display: block;
			width: 100%;
			background: #282828;
			position: relative;
			top: -3px;
			p{
				font-size: 16px;
			    line-height: 130%;
				color: #FFF;
			    text-align: center;
			    padding: 6px 10px;
			    font-family: "微軟正黑體";
			}
		}

		.info-block{
			display: block;
			width: 100%;
			padding: 10px 0 0;
		}
		.info-txt{
			margin: 0;
			h3{
				display: block;
			    width: 100%;
			    height: 32px;
			    overflow: hidden;
			    color: #000;
			    font-size: 13px;
			    line-height: 16px;
			    margin: 0 0 6px;
			    text-align: center;
			}
		}
		del{
		    display: none;
	        overflow: hidden;
	    	text-align: center;
		    padding: 4px 0 0;
	        font-size: 12px;
		    color: #6c6c6c;
		    height: auto;
		}
		.item-btn{
			display: block;
    		width: 100%;
		    height: 47px;
			background: url("../img/edm_block_3/edm-style-C/buy_btn.png");
			background-repeat: no-repeat;
		    background-position: center;
		    background-size: contain;
			font-size: 14px;
			padding: 6px 75px 5px 8px;
		    cursor: pointer;
		    border: none; 
		    font-weight: 300;
			p{
			    display: inline-block;
				color: #FFF;
				padding: 0 0 2px;
				text-align: right;
				.currency{
					display: inline-block;
					position: relative;
					bottom: 9px;
				}
				.price{
					display: inline-block;
					font-size: 32px;
				    max-width: 98px;
				    overflow: hidden;
				}
			}
			.currency{
				font-size: 12px;
			}
		}
		@-moz-document url-prefix() { /* Firefox Hack :( */
		    .info-photo {
		    	p{
		    		font-size: 20px;
		    	}
		    }
		}
	}
