	.item-A{
    	display: block;
		width: 100%;
	    text-align: center;
		padding: 5px 0;
		background-color: #f0efe0;
		li{
			width: 19%;
			display: inline-block;
			margin: 5px 3px;
			padding: 5px 6px 5px 7px;
			vertical-align: top;
			a{
				display: block;
			}
		}	
		.top-left{
			position: absolute;
			top: 6px;
			left: 6px;
		}
		.top-right{
			position: absolute;
			top: 6px;
			right: 6px;
		}
		.bottom-left{
			position: absolute;
			bottom: 6px;
			left: 6px;
		}
		.bottom-right{
			position: absolute;
			bottom: 6px;
			right: 6px;
		}
		.photo-block{
			position: relative;
			display: block;
			width: 100%;
			height: 215px;
			font-size: 0;
			margin: 0;
			border: #dae0e5 1px solid;
			background: #FFF;
			.photo{
			    display: block;
			    width: 100%;
			    height: 0;
			    overflow: hidden;
			    padding-top: 100%;
			    position: relative;
			}
			img{
				position: absolute;
			    left: 0;
			    top: 0;
			    bottom: 0;
			    right: 0;
			    margin: auto;
			    max-width: 100%;
			    max-height: 100%;
			}
			.info-photo{
				width: 86px;
				height: 86px;
				background-image: url("../img/edm_block_3/edm-style-A/circle_mark.png");
				background-repeat: no-repeat;
			    background-position: center;
			    background-size: contain;
				p{
					font-size: 16px;
				    line-height: 130%;
					color: #404040;
				    text-align: center;
				    padding: 23px 9px 19px 14px;
				    font-family: "微軟正黑體";
			        letter-spacing: 1px;
				}
			}
		}
		.info-block{
			display: block;
			width: 100%;
			padding: 10px 0 0;
		}
		.info-txt{
			margin: 0;
			h3{
				display: block;
			    width: 100%;
			    height: 32px;
			    overflow: hidden;
			    color: #000;
			    font-size: 13px;
			    line-height: 16px;
			    margin: 0 0 6px;
			    text-align: center;
			}
		}
		.item-btn{
			display: block;
    		width: 100%;
		    height: 48px;
			background: url("../img/edm_block_3/edm-style-A/buy_btn.png");
			background-repeat: no-repeat;
		    background-position: center;
		    background-size: 100%;
			font-size: 14px;
			font-weight: 700;
			padding: 9px 42px 5px 5px;
		    cursor: pointer;
		    border: none;
			del{
				display: none;
			    float: left;
		    	text-align: left;
			    padding: 6px 0;
		        font-size: 12px;
			    color: #bfbfbf;
			    height: auto;
			    &:after {   
					content: ".";   
					display: block; 
					height: 0;  visibility: hidden; clear: both; 
				}
				span{
					float: left;
					max-width: 38px;
		        	overflow: hidden;
				}
			}
			p{
			    //float: right;
			    display: block;
		        overflow: hidden;
				color: #ffc750;
				position: relative;
			    text-align: right;
			    right: 15px;
			    bottom: 1px;
				&:after {   
					content: ".";   
					display: block; 
					height: 0;  visibility: hidden; clear: both; 
				}
				.currency{
					display: inline-block;
					position: relative;
				    bottom: 9px;
    				right: 3px;
				}
				.price{
					display: inline-block;
					font-size: 32px;
					max-width: 115px;
					overflow: hidden;
				}
			}
			.currency{
				font-size: 12px;
			}
			&:after {   
				content: ".";   
				display: block; 
				height: 0;  visibility: hidden; clear: both; 
			}
		}
		
	}