@charset "UTF-8";
.md-installment dd {
  font-size: 1.2em;
  letter-spacing: -0.32em;
}
.md-installment dd span {
  letter-spacing: normal;
  vertical-align: middle;
  display: inline-block;
}
.md-installment dd .col-type {
  width: 10%;
  margin-right: 10px;
  text-align: right;
}
@media only screen and (max-width: 768px) {
  .md-installment dd .col-type {
    width: 49%;
    margin: 0;
    text-align: left;
  }
}
.md-installment dd .col-rule {
  width: 15%;
  font-size: 0.95em;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .md-installment dd .col-rule {
    width: 50%;
    text-align: right;
  }
}
.md-installment dd .col-bank {
  width: 70%;
  color: #666;
  font-size: 0.8em;
  line-height: 1.4;
}
@media only screen and (max-width: 768px) {
  .md-installment dd .col-bank {
    width: auto;
    display: block;
  }
}

.md-reward dd {
  overflow: hidden;
  *zoom: 1;
}
.md-reward dd .col-name {
  width: 18%;
  font-size: 1.2em;
  float: left;
}
@media only screen and (max-width: 768px) {
  .md-reward dd .col-name {
    width: auto;
    margin-right: 90px;
    float: none;
  }
}
.md-reward dd .col-action {
  top: 7px;
  right: 5px;
  position: absolute;
}
.md-reward dd .col-content {
  width: 69%;
  font-size: 1.2em;
  margin-right: 90px;
  float: right;
  overflow: hidden;
  *zoom: 1;
}
@media only screen and (max-width: 768px) {
  .md-reward dd .col-content {
    width: 100%;
    color: #999;
    font-size: 0.9em;
    margin: 0;
    float: none;
  }
}
.md-reward dd .col-content li {
  width: 25%;
  text-align: center;
  vertical-align: middle;
  float: left;
}
@media only screen and (max-width: 768px) {
  .md-reward dd .col-content li {
    text-align: left;
  }
}
.md-reward dd.row-head {
  color: #999;
  font-size: 0.8em;
}
.md-reward dd.row-head .col-action {
  font-size: 1.15em;
}
.md-reward dd.row-detail {
  font-size: 0.9em;
  max-height: 0;
  padding: 0 10px;
  border-width: 0;
  background: #f2f7fc;
  overflow: hidden;
}
.md-reward dd.row-detail.is-expend {
  max-height: 10000px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.md-reward dd.row-detail .t-description {
  margin-bottom: 10px;
}
.md-reward dd.row-detail .t-list > li {
  margin-left: 20px;
  list-style: decimal outside;
}
.md-reward dd .go-detail {
  padding-left: 20px;
}
.md-reward dd .go-detail:before {
  content: "";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
}
.md-reward dd .go-detail.is-close:before {
  content: "";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
}

.reward-comment {
  margin-top: 10px;
  color: #999;
  font-size: 0.9em;
}

.t-switch {
  top: 15px;
  right: 15px;
  position: absolute;
}

.md-form-btn button {
  font-size: 1em;
}
