@import "../../../../define/__init.scss";
@import "../../../style_color/___color_lulu.scss";

@import"../../../module_index/_rwd_index_layout.scss";
@import"../../../module_component/_site_error.scss";

@include RWD(pad-mobile) {
    .site-body .container {
		padding-bottom: 20px;
	}
}