@import "../../../../define/__init.scss";
@import "../../../style_color/___color_lulu.scss";

@import "../../../../frame/_reset.scss";
@import "../../../../frame/_rwd_layouts.scss";
@import "../../../../frame/_button.scss";

@import "_icon.scss";
@import "../../../../frame/_bank.scss";
@import "../../../../frame/_fancybox_style.scss";
@import "../../../../frame/_rwd_style.scss";

@import "../../../module_component/_site_ad_top.scss";
@import "../../../module_component/_site_float_bar.scss";
@import "../../../module_header/_lulu_header.scss";
@import "../../../module_footer/_lulu_footer.scss";
@import "../../../module_footer/_lulu_copyright.scss";

html, body {
  font-family: '微軟正黑體',Tahoma,'新細明體','Gill Sans W01 Medium', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Helvetica', 'Arial', sans-serif;
}
.item-main{
	h1.name{
		font-size: 25px!important;
		letter-spacing: 1px;
	}
}
.container{
	width: 100%;
	max-width: 1220px;
	@include RWD(desktop-normal) {
		width: 960px;
	}
}
.site-outter{
	border: solid 0.45em #000;
	margin: 0.5em;
	padding: 0.5em;
}
.nav-to-top{
	background: black;
	right: 15px;
	border-radius: none;
	.fa{
		color: white;
	}
}
.site-cart{
	background: white;
}
@include RWD(mobile) {
	body {
		padding-top: 100px;
	}
	.site-header{
		.cart-btn{
			.count{
				margin-left:2px;
				width:15px;
				text-align: center;
			}
		}
	}
	.nav-breadcrumbs {
		margin: 5px 0 10px 10px!important;
	}
}