@import "../../../../define/__init.scss";
@import "../../../style_color/___color_asap.scss";

//_pc_site_sort.scss
.site-sort {
    .sort {
        li {
            &+li+li+li+li {
	            a {
	                border-right: 1px solid $border;             
	            }
	        }
        }
    }
}

//_quantity.scss
.quantity{
	.quantity-input{
		line-height: 22px;
	}
}