@import "../../../../define/__init.scss";
@import "../../../style_color/___color_lulu.scss";

@import "../../../module_index/_rwd_index_026.scss";
@import"../../../module_index/_rwd_index_layout.scss";
.site-main{
	.feature{
		display:none;
	}
}

.rwd-index-002.trans-002 {
	.container{
		border-bottom: 0;
		padding: 15px 0 0px 0;
	}
	.item {
		width:49.2%;
		margin:0;
		margin-right: 1.6%;
		&:last-child{
			margin-right: 0;
		}
	}
	.title-h3 {
		display: none;
	}
}