@import "../../../../define/__init.scss";
@import "../../../style_color/___color_lulu.scss";

@import "../../../module_component/_site_ontime.scss";
@import "../../../module_component/_item_list_ontime.scss";


.item-list-ontime{
	.item-single{
		width: 48.32%!important;		
	}
	.item-three{
		width: 31.66%!important;
	}
	.item-four{
		width: 23.32%!important;		
	}

	@include RWD(desktop-normal) {
		.item{
			width: 22.91%;
		}
		.item-single{
			width: 47.9%!important;		
		}
		.item-three{
			width: 30.7%!important;
		}
		.item-four{
			width: 22.91%!important;		
		}
	}
	@include RWD(pad) {
		.item{
			width: 47.08%;
			padding: 20px 0px 20px;		
		}
		.item-single{
			width: 47.08%!important;		
		}
		.item-three{
			width: 30.4%!important;
		}
		.item-four{
			width: 22.08%!important;		
		}
	}
	@include RWD(mobile) {
		.item{
			width: 100%;
			padding: 20px 10px 20px;		
		}
		.item-single{
			width: 100%!important;		
		}
		.item-three{
			width: 100%!important;
		}
		.item-four{
			width: 100%!important;		
		}
	}
}