@import "../../../../define/__init.scss";
@import "../../../style_color/___color_stayreal.scss";

@import "../../../../3rd-party/_idangerous.swiper.scss";
@import "../../../module_component/_nav_breadcrumbs.scss";
@import "../../../module_component/_site_activity.scss";
@import "../../../module_component/_item_list_four.scss";
@import "../../../module_component/_item_list.scss";
@import "../../../module_component/_nav_pagination.scss";
@import "../../../module_component/_site_sort.scss";
@import "../../../module_component/_site_filter.scss";

.site-activity{
	.act-title{
		color: $text;
		font-weight: bold;
	}
	.act-cart{
		.currency{
			font-weight: bold;
		}
		.price{
			font-weight: bold;
		}
		.state{
			.actions{
				.price{
					font-weight: bold;
				}
			}
		}
	}
}