@import "../../../../define/__init.scss";
@import "../../../style_color/___color_stayreal.scss";
@import "../../../module_category/_rwd_category_layout.scss";
@import "../../../module_category/_rwd_category_001.scss";
@import "../../../module_component/_nav_breadcrumbs.scss";
@import "../../../module_component/_item_list_four.scss";
@import "../../../module_component/_item_list.scss";
@import "../../../module_component/_nav_pagination.scss";
@import "../../../module_component/_site_sort.scss";
@import "../../../module_component/_site_filter.scss";

//item-list
.item-list,.item-list-four{
    .item {
    	@include transition(0.6s);
        &:hover {
        	@include box-shadow(0px 0px 15px $primary)
        }
    }
    .name {
		line-height: 1.4;
	}
}

//site-sort
.site-sort{
	.sort{
		li{
			a{
				font-weight: bold;
			}
		}
	}
}

@include RWD(pad-mobile) {
    .nav-breadcrumbs{
        margin: 5px 0 5px 10px;
    }
}
@include RWD(mobile) {
    .nav-breadcrumbs {
        margin: 5px 0 5px 10px;
    }
}
