@import "../../../../define/__init.scss";
@import "../../../style_color/___color_stayreal.scss";

@import "../../../../frame/_rwd_layout_two_column.scss";
@import "../../../module_left/_rwd_left_001.scss";
@import "../../../module_component/_rwd_other_001.scss";

.rwd_left_001{
	.sec-menu{
		>li{
			>a{
				color: $text;
				font-weight: bold;
			}
		}
	}
}
.rwd_other_001 {
    h4 {
        font-weight: bold;
    }
}