@import "../../../../define/__init.scss";
@import "../../../style_color/___color_stayreal.scss";
@import"../../../module_index/_rwd_index_layout.scss";

.rwd_index_009,.rwd_index_004 {
    .item {
    	@include transition(0.6s);
        &:hover {
        	@include box-shadow(0px 0px 15px $primary)
        }
    }
}

@include RWD(desktop-all) {
	.rwd_index_004{
		.info{
			padding: 0 5px!important;
		}
	}
	.rwd_index_009 {        
        .button {
            display: inline-block!important;
        }
    }
}