@import "../../../../define/__init.scss";
@import "../../../style_color/___color_stayreal.scss";

@import "../../../module_item/_rwd_item_layout.scss";
@import "../../../module_component/_nav_breadcrumbs.scss";
@import "../../../../3rd-party/_idangerous.swiper.scss";
@import "../../../module_item/_item_main.scss";
@import "../../../module_item/_item_add.scss";
@import "../../../module_item/_item_related.scss";
@import "../../../module_item/_item_detail.scss";
@import "../../../module_item/_item_spec.scss";
@import "../../../module_item/_item_buy.scss";
@import "../../../module_item/_credit_card.scss";

.item-main {
	.credit-card{
		.block{
			.colee0{
				color: $primary;				
			}			
		}
	}
}

@include RWD(pad-mobile) {
    .nav-breadcrumbs{
        margin: 5px 0 5px 10px;
    }    
}
@include RWD(mobile) {
    .nav-breadcrumbs {
        margin: 5px 0 5px 10px;
    }
    .item-detail,.item-spec{
		padding: 0 10px
	}
}
