@import "../../../../define/__init.scss";
@import "../../../style_color/___color_stayreal.scss";

@import "../../../module_component/_site_ontime.scss";
@import "../../../module_component/_item_list_ontime.scss";

.ontime-date{	
	.container{
		background: #222;
	}
}
.ontime-footer{
	.container{
		border-top: 1px solid $border;
	}	
}
.item-list-ontime{
	.item{
		&:hover{
			border-color: transparent;
			@include box-shadow(0px 0px 15px $primary);
		}
	}
	.info{
		padding: 2px 5px 5px 5px;
	}
	%item-num-change{
		background: black;
		.ontime-head{
			border-bottom: 1px solid #222;
		}	
	}
	.ontime-head{
		background: #222;
	}
	.item-single{
		border: 1px solid #222;		
	}
	.item-three{
		border: 1px solid #222;			
	}
	@include RWD(desktop-normal) {
		.item-three{
			border: none;
			.info{
				padding: 2px 5px 5px 5px;
			}		
		}
	}
	@include RWD(pad) {
		.item{
			&:hover{
				border: none;
			}
		}
		.item-single{
			border: none;			
		}
		.item-three{
			border: none;			
		}
	}
	@include RWD(mobile) {
		.item{
			&:hover{
				border: none;
			}
		}
		.item-single{
			border: none;			
		}
		.item-three{
			border: none;			
		}
	}
	@media screen and (max-width: 568px) {
		.item{
			margin-bottom: 5px;
		}
		.item-single{
			border: none;			
		}
		.item-three{
			border: none;			
		}
	}
}