@import "../../../../define/__init.scss";
@import "../../../style_color/___color_asap.scss";

@import "../../../../frame/_reset.scss";
@import "../../../../frame/_button.scss";
@import "../../../../frame/_pc_icon.scss";
@import "../../../../frame/_bank.scss";
@import "../../../../frame/_fancybox_style.scss";
@import "../../../../frame/_pc_layout.scss";
@import "../../../../frame/_pc_style.scss";

@import "../../../module_component/_site_translation.scss";
@import "../../../module_component/_site_translation_03.scss";
@import "../../../module_component/_site_tags.scss";
@import "../../../module_component/_site_ad_top.scss";
@import "../../../module_header/_pc_header_001.scss";
.site-header{
	.logo{
		margin-top:10px;
		img{
			max-height:none;
		}
	}
}
.site-search{
	margin-top:45px;
}
.cart-btn{
	margin-top:43px;
}
@import "../../../module_footer/_pc_footer_001.scss";
@import "../../../module_footer/_pc_copyright_001.scss";