.md_index_003 {
    .container{
        position: relative;
    }
    .t-ontime-clock {
        margin-left: 5px;
        vertical-align: middle;
    }
    .t-title {
        padding-right: 115px;
    }
    .actions {
        position: absolute;
        right: 10px;
        top: 13px;
        font-size: 0.9rem;
        a {
            color: mix($primary,#fff,30);
        }
        .fa {
            margin-left: 4px;
        }
    }
}
