.md_index_002 {
	margin-bottom: 15px;
	background: #fff;
	border-bottom: $border 1px solid;
	@include box-shadow(rgba(black,0.1) 0 0 2px);
	.link {
		margin: 15px 0;
		padding: 0 10px;
		color: #333;
		line-height: 1.2;
		display: inline-block;
		& + .link {
			border-left: lighten($light_gray,10) 1px solid;
		}
	}
	.swiper-container {
		width: 100%;
		.swiper-button-prev, .swiper-button-next {
			color: $light_gray;
			font-size: 2.2rem;
			line-height: 1;
			text-align: center;
			top: 50%;
			margin-top: -17px;
			background: none;
			&:after {
				font-family: FontAwesome;
				vertical-align: middle;
				display: inline-block;
				position: absolute;
			}
		}
		.swiper-button-prev {
			left: 0;
			padding-right: 10px;
			&:after {
				content: "\f104";
			}
		}
		.swiper-button-next {
			right: 0;
			padding-right: 10px;
			&:after {
				content: "\f105";
			}
		}
	}
}