/* pc_index_017 開始 */
.pc_index_017 {
	margin: 0px auto 20px auto;
	@include clearfix;
	.pink-bg {
		border-bottom: 5px solid #f69;
	}
	.tabs, .content {
		float: left;
	}
	.tabs {
		width: 220px;
		border-left: 1px solid #bbb;
		border-right: 1px solid #bbb;
		li {
			height: 42px;
			border-bottom: 1px solid #eee;
			color: #777;
			font-size: 15px;
			padding: 14px 0 0 13px;
			&.active, &:hover {
				background-color: #faeaed;
			}
			&:last-child {
				height: 68px;
				border-bottom: none;
				line-height: 1.6;
			}
		}
	}
	.items {
		width: 1220px - 220;
		padding: 10px 0 0 22px;
		@include clearfix;
	}
	.item {
		border: 1px solid transparent;
		float: left;
		width: 160px;
		margin: 0 18px 10px 22px;
		&:hover{
			@include transition(0.3s);
		}
		&.focus {
			width: 360px;
		}
	}
	.focus {
		margin-left: 0;
		.commodity-status {
			margin-bottom: 14px;
		}
		.name, .currency {
			font-size: 20px;
		}
		.name {
			margin-bottom: 16px;
			a {
				color: $item_name;
			}
		}
		.price {
			font-size: 30px;
		}
	}
	.photo{
		margin-bottom: 4px;
		display: block;
		width: 100%;
		height: 0;
		overflow: hidden;
		padding-top: 100%;
		position: relative;
		img{
			// width: 100%;
			// height:178px;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			margin: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	.info{
	}
	.name{
		font-size: 12px;
		line-height: 1.4;
		word-break: break-word;
		word-wrap:break-word;
		overflow: hidden;
		margin-bottom: 8px;
		height: 33px;
		a{
			color: #888;
		}
	}
	.buy{
		margin-top: 2px;
		color: $price;
	}
	.currency{
		font-size: 12px;
		vertical-align: bottom;
		display: inline-block;
		margin-bottom: 2px;
	}
	.price{
		font-size: 16px;
		margin-right: 5px;
		vertical-align: bottom;
		display: inline-block;
	}
	.btn{
		float: right;
		margin-top: 3px;
		font-size: 15px;
		color: $price;
	}
	.fa{
		margin-left: 4px;
	}
	.tag-status {
		display: none;
		position: absolute;
		bottom: 7px;
		right: 7px;
		z-index: 9;
	}
	.commodity-status {
		margin-bottom: 8px;
	}
}
/* pc_index_004 結束 */