.pc_index_013{
	margin-bottom: 10px;
	// border: 8px solid $background2;
//	border: 8px solid $primary;
	overflow: hidden;
	position:relative;
//	@include box-shadow(0px 9px 6px -6px #8F7E7E);
	.photo-01{
		float: left;
		width: 490px;
		height: 490px;
		img{
			display: block;
			width: 490px;
			height: 490px;
		}
		.item{
			.info{
				bottom: 0;
			}

		}
	}
	.photo-02{
		float: left;
		width: 245px;
		height: 490px;
		.item{
			width: 245px;
			height: 245px;
			display: block;
			border-left: 1px solid #cccccc;
			border-bottom: 1px solid #cccccc;
		}
		.info{
			padding: 5px;
			.info{
				height:77px;
			}
		}
		.name{
			margin-bottom: 2px;
			font-size: 14px;
			height: 30px;
		}
		.buy{
			del{
				display: block;
			}
		}
		.price{
			font-size: 18px;
		}
		.photo{
			display: block;
			border-left: 1px solid $border;
			border-bottom: 1px solid $border;
			img{
				display: block;
				width: 245px;
				height: 245px;
			}
			&:last-child{
				border-bottom: 0;
			}

		}
		.btn{
			float:none;
			position: absolute;
			right:6px;
			bottom:7px;
		}
	}
	.item{
		margin-bottom: 2px;
		// border: 1px solid transparent;
		position: relative;
        overflow: hidden;
		&:hover{
			.info{
				bottom: 0;
				@include transition(0.3s);
			}

		}
	}
	.photo{
		// margin-bottom: 4px;
		display: block;
		position: relative;
	}
	.info{
		width:100%;
		position:absolute;
		left: 0;
		bottom: -100px;
		padding: 5px 20px 6px;
		background-color: rgb(0, 0, 0);
		background-color: rgba(0, 0, 0, 0.5);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	}
	.name{
		font-size: 16px;
		line-height: 1.4;
		word-break: break-word;
		word-wrap:break-word;
		margin-bottom: 5px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-shadow: 1px 2px 3px #252525;
		a{
			color: white !important;
		}
	}
	.buy{
		// margin-top: 2px;
		color: $price;
		@include clearfix;
		del{
			display: inline-block;
			color: #c1c1c1;
			margin-bottom: 2px;
			vertical-align: bottom;
		}
	}
	.currency{
		color:#FFD900;
		font-size: 10px;
		vertical-align: bottom;
		display: inline-block;
		margin-bottom: 2px;
	}
	.price{
		color:#FFD900;
		font-size: 24px;
		margin-right: 5px;
		vertical-align: bottom;
		display: inline-block;
		font-family: arial;
        text-shadow: 1px 2px 3px #656565
	}
	.btn{
		float: right;
		font-size: 15px;
		color: white;
		background-color:#e00517;
		padding: 5px 10px;
		@include border-radius(10px);
	}
	.fa{
		margin-left: 4px;
	}
	.tag-status {
		position: absolute;
		top: 7px;
		right: 7px;
		z-index: 9;
	}
}
