@import "../../3rd-party/_idangerous.swiper.scss";
/* pc_index_002 開始 */
/* .pc_index_002{
	margin: 0px auto 20px auto;
	@include clearfix;		
	.item-limited{
		float: left;
		width: 19%;
		height: 360px;	
		margin-right: 1.5%;
		position: relative;
		background-repeat:no-repeat;
		z-index: 0;
		.clock{
			padding: 10px;
			text-align: right;
		}
		.item{
			margin-top: 20px;
			padding: 5px 10px;
			.photo{
				display: block;
				border: 5px solid #ddd;
				font-size: 0;
				img{
					width:160px;
					height:160px;
				}
			}			
			.name{
				width: 100%; 	
				height: 38px;
				display: block;					
				color: $item_name;
				font-weight: bold;
				font-size: 0.8em;
				line-height: 18px;
				padding-top: 3px;
				overflow: hidden;
				word-break: break-all;
			}
			.buy {
				width: 100%;
				height: 25px;
				margin-top: 8px;
				@include clearfix;
				.button{
					float: right;
					vertical-align: top;
				}
			}
			.currency{
				font-size: 10px;
				color: $price;
				vertical-align: bottom;
				display: inline-block;
				margin-bottom: 4px;
			}
			.price{
				font-size: 18px;
				margin-right: 5px;
				margin-bottom: 3px;
				margin-left: -3px;
				color: $price;
				vertical-align: bottom;
				display: inline-block;
				
			}
		}
		.actions{
			margin-top: 4px;
			text-align: center;
			a{
				color: white;
				font-size: 13px;
				&:hover{
					color: $light_gray;
				}
			}
		}
		.btn{
			float: right;
			margin-top: 3px;
			font-size: 15px;
			color: $price;
		}
		.fa{
			margin-left: 4px;
		}
	}
    // 2h到貨
    .delivery_2h{
        float: left;
		width: 180px;
		height: 360px;	
		margin-right: 1.5%;
		position: relative;
		background-repeat:no-repeat;
		z-index: 0;
        .item{
            position: absolute;
            top: 103px;
            left: 13px;
            .dis_price_block{
                width: 150px;
                padding: 0 3px 0 8px;
                color: #e00517;
                font-size: 26px;
                font-style: italic;
                font-family: verdana;
                font-weight: 700;
                text-align: center;
            }
            .dis_symbol{
                font-size:16px;
                font-weight:500;
            }
        }
        .photo{
            display: block;
            img{
                width:155px;
                height:155px;
            }
        }
        .name{
            width: 100%; 	
            height: 38px;
            margin-top:3px;
            padding: 3px 15px 0 10px;
            display: block;					
            color: white;
            font-weight: 700;
            font-size: 18px;
            line-height: 18px;
            overflow: hidden;
            word-break: break-all;
        }
        .buy{
            width: 120px;
            padding: 2px 0 0 10px;
            color: #FEEF00;
            font-size: 26px;
            font-weight:700;
        }
        .currency,.start{
            font-size:16px;
            font-weight: 500;
            font-family: sans-serif;
        }
        .start{
            font-size: 14px;
        }
        .more{
            width:50px;height:25px;
            margin-top: -22px;
            float:right;
        }
    }
	.swiper-container{
		position: relative;
		height: 360px;
		width: 600px;		
		overflow: hidden;
		line-height: 0;
		img{
			width: 100%;
		}
		.actions{
			position: absolute;
			bottom: 0;
			text-align: center;
			margin: 0 auto;
			width: 100%;
			background: rgba(255,255,255, 0.45);
			cursor: auto;
			padding: 4px 0;
		}
		.pagination{
			display: inline-block;
		}
		.swiper-pagination-switch {
			display: inline-block;
			width: 10px;
			height: 10px;
			border-radius: 10px;
			background: $gray;
			margin: 0 3px;
			cursor: pointer;
		}
		.swiper-active-switch {
			width: 30px;
			background: $primary;
		}
		// .swiper-slide{
		// 	&:hover{
		// 		opacity: 0.8;
		// 	}
		// }
		.arrow-left, .arrow-right{
			display: inline-block;
			cursor: pointer;
			&:hover{
				color: $primary;
			}
		}
		.fa{
			padding: 4px;
		}
	}
	.col-left {
        float: left;
        margin-right: 1.5%;
    }
	.col-right{
		float: left;
		width: 18%;
		>a{ 
			margin-bottom: 7.3%;
			&:last-child{ margin: 0; }
		}
	}
	.photo {
        display: inline-block;
        img {
            width: 100%;
        }
    }
} */
/* pc_index_002 結束 */
.pc_index_002 {
	margin: 0 0 20px;
	.ad-left-box {
		float: left;
		width: 200px;
		margin-right: 20px;
		@include clearfix;
		.item {
			background-color: #faeaed;
			margin: 0 0 10px;
			&:last-child {
				margin: 0;
			}
		}
		a {
			display: block;
			width: 200px;
			height: 200px;
			position: relative;
			&:hover {
				.buy {
					color: #e00;
				}
				.name {
					display: block;
				}
			}

		}
		img {
			width: 160px;
			height: 160px;
			margin: 10px 20px 0;
		}
		.name {
			display: none;
			width: 200px;
			background-color: rgba(255, 255,255, .95);
			color: #000;
			font-size: 13px;
			line-height: 1.6;
			padding: 8px 20px 25px;
			overflow: hidden;
			white-space: pre-wrap;
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: 2;
		}
		.info {
			padding: 5px 20px 0;
			font-size: 12px;
			position: relative;
			z-index: 3;
			.price {
				color: #d00;
				font-size: 16px;
			}
			.buy {
				color: #06c;
				font-style: normal;
				text-decoration: underline;
			}
		}
	}
	
	// 大圖輪播
	.col-left {
        float: left;
        width: 1220px - 220;
        height: 410px;
        overflow: hidden;
    }
    // 輪播區塊
	.swiper-container-box {
		position: relative;
		.info {
			height: 380px;
			display: none;
			&.on {
				display: block;
			}
			.large-img {
				display: inline-block;
				width: 800px;
			}
		}
		img {
			width: 100%;
		}
		.action {
			width: 100%;
			cursor: auto;
			margin: 0 auto;
			text-align: left;
			position: absolute;
			bottom: -30px;
		}
		.pagination {
			@include clearfix;
		}
		.swiper-pagination-switch {
			float: left;
			background: #f5f5f5;
	        background: -moz-linear-gradient(top, #fff 0%, #f5f5f5 100%); /* FF3.6-15 */
	        background: -webkit-linear-gradient(top, #fff 0%, #f5f5f5 100%); /* Chrome10-25,Safari5.1-6 */
	        background: linear-gradient(to bottom, #fff 0%, #f5f5f5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
			width: calc(800px / 6);
			height: 30px;
			line-height: 30px;
			cursor: pointer;
			font-size: 12px;
			overflow: hidden;
			text-align: center;
			a {
				color: #aaa;
			}
			&.on {
				background: #faeaed;
				a {
					color: #c00;
				}
			}
		}
	}

	// 右側廣告
	.col-right{
		float: right;
		width: 180px;
		>a{ 
			margin-bottom: 10px;
			&:last-child{ margin: 0; }
		}
	}
	.photo {
        display: inline-block;
        height: 130px;
        img {
            width: 100%;
        }
    }
}

