/* pc_index_016 開始 */
.pc_index_016 {
	margin: 0px auto;
	// border-bottom: 2px solid $border;
	@include clearfix;
	.topic-title {
		float: left;
		width: 200px;
		height: 30px;
		color: #fff;
		font-size: 18px;
		margin-bottom:0;
		padding: 7px 0 0 15px;
		overflow: hidden;
		position: relative;
		&.pink-bg {
			background-color: #f69;
			& + .links {
				border-bottom: 2px solid #f69;
			}
		}
		&.blue-bg {
			background-color: #09c;
			& + .links {
				border-bottom: 2px solid #09c;
			}
		}
		&.og-bg {
			background-color: #f30;
			& + .links {
				border-bottom: 2px solid #f30;
			}
		}
		.w-triangle {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 30px 28px 0;
			border-color: transparent #fff transparent transparent;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	.top {
		margin: 10px 0 0;
		// padding:5px 2px;
		@include clearfix;
	}
	.links {
		float: left;
		width: 1220px - 200;
		height: 30px;
		padding-left: 22px;
		overflow: hidden;
		// text-align: right;
		> li {
			width: 145px;
			display: inline-block;
			line-height: 1.6;
			margin-left: 15px;
			a {
				color: $item_name;
				font-size: 13px;
				text-decoration: underline;
				word-break: break-all;
				&:hover{
					color: #e00;
					text-decoration: none;
				}
			}
		}
	}
}
/* pc_index_009 結束 */