/* pc_index_001 開始 */
.pc_index_001{
	text-align: center;
	font-size: 0;
	margin-bottom: 20px;
	@include clearfix;
	.menu{
		display: inline-block;
		height: 36px;
		overflow: hidden;
		@include clearfix;
		>li{
			float: left;			
			height: 20px;
			margin-top: 9px;
			overflow: hidden;
			word-break: break-all;
			&:first-child{
				a{
					border-left: none;
				}				
			}
			&:hover{
				height: 36px;
				margin-top: 0px;
				&+li{
					height: 36px;
					margin-top: 0px;
					a{
						padding: 11px 20px;
					}
				}
			}
			&.hotspot{
				background: #f96;
				height: 36px;
				margin: 0;
				padding: 9px 10px;
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5db1+0,ef017c+100;Pink+3D+%231 */
				background: #ff5db1; /* Old browsers */
				background: -moz-linear-gradient(top,  #ff5db1 0%, #ef017c 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  #ff5db1 0%,#ef017c 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  #ff5db1 0%,#ef017c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#ef017c',GradientType=0 ); /* IE6-9 */
				&:hover{
					/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff0084+0,ff0084+100;Pink+Flat */
					background: #ff0084; /* Old browsers */
					background: -moz-linear-gradient(top,  #ff0084 0%, #ff0084 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top,  #ff0084 0%,#ff0084 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom,  #ff0084 0%,#ff0084 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0084', endColorstr='#ff0084',GradientType=0 ); /* IE6-9 */

				}
				a{
					&:hover{
						color: white;
						padding: 2px 20px;
						background: none;

					}
				}
			}
		}
	}
	a{
		display: block;
		color: white;
		padding: 2px 20px;
		//padding: 10px 20px;
		border-left: 1px solid #FFF;
		font-size: 16px;
		&:last-child{
			content:"|";
		}
		&:hover{
			padding: 10px 20px;
			background: $hover_bk;
			color: black;
		}
	}
}
/* pc_index_001 結束 */