%menu-link {
    display: block;
    padding: 11px 0px 10px;
}
.pc_index_015 {
	text-align: center;
	margin-bottom: 10px;
	@include clearfix;
    .recommend{
        background: #e5e5e5;
        background: -moz-linear-gradient(top, #fff 0%, #e5e5e5 50%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #fff 0%, #e5e5e5 50%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #fff 0%, #e5e5e5 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
        height: 36px;
        font-size: 13px;
        overflow: hidden;
        @include clearfix;
        .hot{
            float: left;
            border: 1px solid #e00;
            width: 49px;
            margin-left: -1px;
            position: relative;
            &:nth-child(1) {
                margin-left: 0;
            }
            a{
                @extend %menu-link;
                color: #e00;
                &:hover{
                    color: lighten(#e00, 10%);
                }
            }
        }
        dd{
            float:left;
            width: 80px;
            border: 1px solid #ccc;
            margin-left: -1px;
            &:nth-child(1) {
                margin-left: 0;
            }
            a {
                @extend %menu-link;
                color: #555;
                position: relative;
                &:hover{
                    color: #e00517;
                }
            }
        }
    }
}