/* rwd_index_001 開始 */

@import"../../3rd-party/_idangerous.swiper.scss";
.rwd_index_001 {
    .container{
        border:none;
    }
    img {
        width: 100%;
        max-width:1220px;
    }
    .swiper-container {
        line-height: 0;
        }        .pagination {
            position: absolute;
            left: 0;
            text-align: center;
            bottom: 5px;
            width: 100%;
        }
        .swiper-pagination-switch {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 10px;
            background: $gray;
            margin: 0 3px;
            cursor: pointer;
        }
        .swiper-active-switch {
            width: 30px;
            //background: $primary;
        }
    }

@include RWD(mobile) {
    .container{
        padding-bottom: 10px;
    }
}
/* rwd_index_001 結束 */
