.rwd_index_000{
	@include clearfix;
	.items{
		margin: 0 -10px;
		@include clearfix;
	}
	.item{
		float:left;
		width: 18.8722%;
		//height:310px;
		margin: 7px;
		//border: 2px solid #EEE;
		padding: 10px;
		&:hover{
			// border-width: 1px;
			// border-style: solid; 
			//border: 1px solid $border;
			@include transition(0.6s);
			.photo{
				opacity: 0.75;
			}
		}
	}
	.photo{
		display: block;
		margin-bottom: 7px;
		@include crop(100%, white);
		// img{
		// 	width: 100%;
		// }
	}
	.name{
		height: 38px;
		margin-bottom:10px;
		font-size: 0.95em;
		line-height: 1.3;
		//color: $item_name;
		overflow: hidden;
		word-wrap:break-word;
	}
	del{
		font-size: 10px;
		margin-right: 2px;
		margin-bottom: 5px;
		color: $text;
		display: block;
	}
	.type{
		font-size: 0.9em;
	}
	.currency{
		font-size: 12px;
		//color: $price;
		display: inline-block;
	}
	.price{
		font-size: 20px;
		//color: $price;
		display: inline-block;
		margin-right: 5px;
	}
	.buy-actions{
		margin-top: 10px;
	}
	.quantity{
		margin-right: 5px;
		vertical-align: middle;
	}
	.button{
	}
	.highlight{
		margin-top: 10px;
		font-size: .7em;
		line-height: 1.4;
	}
	.more{
		width: 100%;
		font-size: 0.95em;
		color: $primary;
		text-align: right;
		font-weight: bold;
		margin: 40px 0 5px;
		display: block;
		@include transition(0.4s);
		&:hover{
			text-decoration: underline;
		}
	}
}
//desktop
@include RWD(desktop-normal) {
.rwd_index_000{
	.item{
		width: 23.57%;
	}
	.name{
		margin-bottom: 10px;
		overflow: hidden;
	}	
}
}

//pad
@include RWD(pad) {
.rwd_index_000{
	.items{
		padding: 10px;
		margin: 0;
	}
	.item{
		width: 48.07%;
		padding: 20px 20px 20px;
		height:auto;
	}
	.photo{
		margin-bottom: 10px;
	}
	.name{		
		font-size: 16px;
		height: 20px;
		line-height: 1.2;
		margin-bottom: 10px;
		overflow: hidden;
		word-wrap:break-word;
	}
	.price{
		font-size: 18px;
		margin-right: 10px;
	}
	.quantity{
		margin-right: 10px;
		vertical-align: middle;
		.quantity-decrease,.quantity-increase{
			padding: 7px;
		}
		.quantity-input{
			width: 36px;
			height: 32px;
		}
	}
	.button{
		vertical-align: top;
		font-size: 15px;
		padding: 0 1.25em;
		height: 32px;
		line-height: 32px;
		@include box-sizing( border-box );
		&.btn-preorder-finish{
	        padding: 0;
	    }
	}
	.more{
		padding-right: 15px;
	}
}
}
//mobile
@include RWD(mobile) {
.rwd_index_000{
	.items{
		padding: 10px;
		margin: 0;
	}
	.item{
		width: 100%;
		margin:0 0 10px;
		padding: 20px 20px 20px;
		height:auto;
	}
	.info{
		padding: 0;
	}
	.name{		
		font-size: 16px;
		line-height: 1.2;
		margin-bottom: 10px;
		height: auto;
		overflow: hidden;
		word-wrap:break-word;
	}
	.price{
		font-size: 18px;
		margin-right: 10px;
	}
	.quantity{
		margin-right: 10px;
		vertical-align: middle;
		.quantity-decrease,.quantity-increase{
			padding: 7px;
		}
		.quantity-input{
			width: 36px;
			height: 32px;
		}
	}
	.button{
		vertical-align: top;
		font-size: 15px;
		padding: 0 1.25em;
		height: 32px;
		line-height: 32px;
		@include box-sizing( border-box );
		&.btn-preorder-finish{
	        padding: 0;
	    }
	}
	.more{
		padding-right: 15px;
	}
}
}

@include RWD(mobile-small) {
.rwd_index_000{

}
}