@import"../../3rd-party/_idangerous.swiper.scss";
.item-silder-type01 {
    .item {
        display: table;
    }
    .photo {
        display: table-cell;
    }
    .info {
        max-width: 300px;
        padding: 0 25px 0 15px;
        vertical-align: middle;
        display: table-cell;
    }
    .feature {
        font-size: 0.85em;
        line-height: 1.4;
        margin-bottom: 20px;
    }
    .pagination {
        left: 375px;
        bottom: 5px;
        position: absolute;
    }
    .swiper-pagination-switch {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background: lighten($gray,40);
        margin: 0 3px;
        cursor: pointer;
    }
    .swiper-active-switch {
        width: 30px;
    }
    .arrow {
        color: lighten($gray,40);
        font-size: 3em;
        top: 50%;
        margin-top: -25px;
        @include opacity(0.5);
        @include transition(all 0.3s ease-out);
        cursor: pointer;
        position: absolute;
        z-index: 1;
        &.arrow-left {
            left: 5px;
        }
        &.arrow-right {
            right: 5px;
        }
        &:hover {
            @include opacity(1);
        }
    }
    @include RWD(pad-horizontal) {
        .photo {
            width: 50%;
        }
        .pagination {
            left: 50%;
            margin-left: 15px;
        }
    }
    @include RWD(mobile) {
        .item, .photo, .info {
            display: block;
        }
        .photo {
            width: 100%;
        }
        .info {
            width: 100%;
            margin-top: 10px;
            padding: 0;
        }
        .pagination {
            left: 0;
            right: 0;
            margin-left: 0;
            text-align: right;
        }
        .arrow {
            display: none;
        }
    }
}

.rwd_index_012 {
    .container{
        height: 382px;
        padding: 0;
        border-width: 0;
        display: block;
        position: relative;
    }
    .swiper-container {
        width: 705px;
        left: 0px;
        right: 300px;
        position: absolute;
        background: white;
    }
    .col-right {
        width: 235px;
        top: 0;
        right: 0;
        padding: 1px;
        position: absolute;
        background: white;
        .info {
            padding: 10px 5px;
        }
        .name {
            height: 45px;
            font-size: 1em;
        }
    }
    .item {
        &:hover {
            @include transition(0.6s);
            .photo {
                @include opacity(0.75);
            }
        }
    }
    .photo {
        text-align: center;
        img {
            max-width: 100%;
            @include transition(0.3s);
        }
    }
    .currency {
        font-size: 10px;
        // margin-bottom: 2px;
    }
    @include RWD(pad-horizontal) {
        .container {
            height: auto;
            margin-bottom: 20px;
        }
        .swiper-container {
            width: 100%;
            left: 0;
            right: 0;
            position: relative;
            margin-bottom: 20px;
        }
        .col-right {
            width: 100%;
            padding: 0;
            position: static;
            .name {
                height: 40px;
                font-size: 100%;
            }
            .item {
                display: table;
            }
            .photo {
                width: 50%;
                display: table-cell;
            }
            .info {
                width: 50%;
                padding: 0 0 0 10px;
                vertical-align: middle;
                display: table-cell;
            }
        }
    }
    @include RWD(pad-mobile) {
        .container {
            padding: 0 10px;
        }
    }
    @include RWD(mobile) {
        .swiper-container {
            padding: 10px;
        }
    }
}