/* rwd_index_017 start */

@import"../../3rd-party/_idangerous.swiper.scss";
.rwd_index_020 {
    .container{
        border-width: 0;
        display: block;
        position: relative;
        @include clearfix;
    }
    .swiper-container {
        width: 660px;
        margin: 20px 0;
        float: left;
        .pagination {
            left: 0;
            right: 0;
            text-align: right;
        }
    }
    .col-left, .col-right {
        width: 250px;
        margin: 20px 0 0 50px;
        padding: 1px;
        background: lighten($gray,50);
        background: rgba(lighten($gray,40),0.2);
        float: left;
        .info {
            padding: 10px 5px;
        }
        .name {
            height: 45px;
            font-size: 1em;
        }
    }
    .col-right {
        margin-left: 0;
        float: right;
    }
    .item {
        &:hover {
            @include transition(0.6s);
            .photo {
                @include opacity(0.75);
            }
        }
    }
    .photo {
        text-align: center;
        img {
            max-width: 100%;
            @include transition(0.3s);
        }
    }
    .currency {
        font-size: 10px;
        margin-bottom: 2px;
    }
    @include RWD(pad-horizontal) {
        .swiper-container {
            width: 100%;
            float: none;
        }
        .col-left, .col-right {
            width: 50%;
            margin: 0;
            padding: 0;
            background: none;
            .item {
                display: table;
            }
            .photo {
                width: 50%;
                display: table-cell;
            }
            .info {
                width: 50%;
                padding: 0 15px;
                vertical-align: middle;
                display: table-cell;
            }
            .name {
                height: 40px;
                font-size: 100%;
            }
        }
    }
    @include RWD(pad-mobile) {
        .container {
            padding: 20px 10px;
            border-width: 1px;
        }
    }
    @include RWD(mobile) {
        .col-left, .col-right {
            width: 100%;
            float: none;
            .info {
                padding: 0 0 0 10px;
            }
        }
        .col-right {
            margin-top: 10px;
        }
    }
}

/* rwd_index_017 end */