/* rwd_index_022 start */

.rwd_index_022 {
	margin: 0 auto;
	.item {
		width: 270px;
		margin-left: 5px;
		padding: 12px 10px;
		vertical-align: top;
		display: inline-block;
		&.item-one {
			width: 360px;
			margin: 0 5px;
			.name {
				height: 40px;
				font-size: 1em;
			}
		}
		&:hover {
			@include transition(0.6s);
			.photo {
				@include opacity(0.75);
			}
		}
	}
	.photo {
		display: inline-block;
		overflow: hidden;
		margin-bottom: 5px;
		text-align: center;
		position: relative;
		img {
			max-width: 100%;
			@include transition(0.3s);
		}
	}
	.name {
		height: 35px;
		margin-bottom: 10px;
		font-size: 0.95em;
		line-height: 1.2;
		word-break: break-all;
		overflow: hidden;
	}
	.feature {
		font-size: 0.85em;
		line-height: 1.4;
		margin-bottom: 20px;
	}
	.currency {
		font-size: 10px;
		vertical-align: bottom;
		display: inline-block;
		margin-bottom: 2px;
	}
	.price {
		font-size: 18px;
		margin-right: 5px;
		vertical-align: bottom;
		display: inline-block;
	}
	.btn {
		float: right;
		margin-top: 3px;
		font-size: 15px;
		color: $price;
	}
	@include RWD(pad-horizontal) {
		.item {
			width: 22%;
			margin: 0;
			&.item-one {
				width: 30%;
			}
		}
	}
	@include RWD(pad-mobile) {
		.item {
			width: 49%;
			&.item-one {
				width: 49%;
				margin: 0;
				.info {
					padding-top: 50px;
				}
			}
		}
		.photo {
			width: 50%;
			float: left;
		}
		.info {
			width: 50%;
			padding: 50px 0 0 15px;
			vertical-align: middle;
			display: table-cell;
		}
		.name {
			height: 40px;
			font-size: 100%;
		}
		.feature {
			display: none;
		}
	}
	@include RWD(mobile) {
		.item {
			width: 100%;
			padding-bottom: 0;
			display: table;
			&.item-one {
				width: 100%;
				.info {
					padding-top: 0;
				}
			}
		}
		.photo {
			width: 100%;
			display: table-cell;
		}
		.info {
			padding: 0 0 0 10px;
		}
	}
}

/* rwd_index_022 end */