.rwd_index_013{
	@include clearfix;
	margin-bottom: 20px;
	.container{
		background: white;
		border-bottom: 0;
		padding: 0;
	}
	.title-h3{
		display: none;
	}
	.items{
	}
	.item{
		float: left;
		width: 20%;
		padding: 10px 12px;
		display: inline-block;
	}
	.photo{
		display: inline-block;
		width: 100%;
		margin-bottom: 8px;
		@include crop(100%, white);
	}
	.name{
	 	font-size: 1em;
  		height: 40px;
  		line-height: 1.3;
	}
	del{
		// height: 15px;
		// color: $text;
		margin-bottom: 0px;
	}
	.currency{
		font-size: 12px;
		//color: $price;
		// display: inline-block;
	}
	.price{
		font-size: 18px;
		margin-right: 5px;
		//color: $price;
		// display: inline-block;
	}
}
@include RWD(pad-mobile) {
.rwd_index_013{
	.item{
		padding: 1.5%;
	}
	.info{
		display: block;
	}
}
}
@include RWD(mobile) {
.rwd_index_013{
	.item{
		width:50%;
	}
}
}

@media screen and (max-width: 568px) {
.rwd_index_013{
	.item{
		width:100%;
	}
	.photo{
		display:inline-block;
		vertical-align: middle;
		width:50%;
		padding-top: 50%;
	}
	.info{
		display:inline-block;
		width:48%;
		vertical-align: middle;
	}
}
}