/* rwd_index_004 開始 */
.rwd_index_004{
	@include clearfix;
	.item{
		width: 25%;
		padding: 0 42.5px;
		//padding-right: 20px;
		float: left;
	}
	.photo{
		margin-bottom: 10px;
		display: inline-block;
//		img{
//			width: 100%;
//		}
	}
	.info{
        clear: left;
	}
	// .name{
	// 	// font-size: 18px;
	// 	// height: 40px;
	// 	margin-bottom:10px;
	// 	// line-height: 1.3;
	// 	// height: auto;
	// 	//color: $item_name;
	// 	// font-weight: bold;
	// 	// overflow: hidden;
	// }
	.feature{
		margin-bottom: 10px;
		font-size: 14px;
		line-height: 1.4;
		height: 60px;
		overflow: hidden;
	}
	del{
		color: $text;
	}
	.currency{
		font-size: 12px;
		//color: $price;
	}
	.price{
		font-size: 18px;
		margin-right: 5px;
		//color: $price;
	}
}
@include RWD(desktop-all) {
.rwd_index_004{
	.item{
		padding-bottom: 20px;
	}
	.info{
		padding: 0 15px;
	}
	.feature li{
		@include one-line;
	}
}
}

// @include RWD(desktop-normal) {
// .rwd_index_004{
// 	.name{
// 		font-size: 15px;
// 	}	
// }
// }

@include RWD(pad-mobile) {
.rwd_index_004{
	padding: 0 1%;
	.item{
		padding: 1% 0 3%;
		width: 100%;
		margin: 0;
		display: table;
	}
	.photo{
		display: table-cell;
//		vertical-align: middle;
//		width: 50%;
//		img{
//			width: 100%;
//		}
	}
	.info{
		display: table-cell;
		vertical-align: middle;
		width: 50%;
		padding: 0 10px;
	}
	// .name{
	// 	font-size: 1em;
	// }
	.feature{
		// font-size: 0.75em;
		@include one-line;
	}
}
}
/* rwd_index_004 結束 */