/* rwd_index_021 start */

.rwd_index_021 {
	@include clearfix;
	.item{
		float: left;
		width: 16.6666666666667%;
		padding: 10px;
		&:hover {
			@include transition(0.6s);
			.photo {
				@include opacity(0.75);
			}
		}
	}
	.photo{
		display: inline-block;
		width: 100%;
		margin-bottom: 8px;
		text-align: center;
		position: relative;
		img {
			max-width: 100%;
			@include transition(0.3s);
		}
	}
	.name{
	 	font-size: 1em;
  		height: 40px;
  		line-height: 1.3;
	}
	del{
		height: 15px;
		color: $text;
		margin-bottom: 0px;
	}
	.currency{
		font-size: 12px;
		display: inline-block;
	}
	.price{
		font-size: 18px;
		margin-right: 5px;
		display: inline-block;
	}
	@include RWD(pad-mobile) {
		.container {
			padding: 10px 0;
		}
		.item{
			width: 49.5%;
			padding: 12px 10px;
		}
		.item {
			display: table;
		}
		.photo {
			width: 50%;
			display: table-cell;
		}
		.info {
			width: 50%;
			padding: 0 15px;
			vertical-align: middle;
			display: table-cell;
		}
	}
	@include RWD(mobile) {
		.item{
			width: 100%;
		}
		.info {
			padding: 0 0 0 10px;
		}
	}
}

/* rwd_index_021 end */