/* rwd_index_010 開始 */

.rwd_index_010{
	@include clearfix;
	.item{
		float: left;
		width: 16.66%;
		padding: 0 10px;
		display: inline-block;
	}
	.photo{
		display: inline-block;
		width: 100%;
		margin-bottom: 10px;
//		img{
//			width: 100%;
//		}
	}	
}
@include RWD(pad-mobile) {
.rwd_index_ad{
	padding: 0 1%;
	.item{
		width: 33.33333%;
		padding: 1%;
	}
}
}

/* rwd_index_010 結束 */