/* index共用區塊 開始 */
.site-body {
    padding-bottom: 40px;
    .container {
        padding: 0 0 20px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        //border-bottom: 1px solid $border;      
    }
}
.site-main{
    .feature{
        li{
            width:100%;
            word-break:break-all;
            overflow: hidden;
            white-space:nowrap;
            text-overflow: ellipsis;
        }

    }
    .name{
        font-size: 1.2em;
        height: 53px;
        margin-bottom: 10px;
        overflow: hidden;
        font-weight: 700;
        line-height: 1.4;
        word-wrap:break-word;
        word-break:break-word;
    }
    .buy{
        .currency{
            display:inline-block;
            vertical-align: -3px;
        }
        .price{
            display:inline-block;
            vertical-align: middle;
        }
        .button{
            margin:5px 0;
        }
    }
}
@include RWD(pad-mobile) {
.site-body {
        padding: 0;
        .container {
            padding: 0;
        }
    }
}
@include RWD(pad-mobile) {
.site-main{
    .feature{
        li{
            width:330px;
        }
    }
}
}
@include RWD(mobile) {
.site-main{
    .feature{
        li{
            width:180px;
        }
    }
}
}

@media screen and (max-width: 480px) {
.site-main{
    .feature{
        li{
            width:130px;
        }
    }
}
}
.item .photo{
    width: 100%;
    height: 0;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    float: left;
    img{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }
}
/* index共用區塊 結束 */