/* rwd_index_009 開始 */

.rwd_index_009 {
    del{
        color: $text;
    }
    .currency {
        font-size: 12px;
        //color: $price;
    }
    .price {
        font-size: 18px;
        margin-right: 5px;
        //color: $price;
    }
    .info{
        clear:left;
    }
    .name {
        font-size: 1em;
        height: 44px;
        // margin-bottom: 5px;
        width: 100%;
        // overflow: hidden;
        //color: $item_name;
        // font-weight: bold;
        // line-height: 1.3;
    }
}
@include RWD(desktop-all) {
    .rwd_index_009 {
        .items {
            //background: $background;
            @include clearfix;
        }
        .item {
            position: relative;
            float: left;
            width: 20%;
            padding: 10px 12px;
            &:hover {
                .info {
                    display: block;
                }
            }
        }
        .info {
            // position: absolute;
            // bottom: 10px;
            // left: 12px;
            // right: 12px;
            padding: 8px 5px;
            //background: $background;
            // display: none;
        }
        .photo {
            display: block;
        }
        .button {
            display: none;
        }
    }
}
@include RWD(desktop-extra) {
    .rwd_index_009 {
        .photo {
            @include crop(100%, white);
        }
    }
}
@include RWD(desktop-normal) {
    .rwd_index_009 {
        .items {
            padding: 10px 0;
        }
        .photo {
            @include crop(100%, white);
        }
        // .name {
        //     width: 150px;
        // }
    }
}
@include RWD(pad-mobile) {
    .rwd_index_009 {
        padding: 0 1%;
        .items {
            background: transparent;
        }
        // .name {
        //     font-size: 1.2em;
        //     height: 52px;
        // }
        // .currency {} 
        .price {
            font-size: 1.3em;
        }
        .item {
            padding: 1% 0 3%;
            width: 100%;
            margin: 0;
            display: table;
        }
        .photo {
            display: table-cell;
            vertical-align: middle;
//            width: 50%;
//            img {
//                width: 100%;
//            }
        }
        .info {
            display: table-cell;
            vertical-align: middle;
            width: 50%;
            padding: 0 10px;
        }
    }
}
/* rwd_index_009 結束 */
