.rwd_index_015{
	@include clearfix;
	margin-bottom: 20px;
	.container{
		background: white;
		border-bottom: 0;
		padding: 10px 0;
	}
	.items{
		margin: 0;
		@include clearfix;
	}
	.item{
		float: left;
		width: 39%;
		padding: 0 10px;
		border: 1px solid transparent;
		&:hover{
			//border: 1px solid $border;
			@include transition(0.6s);
			.photo{
				opacity: 0.75;
			}
		}
	}
	.item-block{
		float: left;
		width: 61%;
		.item{
			width: 33.33333%;
		}
		.name{
			font-size: 0.95em;
			height: 35px;
		}
		.type{
			font-size: 8px;
		}
		.currency{
			font-size: 12px;
		}
		.price{
			font-size: 16px;
		}
	}
	.photo{
		display: block;
		margin-bottom: 7px;
		@include crop(100%, white);
	}
	.info{
		min-height: 72px;
	}
	.feature{
		margin-bottom: 10px;
		font-size: 14px;
		line-height: 1.4;
		height: 60px;
		overflow: hidden;
	}
	.name{
		font-size: 16px;
		height: 20px;
		line-height: 1.3;
		margin-bottom: 10px;
		//color: $item_name;
		overflow: hidden;
		word-wrap:break-word;
	}
	del{
		height: 15px;
		color: $text;
		margin-bottom: 0;
	}
	.currency{
		font-size: 12px;
		//color: $price;
		display: inline-block;
	}
	.price{
		font-size: 18px;
		//color: $price;
		display: inline-block;
		margin-right: 10px;
	}
}

//mobile
@include RWD(mobile) {
.rwd_index_015{
	.item{
		width: 100%;
		padding: 1.5%;
	}
	.item-block{
		width: 100%;
		.item{
			width: 50%;
		}
	}
}
}

@media screen and (max-width: 568px) {
.rwd_index_015{
	.item-block{
		.item{
			width: 100%;
		}
	}
	.photo{
		display:inline-block;
		vertical-align: middle;
		width:50%;
		padding-top: 50%;
	}
	.feature{
		display: none;
	}
	.info{
		display:inline-block;
		width:48%;
		vertical-align: middle;
	}
}
}