.rwd_index_014{
	@include clearfix;
	margin-bottom: 20px;
	.container{
		background: white;
		border-bottom: 0;
		padding: 0;
	}
	.title-h3{
		display: none;
	}
	.items{
	}
	.item{
		float: left;
		width: 30.9%;
		padding: 10px 12px;
		display: inline-block;
		&:first-child{
			width: 38.2%;
			.feature{
				display: none;
			}
		}
	}
	.photo{
		display: inline-block;
		width: 100%;
		margin-bottom: 8px;
		@include crop(100%, white);
	}
	.feature{
		margin-bottom: 10px;
		font-size: 14px;
		line-height: 1.4;
		height: 60px;
		overflow: hidden;
	}
	.name{
	 	font-size: 1em;
  		height: 40px;
  		line-height: 1.3;
	}
	del{
		height: 15px;
		color: $text;
		margin-bottom: 0px;
	}
	.currency{
		font-size: 12px;
		//color: $price;
		display: inline-block;
	}
	.price{
		font-size: 18px;
		margin-right: 5px;
		//color: $price;
		display: inline-block;
	}
}
@include RWD(pad-mobile) {
.rwd_index_014{
	.item{
		padding: 1.5%;
	}
	.info{
		display: block;
	}
}
}
@include RWD(mobile) {
.rwd_index_014{
	.item{
		width:50%;
		&:first-child{
			width: 100%;
			.photo{
				display:inline-block;
				vertical-align: middle;
				width: 60%;
				padding-top: 60%;
				margin-bottom: 0;
				img{
					right: initial;
				}
			}
			.info{
				display:inline-block;
				width:38%;
				padding: 0 0 0 10px;
				vertical-align: middle;
			}
		}
	}
}
}

@media screen and (max-width: 568px) {
.rwd_index_014{
	.item{
		width:100%;
		&:first-child{
			.photo{
				width: 50%;
				padding-top: 50%;
			}
			.info{
				width:48%;
			}
		}
	}
	.photo{
		display:inline-block;
		vertical-align: middle;
		width:50%;
		padding-top: 50%;
	}
	.feature{
		display: none;
	}
	.info{
		display:inline-block;
		width:48%;
		padding: 0 0 0 10px;
		vertical-align: middle;
	}
}
}