.rwd_index_027{
	font-size: 0;	
	img{
		width: 100%;
	}
	@include RWD(pad) {
		padding: 0 1%;
		.container{
			padding: 20px 0;
			border-bottom: 1px solid $border!important;
		}
	}
	@include RWD(mobile) {
		.container{
			padding: 10px 0;
			border-bottom: none;
		}
	}
}
