.pc-category-005 {
  zoom: 1;
}
.pc-category-005:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc-category-005 .items {
  margin: 10px 0px 0;
  padding: 8px;
  background: #f2f2f2;
  border: 1px solid #cccccc;
  border-left: 0;
  border-right: 0;
}
.pc-category-005 .items {
  zoom: 1;
}
.pc-category-005 .items:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc-category-005 .item {
  float: left;
  width: 33.333%;
  padding: 10px;
  border: 1px solid transparent;
}
.pc-category-005 .item:hover {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
.pc-category-005 .item:hover .photo {
  opacity: 0.75;
}
.pc-category-005 .photo {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
}
.pc-category-005 .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.pc-category-005 .photo img {
  max-width: 360px;
}
.pc-category-005 .info {
  min-height: 143px;
  padding: 8px;
  background: white;
}
.pc-category-005 .name {
  font-size: 13px;
  height: 33px;
  line-height: 1.35;
  margin-bottom: 5px;
  color: black;
  font-weight: bold;
  overflow: hidden;
  word-break: break-word;
  word-wrap: break-word;
}
.pc-category-005 .type {
  font-size: 12px;
  color: #6c6c6c;
}
.pc-category-005 .currency {
  font-size: 12px;
  color: #e00517;
  display: inline-block;
  margin-left: 3px;
}
.pc-category-005 .price {
  font-size: 16px;
  color: #e00517;
  display: inline-block;
  margin-right: 5px;
}
.pc-category-005 .buy-actions {
  margin-top: 10px;
  text-align: right;
}
.pc-category-005 .quantity {
  margin-right: 5px;
  vertical-align: middle;
  background: white;
}
.pc-category-005 .highlight {
  font-size: 12px;
  line-height: 1.5;
  margin-top: 5px;
  text-align: right;
}
.pc-category-005 .large {
  font-size: 13px;
  padding: 0 10px;
  line-height: 21px;
  height: 22px;
}
.pc-category-005 .tag-status {
  position: absolute;
  bottom: 7px;
  right: 7px;
  z-index: 9;
}
