.rwd-category-002 {
  zoom: 1;
}
.rwd-category-002:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.rwd-category-002 .items {
  margin: 0;
  padding: 10px;
}
.rwd-category-002 .items {
  zoom: 1;
}
.rwd-category-002 .items:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.rwd-category-002 .item {
  float: left;
  width: 50%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid transparent;
}
.rwd-category-002 .item:hover {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
.rwd-category-002 .item:hover .photo {
  opacity: 0.75;
}
.rwd-category-002 .photo {
  display: block;
  margin-bottom: 7px;
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
}
.rwd-category-002 .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.rwd-category-002 .info {
  min-height: 122px;
}
.rwd-category-002 .name {
  font-size: 16px;
  height: 20px;
  line-height: 1.3;
  margin-bottom: 10px;
  overflow: hidden;
  word-wrap: break-word;
}
.rwd-category-002 .currency {
  font-size: 12px;
  display: inline-block;
}
.rwd-category-002 .price {
  font-size: 18px;
  display: inline-block;
  margin-right: 10px;
}
.rwd-category-002 .buy-actions {
  margin-top: 10px;
}
.rwd-category-002 .quantity {
  margin-right: 10px;
  vertical-align: middle;
}
.rwd-category-002 .quantity .quantity-decrease, .rwd-category-002 .quantity .quantity-increase {
  padding: 7px;
}
.rwd-category-002 .quantity .quantity-input {
  width: 36px;
  height: 32px;
}
.rwd-category-002 .highlight {
  margin-top: 10px;
  font-size: .7em;
  line-height: 1.4;
}

@media (max-width: 767px) {
  .rwd-category-002 .items {
    padding: 10px;
    margin: 0;
  }
  .rwd-category-002 .item {
    width: 100%;
    margin: 0 0 10px;
    padding: 20px 20px 20px;
    height: auto;
  }
  .rwd-category-002 .info {
    padding: 0;
    min-height: 0;
  }
  .rwd-category-002 .name {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 10px;
    height: auto;
    overflow: hidden;
    word-wrap: break-word;
  }
  .rwd-category-002 .price {
    font-size: 18px;
    margin-right: 10px;
  }
  .rwd-category-002 .quantity {
    margin-right: 10px;
    vertical-align: middle;
  }
  .rwd-category-002 .quantity .quantity-decrease, .rwd-category-002 .quantity .quantity-increase {
    padding: 7px;
  }
  .rwd-category-002 .quantity .quantity-input {
    width: 36px;
    height: 32px;
  }
  .rwd-category-002 .button {
    vertical-align: top;
    font-size: 15px;
    padding: 0 1.25em;
    height: 32px;
    line-height: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .rwd-category-002 .button.btn-preorder-finish {
    padding: 0;
  }
}
