.md_nav_breadcrumbs.is-fixed {
  top: 0;
  border-bottom: 2px solid #e00517;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 5px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 5px 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 20px;
  position: fixed;
  z-index: 10;
}
.md_nav_breadcrumbs .container {
  padding: 10px;
}
.md_nav_breadcrumbs .item {
  max-width: 28%;
  margin: 0 2px;
  color: #999999;
  font-size: 0.9rem;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
}
.md_nav_breadcrumbs .item + .item:before {
  content: "\f105";
  margin-right: 4px;
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
}
.md_nav_breadcrumbs .item.item-select {
  overflow: visible;
}
.md_nav_breadcrumbs .select-breadcrumbs {
  width: 95%;
  padding: 1px 3px;
  color: #666;
  font-size: 0.9rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.md_nav_breadcrumbs .select-breadcrumbs option {
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

.infinite-next-page, #infscr-loading {
  color: #06c;
  line-height: 1.4;
  text-align: center;
  padding: 0 10px 20px;
  display: block;
}

#infscr-loading {
  color: #999999;
  font-size: 0.9rem;
}

.md-groupbuy-top-banner a, .md-groupbuy-top-banner img {
  display: block;
  width: 100%;
}

.md-top-menu {
  background: #fff;
  text-align: center;
}
.md-top-menu {
  zoom: 1;
}
.md-top-menu:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.md-top-menu li {
  float: left;
}
.md-top-menu a {
  display: block;
  font-size: 0.8em;
  padding: 10px 8px;
  color: #333;
  position: relative;
}
.md-top-menu .top {
  background: #deedf7;
}
.md-top-menu .sec {
  border-left: 1px solid #ddd;
}
.md-top-menu .sec.active {
  color: white;
  background-color: #e00517;
}
.md-top-menu .sec-menu {
  display: none;
  position: absolute;
  width: 98%;
  height: 60%;
  background: #fff;
  z-index: 15;
  overflow: auto;
  -webkit-box-shadow: 1px 1px 5px #333;
  -moz-box-shadow: 1px 1px 5px #333;
  box-shadow: 1px 1px 5px #333;
}
.md-top-menu .sec-menu li {
  width: 100%;
  float: none;
  border-bottom: 1px solid #eee;
}
.md-top-menu .top:hover .sec-menu {
  display: block;
}

.md-list-item .groupbuy.is-hot {
  padding: 5px 0;
  background: #f96;
  color: #fff;
}
.md-list-item .groupbuy.is-fast {
  padding: 5px 0;
  background: #1882EE;
  color: #fff;
}
.md-list-item .t-sale-price .start {
  font-size: 0.8rem;
  font-weight: 500;
  color: #333;
}
.md-list-item .sale {
  display: inline-block;
  width: 155px;
  margin: 5px 0;
  padding: 2px 0;
  text-align: center;
  background: #fff;
  border: 1px solid #e00517;
  color: #e00517;
  font-size: 0.9em;
}
.md-list-item .sale b {
  font-weight: 500;
}
.md-list-item .sale .time {
  display: inline-block;
}
.md-list-item .sale .time li {
  display: inline-block;
}
.md-list-item .sale .time div {
  height: 18px;
  display: inline-block;
  vertical-align: top;
  line-height: 1.2;
  overflow: hidden;
}
.md-list-item .photo {
  position: relative;
}
.md-list-item .photo .discount_tip {
  position: absolute;
  bottom: 15px;
  right: 5px;
  width: 45px;
  height: 45px;
  color: #e00517;
  font-weight: 700;
  text-align: center;
  background-image: url("../../../../../../c/img/frame/2hr_icon_45x45.png");
}
