.rwd_index_006 {
  zoom: 1;
}
.rwd_index_006:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.rwd_index_006 .items {
  zoom: 1;
}
.rwd_index_006 .items:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.rwd_index_006 .item {
  float: left;
  width: 20%;
  padding: 0 12px;
  display: table;
}
.rwd_index_006 .photo {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.rwd_index_006 .photo img {
  width: 100%;
}
.rwd_index_006 .info {
  display: none;
  clear: left;
}
.rwd_index_006 del {
  color: #6c6c6c;
}
.rwd_index_006 .currency {
  font-size: 12px;
  display: inline-block;
}
.rwd_index_006 .price {
  font-size: 18px;
  margin-right: 5px;
  display: inline-block;
}

@media (max-width: 999px) {
  .rwd_index_006 {
    padding: 0 1%;
  }
  .rwd_index_006 .item {
    width: 50%;
    padding: 1%;
    height: 560px;
  }
  .rwd_index_006 .info {
    display: block;
  }
}
@media (max-width: 767px) {
  .rwd_index_006 .item {
    width: 100%;
    height: auto;
  }
  .rwd_index_006 .photo {
    display: table-cell;
    vertical-align: middle;
  }
  .rwd_index_006 .info {
    display: table-cell;
    vertical-align: middle;
    width: 48%;
    padding-left: 10px;
  }
}
