.pc_index_016 {
  border-top: #fc5555 2px solid;
  border-bottom: #fc5555 2px solid;
  text-align: center;
  margin-bottom: 5px;
  margin-right: 10px;
}
.pc_index_016 {
  zoom: 1;
}
.pc_index_016:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_index_016 .recommend {
  position: relative;
  height: 28px;
  overflow: hidden;
}
.pc_index_016 .recommend {
  zoom: 1;
}
.pc_index_016 .recommend:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_index_016 .recommend:nth-child(odd) {
  border-bottom: #c9c9c9 1px dashed;
}
.pc_index_016 .recommend .hot {
  float: left;
  width: 110px;
  height: 28px;
  position: relative;
  line-height: 25px;
  color: #333;
  text-align: left;
}
.pc_index_016 .recommend .hot a {
  font-size: 14px;
  padding: 2px 8px;
  color: #666;
  font-weight: 700;
  /*background: #f8f8f8;
  border-radius: 6px;*/
}
.pc_index_016 .recommend .hot a:hover {
  color: #e00517;
  background: #f8f8f8;
  border-radius: 6px;
}
.pc_index_016 .recommend span {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 8px;
  color: #fc5555;
  font-weight: 700;
}
.pc_index_016 .recommend dd {
  float: left;
  width: 110px;
  height: 28px;
  text-align: left;
  line-height: 16px;
}
.pc_index_016 .recommend dd a {
  padding: 2px 8px;
  line-height: 27px;
  color: #666;
  font-size: 14px;
  position: relative;
  font-weight: 700;
  /*background: #f8f8f8;
  border-radius: 6px;*/
}
.pc_index_016 .recommend dd a:hover {
  color: #e00517;
  background: #f8f8f8;
  border-radius: 6px;
}
