.rwd_index_028 {
  font-size: 0;
}
.rwd_index_028 img {
  width: 100%;
}
.rwd_index_028 {
  zoom: 1;
}
.rwd_index_028:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.rwd_index_028 .item-two-block {
  border: 1px solid #F5F5F5;
  border-left: none;
}
.rwd_index_028 .item-two-block {
  zoom: 1;
}
.rwd_index_028 .item-two-block:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.rwd_index_028 .item-two-block a {
  float: left;
  width: 50%;
  display: block;
  border-left: 1px solid #F5F5F5;
}
@media (min-width: 768px) and (max-width: 999px) {
  .rwd_index_028 {
    padding: 0 1%;
  }
  .rwd_index_028 .container {
    padding: 20px 0;
    border-bottom: 1px solid #F5F5F5 !important;
  }
}
@media (max-width: 767px) {
  .rwd_index_028 .container {
    padding: 10px 0;
    border-bottom: none;
  }
  .rwd_index_028 .item-two-block a {
    float: none;
    width: 100%;
  }
  .rwd_index_028 .item-two-block a:first-child {
    border-bottom: 1px solid #F5F5F5;
  }
}
