.rwd_index_000 {
  zoom: 1;
}
.rwd_index_000:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.rwd_index_000 .items {
  margin: 0 -10px;
}
.rwd_index_000 .items {
  zoom: 1;
}
.rwd_index_000 .items:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.rwd_index_000 .item {
  float: left;
  width: 18.8722%;
  margin: 7px;
  padding: 10px;
}
.rwd_index_000 .item:hover {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
.rwd_index_000 .item:hover .photo {
  opacity: 0.75;
}
.rwd_index_000 .photo {
  display: block;
  margin-bottom: 7px;
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
}
.rwd_index_000 .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.rwd_index_000 .name {
  height: 38px;
  margin-bottom: 10px;
  font-size: 0.95em;
  line-height: 1.3;
  overflow: hidden;
  word-wrap: break-word;
}
.rwd_index_000 del {
  font-size: 10px;
  margin-right: 2px;
  margin-bottom: 5px;
  color: #6c6c6c;
  display: block;
}
.rwd_index_000 .type {
  font-size: 0.9em;
}
.rwd_index_000 .currency {
  font-size: 12px;
  display: inline-block;
}
.rwd_index_000 .price {
  font-size: 20px;
  display: inline-block;
  margin-right: 5px;
}
.rwd_index_000 .buy-actions {
  margin-top: 10px;
}
.rwd_index_000 .quantity {
  margin-right: 5px;
  vertical-align: middle;
}
.rwd_index_000 .highlight {
  margin-top: 10px;
  font-size: .7em;
  line-height: 1.4;
}
.rwd_index_000 .more {
  width: 100%;
  font-size: 0.95em;
  color: #14b3e5;
  text-align: right;
  font-weight: bold;
  margin: 40px 0 5px;
  display: block;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
.rwd_index_000 .more:hover {
  text-decoration: underline;
}

@media (min-width: 1000px) and (max-width: 1237px) {
  .rwd_index_000 .item {
    width: 23.57%;
  }
  .rwd_index_000 .name {
    margin-bottom: 10px;
    overflow: hidden;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .rwd_index_000 .items {
    padding: 10px;
    margin: 0;
  }
  .rwd_index_000 .item {
    width: 48.07%;
    padding: 20px 20px 20px;
    height: auto;
  }
  .rwd_index_000 .photo {
    margin-bottom: 10px;
  }
  .rwd_index_000 .name {
    font-size: 16px;
    height: 20px;
    line-height: 1.2;
    margin-bottom: 10px;
    overflow: hidden;
    word-wrap: break-word;
  }
  .rwd_index_000 .price {
    font-size: 18px;
    margin-right: 10px;
  }
  .rwd_index_000 .quantity {
    margin-right: 10px;
    vertical-align: middle;
  }
  .rwd_index_000 .quantity .quantity-decrease, .rwd_index_000 .quantity .quantity-increase {
    padding: 7px;
  }
  .rwd_index_000 .quantity .quantity-input {
    width: 36px;
    height: 32px;
  }
  .rwd_index_000 .button {
    vertical-align: top;
    font-size: 15px;
    padding: 0 1.25em;
    height: 32px;
    line-height: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .rwd_index_000 .button.btn-preorder-finish {
    padding: 0;
  }
  .rwd_index_000 .more {
    padding-right: 15px;
  }
}
@media (max-width: 767px) {
  .rwd_index_000 .items {
    padding: 10px;
    margin: 0;
  }
  .rwd_index_000 .item {
    width: 100%;
    margin: 0 0 10px;
    padding: 20px 20px 20px;
    height: auto;
  }
  .rwd_index_000 .info {
    padding: 0;
  }
  .rwd_index_000 .name {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 10px;
    height: auto;
    overflow: hidden;
    word-wrap: break-word;
  }
  .rwd_index_000 .price {
    font-size: 18px;
    margin-right: 10px;
  }
  .rwd_index_000 .quantity {
    margin-right: 10px;
    vertical-align: middle;
  }
  .rwd_index_000 .quantity .quantity-decrease, .rwd_index_000 .quantity .quantity-increase {
    padding: 7px;
  }
  .rwd_index_000 .quantity .quantity-input {
    width: 36px;
    height: 32px;
  }
  .rwd_index_000 .button {
    vertical-align: top;
    font-size: 15px;
    padding: 0 1.25em;
    height: 32px;
    line-height: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .rwd_index_000 .button.btn-preorder-finish {
    padding: 0;
  }
  .rwd_index_000 .more {
    padding-right: 15px;
  }
}
