.rwd_index_025 {
  margin-bottom: 20px;
}
.rwd_index_025 .container {
  background: white;
  border-bottom: 0;
  padding: 0;
}
.rwd_index_025 a {
  display: block;
  font-size: 0;
}
.rwd_index_025 img {
  width: 100%;
}
