.rwd_index_027 {
  font-size: 0;
}
.rwd_index_027 img {
  width: 100%;
}
@media (min-width: 768px) and (max-width: 999px) {
  .rwd_index_027 {
    padding: 0 1%;
  }
  .rwd_index_027 .container {
    padding: 20px 0;
    border-bottom: 1px solid #cccccc !important;
  }
}
@media (max-width: 767px) {
  .rwd_index_027 .container {
    padding: 10px 0;
    border-bottom: none;
  }
}
