/* rwd_index_022 start */
.rwd_index_022 {
  margin: 0 auto;
}
.rwd_index_022 .item {
  width: 270px;
  margin-left: 5px;
  padding: 12px 10px;
  vertical-align: top;
  display: inline-block;
}
.rwd_index_022 .item.item-one {
  width: 360px;
  margin: 0 5px;
}
.rwd_index_022 .item.item-one .name {
  height: 40px;
  font-size: 1em;
}
.rwd_index_022 .item:hover {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
.rwd_index_022 .item:hover .photo {
  opacity: 0.75;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
}
.rwd_index_022 .photo {
  display: inline-block;
  overflow: hidden;
  margin-bottom: 5px;
  text-align: center;
  position: relative;
}
.rwd_index_022 .photo img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.rwd_index_022 .name {
  height: 35px;
  margin-bottom: 10px;
  font-size: 0.95em;
  line-height: 1.2;
  word-break: break-all;
  overflow: hidden;
}
.rwd_index_022 .feature {
  font-size: 0.85em;
  line-height: 1.4;
  margin-bottom: 20px;
}
.rwd_index_022 .currency {
  font-size: 10px;
  vertical-align: bottom;
  display: inline-block;
  margin-bottom: 2px;
}
.rwd_index_022 .price {
  font-size: 18px;
  margin-right: 5px;
  vertical-align: bottom;
  display: inline-block;
}
.rwd_index_022 .btn {
  float: right;
  margin-top: 3px;
  font-size: 15px;
  color: #dd0000;
}
@media (max-width: 1237px) {
  .rwd_index_022 .item {
    width: 22%;
    margin: 0;
  }
  .rwd_index_022 .item.item-one {
    width: 30%;
  }
}
@media (max-width: 999px) {
  .rwd_index_022 .item {
    width: 49%;
  }
  .rwd_index_022 .item.item-one {
    width: 49%;
    margin: 0;
  }
  .rwd_index_022 .item.item-one .info {
    padding-top: 50px;
  }
  .rwd_index_022 .photo {
    width: 50%;
    float: left;
  }
  .rwd_index_022 .info {
    width: 50%;
    padding: 50px 0 0 15px;
    vertical-align: middle;
    display: table-cell;
  }
  .rwd_index_022 .name {
    height: 40px;
    font-size: 100%;
  }
  .rwd_index_022 .feature {
    display: none;
  }
}
@media (max-width: 767px) {
  .rwd_index_022 .item {
    width: 100%;
    padding-bottom: 0;
    display: table;
  }
  .rwd_index_022 .item.item-one {
    width: 100%;
  }
  .rwd_index_022 .item.item-one .info {
    padding-top: 0;
  }
  .rwd_index_022 .photo {
    width: 100%;
    display: table-cell;
  }
  .rwd_index_022 .info {
    padding: 0 0 0 10px;
  }
}

/* rwd_index_022 end */
