.rwd_index_014 {
  margin-bottom: 20px;
}
.rwd_index_014 {
  zoom: 1;
}
.rwd_index_014:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.rwd_index_014 .container {
  background: white;
  border-bottom: 0;
  padding: 0;
}
.rwd_index_014 .title-h3 {
  display: none;
}
.rwd_index_014 .item {
  float: left;
  width: 30.9%;
  padding: 10px 12px;
  display: inline-block;
}
.rwd_index_014 .item:first-child {
  width: 38.2%;
}
.rwd_index_014 .item:first-child .feature {
  display: none;
}
.rwd_index_014 .photo {
  display: inline-block;
  width: 100%;
  margin-bottom: 8px;
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
}
.rwd_index_014 .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.rwd_index_014 .feature {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.4;
  height: 60px;
  overflow: hidden;
}
.rwd_index_014 .name {
  font-size: 1em;
  height: 40px;
  line-height: 1.3;
}
.rwd_index_014 del {
  height: 15px;
  color: #6c6c6c;
  margin-bottom: 0px;
}
.rwd_index_014 .currency {
  font-size: 12px;
  display: inline-block;
}
.rwd_index_014 .price {
  font-size: 18px;
  margin-right: 5px;
  display: inline-block;
}

@media (max-width: 999px) {
  .rwd_index_014 .item {
    padding: 1.5%;
  }
  .rwd_index_014 .info {
    display: block;
  }
}
@media (max-width: 767px) {
  .rwd_index_014 .item {
    width: 50%;
  }
  .rwd_index_014 .item:first-child {
    width: 100%;
  }
  .rwd_index_014 .item:first-child .photo {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    padding-top: 60%;
    margin-bottom: 0;
  }
  .rwd_index_014 .item:first-child .photo img {
    right: initial;
  }
  .rwd_index_014 .item:first-child .info {
    display: inline-block;
    width: 38%;
    padding: 0 0 0 10px;
    vertical-align: middle;
  }
}
@media screen and (max-width: 568px) {
  .rwd_index_014 .item {
    width: 100%;
  }
  .rwd_index_014 .item:first-child .photo {
    width: 50%;
    padding-top: 50%;
  }
  .rwd_index_014 .item:first-child .info {
    width: 48%;
  }
  .rwd_index_014 .photo {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    padding-top: 50%;
  }
  .rwd_index_014 .feature {
    display: none;
  }
  .rwd_index_014 .info {
    display: inline-block;
    width: 48%;
    padding: 0 0 0 10px;
    vertical-align: middle;
  }
}
