/* rwd_index_017 start */
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  -webkit-transition-property: -webkit-transform, left, top;
  -webkit-transition-duration: 0s;
  -webkit-transform: translate3d(0px, 0, 0);
  -webkit-transition-timing-function: ease;
  -moz-transition-property: -moz-transform, left, top;
  -moz-transition-duration: 0s;
  -moz-transform: translate3d(0px, 0, 0);
  -moz-transition-timing-function: ease;
  -o-transition-property: -o-transform, left, top;
  -o-transition-duration: 0s;
  -o-transform: translate3d(0px, 0, 0);
  -o-transition-timing-function: ease;
  -o-transform: translate(0px, 0px);
  -ms-transition-property: -ms-transform, left, top;
  -ms-transition-duration: 0s;
  -ms-transform: translate3d(0px, 0, 0);
  -ms-transition-timing-function: ease;
  transition-property: transform, left, top;
  transition-duration: 0s;
  transform: translate3d(0px, 0, 0);
  transition-timing-function: ease;
}

.swiper-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  float: left;
}

.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
}

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
}

.item-silder-type01 .item {
  display: table;
}
.item-silder-type01 .photo {
  display: table-cell;
}
.item-silder-type01 .info {
  max-width: 300px;
  padding: 0 25px 0 15px;
  vertical-align: middle;
  display: table-cell;
}
.item-silder-type01 .feature {
  font-size: 0.85em;
  line-height: 1.4;
  margin-bottom: 20px;
}
.item-silder-type01 .pagination {
  left: 375px;
  bottom: 5px;
  position: absolute;
}
.item-silder-type01 .swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #d2d2d2;
  margin: 0 3px;
  cursor: pointer;
}
.item-silder-type01 .swiper-active-switch {
  width: 30px;
}
.item-silder-type01 .arrow {
  color: #d2d2d2;
  font-size: 3em;
  top: 50%;
  margin-top: -25px;
  opacity: 0.5;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}
.item-silder-type01 .arrow.arrow-left {
  left: 5px;
}
.item-silder-type01 .arrow.arrow-right {
  right: 5px;
}
.item-silder-type01 .arrow:hover {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
@media (max-width: 1237px) {
  .item-silder-type01 .photo {
    width: 50%;
  }
  .item-silder-type01 .pagination {
    left: 50%;
    margin-left: 15px;
  }
}
@media (max-width: 767px) {
  .item-silder-type01 .item, .item-silder-type01 .photo, .item-silder-type01 .info {
    display: block;
  }
  .item-silder-type01 .photo {
    width: 100%;
  }
  .item-silder-type01 .info {
    width: 100%;
    margin-top: 10px;
    padding: 0;
  }
  .item-silder-type01 .pagination {
    left: 0;
    right: 0;
    margin-left: 0;
    text-align: right;
  }
  .item-silder-type01 .arrow {
    display: none;
  }
}

.rwd_index_017 .container {
  height: 400px;
  padding: 0;
  border-width: 0;
  display: block;
  position: relative;
}
.rwd_index_017 .swiper-container {
  left: 260px;
  right: 300px;
  margin: 20px 0;
  position: absolute;
}
.rwd_index_017 .col-left {
  width: 230px;
  left: 0;
  padding: 20px 15px;
  background: #ebebeb;
  background: rgba(210, 210, 210, 0.2);
  position: absolute;
}
.rwd_index_017 .col-left .item {
  display: table;
}
.rwd_index_017 .col-left .item + .item {
  margin-top: 27px;
}
.rwd_index_017 .col-left .photo {
  width: 100px;
  display: table-cell;
}
.rwd_index_017 .col-left .info {
  padding-left: 5px;
  vertical-align: middle;
  display: table-cell;
}
.rwd_index_017 .col-left .name {
  height: 35px;
  font-size: 0.95em;
  line-height: 1.2;
}
.rwd_index_017 .col-right {
  width: 250px;
  top: 0;
  right: 0;
  margin-top: 20px;
  padding: 1px;
  background: #ebebeb;
  background: rgba(210, 210, 210, 0.2);
  position: absolute;
}
.rwd_index_017 .col-right .info {
  padding: 10px 5px;
}
.rwd_index_017 .col-right .name {
  height: 45px;
  font-size: 1em;
}
.rwd_index_017 .item:hover {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
.rwd_index_017 .item:hover .photo {
  opacity: 0.75;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
}
.rwd_index_017 .photo {
  text-align: center;
}
.rwd_index_017 .photo img {
  max-width: 100%;
}
.rwd_index_017 .currency {
  font-size: 10px;
  margin-bottom: 2px;
}
@media (max-width: 1237px) {
  .rwd_index_017 .container {
    height: auto;
    margin-bottom: 20px;
  }
  .rwd_index_017 .swiper-container {
    left: 0;
    right: 0;
    margin-right: 25%;
    position: relative;
  }
  .rwd_index_017 .col-left {
    width: 100%;
    position: static;
  }
  .rwd_index_017 .col-left {
    zoom: 1;
  }
  .rwd_index_017 .col-left:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
  .rwd_index_017 .col-left .item {
    width: 32.5%;
    float: left;
  }
  .rwd_index_017 .col-left .item + .item {
    margin-top: 0;
    margin-left: 0.5%;
  }
  .rwd_index_017 .col-left .info {
    padding-right: 5px;
  }
  .rwd_index_017 .col-left .name {
    height: 40px;
    font-size: 100%;
  }
  .rwd_index_017 .col-right {
    width: 20%;
  }
  .rwd_index_017 .col-right .name {
    height: 40px;
    font-size: 100%;
  }
}
@media (max-width: 999px) {
  .rwd_index_017 .container {
    padding: 0 10px;
  }
  .rwd_index_017 .col-right {
    margin-top: 0;
    margin-right: 10px;
  }
}
@media (max-width: 767px) {
  .rwd_index_017 .swiper-container {
    margin-right: 0;
  }
  .rwd_index_017 .col-left .item {
    width: 100%;
    float: none;
  }
  .rwd_index_017 .col-left .item + .item {
    margin-left: 0;
    margin-top: 10px;
  }
  .rwd_index_017 .col-right {
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
    background: none;
    position: static;
  }
  .rwd_index_017 .col-right .item {
    display: table;
  }
  .rwd_index_017 .col-right .photo {
    width: 50%;
    display: table-cell;
  }
  .rwd_index_017 .col-right .info {
    width: 50%;
    padding: 0 0 0 10px;
    vertical-align: middle;
    display: table-cell;
  }
}

/* rwd_index_017 end */
