@charset "UTF-8";
/* pc_index_004 開始 */
.pc_index_004 {
  margin: 0px auto 20px auto;
}
.pc_index_004 {
  zoom: 1;
}
.pc_index_004:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_index_004 .block {
  zoom: 1;
}
.pc_index_004 .block:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_index_004 .photo-long {
  font-size: 0;
  float: left;
}
.pc_index_004 .photo-long img {
  width: 100%;
}
.pc_index_004 .items {
  float: left;
  width: 800px;
  font-size: 0;
}
.pc_index_004 .item {
  float: left;
  width: 25%;
  padding: 12px 10px;
  margin-bottom: 2px;
  border: 1px solid transparent;
}
.pc_index_004 .item:hover {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.pc_index_004 .photo {
  margin-bottom: 4px;
  display: block;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
  position: relative;
}
.pc_index_004 .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.pc_index_004 .name {
  font-size: 12px;
  line-height: 1.4;
  word-break: break-word;
  word-wrap: break-word;
  overflow: hidden;
  margin-bottom: 10px;
  height: 33px;
}
.pc_index_004 .name a {
  color: black;
}
.pc_index_004 .buy {
  margin-top: 2px;
  color: #f60011;
}
.pc_index_004 .currency {
  font-size: 10px;
  vertical-align: bottom;
  display: inline-block;
  margin-bottom: 2px;
}
.pc_index_004 .price {
  font-size: 18px;
  margin-right: 5px;
  vertical-align: bottom;
  display: inline-block;
}
.pc_index_004 .btn {
  float: right;
  margin-top: 3px;
  font-size: 15px;
  color: #f60011;
}
.pc_index_004 .fa {
  margin-left: 4px;
}
.pc_index_004 .tag-status {
  position: absolute;
  bottom: 7px;
  right: 7px;
  z-index: 9;
}

/* pc_index_004 結束 */
