@charset "UTF-8";
/* pc_index_008 開始 */
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  -webkit-transition-property: -webkit-transform, left, top;
  -webkit-transition-duration: 0s;
  -webkit-transform: translate3d(0px, 0, 0);
  -webkit-transition-timing-function: ease;
  -moz-transition-property: -moz-transform, left, top;
  -moz-transition-duration: 0s;
  -moz-transform: translate3d(0px, 0, 0);
  -moz-transition-timing-function: ease;
  -o-transition-property: -o-transform, left, top;
  -o-transition-duration: 0s;
  -o-transform: translate3d(0px, 0, 0);
  -o-transition-timing-function: ease;
  -o-transform: translate(0px, 0px);
  -ms-transition-property: -ms-transform, left, top;
  -ms-transition-duration: 0s;
  -ms-transform: translate3d(0px, 0, 0);
  -ms-transition-timing-function: ease;
  transition-property: transform, left, top;
  transition-duration: 0s;
  transform: translate3d(0px, 0, 0);
  transition-timing-function: ease;
}

.swiper-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  float: left;
}

.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
}

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
}

.pc_index_008 {
  margin: 0px auto 20px auto;
}
.pc_index_008 {
  zoom: 1;
}
.pc_index_008:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_index_008 .swiper-container {
  position: relative;
  width: 800px;
  overflow: hidden;
  line-height: 0;
}
.pc_index_008 .swiper-container img {
  width: 100%;
}
.pc_index_008 .swiper-container .pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom: 5px;
  width: 100%;
}
.pc_index_008 .swiper-container .swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #6c6c6c;
  margin: 0 3px;
  cursor: pointer;
}
.pc_index_008 .swiper-container .swiper-active-switch {
  width: 30px;
  background: #c15797;
}
.pc_index_008 .col-left {
  float: left;
  margin-right: 20px;
}
.pc_index_008 .col-right {
  float: left;
  width: 180px;
}
.pc_index_008 .col-right > a {
  margin-bottom: 7.3%;
}
.pc_index_008 .col-right > a:last-child {
  margin: 0;
}
.pc_index_008 .photo {
  display: inline-block;
}
.pc_index_008 .photo img {
  width: 100%;
}

/* pc_index_008 結束 */
