.nav-menu{
    font-size: 0;
    position: relative;
    background: white;
    //margin-bottom: 20px;
    .menu-one{
        height: 37px;
        text-align: center;
        display: block;
        border-bottom: 1px solid #b1b1b1;
        z-index: 11;
        @include clearfix;
        >li{
            display: inline-block;
            >a{
                position: relative;
                padding: 0.8em 0.59em;
                color: black;
                display: block;
                font-size: 14px;
                letter-spacing: 0.1em;
                &.active{
                    background: #ebebeb;
                    &:after{
                        position: absolute;
                        bottom: -9px;
                        left: 50%;
                        content:'';
                        border-style: solid;
                        border-width: 10px 10px 0 10px;
                        border-color: #ebebeb transparent transparent transparent;
                        margin-left: -10px;
                        z-index: 11;
                    }
                    &:before{
                        position: absolute;
                        bottom: -10px;
                        left: 50%;
                        content:'';
                        border-style: solid;
                        border-width: 10px 10px 0 10px;
                        border-color: #b1b1b1 transparent transparent transparent;
                        margin-left: -10px;
                        z-index: 11;
                    }
                }
            }
        }
    }
    .menu-two{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        text-align: center;
        border-bottom: 1px solid #d9d4d5!important;
        background: white;
        z-index: 10;
        @include clearfix;
        li{
            display: inline-block;            
        }
        a{
            display: block;
            padding: 0.8em 0.8em;
            font-size: 14px;
            color: #777;
            letter-spacing: 0.1em;
            &:hover{
                color: black;
            }
        }
    }
    @include RWD(mobile) {
        display: none;
    }
}