.site-search{
    position: relative;
    float: left;
    width: 31.3%;
    .input-search{
        padding: 0.7em 0.2em 0.5em 0.2em;
        text-transform: uppercase;
        border: none;
        border-bottom: 1px solid white!important;
        background: none;
        color: white;
    }
    .btn-submit{
        position: absolute;
        right: 2px;
        top: 20%;
        background: none!important;
        border: none;
        padding: 0;
        font-size: 15px;
    }
    .fa-search{
        color: white;
        cursor: pointer;
    }
    .recommend{
        //display: none;
        height: 13px;
        overflow: hidden;
        li{
            float: left;
            font-size: 12px;
            margin-right: 8px;
            margin-bottom: 8px;
            list-style-type: none;
        }
        a{
            color: white;
        }
    }
    @include RWD(pad-mobile) {
        margin-top: -5px;
    }
    @include RWD(mobile) {
        position: absolute;
        top: 63px;
        left: 0;
        right: 0;        
        z-index: 3;
        background: #fff;
        width: 100%;
        .form{
            position: relative;
            font-size: 0;
            padding: 10px;
        }
        .input-search{
            padding-left: 10px;
            padding-right: 35px;
            margin: 0;
            background: $search_bk;
            //color: $search_text;
            font-size: 12px;
            width: 100%;
            border: 1px solid $search_border!important;
            height: 30px;
            @include border-radius(0);
            -webkit-appearance: none; 
            &:focus{
                color: black;
            }
        }
        .btn-submit{
            display: block;
            position: absolute;
            right: 20px;
            top: 5px;
            background: none;
            height: 40px;
            font-size: 16px;
            border: 0;
        }
        .fa-search{
            color: $text;
        }
        .recommend{
            display: none;
        }
    }
}
.ui-menu {
    padding:2px;
    display:block;
    background: #fff;
    z-index: 4;
    border: 1px solid $search_border;
    max-width: 279px;
    .ui-menu-item {
        width:100%;
        a {
            line-height: 1.6;
            padding: 2px 2px 2px 10px;
            font-size: 14px;
            display: block;
            &:hover {
                border: 1px solid $ui_menu_border;
                background: $ui_menu_bk;
                padding: 1px 1px 1px 9px;
                cursor: pointer;
            }
        }
    }
}
.ui-helper-hidden-accessible{
    display:none;
}