.nav-breadcrumbs .container {
  padding: 15px 0;
}
.nav-breadcrumbs .fa {
  margin-right: 8px;
}
.nav-breadcrumbs .index {
  position: relative;
  font-weight: bold;
}
.nav-breadcrumbs .cate {
  display: inline-block;
}
.nav-breadcrumbs .locate {
  margin-left: 20px;
}
@media only screen and (max-width: 1241px) {
  .nav-breadcrumbs {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 568px) {
  .nav-breadcrumbs {
    font-size: 0.95em;
  }
  .nav-breadcrumbs .container {
    padding: 0 0 10px 0;
  }
}

.bonus_list_001 a {
  color: #2290c6;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
.bonus_list_001 a:hover, .bonus_list_001 a:active, .bonus_list_001 a .on-touch {
  color: #7fbee5;
}
.bonus_list_001 a.button {
  color: white;
}
.bonus_list_001 .c {
  zoom: 1;
}
.bonus_list_001 .c:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.bonus_list_001 .account-title {
  color: #999999;
  font-size: 1.2em;
  margin: 10px 0px;
}
.bonus_list_001 .bonus-info {
  font-size: 75%;
  margin-left: 10px;
}
.bonus_list_001 .bonus-exchange {
  padding: 10px 12px;
  background: #2290c6;
  font-size: 0.9em;
  color: white;
  position: absolute;
  top: -13px;
  right: 0px;
}
.bonus_list_001 .bonus-exchange:hover {
  color: white;
  background: #7fbee5;
}
.bonus_list_001 .bonus-list-block {
  position: relative;
  width: 100%;
  height: auto;
  color: #666666;
  padding: 12px 15px;
  margin-bottom: 30px;
  top: 0px;
  background: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px 1px #dddddd;
  -moz-box-shadow: 0 1px 2px 1px #dddddd;
  box-shadow: 0 1px 2px 1px #dddddd;
}
.bonus_list_001 .bonus-list-block:first-child {
  margin-top: 5px;
}
.bonus_list_001 .bonus-list-block {
  zoom: 1;
}
.bonus_list_001 .bonus-list-block:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.bonus_list_001 .bonus-count-block {
  width: 100%;
  margin: 10px 0 25px 0;
}
.bonus_list_001 .bonus-count-block {
  zoom: 1;
}
.bonus_list_001 .bonus-count-block:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.bonus_list_001 .bonus-count {
  float: left;
  border: 1px solid #dddddd;
}
.bonus_list_001 .bonus-count {
  zoom: 1;
}
.bonus_list_001 .bonus-count:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.bonus_list_001 .bonus-count li {
  float: left;
  padding: 13px 13px;
  border-right: 1px solid #dddddd;
  font-size: 0.95em;
  color: black;
  font-weight: bold;
}
.bonus_list_001 .bonus-count li:last-child {
  border-right: none;
}
.bonus_list_001 .bonus-count span {
  margin-left: 5px;
  color: #dd0000;
  font-weight: bold;
  font-size: 120%;
}
.bonus_list_001 .exp-date-info {
  float: right;
  color: #dd0000;
  font-weight: bold;
  font-size: 0.95em;
  padding-top: 15px;
}
.bonus_list_001 .bonus-list {
  width: 100%;
}
.bonus_list_001 .bonus-list {
  zoom: 1;
}
.bonus_list_001 .bonus-list:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.bonus_list_001 .bonus-list .bonus-list-content {
  border-bottom: 1px dashed #dddddd;
  margin-bottom: 15px;
  padding-bottom: 15px;
  position: relative;
}
.bonus_list_001 .bonus-list .bonus-list-content {
  zoom: 1;
}
.bonus_list_001 .bonus-list .bonus-list-content:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.bonus_list_001 .bonus-list .bonus-list-content:last-child {
  border-bottom: 1px solid #dddddd;
}
.bonus_list_001 .bonus-list .bonus-list-content.top {
  font-weight: bold;
  border-bottom: 1px solid #dddddd;
}
.bonus_list_001 .bonus-list .bonus-list-content.top .bonus-list-r li {
  text-align: center;
}
.bonus_list_001 .bonus-list .bonus-num, .bonus_list_001 .bonus-list .bonus-source, .bonus_list_001 .bonus-list .bonus-list-r li {
  float: left;
  min-height: 20px;
  line-height: 1.5;
  font-size: 0.85em;
}
.bonus_list_001 .bonus-list .bonus-num {
  width: 11%;
  margin-right: 2%;
}
.bonus_list_001 .bonus-list .bonus-source {
  width: 40%;
  margin-right: 2%;
  font-weight: bold;
  font-size: 0.93em;
}
.bonus_list_001 .bonus-list .bonus-list-r {
  width: 45%;
  float: right;
  padding-right: 65px;
}
.bonus_list_001 .bonus-list .bonus-list-r {
  zoom: 1;
}
.bonus_list_001 .bonus-list .bonus-list-r:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.bonus_list_001 .bonus-list .bonus-list-r li {
  margin-right: 2.2%;
  margin-bottom: 0px;
  text-align: right;
}
.bonus_list_001 .bonus-list .bonus-list-r li:last-child {
  margin-right: 0;
}
.bonus_list_001 .bonus-list .bonus-quantity {
  width: 15%;
}
.bonus_list_001 .bonus-list .bonus-exp-date {
  width: 34%;
}
.bonus_list_001 .bonus-list .bonus-quantity2 {
  width: 17%;
}
.bonus_list_001 .bonus-list .bonus-effec-date {
  width: 24%;
}
.bonus_list_001 .bonus-list .bonus-more {
  position: absolute;
  right: 5px;
  top: 1px;
  font-size: 14px;
  color: #2290c6;
  cursor: pointer;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
.bonus_list_001 .bonus-list .bonus-more:hover {
  color: #7fbee5;
}
.bonus_list_001 .bonus-list .bonus-more i {
  padding-left: 5px;
  font-size: 20px;
  vertical-align: -2px;
}
.bonus_list_001 .bonus-list-detail {
  display: none;
  width: 100%;
  margin-top: 15px;
  margin-bottom: -16px;
  padding: 15px 15px 0;
  border-top: 2px solid #dddddd;
  border-bottom: 2px solid #dddddd;
  background: #ededed;
}
.bonus_list_001 .bonus-list-detail {
  zoom: 1;
}
.bonus_list_001 .bonus-list-detail:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.bonus_list_001 .bonus-list-detail .bonus-list-detail-content {
  width: 100%;
  border-bottom: 1px dashed #dddddd;
  margin-bottom: 15px;
  padding-bottom: 15px;
  position: relative;
}
.bonus_list_001 .bonus-list-detail .bonus-list-detail-content {
  zoom: 1;
}
.bonus_list_001 .bonus-list-detail .bonus-list-detail-content:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.bonus_list_001 .bonus-list-detail .bonus-list-detail-content:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.bonus_list_001 .bonus-list-detail .bonus-list-detail-content.top {
  font-weight: bold;
  border-bottom: 1px solid #dddddd;
}
.bonus_list_001 .bonus-list-detail .bonus-list-detail-content.top .bonus-detail-quantity {
  color: #666666;
}
.bonus_list_001 .bonus-list-detail .bonus-list-detail-content li {
  margin-right: 2.3%;
  margin-bottom: 0px;
  text-align: left;
  float: left;
  min-height: 20px;
  line-height: 1.5;
  font-size: 0.85em;
}
.bonus_list_001 .bonus-list-detail .bonus-list-detail-content li:last-child {
  margin-right: 0;
}
.bonus_list_001 .bonus-list-detail .bonus-detail-date {
  width: 10%;
}
.bonus_list_001 .bonus-list-detail .bonus-detail-num {
  width: 24%;
}
.bonus_list_001 .bonus-list-detail .bonus-detail-quantity {
  width: 6.1%;
  text-align: right !important;
  color: #dd0000;
}
.bonus_list_001 .bonus-list-detail .bonus-detail-reason {
  width: 53%;
  font-weight: bold;
  font-size: 0.93em;
}
.bonus_list_001 .bonus-list-detail .reason-txt {
  display: none;
}
@media only screen and (max-width: 1241px) {
  .bonus_list_001 {
    padding: 0 15px;
  }
  .bonus_list_001 .bonus-list .bonus-num {
    width: 14%;
  }
  .bonus_list_001 .bonus-list .bonus-source {
    width: 32%;
  }
  .bonus_list_001 .bonus-list .bonus-list-r {
    width: 50%;
  }
}
@media only screen and (max-width: 1000px) {
  .bonus_list_001 .bonus-list .bonus-list-content.top {
    padding-bottom: 10px;
  }
  .bonus_list_001 .bonus-list .bonus-list-content.top .bonus-quantity, .bonus_list_001 .bonus-list .bonus-list-content.top .bonus-quantity2 {
    margin-top: -15px;
  }
  .bonus_list_001 .bonus-list .bonus-list-content.top .bonus-quantity span, .bonus_list_001 .bonus-list .bonus-list-content.top .bonus-quantity2 span {
    display: block;
  }
  .bonus_list_001 .bonus-list .bonus-num {
    width: 18%;
  }
  .bonus_list_001 .bonus-list .bonus-source {
    width: 25%;
  }
  .bonus_list_001 .bonus-list .bonus-list-r {
    width: 53%;
  }
  .bonus_list_001 .bonus-list .bonus-quantity {
    width: 10%;
  }
  .bonus_list_001 .bonus-list .bonus-exp-date {
    width: 40%;
  }
  .bonus_list_001 .bonus-list .bonus-quantity2 {
    width: 15%;
  }
  .bonus_list_001 .bonus-list .bonus-effec-date {
    width: 28%;
  }
  .bonus_list_001 .bonus-list-detail .bonus-detail-date {
    width: 13%;
  }
  .bonus_list_001 .bonus-list-detail .bonus-detail-num {
    width: 20%;
  }
  .bonus_list_001 .bonus-list-detail .bonus-detail-quantity {
    width: 7.1%;
  }
}
@media only screen and (max-width: 768px) {
  .bonus_list_001 .bonus-list .bonus-num {
    display: none;
  }
  .bonus_list_001 .bonus-list .bonus-source {
    width: 40%;
  }
  .bonus_list_001 .bonus-list .bonus-list-r {
    width: 58%;
  }
  .bonus_list_001 .bonus-list .bonus-quantity {
    width: 15%;
  }
  .bonus_list_001 .bonus-list .bonus-exp-date {
    width: 55%;
  }
  .bonus_list_001 .bonus-list .bonus-quantity2 {
    width: 23%;
  }
  .bonus_list_001 .bonus-list .bonus-effec-date {
    display: none;
  }
  .bonus_list_001 .bonus-list-detail .bonus-detail-date {
    width: 16%;
  }
  .bonus_list_001 .bonus-list-detail .bonus-detail-num {
    width: 29%;
  }
  .bonus_list_001 .bonus-list-detail .bonus-detail-quantity {
    width: 10.1%;
  }
  .bonus_list_001 .bonus-list-detail .bonus-detail-reason {
    width: 38%;
  }
}
@media only screen and (max-width: 568px) {
  .bonus_list_001 .bonus-count-block {
    margin-bottom: 25px;
  }
  .bonus_list_001 .bonus-count {
    float: none;
  }
  .bonus_list_001 .bonus-count li {
    text-align: center;
    width: 50%;
  }
  .bonus_list_001 .bonus-count span {
    display: block;
    margin-left: 0px;
    margin-top: 7px;
    font-size: 130%;
  }
  .bonus_list_001 .exp-date-info {
    float: none;
    padding-top: 10px;
  }
  .bonus_list_001 .bonus-list .bonus-source {
    display: none;
  }
  .bonus_list_001 .bonus-list .bonus-list-r {
    width: 100%;
    padding-right: 25px;
  }
  .bonus_list_001 .bonus-list .bonus-quantity {
    width: 15%;
  }
  .bonus_list_001 .bonus-list .bonus-exp-date {
    width: 55%;
  }
  .bonus_list_001 .bonus-list .bonus-quantity2 {
    width: 23%;
  }
  .bonus_list_001 .bonus-list .bonus-more span {
    display: none;
  }
  .bonus_list_001 .bonus-exchange {
    position: static;
    display: inline-block;
    margin-bottom: 10px;
  }
  .bonus_list_001 .bonus-list-detail .bonus-list-detail-content.top .bonus-detail-reason {
    display: none;
  }
  .bonus_list_001 .bonus-list-detail .bonus-detail-date {
    width: 17%;
  }
  .bonus_list_001 .bonus-list-detail .bonus-detail-num {
    width: 57%;
  }
  .bonus_list_001 .bonus-list-detail .bonus-detail-quantity {
    width: 19.1%;
  }
  .bonus_list_001 .bonus-list-detail .bonus-detail-reason {
    width: 100%;
    margin-top: 5px;
  }
  .bonus_list_001 .bonus-list-detail .reason-txt {
    display: inline-block;
  }
}

.nav-pagination {
  margin: 30px 0 80px;
  text-align: center;
  clear: both;
}
.nav-pagination ul {
  margin: 0 20px;
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
}
.nav-pagination ul {
  zoom: 1;
}
.nav-pagination ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.nav-pagination li {
  display: inline-block;
}
.nav-pagination li a {
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.nav-pagination li:first-child a {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}
.nav-pagination li:last-child a {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  border-right: 1px solid #dddddd;
}
.nav-pagination a {
  line-height: 36px;
  padding: 0 12px;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  color: #666666;
}
.nav-pagination a.active {
  background: #2290c6;
  color: white;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.nav-pagination a:hover {
  background: #efefef;
  color: #7fbee5;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.nav-pagination .total {
  margin-top: 20px;
  color: #666666;
  font-size: 0.8em;
}

@media screen and (max-width: 768px) {
  .nav-pagination .hidden-mobile {
    display: none;
  }
}
