.nav-breadcrumbs .container {
  padding: 15px 0;
}
.nav-breadcrumbs .fa {
  margin-right: 8px;
}
.nav-breadcrumbs .index {
  position: relative;
  font-weight: bold;
}
.nav-breadcrumbs .cate {
  display: inline-block;
}
.nav-breadcrumbs .locate {
  margin-left: 20px;
}
@media only screen and (max-width: 1241px) {
  .nav-breadcrumbs {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 568px) {
  .nav-breadcrumbs {
    font-size: 0.95em;
  }
  .nav-breadcrumbs .container {
    padding: 0 0 10px 0;
  }
}

.order_edm_001 .account-title {
  color: #999999;
  font-size: 1.2em;
  margin: 10px 0px;
}
.order_edm_001 .order-edm-block {
  position: relative;
  width: 100%;
  height: auto;
  color: #666666;
  text-align: center;
  line-height: 1.5;
  padding: 45px 15px;
  margin-bottom: 30px;
  top: 0px;
  background: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px 1px #dddddd;
  -moz-box-shadow: 0 1px 2px 1px #dddddd;
  box-shadow: 0 1px 2px 1px #dddddd;
}
.order_edm_001 .order-edm-block {
  zoom: 1;
}
.order_edm_001 .order-edm-block:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.order_edm_001 .order-edm-block p {
  margin-bottom: 15px;
}
.order_edm_001 .order-edm-block p.order-edm-info {
  color: #dd0000;
}
.order_edm_001 .order-edm-block label {
  cursor: pointer;
  font-weight: bold;
}
.order_edm_001 .order-edm-block input[type="checkbox"] {
  width: 18px;
  height: 18px;
  vertical-align: -3px;
  margin-right: 5px;
}
.order_edm_001 .actions {
  border-top: 1px solid #dddddd;
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
}
.order_edm_001 .button {
  margin: 0 10px;
}
@media only screen and (max-width: 1241px) {
  .order_edm_001 {
    padding: 0 15px;
  }
}
