.site-header {
  background: white;
  margin-bottom: 10px;
}
.site-header > .container {
  height: 78px;
}
.site-header .logo {
  margin: 20px 0;
  float: left;
  display: inline-block;
}
.site-header .logo img {
  width: 200px;
}

.cart-btn {
  position: relative;
  display: block;
  padding: 0 0 9px;
  font-size: 0.9em;
}
.cart-btn:hover .icon-cart {
  color: #69b40f;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.cart-btn .count {
  position: absolute;
  top: -10px;
  right: -2px;
  background: #69b40f;
  color: white;
  font-style: normal;
  padding: 2px 5px;
  z-index: 3;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

@media (max-width: 999px) {
  .site-header .logo {
    margin: 0;
    margin-left: 23px;
    padding-top: 12px;
    float: none;
  }
  .site-header .logo {
    margin: 0;
    float: none;
    width: 100%;
    text-align: center;
  }
}
.site-search {
  float: right;
  height: 34px;
  margin: 22px 40px 0 0;
  width: 500px;
  background: #fff;
  position: relative;
}
.site-search .form {
  font-size: 0;
}
.site-search .input-search {
  border: 1px solid #dfdfdf;
  padding-left: 10px;
  margin: 0;
  width: 80%;
  height: 34px;
  background: #fff;
  color: #6c6c6c;
  font-size: 12px;
}
.site-search .input-search:focus {
  color: black;
}
.site-search .btn-submit {
  background: #dfdfdf;
  border: none;
  margin: 0;
  height: 34px;
  vertical-align: top;
  cursor: pointer;
}
.site-search .recommend {
  font-size: 0.815em;
  margin-top: 5px;
  margin-bottom: 10px;
  display: none;
}
.site-search .recommend a {
  width: 20%;
  display: inline-block;
  margin-left: -4px;
  text-align: left;
  text-decoration: underline;
  color: #6c6c6c;
}

@media (max-width: 999px) {
  .site-search {
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    margin: 0;
    height: auto;
    padding: 0;
    width: 100%;
    background: #fff;
    display: none;
  }
  .site-search .search-btn {
    position: absolute;
    z-index: 10;
    right: 10px;
    top: 10px;
    display: block;
  }
  .site-search .input-search {
    height: 40px;
    margin: 0;
    width: 100%;
    background: #fff;
    position: relative;
    border-bottom: 1px solid #dfdfdf;
  }
  .site-search .recommend {
    padding-left: 15px;
    margin-bottom: 10px;
  }
  .site-search .recommend a {
    width: auto;
    margin-right: 10px;
    color: #6c6c6c;
  }
}
.site-cart {
  position: absolute;
  top: 99%;
  right: 0;
  border-width: 2px;
  border-style: solid;
  width: 500px;
  padding: 10px 3px;
  z-index: 999;
}
.site-cart .list {
  overflow-y: auto;
  max-height: 200px;
  min-height: 18px;
}
.site-cart .items {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.site-cart .items:hover {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.site-cart .item {
  display: table;
  color: black;
  padding: 5px 0;
}
.site-cart .name {
  display: table-cell;
  vertical-align: middle;
  padding: 5px 0;
  line-height: 1.4;
  font-size: 12px;
  width: 130px;
  word-wrap: break-word;
  word-break: break-word;
}
.site-cart .labels {
  display: block;
}
.site-cart .labels.lower {
  margin-left: 60px;
}
.site-cart .full {
  display: inline-block;
  line-height: 1.4;
  width: auto;
  word-break: break-all;
}
.site-cart .full .tag {
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  padding: 0px 2px;
  margin-right: 3px;
}
.site-cart .combo {
  display: inline-block;
  line-height: 1.4;
}
.site-cart .buy {
  display: table-cell;
  vertical-align: middle;
  padding: 5px 8px;
  text-align: right;
  width: 150px;
  word-break: break-all;
}
.site-cart .crop {
  display: inline-block;
  margin: 5px;
  position: relative;
  width: 60px;
  height: 0;
  overflow: hidden;
  padding-top: 60px;
}
.site-cart .crop img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.site-cart .crop-no {
  display: inline-block;
  margin: 5px;
  width: 60px;
}
.site-cart .currency {
  font-size: 8px;
}
.site-cart .price {
  font-size: 14px;
}
.site-cart .quantity {
  display: table-cell;
  vertical-align: middle;
}
.site-cart .del {
  display: table-cell;
  vertical-align: middle;
  font-size: 12px;
  padding: 0 10px;
}
.site-cart .cart-sale {
  padding: 5px 0;
}
.site-cart .cart-sale li {
  padding: 5px;
}
.site-cart .cart-sale .sale-name {
  font-size: 12px;
  width: 251px;
  display: inline-block;
  word-break: break-all;
}
.site-cart .cart-sale .sale-discount {
  font-size: 14px;
  min-width: 86px;
  display: inline-block;
  text-align: right;
  word-break: break-all;
}
.site-cart .cart-actions {
  border-top-width: 1px;
  border-top-style: solid;
  padding: 10px 10px 0 10px;
  text-align: right;
}
.site-cart .cart-actions .button:hover {
  color: white;
}
.site-cart .total-title {
  font-size: 0.8em;
  margin-right: 5px;
}
.site-cart .total {
  margin-right: 10px;
  font-weight: bold;
}

.nav-menu {
  background: #373737;
  color: black;
}
.nav-menu {
  zoom: 1;
}
.nav-menu:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.nav-menu .icon-menu {
  display: none;
}
.nav-menu li a:hover {
  background: #eee;
  color: #1b1b1b;
}
.nav-menu .menu-one > li {
  position: relative;
  float: left;
  border-right: 1px solid rgba(225, 225, 225, 0.2);
}
.nav-menu .menu-one > li > a {
  display: block;
  padding: 16px 20px;
  color: #f3f3f3;
}
.nav-menu .menu-one > li > a:hover, .nav-menu .menu-one > li > a.active {
  position: relative;
  top: 0;
  left: 0;
  z-index: 4;
  background: #eee;
  color: #1b1b1b;
  transition: all 0.3s ease-out 0s;
}
.nav-menu .menu-one > li > a.active, .nav-menu .menu-one > li > a:focus {
  background: #558b14;
  color: #fff;
}
.nav-menu .menu-two, .nav-menu .menu-three {
  border: 1px solid #eee;
  left: 0px;
  position: absolute;
  top: 48px;
  z-index: 3;
  background: #eee;
  min-width: 160px;
}
.nav-menu .menu-two > li, .nav-menu .menu-three > li {
  position: relative;
}
.nav-menu .menu-two > li > a, .nav-menu .menu-three > li > a {
  padding: 10px 15px;
  display: block;
  white-space: nowrap;
  border-bottom: 1px solid #f3f3f3;
  background: #fff;
  color: #1b1b1b;
  font-size: 0.9em;
}
.nav-menu .menu-two > li > a:hover, .nav-menu .menu-two > li > a.active, .nav-menu .menu-three > li > a:hover, .nav-menu .menu-three > li > a.active {
  background: #eee;
}
.nav-menu .menu-two > li:last-child > a, .nav-menu .menu-three > li:last-child > a {
  border-bottom: 3px solid #69b40f;
}
.nav-menu .menu-three {
  position: absolute;
  float: left;
  top: 0;
  left: 100%;
  border: 1px solid none;
  z-index: 5;
}
.nav-menu .menu-three > li {
  float: none;
}

@media (max-width: 999px) {
  .nav-menu {
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    z-index: 3;
  }
  .nav-menu .icon-menu {
    padding: 10px;
    margin-left: 14px;
    display: inline-block;
  }
  .nav-menu .menu-one {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    z-index: 5;
    border: 1px solid #888;
    height: auto;
  }
  .nav-menu .menu-one > li {
    float: none;
  }
  .nav-menu .menu-one > li a {
    border-bottom: 1px solid #e5e5e5;
    color: #1b1b1b;
    padding: 10px 15px;
  }
  .nav-menu .menu-one > li a.active {
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
  }
  .nav-menu .menu-one > li a:hover {
    background: #eee;
    color: #1b1b1b;
    border: 0;
  }
  .nav-menu .menu-two {
    top: 0;
    left: 100%;
  }
  .nav-menu .menu-two > li > a {
    min-width: 150px;
  }
}
.nav-user {
  margin-top: 22px;
  float: right;
}
.nav-user {
  zoom: 1;
}
.nav-user:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.nav-user > ul > li {
  float: left;
  padding: 4px;
}
.nav-user > ul > li.nav-account {
  margin-right: 40px;
}
.nav-user .icon-cart {
  position: relative;
}
.nav-user .icon-cart .count {
  left: 10px;
  position: absolute;
  color: white;
  font-weight: bold;
  font-style: normal;
}
.nav-user .nav-account {
  position: relative;
}
.nav-user .nav-account:hover .account-item {
  display: block;
}
.nav-user .account-item {
  border: 1px solid #cccccc;
  width: 148px;
  background: #fff;
  position: absolute;
  z-index: 4;
  font-size: 0.813em;
  right: 0;
  top: 30px;
}
.nav-user .account-item li {
  display: block;
  float: none;
  padding: 0;
  border-bottom: 1px solid #cccccc;
}
.nav-user .account-item li:first-child {
  margin-right: 0;
}
.nav-user .account-item li:last-child {
  border-bottom: 0;
}
.nav-user .account-item li a {
  display: block;
  padding: 12px 20px;
  color: #6c6c6c;
}
.nav-user .account-item li a:hover {
  background: #eee;
  color: #1b1b1b;
}

@media (min-width: 1000px) {
  .nav-user .main-cart {
    position: relative;
  }
  .nav-user .main-cart:hover .cart-item {
    display: block;
  }
  .nav-user .icon-search {
    display: none;
  }
}
@media (max-width: 999px) {
  .nav-user {
    position: absolute;
    right: 20px;
    top: 50px;
    z-index: 4;
  }
  .nav-user ul > li {
    float: left;
    padding: 4px;
  }
  .nav-user ul > li.nav-account {
    margin: 0;
  }
  .nav-user ul > li > a {
    padding: 5px 15px;
  }
  .nav-user .account-item {
    top: 30px;
    right: 0;
  }
  .nav-user .icon-search {
    padding: 5px 10px;
  }
  .nav-user .icon-search:before {
    background-position: -234px 0;
    width: 30px;
  }
}
.site-body {
  padding-bottom: 40px;
}
.site-body .container {
  padding: 10px 0;
}

@media (max-width: 999px) {
  .site-body {
    padding: 0;
  }
  .site-body .container {
    padding: 0;
  }
}
.site-body {
  padding-bottom: 40px;
}
.site-body .container {
  padding: 10px 0;
}

.site-main .feature li {
  width: 100%;
  word-break: break-all;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.site-main .name {
  font-size: 1.2em;
  height: 53px;
  margin-bottom: 10px;
  overflow: hidden;
  font-weight: 700;
  line-height: 1.4;
  word-wrap: break-word;
  word-break: break-word;
}
.site-main .buy .currency {
  display: inline-block;
  vertical-align: -3px;
}
.site-main .buy .price {
  display: inline-block;
  vertical-align: middle;
}
.site-main .buy .button {
  margin: 5px 0;
}

@media (max-width: 999px) {
  .site-main .feature li {
    width: 330px;
  }
}
@media (max-width: 999px) {
  .site-body {
    padding: 0;
  }
  .site-body .container {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .site-main .feature li {
    width: 180px;
  }
}
@media screen and (max-width: 480px) {
  .site-main .feature li {
    width: 130px;
  }
}
.item .photo {
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  float: left;
}
.item .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.nav-breadcrumbs .container {
  padding: 15px 0;
}
.nav-breadcrumbs .fa {
  margin-right: 8px;
}
.nav-breadcrumbs .index {
  position: relative;
  font-weight: bold;
}
.nav-breadcrumbs .cate {
  display: inline-block;
}
.nav-breadcrumbs .locate {
  margin-left: 20px;
}
.nav-breadcrumbs .bread-item-name {
  font-size: 1.12em;
  font-weight: bold;
  color: black;
}

@media (max-width: 999px) {
  .nav-breadcrumbs {
    margin: 10px;
  }
}
@media (max-width: 767px) {
  .nav-breadcrumbs {
    margin: 20px 0 10px 10px;
  }
}
.item-list .items {
  zoom: 1;
}
.item-list .items:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.item-list .item {
  float: left;
  width: 33.33%;
  height: 570px;
  margin-bottom: 10px;
  padding: 0 19px;
  border: 1px solid transparent;
}
.item-list .item {
  zoom: 1;
}
.item-list .item:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.item-list .item:hover {
  border: 1px solid #69b40f;
}
.item-list .photo {
  display: block;
  margin-bottom: 10px;
  float: none;
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
}
.item-list .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.item-list .name {
  height: 40px;
  margin-bottom: 10px;
  font-size: 1em;
  line-height: 1.3;
  overflow: hidden;
  word-wrap: break-word;
  font-weight: 500;
}
.item-list .currency {
  font-size: 12px;
  display: inline-block;
}
.item-list .price {
  font-size: 18px;
  display: inline-block;
  margin-right: 10px;
}
.item-list .buy-actions {
  margin-top: 10px;
}
.item-list .quantity {
  margin-right: 10px;
  vertical-align: top;
}
.item-list .button {
  vertical-align: top;
}
.item-list .highlight {
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.5;
}

@media (min-width: 1000px) {
  .item-list .items {
    margin: 20px -20px;
  }
  .item-list .name {
    height: 38px;
    overflow: hidden;
  }
}
@media (min-width: 1000px) and (max-width: 1237px) {
  .item-list .item {
    height: 490px;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .item-list .items {
    padding: 10px;
  }
  .item-list .item {
    width: 50%;
    height: auto;
    min-height: 515px;
  }
  .item-list .name {
    height: 20px;
  }
}
@media (max-width: 767px) {
  .item-list .items {
    padding: 10px;
  }
  .item-list .item {
    width: 100%;
    height: auto;
  }
  .item-list .photo img {
    width: auto;
  }
  .item-list .info {
    padding: 0;
  }
}
.site-search-answer .light {
  padding: 0 5px;
}
.site-search-answer h1 {
  line-height: 140%;
  font-size: 1.05em;
  padding-left: 2px;
  margin: 10px 0 10px 0;
}
.site-search-answer p {
  font-size: 0.9em;
  margin-bottom: 15px;
  padding-left: 2px;
}
.site-search-answer p a {
  color: #333;
  text-decoration: underline;
}

@media only screen and (max-width: 999px) {
  .site-search-answer h1 {
    font-size: 1em;
    margin-bottom: 5px;
    padding-left: 15px;
  }
  .site-search-answer p {
    padding-left: 15px;
  }
}
.nav-pagination {
  margin: 30px 0 80px;
  text-align: center;
  clear: both;
}
.nav-pagination ul {
  margin: 0 20px;
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
}
.nav-pagination ul {
  zoom: 1;
}
.nav-pagination ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.nav-pagination li {
  display: inline-block;
}
.nav-pagination li a {
  border-top-width: 1px;
  border-top-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.nav-pagination li:first-child a {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}
.nav-pagination li:last-child a {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  border-right-width: 1px;
  border-right-style: solid;
}
.nav-pagination a {
  line-height: 36px;
  padding: 0 12px;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
}
.nav-pagination a.active {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.nav-pagination a:hover {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.nav-pagination .total {
  margin-top: 20px;
  font-size: 0.8em;
}

.site-sort .sort {
  display: block;
}
.site-sort .sort {
  zoom: 1;
}
.site-sort .sort:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.site-sort .sort li {
  float: left;
  display: block;
}
.site-sort .sort li:last-child a {
  border-right-width: 1px;
  border-right-style: solid;
}
.site-sort .sort li a {
  padding: 10px 20px;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-right: 0;
  font-size: 13px;
}
.site-sort .sort-s {
  display: none;
}

@media (max-width: 999px) {
  .site-sort {
    padding: 0 15px;
  }
  .site-sort .sort {
    display: none;
  }
  .site-sort .sort-s {
    display: block;
    width: 100%;
    font-size: 1em;
  }
}
.site-filter .attr {
  font-size: 0.813em;
  line-height: 250%;
  margin-bottom: 20px;
}
.site-filter .attrcon {
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-top: none;
}
.site-filter .attrcon:first-child {
  border-top-width: 1px;
  border-top-style: solid;
}
.site-filter .attrcon > div, .site-filter .attrcon label {
  display: inline-block;
  vertical-align: middle;
  line-height: 260%;
}
.site-filter .attrcon label.disabled {
  cursor: no-drop;
}
.site-filter .attrcon .colst {
  width: 12%;
  text-align: right;
  margin-right: 20px;
  vertical-align: top;
}
.site-filter .attrcon .colcheck {
  width: 72%;
  line-height: 0;
}
.site-filter .attrcon .colcheck a {
  width: 115px;
  line-height: 200%;
  margin-right: 20px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.site-filter .attrcon .colcheck a:hover {
  text-decoration: underline;
}
.site-filter .attrcon .all {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  line-height: 140%;
  margin-right: 20px;
}
.site-filter .attrcon .type {
  width: 65px;
  margin-right: 0;
}
.site-filter .attrcon .actions {
  position: absolute;
  right: 5px;
  bottom: 0px;
  vertical-align: bottom;
}
.site-filter .attrcon .actions .colclose {
  display: inline-block;
  margin-left: 10px;
}
.site-filter .attrcon .actions .colclose a {
  display: inline-block;
}
.site-filter .attrcon .actions .clearcheck {
  margin: 0 0 0 10px;
}
.site-filter .attrcon .actions .tirup, .site-filter .attrcon .actions .tirdown {
  display: inline-block;
  width: 0;
  height: 0;
  position: relative;
  bottom: 1px;
  left: 1px;
  border-style: solid;
  border-width: 0 5px 6px 5px;
}
.site-filter .attrcon .actions .tirdown {
  border-width: 6px 5px 0 5px;
}
.site-filter .attrcon label {
  width: 115px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 20px;
}
.site-filter .attrcon input[type="checkbox"] {
  margin-left: 0;
}
.site-filter .attrcon .input-number {
  padding: 0 0 0 3px;
  vertical-align: middle;
  width: 70px;
  height: 22px;
  margin: 0 5px;
}
.site-filter .attrft {
  height: 30px;
  padding-right: 5px;
  text-align: right;
  border-width: 1px;
  border-style: solid;
  border-top: none;
}

.result {
  font-size: 1.8em;
  line-height: 140%;
  text-align: center;
  color: #000;
  margin: 2em 0;
  padding: 0 10px;
}

.site-filter-m {
  display: none;
}
.site-filter-m select {
  width: 100%;
  font-size: 1em;
}
.site-filter-m .attron {
  padding: 4px 15px;
}

@media (max-width: 999px) {
  .site-filter {
    display: none;
  }

  .site-filter-m {
    display: block;
  }
  .site-filter-m .row {
    zoom: 1;
  }
  .site-filter-m .row:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
  .site-filter-m .input-number {
    font-size: 1em;
    margin: 0;
  }
  .site-filter-m .attrcon {
    padding: 4px 15px;
    margin: 5px 0;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .site-filter-m .colst {
    float: left;
    margin-right: 15px;
    line-height: 40px;
  }
  .site-filter-m .colprice .input-number {
    width: 42%;
  }
}
@media (max-width: 767px) {
  .site-filter-m .colst {
    float: left;
    margin-right: 15px;
    line-height: 40px;
  }
  .site-filter-m .colprice .input-number {
    width: 35%;
  }
}
@media (max-width: 320px) {
  .site-filter-m .attrcon {
    margin: 0 15px 15px;
  }
  .site-filter-m .colst {
    float: left;
    margin-right: 15px;
    line-height: 30px;
  }
  .site-filter-m .colprice .input-number {
    width: 31%;
    margin: 0;
  }
  .site-filter-m .icon-search {
    margin-left: 5px;
  }
}
.rwd_footer_001 {
  margin-top: 40px;
  padding: 20px 0 30px;
}
.rwd_footer_001 .footer-link {
  zoom: 1;
}
.rwd_footer_001 .footer-link:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.rwd_footer_001 dl {
  width: 16.666%;
  padding: 20px;
  float: left;
}
.rwd_footer_001 dl a {
  display: inline-block;
  font-size: 0.8em;
  line-height: 180%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.rwd_footer_001 dl a:hover {
  text-decoration: underline;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.rwd_footer_001 dt {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 1em;
}

@media (max-width: 999px) {
  .rwd_footer_001 dl {
    width: 33%;
  }
}
@media (max-width: 767px) {
  .rwd_footer_001 dl {
    min-height: 160px;
    text-align: center;
    width: 50%;
    float: left;
    padding: 0;
  }
  .rwd_footer_001 dl a {
    margin: 0 auto;
    max-width: 100%;
  }
}
.rwd_copyright_001 {
  padding: 10px 0;
  text-align: right;
  font-size: 0.75em;
  line-height: 1.5;
}
.rwd_copyright_001 .service {
  margin-right: 10px;
  font-weight: bold;
}
.rwd_copyright_001 a {
  text-decoration: underline;
  margin-left: 10px;
}

.u_copyright {
  padding: 10px 0;
  text-align: right;
  font-size: 0.75em;
}
.u_copyright img {
  margin-left: 5px;
}

@media (max-width: 999px) {
  .rwd_copyright_001 {
    text-align: center;
  }
  .rwd_copyright_001 .service {
    display: block;
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .rwd_copyright_001 a {
    display: block;
    margin-top: 10px;
  }
}
@media (max-width: 999px) {
  .u_copyright {
    text-align: center;
  }
}
.sort {
  float: right;
  margin-bottom: 20px;
}
.sort li:first-child a, .sort li:last-child a {
  border-radius: 0;
}

.item-list .item {
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
  margin-left: -1px;
  margin-top: -1px;
  position: relative;
}
.item-list .item:hover {
  z-index: 1;
  border: 1px solid #69b40f;
}
.item-list .desc {
  color: #999;
}

.rwd_footer_001 {
  border-bottom: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;
}
.rwd_footer_001 dt {
  border-bottom: 1px solid #dfdfdf;
  font-size: 1.125em;
  font-weight: 600;
  padding-bottom: 10px;
  line-height: 180%;
}
.rwd_footer_001 dl {
  padding: 20px 0;
}
.rwd_footer_001 dl a {
  font-size: 0.9em;
}

.site-body .nav-breadcrumbs {
  margin-top: 20px;
}

@media (max-width: 999px) {
  .site-body .nav-breadcrumbs {
    margin-top: 50px;
  }

  .rwd_footer_001 dl {
    padding: 0;
  }
  .rwd_footer_001 dl a {
    width: 100px;
  }
}
