.pc_left_009{
    width:200px;
    height:320px;
    margin-bottom: 20px;
    position: relative;
    background-image: url('../../../../c/img/frame/hotsale_bg.jpg');
    background-repeat: no-repeat;
    a,img{
		display: block;
        width: 173px;
        height: 173px;
	}
    .item{
        position: absolute;
        top:72px;
        left:13px;
    }
    .name,.feature{
        width: 100%;
        height: 14px;
        margin-top: 3px;
        padding-right: 14px;
        color: #000;
        font-size: 14px;
        word-break: break-word;
        word-wrap: break-word;
        overflow: hidden;
    }
    .buy{
        margin: 5px 0 0 0;
        color: #e00517;
        .price{
            font-size:28px;
            font-weight:700;
            font-family: Tahoma;
            margin-left: 2px;
        }
        .start{
            font-size: 14px;
        }
    }
    .more{
        width:50px;height:30px;
        margin-top: -25px;
        float:right;
    }
}