.pc_left_002{
	//margin-top: 15px;
	border: 1px solid $border;
	margin-bottom: 10px;
	.index{
		background: $aside_title;
		padding: 10px;
		display: block;
		color: white;
	}
	.trans-btn{
		background: #013da4;
		padding: 11px 10px 8px 32px;
		display: block;
		color: white;
		border-top: 1px solid $border;
		vertical-align: middle;
		position: relative;
		font-size: 15px;
		.trans-icon{
			width: 15px;
			position: absolute;
			top: 11px;
			left: 10px;
		}
		&:hover{
			background: #002767;
		}
	}	
	.title-h3{
		color: white;
		background: white;
		font-size: 1em;		
		font-weight: bold;
		margin: 0px;
		padding: 0;
		line-height: 1.3;
		word-break: break-word;
		word-wrap: break-word;
		border-top: 1px solid $border;
		position: relative;
		a{
			color: $link;
			background: $background2;
			padding: 12px 10px;
			display: block;			
			&:hover{
				color: $primary;
			}
		}
	}
	.title-h3-active{
		a{
			color:  white;
			background: $aside_title2;
		}
	}
	.fa{
		margin-right: 6px;
	}
	.side-menu{
		font-size: 13px;
		line-height: 140%;		
		li:first-child{
			h4{
				border-top: 1px solid $border;
			}			
		}
		h4{
			padding: 11px 10px 9px 20px;
			border-bottom: 1px dotted #ccc;
			background: white;			
			font-size: 15px;
			font-weight: bold;
			cursor: pointer;
			overflow: hidden;
			@include clearfix;
			//@include one-line;
			.fa{
				float: left;
				display: block;
				margin-top: 1px;			
			}
			a{
				float: left;
				display: block;
				width: 150px;
				color: $link;
				margin-top: -2px;
			}
		}
		a{
			color: $link;
			// display: block;
			overflow: hidden;	
  			//text-overflow : ellipsis;
  			//white-space : nowrap;
  			width: 153px;
  			line-height: 1.4;
  			max-height: 40px;
  			&:hover{
				color: $hover_text;
			}
		}
		.sec-menu{
			padding: 5px 0;
			border-bottom: 1px dotted #ccc;
			li{
				padding: 7px 10px 7px 38px;
				font-size: 15px;
			}
			a{
				display: block;
				color: #333;				  				
				&:hover{
					color: $hover_text;
				}
			}
			.active{
				color: $active_bk;
				font-weight: bold;
			}
		}
		>li{
			&:last-child{
				.sec-menu{
					border-bottom: 0;	
				}
				h4{
					border-bottom: 0;	
				}
			}			
		}
	}
	// .market-link{
	// 	display: inline-block!important;
	// 	margin-bottom: -10px;
	// 	&:hover{
	// 		color: $hover_text;
	// 	}
	// }
}