.rwd_left_004{
	//border: 1px solid $border;
	margin-bottom:15px;
	//background: $background2;
	.photo{
		font-size: 0;
		display: block;
		float: left;
		@include crop(80px, white);
	}
	.title-h3{
		color: white;
		//background: $aside_title;
		font-size: 1em;
		padding: 10px;
		font-weight: bold;
		margin: 0px;
		line-height: 1.3;
		word-break: break-word;
		word-wrap: break-word;
	}
	.item{
		padding: 5px;
		@include clearfix;
	}
	.name{
		font-size: 12px;
		height: 30px;
		overflow: hidden;
		word-break: break-word;
		word-wrap: break-word;
		a{
			color: $text;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	.buy{
		color: $price;
		overflow: hidden;
	}
	.info{
		float: left;
		width: 100px;
		line-height: 1.3;
		margin-left: 5px;
	}
	.currency{
		font-size: 12px;
	}
	.price{
		font-size: 14px; 
	}
}

@include RWD(desktop-normal) {
.rwd_left_004{
	.info{
		width: 95px;
	}
}
}