.rwd_left_001{
	.side-menu{
		>li{
			padding-bottom: 10px;
			margin-bottom: 10px;
			border-bottom-width: 1px;
			border-bottom-style: dotted; 
			//border-bottom: 1px dotted $border;
			&:last-child{
				.sec-menu{
					border: 0;
				}
			}
		}
		h4{
			font-size: 0.875em;
			//color: $primary;
			font-weight: bold;
		}
	}
	.sec-menu{
		>li{
			>a{
				font-size: 0.813em;
				line-height: 1.5;
				display: block;
				width: 100%;
				margin: 10px 0;
				color: #6c6c6c;
				&:hover{
					//color: $primary;
				}
			}
		}
	}
}
@include RWD(pad-mobile) {
.rwd_left_001{
	.title-h3{
		padding: 10px 15px;
	}
	.side-menu{
		h4{
			font-size: 1.125em;
			cursor: pointer;
			&:before{
				content: "►";
    			padding: 0 10px 0 0;
    			color: #c5c5c5;
    			font-weight: normal;
			}
			&.active{
				&:before{
					content: "▼";
					font-size: .5em;
					position: relative;
					top: -2px;
				}
			}
		}
		li:last-child{
			margin-bottom: 0;
		}
		h4, a{
			padding-left: 20px;
		}
	}
	.sec-menu{
		display: none;
		>li{
			>a{
				font-size: 0.9em;
				padding-left: 40px;
			}
		}
	}
}
}