.nav-pagination {
  margin: 30px 0 80px;
  text-align: center;
  clear: both;
}
.nav-pagination ul {
  margin: 0 20px;
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
}
.nav-pagination ul {
  zoom: 1;
}
.nav-pagination ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.nav-pagination li {
  display: inline-block;
}
.nav-pagination li a {
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.nav-pagination li:first-child a {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}
.nav-pagination li:last-child a {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  border-right: 1px solid #dddddd;
}
.nav-pagination a {
  line-height: 36px;
  padding: 0 12px;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  color: #666666;
}
.nav-pagination a.active {
  background: #2290c6;
  color: white;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.nav-pagination a:hover {
  background: #efefef;
  color: #7fbee5;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.nav-pagination .total {
  margin-top: 20px;
  color: #666666;
  font-size: 0.8em;
}

@media screen and (max-width: 768px) {
  .nav-pagination .hidden-mobile {
    display: none;
  }
}
.account_001 {
  margin: 25px 0 80px;
}
.account_001 .account-menu {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.account_001 .account-menu {
  zoom: 1;
}
.account_001 .account-menu:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.account_001 .account-menu-main {
  width: 100%;
  text-align: center;
  position: relative;
}
.account_001 .account-menu-secondary {
  width: 320px;
  margin: 20px 30px;
  text-align: center;
  display: inline-block;
  position: relative;
  vertical-align: top;
}
.account_001 .account-menu-secondary a {
  width: 100%;
  margin: 8px 0;
  padding: 15px 30px 13px;
  font-size: 18px;
  line-height: 1.4;
}
.account_001 .account-menu-secondary a i {
  font-size: 17px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: 0px !important;
}
.account_001 .account-menu-secondary a p {
  display: inline-block;
  padding-left: 25px;
  line-height: 1.4;
}
.account_001 .account-menu-secondary a p:before {
  font-size: 17px;
  margin-right: 10px;
  margin-left: -25px;
  vertical-align: 0px !important;
}
.account_001 .account-menu-title {
  margin-bottom: 4px;
  font-size: 18px;
  color: #999999;
  color: rgba(100, 100, 100, 0.5);
  text-shadow: 1px 1px 1px #FFF, 0 0 0 #BBB;
  position: relative;
}
.account_001 .account-menu-title h3 {
  background: #f9f9f9;
  display: inline-block;
  padding: 0 10px;
}
.account_001 .account-menu-title hr {
  margin-top: -9px;
}
.account_001 a {
  display: inline-block;
  position: relative;
  width: 320px;
  text-align: left;
  font-size: 24px;
  color: #333333;
  padding: 21px 30px 19px;
  margin: 15px 30px;
  top: 0px;
  background: white;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px 1px lightgrey;
  -moz-box-shadow: 0 1px 2px 1px lightgrey;
  box-shadow: 0 1px 2px 1px lightgrey;
}
.account_001 a p {
  display: inline-block;
  padding-left: 24px;
  line-height: 1.2;
}
.account_001 a p:before {
  font-size: 17px;
  margin-right: 10px;
  margin-left: -24px;
  vertical-align: 2px !important;
}
.account_001 a.on-touch {
  background: #2290c6;
  color: white;
  top: -2px;
  -webkit-box-shadow: 0 3px 6px 1px lightgrey;
  -moz-box-shadow: 0 3px 6px 1px lightgrey;
  box-shadow: 0 3px 6px 1px lightgrey;
}
.account_001 a.on-touch .red{
  color: white;
}
.account_001 a:active {
  top: 2px;
  -webkit-box-shadow: 0 0px 3px 4px lightgrey;
  -moz-box-shadow: 0 0px 3px 4px lightgrey;
  box-shadow: 0 0px 3px 4px lightgrey;
}
.account_001 .a-m-tip {
  font-size: 15px;
  margin-left: 5px;
  vertical-align: 2px;
}
.account_001 .highlight-menu {
  color: red;
  border: 1px solid red \9;
  -webkit-box-shadow: 0 1px 4px 1px #fc4831;
  -moz-box-shadow: 0 1px 4px 1px #fc4831;
  box-shadow: 0 1px 4px 1px #fc4831;
}
.account_001 .highlight-menu.on-touch {
  background: #ff3300;
  -webkit-box-shadow: 0 3px 6px 1px #fd9f87;
  -moz-box-shadow: 0 3px 6px 1px #fd9f87;
  box-shadow: 0 3px 6px 1px #fd9f87;
}
.account_001 .highlight-menu:active {
  -webkit-box-shadow: 0 0px 3px 4px #fd9f87;
  -moz-box-shadow: 0 0px 3px 4px #fd9f87;
  box-shadow: 0 0px 3px 4px #fd9f87;
}
.account_001 .menu-order-list p:before {
  content: "\f15c";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
}
.account_001 .menu-follow p:before {
  content: "\f00b";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
}
.account_001 .menu-bonus p:before {
  content: "\f0d6";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
}
.account_001 .menu-bonus-exchange p:before {
  content: "\f0d6";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
}
.account_001 .menu-bonus-info p:before {
  content: "\f05a";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
}
.account_001 .menu-pw p:before {
  content: "\f084";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
}
.account_001 .menu-address p:before {
  content: "\f0d1";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
}
.account_001 .menu-order-edm p:before {
  content: "\f1ea";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
}
.account_001 .menu-invoice p:before {
  content: "\f044";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
}
.account_001 .menu-discount p:before {
  content: "\f145";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
}

.account_001 .menu-friend p:before {
  content: "\f0c0";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
}

.account_001 .menu-discount .red {
  color: red;
}
@media only screen and (max-width: 1000px) {
  .account_001 .account-menu {
    max-width: 800px;
  }
  .account_001 .account-menu-secondary {
    margin: 12px 15px;
  }
  .account_001 a {
    margin: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .account_001 .account-menu {
    max-width: 100%;
  }
  .account_001 .account-menu-secondary {
    width: 250px;
    margin: 12px 12px;
  }
  .account_001 .account-menu-secondary a {
    padding: 13px 25px 11px;
  }
  .account_001 .account-menu-title {
    font-size: 17px;
  }
  .account_001 a {
    width: 250px;
    margin: 10px 12px;
    padding: 17px 25px 15px;
    font-size: 22px;
  }
}
@media only screen and (max-width: 568px) {
  .account_001 {
    margin: 10px 0 60px;
  }
  .account_001 .account-menu-main {
    margin-bottom: 10px;
  }
  .account_001 .account-menu-secondary {
    width: 90%;
    margin: 7px 7px 10px;
  }
  .account_001 .account-menu-secondary a {
    margin: 7px 0;
  }
  .account_001 .account-menu-secondary h3 {
    margin-bottom: 5px;
  }
  .account_001 .account-menu-title {
    font-size: 16px;
  }
  .account_001 .account-menu-title hr {
    margin-top: -14px;
  }
  .account_001 a {
    width: 90%;
    font-size: 22px;
    margin: 8px 7px;
  }
  .account_001 a i {
    font-size: 16px;
    vertical-align: 1px;
  }
}
