.button {
  color: white;
  background: #dd0000;
}
.button:hover {
  background: #f70000;
}
.button.disabled, .button[disabled] {
  color: #cccccc;
}
.button.btn-rush, .button .btn-addcart, .button .btn-add {
  background: #dd0000;
  color: white;
}
.button.btn-rush:hover, .button .btn-addcart:hover, .button .btn-add:hover {
  background: #f70000;
}
.button.btn-rush:active, .button.btn-rush.pressed, .button .btn-addcart:active, .button .btn-addcart.pressed, .button .btn-add:active, .button .btn-add.pressed {
  background: #910000;
}
.button.btn-discount, .button.red {
  background: #ff9900;
}
.button.btn-discount:hover, .button.red:hover {
  background: #ffa31a;
}
.button.btn-discount:active, .button.btn-discount.pressed, .button.red:active, .button.red.pressed {
  background: #b36b00;
}
.button.btn-preorder, .button.yellow {
  background: #ffcc21;
  color: white;
}
.button.btn-preorder:hover, .button.yellow:hover {
  background: #ffd23b;
}
.button.btn-preorder:active, .button.btn-preorder.pressed, .button.yellow:active, .button.yellow.pressed {
  background: #d3a300;
}
.button.gray {
  background: #6c6c6c;
  color: white;
}
.button.gray:hover {
  background: #797979;
}
.button.gray:active, .button.gray.pressed {
  background: #464646;
}
.button.btn-to-sale {
  color: #ff9900;
}

body {
  color: #666666;
  background: #f9f9f9;
}

a {
  color: #333333;
}

.title-h3 {
  color: black;
}
.title-h3 .sub {
  color: #2290c6;
}

.red-text {
  color: #dd0000;
}

input[type='password'], input[type='email'], input[type='tel'], input[type='text'], input[type='number'], input[type='search'], textarea {
  border-color: #dddddd;
  background: white;
  color: black;
}

select {
  background: white;
  color: black;
  border-color: #dddddd;
}

.quantity-alert {
  background: #2290c6;
  color: white;
}
.quantity-alert:after {
  border-color: #2290c6 transparent transparent transparent;
}

.quantity .quantity-input {
  border: none;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  color: black;
  background: white;
}
.quantity .quantity-decrease {
  color: black;
  border-color: #dddddd;
}
.quantity .quantity-increase {
  color: black;
  border-color: #dddddd;
}

.fancybox-inner .title {
  background: #2290c6;
}
.fancybox-inner .block .price {
  color: #dd0000;
}
.fancybox-inner .block .final-price {
  color: #dd0000;
}
.fancybox-inner .name {
  color: #2290c6;
}

.cart-mark {
  background: black;
  color: #2290c6;
  border: 10px solid rgba(255, 255, 255, 0.3);
}

.nav-breadcrumbs .index {
  color: #2290c6;
}
.nav-breadcrumbs .index:after {
  border-color: transparent white transparent transparent;
}
.nav-breadcrumbs .index::before {
  border-color: transparent #2290c6 transparent transparent;
}
.nav-breadcrumbs .locate {
  color: #6c6c6c;
}

.nav-pagination li a {
  border-top-color: #dddddd;
  border-left-color: #dddddd;
  border-bottom-color: #dddddd;
}
.nav-pagination li:last-child a {
  border-right-color: #dddddd;
}
.nav-pagination a {
  color: #666666;
}
.nav-pagination a.active {
  background: #2290c6;
  color: white;
}
.nav-pagination a:hover {
  background: #efefef;
  color: #7fbee5;
}
.nav-pagination .total {
  color: #666666;
}

.site-sort .sort li:last-child a {
  border-right-color: #dddddd;
}
.site-sort .sort li a {
  border-color: #dddddd;
  color: #666666;
}
.site-sort .sort li a.active {
  color: white;
  background: #2290c6;
  border: 1px solid #2290c6;
}
.site-sort .sort li a:hover {
  border: 1px solid #2290c6;
}
