html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, button, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

body { line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

ul, ol { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; text-decoration: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

body { color: #333333; font: 14px/1.8 "EuphemiaUCAS", Tahoma, "LiHei Pro", "Heiti TC", "微軟正黑體", sans-serif; background: #f9f9f9; overflow-x: hidden; overflow-y: auto; }

a { color: #0066cc; text-decoration: none; cursor: pointer; }
a:hover { color: #ee0000; }

ul, li { list-style: none; }

::-webkit-input-placeholder { color: #b3b3b3; opacity: 1; }

:-moz-placeholder { color: #b3b3b3; opacity: 1; }

::-moz-placeholder { color: #b3b3b3; opacity: 1; }

:-ms-input-placeholder { color: #b3b3b3; opacity: 1; }

*:focus { outline: 0; }

::-moz-selection { color: #fff; background: #bb0000; text-shadow: none; }

::selection { color: #fff; background: #bb0000; text-shadow: none; }

input:not([type="radio"]), input:not([type="checkbox"]) { color: #666666; font-size: 14px; line-height: 1.8; line-height: 1\9; font-family: "EuphemiaUCAS", Tahoma, "LiHei Pro", "Heiti TC", "微軟正黑體", sans-serif; vertical-align: middle; margin: 3px 0; padding: 5px; padding: 8px 5px\9; border: #d5dbe1 1px solid; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; -webkit-appearance: none; background: #fff; }
input:not([type="radio"]):disabled, input:not([type="checkbox"]):disabled { cursor: no-drop; }
input:not([type="radio"]):focus, input:not([type="checkbox"]):focus { border-color: #ffc107; -webkit-box-shadow: rgba(255, 193, 7, 0.5) 0 0 5px inset; -moz-box-shadow: rgba(255, 193, 7, 0.5) 0 0 5px inset; box-shadow: rgba(255, 193, 7, 0.5) 0 0 5px inset; }
input:not([type="radio"]).is-allow, input:not([type="checkbox"]).is-allow { border-color: #259b24; -webkit-box-shadow: rgba(37, 155, 36, 0.3) 0 0 5px inset; -moz-box-shadow: rgba(37, 155, 36, 0.3) 0 0 5px inset; box-shadow: rgba(37, 155, 36, 0.3) 0 0 5px inset; }
input:not([type="radio"]).is-error, input:not([type="checkbox"]).is-error { border-color: #ee0000; -webkit-box-shadow: rgba(238, 0, 0, 0.3) 0 0 5px inset; -moz-box-shadow: rgba(238, 0, 0, 0.3) 0 0 5px inset; box-shadow: rgba(238, 0, 0, 0.3) 0 0 5px inset; }

_:-ms-input-placeholder, :root input { line-height: 1; padding: 8px 5px; }

input[type="radio"], input[type="checkbox"] { margin-right: 5px; padding: 0; cursor: pointer; }

input[type="radio"] { -webkit-appearance: radio; }

input[type="checkbox"] { -webkit-appearance: checkbox; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }

input[type="number"] { width: auto; -moz-appearance: textfield; }

[class*="btn-"] { color: #666666; font-size: 0.9em; line-height: 1.44; letter-spacing: 1px; text-align: center; font-family: "EuphemiaUCAS", Tahoma, "LiHei Pro", "Heiti TC", "微軟正黑體", sans-serif; padding: 4px 10px; background: #e4e8ec; -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -2px 0 inset; -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -2px 0 inset; box-shadow: rgba(0, 0, 0, 0.2) 0 -2px 0 inset; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; cursor: pointer; }
[class*="btn-"]:hover, [class*="btn-"]:active { background: #c6ced7; -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 0 inset; -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 0 inset; box-shadow: rgba(0, 0, 0, 0.2) 0 2px 0 inset; }
[class*="btn-"].btn-submit { color: white; background: #0066cc; -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -4px 0 inset; -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -4px 0 inset; box-shadow: rgba(0, 0, 0, 0.2) 0 -4px 0 inset; }
[class*="btn-"].btn-submit:hover, [class*="btn-"].btn-submit:active { background: #004c99; -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 0 inset; -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 0 inset; box-shadow: rgba(0, 0, 0, 0.2) 0 4px 0 inset; }
[class*="btn-"]:disabled { color: #99a7b7; background: #e4e8ec; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; cursor: no-drop; }

.clearfix, .l-container, .md-list > dd, .t-card-title, .l-header { zoom: 1; }
.clearfix:before, .l-container:before, .md-list > dd:before, .t-card-title:before, .l-header:before, .clearfix:after, .l-container:after, .md-list > dd:after, .t-card-title:after, .l-header:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after, .l-container:after, .md-list > dd:after, .t-card-title:after, .l-header:after { clear: both; }

.l-container { max-width: 1100px; width: 100%; margin: 0 auto; padding: 0 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.l-container.l-tiny { max-width: 600px; }
@media only screen and (max-width: 1024px) { .l-container { max-width: 1024px; } }
@media only screen and (max-width: 568px) { .l-container { max-width: 568px; } }
.l-container * { -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }

.l-card { margin-bottom: 10px; padding: 10px 15px; border: #f3f4f6 1px solid; background: white; -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px; -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px; box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px; position: relative; }
@media only screen and (max-width: 768px) { .l-card { padding: 7px 10px; } }

.md-list > dt { font-weight: bold; padding-bottom: 10px; border-bottom: #d5dbe1 1px solid; }
.md-list > dd { padding: 10px 0; border-bottom: #f3f4f6 1px solid; position: relative; }
.md-list > dd:last-child { border-width: 0; }
.md-list > dd.is-hide { display: none; }

.t-card-title { color: #999999; font-size: 1.2em; margin: 20px 5px 10px; }
@media only screen and (max-width: 568px) { .t-card-title { margin-left: 0; margin-bottom: 5px; } }

.t-comment, .t-pwd-infr { color: #999999; font-size: 12.6px; line-height: 1.44; font-weight: normal; display: inline-block; }

.go-top { color: #7b8ea2; font-size: 1.6em; right: -60px; bottom: 20px; padding: 0 15px; background: #dbe0e5; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 7px; -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 7px; box-shadow: rgba(0, 0, 0, 0.2) 0 4px 7px; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; display: block; position: fixed; }
.go-top:before { content: "\f102"; line-height: 1; font-family: FontAwesome; vertical-align: middle; display: inline-block; }
.go-top:hover { color: #fff; background: #7b8ea2; }
.go-top.is-show { right: 0; }

.t-back:before { margin-right: 5px; content: "\f112"; line-height: 1; font-family: FontAwesome; vertical-align: middle; display: inline-block; }

.t-highlight { color: #ee0000; }

.t-bold { font-weight: bold; }

.l-header { padding: 25px 0 15px; }
@media only screen and (max-width: 568px) { .l-header { padding-bottom: 5px; } }
.l-header .logo { float: left; }
.l-header .logo img { max-width: 300px; }
.l-header .t-back { margin-top: 5px; float: right; }

@media only screen and (max-width: 1024px) { .banner { display: none; } }

.l-footer { margin: 15px 0 20px; padding-top: 10px; border-top: #d5dbe1 1px solid; color: #666666; font-size: 0.9em; overflow: hidden; *zoom: 1; }
.l-footer .service { float: left; }
.l-footer .service .icon-uitox { margin: 0 5px; vertical-align: bottom; }
.l-footer .copyright { float: right; }
.l-footer .go-privacy { display: inline-block; }
@media only screen and (max-width: 568px) { .l-footer .service, .l-footer .copyright { text-align: center; float: none; } }

/* form element */
.md-form { width: 300px; margin: 0 auto; position: relative; }
@media only screen and (max-width: 568px) { .md-form { width: 100%; margin-left: 0; margin-right: 0; } }
.md-form .form-item { margin: 10px 0; position: relative; }
.md-form .form-item.form-checkbox { line-height: 1.6; }
.md-form .form-item.form-checkbox label { margin: 5px 0; display: block; }
.md-form .form-item.item-email, .md-form .form-item.item-mobile { display: none; }
.md-form input:not([type="radio"]), .md-form input:not([type="checkbox"]), .md-form select { width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.md-form input[type="radio"], .md-form input[type="checkbox"] { width: auto; }

.form-item.captcha .input-text { width: auto; }
@media only screen and (max-width: 568px) { .form-item.captcha .input-text { width: 100%; } }
.form-item.captcha .img-captcha { margin-left: 5px; vertical-align: middle; }
@media only screen and (max-width: 568px) { .form-item.captcha .img-captcha { margin-left: 0; } }
.form-item.captcha .t-reload { margin-left: 5px; }
.form-item.captcha .t-reload:before { margin-right: 3px; content: "\f021"; line-height: 1; font-family: FontAwesome; vertical-align: middle; display: inline-block; }

.place-label { color: #b3b3b3; top: 9px; left: 6px; background: #fff; cursor: text; position: absolute; }
.place-label.is-focus, .place-label.is-allow, .place-label.is-error { color: #fff; font-size: 0.8em; text-align: left; background: #ffc107; top: -16px; left: 0; right: 0; padding-left: 6px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 -3px 5px; -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 -3px 5px; box-shadow: rgba(0, 0, 0, 0.1) 0 -3px 5px; -webkit-transition: none; -moz-transition: none; -o-transition: none; transition: none; z-index: 5; }
.place-label.is-allow { color: #259b24; background: none; top: 11px; left: auto; right: 6px; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.place-label.is-allow:before { content: "\f058"; line-height: 1; font-family: FontAwesome; vertical-align: middle; display: inline-block; margin-right: 5px; vertical-align: baseline; }
.place-label.is-error { background: #ee0000; }
.place-label.is-error:before { content: "\f06a"; line-height: 1; font-family: FontAwesome; vertical-align: middle; display: inline-block; margin-right: 5px; vertical-align: baseline; }

.md-form-btn { margin: 30px 0 5px; text-align: center; }
@media only screen and (max-width: 568px) { .md-form-btn { margin-top: 10px; } }
.md-form-btn button { font-size: 1.2em; margin: 0 5px; padding: 5px 15px; }
@media only screen and (max-width: 568px) { .md-form-btn button { width: 100%; margin: 5px 0; padding: 7px 15px; } }

[class*="icon-"]:before { background-repeat: no-repeat; content: "\0020"; position: relative; display: inline-block; vertical-align: middle; overflow: hidden; zoom: 1; background-image: url("/c/img/icon-global.svg"); *background-image: url("/c/img/icon-global.png"); }

.icon-uitox-s:before { width: 47px; height: 15px; margin: 0 5px 7px; vertical-align: middle; background-position: 0 0; }

.md-login { padding: 20px; }
@media only screen and (max-width: 568px) { .md-login { padding: 10px; border-width: 0; } }

.t-description { color: #999999; text-align: center; margin: 10px 0; }
.t-description.align-left { text-align: left; }
.t-description.t-highlight { color: #ee0000; }

.t-forgot-pwd:before { margin-right: 3px; content: "\f059"; line-height: 1; font-family: FontAwesome; vertical-align: middle; display: inline-block; }

.input-verify { display: none; }

.btn-mobile-verify { padding-top: 9px; padding-bottom: 10px; }
@media only screen and (max-width: 568px) { .btn-mobile-verify { padding: 7px 10px; } }

.page-comment { color: #999999; line-height: 1.6; margin: 10px; }
@media only screen and (max-width: 568px) { .page-comment { margin: 10px 0; } }

.md-account { padding: 20px; }
@media only screen and (max-width: 568px) { .md-account { padding: 10px; border-width: 0; } }
@media only screen and (max-width: 568px) { .md-account input:not([type="radio"]), .md-account input:not([type="checkbox"]) { width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; } }

.t-user-id { color: #0066cc; font-size: 1.1em; font-weight: bold; margin-right: 5px; }

.t-title-form { color: #a6c5e3; font-weight: bold; margin-bottom: 5px; }
.t-title-form:before { font-weight: normal; margin-right: 5px; }
.t-title-form.edit:before { content: "\f040"; line-height: 1; font-family: FontAwesome; vertical-align: middle; display: inline-block; }
.t-title-form.add:before { content: "\f067"; line-height: 1; font-family: FontAwesome; vertical-align: middle; display: inline-block; }

.md-input-item { position: relative; display: inline-block; }
@media only screen and (max-width: 568px) { .md-input-item { width: 100%; } }

.md-action { float: right; }

.md-edit-action { margin-top: 10px; display: block; }
.md-edit-action button { font-size: 1.05em; }
@media only screen and (max-width: 568px) { .md-edit-action button { width: 100%; margin: 3px 0; padding: 7px 15px; } }

.btn-transparent { padding: 4px 8px; background: rgba(213, 219, 225, 0.3); -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -2px 0 inset; -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -2px 0 inset; box-shadow: rgba(0, 0, 0, 0.2) 0 -2px 0 inset; }
.btn-transparent:hover, .btn-transparent:active { background: rgba(183, 193, 204, 0.3); -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 0 inset; -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 0 inset; box-shadow: rgba(0, 0, 0, 0.2) 0 2px 0 inset; }

.btn-edit:before { content: "\f040"; line-height: 1; font-family: FontAwesome; vertical-align: middle; display: inline-block; }

.btn-delete:before { content: "\f00d"; line-height: 1; font-family: FontAwesome; vertical-align: middle; display: inline-block; }

.btn-add:before { margin-right: 5px; content: "\f067"; line-height: 1; font-family: FontAwesome; vertical-align: middle; display: inline-block; }
@media only screen and (max-width: 568px) { .btn-add { width: 100%; margin: 3px 0; padding: 7px 15px; } }

.md-pwd-check { height: 20px; margin-bottom: 5px; letter-spacing: -0.32em; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; overflow: hidden; position: relative; }
@media only screen and (max-width: 768px) { .md-pwd-check { width: 100%; margin-left: 0; } }
.md-pwd-check .md-pwd-bar { width: 33%; height: 20px; letter-spacing: normal; background: #d5dbe1; vertical-align: top; display: inline-block; }
.md-pwd-check .md-pwd-bar.md-bar-light { -moz-border-radius-topleft: 20px; -webkit-border-top-left-radius: 20px; border-top-left-radius: 20px; -moz-border-radius-bottomleft: 20px; -webkit-border-bottom-left-radius: 20px; border-bottom-left-radius: 20px; }
.md-pwd-check .md-pwd-bar.md-bar-hard { -moz-border-radius-topright: 20px; -webkit-border-top-right-radius: 20px; border-top-right-radius: 20px; -moz-border-radius-bottomright: 20px; -webkit-border-bottom-right-radius: 20px; border-bottom-right-radius: 20px; }
.md-pwd-check .md-pwd-bar.is-light { background: #ee0000; }
.md-pwd-check .md-pwd-bar.is-medium { background: #ffc107; }
.md-pwd-check .md-pwd-bar.is-hard { background: #259b24; }
.md-pwd-check .t-status { color: #fff; font-size: 0.8em; letter-spacing: normal; left: 0; top: 0; right: 0; bottom: 0; padding-left: 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: absolute; z-index: 1; }
.md-pwd-check .t-status:after { content: ""; top: 0; left: 0; bottom: 0; right: 0; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent); background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent); background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent); background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent); -webkit-background-size: 50px 50px; -moz-background-size: 50px 50px; -o-background-size: 50px 50px; background-size: 50px 50px; -webkit-animation: barmove 2s linear infinite; -moz-animation: barmove 2s linear infinite; animation: barmove 2s linear infinite; overflow: hidden; position: absolute; z-index: 1; }

.t-pwd-infr { letter-spacing: normal; display: block; }
@media only screen and (max-width: 768px) { .t-pwd-infr { margin-left: 0; } }

@-webkit-keyframes barmove { 0% { background-position: 0 0; }
  100% { background-position: 50px 50px; } }

@-moz-keyframes barmove { 0% { background-position: 0 0; }
  100% { background-position: 50px 50px; } }

@keyframes barmove { 0% { background-position: 0 0; }
  100% { background-position: 50px 50px; } }

.wysiwyg-color-black { color: black; }

.wysiwyg-color-silver { color: silver; }

.wysiwyg-color-gray { color: gray; }

.wysiwyg-color-white { color: white; }

.wysiwyg-color-maroon { color: maroon; }

.wysiwyg-color-red { color: red; }

.wysiwyg-color-purple { color: purple; }

.wysiwyg-color-fuchsia { color: fuchsia; }

.wysiwyg-color-green { color: green; }

.wysiwyg-color-lime { color: lime; }

.wysiwyg-color-olive { color: olive; }

.wysiwyg-color-yellow { color: yellow; }

.wysiwyg-color-navy { color: navy; }

.wysiwyg-color-blue { color: blue; }

.wysiwyg-color-teal { color: teal; }

.wysiwyg-color-aqua { color: aqua; }

.wysiwyg-font-size-small { font-size: 0.8rem; }

.wysiwyg-font-size-large { font-size: 1.2rem; }

.wysiwyg-font-size-larger { font-size: 1.4rem; }

.wysiwyg-font-size-x-large { font-size: 1.8rem; }

.wysiwyg-font-size-xx-large { font-size: 2.2rem; }

.wysiwyg-text-align-center { text-align: center; }

.wysiwyg-text-align-justify { text-align: justify; }

.wysiwyg-text-align-left { text-align: left; }

.wysiwyg-text-align-right { text-align: right; }
