.follow_list_001 a {
  color: #2290c6;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
.follow_list_001 a:active, .follow_list_001 a.on-touch {
  color: #7fbee5;
}
.follow_list_001 a.button {
  color: white;
}
.follow_list_001 .follow-list-block {
  position: relative;
  width: 100%;
  height: auto;
  color: #666666;
  padding: 12px 15px;
  margin-bottom: 30px;
  top: 0px;
  background: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px 1px #dddddd;
  -moz-box-shadow: 0 1px 2px 1px #dddddd;
  box-shadow: 0 1px 2px 1px #dddddd;
}
.follow_list_001 .follow-list-block:first-child {
  margin-top: 5px;
}
.follow_list_001 .follow-list-block {
  zoom: 1;
}
.follow_list_001 .follow-list-block:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.follow_list_001 .follow-list {
  width: 100%;
}
.follow_list_001 .follow-list {
  zoom: 1;
}
.follow_list_001 .follow-list:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.follow_list_001 .follow-list .follow-list-content {
  margin-bottom: 15px;
  padding: 0 0px 15px;
  border-bottom: 1px dashed #dddddd;
  position: relative;
}
.follow_list_001 .follow-list .follow-list-content {
  zoom: 1;
}
.follow_list_001 .follow-list .follow-list-content:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.follow_list_001 .follow-list .follow-list-content:last-child {
  border-bottom: none;
  margin-bottom: 0px;
}
.follow_list_001 .follow-list .follow-date, .follow_list_001 .follow-list .follow-photo, .follow_list_001 .follow-list .follow-name, .follow_list_001 .follow-list .follow-list-r li {
  float: left;
  min-height: 20px;
  line-height: 1.5;
  font-size: 0.8em;
}
.follow_list_001 .follow-list .follow-date {
  width: 6%;
  margin-right: 1%;
  padding-top: 26px;
}
.follow_list_001 .follow-list .follow-photo {
  width: 5%;
  margin-right: 1%;
  padding: 0;
}
.follow_list_001 .follow-list .follow-photo img {
  width: 100%;
}
.follow_list_001 .follow-list .follow-name {
  width: 45%;
  margin-right: 2%;
  padding-top: 25px;
  font-weight: bold;
  font-size: 0.93em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.follow_list_001 .follow-list .follow-list-r {
  width: 40%;
  float: right;
  padding-top: 26px;
}
.follow_list_001 .follow-list .follow-list-r {
  zoom: 1;
}
.follow_list_001 .follow-list .follow-list-r:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.follow_list_001 .follow-list .follow-list-r li {
  margin-right: 5%;
  margin-bottom: 3px;
}
.follow_list_001 .follow-list .follow-list-r li:last-child {
  margin-right: 0;
}
.follow_list_001 .follow-list .follow-price {
  width: 20%;
  text-align: right;
  font-weight: bold;
}
.follow_list_001 .follow-list .follow-status {
  width: 22%;
  margin-top: -1px;
}
.follow_list_001 .follow-list .follow-notice {
  width: 17%;
}
.follow_list_001 .follow-list .follow-notice-date {
  width: 17%;
  text-align: center;
  margin-top: -11px;
}
.follow_list_001 .follow-list .follow-notice-date span {
  display: block;
}
.follow_list_001 .follow-list .follow-delete {
  width: 4%;
  font-size: 20px !important;
  cursor: pointer;
  margin-top: -8px;
}
.follow_list_001 .follow-list .follow-delete:before {
  content: "\f00d";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
}
.follow_list_001 .follow-list-info {
  font-size: 0.95em;
  line-height: 1.7;
}
.follow_list_001 .follow-list-info ul {
  padding-left: 25px;
}
.follow_list_001 .follow-list-info li {
  list-style-type: decimal;
  margin-top: 5px;
}
@media only screen and (max-width: 1241px) {
  .follow_list_001 {
    padding: 0 15px;
  }
  .follow_list_001 .follow-list .follow-date {
    width: 8%;
  }
  .follow_list_001 .follow-list .follow-photo {
    width: 6%;
  }
  .follow_list_001 .follow-list .follow-name {
    width: 37%;
  }
  .follow_list_001 .follow-list .follow-list-r {
    width: 45%;
  }
  .follow_list_001 .follow-list .follow-list-r li {
    margin-right: 3.5%;
  }
  .follow_list_001 .follow-list .follow-price {
    width: 23%;
  }
  .follow_list_001 .follow-list .follow-notice-date {
    width: 20%;
  }
}
@media only screen and (max-width: 1000px) {
  .follow_list_001 .follow-list-block {
    padding: 15px 10px;
  }
  .follow_list_001 .follow-list .follow-date {
    width: 10%;
  }
  .follow_list_001 .follow-list .follow-photo {
    width: 8%;
  }
  .follow_list_001 .follow-list .follow-name {
    width: 19%;
  }
  .follow_list_001 .follow-list .follow-list-r {
    width: 59%;
  }
  .follow_list_001 .follow-list .follow-notice {
    width: 18%;
  }
  .follow_list_001 .follow-list .follow-notice-date {
    width: 19%;
  }
}
@media only screen and (max-width: 768px) {
  .follow_list_001 .follow-list .follow-date {
    width: auto;
    padding-top: 0;
    padding-bottom: 5px;
    position: absolute;
    top: 6px;
    left: 11.5%;
  }
  .follow_list_001 .follow-list .follow-photo {
    width: 10%;
    margin-right: 1.5%;
  }
  .follow_list_001 .follow-list .follow-name {
    width: 88.5%;
    margin-right: 0;
    margin-top: 1px;
    font-size: 1.03em;
    line-height: 1.5;
  }
  .follow_list_001 .follow-list .follow-list-r {
    width: 100%;
    margin-top: 10px;
    padding-top: 0;
  }
  .follow_list_001 .follow-list .follow-list-r li {
    font-size: 0.95em;
  }
  .follow_list_001 .follow-list .follow-price {
    width: 22%;
    text-align: left;
  }
  .follow_list_001 .follow-list .follow-status {
    width: 20%;
  }
  .follow_list_001 .follow-list .follow-status .button {
    padding: 0.3em 1.2em;
  }
  .follow_list_001 .follow-list .follow-notice {
    width: 17%;
  }
  .follow_list_001 .follow-list .follow-notice-date {
    width: 20%;
    font-size: 0.9em !important;
  }
  .follow_list_001 .follow-list .follow-delete {
    position: absolute;
    top: -3px;
    right: 5px;
    width: 15px;
  }
}
@media only screen and (max-width: 568px) {
  .follow_list_001 .follow-list .follow-date {
    top: 2px;
    left: 12.5%;
  }
  .follow_list_001 .follow-list .follow-photo {
    width: 11%;
    margin-right: 1.5%;
  }
  .follow_list_001 .follow-list .follow-name {
    width: 87.5%;
    font-size: 1em;
    margin-top: -2px;
  }
  .follow_list_001 .follow-list .follow-list-r li {
    margin-bottom: 12px;
  }
  .follow_list_001 .follow-list .follow-price {
    width: 45%;
    text-align: left;
  }
  .follow_list_001 .follow-list .follow-status {
    width: 45%;
  }
  .follow_list_001 .follow-list .follow-notice {
    width: 45%;
  }
  .follow_list_001 .follow-list .follow-notice-date {
    width: 45%;
    text-align: left;
    margin-top: 0px;
    font-size: 0.8em !important;
  }
  .follow_list_001 .follow-list .follow-notice-date span {
    display: inline-block;
    margin-right: 3px;
  }
}

.nav-pagination {
  margin: 30px 0 80px;
  text-align: center;
  clear: both;
}
.nav-pagination ul {
  margin: 0 20px;
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
}
.nav-pagination ul {
  zoom: 1;
}
.nav-pagination ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.nav-pagination li {
  display: inline-block;
}
.nav-pagination li a {
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.nav-pagination li:first-child a {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}
.nav-pagination li:last-child a {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  border-right: 1px solid #dddddd;
}
.nav-pagination a {
  line-height: 36px;
  padding: 0 12px;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  color: #666666;
}
.nav-pagination a.active {
  background: #2290c6;
  color: white;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.nav-pagination a:hover {
  background: #efefef;
  color: #7fbee5;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.nav-pagination .total {
  margin-top: 20px;
  color: #666666;
  font-size: 0.8em;
}

@media screen and (max-width: 768px) {
  .nav-pagination .hidden-mobile {
    display: none;
  }
}
.site-sort .sort {
  display: block;
}
.site-sort .sort {
  zoom: 1;
}
.site-sort .sort:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.site-sort .sort li {
  float: left;
  display: block;
}
.site-sort .sort li:last-child a {
  border-right-width: 1px;
  border-right-style: solid;
}
.site-sort .sort li a {
  padding: 10px 20px;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-right: 0;
  font-size: 13px;
}
.site-sort .sort-s {
  display: none;
}

.site-sort {
  margin-bottom: 10px;
}
.site-sort .sort li:first-child a {
  border-radius: 4px 0 0 4px;
}
.site-sort .sort li:last-child a {
  border-radius: 0 4px 4px 0;
}
.site-sort .sort-s {
  color: #666666;
  border-radius: 4px;
}
@media only screen and (max-width: 1241px) {
  .site-sort {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 568px) {
  .site-sort .sort {
    display: none;
  }
  .site-sort .sort-s {
    display: block;
  }
}
