.site-body {
  padding-bottom: 0px;
}

.refund_debitnote_001 a {
  color: #2290c6;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
.refund_debitnote_001 a:active, .refund_debitnote_001 a.on-touch {
  color: #7fbee5;
}
.refund_debitnote_001 .order-list-block {
  position: relative;
  width: 100%;
  min-width: 950px;
  height: auto;
  color: #666666;
  padding: 15px 20px;
  margin: 10px 0;
  top: 0px;
  background: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px 1px #dddddd;
  -moz-box-shadow: 0 1px 2px 1px #dddddd;
  box-shadow: 0 1px 2px 1px #dddddd;
}
.refund_debitnote_001 .order-list-block {
  zoom: 1;
}
.refund_debitnote_001 .order-list-block:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.refund_debitnote_001 .title {
  padding: 5px 15px;
  font-weight: bold;
  background: #2290c6;
  color: white;
  line-height: 180%;
  margin: -15px -20px 15px -20px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
.refund_debitnote_001 .debitnote-form {
  width: 930px;
  height: auto;
  padding: 15px;
  border: 1px solid #e9e9e9;
  margin: 0 auto 20px auto;
}
.refund_debitnote_001 .button {
  display: block;
  margin: 0 auto 20px auto;
}
