.nav-pagination {
  margin: 30px 0 80px;
  text-align: center;
  clear: both;
}
.nav-pagination ul {
  margin: 0 20px;
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
}
.nav-pagination ul {
  zoom: 1;
}
.nav-pagination ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.nav-pagination li {
  display: inline-block;
}
.nav-pagination li a {
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.nav-pagination li:first-child a {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}
.nav-pagination li:last-child a {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  border-right: 1px solid #dddddd;
}
.nav-pagination a {
  line-height: 36px;
  padding: 0 12px;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  color: #666666;
}
.nav-pagination a.active {
  background: #2290c6;
  color: white;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.nav-pagination a:hover {
  background: #efefef;
  color: #7fbee5;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.nav-pagination .total {
  margin-top: 20px;
  color: #666666;
  font-size: 0.8em;
}

@media screen and (max-width: 768px) {
  .nav-pagination .hidden-mobile {
    display: none;
  }
}
.orderlist_001 a {
  color: #2290c6;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
.orderlist_001 a:active, .orderlist_001 a.on-touch {
  color: #7fbee5;
}
.orderlist_001 .order-list-block {
  position: relative;
  width: 100%;
  height: auto;
  color: #666666;
  padding: 12px 15px;
  margin-bottom: 30px;
  top: 0px;
  background: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px 1px #dddddd;
  -moz-box-shadow: 0 1px 2px 1px #dddddd;
  box-shadow: 0 1px 2px 1px #dddddd;
}
.orderlist_001 .order-list-block:first-child {
  margin-top: 5px;
}
.orderlist_001 .order-list-block {
  zoom: 1;
}
.orderlist_001 .order-list-block:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.orderlist_001 .order-list-block.failure {
  background: #efefef;
  -webkit-box-shadow: 0 1px 2px 1px #bbbbbb;
  -moz-box-shadow: 0 1px 2px 1px #bbbbbb;
  box-shadow: 0 1px 2px 1px #bbbbbb;
}
.orderlist_001 .order-list-block.failure .order-list-top {
  background: #bbbbbb;
}
.orderlist_001 .order-list-block.failure .order-list-top .order-failure {
  display: block;
}
.orderlist_001 .order-list-block.failure .o-list-top-l .order-num span {
  text-decoration: none;
}
.orderlist_001 .order-list-top {
  width: 101%;
  margin: 0px 5px 20px 5px;
  padding: 5px 15px 11px 15px;
  position: relative;
  background: #2290c6;
  color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 4px 0px 0px 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  border-radius: 4px 0px 0px 4px;
  -webkit-box-shadow: -1px 1px 2px 1px #dddddd;
  -moz-box-shadow: -1px 1px 2px 1px #dddddd;
  box-shadow: -1px 1px 2px 1px #dddddd;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
.orderlist_001 .order-list-top {
  zoom: 1;
}
.orderlist_001 .order-list-top:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.orderlist_001 .o-list-top-l {
  float: left;
  position: relative;
  width: 490px;
  padding-top: 8px;
}
.orderlist_001 .o-list-top-l {
  zoom: 1;
}
.orderlist_001 .o-list-top-l:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.orderlist_001 .o-list-top-l a {
  color: white;
  text-decoration: underline;
}
.orderlist_001 .o-list-top-l a:active .order-num span, .orderlist_001 .o-list-top-l a.on-touch .order-num span {
  text-decoration: underline;
}
.orderlist_001 .o-list-top-l .o-top-info {
  margin-right: 10px;
  float: left;
}
.orderlist_001 .o-list-top-l .o-top-info {
  zoom: 1;
}
.orderlist_001 .o-list-top-l .o-top-info:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.orderlist_001 .o-list-top-l li {
  float: left;
  margin-right: 15px;
  font-size: 0.85em;
}
.orderlist_001 .o-list-top-l li:last-child {
  margin-right: 0;
}
.orderlist_001 .o-list-top-l .order-failure {
  width: 100%;
  padding: 4px 0 5px 0;
  font-size: 0.9em;
  float: none;
}
.orderlist_001 .o-list-top-l .order-num span {
  font-weight: bold;
  font-size: 1.1em;
  text-decoration: underline;
}
.orderlist_001 .o-list-top-l .currency {
  font-size: 0.85em;
}
.orderlist_001 .o-list-top-l .o-list-arrow {
  display: block;
  position: absolute;
  right: 10px;
  top: 31%;
  font-size: 40px;
  color: white;
  display: none;
}
.orderlist_001 .o-list-top-l .pay-status {
  font-size: 0.85em;
  float: left;
}
.orderlist_001 .o-list-top-l .r-state {
  color: #FFDF00;
  font-weight: bold;
}
.orderlist_001 .o-list-top-r {
  float: right;
  text-align: right;
  padding: 8px 0 2px 0;
  font-size: 0.83em;
}
.orderlist_001 .o-list-top-r a {
  margin-left: 15px;
  color: white;
  text-decoration: underline;
}
.orderlist_001 .o-list-top-r a:hover, .orderlist_001 .o-list-top-r a:active {
  text-decoration: underline;
}
.orderlist_001 .order-list {
  width: 100%;
}
.orderlist_001 .order-list {
  zoom: 1;
}
.orderlist_001 .order-list:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.orderlist_001 .order-list .order-list-content {
  margin-bottom: 15px;
  padding: 0 10px;
}
.orderlist_001 .order-list .order-list-content {
  zoom: 1;
}
.orderlist_001 .order-list .order-list-content:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.orderlist_001 .order-list .order-sn, .orderlist_001 .order-list .order-name, .orderlist_001 .order-list .order-list-r li {
  float: left;
  min-height: 15px;
  line-height: 1.5;
  font-size: 0.875em;
}
.orderlist_001 .order-list .order-sn {
  width: 2%;
  margin-right: 1%;
  margin-top: 1px;
  font-size: 0.8em;
}
.orderlist_001 .order-list .order-name {
  width: 59%;
  margin-right: 2%;
  font-weight: bold;
  font-size: 0.93em;
  color: #333333;
}
.orderlist_001 .order-list .order-name a {
  color: #333333;
}
.orderlist_001 .order-list .order-name a.on-touch {
  color: #7fbee5;
}
.orderlist_001 .order-list .order-list-r {
  width: 36%;
  float: right;
}
.orderlist_001 .order-list .order-list-r {
  zoom: 1;
}
.orderlist_001 .order-list .order-list-r:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.orderlist_001 .order-list .order-list-r li {
  margin-right: 5%;
}
.orderlist_001 .order-list .order-list-r li:last-child {
  margin-right: 0;
}
.orderlist_001 .order-list .order-status {
  width: 38%;
  margin-top: -1px;
}
.orderlist_001 .order-list .order-status a {
  padding-left: 5px;
}
.orderlist_001 .order-list .order-quantity {
  width: 11%;
  text-align: right;
}
.orderlist_001 .order-list .order-shipping {
  width: 40%;
}
.orderlist_001 .group .order-name a {
  color: #999999;
}
.orderlist_001 .group .order-name a.on-touch {
  color: #7fbee5;
}
.orderlist_001 .group .order-list-add .order-name {
  padding-left: 13px;
}
.orderlist_001 .group .order-list-add .order-name a {
  color: #333333;
}
.orderlist_001 .group .order-list-add .order-name a.on-touch {
  color: #7fbee5;
}
.orderlist_001 .order-list-add {
  clear: both;
  width: 100%;
  padding-top: 15px;
  position: relative;
}
.orderlist_001 .order-list-add {
  zoom: 1;
}
.orderlist_001 .order-list-add:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
@media only screen and (max-width: 1241px) {
  .orderlist_001 {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 1000px) {
  .orderlist_001 .order-list-block {
    padding: 15px 10px;
  }
  .orderlist_001 .order-list-top {
    margin-left: 2px;
  }
  .orderlist_001 .order-list .order-list-content {
    padding: 0 10px;
  }
  .orderlist_001 .order-list .order-name {
    width: 50%;
  }
  .orderlist_001 .order-list .order-list-r {
    width: 45%;
  }
  .orderlist_001 .order-list .order-status {
    width: 42%;
  }
  .orderlist_001 .order-list .order-shipping {
    width: 37%;
  }
  .orderlist_001 .group {
    padding: 0px 10px;
  }
  .orderlist_001 .group .order-list-content {
    padding: 0;
  }
}
@media only screen and (max-width: 768px) {
  .orderlist_001 .order-list-top {
    margin-left: 4px;
  }
  .orderlist_001 .order-list .order-sn {
    width: 3%;
    margin-right: 1%;
  }
  .orderlist_001 .order-list .order-name {
    width: 68%;
    margin-right: 3%;
  }
  .orderlist_001 .order-list .order-list-r {
    width: 25%;
  }
  .orderlist_001 .order-list .order-status {
    width: 100%;
    margin-bottom: 3px;
  }
  .orderlist_001 .order-list .order-quantity {
    display: none;
  }
  .orderlist_001 .order-list .order-shipping {
    width: 100%;
  }
}
@media only screen and (max-width: 568px) {
  .orderlist_001 .order-list-block {
    padding: 15px 8px;
  }
  .orderlist_001 .order-list-top {
    padding: 0;
    margin-left: 5px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 6px 0px 0px 6px;
    -moz-border-radius: 6px 0px 0px 6px;
    border-radius: 6px 0px 0px 6px;
  }
  .orderlist_001 .order-list-top:hover, .orderlist_001 .order-list-top:active, .orderlist_001 .order-list-top:focus {
    background: #7fbee5;
  }
  .orderlist_001 .o-list-top-l {
    min-width: 100%;
    width: 100%;
    padding-top: 0px;
  }
  .orderlist_001 .o-list-top-l a {
    color: white;
  }
  .orderlist_001 .o-list-top-l a:hover .order-num span, .orderlist_001 .o-list-top-l a:active .order-num span {
    text-decoration: none;
  }
  .orderlist_001 .o-list-top-l ul {
    width: 101%;
    padding: 12px 13px 25px 13px;
  }
  .orderlist_001 .o-list-top-l ul {
    zoom: 1;
  }
  .orderlist_001 .o-list-top-l ul:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
  .orderlist_001 .o-list-top-l li {
    float: left;
    margin-right: 5px;
    margin-bottom: 8px;
    font-size: 0.95em;
  }
  .orderlist_001 .o-list-top-l .order-failure {
    margin-bottom: 3px;
    font-size: 1em;
  }
  .orderlist_001 .o-list-top-l .order-date {
    width: 100%;
  }
  .orderlist_001 .o-list-top-l .order-num {
    width: 100%;
    line-height: 1;
  }
  .orderlist_001 .o-list-top-l .order-num span {
    font-size: 1.05em;
  }
  .orderlist_001 .o-list-top-l .o-list-arrow {
    display: block;
  }
  .orderlist_001 .o-list-top-l .pay-status {
    position: absolute;
    bottom: 10px;
    left: 12px;
    font-size: 0.9em;
  }
  .orderlist_001 .o-list-top-r a {
    display: none;
  }
  .orderlist_001 .o-list-top-r .o-contact {
    display: block;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 108%;
  }
  .orderlist_001 .failure .o-list-arrow {
    display: none;
  }
  .orderlist_001 .order-list .order-sn {
    width: 6%;
    margin-right: 2%;
  }
  .orderlist_001 .order-list .order-name {
    width: 92%;
    margin-right: 0;
  }
  .orderlist_001 .order-list .order-list-r {
    display: none;
  }
  .orderlist_001 .group .order-list-add .order-name {
    padding-left: 10px;
  }
}
@media only screen and (max-width: 320px) {
  .orderlist_001 .order-list-top {
    margin-left: 6px;
  }
  .orderlist_001 .o-list-top-l li {
    font-size: 0.9em;
  }
  .orderlist_001 .o-list-top-l .o-list-arrow {
    font-size: 25px;
    top: 39%;
  }
}
