.order_refund_001 a {
  color: #2290c6;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
.order_refund_001 a:active, .order_refund_001 a.on-touch {
  color: #7fbee5;
}
.order_refund_001 .order-list-block {
  position: relative;
  width: 100%;
  height: auto;
  color: #666666;
  padding: 12px 15px;
  margin-bottom: 30px;
  top: 0px;
  background: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px 1px #dddddd;
  -moz-box-shadow: 0 1px 2px 1px #dddddd;
  box-shadow: 0 1px 2px 1px #dddddd;
}
.order_refund_001 .order-list-block:first-child {
  margin-top: 5px;
}
.order_refund_001 .order-list-block {
  zoom: 1;
}
.order_refund_001 .order-list-block:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.order_refund_001 .order-list-top {
  width: 100%;
  margin: 0px 0px 10px 0px;
  padding: 5px 0px;
  position: relative;
  color: #666666;
}
.order_refund_001 .order-list-top h3 {
  font-size: 0.85em;
  line-height: 1.4;
}
.order_refund_001 .order-list-top h3 span {
  font-weight: bold;
  color: #333333;
  font-size: 110%;
  padding: 0 3px;
}
.order_refund_001 .order-list {
  width: 100%;
}
.order_refund_001 .order-list {
  zoom: 1;
}
.order_refund_001 .order-list:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.order_refund_001 .order-list .order-list-content {
  margin-bottom: 13px;
  padding: 0 0px 13px;
  margin-bottom: 19px;
  border-bottom: 1px dashed #dddddd;
}
.order_refund_001 .order-list .order-list-content {
  zoom: 1;
}
.order_refund_001 .order-list .order-list-content:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.order_refund_001 .order-list .order-list-content:last-child {
  border-bottom: 1px solid #dddddd;
}
.order_refund_001 .order-list .order-list-content.top {
  font-weight: bold;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
}
.order_refund_001 .order-list .order-list-content.top .order-check-all {
  width: 100%;
  float: left;
  min-height: 20px;
  line-height: 1.5;
  font-size: 0.8em;
}
.order_refund_001 .order-list .order-list-content.top .order-check-all input {
  vertical-align: -2px;
}
.order_refund_001 .order-list .order-check, .order_refund_001 .order-list .order-sn, .order_refund_001 .order-list .order-name, .order_refund_001 .order-list .order-list-rr {
  float: left;
  min-height: 20px;
  line-height: 1.5;
  font-size: 0.8em;
}
.order_refund_001 .order-list .order-list-r li {
  display: inline-block;
  min-height: 20px;
  line-height: 1.5;
  font-size: 0.8em;
  vertical-align: middle;
}
.order_refund_001 .order-list .order-check {
  width: 2%;
  margin-right: 1%;
}
.order_refund_001 .order-list .order-check input {
  vertical-align: 1px;
}
.order_refund_001 .order-list .order-sn {
  width: 2%;
  margin-right: 1%;
}
.order_refund_001 .order-list .order-name {
  width: 46%;
  margin-right: 2%;
  margin-top: -1px;
  font-weight: bold;
  color: #333333;
  font-size: 0.93em;
}
.order_refund_001 .order-list .order-status {
  text-align: right;
  display: inline-block;
  padding-left: 5px;
}
.order_refund_001 .order-list .order-status a {
  padding-left: 5px;
}
.order_refund_001 .order-list .order-list-r {
  width: 15%;
  float: left;
  margin-right: 1%;
  margin-top: -2px;
  text-align: right;
  vertical-align: middle;
}
.order_refund_001 .order-list .order-list-r {
  zoom: 1;
}
.order_refund_001 .order-list .order-list-r:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.order_refund_001 .order-list .order-list-r li {
  margin-right: 2.5%;
}
.order_refund_001 .order-list .order-list-r li:last-child {
  margin-right: 0;
}
.order_refund_001 .order-list .order-list-rr {
  width: 30%;
  margin-top: -2px;
  float: right;
}
.order_refund_001 .order-list .order-list-rr {
  zoom: 1;
}
.order_refund_001 .order-list .order-list-rr:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.order_refund_001 .order-list .order-price {
  width: 98px;
  text-align: right;
  font-weight: bold;
  margin-right: 3%;
}
.order_refund_001 .order-list .order-quantity {
  width: 50px;
  text-align: right;
  margin-right: 0 !important;
}
.order_refund_001 .order-list .order-quantity select {
  height: 30px;
  width: 100%;
  margin-top: -4px;
}
.order_refund_001 .order-list .refund-reason {
  width: 28%;
  display: inline-block;
  margin-top: -4px;
  margin-right: 2.5%;
  height: 30px;
}
.order_refund_001 .order-list .refund-reason-other {
  width: 49%;
  display: inline-block;
  margin-top: -4px;
  margin-right: 2.5%;
  margin-bottom: 0;
  height: 30px;
}
.order_refund_001 .order-list .refund-reason-same {
  width: 52px;
  display: inline-block;
  text-align: right;
}
.order_refund_001 .group .order-name {
  color: #999999;
}
.order_refund_001 .group .order-name a {
  color: #999999;
}
.order_refund_001 .group .order-name a:hover {
  color: #7fbee5;
}
.order_refund_001 .group .order-list-add .order-name {
  color: #333333;
  padding-left: 13px;
}
.order_refund_001 .group .order-list-add .order-name a {
  color: #333333;
}
.order_refund_001 .group .order-list-add .order-name a:hover {
  color: #bbbbbb;
}
.order_refund_001 .order-list-add {
  clear: both;
  width: 100%;
  padding-top: 15px;
  position: relative;
}
.order_refund_001 .order-list-add {
  zoom: 1;
}
.order_refund_001 .order-list-add:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.order_refund_001 .order-list-add .red {
  color: #dd0000;
}
.order_refund_001 .order-list-add {
  zoom: 1;
}
.order_refund_001 .order-list-add:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.order_refund_001 .refund-tip {
  font-size: 0.9em;
  color: #666666;
  line-height: 1.6;
}
.order_refund_001 .refund-actions {
  width: 100%;
  text-align: center;
  margin: 25px 0;
}
.order_refund_001 .refund-actions .button {
  margin: 0 20px;
}
.order_refund_001 .refund-actions .button:active, .order_refund_001 .refund-actions .button.on-touch {
  color: white;
}
.order_refund_001 .order-help {
  padding: 30px 10px 20px 0;
  font-size: 0.85em;
}
.order_refund_001 .order-help {
  zoom: 1;
}
.order_refund_001 .order-help:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.order_refund_001 .order-help h5 {
  display: block;
  float: left;
  margin-right: 20px;
}
.order_refund_001 .order-help a {
  margin-right: 20px;
  display: block;
  float: left;
}
@media only screen and (max-width: 1241px) {
  .order_refund_001 {
    padding: 0 15px;
  }
  .order_refund_001 .order-list .order-name {
    width: 35%;
  }
  .order_refund_001 .order-list .order-list-r {
    width: 20%;
  }
  .order_refund_001 .order-list .order-list-rr {
    width: 35.5%;
  }
}
@media only screen and (max-width: 1000px) {
  .order_refund_001 .order-list-block {
    padding: 15px 15px;
  }
  .order_refund_001 .order-list .order-check {
    width: 3%;
  }
  .order_refund_001 .order-list .order-sn {
    width: 3%;
  }
  .order_refund_001 .order-list .order-name {
    width: 53%;
    margin-bottom: 15px;
    margin-right: 0;
  }
  .order_refund_001 .order-list .order-list-r {
    width: 38%;
  }
  .order_refund_001 .order-list .order-list-rr {
    width: 50%;
  }
  .order_refund_001 .order-list .order-price {
    margin-right: 5.5%;
  }
  .order_refund_001 .group .order-list-add .order-name {
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 768px) {
  .order_refund_001 .order-list .order-check {
    width: 4%;
  }
  .order_refund_001 .order-list .order-name {
    width: 91%;
    font-size: 1em;
  }
  .order_refund_001 .order-list .order-list-r {
    width: 100%;
    text-align: right;
    margin-bottom: 12px;
  }
  .order_refund_001 .order-list .order-list-r li {
    font-size: 0.95em;
  }
  .order_refund_001 .order-list .order-list-rr {
    width: 100%;
    text-align: right;
  }
  .order_refund_001 .order-list .order-price {
    width: 115px;
  }
  .order_refund_001 .order-list .order-quantity {
    width: 50px;
  }
  .order_refund_001 .order-list .refund-reason {
    width: 32%;
    margin-right: 2%;
  }
  .order_refund_001 .order-list .refund-reason-other {
    width: 40%;
    margin-right: 2%;
  }
  .order_refund_001 .order-help {
    padding: 30px 10px 20px;
    font-size: 0.95em;
  }
  .order_refund_001 .order-help h5 {
    width: 100%;
  }
  .order_refund_001 .order-help a {
    margin-top: 13px;
  }
}
@media only screen and (max-width: 568px) {
  .order_refund_001 .order-list .order-check {
    width: 7%;
  }
  .order_refund_001 .order-list .order-sn {
    width: 6%;
  }
  .order_refund_001 .order-list .order-name {
    width: 85%;
  }
  .order_refund_001 .order-list .order-list-r {
    width: 100%;
    margin-bottom: 10px;
  }
  .order_refund_001 .order-list .order-list-r li {
    margin-right: 0;
    margin-bottom: 8px;
  }
  .order_refund_001 .order-list .order-list-rr {
    width: 100%;
    text-align: right;
    display: none;
  }
  .order_refund_001 .order-list .order-price {
    width: 100%;
  }
  .order_refund_001 .order-list .order-quantity {
    width: 100%;
    margin-bottom: 0 !important;
  }
  .order_refund_001 .order-list .order-quantity select {
    width: 50px;
    margin-top: 0px;
    height: 35px;
  }
  .order_refund_001 .order-list .refund-reason {
    max-width: 320px;
    margin: 0 0 10px 0;
    height: 35px;
  }
  .order_refund_001 .order-list .refund-reason-other {
    max-width: 350px;
    width: 100%;
    height: 35px;
    margin: 0 0 8px 0;
  }
  .order_refund_001 .order-list .refund-reason-same {
    display: none;
  }
  .order_refund_001 .group .order-list-add .order-name {
    padding-left: 10px;
  }
  .order_refund_001 .refund-actions .button {
    margin: 5px 10px;
  }
}
