.re-banner{
	padding: 0;
	margin: 0;
	font-size: 0;
}
.button-block{
    background: url('../../../img/banner/btn_bac.jpg') no-repeat top left;
    width: 1200px;
    height: 100px;
    padding: 12px;
    margin: 0;
    text-align: center;
}
.button-block a{
    display: inline-block;
    width: 493px;
    height: 70px;
    margin: 0 20px;
}
.button-left{
	background: #cb0012 url('../../../img/banner/btn_left.png') no-repeat center;
    border-bottom: #970000 10px solid;
}
.button-left:hover{
	border-top: #970000 5px solid;
	border-bottom: #970000 5px solid;;
}
.button-right{
	background: #00479d url('../../../img/banner/btn_right.png') no-repeat center;
    border-bottom: #00205e 10px solid;
}
.button-right:hover{
	border-top: #00205e 5px solid;
	border-bottom: #00205e 5px solid;;
}