header {
  background: #eee;
  border-bottom: 1px solid #dfdfdf;
  padding: 20px;
}
header h2 {
  font-size: 24px;
  margin-bottom: 5px;
}
header p {
  color: #999;
  font-size: 13px;
}

.block {
  padding: 30px 80px;
}

.case a {
  display: inline-block;
  margin: 0 1% 1% 0;
  border: 1px solid #6c6c6c;
  padding: 3px;
  position: relative;
  width: 23%;
  height: 0;
  overflow: hidden;
  padding-top: 23%;
  background: #f2f2f2;
}
.case a img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
