.hero {
  border-bottom: 1px solid #cccccc;
  font-size: 0;
}
.hero img {
  width: 100%;
}

.case .theme {
  display: inline-block;
  margin: 0 1% 3% 0;
  border: 1px solid #6c6c6c;
  padding: 3px;
  position: relative;
  width: 23%;
  height: 0;
  overflow: hidden;
  padding-top: 23%;
  background: #f2f2f2;
}
.case .theme img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
