.site-search{
	float: right;
    margin: 22px 0 0 0;
    z-index: 3;
    .form{
        font-size: 0;
    }
    .input-search{
        width:200px;height: 34px;
        border-width: 1px;
        border-style: solid;
        //border: 1px solid $border;
        margin: 0;
        padding:0 55px 0 10px;
        //background: $search_bk;
        //color: $search_text;
        font-size: 14px;
        @include border-radius(30px);
    }
    .btn-submit{
        //background: $search_btn;
        border: none;
        margin: 0;
        height: 34px;
        vertical-align: top;
        cursor: pointer;
        position: absolute;
        right: 1px;
        @include border-radius(30px);
    }
    .icon-search{
        padding:0 6px 2px;
        font-size:1.1em;
        color:#fff;
    }
    .recommend{
        width:200px;height:20px;
        font-size: 0.815em;
        overflow:hidden;
        line-height:1.2;
        >li{
            float: left;
            list-style: none;
            padding: 3px 3px;
            &:first-child{
                padding-left: 0;
            }
        }
        a{
            display:inline-block;
            text-decoration: underline;
            //color: $recommend_link;
            &:hover{
                //color: $primary;
                @include transition(0.3s);
            }
        }
    }
}
.ui-menu {
    padding:2px;
    display:block;
    background: #fff;
    z-index: 4;
    border: 1px solid $search_border;
    max-width: 260px;
    @include border-radius(5px);
        &:after{
            position: absolute;
            top: -8px;
            left: 20px;
            content:'';
            border-style: solid;
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent $nav_bk transparent;
        }
        &:before{
            position: absolute;
            top: -10px;
            left: 20px;
            content:'';
            border-style: solid;
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent $search_border transparent;
        }
    .ui-menu-item {
        width:100%;
        a {
            line-height: 1.6;
            padding: 2px 2px 2px 10px;
            font-size: 14px;
            display: block;
            &:hover {
                border: 1px solid $ui_menu_border;
                background: $ui_menu_bk;
                padding: 1px 1px 1px 9px;
                cursor: pointer;
                @include border-radius(30px);
            }
        }
    }
}
@include RWD(pad-mobile) {
.site-search{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0;
    height: auto;
    padding: 0;
    width: 100%;
    background: white;
    .btn-submit{
        position: absolute;
        z-index: 10;
        right: 0;
        top: 0;
        display: block;
    }
    .input-search {
        margin: 0;
        width: 100%;
        padding-right: 48px;
        //background: $input_bk;
        position: relative;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        //border-bottom: 1px solid $light_gray;
        @include border-radius(0);
    }
    .btn-submit{
        @include border-radius(0);
    }
    .recommend{
        padding-left: 15px;
        margin-bottom: 10px;
        a{
            width: auto;
            margin-right: 10px;
            //color: $recommend_link;
        }
    }
}
.ui-menu {
    z-index: 12;
    max-width: 100%;
}
}