.nav-menu-mobile{
    display: none;
}
@include RWD(pad-mobile) {
.nav-menu-mobile{
    display: block;
    padding-bottom: 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    //border-top: 1px solid $border;
    //border-bottom: 1px solid $border;
    //background: $nav_bk;
    @include clearfix;
    >ul{
        float: right;
        >li{
            float: left;
            cursor: pointer;
            >a, >div{
                padding: 10px 10px 5px;
                margin: 0 2px;
                display: block;
            }
            .m-f-cart{
                position: relative;
                padding-top: 7px;
                padding-bottom: 3px;
                .f-cart{
                    font-size: 1.9em;
                    vertical-align: 0px;
                    margin-top: 0px;                    
                }
            }
        }
    }
    .icon-cart{
        position: relative;
        &:before{
            top: 0px;
        }
    }
    .icon-search,.icon-menu,.icon-account{
         padding: 9px 15px 0;
         font-size:1.7em;
    }
    .count{
        position: absolute;
        top: 4px;
        left: 22px;
        //background: $primary;
        color: white;
        font-style: normal;
        font-size: 14px;
        padding: 2px 5px;
        z-index: 3;
        @include border-radius (50%);
    }
}
}
