@include RWD(desktop-all) {
.nav-menu{
    border-top: 1px solid #cccccc;
    padding-top: 18px;
    margin-top: 15px;
    //margin-top: 35px;
    float: left;
    .container{
        width: auto;
    }
    .menu-one{
        @include clearfix;
        >li{
            position: relative;
            float: left;
            a{
                display: block;
                padding: 6px 20px 20px;
                //padding: 6px 20px 27px;
                border-bottom: 3px solid transparent;
                //color: $nav_text;
                &.current{
                    border-bottom-width: 3px;
                    border-bottom-style: solid;                    
                    //border-bottom: 3px solid $primary;
                }
                &:hover{
                    //color: $primary;
                    @include transition(0.3s);
                }
            }
        }
    }
    .menu-two{
        position: absolute;
        top: 93%;
        left: 0px;
        border-width: 1px;        
        border-style: solid;
        border-top-width: 2px;      
        //border: 1px solid $primary;
        //border-top: 2px solid $primary;
        z-index: 5;
        &:after{
            position: absolute;
            top: -8px;
            left: 34px;
            content:'';
            border-style: solid;
            border-width: 0 10px 10px 10px;
            //border-color: transparent transparent $nav_bk transparent;
        }
        &:before{
            position: absolute;
            top: -10px;
            left: 34px;
            content:'';
            border-style: solid;
            border-width: 0 10px 10px 10px;
            //border-color: transparent transparent $primary transparent;
        }
        &.mt-right{
            &:after,&:before{
                left: initial;
                right: 34px;
            }
        }
        >li{
            float: none;
            position: relative;
            a{
                padding: 10px 30px 10px 20px;
                min-width: 155px;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                //border-bottom: 1px solid $nav_border;
                white-space: nowrap;
                font-size: 0.9em;
                //background: $nav_bk;
                &:hover, &.active{
                    //color: $primary;
                    @include transition(0.3s);
                }
            }
            &::last-child{
                a{
                    border-bottom: none;
                }
            }
        }
        &:before{
            display: block;
            float: left;
        }
    }
    .menu-three,.menu-four{
        position: absolute;
        float: left;
        top: -1px;
        left: 100%;
        border-width: 1px;
        border-style: solid;
        //border: 1px solid $primary;
        z-index: 5;
        >li{
            float: none;
            position:relative;
            a{
                padding: 10px 60px 10px 20px;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                //border-bottom: 1px solid $nav_border;
                white-space: nowrap;
                font-size: 0.9em;
                &:hover{
                    //color: $primary;
                    @include transition(0.3s);
                }
            }
        }
    }
}
}

@include RWD(desktop-extra) {
.nav-menu{
    width: 776px;
    margin-left: 15px;
    width: 100%;
    margin-left: 0;
}
}

@include RWD(desktop-normal) {
.nav-menu{
    width: 537px;
    li{
        a{
            padding: 6px 13px 30px 13px;
        }
    }
    width: 100%;
}
}

@include RWD(pad-mobile) {
.nav-menu{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    z-index: 10;
    //background: $nav_bk;
    .menu-one{
        >li{
            position: relative;
            a{
                display: block;
                padding: 13px 10px;
                color: #6c6c6c;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                //border-bottom: 1px solid $border;
                &.current{
                }
                &:hover{
                    //color: $primary;
                    @include transition(0.3s);
                }
            }
        }
    }
    .menu-two{
        >li{
            a{
                padding-left: 22px;
                border-left-width: 3px;
                border-left-style: solid;
                //border-left: 3px solid $primary;  
            }
        }
    }
    .menu-three{
        >li{
            list-style: square inside;
            a{
                padding-left: 25px;
                border-left: 3px solid transparent;
            }
        }
    }
    .menu-four{
        >li{
            list-style: square inside;
            a{
                padding-left: 57px;
                border-left: 3px solid transparent;
            }
        }
    }
}
}