@charset "UTF-8";
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  -webkit-transition-property: -webkit-transform, left, top;
  -webkit-transition-duration: 0s;
  -webkit-transform: translate3d(0px, 0, 0);
  -webkit-transition-timing-function: ease;
  -moz-transition-property: -moz-transform, left, top;
  -moz-transition-duration: 0s;
  -moz-transform: translate3d(0px, 0, 0);
  -moz-transition-timing-function: ease;
  -o-transition-property: -o-transform, left, top;
  -o-transition-duration: 0s;
  -o-transform: translate3d(0px, 0, 0);
  -o-transition-timing-function: ease;
  -o-transform: translate(0px, 0px);
  -ms-transition-property: -ms-transform, left, top;
  -ms-transition-duration: 0s;
  -ms-transform: translate3d(0px, 0, 0);
  -ms-transition-timing-function: ease;
  transition-property: transform, left, top;
  transition-duration: 0s;
  transform: translate3d(0px, 0, 0);
  transition-timing-function: ease;
}

.swiper-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  float: left;
}

.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
}

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
}

.pc_left_010 {
  margin-bottom: 20px;
  -webkit-box-shadow: 3px 1px 6px #ddd;
  -moz-box-shadow: 3px 1px 6px #ddd;
  box-shadow: 3px 1px 6px #ddd;
}
.pc_left_010 {
  zoom: 1;
}
.pc_left_010:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_left_010 .nav-menu {
  float: left;
  position: relative;
  width: 100%;
  background: #fafafa;
}
.pc_left_010 .title {
  padding: 8px 10px 8px 13px;
  color: white;
  font-size: 16px;
  background: #e00517;
  line-height: 1.3;
  word-break: break-word;
  word-wrap: break-word;
}
.pc_left_010 .menu-one > li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #eee;
  position: relative;
}
.pc_left_010 .menu-one > li:last-child > h3 > a {
  border-bottom: none;
}
.pc_left_010 .menu-one > li:hover {
  background: black;
}
.pc_left_010 .menu-one > li:hover > h3 > a {
  color: white;
}
.pc_left_010 .menu-one > li:hover .menu-expand {
  display: block;
}
.pc_left_010 .menu-one > li > h3 > a {
  position: relative;
  display: block;
  padding: 11px 58px 11px 0;
  margin: 0 13px;
  font-size: 15px;
  font-weight: bold;
  line-height: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-word;
  word-wrap: break-word;
  width: 100%;
  height: 36px;
}
.pc_left_010 .menu-one > li .fa {
  position: absolute;
  right: 0;
  margin: 11px 11px 0 0;
  color: #cccccc;
}
.pc_left_010 .menu-one > li.active {
  background-color: #434040;
  background: #cb60b3;
  background: -moz-linear-gradient(top, #cb60b3 0%, #c146a1 50%, #a80077 51%, #db36a4 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #cb60b3), color-stop(50%, #c146a1), color-stop(51%, #a80077), color-stop(100%, #db36a4));
  background: -webkit-linear-gradient(top, #cb60b3 0%, #c146a1 50%, #a80077 51%, #db36a4 100%);
  background: -o-linear-gradient(top, #cb60b3 0%, #c146a1 50%, #a80077 51%, #db36a4 100%);
  background: -ms-linear-gradient(top, #cb60b3 0%, #c146a1 50%, #a80077 51%, #db36a4 100%);
  background: linear-gradient(to bottom, #cb60b3 0%, #c146a1 50%, #a80077 51%, #db36a4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4', GradientType=0 );
}
.pc_left_010 .menu-one > li.active > h3 > a, .pc_left_010 .menu-one > li.active > h3 > i {
  color: white;
}
.pc_left_010 .menu-one > li .new {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  padding: 11px 5px;
  font-size: 14px;
  background: #ffd23b;
  font-weight: bold;
  font-family: sans-serif;
}
.pc_left_010 .menu-one > li .new:after {
  border-right: 7px solid #ffd23b;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  position: absolute;
  display: inline-block;
  content: "";
  bottom: 13px;
  right: 42px;
}
.pc_left_010 .menu-expand {
  position: absolute;
  top: 0px;
  left: 100%;
  border: 3px solid black;
  background: white;
  width: 1020px;
  padding: 10px;
  z-index: 5;
  font-size: 0;
  display: none;
}
.pc_left_010 .menu-expand {
  zoom: 1;
}
.pc_left_010 .menu-expand:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_left_010 .menu-expand .cate {
  display: inline-block;
  width: 50%;
  padding: 10px;
  vertical-align: top;
  position: relative;
}
.pc_left_010 .menu-expand .cate:hover, .pc_left_010 .menu-expand .cate:hover .menu-more {
  background: #efefef;
}
.pc_left_010 .menu-expand .cate > ul {
  max-height: 85px;
  overflow: hidden;
  padding-right: 55px;
}
.pc_left_010 .menu-expand .cate > ul {
  zoom: 1;
}
.pc_left_010 .menu-expand .cate > ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_left_010 .menu-expand .cate > ul > li {
  float: left;
  margin-right: 20px;
  margin-bottom: 12px;
}
.pc_left_010 .menu-expand .cate > ul > li > a {
  color: #383838;
  width: auto;
  display: inline-block;
}
.pc_left_010 .menu-expand .cate > ul > li > a:hover {
  color: black;
}
.pc_left_010 .menu-expand .cate .menu-more {
  width: 65px;
  text-align: right;
  color: #4498c8;
  position: absolute;
  bottom: 16px;
  right: 15px;
  display: block;
  background: white;
}
.pc_left_010 .menu-expand h4 {
  margin-bottom: 10px;
}
.pc_left_010 .menu-expand h4 > a {
  color: #e00517;
  font-size: 16px;
}
.pc_left_010 .menu-expand a {
  font-size: 14px;
  line-height: 1.3;
  word-break: break-all;
  display: block;
}

.nav-breadcrumbs .container {
  padding: 15px 0;
}
.nav-breadcrumbs .fa {
  margin-right: 8px;
}
.nav-breadcrumbs .index {
  position: relative;
  font-weight: bold;
}
.nav-breadcrumbs .cate {
  display: inline-block;
  font-size: 13px;
}
.nav-breadcrumbs .locate {
  margin-left: 20px;
}
.nav-breadcrumbs .bread-item-name {
  /* font-size: 1.12em;
  font-weight: bold; */
  color: #06c;
}
.nav-breadcrumbs a[itemprop="url"] {
  color: #888;
  text-decoration: underline;
}

@media (max-width: 999px) {
  .nav-breadcrumbs {
    margin: 10px;
  }
}
@media (max-width: 767px) {
  .nav-breadcrumbs {
    margin: 20px 0 10px 10px;
  }
}
.site-activity {
  line-height: 1.4;
}
.site-activity .act-info {
  zoom: 1;
}
.site-activity .act-info:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.site-activity h3 {
  display: block;
  border-width: 1px;
  border-style: solid;
  padding: 3px 5px;
  margin-bottom: 10px;
}
.site-activity h3 {
  zoom: 1;
}
.site-activity h3:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.site-activity .ready {
  display: block;
  float: left;
  padding: 5px 10px;
  color: white;
  letter-spacing: 3px;
}
.site-activity .not {
  display: block;
  float: left;
  padding: 5px 10px;
  margin-bottom: 5px;
  color: white;
  letter-spacing: 3px;
}
.site-activity .act-title, .site-activity .date {
  display: block;
  float: left;
  color: black;
  padding: 5px 5px 5px 10px;
  margin-top: 2px;
  height: 30px;
  overflow: hidden;
  word-wrap: break-word;
}
.site-activity hr {
  margin: 3px 0;
  clear: both;
}
.site-activity .date {
  /* font-size: 12px;
  margin: 5px 0 2px;
  padding: 2px 0;
  text-align: center;
  background: $tip!important; */
  padding: 5px 0;
  font-size: 15px;
}
.site-activity .desc {
  display: block;
  margin-left: 15px;
  /* width: 781px;
  height: 73px; */
}
.site-activity .desc .tip {
  margin: 0 0 20px;
  overflow: hidden;
  word-wrap: break-word;
}
.site-activity .act-content {
  font-size: 18px;
  font-weight: bold;
  margin: 0px 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.site-activity .tip {
  font-size: 0.8em;
}
.site-activity .tip .t-red {
  color: #dd0000;
  font-style: normal;
}
.site-activity .act-cart {
  margin: 0px 0 20px;
}
.site-activity .act-cart {
  zoom: 1;
}
.site-activity .act-cart:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.site-activity .act-cart .swiper-container {
  float: left;
  position: relative;
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  width: 840px;
}
.site-activity .act-cart .swiper-container {
  zoom: 1;
}
.site-activity .act-cart .swiper-container:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.site-activity .act-cart .swiper-container .swiper-slide {
  float: left;
  padding: 5px 10px;
  border-right-width: 1px;
  border-right-style: solid;
}
.site-activity .act-cart .swiper-container .swiper-left, .site-activity .act-cart .swiper-container .swiper-right {
  position: absolute;
  top: 35%;
  left: 0;
  z-index: 10;
  font-size: 13px;
  background: rgba(204, 204, 204, 0.7);
  color: #fff;
  padding: 3px;
}
.site-activity .act-cart .swiper-container .swiper-right {
  left: initial;
  right: 0;
}
.site-activity .act-cart .swiper-container .photo {
  display: inline-block;
  float: left;
  position: relative;
  width: 80px;
  height: 0;
  overflow: hidden;
  padding-top: 80px;
}
.site-activity .act-cart .swiper-container .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.site-activity .act-cart .swiper-container .info {
  float: left;
  margin-left: 5px;
}
.site-activity .act-cart .swiper-container .line {
  padding: 2px 0;
}
.site-activity .act-cart .swiper-container .name {
  font-size: 12px;
  width: 145px;
  height: 32px;
  overflow: hidden;
  word-wrap: break-word;
}
.site-activity .act-cart .swiper-container .currency {
  font-size: 0.7em;
}
.site-activity .act-cart .swiper-container .price {
  font-size: 13px;
}
.site-activity .act-cart .swiper-container .quantity {
  vertical-align: top;
}
.site-activity .act-cart .swiper-container .btn-del {
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
  padding: 4px;
}
.site-activity .act-cart .state {
  float: right;
  display: inline-block;
  vertical-align: top;
  width: 30%;
  border-width: 1px;
  border-style: solid;
  padding: 15px 5px 16px;
}
.site-activity .act-cart .state .progress {
  padding: 15px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.site-activity .act-cart .state .progress-bar-static {
  position: relative;
  background: #eee;
  width: 100%;
  margin-bottom: 5px;
  height: 15px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.site-activity .act-cart .state .progress-bar-static .inner-bar {
  height: 15px;
  background-color: orange;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 15px 15px;
  -moz-background-size: 15px 15px;
  -ms-background-size: 15px 15px;
  -o-background-size: 15px 15px;
  background-size: 15px 15px;
  -webkit-animation: animate-stripes 3s linear infinite;
  -moz-animation: animate-stripes 3s linear infinite;
  -ms-animation: animate-stripes 3s linear infinite;
  -o-animation: animate-stripes 3s linear infinite;
  animation: animate-stripes 3s linear infinite;
}
.site-activity .act-cart .state .progress-bar-static .note, .site-activity .act-cart .state .progress-bar-static .note-finish {
  position: absolute;
  top: -35px;
  left: 0;
  min-width: 100px;
  font-size: 13px;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  padding: 3px 10px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.site-activity .act-cart .state .progress-bar-static .note:after, .site-activity .act-cart .state .progress-bar-static .note-finish:after {
  position: absolute;
  bottom: -8px;
  left: 75%;
  content: '';
  border-style: solid;
  border-width: 10px 10px 0 10px;
}
.site-activity .act-cart .state .progress-bar-static .note:before, .site-activity .act-cart .state .progress-bar-static .note-finish:before {
  position: absolute;
  bottom: -10px;
  left: 75%;
  content: '';
  border-style: solid;
  border-width: 10px 10px 0 10px;
}
.site-activity .act-cart .state .actions {
  font-size: 13px;
}
.site-activity .act-cart .state .actions .current {
  display: inline-block;
  margin-top: 5px;
}
.site-activity .act-cart .state .actions .price {
  font-size: 16px;
}
.site-activity .act-cart .state .actions .button {
  float: right;
}

@-webkit-keyframes animate-stripes {
  /* line 299, ../sass/split/_product_list_events_main_top.scss */
  0% {
    background-position: 0 0;
  }
  /* line 299, ../sass/split/_product_list_events_main_top.scss */
  100% {
    background-position: 60px 0;
  }
}
@-moz-keyframes animate-stripes {
  /* line 302, ../sass/split/_product_list_events_main_top.scss */
  0% {
    background-position: 0 0;
  }
  /* line 302, ../sass/split/_product_list_events_main_top.scss */
  100% {
    background-position: 60px 0;
  }
}
.pc_category_list {
  zoom: 1;
}
.pc_category_list:after, .pc_category_list:before {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_category_list .items {
  margin: 20px -10px 0;
}
.pc_category_list .items {
  zoom: 1;
}
.pc_category_list .items:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_category_list .item {
  float: left;
  width: 25%;
  padding: 8px 10px;
  border: 1px solid transparent;
  height: 400px;
}
.pc_category_list .item:hover {
  border: 1px solid #cccccc;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
.pc_category_list .item:hover .photo {
  opacity: 0.75;
}
.pc_category_list .photo {
  display: block;
  margin-bottom: 7px;
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
  position: relative;
}
.pc_category_list .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.pc_category_list .info {
  height: 126px;
}
.pc_category_list .name {
  font-size: 13px;
  height: 32px;
  line-height: 1.3;
  margin-bottom: 5px;
  color: #888;
  overflow: hidden;
  word-break: break-word;
  word-wrap: break-word;
}
.pc_category_list .type {
  font-size: 12px;
  color: #6c6c6c;
}
.pc_category_list .buy-line {
  text-align: right;
}
.pc_category_list .buy-line .currency {
  font-size: 12px;
  color: #e00517;
  display: inline-block;
  margin-left: 3px;
}
.pc_category_list .buy-line .price {
  font-size: 16px;
  color: #e00517;
  display: inline-block;
  margin-right: 5px;
}
.pc_category_list .buy-actions {
  margin-top: 10px;
  text-align: right;
}
.pc_category_list .quantity {
  margin-right: 5px;
  vertical-align: middle;
}
.pc_category_list .quantity-decrease, .pc_category_list .quantity-increase {
  padding: 2px 4px;
  width: 20px;
}
.pc_category_list .quantity-input {
  height: 22px;
  width: 24px;
  font-size: 12px;
}
.pc_category_list .large {
  font-size: 13px;
  padding: 0 10px;
  line-height: 21px;
  height: 22px;
}
.pc_category_list .highlight {
  font-size: 12px;
  line-height: 1.5;
  margin-top: 5px;
  text-align: right;
}
.pc_category_list.item-list-3 .item {
  width: 33.333%;
  height: 470px;
}
.pc_category_list .tag-status {
  display: none;
  position: absolute;
  bottom: 7px;
  right: 7px;
  z-index: 9;
}
.pc_category_list .commodity-status {
  margin-bottom: 8px;
}
.pc_category_list .commodity-status .ic-tag {
  margin-left: 2px;
}

.site-search-answer .light {
  padding: 0 5px;
}
.site-search-answer h1 {
  line-height: 140%;
  font-size: 1.05em;
  padding-left: 2px;
  margin: 10px 0 10px 0;
}
.site-search-answer p {
  font-size: 0.9em;
  margin-bottom: 15px;
  padding-left: 2px;
}
.site-search-answer p a {
  color: #333;
  text-decoration: underline;
}

@media only screen and (max-width: 999px) {
  .site-search-answer h1 {
    font-size: 1em;
    margin-bottom: 5px;
    padding-left: 15px;
  }
  .site-search-answer p {
    padding-left: 15px;
  }
}
.nav-pagination {
  margin: 30px 0 80px;
  text-align: center;
  clear: both;
}
.nav-pagination ul {
  margin: 0 20px;
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
}
.nav-pagination ul {
  zoom: 1;
}
.nav-pagination ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.nav-pagination li {
  display: inline-block;
}
.nav-pagination li a {
  border-top-width: 1px;
  border-top-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.nav-pagination li:first-child a {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}
.nav-pagination li:last-child a {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  border-right-width: 1px;
  border-right-style: solid;
}
.nav-pagination a {
  line-height: 36px;
  padding: 0 12px;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
}
.nav-pagination a.active {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.nav-pagination a:hover {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.nav-pagination .total {
  margin-top: 20px;
  font-size: 0.8em;
}

.site-sort {
  display: inline-block;
}
.site-sort .sort {
  display: block;
}
.site-sort .sort {
  zoom: 1;
}
.site-sort .sort:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.site-sort .sort li {
  float: left;
  display: block;
}
.site-sort .sort li:last-child a {
  border-right: 1px solid #cccccc;
}
.site-sort .sort li a {
  padding: 10px 20px;
  display: inline-block;
  border: 1px solid #cccccc;
  border-right: 0;
  color: #383838;
  font-size: 13px;
}
.site-sort .sort li a.active {
  color: white;
  background: #e00517;
  border-color: #e00517;
}
.site-sort .sort li a:hover {
  color: #e00517;
  background: #efefef;
}
.site-sort .sort li .fa {
  margin-left: 6px;
}

.site-filter .attr-adv-btn {
  display: block;
  text-align: center;
  margin-bottom: 15px;
  padding: 9px 15px 8px 15px;
  cursor: pointer;
  background: #f7f7f7;
  border: 1px solid #e9e9e9;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.site-filter .attr-adv-btn:hover {
  background: #efefef;
}
.site-filter .attr-adv-btn.a-c-active {
  margin-bottom: 10px;
}
.site-filter .attr-adv-btn.a-c-active .attr-btn-content:before {
  content: "";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
}
.site-filter .attr-btn-content {
  font-size: 14px;
  color: gray;
}
.site-filter .attr-btn-content:before {
  content: "";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
  margin-right: 3px;
}
.site-filter .attr {
  font-size: 0.813em;
  line-height: 250%;
  margin-bottom: 20px;
  display: none;
}
.site-filter .attrcon {
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: #e9e9e9 !important;
  border-top: none;
  padding: 5px 0;
}
.site-filter .attrcon:first-child {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #e9e9e9 !important;
}
.site-filter .attrcon > div, .site-filter .attrcon label {
  display: inline-block;
  vertical-align: middle;
  line-height: 260%;
}
.site-filter .attrcon label.disabled {
  color: #d7d7d7;
  cursor: no-drop;
}
.site-filter .attrcon .colst {
  width: 12%;
  text-align: right;
  margin-right: 20px;
  vertical-align: top;
}
.site-filter .attrcon .colcheck {
  width: 72%;
  line-height: 0;
}
.site-filter .attrcon .colcheck a {
  width: 115px;
  line-height: 200%;
  margin-right: 20px;
  display: inline-block;
  color: #383838;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.site-filter .attrcon .colcheck a:hover {
  text-decoration: underline;
}
.site-filter .attrcon .colcheck .selected {
  color: #e00517;
}
.site-filter .attrcon .all {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  line-height: 140%;
  margin-right: 20px;
}
.site-filter .attrcon .type {
  width: 65px;
  margin-right: 0;
}
.site-filter .attrcon .actions {
  position: absolute;
  right: 5px;
  bottom: 0px;
  vertical-align: bottom;
}
.site-filter .attrcon .actions .colclose {
  display: inline-block;
  margin-left: 10px;
}
.site-filter .attrcon .actions .colclose a {
  color: #333;
  display: inline-block;
}
.site-filter .attrcon .actions .clearcheck {
  margin: 0 0 0 10px;
}
.site-filter .attrcon .actions .tirup, .site-filter .attrcon .actions .tirdown {
  display: inline-block;
  width: 0;
  height: 0;
  position: relative;
  bottom: 1px;
  left: 1px;
  border-style: solid;
  border-width: 0 5px 6px 5px;
  border-color: transparent transparent #333 transparent;
}
.site-filter .attrcon .actions .tirdown {
  border-width: 6px 5px 0 5px;
  border-color: #333 transparent transparent transparent;
}
.site-filter .attrcon label {
  width: 115px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 20px;
}
.site-filter .attrcon input[type="checkbox"] {
  margin-left: 0;
}
.site-filter .attrcon .input-number {
  padding: 0 0 0 3px;
  vertical-align: middle;
  width: 70px;
  height: 22px;
  margin: 0 5px;
}
.site-filter .attrcon.special {
  background: #fffaf9;
}
.site-filter .attrft {
  height: 30px;
  padding-right: 5px;
  text-align: right;
  border-width: 1px;
  border-style: solid;
  border-color: #e9e9e9 !important;
  border-top: none;
}
.site-filter .attrft a {
  color: #4498c8 !important;
}

.result {
  font-size: 1.8em;
  line-height: 140%;
  text-align: center;
  color: #000;
  margin: 2em 0;
  padding: 0 10px;
}

.site-filter-m, .sort-s {
  display: none;
}

.site-left {
  width: 300px;
  margin-right: 20px;
  float: left;
}

.site-main {
  width: 900px;
  float: left;
  position: relative;
}
.site-main .container {
  width: 900px;
}

.pc_category_list .item {
  height: 365px;
}

.pc_category_list.item-list-3 .item {
  height: 450px;
}

.site-activity .act-cart .swiper-container {
  width: 560px;
}
.site-activity .act-cart .state {
  float: left;
  width: 330px;
  margin-left: 10px;
}
.site-activity h3 {
  width: 100%;
}
.site-activity .t-red {
  color: #dd0000;
  font-style: normal;
}

.pc_footer_001 .container {
  width: 1220px;
}
