@charset "UTF-8";
.hide {
  display: none;
}

.container {
  width: 1220px;
  position: relative;
  margin: 0 auto;
}
.container {
  zoom: 1;
}
.container:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.site-body {
  padding-bottom: 40px;
  width: 1220px;
  margin: 0 auto;
}
.site-body {
  zoom: 1;
}
.site-body:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.site-left {
  width: 200px;
  margin-right: 20px;
  float: left;
  margin-top: 10px;
}

.site-main {
  width: 1000px;
  float: left;
  position: relative;
}
.site-main .container {
  width: auto;
}

.nav-breadcrumbs .container {
  padding: 15px 0;
}
.nav-breadcrumbs .fa {
  margin-right: 8px;
}
.nav-breadcrumbs .index {
  position: relative;
  font-weight: bold;
}
.nav-breadcrumbs .cate {
  display: inline-block;
  font-size: 13px;
}
.nav-breadcrumbs .locate {
  margin-left: 20px;
}
.nav-breadcrumbs .bread-item-name {
  /* font-size: 1.12em;
  font-weight: bold; */
  color: #06c;
}
.nav-breadcrumbs a[itemprop="url"] {
  color: #888;
  text-decoration: underline;
}

@media (max-width: 999px) {
  .nav-breadcrumbs {
    margin: 10px;
  }
}
@media (max-width: 767px) {
  .nav-breadcrumbs {
    margin: 20px 0 10px 10px;
  }
}
.item-list .name a {
  color: black;
}
.item-list .currency {
  color: #e00517;
}
.item-list .price {
  color: #e00517;
}

.item_list_four .item:hover {
  border-color: #cccccc;
}
.item_list_four .name {
  color: black;
}
.item_list_four .currency {
  color: #e00517;
}
.item_list_four .price {
  color: #e00517;
}

.nav-breadcrumbs .index {
  color: #e00517;
}
.nav-breadcrumbs .index:after {
  border-color: transparent white transparent transparent;
}
.nav-breadcrumbs .index::before {
  border-color: transparent #e00517 transparent transparent;
}
.nav-breadcrumbs .locate {
  color: #6c6c6c;
}

.nav-pagination li a {
  border-top-color: #cccccc;
  border-left-color: #cccccc;
  border-bottom-color: #cccccc;
}
.nav-pagination li:last-child a {
  border-right-color: #cccccc;
}
.nav-pagination a {
  color: #383838;
}
.nav-pagination a.active {
  background: #e00517;
  color: white;
}
.nav-pagination a:hover {
  background: #efefef;
  color: #e00517;
}
.nav-pagination .total {
  color: #383838;
}

.rwd_other_001 h4 {
  color: black;
}

.site-activity h3 {
  border-color: #cccccc;
}
.site-activity .ready {
  background: #dd0000;
}
.site-activity .not {
  background: #6c6c6c;
}
.site-activity hr {
  border-color: #cccccc;
}
.site-activity .act-content {
  color: #dd0000;
}
.site-activity .swiper-container {
  border-color: #cccccc;
}
.site-activity .swiper-container .swiper-slide {
  border-right-color: #cccccc;
}
.site-activity .swiper-container .currency {
  color: #e00517;
}
.site-activity .swiper-container .price {
  color: #e00517;
}
.site-activity .state {
  border: 1px solid #cccccc;
}
.site-activity .state .progress {
  border-bottom-color: #cccccc;
}
.site-activity .state .inner-bar.finish {
  background-color: #00a8ff;
}
.site-activity .state .note, .site-activity .state .note-finish {
  border-color: #cccccc;
  color: #383838;
  background: white;
}
.site-activity .state .note:after, .site-activity .state .note-finish:after {
  border-color: white transparent transparent transparent;
}
.site-activity .state .note:before, .site-activity .state .note-finish:before {
  border-color: #cccccc transparent transparent transparent;
}
.site-activity .state .note-finish {
  color: #e00517;
}
.site-activity .state .actions.finish {
  color: #e00517;
}

@media (max-width: 999px) {
  .site-activity .swiper-container .swiper-left, .site-activity .swiper-container .swiper-right {
    border-top-color: #cccccc;
    border-right-color: #cccccc;
    background: #F5F5F5;
  }
  .site-activity .state > .tip {
    color: #383838;
  }
}
.site-cart {
  border-color: #cccccc;
  background: white;
}
.site-cart .name {
  color: black;
}
.site-cart .full {
  color: #e00517;
}
.site-cart .full .tag {
  border-color: #e00517;
}
.site-cart .buy {
  color: #e00517;
}
.site-cart .del {
  color: #383838;
}
.site-cart .del:hover {
  color: #e00517;
}
.site-cart .cart-sale .sale-discount {
  color: #e00517;
}
.site-cart .cart-actions {
  border-top-color: #cccccc;
}
.site-cart .total {
  color: #e00517;
}

.error h1 {
  color: black;
}
.error li {
  color: #383838;
}

.site-filter .attrcon {
  border-color: #cccccc;
}
.site-filter .attrcon:first-child {
  border-top-color: #cccccc;
}
.site-filter .attrcon label.disabled {
  color: #d7d7d7;
}
.site-filter .attrcon .colcheck a {
  color: #383838;
}
.site-filter .attrcon .colcheck a.current {
  color: #e00517;
}
.site-filter .attrcon .colcheck .selected {
  color: #e00517;
}
.site-filter .attrcon .actions .colclose a {
  color: #333;
}
.site-filter .attrcon .actions .tirup, .site-filter .attrcon .actions .tirdown {
  border-color: transparent transparent #333 transparent;
}
.site-filter .attrcon .actions .tirdown {
  border-color: #333 transparent transparent transparent;
}
.site-filter .attrft {
  border-color: #cccccc;
}
.site-filter .attrft a {
  color: #333;
}

.filter-s select {
  background: white;
}

.site-search .input-search {
  border-color: #e00517;
  background: white;
  color: #555;
}
.site-search .btn-submit {
  background: #e00517;
}
.site-search .recommend a {
  color: #888;
}

.site-search-answer .light {
  color: #dd0000;
}
.site-search-answer h1 {
  color: #383838;
}
.site-search-answer p {
  color: #383838;
}
.site-search-answer p a {
  color: #333;
}

.site-sort .sort li:last-child a {
  border-right-color: #cccccc;
}
.site-sort .sort li a {
  border-color: #cccccc;
  color: #383838;
}
.site-sort .sort li a.active {
  color: white;
  background: #e00517;
  border: 1px solid #e00517;
}
.site-sort .sort li a:hover {
  border: 1px solid #e00517;
}

.site-float-bar .value .active {
  border-color: #e00;
  color: #e00;
}
.site-float-bar .value .active:after {
  border-color: transparent transparent #e00 transparent;
}

.quantity-alert {
  background: #e00517;
  color: white;
}
.quantity-alert:after {
  border-color: #e00517 transparent transparent transparent;
}

.site-search-answer .light {
  padding: 0 5px;
}
.site-search-answer h1 {
  line-height: 140%;
  font-size: 1.05em;
  padding-left: 2px;
  margin: 10px 0 10px 0;
}
.site-search-answer p {
  font-size: 0.9em;
  margin-bottom: 15px;
  padding-left: 2px;
}
.site-search-answer p a {
  color: #333;
  text-decoration: underline;
}

@media only screen and (max-width: 999px) {
  .site-search-answer h1 {
    font-size: 1em;
    margin-bottom: 5px;
    padding-left: 15px;
  }
  .site-search-answer p {
    padding-left: 15px;
  }
}
.pc_left_002 {
  margin-bottom: 10px;
}
.pc_left_002 .index {
  background: #504f47;
  padding: 10px;
  display: block;
  color: white;
}
.pc_left_002 .trans-btn {
  background: #013da4;
  padding: 11px 10px 8px 32px;
  display: block;
  color: white;
  border-top: 1px solid #cccccc;
  vertical-align: middle;
  position: relative;
  font-size: 15px;
}
.pc_left_002 .trans-btn .trans-icon {
  width: 15px;
  position: absolute;
  top: 11px;
  left: 10px;
}
.pc_left_002 .trans-btn:hover {
  background: #002767;
}
.pc_left_002 .title-h3 {
  background: white;
  color: white;
  font-size: 13px;
  margin: 0;
  padding: 0;
  line-height: 26px;
  word-break: break-word;
  word-wrap: break-word;
  position: relative;
}
.pc_left_002 .title-h3 a {
  color: #333;
  background: #f7f7f7;
  display: block;
  text-align: center;
}
.pc_left_002 .title-h3 a:hover {
  color: #e00517;
}
.pc_left_002 .title-h3-active a {
  color: white;
  background: #e00517;
}
.pc_left_002 .fa {
  margin-right: 6px;
}
.pc_left_002 .side-menu {
  border: 1px solid #cccccc;
  border-top: none;
  font-size: 13px;
  line-height: 140%;
}
.pc_left_002 .side-menu li:first-child h4 {
  border-top: 1px solid #cccccc;
}
.pc_left_002 .side-menu h4 {
  border-bottom: 1px dotted #eee;
  background: white;
  font-size: 13px;
  overflow: hidden;
  padding: 10px 0 10px 8px;
}
.pc_left_002 .side-menu h4 {
  zoom: 1;
}
.pc_left_002 .side-menu h4:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_left_002 .side-menu h4 .fa {
  float: left;
  display: none;
  margin-top: 1px;
}
.pc_left_002 .side-menu h4 a {
  float: left;
  display: block;
  width: 150px;
  color: #333;
  margin-top: -2px;
}
.pc_left_002 .side-menu a {
  color: #333;
  overflow: hidden;
}
.pc_left_002 .side-menu a:hover {
  color: #e00517;
}
.pc_left_002 .side-menu .sec-menu li {
  border-bottom: 1px dotted #eee;
  font-size: 13px;
}
.pc_left_002 .side-menu .sec-menu a {
  display: block;
  color: #888;
  padding: 10px 0 10px 23px;
}
.pc_left_002 .side-menu .sec-menu a:hover {
  background-color: #faeaed;
  color: #e00517;
}
.pc_left_002 .side-menu .sec-menu .active {
  color: #e00517;
  font-weight: bold;
}
.pc_left_002 .side-menu > li:last-child .sec-menu {
  border-bottom: 0;
}

.pc_category_list {
  zoom: 1;
}
.pc_category_list:after, .pc_category_list:before {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_category_list .items {
  margin: 20px -10px 0;
}
.pc_category_list .items {
  zoom: 1;
}
.pc_category_list .items:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_category_list .item {
  float: left;
  width: 25%;
  padding: 8px 10px;
  border: 1px solid transparent;
  height: 400px;
}
.pc_category_list .item:hover {
  border: 1px solid #cccccc;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
.pc_category_list .item:hover .photo {
  opacity: 0.75;
}
.pc_category_list .photo {
  display: block;
  margin-bottom: 7px;
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
  position: relative;
}
.pc_category_list .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.pc_category_list .info {
  height: 126px;
}
.pc_category_list .name {
  font-size: 13px;
  height: 32px;
  line-height: 1.3;
  margin-bottom: 5px;
  color: #888;
  overflow: hidden;
  word-break: break-word;
  word-wrap: break-word;
}
.pc_category_list .type {
  font-size: 12px;
  color: #6c6c6c;
}
.pc_category_list .buy-line {
  text-align: right;
}
.pc_category_list .buy-line .currency {
  font-size: 12px;
  color: #e00517;
  display: inline-block;
  margin-left: 3px;
}
.pc_category_list .buy-line .price {
  font-size: 16px;
  color: #e00517;
  display: inline-block;
  margin-right: 5px;
}
.pc_category_list .buy-actions {
  margin-top: 10px;
  text-align: right;
}
.pc_category_list .quantity {
  margin-right: 5px;
  vertical-align: middle;
}
.pc_category_list .quantity-decrease, .pc_category_list .quantity-increase {
  padding: 2px 4px;
  width: 20px;
}
.pc_category_list .quantity-input {
  height: 22px;
  width: 24px;
  font-size: 12px;
}
.pc_category_list .large {
  font-size: 13px;
  padding: 0 10px;
  line-height: 21px;
  height: 22px;
}
.pc_category_list .highlight {
  font-size: 12px;
  line-height: 1.5;
  margin-top: 5px;
  text-align: right;
}
.pc_category_list.item-list-3 .item {
  width: 33.333%;
  height: 470px;
}
.pc_category_list .tag-status {
  display: none;
  position: absolute;
  bottom: 7px;
  right: 7px;
  z-index: 9;
}
.pc_category_list .commodity-status {
  margin-bottom: 8px;
}
.pc_category_list .commodity-status .ic-tag {
  margin-left: 2px;
}

.pc-category-001 {
  margin-bottom: 10px;
  width: 100%;
  height: auto;
}
.pc-category-001 img {
  max-width: 1000px;
}

.pc-category-005 {
  zoom: 1;
}
.pc-category-005:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc-category-005 .items {
  margin: 10px 0px 0;
  padding: 8px;
  background: #f2f2f2;
  border: 1px solid #cccccc;
  border-left: 0;
  border-right: 0;
}
.pc-category-005 .items {
  zoom: 1;
}
.pc-category-005 .items:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc-category-005 .item {
  float: left;
  width: 33.333%;
  padding: 10px;
  border: 1px solid transparent;
}
.pc-category-005 .item:hover {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
.pc-category-005 .item:hover .photo {
  opacity: 0.75;
}
.pc-category-005 .photo {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
}
.pc-category-005 .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.pc-category-005 .photo img {
  max-width: 360px;
}
.pc-category-005 .info {
  min-height: 143px;
  padding: 8px;
  background: white;
}
.pc-category-005 .name {
  font-size: 13px;
  height: 33px;
  line-height: 1.35;
  margin-bottom: 5px;
  color: black;
  font-weight: bold;
  overflow: hidden;
  word-break: break-word;
  word-wrap: break-word;
}
.pc-category-005 .type {
  font-size: 12px;
  color: #6c6c6c;
}
.pc-category-005 .currency {
  font-size: 12px;
  color: #e00517;
  display: inline-block;
  margin-left: 3px;
}
.pc-category-005 .price {
  font-size: 16px;
  color: #e00517;
  display: inline-block;
  margin-right: 5px;
}
.pc-category-005 .buy-actions {
  margin-top: 10px;
  text-align: right;
}
.pc-category-005 .quantity {
  margin-right: 5px;
  vertical-align: middle;
  background: white;
}
.pc-category-005 .highlight {
  font-size: 12px;
  line-height: 1.5;
  margin-top: 5px;
  text-align: right;
}
.pc-category-005 .large {
  font-size: 13px;
  padding: 0 10px;
  line-height: 21px;
  height: 22px;
}
.pc-category-005 .tag-status {
  position: absolute;
  bottom: 7px;
  right: 7px;
  z-index: 9;
}

.nav-pagination {
  margin: 30px 0 80px;
  text-align: center;
  clear: both;
}
.nav-pagination ul {
  margin: 0 20px;
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
}
.nav-pagination ul {
  zoom: 1;
}
.nav-pagination ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.nav-pagination li {
  display: inline-block;
}
.nav-pagination li a {
  border-top-width: 1px;
  border-top-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.nav-pagination li:first-child a {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}
.nav-pagination li:last-child a {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  border-right-width: 1px;
  border-right-style: solid;
}
.nav-pagination a {
  line-height: 36px;
  padding: 0 12px;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
}
.nav-pagination a.active {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.nav-pagination a:hover {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.nav-pagination .total {
  margin-top: 20px;
  font-size: 0.8em;
}

.site-sort {
  display: inline-block;
}
.site-sort .sort {
  display: block;
}
.site-sort .sort {
  zoom: 1;
}
.site-sort .sort:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.site-sort .sort li {
  float: left;
  display: block;
}
.site-sort .sort li:last-child a {
  border-right: 1px solid #cccccc;
}
.site-sort .sort li a {
  padding: 10px 20px;
  display: inline-block;
  border: 1px solid #cccccc;
  border-right: 0;
  color: #383838;
  font-size: 13px;
}
.site-sort .sort li a.active {
  color: white;
  background: #e00517;
  border-color: #e00517;
}
.site-sort .sort li a:hover {
  color: #e00517;
  background: #efefef;
}
.site-sort .sort li .fa {
  margin-left: 6px;
}

.site-filter .attr-adv-btn {
  display: block;
  text-align: center;
  margin-bottom: 15px;
  padding: 9px 15px 8px 15px;
  cursor: pointer;
  background: #f7f7f7;
  border: 1px solid #e9e9e9;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.site-filter .attr-adv-btn:hover {
  background: #efefef;
}
.site-filter .attr-adv-btn.a-c-active {
  margin-bottom: 10px;
}
.site-filter .attr-adv-btn.a-c-active .attr-btn-content:before {
  content: "";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
}
.site-filter .attr-btn-content {
  font-size: 14px;
  color: gray;
}
.site-filter .attr-btn-content:before {
  content: "";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
  margin-right: 3px;
}
.site-filter .attr {
  font-size: 0.813em;
  line-height: 250%;
  margin-bottom: 20px;
  display: none;
}
.site-filter .attrcon {
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: #e9e9e9 !important;
  border-top: none;
  padding: 5px 0;
}
.site-filter .attrcon:first-child {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #e9e9e9 !important;
}
.site-filter .attrcon > div, .site-filter .attrcon label {
  display: inline-block;
  vertical-align: middle;
  line-height: 260%;
}
.site-filter .attrcon label.disabled {
  color: #d7d7d7;
  cursor: no-drop;
}
.site-filter .attrcon .colst {
  width: 12%;
  text-align: right;
  margin-right: 20px;
  vertical-align: top;
}
.site-filter .attrcon .colcheck {
  width: 72%;
  line-height: 0;
}
.site-filter .attrcon .colcheck a {
  width: 115px;
  line-height: 200%;
  margin-right: 20px;
  display: inline-block;
  color: #383838;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.site-filter .attrcon .colcheck a:hover {
  text-decoration: underline;
}
.site-filter .attrcon .colcheck .selected {
  color: #e00517;
}
.site-filter .attrcon .all {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  line-height: 140%;
  margin-right: 20px;
}
.site-filter .attrcon .type {
  width: 65px;
  margin-right: 0;
}
.site-filter .attrcon .actions {
  position: absolute;
  right: 5px;
  bottom: 0px;
  vertical-align: bottom;
}
.site-filter .attrcon .actions .colclose {
  display: inline-block;
  margin-left: 10px;
}
.site-filter .attrcon .actions .colclose a {
  color: #333;
  display: inline-block;
}
.site-filter .attrcon .actions .clearcheck {
  margin: 0 0 0 10px;
}
.site-filter .attrcon .actions .tirup, .site-filter .attrcon .actions .tirdown {
  display: inline-block;
  width: 0;
  height: 0;
  position: relative;
  bottom: 1px;
  left: 1px;
  border-style: solid;
  border-width: 0 5px 6px 5px;
  border-color: transparent transparent #333 transparent;
}
.site-filter .attrcon .actions .tirdown {
  border-width: 6px 5px 0 5px;
  border-color: #333 transparent transparent transparent;
}
.site-filter .attrcon label {
  width: 115px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 20px;
}
.site-filter .attrcon input[type="checkbox"] {
  margin-left: 0;
}
.site-filter .attrcon .input-number {
  padding: 0 0 0 3px;
  vertical-align: middle;
  width: 70px;
  height: 22px;
  margin: 0 5px;
}
.site-filter .attrcon.special {
  background: #fffaf9;
}
.site-filter .attrft {
  height: 30px;
  padding-right: 5px;
  text-align: right;
  border-width: 1px;
  border-style: solid;
  border-color: #e9e9e9 !important;
  border-top: none;
}
.site-filter .attrft a {
  color: #4498c8 !important;
}

.result {
  font-size: 1.8em;
  line-height: 140%;
  text-align: center;
  color: #000;
  margin: 2em 0;
  padding: 0 10px;
}

.site-filter-m, .sort-s {
  display: none;
}
