.button {
  color: white;
  background: #d00;
}
.button:hover {
  background: #f70000;
}
.button.disabled, .button[disabled] {
  color: #cccccc;
}
.button.btn-rush, .button .btn-addcart, .button .btn-add {
  background: #d00;
  color: white;
}
.button.btn-rush:hover, .button .btn-addcart:hover, .button .btn-add:hover {
  background: #f70000;
}
.button.btn-rush:active, .button.btn-rush.pressed, .button .btn-addcart:active, .button .btn-addcart.pressed, .button .btn-add:active, .button .btn-add.pressed {
  background: #910000;
}
.button.btn-discount, .button.red {
  background: #f90;
}
.button.btn-discount:hover, .button.red:hover {
  background: #ffa31a;
}
.button.btn-discount:active, .button.btn-discount.pressed, .button.red:active, .button.red.pressed {
  background: #b36b00;
}
.button.btn-preorder, .button.yellow {
  background: #ffcc21;
  color: white;
}
.button.btn-preorder:hover, .button.yellow:hover {
  background: #ffd23b;
}
.button.btn-preorder:active, .button.btn-preorder.pressed, .button.yellow:active, .button.yellow.pressed {
  background: #d3a300;
}
.button.gray {
  background: #6c6c6c;
  color: white;
}
.button.gray:hover {
  background: #797979;
}
.button.gray:active, .button.gray.pressed {
  background: #464646;
}
.button.btn-to-sale {
  color: #f90;
}

body {
  color: #383838;
  background: white;
}

a {
  color: #333;
}

.title-h3 {
  color: black;
}
.title-h3 .sub {
  color: #ff8600;
}

.red-text {
  color: #dd0000;
}

input[type='password'], input[type='email'], input[type='tel'], input[type='text'], input[type='number'], input[type='search'] {
  border-color: #cccccc;
  background: white;
  color: black;
}

select {
  background: white;
  color: black;
  border-color: #cccccc;
}

.quantity-alert {
  background: #ff8600;
  color: #383838;
}
.quantity-alert:after {
  border-color: #ff8600 transparent transparent transparent;
}

.quantity .quantity-input {
  border: none;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  color: black;
  background: white;
}
.quantity .quantity-decrease {
  color: black;
  border-color: #cccccc;
}
.quantity .quantity-increase {
  color: black;
  border-color: #cccccc;
}

.fancybox-inner .title {
  background: #ff8600;
}
.fancybox-inner .block .price {
  color: #f60011;
}
.fancybox-inner .block .final-price {
  color: #f60011;
}
.fancybox-inner .name {
  color: #ff8600;
}

.cart-mark {
  background: black;
  color: #ff8600;
  border: 10px solid rgba(255, 255, 255, 0.3);
}

.site-main .item:hover .name a {
  color: #ff8600;
}

.pc_index_001 .container {
  background: #ff8600;
}

.pc_index_003 .tabs > li.active {
  color: #ff8600;
  border-top: 5px solid #ff8600;
}

.pc_index_013 .tabs-2 > li.active {
  color: #ff8600;
  border-top: 3px solid #ff8600;
}

.pc_index_004 .item:hover {
  border: 1px solid #ff8600;
}

.pc_index_009 .links > li a, .pc_index_014 .links > li a {
  color: #ff8600;
}

.pc_left_001 .title {
  background: #ff8600;
}
.pc_left_001 .menu-expand h4 > a {
  color: #ff8600;
}

.pc_left_002 .index, .pc_left_006 .index, .pc_left_008 .index {
  background: #504f47;
}
.pc_left_002 .side-menu a:hover, .pc_left_006 .side-menu a:hover, .pc_left_008 .side-menu a:hover {
  color: #ff8600;
}
.pc_left_002 .side-menu .sec-menu a:hover, .pc_left_006 .side-menu .sec-menu a:hover, .pc_left_008 .side-menu .sec-menu a:hover {
  color: #ff8600;
}
.pc_left_002 .side-menu .sec-menu .active, .pc_left_006 .side-menu .sec-menu .active, .pc_left_008 .side-menu .sec-menu .active {
  color: #ff8600;
}

.pc_left_008 .title-h3 a {
  background: #ffefdd;
}
.pc_left_008 .side-menu {
  background: white;
}
.pc_left_008 .side-menu h4 {
  background: #fffcf8;
}
.pc_left_008 .side-menu h4 a {
  color: #333;
}

.pc_left_002 .title-h3 a, .pc_left_008 .title-h3 a {
  color: #333;
}
.pc_left_002 .title-h3 a:hover, .pc_left_008 .title-h3 a:hover {
  color: #ff8600;
}
.pc_left_002 .title-h3-active a, .pc_left_008 .title-h3-active a {
  color: white;
  background: #ff8600;
}
.pc_left_002 .title-h3-active a:hover, .pc_left_008 .title-h3-active a:hover {
  color: white;
}

.pc_left_007 .side-menu > li {
  border-bottom: 1px dotted #cccccc;
}
.pc_left_007 .side-menu h4 {
  color: #ff8600;
}
.pc_left_007 .sec-menu > li > a:hover {
  color: #ff8600;
}

.pc_market_006 {
  background: #ff8600;
}
.pc_market_006 a:hover {
  background: #ffefdd;
}

.site-filter .attrcon.special {
  background: #fffcf8;
}

.site-search .recommend a:hover {
  color: #ff8600;
}

.site-sort .sort li a:hover {
  color: #ff8600;
  background: white;
}
