html, body {
  padding: 0;
  height: auto;
}

.site-body, .site-main {
  width: 100%;
}

.pc-item-main .photo {
  width: 40%;
  height: 360px;
  padding-top: 75px;
  position: relative;
  overflow: visible;
}
.pc-item-main .photo img {
  max-width: 190px;
  display: block;
  margin: 0 auto;
  position: relative;
}
.pc-item-main .info {
  width: 55%;
  padding: 75px 0 0 10px;
}
.pc-item-main h1.name {
  width: 100%;
  max-height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px 13px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  font-size: 18px;
  color: white;
  background-color: #e00517;
}
.pc-item-main del {
  font-size: 14px;
}
.pc-item-main .line {
  padding: 10px 10px 5px;
  border: none;
}
.pc-item-main .key {
  font-size: 14px;
}
.pc-item-main .feature {
  display: none;
}
.pc-item-main .recomand_price {
  text-align: right;
  width: 100%;
}
.pc-item-main .recomand_price .value {
  width: 160px;
}
.pc-item-main .net_price {
  text-align: right;
  width: 100%;
}
.pc-item-main .net_price .key {
  width: 60px;
}
.pc-item-main .net_price .buy {
  width: 160px;
}
.pc-item-main .buy_button {
  text-align: right;
}
.pc-item-main .value, .pc-item-main .buy {
  width: 70%;
  margin-bottom: 0;
}
.pc-item-main .quantity .quantity-input {
  border: 1px solid #ccc;
  border-right: none;
  border-left: none;
}

@media screen and (max-width: 480px) {
  .pc-item-main .photo img {
    max-width: 300px;
  }
  .pc-item-main .photo, .pc-item-main .info {
    width: 100%;
    padding-top: 70px;
  }
  .pc-item-main .info {
    padding: 10px 10px 0;
  }
  .pc-item-main .value, .pc-item-main .buy {
    width: 100%;
  }
  .pc-item-main .recomand_price .value, .pc-item-main .recomand_price .key {
    width: 100%;
    text-align: right;
  }
  .pc-item-main .net_price .buy, .pc-item-main .net_price .key {
    width: 100%;
    text-align: right;
  }
}
