@charset "UTF-8";
.nav-breadcrumbs .container {
  padding: 15px 0;
}
.nav-breadcrumbs .fa {
  margin-right: 8px;
}
.nav-breadcrumbs .index {
  position: relative;
  font-weight: bold;
}
.nav-breadcrumbs .cate {
  display: inline-block;
  font-size: 13px;
}
.nav-breadcrumbs .locate {
  margin-left: 20px;
}
.nav-breadcrumbs .bread-item-name {
  /* font-size: 1.12em;
  font-weight: bold; */
  color: #06c;
}
.nav-breadcrumbs a[itemprop="url"] {
  color: #888;
  text-decoration: underline;
}

@media (max-width: 999px) {
  .nav-breadcrumbs {
    margin: 10px;
  }
}
@media (max-width: 767px) {
  .nav-breadcrumbs {
    margin: 20px 0 10px 10px;
  }
}
.site-sort {
  display: inline-block;
}
.site-sort .sort {
  display: block;
}
.site-sort .sort {
  zoom: 1;
}
.site-sort .sort:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.site-sort .sort li {
  float: left;
  display: block;
}
.site-sort .sort li:last-child a {
  border-right: 1px solid #cccccc;
}
.site-sort .sort li a {
  padding: 10px 20px;
  display: inline-block;
  border: 1px solid #cccccc;
  border-right: 0;
  color: #383838;
  font-size: 13px;
}
.site-sort .sort li a.active {
  color: white;
  background: #e00517;
  border-color: #e00517;
}
.site-sort .sort li a:hover {
  color: #e00517;
  background: #efefef;
}
.site-sort .sort li .fa {
  margin-left: 6px;
}

.item-list-follow {
  margin-top: 25px;
}
.item-list-follow .follow-list-block {
  position: relative;
  width: 100%;
  height: auto;
  color: #383838;
  padding: 12px 15px;
  margin-bottom: 25px;
  background: white;
  border: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
.item-list-follow .follow-list-block:first-child {
  margin-top: 5px;
}
.item-list-follow .follow-list-block {
  zoom: 1;
}
.item-list-follow .follow-list-block:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.item-list-follow .follow-list {
  width: 100%;
}
.item-list-follow .follow-list {
  zoom: 1;
}
.item-list-follow .follow-list:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.item-list-follow .follow-list .follow-list-content {
  margin-bottom: 15px;
  padding: 0 0px 13px;
  border-bottom: 1px dashed #cccccc;
  position: relative;
}
.item-list-follow .follow-list .follow-list-content {
  zoom: 1;
}
.item-list-follow .follow-list .follow-list-content:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.item-list-follow .follow-list .follow-list-content:last-child {
  border-bottom: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.item-list-follow .follow-list .none-item {
  padding-top: 15px;
  padding-bottom: 15px !important;
  font-size: 1em;
  color: black;
  font-weight: bold;
}
.item-list-follow .follow-list .follow-date, .item-list-follow .follow-list .follow-photo, .item-list-follow .follow-list .follow-name, .item-list-follow .follow-list .follow-list-r li {
  float: left;
  min-height: 20px;
  line-height: 1.5;
  font-size: 0.8em;
}
.item-list-follow .follow-list .follow-date {
  width: 6%;
  margin-right: 1%;
  padding-top: 22px;
}
.item-list-follow .follow-list .follow-photo {
  width: 5.051%;
  margin-right: 1%;
  padding: 0;
}
.item-list-follow .follow-list .follow-photo img {
  width: 100%;
}
.item-list-follow .follow-list .follow-name {
  width: 45%;
  margin-right: 1.9%;
  padding-top: 21px;
  font-weight: bold;
  font-size: 0.93em;
}
.item-list-follow .follow-list .follow-name a {
  color: #383838;
}
.item-list-follow .follow-list .follow-name a:hover {
  color: #e00517;
}
.item-list-follow .follow-list .follow-list-r {
  width: 40%;
  float: right;
  padding-top: 22px;
}
.item-list-follow .follow-list .follow-list-r {
  zoom: 1;
}
.item-list-follow .follow-list .follow-list-r:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.item-list-follow .follow-list .follow-list-r li {
  margin-right: 5%;
  margin-bottom: 3px;
}
.item-list-follow .follow-list .follow-list-r li:last-child {
  margin-right: 0;
}
.item-list-follow .follow-list .follow-price {
  width: 20%;
  text-align: right;
  font-weight: bold;
}
.item-list-follow .follow-list .follow-status {
  width: 22%;
  margin-top: -1px;
}
.item-list-follow .follow-list .follow-notice {
  width: 17%;
}
.item-list-follow .follow-list .follow-notice-date {
  width: 17%;
  text-align: center;
  margin-top: -11px;
}
.item-list-follow .follow-list .follow-notice-date span {
  display: block;
}
.item-list-follow .follow-list .follow-delete {
  width: 4%;
  font-size: 20px !important;
  cursor: pointer;
  margin-top: -4px;
}
.item-list-follow .follow-list .follow-delete:before {
  content: "";
  line-height: 1;
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
}
.item-list-follow .follow-list-info {
  font-size: 0.95em;
  line-height: 1.7;
  padding-bottom: 25px;
  margin-bottom: 15px;
  border-bottom: 1px solid #cccccc;
}
.item-list-follow .follow-list-info ul {
  padding-left: 25px;
}
.item-list-follow .follow-list-info li {
  list-style-type: decimal;
  margin-top: 5px;
}

.nav-pagination {
  margin: 30px 0 80px;
  text-align: center;
  clear: both;
}
.nav-pagination ul {
  margin: 0 20px;
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
}
.nav-pagination ul {
  zoom: 1;
}
.nav-pagination ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.nav-pagination li {
  display: inline-block;
}
.nav-pagination li a {
  border-top-width: 1px;
  border-top-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.nav-pagination li:first-child a {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}
.nav-pagination li:last-child a {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  border-right-width: 1px;
  border-right-style: solid;
}
.nav-pagination a {
  line-height: 36px;
  padding: 0 12px;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
}
.nav-pagination a.active {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.nav-pagination a:hover {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.nav-pagination .total {
  margin-top: 20px;
  font-size: 0.8em;
}
