.hide {
  display: none;
}

.container {
  width: 1220px;
  position: relative;
  margin: 0 auto;
}
.container {
  zoom: 1;
}
.container:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.site-body {
  padding-bottom: 40px;
  width: 1220px;
  margin: 0 auto;
}
.site-body {
  zoom: 1;
}
.site-body:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.site-left {
  width: 200px;
  margin-right: 20px;
  float: left;
  margin-top: 10px;
}

.site-main {
  width: 1000px;
  float: left;
  position: relative;
}
.site-main .container {
  width: auto;
}

.nav-breadcrumbs .container {
  padding: 15px 0;
}
.nav-breadcrumbs .fa {
  margin-right: 8px;
}
.nav-breadcrumbs .index {
  position: relative;
  font-weight: bold;
}
.nav-breadcrumbs .cate {
  display: inline-block;
  font-size: 13px;
}
.nav-breadcrumbs .locate {
  margin-left: 20px;
}
.nav-breadcrumbs .bread-item-name {
  /* font-size: 1.12em;
  font-weight: bold; */
  color: #06c;
}
.nav-breadcrumbs a[itemprop="url"] {
  color: #888;
  text-decoration: underline;
}

@media (max-width: 999px) {
  .nav-breadcrumbs {
    margin: 10px;
  }
}
@media (max-width: 767px) {
  .nav-breadcrumbs {
    margin: 20px 0 10px 10px;
  }
}
.item-list .name a {
  color: black;
}
.item-list .currency {
  color: #e00517;
}
.item-list .price {
  color: #e00517;
}

.item_list_four .item:hover {
  border-color: #cccccc;
}
.item_list_four .name {
  color: black;
}
.item_list_four .currency {
  color: #e00517;
}
.item_list_four .price {
  color: #e00517;
}

.nav-breadcrumbs .index {
  color: #e00517;
}
.nav-breadcrumbs .index:after {
  border-color: transparent white transparent transparent;
}
.nav-breadcrumbs .index::before {
  border-color: transparent #e00517 transparent transparent;
}
.nav-breadcrumbs .locate {
  color: #6c6c6c;
}

.nav-pagination li a {
  border-top-color: #cccccc;
  border-left-color: #cccccc;
  border-bottom-color: #cccccc;
}
.nav-pagination li:last-child a {
  border-right-color: #cccccc;
}
.nav-pagination a {
  color: #383838;
}
.nav-pagination a.active {
  background: #e00517;
  color: white;
}
.nav-pagination a:hover {
  background: #efefef;
  color: #e00517;
}
.nav-pagination .total {
  color: #383838;
}

.rwd_other_001 h4 {
  color: black;
}

.site-activity h3 {
  border-color: #cccccc;
}
.site-activity .ready {
  background: #dd0000;
}
.site-activity .not {
  background: #6c6c6c;
}
.site-activity hr {
  border-color: #cccccc;
}
.site-activity .act-content {
  color: #dd0000;
}
.site-activity .swiper-container {
  border-color: #cccccc;
}
.site-activity .swiper-container .swiper-slide {
  border-right-color: #cccccc;
}
.site-activity .swiper-container .currency {
  color: #e00517;
}
.site-activity .swiper-container .price {
  color: #e00517;
}
.site-activity .state {
  border: 1px solid #cccccc;
}
.site-activity .state .progress {
  border-bottom-color: #cccccc;
}
.site-activity .state .inner-bar.finish {
  background-color: #00a8ff;
}
.site-activity .state .note, .site-activity .state .note-finish {
  border-color: #cccccc;
  color: #383838;
  background: white;
}
.site-activity .state .note:after, .site-activity .state .note-finish:after {
  border-color: white transparent transparent transparent;
}
.site-activity .state .note:before, .site-activity .state .note-finish:before {
  border-color: #cccccc transparent transparent transparent;
}
.site-activity .state .note-finish {
  color: #e00517;
}
.site-activity .state .actions.finish {
  color: #e00517;
}

@media (max-width: 999px) {
  .site-activity .swiper-container .swiper-left, .site-activity .swiper-container .swiper-right {
    border-top-color: #cccccc;
    border-right-color: #cccccc;
    background: #F5F5F5;
  }
  .site-activity .state > .tip {
    color: #383838;
  }
}
.site-cart {
  border-color: #cccccc;
  background: white;
}
.site-cart .name {
  color: black;
}
.site-cart .full {
  color: #e00517;
}
.site-cart .full .tag {
  border-color: #e00517;
}
.site-cart .buy {
  color: #e00517;
}
.site-cart .del {
  color: #383838;
}
.site-cart .del:hover {
  color: #e00517;
}
.site-cart .cart-sale .sale-discount {
  color: #e00517;
}
.site-cart .cart-actions {
  border-top-color: #cccccc;
}
.site-cart .total {
  color: #e00517;
}

.error h1 {
  color: black;
}
.error li {
  color: #383838;
}

.site-filter .attrcon {
  border-color: #cccccc;
}
.site-filter .attrcon:first-child {
  border-top-color: #cccccc;
}
.site-filter .attrcon label.disabled {
  color: #d7d7d7;
}
.site-filter .attrcon .colcheck a {
  color: #383838;
}
.site-filter .attrcon .colcheck a.current {
  color: #e00517;
}
.site-filter .attrcon .colcheck .selected {
  color: #e00517;
}
.site-filter .attrcon .actions .colclose a {
  color: #333;
}
.site-filter .attrcon .actions .tirup, .site-filter .attrcon .actions .tirdown {
  border-color: transparent transparent #333 transparent;
}
.site-filter .attrcon .actions .tirdown {
  border-color: #333 transparent transparent transparent;
}
.site-filter .attrft {
  border-color: #cccccc;
}
.site-filter .attrft a {
  color: #333;
}

.filter-s select {
  background: white;
}

.site-search .input-search {
  border-color: #e00517;
  background: white;
  color: #555;
}
.site-search .btn-submit {
  background: #e00517;
}
.site-search .recommend a {
  color: #888;
}

.site-search-answer .light {
  color: #dd0000;
}
.site-search-answer h1 {
  color: #383838;
}
.site-search-answer p {
  color: #383838;
}
.site-search-answer p a {
  color: #333;
}

.site-sort .sort li:last-child a {
  border-right-color: #cccccc;
}
.site-sort .sort li a {
  border-color: #cccccc;
  color: #383838;
}
.site-sort .sort li a.active {
  color: white;
  background: #e00517;
  border: 1px solid #e00517;
}
.site-sort .sort li a:hover {
  border: 1px solid #e00517;
}

.site-float-bar .value .active {
  border-color: #e00;
  color: #e00;
}
.site-float-bar .value .active:after {
  border-color: transparent transparent #e00 transparent;
}

.quantity-alert {
  background: #e00517;
  color: white;
}
.quantity-alert:after {
  border-color: #e00517 transparent transparent transparent;
}

.nav-pagination {
  margin: 30px 0 80px;
  text-align: center;
  clear: both;
}
.nav-pagination ul {
  margin: 0 20px;
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
}
.nav-pagination ul {
  zoom: 1;
}
.nav-pagination ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.nav-pagination li {
  display: inline-block;
}
.nav-pagination li a {
  border-top-width: 1px;
  border-top-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.nav-pagination li:first-child a {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}
.nav-pagination li:last-child a {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  border-right-width: 1px;
  border-right-style: solid;
}
.nav-pagination a {
  line-height: 36px;
  padding: 0 12px;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
}
.nav-pagination a.active {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.nav-pagination a:hover {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.nav-pagination .total {
  margin-top: 20px;
  font-size: 0.8em;
}

.site-sort {
  display: inline-block;
}
.site-sort .sort {
  display: block;
}
.site-sort .sort {
  zoom: 1;
}
.site-sort .sort:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.site-sort .sort li {
  float: left;
  display: block;
}
.site-sort .sort li:last-child a {
  border-right: 1px solid #cccccc;
}
.site-sort .sort li a {
  padding: 10px 20px;
  display: inline-block;
  border: 1px solid #cccccc;
  border-right: 0;
  color: #383838;
  font-size: 13px;
}
.site-sort .sort li a.active {
  color: white;
  background: #e00517;
  border-color: #e00517;
}
.site-sort .sort li a:hover {
  color: #e00517;
  background: #efefef;
}
.site-sort .sort li .fa {
  margin-left: 6px;
}
