//
// .button
// .button.gray
// .button.large
// .button.medium   // shadow style
// .button.small
// .button.disabled
//
.button {
    //default button style
    cursor: pointer;
    -webkit-appearance: none;
    font-size: 13px;
    color: $button_text;
    text-decoration: none;
    //white-space: nowrap;
    width: auto;
    //text-align: center;
    line-height: 1.6;
    height: auto;
    border: none;
    background: $button;
    padding: 0 .9em;
    margin: 0;
    font-family: '微軟正黑體';
    @include user-select;
    @include inline-block;
    @include transition(0.6s);
    &:hover {
        color: $button_text;
        text-decoration: none;
        background: lighten($button, 5%);
        @include transition(0.6s);
    }
    &.disabled, &[disabled] {
        cursor: default;
        color: $light_gray;
        background: transparent;
         &:active, &.pressed {
            background: transparent;
        }
    }
    &[type=reset], &[type=button], &[type=submit] {
        font-family: inherit;
        border: 0 none;
        margin: 0;
    }
    //active/pressed
    &:active, &.pressed {
        background: darken($button, 15%);
    }
    //default button large style
    &.large {
        font-size: 16px;
        font-weight: bold;
        padding: .37em .9em;
        height: 35px;
        line-height: 1.4;
        letter-spacing: .5px;
        text-align: center;
        @include box-sizing( border-box );
        &:active, &.pressed {
        }
    }
    &.full{
        width: 100%;
    }

    // rush addcart button style
    &.btn-rush, .btn-addcart, .btn-add{
        background: $primary;
        color: $button_text;
        &:hover {
            background: lighten($primary, 5%);
        }
        // active/pressed
        &:active, &.pressed {
            background: darken($primary, 15%);
        }
    }
    //end

    // discount button style
    &.btn-follow-list, &.btn-discount, &.red {
        background: $red;
        &:hover {
            background: lighten($red, 5%);
        }
        // active/pressed
        &:active, &.pressed {
            background: darken($red, 15%);
        }
    }
    //end

    // preorder button style
    &.btn-preorder, &.yellow {
        background: $yellow;
        color: $button_text;
        &:hover {
            background: lighten($yellow, 5%);
        }
        // active/pressed
        &:active, &.pressed {
            background: darken($yellow, 15%);
        }
    }

    // preorder button style
    &.orange {
        background: $orange;
        color: white;
        &:hover {
            background: lighten($orange, 13%);
        }
        // active/pressed
        &:active, &.pressed {
            background: darken($orange, 5%);
        }
    }
    &.orange2 {
        background-color: #ff6600;
         &:hover {
            background: lighten(#ff6600, 13%);
        }
        // active/pressed
        &:active, &.pressed {
            background: darken(#ff6600, 5%);
        }
    }

    // preorder button style
    &.btn-arrival, &.blue {
        background: $blue;
        color: white;
        &:hover {
            background: lighten($blue, 13%);
        }
        // active/pressed
        &:active, &.pressed {
            background: darken($blue, 5%);
        }
    }

    // gray button style
    &.gray {
        background: $gray;
        color: white;
        &:hover {
            background: lighten($gray, 5%);
        }
        &:active, &.pressed {
            background: darken($gray, 15%);
        }
    }
    //預購結束, 已搶購一空, 售完補貨中, 售完, 即將開賣
    &.btn-preorder-finish,&.btn-rush-finish,&.btn-soldout-stock,&.btn-soldout,&.btn-to-sale{
        padding: 0;
        color: gray;
        font-weight:700;
        cursor: default;
        background: transparent;
         &:hover,&:active, &.pressed {
            background: transparent;
        }
        // &:hover{
        //     color: gray;
        // }
    }
    //即將開賣
    &.btn-to-sale{
        color: $orange;
    }
    //請選擇尺寸
    &.btn-select{
    }
    //立即結帳
    &.btn-checkout{
        background: $orange;
    }
}
@-moz-document url-prefix() { 
.button{
    // line-height: 21px;
    // &.large{
    //     line-height: 28px;
    // }
}
}