.site-activity{
	.act-cart{
		.swiper-container{
			.swiper-right{
				left: 815px;
			}
			.quantity{
				height: 24px;
				.quantity-input{
					line-height: 22px;
				}
			}
		}
	}
}
.item-list{
	figcaption{
		.quantity{
			.quantity-input{
				line-height: 22px;
			}
		}
	}
}
.nav-user{
    margin-top: 38px;
	ul>li{
        &.nav-account{
            width: 25px;
            height: 25px;
        }
    }
    .icon-cart{
    	.count{
            top: 0;
    	}
    }
    .account-item{
        top: 20px;
    }
    .main-cart{
        width: 39px;
        height: 25px;
        .cart-item{
            top: 20px;
        }
    }
}
.quantity{
	&.small{
		.quantity-input{
			line-height: 22px;
		}
	}
	.quantity-input{
		line-height: 32px;
	}
}
.site-search{
    padding: 5px\9\0;
    input{
        height: 20px\9\0;
	}
    .recommend{
        margin-top: 10px;
    }
}