/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	padding:0;
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	//remove
}

#fancybox-loading {
  position: fixed;
  top: 0;
  z-index: 8060;
  width: 100%;
  height: 100%;
  background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2032%2032%22%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23ccc%22%3E%0A%20%20%3Cpath%20opacity%3D%22.25%22%20d%3D%22M16%200%20A16%2016%200%200%200%2016%2032%20A16%2016%200%200%200%2016%200%20M16%204%20A12%2012%200%200%201%2016%2028%20A12%2012%200%200%201%2016%204%22/%3E%0A%20%20%3Cpath%20d%3D%22M16%200%20A16%2016%200%200%201%2032%2016%20L28%2016%20A12%2012%200%200%200%2016%204z%22%3E%0A%20%20%20%20%3CanimateTransform%20attributeName%3D%22transform%22%20type%3D%22rotate%22%20from%3D%220%2016%2016%22%20to%3D%22360%2016%2016%22%20dur%3D%220.8s%22%20repeatCount%3D%22indefinite%22%20/%3E%0A%20%20%3C/path%3E%0A%3C/svg%3E%0A%0A) center center no-repeat;

  -webkit-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
}
#fancybox-loading:after {
  position: fixed;
  top: 50%;
  width: 100%;
  margin-top: 20px;
  font-size: 16px;
  color: #aaa;
  text-align: center;
  content: "Loading";
}

.fancybox-close{
	//套用awesome icon
	font-family: FontAwesome;
	-webkit-font-smoothing: antialiased;
	padding: 6px;
	color: white;
	&::before{
		content: "\f00d";
	}
}
.fancybox-close {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 28px;
	height: 30px;
	cursor: pointer;
	z-index: 8040;
	background: #333;
	@include border-radius(50%);
	border: 2px solid #fff;
	-webkit-box-shadow: -1px 1px 3px #555;
	-moz-box-shadow: -1px 1px 3px #555;
	box-shadow: -1px 1px 3px #555;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('../../../../../../c/img/frame/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		// background-image: url('../../../../../../../c/img/frame/fancybox_sprite@2x.png');
		background-size: 44px 44px; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading div {
		background-image: url('../../../../../../../c/img/frame/fancybox_loading@2x.gif');
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}
//End

//content

// .fancybox-wrap{
// 	border: 10px solid rgba(0,0,0,0.3);
// 	@include border-radius(5px);
// }
.fancybox-inner{
	.title{
		padding: 5px 15px;
		font-weight: bold;
		background: $primary;
		color: white;
		line-height: 180%;
	}
	.block{
		@include clearfix;
		position: relative;
		background: white;
		line-height: 180%;
		padding: 15px;
		img{
			max-width:100%;
		}
		.line{
			font-size: 14px;
			padding: 0 10px;
		}
		.button{
			margin-top: 10px;
			vertical-align: top;
		}
		.key{
			color: $item_name;
			display: inline-block;
			vertical-align: top;
			word-wrap: break-word;
			text-align: justify;
			text-justify: inter-ideograph;
			min-width: 100px;
			max-width: 180px;
		}
		.value{
			display: inline-block;
		}
		.price{
			color: $price;
			font-weight: bold;
		}
		hr{
			margin: 10px 0;
		}
		.product{
			margin-right: 12px;
			display: inline-block;
			vertical-align: top;
		}
		.options{
			max-width: 400px;
			display: inline-block;
			.option{
				margin: 10px 0;
			}
			.key{
				min-width: 40px;
				vertical-align: top;
				display: inline-block;
			}
			.value{
				display: inline-block;
				width: 80%;
				margin-bottom: -8px;
				>li{
					padding: 10px 10px;
					margin: 0 8px 8px 0;
					cursor: pointer;
					min-width: 36px;
					height: 36px;
					border: 1px solid $light_gray;
					display: inline-block;
					font-size: 12px;
					line-height: 14px;
					vertical-align: top;
					&.img{
						padding: 1px;
					}
					img{
						height: 100%;
					}
				}
				.active{
					position: relative;
					border: 1px solid $primary;
					color: $primary;
					&:after{
			            position: absolute;
			            bottom: 0;
			            right: 0;
			            content: '';
			            border-style: solid;
			            border-width: 0 0 15px 15px;
			            border-color: transparent transparent $primary transparent;
			        }
					.type{
						padding: 3px;
					}
					.fa{
						position: absolute;
						right: -1px;
						bottom: -2px;
						color: white;
						font-size: 12px;
						z-index: 5;
						-ms-transform: scale(0.8, 0.8); /* IE 9 */
					    -webkit-transform: scale(0.8, 0.8); /* Chrome, Safari, Opera */
					    transform: scale(0.8, 0.8);
					}
				}
				.disabled{
					position: relative;
					cursor: not-allowed;
					border: 1px dashed $light_gray;
					opacity: 0.5;
					.fa{
						position: absolute;
						right: 2px;
						bottom: 0px;
						color: $light_gray;
						font-size: 16px;
						z-index: 5;
					}
				}
				.item{
					font-size: 13px;
					margin-bottom: 8px;
				}
			}
		}
		.quantity{
			vertical-align: top;
		}
		hr + .line {
			text-align: center;
		}
		.final-price:after {
			content:"";
			display: block;
		}
	}
	.name{
		font-weight: bold;
		//color: $primary;
		margin-right: 5px;
	}
	.actions{
		border-top: 1px solid $border;
		text-align: center;
		margin: 20px 0 0px;
		padding: 15px 0 0;
	}
}

//
.cart-mark, .favorite-mark{
	background: invert($background);
    color: $primary;
    border: 10px solid rgba($background, 0.3);
	padding: 17px 34px;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 20;
	margin-top: -35px;
	margin-left: -84px;
	@include border-radius(5px);
}

@-moz-document url-prefix() {
    .fancybox-inner .block .options .value > li img {
	    margin-right: -4px;
	}
}