.icon-cart{
	@include background2(50px, 50px, 0px, 0px, 0px, 0px);
}
.icon-close{
	@include background2(25px, 25px, -100px, 0px, 0px, 0px);
}
.icon-tag{
	@include background2(166px, 42px, 0px, -200px, 0px, 0px);
}
.icon-tag-gray{
	@include background2(166px, 42px, -167px, -200px, 0px, 0px);
}
//[class^="icon-"]:before,
[class*="icon-"]:before{
	content: "";
	position: relative;
	@include inline-block;
}