@charset "UTF-8";
.site-body {
  padding-bottom: 40px;
  width: 1220px;
  margin: 0 auto;
}
.site-body {
  zoom: 1;
}
.site-body:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.site-left {
  width: 200px;
  margin-right: 20px;
  float: left;
}

.site-main {
  width: 1000px;
  float: right;
}
.site-main .container {
  width: auto;
}

@media (min-width: 1000px) and (max-width: 1237px) {
  .site-body {
    width: 960px;
  }

  .site-left {
    width: 20%;
  }

  .site-main {
    width: 77.9%;
  }
}
@media (max-width: 999px) {
  .site-body {
    width: 100%;
  }

  .site-left, .site-main {
    width: 100%;
    float: none;
  }

  .site-left {
    display: none;
  }
}
/* index共用區塊 開始 */
.site-body {
  padding-bottom: 40px;
}
.site-body .container {
  padding: 0 0 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.site-main .feature li {
  width: 100%;
  word-break: break-all;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.site-main .name {
  font-size: 1.2em;
  height: 53px;
  margin-bottom: 10px;
  overflow: hidden;
  font-weight: 700;
  line-height: 1.4;
  word-wrap: break-word;
  word-break: break-word;
}
.site-main .buy .currency {
  display: inline-block;
  vertical-align: -3px;
}
.site-main .buy .price {
  display: inline-block;
  vertical-align: middle;
}
.site-main .buy .button {
  margin: 5px 0;
}

@media (max-width: 999px) {
  .site-body {
    padding: 0;
  }
  .site-body .container {
    padding: 0;
  }
}
@media (max-width: 999px) {
  .site-main .feature li {
    width: 330px;
  }
}
@media (max-width: 767px) {
  .site-main .feature li {
    width: 180px;
  }
}
@media screen and (max-width: 480px) {
  .site-main .feature li {
    width: 130px;
  }
}
.item .photo {
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  float: left;
}
.item .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

/* index共用區塊 結束 */
.two_column .site-main {
  background: #f7f7f7;
  padding: 15px;
}
.two_column .site-main .container {
  width: auto;
}
