.md_copyright_001 {
	.container {
		margin-top: 20px;
		padding: 0 10px 20px;
		text-align: center;
		color: lighten($text,20);
		font-size: 0.8rem;
		line-height: 1.5;
	}
	.service {
		font-weight: bold;
	}
	a {
		color: lighten($text,20);
		text-decoration: underline;
	}
}