.md_footer_002 {
	.container {
		margin: 20px 0;
		padding: 0 10px;
		text-align: center;
		color: $sub;
		font-size: 0.9rem;
		line-height: 1.5;
	}
	a {
		color: $sub;
		text-decoration: underline;
	}
}