.pc_footer_001{
	padding: 20px 0;
	background: $footer_bk;
	.links{
		text-align: center;
		@include clearfix;
	}
	dl{
		width: 16.30%;
		padding: 15px;
		text-align: left;
		display: inline-block;
		vertical-align: top;
		a {
    		display: inline-block;
    		font-size: 0.8em;
    		line-height: 180%;
    		color: $footer_link;
    		@include transition(0.3s);
    		&:hover{
    			text-decoration: underline;
    			color: $footer_hover;
    			@include transition(0.3s);
    		}
		}
	}
	dt{
    	font-weight: bold;
   		margin-bottom: 10px;
   		font-size: 1em;
   		color: $footer_title;
	}
}