.site-header{
    .logo{
        margin: 20px 0;
        float: left;
        display: inline-block;
        // img{
        //     max-width: 200px;
        // }
    }
    .header-ad{
        position: relative;
        float: right;
        max-width: 300px;
        height: 57px;
        font-size: 0.815em;
        line-height: 1.5;
        margin-top: 20px;
        margin-right:30px;
        overflow: hidden;
    }
}
@include RWD(desktop-normal) {
    .header-ad{
        max-width: 200px!important;
    }
}
@include RWD(pad-mobile) {
	.site-header{
		.logo{
            margin: 0;
            margin-left:23px;
            padding-top: 12px;
            float: none;
		}
        .header-ad{
            display: none;
        }
	}
}
@include RWD(mobile) {
    .site-header{
        .logo{
            margin: 0;
            padding: 10px;
            img {
                width: auto;
                max-width: 100%;
                margin: 0 auto;
            }
        }
    }
}