.edm-act-title {
	width: 100%;
	margin: 15px 0 0;
	padding: 11px 0;
	background-image: url(http://img.uitox.com/A/edm/2016/10/17/201610A17000002/rain0005_blue_02_20161021115202.png);
    background-repeat: no-repeat;
    background-color: #66c7ff;
    background-position: center left;
    overflow: hidden;
    color: #FFF;
	h3{
		display: block;
	    width: 100%;
	    height: auto;
	    line-height: 140%;
	    font-size: 24px;
	    text-align: center;
	    font-weight: 700;
	}
}
