.edm-container {	
	.edm-second-content{		
		.edm-block{
			.edm-box-5{
				width: 100%;
				padding: 15px 2% 0 2%;
				margin-top: -15px;
				background: $brighter_red;
				@include clearfix;
				ul{
					width: 100%;
					@include clearfix;
					li{
						float: left;
						width: 49%;
						line-height: 0;	
						margin-right: 2%;
						margin-bottom: 15px;
						border: 1px solid $bker_grayish;
						background-color: $bkerer_gray;
						display: block;	
						&:nth-child(2n){
							margin-right: 0;
						}						
						img{
							width: 100%;
							height: auto;
						}						
					}
				}
			}	
		}	
	}
}

@media only screen and (max-width: $screen-sm-max){
	.edm-container {	
		.edm-second-content{		
			.edm-block{
				.edm-box-5{					
					ul{
						li{
							float: none;
							width: 100%;
							margin-right: 0;								
						}
					}
				}	
			}	
		}
	}
}