.edm-container {	
	.edm-second-content{		
		.edm-block{
			.edm-box-3{
				width: 100%;
				padding: 15px 2% 0 2%;
				margin-top: -15px;
				background: $brighter_red;
				ul{
					width: 100%;
					@include clearfix;
					li{
						float: left;
						width: 23.4%;
						margin-right: 2.13333%;
						margin-bottom: 15px;
						border: 1px solid $bker_grayish;
						&:nth-child(4n){
							margin-right: 0;
						}
						.item-pic{
							width: 100%;
							line-height: 0;	
							background-color: $bkerer_gray;
							display: block;							
							img{
								width: 100%;
								height: auto;
							}
						}
						figcaption{
							width: 100%;
							padding: 8px 10px 9px 10px;
							background: white;
							border-top: 1px dotted $bker_grayish;
							.item-descript{
								height: 20px;				
								line-height: 1.4;
								margin-bottom: 5px;
								overflow: hidden;
								a{
									width: 100%;
									color: $darker_gray;
									white-space: nowrap;
									text-overflow: ellipsis;
									-o-text-overflow: ellipsis;
									display: block;					
									overflow: hidden;
									&:hover{
										color: $light_gray;
									}					
								}
								.item-name{
									font-size: 1.4em;
									font-weight: bold;
								}					
							}					
							.item-price{
								@include clearfix;
								margin-bottom: 0px;
								del {
									float: right;
									font-size: 1.5em;
									color: #999999;
									text-align: right;
									margin-top: 9px;
									margin-right: 5px;
									display: block;
								}
								.discount-mark{
									float: left;
									letter-spacing: 0;
									color: white;
									font-size: 1.2em;
									font-weight: bold;
									margin-right: 5px;
									margin-top: -1px;
									padding: 4px 3px 3px 3px;
									background: $light_red;
								}
								.sale-price{
									float: left;
									margin-top: 5px;
									margin-right: 5px;
									color: $light_grayish;	
								}
								.discount-price{
									float: right;
									position: relative;
									bottom: 1px;							
									color: $light_red;
									font-family: Verdana,Helvetica;
									overflow: hidden;
									.dollar{
										font-size: 1.5em;
									}
									.price{
										font-size: 2.5em;
										font-weight: bold;
									}
								}
							}
						}
					}
				}
			}		
		}	
	}
}

@media screen and (max-width: $screen-lg-max){
	.edm-container {	
		.edm-second-content{		
			.edm-block{
				.edm-box-3{					
					ul{
						li{							
							figcaption{
								.item-price{
									del {
										float: none;
										font-size: 1.3em;
										text-align: right;
										margin-top: 3px;
										margin-right: 0;
									}									
									.discount-price{
										float: none;
										text-align: right;
										.dollar{
											font-size: 1.4em;
										}
										.price{
											font-size: 2.2em;
										}
									}
								}
							}
						}
					}
				}		
			}	
		}
	}
}
@media only screen and (max-width: $screen-md-max){
	.edm-container {	
		.edm-second-content{		
			.edm-block{
				.edm-box-3{					
					ul{
						li{							
							figcaption{
								.item-price{																	
									.discount-price{										
										.price{
											font-size: 1.8em;
										}
									}
								}
							}
						}
					}
				}		
			}	
		}
	}
}
@media only screen and (max-width: $screen-sm-max){
	.edm-container {	
		.edm-second-content{		
			.edm-block{
				.edm-box-3{					
					ul{
						li{
							width: 49%;
							margin-right: 2%;
							&:nth-child(2n){
								margin-right: 0;
							}					
							figcaption{
								.item-price{							
									.discount-price{
										.price{
											font-size: 2.2em;
										}
									}
								}
							}
						}
					}
				}		
			}	
		}
	}
}