button{
	font-family: "微軟正黑體";
}
.edm-wrap {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	font-family: Arial, Helvetica, "微軟正黑體", "新細明體-ExtB";
}
.edm-content{
	width: 1200px;
	margin: 0 auto;
	padding: 0;
}
.edm-banner {
	position: relative;
	width: 100%;
	height: auto;
	background: transparent;
	img{
		max-width: 1200px;
		margin: 0 auto;
		display: block;
	}	
}
.edm-menu-content{
	position: relative;
	width: 100%;
	height: auto;
	margin: 0;
    text-align: center;
	font-size: 0;
	background: transparent;
	.edm-menu-pic{
		zoom: 1;
		overflow: hidden;
		img{
			//float: left;
			border: 0;
			margin: 0;
		    padding: 0;
		    border: 0;
		    outline: 0;
		    vertical-align: top;
		    background: transparent;
		}
	}
}
.edm-act-block{
	width: 100%;
	margin: -1px 0 0;
    text-align: center;
	background: transparent;
}

.soldout{
	position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    display: none;     
    z-index: 90;
    img{
	    position: relative !important;
	    top: 0;
	    right: 0;
	    width: 100%;
	    height: auto;
	    z-index: 10;
	}
}


/* IE6 */
* html 
	.item-B {
			height: 1%;
		}
/* IE7 */ 
*:first-child+html 
	.item-B { 
		min-height: 1px;
	}

@media screen { 
	@media (min-width: 0px) {
		.edm-menu-content{
			.edm-menu-pic{
				&:after {
					content: ".";	
					display: block;	
					height: 0;	
					visibility: hidden;	
					clear: both;
					min-height: 1px;
				}
				img{
					float: left;
				}
			}
		}
	}
}


@media screen and (max-width: $screen-lg-max){

}
@media only screen and (max-width: $screen-md-max){

}
@media only screen and (max-width: $screen-sm-max){

}