.edm-container {
	width: 100%;
	margin: 0 auto;
	.edm-main-content {
		position: relative;
		width: 100%;
		height: auto;
		margin-bottom: 15px;
		background-position: center top;
		background-repeat: no-repeat;
		.edm-main-img{
			width: 1220px;
			margin: 0 auto;
			display: block;
		}	
	}
	.edm-second-content{
		position: relative;
		max-width: 1220px;
		width: 100%;
		height: auto;
		margin: 0 auto;
		.edm-block{
			position: relative;
			width: 100%;
			height: auto;
			margin-bottom: 15px;
			@include clearfix;
			.edm-title{
				width: 100%;
				height: 70px;
				color: white;
				text-align: center;
				font-size: 3.2em;
				font-weight: bold;
				line-height: 70px;
				letter-spacing: 1px;
				white-space: nowrap;
				padding: 0px 15px;				
				display: block;
				background: $light_red;
				background-position: center top;
				background-repeat: no-repeat;
				@include background-size(cover);
				img{
					width: 100%;
					height: auto;
				}
			}
			.edm-box-1{
				width: 100%;
				height: auto;
				img{
					width: 100%;
					height: auto;
				}
			}	
		}	
	}
	.edm-footer{
		width: 100%;
		background: $gray;
		p{
			max-width: 1200px;
			width: 100%;
			color: white;
			font-size: 1.3em;
			line-height: 1.4;
			text-align: center;
			margin: 0 auto;
			padding: 6px 10px 4px 10px;
			display: block;
		}
	}
}
@media screen and (max-width: $screen-lg-max){
	.edm-container {		
		.edm-second-content{			
			.edm-block{				
				.edm-title{
					height: 60px;
					line-height: 60px;
				}
			}	
		}
	}
}
@media only screen and (max-width: $screen-md-max){
	.edm-container {		
		.edm-second-content{			
			.edm-block{				
				.edm-title{
					font-size: 2.6em;
					height: 55px;
					line-height: 55px;
				}
			}	
		}
	}
}
@media only screen and (max-width: $screen-sm-max){
	.edm-container {
		width: 97%;
		margin-left: 1.5%;
		margin-right: 1.5%;
		.edm-second-content{			
			.edm-block{				
				.edm-title{
					font-size: 2.2em;
					height: 50px;
					line-height: 50px;
				}
			}	
		}
	}
	.edm-footer{
		p{
			font-size: 1.2em;
		}
	}
}