.edm-container {	
	.edm-second-content{		
		.edm-block{
			.edm-box-2{
				width: 100%;
				padding: 15px 2% 0 2%;
				margin-top: -15px;
				background: $brighter_red;
				@include clearfix;
				.edm-box-2-left{
					float: left;
					width: 25%;
					margin-right: 2%;
					border: 1px solid $bker_grayish;
					.item-pic{
						width: 100%;
						line-height: 0;	
						background-color: $bkerer_gray;
						display: block;							
						img{
							width: 100%;
							height: auto;
						}
					}
					figcaption{
						width: 100%;
						padding: 8px 10px 9px 10px;
						background: white;
						border-top: 1px dotted $bker_grayish;
						.item-descript{
							height: 35px;	
							line-height: 1.4;
							margin-bottom: 5px;
							overflow: hidden;
							a{
								width: 100%;
								color: $darker_gray;
								white-space: nowrap;
								text-overflow: ellipsis;
								-o-text-overflow: ellipsis;
								display: block;					
								overflow: hidden;
								&:hover{
									color: $light_gray;
								}					
							}
							.item-name{
								font-size: 1.4em;
								font-weight: bold;
							}					
						}					
						.item-price{
							@include clearfix;
							margin-bottom: 0px;
							del {
								float: right;
								font-size: 1.5em;
								color: #999999;
								text-align: right;
								margin-top: 10px;
								margin-right: 5px;
								display: block;
							}
							.discount-mark{
								float: left;
								letter-spacing: 0;
								color: white;
								font-size: 1.2em;
								font-weight: bold;
								margin-right: 5px;
								margin-top: -1px;
								padding: 4px 3px 3px 3px;
								background: $light_red;
							}
							.sale-price{
								float: left;
								margin-top: 5px;
								margin-right: 5px;
								color: $light_grayish;	
							}
							.discount-price{
								float: right;
								position: relative;
								bottom: 1px;							
								color: $light_red;
								font-family: Verdana,Helvetica;
								overflow: hidden;
								.dollar{
									font-size: 1.5em;
								}
								.price{
									font-size: 2.5em;
									font-weight: bold;
								}
							}
						}
					}					
				}
				.edm-box-2-right{
					float: left;
					width: 73%;
					@include clearfix;
					li{
						float: left;
						width: 32%;
						margin-right: 2%;
						margin-bottom: 15px;
						border: 1px solid $bker_grayish;
						&:nth-child(3n){
							margin-right: 0;
						}
						.item-pic{
							width: 100%;
							line-height: 0;	
							background-color: $bkerer_gray;
							display: block;
							height: 272px;				
							img{
								width: 100%;
								height: auto;
							}
						}
						figcaption{
							width: 100%;
							padding: 8px 10px 9px 10px;
							background: white;
							border-top: 1px dotted $bker_grayish;
							.item-descript{
								height: 20px;				
								line-height: 1.4;
								margin-bottom: 7px;
								overflow: hidden;
								a{
									width: 100%;
									color: $darker_gray;
									white-space: nowrap;
									text-overflow: ellipsis;
									-o-text-overflow: ellipsis;
									display: block;					
									overflow: hidden;
									&:hover{
										color: $light_gray;
									}					
								}
								.item-name{
									font-size: 1.4em;
									font-weight: bold;
								}						
							}					
							.item-price{
								@include clearfix;
								margin-bottom: 0px;
								del {
									float: right;
									font-size: 1.5em;
									color: #999999;
									text-align: right;
									margin-top: 10px;
									margin-right: 5px;
									display: block;
								}
								.discount-mark{
									float: left;
									letter-spacing: 0;
									color: white;
									font-size: 1.2em;
									font-weight: bold;
									margin-right: 5px;
									margin-top: -1px;
									padding: 4px 3px 3px 3px;
									background: $light_red;
								}
								.sale-price{
									float: left;
									margin-top: 5px;
									margin-right: 5px;
									color: $light_grayish;	
								}
								.discount-price{
									float: right;
									position: relative;
									bottom: 1px;							
									color: $light_red;
									font-family: Verdana,Helvetica;
									overflow: hidden;
									.dollar{
										font-size: 1.5em;
									}
									.price{
										font-size: 2.5em;
										font-weight: bold;
									}
								}
							}
						}
					}
				}
			}			
		}	
	}
}

@media only screen and (max-width: 1150px){
	.edm-container {	
		.edm-second-content{		
			.edm-block{
				.edm-box-2{
					.edm-box-2-left{						
						width: 25.3%;
					}			
					.edm-box-2-right{
						width: 72.7%;
					}
				}			
			}	
		}
	}
}
@media screen and (max-width: $screen-lg-max){
	.edm-container {	
		.edm-second-content{		
			.edm-block{
				.edm-box-2{
					.edm-box-2-left{						
						width: 26%;
						figcaption{												
							.item-price{
								del {									
									float: none;
									text-align: right;
									font-size: 1.3em;
									margin-top: 10px;
									margin-right: 0;
								}
								.discount-price{
									float: none;
									text-align: right;
									.dollar{
										font-size: 1.4em;
									}
									.price{
										font-size: 2.2em;
									}
								}
							}
						}					
					}
					.edm-box-2-right{
						width: 72%;						
						li{	
							figcaption{											
								.item-price{
									del {
										float: none;
										text-align: right;
										font-size: 1.3em;
										margin-top: 3px;
									}
									.discount-price{
										float: none;
										text-align: right;
										.dollar{
											font-size: 1.4em;
										}
										.price{
											font-size: 2.2em;
										}
									}
								}
							}
						}
					}
				}			
			}	
		}
	}
}
@media only screen and (max-width: 850px){
	.edm-container {	
		.edm-second-content{		
			.edm-block{
				.edm-box-2{
					.edm-box-2-left{						
						width: 26.5%;
					}			
					.edm-box-2-right{
						width: 71.5%;
					}
				}			
			}	
		}
	}
}
@media only screen and (max-width: $screen-md-max){
	.edm-container {	
		.edm-second-content{		
			.edm-block{
				.edm-box-2{
					.edm-box-2-left{						
						width: 26.3%;
					}			
					.edm-box-2-right{
						width: 71.7%;					
						li{	
							figcaption{											
								.item-price{
									.discount-price{
										.price{
											font-size: 1.8em;
										}
									}
								}
							}
						}
					}
				}			
			}	
		}
	}
}
@media only screen and (max-width: 710px){
	.edm-container {	
		.edm-second-content{		
			.edm-block{
				.edm-box-2{
					.edm-box-2-left{						
						width: 26.7%;
					}			
					.edm-box-2-right{
						width: 71.3%;
					}
				}			
			}	
		}
	}
}
@media only screen and (max-width: 660px){
	.edm-container {	
		.edm-second-content{		
			.edm-block{
				.edm-box-2{
					.edm-box-2-left{						
						width: 27.1%;
					}			
					.edm-box-2-right{
						width: 70.9%;
					}
				}			
			}	
		}
	}
}
@media only screen and (max-width: $screen-sm-max){
	.edm-container {	
		.edm-second-content{		
			.edm-block{
				.edm-box-2{
					.edm-box-2-left{
						display: none;				
					}
					.edm-box-2-right{
						float: none;
						width: 100%;					
						li{	
							width: 49%;
							margin-right: 2%;
							&:nth-child(3n){
								margin-right: 2%;
							}
							&:nth-child(2n){
								margin-right: 0;
							}
							figcaption{											
								.item-price{
									.discount-price{
										.price{
											font-size: 2.2em;
										}
									}
								}
							}
						}
					}
				}			
			}	
		}
	}
}