.act-block-2 {
	width: 100%;
	margin: 0;
	ul{
    	display: block;
		width: 100%;
	    text-align: center;
		padding: 5px 0;
		li{
			width: 32%;
			display: inline-block;
			margin: 5px;
			padding: 5px 6px 2px 7px;
			vertical-align: top;
			background-color: #FFF;
			a{
				display: block;
			}
		}
		&:after {   
			content: ".";   
			display: block; 
			height: 0;  visibility: hidden; clear: both; 
		}
		.photo-block{
			float: left;
			vertical-align: top;
			width: 50%;
			height: auto;
			font-size: 0;
			margin: 2px 0;
			.photo{
		    	margin-bottom: 4px;
			    display: block;
			    width: 100%;
			    height: 0;
			    overflow: hidden;
			    padding-top: 100%;
			    position: relative;
			}
			img{
				position: absolute;
			    left: 0;
			    top: 0;
			    bottom: 0;
			    right: 0;
			    margin: auto;
			    max-width: 100%;
			    max-height: 100%;
			}
		}
		.info-block{
			float: left;
			vertical-align: top;
			width: 50%;
			padding: 0 0 0 10px;
			.info-photo{
				width: 86px;
				height: 86px;
				background-repeat: no-repeat;
			    background-position: center;
			    background-size: contain;
				p{
					color: #404040;
				    font-size: 16px;
				    line-height: 22px;
				    letter-spacing: 2px;
				    text-align: center;
				    padding: 22px 7px 19px 13px;
				    font-family: "微軟正黑體";
				}
			}
			.info-txt{
				margin: 5px 0 0;
			    text-align: left;
				h3{
					display: block;
				    width: 100%;
				    height: 32px;
				    overflow: hidden;
				    color: #000;
				    font-size: 13px;
				    line-height: 16px;
				    margin: 0 0 5px;
				}
				del{
				    display: none;
					padding: 0 0 2px;
				    color: #999;
				}
				p{
					color: #ed1b1a;
					padding: 0 0 2px;
					.currency{
						position: relative;
   						bottom: 1px;
   						font-size: 0.8125em;
					}
					.price{
						font-size: 32px;
					}
				}
				.currency{
					font-size: 12px;
				}
			}
			.item-btn{
				display: block;
			    width: 100%;
				color: #FFF;
				background: #ed1b1a;
				font-size: 15px;
				border: none;
				padding: 0 10px 1px;
			    letter-spacing: 8px;
			    text-align: center;
			    cursor: pointer;
			    line-height: 1.6;
			}
		}
	}
	.item-A{
		background-color: #f0efe0;
		li{
			border: #dae0e5 1px solid;
		}
		.info-block{
			.info-photo{
				background-image: url("../img/edm_block_2/edm-style-A/circle_mark.png");
				p{
					color: #FFF;
				}
			}
		}
	}
	.item-B{
		background-color: #f8efe1;
		li{
			border: #dae0e5 1px solid;
		}
		.info-block{
			.info-photo{
				background-image: url("../img/edm_block_2/edm-style-B/circle_mark.png");
				p{
					color: #FFF;
				}
			}
		}
	}
	.item-C{
		background-color: #ffe09d;
		li{
			border: #cacaca 1px solid;
		}
		.info-block{
			.info-photo{
				background-image: url("../img/edm_block_2/edm-style-C/circle_mark.png");
				p{
					color: #FFF;
				}
			}
		}
	}
}

