.act-block-3 {
	width: 100%;
	margin: 0;
	
	@import "edm_block_3/_edm-style-A.scss";
	@import "edm_block_3/_edm-style-B.scss";
	@import "edm_block_3/_edm-style-C.scss";
	@import "edm_block_3/_edm-style-D.scss";
	@import "edm_block_3/_edm-style-E.scss";
	@import "edm_block_3/_edm-style-F.scss";
}

