.icon-search{
         font-size:1.7em;
}
.site-search{
    float: right;
    margin: 22px 10px 0 0;
    z-index: 3;
    .form{
        font-size: 0;
        border-width: 1px;
        border-style: solid; 
        //border: 1px solid $border;
        //background: $search_bk;
    }
    .input-search{
        border: 0px;
        height: 34px;
    	margin: 0;
    	padding-left: 10px;
    	width: 164px;
        //background: $search_bk;
        //color: $text;
        font-size: 14px;
	}
    .btn-submit{
        //background: $search_bk;
        border: none;
        margin: 0;
        height: 34px;
        vertical-align: top;
        cursor: pointer;
    }
    .recommend{
        width:175px;height:20px;
        font-size: 0.815em;
        overflow:hidden;
        line-height:1.2;
        >li{
            float: left;
            list-style: none;
            padding: 3px 3px;
            &:first-child{
                padding-left: 0;
            }
        }
        a{
            display:inline-block;
            text-decoration: underline;
            //color: $recommend_link;
            &:hover{
                //color: $primary;
                @include transition(0.3s);
            }
        }
    }
}
.ui-menu {
    padding:2px;
    display:block;
    background: #fff;
    z-index: 4;
    border: 1px solid $search_border;
    max-width: 287px;
    .ui-menu-item {
        width:100%;
        a {
            line-height: 1.6;
            padding: 2px 2px 2px 10px;
            font-size: 14px;
            display: block;
            &:hover {
                border: 1px solid $ui_menu_border;
                background: $ui_menu_bk;
                padding: 1px 1px 1px 9px;
                cursor: pointer;
            }
        }
    }
}
@include RWD(pad-mobile) {
.site-search{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0;
    height: auto;
    padding: 0;
    width: 100%;
    background: #fff;
    .btn-submit{
        height: 40px;
        position: absolute;
        z-index: 10;
        right: 0;
        top: 0;
        display: block;
    }
    .input-search {
        height: 40px;
        margin: 0;
        width: 100%;
        background: #fff;
        position: relative;
        border-bottom-width: 1px;
        border-bottom-style: solid; 
        //border-bottom: 1px solid $border;
    }
    .recommend{
        display:none;
        padding-left: 15px;
        margin-bottom: 10px;
        a{
            width: auto;
            margin-right: 10px;
            //color: $recommend_link;
        }
    }
}
.ui-menu {
    z-index: 12;
    max-width: 100%;
}
}