//-----------------_button
[class*="btn-"]{
    &.btn-buy,&.btn-rush,&.btn-addcart,&.btn-select-size{
        background: $primary;
    }
}
.site-header{
    border-bottom: 2px solid $primary;
    .number{
        background: $primary;
    }
}
.md-site-sliders{
    .swiper-container{
        .swiper-pagination-bullet-active{
            background: $primary;
        }
    }
}  
.t-title{
    background: $primary;
}
.size-block{
    .hlight{
        border: $primary 2px solid;
    }
} 