.site-main{
	.item{
		&:hover{
			.name{
				a{
					color:$primary;
				}
			}
		}
	}
}
.pc_index_001{
	.container{
		background: $primary;
	}
}
.pc_index_003 {
	.tabs{
		>li{
			&.active{
				color:$primary;
				border-top: 5px solid $primary;
			}
		}
	}
}
.pc_index_013{
	.tabs-2{
		>li{
			&.active{
				color:$primary;
				border-top: 3px solid $primary;
			}
		}
	}
}
.pc_index_004{
	.item{
		&:hover{
			border: 1px solid $primary;
		}
	}
}
.pc_index_009,.pc_index_014{
	.links{
		>li{
			a{
				color: $link3;
			}
		}
	}
}

.pc_left_001{
	.title{
		background: $primary;
	}
	.menu-expand{
		h4{
			>a{
				color: $primary;
			}
		}
	}
}
.pc_left_002,.pc_left_006,.pc_left_008{
	.index{
		background: $aside_title;
	}
	.side-menu{
		a{
  			&:hover{
				color: $hover_text;
			}
		}
		.sec-menu{
			a:hover{
				color: $hover_text;
			}
			.active{
				color: $active_bk;
			}
		}
	}
}
.pc_left_008{
	.title-h3{
		a{
			background: $background4;
		}
	}
	.side-menu{
		background: white;
		h4{
			background: $background3;
			a{
				color: #333;
			}
		}
	}
}
.pc_left_002,.pc_left_008{
	.title-h3{
		a{
			color: $link;
			&:hover{
				color: $primary;
			}
		}
	}
	.title-h3-active{
		a{
			color:  white;
			background: $aside_title2;
			&:hover{
				color:  white;
			}
		}
	}
}


//-----------------_pc_left_007
.pc_left_007{
    .side-menu{
        >li{
            border-bottom: 1px dotted $border;
        }
        h4{
            color: $primary;
        }
    }
    .sec-menu{
        >li{
            >a{
                &:hover{
                    color: $primary;
                }
            }
        }
    }
}
//-----------------_pc_left_007 END

//-----------------_pc_market_006
.pc_market_006{
	background: $primary;
	a{
		&:hover{
			background: $background4;
		}
	}
}
//-----------------_pc_market_006 END

//-----------------_pc_site_filter
.site-filter{
	.attrcon{
		&.special{
            background: $special_filter; 
        }

	}
}
//-----------------_pc_site_filter END

//-----------------_site-search
.site-search{
	.recommend{
		a{
            &:hover{
                color: $primary;
            }
        }
    }
}
//-----------------_site-search END

//-----------------_site_sort
.site-sort{
	.sort{
		li{
			a{
				&:hover{
					color: $hover_text;
					background: $background;
				}
			}
		}
	}
}
//-----------------_site_sort END