.pc_category_list_five{
	@include clearfix-ab;
	.items{
		margin: 15px 0px 0;
		padding: 10px;
  		border: 1px solid $light_gray;
  		@include clearfix;
	}
	.item{
		float: left;
		width: 20%;
		//margin-bottom: 10px;
		padding: 10px;
		border: 1px solid transparent;
		height:270px;
		&:hover{
			border: 1px solid $border;
			@include transition(0.6s);
			.photo{
				opacity: 0.75;
			}
		}
	}
	.photo{
		display: block;
		margin-bottom: 7px;
		@include crop(100%, white);
		position: relative;
	}
	.info{
		min-height: 55px;
	}
	.name{
		font-size: 13px;
		height: 32px;
		line-height: 1.3;
		margin-bottom: 5px;
		color: $item_name;
		font-weight: bold;
		overflow: hidden;
		word-break:break-word;
		word-wrap: break-word;
	}
	.type{
		font-size: 12px;
		color: $gray;
	}
	.currency{
		font-size: 12px;
		color: $price;
		display: inline-block;
		margin-left:3px;
	}
	.price{
		font-size: 16px;
		color: $price;
		display: inline-block;
		margin-right: 5px;
	}
	.buy-actions{
		margin-top: 10px;
		text-align: right;
	}
	.quantity{
		margin-right: 5px;
		vertical-align: middle;
	}
	.quantity-decrease,.quantity-increase {
		padding: 2px 4px;
		width: 20px;
	}
	.quantity-input {
		height: 22px;
		width: 24px;
		font-size: 12px;
	}
	.button{
	}
	.large{
		font-size: 13px;
		padding: 0 10px;
		line-height: 21px;
		height: 22px;
	}
	.highlight{
		font-size: 12px;
		line-height: 1.4;
		margin-top: 5px;
		text-align: right;
	}
	&.item-list-3{
		.item{
			width: 33.3%;
			height:460px;
		}
	}
	.tag-status {
		position: absolute;
		bottom: 7px;
		right: 7px;
		z-index: 9;
	}
}
