.pc-category-002{
	@include clearfix;
	.items{
		margin: 10px 0px 0;
		@include clearfix;
	}
	.item{
		float: left;
		width: 50%;
		margin-bottom: 10px;
		padding: 10px;
		border: 1px solid transparent;
		&:hover{
			border: 1px solid $border;
			@include transition(0.6s);
			.photo{
				opacity: 0.75;
			}
		}
	}
	.photo{
		display: block;
		margin-bottom: 7px;
		@include crop(100%, white);
		img{
			max-width: 360px;
		}
	}
	.info{
		min-height: 151px;
	}
	.name{
		font-size: 17px;
		height: 46px;
		line-height: 1.4;
		margin-bottom: 10px;
		color: $item_name;
		font-weight: bold;
		overflow: hidden;
		word-break:break-word;
		word-wrap: break-word;
	}
	.type{
		font-size: 15px;
		color: $gray;
	}
	.currency{
		font-size: 14px;
		color: $price;
		display: inline-block;
		margin-left:3px;
	}
	.price{
		font-size: 22px;
		color: $price;
		display: inline-block;
		margin-right: 5px;
	}
	.buy-actions{
		margin-top: 10px;
		text-align: right;
	}
	.quantity{
		margin-right: 5px;
		vertical-align: middle;
	}
	.button{
	}
	.highlight{
		font-size: 12px;
		line-height: 1.5;
		margin-top: 5px;
		text-align: right;
	}
	.large{
		font-size: 13px;
		padding: 0 10px;
		line-height: 21px;
		height: 22px;
	}
	.tag-status {
		position: absolute;
		bottom: 7px;
		right: 7px;
		z-index: 9;
	}
}
