.item-main_002{
	line-height: 1.9;
	font-size: 14px;
	@include clearfix;
	.item-main-left{
	 	float: left;
	 	width: 40%;
	 	position: relative;
	}
	.photo{
		width: 100%;
		height: 0;
		//width: 40%;
		padding-top: 100%;
		position: relative;
		overflow: hidden;
		float: left;		
		img{
			//width: 100%;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			margin: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	.swiper-slide{
        width: 100%;
        //height: 480px;
        position: relative;
    }
	.photo-other{
		width: 76%;
		margin: 5px auto 0 auto;
		// text-align: center;
		font-size: 0;
		img{
			width: 17%;
			margin: 5px 1.5%;
			opacity: 0.7;
			display: inline-block;
            position: static;
            border: 1px solid $border;
			&:hover{
				opacity: 1;
				border: 2px solid $border;
				cursor: pointer;
			}
			&.active{
				opacity: 1;
				border: 2px solid $border;
				cursor: pointer;
			}
		}
	}
	.info{
		float: left;
		width: 60%;
		padding: 0 10px 0 30px;
	}	
	.name{
		font-size: 1.8em;
		line-height: 1.25;
		text-align: center;
		min-height: 30px;
		margin-bottom: 7px;
		word-wrap:break-word;
		color: $item-name;
	}
	.feature{
		//list-style: square inside;
		padding: 0 10px 7px;
		text-align: center;
		li{
			color: $text;
			font-size: 1em;
			word-wrap:break-word;
		}
	}
	.price-box{
		text-align: center;
		color: $price;
		border-bottom: 1px solid $border;
		padding-bottom: 7px;
	    margin-bottom: 10px;	    
		del{
			display: inline-block;
			font-size: 15px;
			margin: 0 5px 0 0;
			color: $item-name;
			vertical-align: 5px;
		}
	}
	.discount-mark{
		display: inline-block;
		color: white;
		font-size: 12px;
		font-weight: bold;
		margin-right: 3px;
		margin-bottom: 4px;
		padding: 1px 5px;
		background: $price;
	}
	.currency{
		font-size: 15px;
		font-weight: bold;
		//color: $price;
		display: inline-block;
		vertical-align: bottom;
		margin-bottom: 5px;
	}
	.price{
		font-size: 22px;
		font-weight: bold;
		line-height: 1.45;
		//color: $price;
		display: inline-block;
		margin-right: 10px;
		vertical-align: bottom;
		margin-bottom: 5px;
	}
	.line{
		margin-bottom: 5px;
		padding: 5px;
		text-align: center;
		@include clearfix;
	}
	.i-spec{
		.value{
			margin-bottom: 0;
		}
	}	
	.key{
		//color: $item_name;
		display: inline-block;
		vertical-align: middle;
		word-wrap: break-word;
		text-align: right;
		font-size: 0.95em;
		margin-right: 5px;
		padding: 2px 0;
	}
	.quantity-s{
		display: inline-block;
		padding: 3px 3px 1px;
	}
	.buy{
		.button{
			margin-bottom: 10px;
			padding: 5px 0;
			width: 275px;
            height: 35px;
			font-size: 1.3em;
		}
	}
	.follow-share {
		// border-bottom: 1px solid $border;
		padding-bottom: 14px;
	    margin: 0 -5px 4px -5px;
		li{
			display: inline-block;
			font-size: 12px;
			&:after {
				content: "|";
				font-size: 8px;
				color: $border2;
				display: inline-block;
				margin: 0 10px;
				vertical-align: -1px;
			}
			&:last-child{
				&:after{
					font-size:0px;
				}				
			}
		}		
	}	
	.btn-arrival{
		padding: 0;
		background-color:transparent;
		font-weight: bold;
		color: #00a8ff;
		&:before{
			@include icon-font('\f0a2');
			margin-right: 3px;
			font-size: 11px;
			vertical-align: 1px;
		}
		&:hover{			
			background-color:transparent;
			@include opacity(0.6);
			&:before{
				content: '\f0f3';
			}
		}
	}
	.btn-follow-list{
		padding: 0;
		background-color:transparent;
		font-weight: bold;
		color: #d00;
		&:before{
			@include icon-font('\f08a');
			margin-right: 3px;
		}
		&:hover{
			background-color:transparent;
			@include opacity(0.6);
			&:before{
				content: '\f004';
			}			
		}
	}
	.social-plugins{
		display: inline-block;
		vertical-align: -5px;
		.each_plugin{
			display: inline-block;
			margin-right:8px;
			a{
				display: block;
  				font-size: 0;
			}
			img{
				width: 20px;
			}
		}
	}	
	.value{
		display: inline-block;
		margin-bottom: 10px;
		//width:80%;
		position:relative;
		z-index: 0;
		&+.value{
			margin-left: 100px;
		}
		>li{
			padding: 9px 8px;
			margin: 0 8px 8px 0;
			cursor: pointer;
			// min-width: 32px;
			height: 32px;
			border: 1px solid $light_gray;
			display: inline-block;
			font-size: 12px;
			line-height: 14px;
			vertical-align: top;
			position:relative;
			z-index: 0;
			&.img{
				padding: 1px;
			}
			img{
				height: 100%;
				display:block;
				width:28px;
				text-align: center;
				position:relative;
				z-index: 0;
			}
		}
		.active{
			position: relative;
			border: 1px solid $primary;
			color: $primary;
			z-index: 0;
			&:after{
				position: absolute;
				bottom: 0;
				right: 0;
				content: '';
				border-style: solid;
				border-width: 0 0 15px 15px;
				border-color: transparent transparent $primary transparent;
				z-index:10;
	        }
			.type{
				padding: 3px;
			}
			.fa{
				position: absolute;
				right: -1px;
				bottom: -2px;
				color: white;
				font-size: 12px;
				z-index: 99;
				-ms-transform: scale(0.8, 0.8); /* IE 9 */
				-webkit-transform: scale(0.8, 0.8); /* Chrome, Safari, Opera */
				transform: scale(0.8, 0.8);
			}
		}
		.disabled{
			position: relative;
			cursor: not-allowed;
			border: 1px dashed $light_gray;
			.fa{
				position: absolute;
				right: 2px;
				bottom: 0px;
				color: $light_gray;
				font-size: 16px;
				z-index: 3;
			}
		}
		.item{
			display: block;
			margin-right: 15px;
		}
		.name{
			font-size: 13px;
			a{
				margin-right:5px;
			}
		}
	}	
	.i-detail{
		padding: 0 5px;
		margin-bottom: 0;  
		border-top: 1px solid $border;
		li{
			border-bottom: 1px solid $border;
			line-height: 1.95em;
			text-align: center;
			color: $text;
            letter-spacing: 0.1em;
            padding-bottom: 12px;
		}
		.i-d-title{
			padding: 12px 5px 13px 5px;
			font-size: 0.95em;
            line-height: 1.5em;
			width: 100%;
			position: relative;	
			cursor: pointer;		
			&:after{
				@include icon-font('\f0da');
				position: absolute;
				right: 5px;
				top: 14px;
			}
			&.i-d-active{
				color: $item-name;
				font-weight: bold;
				&:after{
					content: '\f0d7';
				}
			}
		}
		.i-d-content{
			padding-bottom: 12px;
			font-size: 0.95em;
			line-height: 1.8;
			display: none;
			&.i-d-active{
				display: block;
			}
		}
	}
}

.item-slider-001 { 
    .pagination {
		width: 100%;
		margin: 5px auto;
		text-align: center;
		display: none;
    }
    .swiper-pagination-switch {
        display: inline-block;
        width: 7px;
        height: 7px;
        border-radius: 10px;
        background: lighten($gray,40);
        margin: 0 3px;
        cursor: pointer;
    }
    .swiper-active-switch {
        width: 30px;
    }
    .arrow {
    	display: none;
        color: lighten($gray,40);
        font-size: 3em;
        top: 45%;
        margin-top: -25px;
        @include opacity(0.5);
        @include transition(all 0.3s ease-out);
        cursor: pointer;
        position: absolute;
        z-index: 1;
        &.arrow-left {
            left: 5px;
        }
        &.arrow-right {
            right: 5px;
        }
        &:hover {
            @include opacity(1);
        }
    }
    @include RWD(pad-mobile) {
        .pagination{
        	display: block;
        }
    }
    @media screen and (max-width: 568px){
    	.pagination{
        	margin: 0 auto
        }
    	.swiper-pagination-switch {
	        width: 5px;
	        height: 5px;
	    }
	    .swiper-active-switch {
	        width: 20px;
	    }
    }
}

@include RWD(desktop-normal) {
.container {
	width: 936px;
}
.item-main_002{	
	.photo-other{
		width: 96.68%;
	}
	figcaption{
		.buy{
			margin-right: 0;
		}
	}
	.add{
		label{
			&.rule{
				width: 348px;
			}
		}
	}
}
}

@include RWD(pad-mobile) {
.item-main_002{
	padding-bottom: 10px;
	.photo{
		width:100%;
		padding-top: 48%;
	}
	.photo-other{
        display: none;
    }
	.item-main-left{
		width: 100%;
	}
	.info{
		width: 100%;
		padding: 15px 0 0;
		.name{
			margin-bottom: 10px;
		}
	}
	.i-detail {
  		padding: 0px;
  	}
}
}
@include RWD(mobile) {
.item-main_002{
	.info{
		.feature{
			li{
				font-size: 12px;
			}
		}
		.buy{
			width: auto;
		}
	}
}
}
@media screen and (max-width: 568px){
.item-main_002{
	.photo{
		padding-top: 65%;
	}
	.info{
		.name{
			font-size: 1.65em;
		}
	}
}
}
@media (max-width: 450px){
.item-main_002{
	.buy{
		.button{
			width: 80%;
  			font-size: 1.2em;
		}
			
	}
}
}