.md-item-share{
	display: inline-block;
	float: right;
	margin-top: -8px;
	a{
		border-radius: 50%;
		width: 34px;
		height: 34px;
		line-height: 34px;
		display: inline-block;
		text-align: center;
		border: 1px solid #ababab;
		color: #ababab;
		&:first-child{
			margin-right: 3px;
			&.active{
				border: 1px solid $primary;
				color: $primary;
			}
		}
	}
}
.md-social-plugins{
	width: 130px;
	ul{
		li{
			width: 100%;
			display: block;
			padding: 10px;
			border-bottom: 1px solid #efefef;
			.fa{
				margin-right: 10px;
			}
			&:last-child{
				border: 0;
			}
		}
	}
}