.md-item-detail {
    .container {
        background: #fff;
        border-bottom: $border 1px solid;
        @include box-shadow(rgba(black,0.1) 0 0 2px);
    }
    .key {
        margin-top: -1px;
        padding: 15px 10px;
        font-size: 1.05rem;
        border-top: 1px solid $border;
        border-bottom: 1px solid $border;
        background: #f9f9f9;
        @include user-select;
        &.active {
            color: #fff;
            background: $gray;
        }
        .fa {
            float: right;
        }
    } 
    .content {
        line-height: 1.8;
        padding: 15px 10px;
        //for editor
        strong, b {
            font-weight: bold;
        }
        i, em {
            font-style: italic;
        }
        u {
            text-decoration: underline;
        }
        img {
            width: 100%;
            height: auto;
            display: block;
            margin: 10px 0;
        }
        p {
            margin: 15px 0;
        }
        iframe {
            max-width: 100%;
            display: block;
            margin: 0 auto;
        }
        li {
            margin-left: 23px;
            list-style-position: outside;
        }
        ul li {
            list-style-type: disc;
        }
        ol li {
            list-style-type: decimal;
        }
        .pic_txt{
            font-size:0;
            .pic_txt_col{
                width:50%;
                padding:2px;
                display:inline-block;
                vertical-align:middle;
                font-size:16px;
                line-height:1.5;
                word-break: break-word;
                word-wrap: break-word;
                img{
                    display:inline;
                }
            }
        }
    }
    .trans-block {
        position: static;
        width: 100%;
        text-align: right;
        margin: -5px 0 10px;
        img {
            width: 20px;
            margin: 0;
        } 
    }
}
@media (max-width: 519px){
.md-item-detail{
    .content{
        .pic_txt{
            .pic_txt_col{
                width: 100%;
            }
        }
    }
}
}