.md-item-main {
	.container {
		line-height: 1.9;
		background: #fff;
	}
	.photo {
		position: relative;
	}
	.swiper-slide {
		img {
			max-width: 100%;
			width: auto;
		}
	}
	.info {
		padding: 10px;
	}
	.sale {
		top: 0;
		left: 0;
		right: 0;
		padding: 5px 10px;
		color: #fff;
		font-size: 0.9rem;
		line-height: 1.3;
		background: rgba(black,0.5);
		position: absolute;
		z-index: 1;
		p {
			display: inline-block;
		}
		.time {
			color: #fff;
			font-weight: bold;
			background: $primary;
			margin: 0 5px;
			padding: 2px 5px;
			display: inline-block;
			li {
				display: inline-block;
			}
			div {
				height: 18px;
				display: inline-block;
				// margin: 0 1px 0 0;
				vertical-align: top;
				line-height: 1.2;
				overflow: hidden;
			}
		}
		.bought {
			margin: 0 5px;
			display: inline-block;
			vertical-align: middle;
		}
		.go-activity {
			color: lighten($yellow,10);
			vertical-align: middle;
			display: inline-block;
		}
	}
	.name {
		color: #000;
		font-size: 1.3rem;
		line-height: 1.5;
		margin-bottom: 5px;
	}
	.tag-status {
		font-size: 0.8rem;
		margin: 0 5px 0 0;
	}
	.price {
		margin: 10px 0;
		font-size: 0.9rem;
		line-height: 1.4;
	}
	.t-original-price {
		color: lighten($text,30);
		text-decoration: line-through;
		margin-left: 5px;
		display: inline-block;
	}
	.t-sale-price {
		color: $price;
		font-size: 1.5rem;
		font-weight: bold;
		margin-left: 5px;
		display: inline-block;
		.t-currency {
			color: $price;
			font-size: 0.8rem;
			font-weight: normal;
			vertical-align: bottom;
			margin-bottom: 4px;
			display: inline-block;
		}
	}
	.discount-mark {
		color: #fff;
		font-size: 0.8rem;
		margin: 0 5px;					
		padding: 0 4px;
		background: $price;
		display: inline-block;
	}
	.line {
		padding: 10px 0;
		border-top: 1px dotted $border2;
		@include clearfix;
	}
	.trans-block {
		text-align: right;
		position: static;
	}
	.item {
		margin-bottom: 8px;
		position: relative;
		.select-style{
			select{
				width:100%;
			}
		}
	}
	.gift {
		min-width: 100%;
		.img-item {
			margin-right: 5px;
			padding: 1px;
			border: transparent 1px solid;
			float: left;
			max-width: 60px;
			max-height: 60px;
		}
		.input-size {
			& + label {
				font-size: 1rem;
				padding: 0;
				border: none;
				display: inline;
				&:before, &:after {
					right: auto;
				}
			}
			&:checked + label {
				&:before {
					left: 44px;
				}
				&:after {
					left: 51px;
				}
				.img-item {
					border-color: $primary;
				}
			}
			&:disabled + label {
				border: none;
				&:after {
					left: 48px;
				}
				.img-item {
					border-color: $light_gray;
					border-style: dashed;
				}
			}
		}
		.select-style {
			margin-top: 5px;
		}
	}
}