.md-item-buy {
	margin: 15px 0;
	text-align: center;
	.item-fee {
		clear: both;
		display: block;
		width: 100%;
		padding-top: 10px;
		color: #000;
	}
	.btn-fee {
		padding: 3px 7px;
        background: lighten($gray,30);
        &:active, &.pressed {
            background: darken($gray,20);
        }
    }
	.t-common {
		font-size: 0.9rem;
		line-height: 1.6;
		margin-top: 10px;
		span {
			margin-right: 20px;
		}
	}	
}
