.site-outter{
	margin-bottom: 40px;
}
.md-item-buy{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	font-size: 0;
	.button{
		float: left;
		vertical-align: top;
		width: 50%;
		height: 40px;
		line-height: 40px;
		font-size: 15px;
	}
}