$swiper-btn: "../../../../../../c/img/sth_asap/swiper-btn.png";
.pc-item-related {	
	.container {
		padding: 0;
		margin: 30px auto;
	}
	.subject-title {
		border-bottom: 1px solid #aaa;
		color: #333;
		font-size: 18px;
		line-height: 20px;
		padding-bottom: 5px;
	}
	.items {
		width: calc(100% - 60px);
		height: auto;
		// border: 1px solid $border2;
		margin: 15px 30px;
		overflow: hidden;
		visibility: hidden;
		position: absolute;
		@include clearfix;
		&.active {
			visibility: visible;
			position: static;
		}
	}
	.item {
		// padding: 0 10px;
		&:hover{
			@include transition(0.6s);
			.photo{
				opacity: 0.75;
			}
		}
	}
	.photo {
		display: block;
		margin-bottom: 7px;
		@include crop(100%, white);
		img {
			width: 100%;
		}
	}
	.name {
		margin-bottom: 7px;
		color: $item_name;
		font-weight: bold;
		font-size: 13px;
		height: 32px;
		line-height: 1.3;
		word-break: break-word;
		word-wrap: break-word;
		overflow: hidden;
	}
	.buy {
		text-align: left;
	}
	.currency {
		font-size: 10px;
		color: $price;
		display: inline-block;
	}
	.price {
		font-size: 14px;
		color: $price;
		display: inline-block;
		margin-right: 10px;
	}
}
.item-slider-002,.item-slider-003,.item-slider-004 {
	// margin: 0 10px;
	@include box-sizing(content-box);
	.pagination {
		width: 100%;
		margin: 5px auto;
		text-align: center;
		display: none;
	}
	.swiper-pagination-switch {
		display: inline-block;
		width: 7px;
		height: 7px;
		border-radius: 10px;
		background: lighten($gray, 40);
		margin: 0 3px;
		cursor: pointer;
	}
	.swiper-active-switch {
		width: 30px;
	}
	.swiper-slide {
		padding: 0 20px 0 0;
	}
	.arrow {
		background: url("#{$swiper-btn}") no-repeat 0 0 scroll transparent;
		width: 25px;
		height: 50px;
		color: lighten($gray, 40);
		font-size: 2.8em;
		top: 45%;
		margin-top: -25px;
		@include opacity(0.8);
		@include transition(all 0.3s ease-out);
		cursor: pointer;
		position: absolute;
		z-index: 1;
		.fa {
			visibility: hidden;
		}
		&.arrow-c-left {
			background-position: left -150px;
			left: 0px;
		}
		&.arrow-c-right {
			background-position: right bottom;
			right: 0px;
		}
		&:hover {
			@include opacity(1);
		}
	}
}
.items {
	.arrow {
		background: url("#{$swiper-btn}") no-repeat 0 0 scroll transparent;
		width: 25px;
		height: 50px;
		color: lighten($gray, 40);
		font-size: 2.8em;
		top: 52%;
		margin-top: -25px;
		@include opacity(0.8);
		@include transition(all 0.3s ease-out);
		cursor: pointer;
		position: absolute;
		z-index: 1;
		.fa {
			visibility: hidden;
		}
		&.arrow-c-left {
			background-position: left -150px;
			left: 0px;
		}
		&.arrow-c-right {
			background-position: right bottom;
			right: 0px;
		}
		&:hover {
			@include opacity(1);
		}
	}
}