$swiper-btn: "../../../../../../c/img/sth_asap/swiper-btn.png";
.pc-item-history {
	margin: 0 auto 20px;
	.subject-title {
		border-bottom: 1px solid #aaa;
		color: #333;
		font-size: 18px;
		line-height: 20px;
		padding-bottom: 5px;
	}
	.content{
		// border-top: 1px solid $border;
		position: relative;
	}
	.num-page {
		position: absolute;
		right: 0;
		top: -27px;
		@include clearfix;
		.num {
			float: left;
			display: block;
			width: 30px;
			border: 1px solid #aaa;
			color: #000;
			font-size: 13px;
			margin: 0 3px 0 0;
			padding: 5px 0 4px;
			text-align: center;
			&.active {
				background-color: #ddd;
			}
		}
	}
	.items {
		width: ( 140px * 6 ) + (20 * 5);
		height: 155px;
		overflow: hidden;
		margin: 0 30px;
		padding: 15px 0;
		position: relative;
		ul {
			width: 99999px;
			position: absolute;
			z-index: 2;
			li {
				float: left;
				width: 140px;
				height: 140px;
				margin-right: 20px;
				a:hover {
					opacity: .7;
				}
				img {
					width: 100%;
				}
			}
		}
	}
	.btn {
		.btn-link {
			background: url("#{$swiper-btn}") no-repeat 0 0 scroll transparent;
			width: 25px;
			height: 50px;
			display: block;
			overflow: hidden;
			text-indent: 100%;
			white-space: nowrap;
			position: absolute;
			top: 60px;
			z-index: 99;
			&.prev {
				background-position: left -150px;
				left: 0px;

			}
			&.next {
				background-position: right bottom;
				right: 0px;
			}
		}
	}
}