.pc-item-add{
	margin: 0 0 25px;
	.container{
		// border: 1px solid $border2;
	}
	.title-h3{
		background: #f5f5f5;
		border: 1px solid #ddd;
		border-bottom: none;
		color: #3b5d69;
		font-size: 12px;
		font-weight: normal;
		margin: 0;
		padding: 5px;
	}
	.items{
		border: 1px solid $border2;
		@include clearfix;
		padding: 15px 10px 10px;
	}
	.item{
		float: left;
		margin-bottom: 15px;
		width: 50%;
		min-height:110px;
	}
	label{
		cursor: pointer;
		color: $text;
	}
	.photo {
		display: inline-block;
		margin-right: 8px;
		vertical-align: middle;
		img {
			max-width: 100px;
			border: 1px solid #ddd;
		}
	}
	.info{
		display: inline-block;
		vertical-align: top;
	}
	.checkbox{
		display: inline-block;
		vertical-align: top;
	}
	.name{
		margin-bottom: 10px;
		color: $item_name;
		font-size: 13px;
		line-height: 1.4;
		height: 38px;
		width: 345px;
		overflow: hidden;
		word-wrap: break-word;
		word-break:break-word;
	}
	.spec{
		margin-right: 5px;
		width: 100px;
		padding: 2px 4px;
		font-size: 12px;
	}
	.buy{
		margin-top: 10px;
	}
	.feature{
		margin-bottom: 10px;
		font-size: 0.85em;
		line-height: 1.6;
	}
	.currency {
		font-size: 12px;
		color: $price;
		// display: inline-block;
	}
	.price {
		font-size: 16px;
		color: $price;
		// display: inline-block;
		margin-right: 10px;
		margin-left: -3px;
	}
	.button{
		vertical-align: top;
	}
	.quantity{
		vertical-align: middle;
	}
	.add-actions{
		// border-top: 1px solid $border2;
		padding: 30px 0;
		text-align: center;
		.quantity {
			vertical-align: bottom;
			margin-right: 10px;
		}
		.button{
			vertical-align: bottom;
		}
	}
}