.pc-item-spec{
	padding-top: 15px;
	margin-top: 30px;
	border-top: 1px solid $border;
	@include clearfix;
	.spec{
		margin: 0 0 15px;
		border-bottom: 1px solid $border;
		padding: 0 0 15px;
		line-height: 1.9;
		font-size: 0.85em;
		word-wrap: break-word;
		position: relative;
	}
	.title-h3 {
		padding: 0px;
		line-height: 1;
	}
}