.pc-item-detail {
    @include clearfix;
    .container{
        margin: 30px auto;
        border-bottom: 1px solid $border;
        padding: 0 0 30px;
    }
    .tabs {
        > li {
            width: calc(100% / 3);
        }
    }
    .center {
        text-align: center;
    }
    img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
    .desc {
        line-height: 1.9;
        margin: 15px 0;
        word-break: break-word;
        word-wrap: break-word;
        iframe{
            display: block;
            margin: 0 auto;
        }
    }
    .pic_txt{
        font-size:0;
        .pic_txt_col{
            width:50%;
            display:inline-block;
            vertical-align:middle;
            font-size:16px;
            line-height:1.5;
            word-break: break-word;
            word-wrap: break-word;
            img{
                display:inline;
            }
        }
    }
}