//單品預設樣式
.title-h3{
	border-left-width: 3px;
	border-left-style: solid; 
	//border-left: 3px solid $primary;
	padding: 3px 0 3px 10px;
	line-height:1;
}
.site-body{
	padding-bottom: 40px;
	.container{
		padding: 10px 0;
	}
}
@include RWD(pad-mobile) {
.site-body{
    padding: 0;
    .container{
    	padding: 0;
    }
}
}