body{
    padding-top: 36px;
}
.site-header{
    position: relative;
    border-bottom: 1px solid $border2;
    @include clearfix;
    &.imported-header{
        .logo{
            margin-top: 12px;
        }
        >.container{
            margin-bottom: 5px;
        }
    }
    >.container{
        margin-bottom: 5px;
        @include clearfix;
    }
    .logo{
        float: left;
        margin-top: 25px;
        margin-right: 15px;
        img{
            max-width: 320px;
            max-height: 45px;
        }
        h1{
            display: none;
        }
        /*.all-number{
            position: relative;
            top: 0;
            right: 3px;
            font-size: 12px;
            text-align: right;
            font-weight: 700;
            font-style: oblique;
            text-shadow:1px 1px 1px #f2f2f2;
            i{
                color: #d00;
                font-size: 12px;
            }
            span{
                font-size: 13px;
                color: #d00;
                font-weight: 700;
            }
        }*/
    }
    .get{
        float: left;
        margin-right: 10px;
        font-size: 0;
    }
    .function-btn{
        float: left;
        margin-right: 5px;
        margin-top: 33px;
        background: $function_btn_bk;
        color: $function_txt;
        font-size: 14px;
        font-weight: bold;
        line-height: 26px;
        height: 25px;
        // display:none;
        @include background-gradient($function_btn_bk,$function_btn_bk2);
        @include border-radius(3px);
        &:hover{
            background: $function_btn_bk2;
        }
        .fa{
            margin-right: 5px;
        }
        span{
            font-family: arial;
            font-weight: normal;
        }
    }
    .function-btn2{
        float: left;
        margin-right: 5px;
        margin-top: 33px;
        background: $function_btn_bk3;
        color: $function_txt2;
        font-size: 14px;
        font-weight: bold;
        line-height: 26px;
        height: 25px;
        // display:none;
        @include background-gradient($function_btn_bk3,$function_btn_bk4);
        @include border-radius(3px);
        &:hover{
            background: $function_btn_bk4;
        }
        .fa{
            margin-right: 5px;
        }
        span{
            font-family: arial;
            font-weight: normal;
        }
    }
}
.site-topbar{
    padding: 7px 0 0 0;
    background: $header_bk;
    border-bottom: 1px solid $light_gray;
    width: 100%;
    min-height: 36px;
    position: fixed;
    top: 0;
    z-index: 99;
    .container{
        max-width: 1220px;
        width: 100%;
    }
    @include clearfix;
    a{
        &:hover{
            color: $primary;
            @include transition(0.3s);
        }
    }
    .cart-btn-top{
        position: relative;
        float: right;
        // display: none;
        //font-size: 0.9em;
        margin-top: -5px;
        &:hover{
            .icon-cart{
                color: $primary;
                @include transition(0.3s);
            }
        }
        .count{
            position: absolute;
            top: 0px;
            left: 4px;
            background: $primary;
            color: white;
            font-style: normal;
            padding: 2px 5px;
            z-index: 3;
            @include border-radius (50%);
        }
        .cart-banner{
            display: inline-block;
            margin-left: 2px;
            font-size: 0.75em;
        }
        .focus{
            color: $red;
            display: inline-block;
            padding: 0 3px;
            font-weight: bold;
        }
    }
    .nav-other{
        float: left;
        margin-top: 2px;
        @include clearfix; 
        >li{
            float: left;
            font-size: 0.75em;
            padding: 3px 6px;
            &:after{
                content: "|";
                margin-left: 10px;
                color: $light_gray;
            }
            &:last-child{
                &:after{
                    content:"";
                    margin-left: 0;
                }
            }
        }
        .all-number{
            position: relative;
            top: -3px;
            right: 3px;
            font-size: 13px;
            text-align: right;
            font-weight: 800;
            letter-spacing: 0.06em;
            text-shadow:1px 1px 1px #f2f2f2;
            i{
                color: #d00;
                font-size: 13px;
            }
            span{
                font-size: 14px;
                color: #d00;
                font-weight: 700;
            }
            .bacolor{
                display: inline-block;
                position: absolute;
                bottom: 0;
                right: 33px;
                width: 93px;
                height: 10px;
                background: #FFF;
                z-index: -1;
                border-bottom:#ddd 2px solid;
            }
        }
        .site-btn{
            margin: 0;
            padding: 0;
            position: relative;
            bottom: 4px;
            &:after{
                content: " ";
                margin-left: 0;
                color: none;
            }
            .function-btn {
                margin-right: 5px;
                margin-top: 0;
                background: #ffe99e;
                color: black;
                font-size: 12px;
                font-weight: bold;
                line-height: 24px;
                height: 24px;
                background-color: #ffe99e;
                background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe99e), to(#ffce39));
                background-image: -webkit-linear-gradient(top, #ffe99e, #ffce39);
                background-image: -moz-linear-gradient(top, #ffe99e, #ffce39);
                background-image: -ms-linear-gradient(top, #ffe99e, #ffce39);
                background-image: -o-linear-gradient(top, #ffe99e, #ffce39);
                background-image: linear-gradient(top bottom, #ffe99e, #ffce39);
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                &:hover {
                  background: #ffce39;
                }
                i{
                    position: relative;
                    right: 4px;
                }
            }
            
        } 
        .site-search{
            margin: 0;
            padding: 0 0 0 6px;
            position: relative;
            bottom: 4px;
            .form{
                font-size: 0;
            }
            .input-search{
                border: 1px solid $search_border;
                width: 160px;
                height: 24px;
            }
            .btn-submit{
                height: 24px;
            }
            .icon-search{
                position: relative;
                bottom: 1px;
                padding: 0px;
                font-size: 14px;
            }
        }
        
        /*.nav-seatch{
            position: relative;
            bottom: 3px;
            vertical-align: top;
            z-index: 3;
            padding: 0;
            .form{
                font-size: 0;
            }
            .input-search{
                border: 1px solid $border2;
                padding-left: 10px;
                padding-right: 10px;
                margin: 0;
                width: 150px;
                height: 24px;
                background: $search_bk;
                color: $search_text;
                font-size: 12px;
                &:focus{
                    color: black;
                    border: 1px solid #ff5100;
                }
            }
            .btn-submit{
                background: #ff5100;
                border: none;
                width: 24px;
                height: 24px;
                vertical-align: top;
                cursor: pointer;
                border-radius: 0 4px 4px 0;
            }
            .icon-search{
                position: relative;
                bottom: 1px;
                right: 7px;
                padding: 0;
                font-size: 14px;
                color: white;
                &:before{
                    background: none;
                    height: auto;
                    padding-top: 0;
                }
            }
            .icon{
                position: absolute;
                right: 23px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 12px 10px 12px 0;
                border-color: transparent #ff5100 transparent transparent;
            }
        }*/
    }
}
.site-news{
    float: left;
    margin: 22px 0 0 8px;
    @include clearfix;
    >li{
        float: left;
        font-size: 12px;
        line-height: 1.7;
        font-weight: bold;
        color:#e00517;
        &:after{
            content: "|";
            margin-left: 10px;
            color: $light_gray;
        }
        &:last-child{
            &:after{
                content:"";
            }
        }
        &:first-child{
            padding-left: 0;
        }
    }
}
.cart-btn{
    position: relative;
    float: right;
    padding: 9px 0 9px;
    font-size: 0.9em;
    margin-top: 5px;
    &:hover{
        .icon-cart{
            color: $primary;
            @include transition(0.3s);
        }
    }
    .count{
        position: absolute;
        top: 2px;
        left: -5px;
        width: 19px;
        height: 19px;
        background: $primary;
        color: white;
        font-style: normal;
        font-size: 12px;
        text-align: center;
        line-height: 19px;
        z-index: 3;
        @include border-radius (50%);
    }
    .cart-banner{
        display: inline-block;
        margin-left: 2px;
        font-size: 0.75em;
    }
    .focus{
        color: $red;
        display: inline-block;
        padding: 0 3px;
        font-weight: bold;
    }
}
.asap-app{
    margin-top: -2px;
    position: relative;
    span{
        color: #d00;
        font-weight: 700;
    }
    .fa-mobile{
        font-size: 1.5em;
        margin-right: 5px;
        vertical-align: -2px;
    }
    .asap-top-app{
        display: none;
        position: absolute;
        top: 24px;
        right: 7px;
        img{
            display: block;
            padding: 4px 0;
        }
    }
    &:hover{
        .asap-top-app{
            display: block;
        }
    }
}