[class*="icon-"]:before {
	@include icon-style;
	//background-image: url($icon-cart-uri);
	background-image: url($icon-cart);
	*background-image: url($icon-cart-png);
}
//uitox logo
.icon-uitox-s:before {
	width: 47px;
	height: 15px;
	margin: 0 5px 7px;
	vertical-align: middle;
	background-position: 0 0;
}
//cart icon
.credit-card-icon span:before {
	width: 35px;
	height: 25px;
}
.icon-visa-g:before {
	background-position: 0 -15px;
}
.icon-mastercard-g:before {
	background-position: -35px -15px;
}
.icon-jcb-g:before {
	background-position: -70px -15px;
}
.icon-unionpay-g:before {
	background-position: -105px -15px;
}
.icon-visaelectron-g:before {
	background-position: -140px -15px;
}
.icon-amex-g:before {
	background-position: -175px -15px;
}
.icon-discover-g:before {
	background-position: -210px -15px;
}
.icon-dinersclub-g:before {
	background-position: -245px -15px;
}
.icon-dankort-g:before {
	background-position: -280px -15px;
}
.icon-maestro-g:before {
	background-position: -315px -15px;
}
.icon-forbrugsforeningen-g:before {
	background-position: -350px -15px;
}
.icon-visa:before {
	background-position: 0 -40px;
}
.icon-mastercard:before {
	background-position: -35px -40px;
}
.icon-jcb:before {
	background-position: -70px -40px;
}
.icon-unionpay:before {
	background-position: -105px -40px;
}
.icon-visaelectron:before {
	background-position: -140px -40px;
}
.icon-amex:before {
	background-position: -175px -40px;
}
.icon-discover:before {
	background-position: -210px -40px;
}
.icon-dinersclub:before {
	background-position: -245px -40px;
}
.icon-dankort:before {
	background-position: -280px -40px;
}
.icon-maestro:before {
	background-position: -315px -40px;
}
.icon-forbrugsforeningen:before {
	background-position: -350px -40px;
}
.icon-cvv:before {
	background-position: 0 -65px;
}
//cs
.icon-cs-logo {
	&:before {
		width: 20px;
		height: 20px;
		background: url($icon-cs) no-repeat;
	}
	&.seven {
		&:before {
			background-position: 0 0;
		}
	}
	&.ok {
		&:before {
			background-position: -20px 0;
		}
	}
	&.fami {
		&:before {
			background-position: -40px 0;
		}
	}
}