input:not([type="radio"]), input:not([type="checkbox"]), textarea, select {
	color: lighten($font-color,20);
	font-size: $font-size;
	line-height: $font-line-height;
	line-height: 1\9;//ie9+
	font-family: $font-family;
	vertical-align: middle;
	margin: 2px 0;
	padding: 3px 5px;
	padding: 3px 5px 6px\9;//ie9+
	border: $border-color 1px solid;
	background: #fff;
	&:disabled {
		cursor: no-drop;
	}
	@include RWD(pad){
		padding: 5px 10px;
	}
}
_:-ms-input-placeholder, :root input {//ie10+
	line-height: 1;
	padding: 6px;
}
input[type="radio"], input[type="checkbox"] {
	margin-right: 5px;
	padding: 0;
	cursor: pointer;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}
select {
	padding: 5px;
	@include RWD(pad){
		padding: 9px 5px;
	}
}
label.is-disabled {
	color: lighten($font-color,60);
	cursor: no-drop;
}
[class*="btn-"] {
	color: lighten($font-color,20);
	font-size: 0.9em;
	line-height: $font-small-line-height;
	letter-spacing: 1px;
	text-align: center;
	font-family: $font-family;
	padding: 4px 10px;
	@include btn-color(lighten($btn-cancel-bg-color,5),2);
	@include border-radius(2px);
	@include box-sizing(border-box);
	display: inline-block;
	cursor: pointer;
	@include RWD(desktop){
		letter-spacing: normal;
	}
	&.btn-submit {
		color: $btn-color;
		@include btn-color($btn-bg-color,4);
	}
	&.is-disabled {
		color: darken($main-grey,20);
		background: lighten($main-grey,5);
		@include box-shadow(none);
		cursor: no-drop;
	}
}
.clearfix {
	zoom: 1;
	&:before, &:after {
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden;
	}
	&:after {
		clear: both;
	}
}
//module
.l-container {
	max-width: $body-width;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
	@include box-sizing(border-box);
	@extend .clearfix;
	&.l-tiny {
		max-width: $body-tiny-width;
	}
	@include RWD(desktop){
		max-width: $screen-lg-max;
	}
	@include RWD(psd){
		max-width: $screen-md-max;
	}
	@include RWD(mobile){
		max-width: $screen-sm-max;
	}
	* {
		@include transition(all 0.3s ease-out);
	}
}
.l-card {
	margin-bottom: 10px;
	padding: 10px 15px;
	border: $card-border-color 1px solid;
	background: $card-bg-color;
	@include box-shadow(rgba(black,0.2) 0 1px 2px);
	position: relative;
	@include RWD(pad){
		padding: 7px 10px;
	}
}
.md-product-list.l-card{
	border: #FFE599 5px solid;
	margin-top: -7px;
	@include RWD(mobile){
		margin-top: 0;
	}
}
.md-list {
	& > dt {
		font-weight: bold;
		padding: 5px 0;
		border-bottom: $main-grey 1px solid;
	}
	& > dd {
		padding: 5px 0;
		border-bottom: lighten($main-grey,10) 1px solid;
		position: relative;
		@extend .clearfix;
		&:last-child {
			border-width: 0;
		}
	}
}
.go-tip {
	cursor: pointer;
	position: relative;
	&:hover {
		.md-tip {
			max-height: 10000px;
			@include opacity(1);
			overflow: visible;
		}
	}
}
.md-tip {
	max-height: 0;
	color: lighten($font-color,20);
	text-align: left;
	border: $card-border-color 1px solid;
	background: $card-bg-color;
	@include box-shadow(rgba(black,0.4) 0 4px 6px);
	@include box-sizing(border-box);
	@include opacity(0);
	overflow: hidden;
	position: absolute;
	z-index: 99;
	&:after, &:before {
		content: "\0020";
		width: 0;
		height: 0;
		border: solid transparent;
		position: absolute;
		pointer-events: none;
	}
	&:after {
		border-color: rgba($card-bg-color,0);
	}
	&:before {
		border-color: rgba(darken($card-border-color,10),0);
	}
	.t-title {
		font-weight: bold;
		margin-bottom: 5px;
		padding: 3px 10px;
		background: mix($main-color,#fff,10);
	}
	.t-content {
		margin: 5px 10px;
	}
	.btn-close {
		display: none;
	}
}
.md-dialog {
	min-width: 300px;
	padding: 10px;
	background: $card-bg-color;
	display: none;
	@include RWD(mobile) {
		min-width: 90%;
	}
	.t-title {
		font-weight: bold;
		margin-bottom: 5px;
		padding: 3px 10px;
		background: mix($main-color,#fff,10);
        .t-title-col-l,.t-title-col-r{
            display:inline-block;   
        }
        .t-title-col-l{
            width:63%;
        }
        .t-title-col-r{
            width:36%;
            text-align: right;
        }
	}
	.t-date {
		color: lighten($font-color,40);
		font-size: 0.9em;
		text-align: right;
		margin: 0 5px;
	}
	.t-content {
		margin: 5px 10px;
	}
	.btn-submit, .btn-cancel, .btn-close {
		font-size: 1.1em;
		@include RWD(desktop) {
			width: 100%;
			margin: 5px 0;
		}
	}
	.btn-cancel {
		&:first-child {
			@include RWD(desktop) {
				display: none;
			}
		}
		&:last-child {
			display: none;
			@include RWD(desktop) {
				display: inline-block;
			}
		}
	}
	.t-back {
		margin-top: 10px;
		text-align: center;
		display: block;
	}
}
.img-product {
	line-height: 0;
	border: lighten($border-color,10) 1px solid;
	background: #fff;
	text-align: center;
	vertical-align: middle;
	@include box-sizing(border-box);
	overflow: hidden;
	display: block;
	position: relative;
	img {
		width: auto;
		height: auto;
		left: -100%;
		right: -100%;
		top: -100%;
		bottom: -100%;
		margin: auto;
		position: absolute;
	}
}
//text
.t-cart-title {
	color: lighten($font-color,40);
	font-size: 1.2em; 
	margin: 20px 5px 10px;
	@extend .clearfix;
	@include RWD(mobile) {
		margin-left: 0;
		margin-bottom: 5px;
	}
}
.t-comment {
	color: lighten($font-color,40);
	font-size: $font-small-size;
	line-height: $font-small-line-height;
	font-weight: normal;
	display: inline-block;
}
.go-top {
	color: $go-top-color;
	font-size: 1.6em;
	right: -60px;
	bottom: 20px;
	padding: 0 15px;
	background: $go-top-bg-color;
	@include border-left-radius(5px);
	@include box-shadow(rgba(black,0.2) 0 4px 7px);
	@include transition(all 0.2s ease-out);
	@include opacity(0.8);
	display: block;
	position: fixed;
	&:before {
		@include icon-font("\f102");
	}
	&:hover {
		color: #fff;
		background: $go-top-color;
	}
	&.is-show {
		right: 0;
	}
}
.t-exclamation {
	&:before {
		color: darken($main-grey,10);
		@include icon-font("\f06a");
		cursor: pointer;
	}
}
.t-question {
	&:before {
		color: mix($c-red,#fff,50);
		@include icon-font("\f059");
		cursor: pointer;
	}
	.txt {
		color: mix($c-red,#fff,50);
	}
}
.t-back {
	&:before {
		margin-right: 5px;
		@include icon-font("\f112");
	}
}
.t-highlight {
	color: $c-red;
}
.t-bold {
	font-weight: bold;
}
//vendor
.intl-tel-input {
	@include RWD(pad) {
		width: 100%;
	}
}