@import "../define/__init.scss";
.template{
	figure{
		position: relative;
		float: left;
		margin: 10px;
		border: 1px solid $gray;
		padding: 10px;
		width: 270px;
		overflow: hidden;
		&:hover{
			.actions{
				display: block;
				top: 0;
				bottom: 0;
				@include transition(0.3s);
			}
		}
	}
	.photo{
		width: 100%;
	}
	.name{
		margin: 10px 0;
		font-size: 16px;
	}
	.master{
		font-size: 12px;
		margin: 0;
	}
	.desc{
		margin: 10px 0 15px;
	}
	.tag{
		display: inline-block;
		padding: 0px 5px 2px;
		background: $light_gray;
		color: white;
		font-size: 13px;
		margin-right: 10px;
		border-radius: 5px;
		&.green{
			background: #26d696;
		}
		&.yellow{
			background: $yellow;
		}
		&.blue{
			background: #71d1f4;
		}
	}
	.actions{
		position: absolute;
		background: rgba(0,0,0, 0.8);
		color: white;
		top: -100%;
		right: 0;
		bottom: 100%;
		left: 0;
		@include transition(0.3s);
	}
	.actions-table{
		display: table;
		text-align: center;
		width: 100%;
		height: 100%;
	}
	.actions-cell{
		display: table-cell;
		vertical-align: middle;
	}
	.actions-color{
		border-bottom: 1px solid $gray;
		margin: 10px 20px;
		padding-bottom: 5px;
		color: $light_gray;
	}
}