@import "../../../../define/__init.scss";
@import "../../../style_color/___color_sosoon.scss";

@import "../../../../frame/_reset.scss";
@import "../../../../frame/_button.scss";
@import "../../../../frame/_pc_icon.scss";
@import "../../../../frame/_bank.scss";
@import "../../../../frame/_fancybox_style.scss";
@import "../../../../frame/_pc_layout.scss";
@import "../../../../frame/_pc_style.scss";

@import "../../../module_component/_site_translation.scss";
@import "../../../module_component/_site_tags.scss";
@import "../../../module_component/_site_ad_top.scss";
@import "../../../module_header/_sosoon_header.scss";
.site-header{
	.logo{
		margin-right:10px;
	}
	.function-btn{
		margin-right:5px;
	}
}
@import "../../../module_footer/_pc_footer_001.scss";
@import "../../../module_footer/_pc_copyright_001.scss";