@import "../../../../define/__init.scss";
@import "../../../style_color/___color_sosoon.scss";
@import "../../../../frame/_pc_layout_two_column.scss";

//客製化
//_header_layout
.site-header{
    border-bottom: none;
}
.site-left{
	margin-top: 0px;
}
.pc_left_001{
	.title{
		border-bottom: 1px solid $border;
	}
	.menu-one{
		//border: 1px solid $border;
		>li{
			&:hover{
				background: $primary;
			}
		}
	}
	.menu-expand{
		border: 3px solid $primary;
	}
}