@import "../../../../define/__init.scss";
@import "../../../style_color/___color_sosoon.scss";

@import "../../../../frame/_pc_layout_two_column.scss";
@import "../../../module_left/_pc_left_006.scss";
@import "../../../module_component/_pc_site_search_answer.scss";
@import "../../../module_component/_pc_site_search_btn_switching.scss";
@import "../../../module_component/_pc_site_filter.scss";
@import "../../../module_component/_pc_site_sort.scss";
@import "../../../module_category/_pc_category_list.scss";
@import "../../../module_component/_pc_nav_pagination.scss";
@import "../../../module_component/_pc_title.scss";	
@import "../../../module_category/_pc_category_list_five.scss";

//客製化
.pc_left_001{
	.menu-one{
		>li{
			&:hover{
				background: $primary;
				>h3>a{
					&::after{
						border-color: transparent transparent transparent $primary;
					}
				}
			}
		}
	}
	.menu-expand{
		border: 3px solid $primary;
	}
}