@import "../../../../define/__init.scss";

@import "../../../../3rd-party/_idangerous.swiper.scss";
@import "../../../module_component/_nav_breadcrumbs.scss";
@import "../../../module_component/_site_activity.scss";
@import "../../../module_component/_item_list.scss";
@import "../../../module_component/_item_list_four.scss";
@import "../../../module_component/_nav_pagination.scss";
@import "../../../module_component/_site_sort.scss";
@import "../../../module_component/_site_filter.scss";

//客製化
.item-list{
	.currency{
		font-size: 13px;
		vertical-align: 1px;
	}
	.price{
		font-size: 16px;
	}
	.name{
		font-size: 15px;
		line-height: 1.5;
		height: 49px!important;
		font-weight: 400;
		word-wrap: break-word;
		overflow: hidden;
		border-bottom: 1px solid $border;
	}
	.buy-actions {
	  margin-top: 15px;
	}
}