@import "../../../../define/__init.scss";
@import "../../../style_color/___color_adi.scss";

@import "../../../module_component/_nav_breadcrumbs.scss";
@import "../../../module_category/_rwd_category_001.scss";
@include RWD(pad-mobile) {
.site-body {
        padding-top: 90px;
    }
}
.site-main{
    .feature{
        li{
            width:100%;
            word-break:break-all;
            overflow: hidden;
            white-space:nowrap;
            text-overflow: ellipsis;
        }
    }
    .buy{
        .currency{
            display:inline-block;
            vertical-align: -3px;
        }
        .price{
            display:inline-block;
            vertical-align: middle;
        }
        .button{
            margin:5px 0;
        }
    }
}
@include RWD(pad-mobile) {
.site-main{
    .feature{
        li{
            width:330px;
        }
    }
}
}
@include RWD(mobile) {
.site-main{
    .feature{
        li{
            width:180px;
        }
    }
}
}
@media screen and (max-width: 480px) {
.site-main{
    .feature{
        li{
            width:130px;
        }
    }
}
}

.rwd_index_007{
    .photo{
        padding-top:60px !important;
    }
}
.item .photo{
    width: 100%;
    height: 0;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    float: left;
    img{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }
}
@import "../../../module_component/_item_list.scss";
@import "../../../module_component/_item_list_four.scss";
@import "../../../module_component/_nav_pagination.scss";
@import "../../../module_component/_site_sort.scss";
@import "../../../module_component/_site_filter.scss";

//客製化
.item-list,.item-list-four{
	.currency{
		font-size: 13px;
		vertical-align: 1px;
	}
	.price{
		font-size: 16px;
	}
	.name{
		font-size: 15px;
		line-height: 1.5;
		height: 50px!important;
		font-weight: 400;
		word-wrap: break-word;
		overflow: hidden;
		border-bottom: 1px solid $border;
	}
	.buy-actions {
	  margin-top: 15px;
	}
}

