@import "../../../../define/__init.scss";
@import "../../../style_color/___color_adi.scss";
@import "../../../module_extract/_extract_1.scss";

//nav-menu
.nav-menu{
	.menu-one{
		>li{
			a{
				&.current{                   
                    border-bottom-color: $link;
                }
				&:hover{
	                color: $link;
	            }
			}				
		}
	}
	.menu-two{
		border-color: $link;
		&:before{
			border-color: transparent transparent $link transparent;
		}
		>li{
			a{
				&:hover{
	                color: $link;
	            }
			}				
		}
	}
	.menu-three{
		border-color: $link;
		>li{
			a{
				&:hover{
	                color: $link;
	            }
			}				
		}
	}
}

//site-cart
.site-cart{
	.buy{
		color: $price2;
	}
	.cart-sale{
		.sale-discount{
            color: $price2;
        }
	}
	.total{
        color: $price2;        
        font-weight: normal;
        .price{
			font-size: 16px;
        }
    }
}

//item_list
.item-list,.item-list-four{
	.currency{
		color: $price2;
	}
	.price{
		color: $price2;
	}
}
@include RWD(pad-mobile) {
.item-buy{
	.quantity{
		background:#fff;
	}
	//background: $primary;
	.btn-addcart{
		background: $primary;
	}
}
}

//site-search
.site-search{
	.btn-submit{
		background: white;
	}
}





