@import "../../../../define/__init.scss";
@import "../../../style_color/___color_adi.scss";

@import "../../../../frame/_reset.scss";
@import "../../../../frame/_rwd_layouts.scss";
@import "../../../../frame/_button.scss";
@import "../../../../frame/_rwd_icon.scss";
@import "../../../../frame/_bank.scss";
@import "../../../../frame/_fancybox_style.scss";
@import "../../../../frame/_rwd_style.scss";
@import"../../../module_component/_site_ad_top.scss";
@import"../../../module_component/_site_float_bar.scss";
@import "../../../module_header/_adi_header.scss";
@import "../../../module_footer/_rwd_footer_001.scss";
@import "../../../module_footer/_rwd_copyright_001.scss";

//客製化
//icon
.icon-cart{
	@include background2(34px, 25px, -200px, 0px, 0px, 0px);
}
.icon-nav-arrow{
	@include background2(20px, 16px, -31px, -25px, 0px, 0px);
}
.fancybox-close:before{
	background-position: -261px 0px;
}
//[class^="icon-"]:before,
[class*="icon-"]:before{
	content: "";
	position: relative;
	@include inline-block;
}

//copyright
.rwd_copyright_001{
	background-color: whitesmoke;
}

//nav-breadcrumbs
.nav-breadcrumbs{
	font-size: 12px;
	a{
		color: #a3a3a3;
		padding: 0 5px;
		&:first-child{
			color: black;
			padding-left: 0;
		}
	}
	.bread-item-name {
	    font-size: 1.23em!important;
	    color: black;
	}
	@include RWD(pad-mobile) {
	        margin: 0px 10px 0px 10px!important;
	}
	@include RWD(mobile) {
	        margin: 0px 0 0px 10px!important;
	}
}

//_site_float_bar
.site-float-bar {
	.float-price {
		font-size: 1.1em;
	}
	.value{
		.active{
			border: 1px solid black!important;
			color: black!important;
			&:after{
				border-color: transparent transparent black transparent!important;
	        }
		}
	}
}
	