@import "../../../../define/__init.scss";
@import"../../../module_index/_rwd_index_layout.scss";

//客製化
.rwd_index_001{
    .container {
        padding-top: 10px;   
    }
}
.title-h3{
	font-size: 24px;
	font-weight: normal;
}
.site-main{
	.name{
		font-weight: bold;
		font-weight: 400;
  		font-size: 18px;
	}
	.feature{
		line-height: 20px!important;
	}
	.currency{
		font-size: 15px!important;
	}
	del {
	  color: black!important;
	}
	.currency{
		font-size: 19px!important;
		vertical-align: -5px!important;
		font-weight: 600;
  		font-family: 'Open Sans', sans-serif;  		
	}
	.price{
		font-size: 23px!important;
		font-weight: 600;
  		font-family: 'Open Sans', sans-serif;
	}
}