.item-list{
	.items{
		@include clearfix;
	}
	.item{
		float: left;
		width: 33.33%;
		height:570px;
		margin-bottom: 10px;
		padding: 0 19px;
		border: 1px solid transparent;
		@include clearfix;
		&:hover{
			border: 1px solid $primary;
		}
	}
	.photo{
		display: block;
		margin-bottom: 10px;
        float:none;
		@include crop(100%, white);
		// img{
		// 	width:100%;
		// }
	}
	.info{
	}
	.name{
		height: 40px;
		margin-bottom:10px;
		font-size: 1em;
		line-height: 1.3;
		//color: $items_name;
		overflow: hidden;
		word-wrap:break-word;
		font-weight:500;
	}
	.currency{
		font-size: 12px;
		//color: $price;
		display: inline-block;
	}
	.price{
		font-size: 18px;
		//color: $price;
		display: inline-block;
		margin-right: 10px;
	}
	.buy-actions{
		margin-top: 10px;
	}
	.quantity{
		margin-right: 10px;
		vertical-align: top;
	}
	.button{
		vertical-align: top;
	}
	.highlight{
		margin-top: 10px;
		font-size: 12px;
		line-height: 1.5;
	}
}
//desktop
@include RWD(desktop-all) {
.item-list{
	.items{
		margin:20px -20px;
	}
	.name{
		height: 38px;
		overflow: hidden;
	}
}
}
@include RWD(desktop-normal) {
.item-list{
	.item{
		height:490px;
	}
}
}
//pad
@include RWD(pad) {
.item-list{
	.items{
		padding: 10px;
	}
	.item{
		width: 50%;
		height:auto;
		min-height:515px;
	}
	.photo{
		// img{
		// 	width:auto;
		// }
	}
	.name{		
		height: 20px;
	}
}
}
//mobile
@include RWD(mobile) {
.item-list{
	.items{
		padding: 10px;
	}
	.item{
		width: 100%;
		height:auto;
	}
	.photo{
		img{
			width:auto;
		}
	}
	.info{
		padding: 0;
	}
}
}

@include RWD(mobile-small) {
.item-list{

}
}