.md_site_activity {
	line-height: 1.4;
	padding-top: 15px;
	.act-info {
		margin: 0 10px;
	}
	.act-summary {
		font-size: 1.1rem;
		padding: 5px;
		margin-bottom: 10px;
		background: #fff;
		border-bottom: $border 1px solid;
		@include box-shadow(rgba(black,0.1) 0 0 2px);
	}
	.act-state {
		width: 100%;
		margin-bottom: 5px;
		padding: 5px 10px;
		background: $red;
		color: #fff;
		font-size: 1rem;
		text-align: center;
		letter-spacing: 1px;
		@include box-sizing(border-box);
		display: inline-block;
		&.not {
			background: $gray;
		}
	}
	.act-title {
		display: inline-block;
		color: black;
		padding: 5px 10px;
	}
	.act-date {
		font-size: 0.85rem;
		margin: 5px 0 2px;
		padding: 2px 0;
		text-align: center;
		background: $ad_yellow;
	}
	.act-detail {
		margin: 0 5px 15px;
	}
	.act-content {
		color: $red;
		font-weight: bold;
		margin: 10px 0 5px;
	}
	.tip {
		font-size: 0.8rem;
	}
	.act-cart {
		@include clearfix;
		.swiper-container {
			width: 100%;
			padding-bottom: 5px;
			@include clearfix;
			overflow: hidden;
			position: relative;
			display: block;
			.swiper-slide {
				padding: 0 10px;
				float: left;
				@include RWD(mobile) {
					height: 245px;
				}
				@include RWD(mobile-small) {
					height: 190px;
				}
			}
			.swiper-button-prev, .swiper-button-next {
				color: #333;
				font-size: 1.4rem;
				line-height: 1;
				text-align: center;
				padding: 10px 0;
				background: rgba($light_gray,0.7);
				&:after {
					font-family: FontAwesome;
					vertical-align: middle;
					display: inline-block;
					position: absolute;
				}
			}
			.swiper-button-prev {
				left: 0;
				padding-right: 10px;
				@include border-right-radius(5px);
				&:after {
					content: "\f104";
				}
			}
			.swiper-button-next {
				right: 0;
				padding-right: 5px;
				@include border-left-radius(5px);
				&:after {
					content: "\f105";
				}
			}
			.md-list-item {
				margin: 0;
				.price {
					text-align: left;
				}
				.quantity {
					display: block;
				}
			}
			.btn-del {
				font-size: 0.8rem;
				padding: 3px 8px;
			}
		}
		.current-state {
			display: block;
			vertical-align: top;
			padding: 14px 10px;
			margin: 20px 10px;
			background: #fff;
			border-bottom: $border 1px solid;
			@include box-shadow(rgba(black,0.1) 0 0 2px);
			@include box-sizing(border-box);
			& > .tip {
				color: $text;
				text-align: right;
			}
			.progress {
				padding: 15px;
				border-bottom: 1px solid $border;
			}
			.progress-bar-static {
				position: relative;
				background: #eee;
				width: 100%;
				margin-bottom: 5px;
				height: 15px;
				@include border-radius(2px);
				.inner-bar {
					height: 15px;
					background-color: orange;
					@include box-shadow(0 2px 5px rgba(0, 0, 0, 0.25) inset);
					@include border-radius(2px);
					background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
					background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
					background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
					background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
					background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
					-webkit-background-size: 15px 15px;
					-moz-background-size: 15px 15px;
					-ms-background-size: 15px 15px;
					-o-background-size: 15px 15px;
					background-size: 15px 15px;
					-webkit-animation: animate-stripes 3s linear infinite;
					-moz-animation: animate-stripes 3s linear infinite;
					-ms-animation: animate-stripes 3s linear infinite;
					-o-animation: animate-stripes 3s linear infinite;
					animation: animate-stripes 3s linear infinite;
				}
				.note, .note-finish {
					position: absolute;
					top: -35px;
					left: 0;
					min-width: 100px;
					text-align: center;
					border-width: 2px;
					border-style: solid; 
					border: 2px solid $light_gray;
					padding: 3px 10px;
					color: $text;
					background: $background;
					@include border-radius(4px);
					&:after {
						position: absolute;
						bottom: -8px;
						left: 75%;
						content:'';
						border-style: solid;
						border-width: 10px 10px 0 10px;
						border-color: $background transparent transparent transparent;
					}
					&:before {
						position: absolute;
						bottom: -10px;
						left: 75%;
						content:'';
						border-style: solid;
						border-width: 10px 10px 0 10px;
						border-color: $light_gray transparent transparent transparent;
					}
				}
				.note-finish {
					color: $primary;
				}
			}
			.actions {
				font-size: 0.9rem;
				margin-top: 10px;
				&.finish {
					color: $primary;
				}
				.current {
					display: inline-block;
					margin-top: 5px;
				}
				.t-price {
					font-size: 1.2em;
				}
				.btn-buy {
					color: #fff;
					padding: 5px 10px;
					background: $primary;
					float: right;
				}
			}
		}
	}
}
@-webkit-keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 60px 0;
  }
}
@-moz-keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 60px 0;
  }
}
@-ms-keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 60px 0;
  }
}
@-o-keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 60px 0;
  }
}
@keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 60px 0;
  }
}