.infinite-next-page, #infscr-loading {
	color: $sub;
	line-height: 1.4;
	text-align: center;
	padding: 0 10px 20px;
	display: block;
}
#infscr-loading {
	color: lighten($text,20);
	font-size: 0.9rem;
}