.items {
	padding: 0 10px;
}
.md-list-item {
	width: 100%;
	margin: 15px 0;
	padding: 15px 10px;
	background: #fff;
	border-bottom: $border 1px solid;
	@include box-shadow(rgba(black,0.1) 0 0 2px);
	display: table;
	position: relative;
	.photo {
		width: 50%;
		vertical-align: middle;
		display: table-cell;
		text-align:center;
		&.photo-lazyload {
			background: #fff url("../../../../../img/sth_asap_m/loading.svg") no-repeat center center;
		}
		img {
			max-width: 100%;
			max-height: 360px;
		}
	}
	.img-item {
		border: lighten($gray,50) 1px solid;
		background-color: #fff;
	}
	.info {
		width: 45%;
		padding-left: 10px;
		vertical-align: middle;
		@include box-sizing(border-box);
		display: table-cell;
	}
	.name {
		max-height: 65px;
		line-height: 1.4;
		margin-bottom: 6px;
		overflow: hidden;
        word-break: break-word;
        word-wrap: break-word;
		a {
			color: #333;
		}
	}
	.price {
		text-align: right;
	}
	.t-original-price {
		color: lighten($text,30);
		font-size: 0.9rem;
		margin-bottom: 3px;
		text-decoration: line-through;
		display: block;
	}
	.t-sale-price {
		color: $price;
		font-size: 1.5rem;
		font-weight: bold;
		display: block;
		.t-currency {
			color: $price;
			font-size: 0.8rem;
			font-weight: normal;
			vertical-align: bottom;
			margin-bottom: 4px;
			display: inline-block;
		}
	}
	[class*="btn-"] {
		margin-top: 7px;
		.fa {
			margin-left: 5px;
		}
	}
	.btn-del {
		.fa {
			margin-left: 0;
			margin-right: 5px;
		}
	}
	.quantity {
		[class*="btn-"] {
			margin-top: 0;
		}
	}
}
.img-lazyload {
	@include opacity(0);
	@include transition(opacity 0.3s ease-in);
}