.error{
	text-align: center;
	margin: 100px auto 150px;
	h1{
		font-weight: bold;
		font-size: 30px;
		margin-bottom: 30px;
		color: $items_name;
		vertical-align: middle;
		span{
			display: inline-block;
			vertical-align: middle;
		}
		img{
			display: inline-block;
			vertical-align: middle;
			margin-right: 20px;
		}
	}
	ul{
		display: inline-block;
		list-style: disc;
	}
	li{
		text-align: left;
		margin-bottom: 20px;
		color: $text;
	}
	.actions{
		margin-top: 30px;
	}
}