.list-switch {
    float: right;
    .list-switch-btn {
        @include clearfix;
        a {
            padding: 5px 10px;
            margin-left: -5px;
            display: inline-block;
            border: 1px solid $border2;
            color: $text;
            font-size: 17px;
            line-height: 1.4;
            text-align: center;
            vertical-align: middle;
            background: white;
            text-shadow: 0 1px 0 white;
            @include box-shadow(inset 0 1px 0 rgba(255, 255, 255, 0.2));

            &.active,&:active {
                color: $link;
                background: $hover_bk;
                border-color: $border;
                @include box-shadow(inset 0 2px 3px rgba(0, 0, 0, 0.125));
            }
            &:hover {
                background-color: $background2;
                border-color: $border;
            }
        }
    }
    .l-s-block{
        &:before{
            @include icon-font('\f009');
        }
    }
    .l-s-row{
        &:before{
            @include icon-font('\f00b');
        }
    }
}
