.site-sort {
    display: inline-block;
    .sort {
        @include clearfix;
        display: block;
        li {
            float: left;
            display: block;
            &:first-child a {} &:last-child a {
                border-right: 1px solid $border;
            }
            a {
                padding: 10px 20px;
                display: inline-block;
                border: 1px solid $border;
                border-right: 0;
                color: $text;
                font-size: 13px;
                &.active {
                    color: $active_text;
                    background: $active_bk;
                    border-color: $active_bk;
                }
                &:hover {
                    color: $hover_text;
                    background: $hover_bk;
                }
            }
        }
    }
}