.item-list-follow {
	margin-top: 25px;	
	.follow-list-block{
		position: relative;
		width: 100%;
		height: auto;		
		color: $text;
		padding: 12px 15px;
		margin-bottom: 25px;
		background: $background;
		border: 1px solid $border;
		&:first-child{
			margin-top: 5px;
		}
		@include box-sizing(border-box);
		@include transition(0.4s);
		@include clearfix;
	}	
	.follow-list{
		width: 100%;
		@include clearfix;
		.follow-list-content{			
			margin-bottom: 15px;
			padding: 0 0px 13px;
			border-bottom: 1px dashed $border;
			position: relative;
			@include clearfix;
			&:last-child{
				border-bottom: none;
				margin-bottom: 0px;
				padding-bottom: 0px;
			}						
		}
		.none-item{
			padding-top: 15px;
			padding-bottom: 15px!important;
			font-size: 1em;
			color: black;
			font-weight: bold;
		}
		%follow-list-col{
			float: left;				
			min-height: 20px;
			line-height: 1.5;
			font-size: 0.8em;
		}
		.follow-date{
			width: 6%;
			margin-right: 1%;
			@extend %follow-list-col;
			padding-top: 22px;			
		}
		.follow-photo{
			width: 5.051%;
			margin-right: 1%;
			@extend %follow-list-col;
			padding: 0;
			img{
				width: 100%;
			}
		}
		.follow-name{
			width: 45%;
			margin-right: 1.9%;
			padding-top: 21px;
			font-weight: bold;
			@extend %follow-list-col;
			font-size: 0.93em;			
			a{
				color: $text;
				&:hover {
				  color: $primary;
				}
			}
		}
		.follow-list-r{
			width: 40%;
			float: right;
			padding-top: 22px;
			@include clearfix;
			li{
				margin-right: 5%;
				margin-bottom: 3px;
				@extend %follow-list-col;
				&:last-child{
					margin-right: 0;
				}
			}			
		}
		.follow-price{
			width: 20%;
			text-align: right;
			font-weight: bold;
		}
		.follow-status{
			width: 22%;
			margin-top: -1px;
		}
		.follow-notice{
			width: 17%;
		}
		.follow-notice-date{
			width: 17%;
			text-align: center;
			margin-top: -11px;
			span{
				display: block;
			}
		}
		.follow-delete{
			width: 4%;
			font-size: 20px!important;
			cursor: pointer;
			margin-top: -4px;
			&:before {
				@include icon-font("\f00d");
			}				
		}
	}
	.follow-list-info{
		font-size: 0.95em;
		line-height: 1.7;
		padding-bottom: 25px;
		margin-bottom: 15px;
		border-bottom: 1px solid $border;
		ul{
			padding-left: 25px;
		}
		li{
			list-style-type: decimal;
			margin-top: 5px;
		}
	}
}