.trans-block{
    position: absolute;
    right: 0;
    top: 8px;
    font-size: 12px;
    font-weight: bold;
    color: #1882ee;
    display: block;
    line-height: 1;
    @include opacity(0.7);
    @include transition(0.6s);
    .translation{
        display: inline-block;
        font-size: 13px;
        color: white;
        line-height: 1;
        margin-left: 1px;
        img{
            width: 25px;
        }  
    }
    &:hover{
        @include opacity(1);
        color: #1882ee!important;
    }
}