.trans-block-02{
    position: absolute;
    top: 7px;
    right: 0px;    
    font-size: 12px;
    color: white;
    line-height: 1;
    display: block;    
    padding: 5px 5px 4px 5px;
    background: #1BA7FC;
    //@include background-gradient(#1BA7FC ,#0993E7); 
    @include border-radius(4px);
    @include transition(0.4s);
    span{
      vertical-align:middle;
    }
    img{
        margin-left: 1px;
        width: 22px;
        vertical-align:middle;
    }    
    &:hover{
        background: #0F7ABB;
        //@include background-gradient(#0993E7, #1BA7FC);
    }
}