.site-cart{
    position: absolute;
    top: 99%;
    right: 0;
    border-width: 2px;
    border-style: solid; 
    //border: 2px solid $border;
    width: 500px;
    //background: $background;
    padding: 10px 3px;
    z-index: 999;
    .list{
        overflow-y: auto;
        max-height: 200px;
        min-height:18px;
    }
    .items{
        @include transition(0.3s);
        &:hover{
            @include transition(0.3s);
            //background: $hover_bk;
        }
    }
    .item{
        display: table;
        color: black;
        padding: 5px 0;
    }
    .name{
        display: table-cell;
        vertical-align: middle;
        padding: 5px 0;
        line-height: 1.4;
        font-size: 12px;
        width: 130px;
        //color: $items_name;
        word-wrap: break-word;
        word-break: break-word;
    }
    .labels{
        display: block;       
        &.lower{
            margin-left: 60px;
        }
    }
    .full{
        display: inline-block;
        line-height: 1.4;
        //color: $price;
        width: auto;
        word-break: break-all;
        .tag{
            border-width: 1px;
            border-style: solid; 
            //border: 1px solid $price;
            display: inline-block;
            padding: 0px 2px;
            margin-right: 3px;
        }
    }
    .combo{
        display: inline-block;
        line-height: 1.4;
    }
    .buy{
        display: table-cell;
        vertical-align: middle;
        //color: $price;
        padding: 5px 8px;
        text-align: right;
        width: 150px;
        word-break: break-all;
    }
    .crop{
        display: inline-block;
        margin: 5px;
        @include crop(60px, white);
    }
    .crop-no{
        display: inline-block;
        margin: 5px;
        width: 60px;
    }
    .currency{
        font-size: 8px;
    }
    .price{
        font-size: 14px;
    }
    .quantity{
        display: table-cell;
        vertical-align: middle;
    }
    .del{
        display: table-cell;
        vertical-align: middle;
        font-size: 12px;
        //color: $text;
        padding: 0 10px;
        &:hover{
            //color: $primary;
        }
    }
    .cart-sale{
        padding: 5px 0;
        li{
            padding: 5px;
        }
        .sale-name{
            font-size: 12px;
            width: 251px;
            display: inline-block;
            word-break: break-all;
        }
        .sale-discount{
            font-size: 14px;
            //color: $price;
            min-width: 86px;
            display: inline-block;
            text-align: right;
            word-break: break-all;
        }
    }
    .cart-actions{
        border-top-width: 1px;
        border-top-style: solid;
        //border-top: 1px solid $light_gray;
        padding: 10px 10px 0 10px;
        text-align: right;
        .button{
            &:hover{
                color: white;
            }
        }
    }
    .total-title{
        font-size: 0.8em;
        margin-right: 5px;
    }
    .total{
        margin-right: 10px;
        //color: $price;
        font-weight: bold;
    }
}