.trans-block-03{
    position: fixed;
    bottom: 255px;
    right: 0px;
    //right: -48px;
    z-index: 10;
    font-size: 12px;
    color: white;
    line-height: 1;
    letter-spacing: 4px;
    text-align: center;
    padding: 8px 6px 7px 10px;
    //padding: 5px 3px 5px 8px;
    background: #1BA7FC;
    border: 1px solid white;
    border-right: none;
    @include background-gradient(#1BA7FC ,#0993E7); 
    @include box-shadow(-1px 0 1px 0px rgba(50%,50%,50%,0.3));    
    @include border-left-radius(6px);
    @include opacity (0.9);
    @include transition(0.3s);  
    img{
        width: 30px;
        display: block;
        margin-bottom: 3px;
    } 
    &.show{
        right: 0px;
        @include opacity (0.9);
    }  
    &:hover{
        background: #0F7ABB;
        @include background-gradient(#0993E7, #1BA7FC);
        @include opacity (1);        
    }    
}


