.site-float-bar {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: white;
	z-index: 9;
	border-bottom: 1px solid $border;
	@include clearfix;
	.container {
		padding: 10px 5px;
		color: #333;
	}
	.float-name {
		float: left;
		font-size: 0.95em;
		padding: 6px 0 3px;
		width: 44%;
		max-height: 52px;
		margin-right: 1%;
		line-height: 1.4;
		overflow: hidden;
		//@include one-line;
	}
	.btn-addcart {
		float: right;
		width: 11%;
		text-align: center;
		padding: .37em .4em;
	}	
	.float-price {
		float: right;
		font-size: 1.05em;
		margin-right: 1%;
		padding-top: 7px;
		width: 10%;
	}
	.currency {
		font-size: 0.9em;
		vertical-align: 1px;
	}
	.r-item-color {
		float: right;
		width: 30%;
		margin-right: 1%;
		padding-top: 3px;
		text-align: right;
		@include clearfix;
	}
	.key {
		//color: $items_name;
		display: inline-block;
		vertical-align: top;
		word-wrap: break-word;
		text-align: right;
		text-justify: inter-ideograph;
		width: 25%;
		font-size: 0.9em;
		padding-top: 5px;
	}
	.value {
		display: inline-block;
		max-width: 73%;
		position: relative;
		text-align: left;
		z-index: 0;
		&+.value {
			margin-left: 100px;
		}
		>li {
			padding: 9px 8px;
			margin: 0 3px 5px 0;
			cursor: pointer;
			// min-width: 32px;
			height: 27px;
			border: 1px solid $light_gray;
			display: inline-block;
			font-size: 12px;
			line-height: 8px;
			vertical-align: top;
			position: relative;
			z-index: 0;
			&.img {
				padding: 1px;
			}
			img {
				height: 100%;
				display: block;
				width: 23px;
				text-align: center;
				position: relative;
				z-index: 0;
			}
		}
		.active {
			position: relative;
			border: 1px solid $primary;
			color: $primary;
			z-index: 0;
			&:after {
				position: absolute;
				bottom: 0;
				right: 0;
				content: '';
				border-style: solid;
				border-width: 0 0 15px 15px;
				border-color: transparent transparent $primary transparent;
				z-index: 10;
			}
			.type {
				padding: 3px;
			}
			.fa {
				position: absolute;
				right: -1px;
				bottom: -2px;
				color: white;
				font-size: 12px;
				z-index: 99;
				-ms-transform: scale(0.8, 0.8);
				-webkit-transform: scale(0.8, 0.8);
				transform: scale(0.8, 0.8);
			}
		}
		.disabled {
			position: relative;
			cursor: not-allowed;
			border: 1px dashed $light_gray;
			.fa {
				position: absolute;
				right: 2px;
				bottom: 0px;
				color: $light_gray;
				font-size: 16px;
				z-index: 3;
			}
		}
	}
	@include RWD(desktop-normal) {
		.float-name {
			width: 32%;
		}
		.btn-addcart {
			width: 15%;
		}
		.float-price {
			width: 13%;
		}
		.r-item-color {
			width: 37%;
		}
		.key {
			width: 30%;
		}
		.value {
			max-width: 68%;
		}
	}
	@include RWD(pad-mobile) {
		.container {
			padding: 10px 10px;
		}
		.float-name {
			width: 32%;
		}
		.btn-addcart {
			width: 18%;
		}
		.float-price {
			width: 16%;
		}
		.r-item-color {
			width: 31%;
		}
		.key {
			width: 39%;
		}
		.value {
			max-width: 59%;
		}
	}
	//pad & mobile
	@include RWD(mobile) {
		display: none;
	}
}