//bank-name
.icon-taishin{
	@include bank(145px, 30px, 0px, -25px, 0px, 0px);
}
.icon-cosmos{
	@include bank(145px, 30px, 0px, -55px, 0px, 0px);
}
.icon-anz{
	@include bank(145px, 30px, 0px, -85px, 0px, 0px);
}
.icon-sk{
	@include bank(145px, 30px, 0px, -115px, 0px, 0px);
}
.icon-hsbc{
	@include bank(145px, 30px, 0px, -145px, 0px, 0px);
}
.icon-sc{
	@include bank(145px, 30px, 0px, -175px, 0px, 0px);
}
.icon-aeon{
	@include bank(145px, 30px, 0px, -205px, 0px, 0px);
}
.icon-first{
	@include bank(145px, 30px, 0px, -235px, 0px, 0px);
}
.icon-yuanta{
	@include bank(145px, 30px, 0px, -265px, 0px, 0px);
}
.icon-enti{
	@include bank(145px, 30px, 0px, -295px, 0px, 0px);
}
.icon-cathay{
	@include bank(145px, 30px, -145px, -25px, 0px, 0px);
}
.icon-esun{
	@include bank(145px, 30px, -145px, -55px, 0px, 0px);
}
.icon-jihsun{
	@include bank(145px, 30px, -145px, -85px, 0px, 0px);
}
.icon-fubon{
	@include bank(145px, 30px, -145px, -115px, 0px, 0px);
}
.icon-sinopac{
	@include bank(145px, 30px, -145px, -145px, 0px, 0px);
}
.icon-hncb{
	@include bank(145px, 30px, -145px, -175px, 0px, 0px);
}
.icon-meg{
	@include bank(145px, 30px, -145px, -205px, 0px, 0px);
}
.icon-ctbc{
	@include bank(145px, 30px, -145px, -234px, 0px, 0px);
}
.icon-scsb{
	@include bank(145px, 30px, -145px, -265px, 0px, 0px);
}
.icon-visa{
	@include bank(38px, 30px, -1px, -325px, 0px, 0px);
}
.icon-jcb{
	@include bank(23px, 30px, -46px, -325px, 0px, 0px);
}
.icon-mastercard{
	@include bank(31px, 30px, -75px, -325px, 0px, 0px);
}
.icon-atm{
	@include bank(32px, 30px, -114px, -325px, 0px, 0px);
}
.icon-seven{
	@include bank(16px, 16px, 0px, -6px, 0px, 0px);
}
.icon-fami{
	@include bank(17px, 16px, -21px, -6px, 0px, 0px);
}
//[class^="icon-"]:before,
[class*="icon-"]:before{
	content: "";
	position: relative;
	@include inline-block;
}