[class*="btn-"] {
    color: #fff;
    text-align: center;
    padding: 5px 8px;
    display: inline-block;
    @include user-select;
    @include inline-block;
    @include transition(0.6s);
    cursor: pointer;
    -webkit-appearance: none;
    &.large {
        height: 40px;
        font-size: 1.1rem;
        line-height: 40px;
        padding: 0 15px;
    }
    &.btn-buy, &.btn-rush, &.btn-addcart, &.btn-select-size {
        background: $primary;
        &:active, &.pressed {
            background: darken($primary,15);
        }
    }
    &.btn-discount {
        background: $orange;
        &:active, &.pressed {
            background: darken($orange,15);
        }
    }
    &.btn-preorder {
        background: $yellow;
        &:active, &.pressed {
            background: darken($yellow,15);
        }
    }
    &.btn-del {
        background: lighten($gray,20);
        &:active, &.pressed {
            background: darken($gray,15);
        }
    }
    //預購結束, 已搶購一空, 售完補貨中, 售完, 即將開賣
    &.btn-preorder-finish, &.btn-rush-finish, &.btn-soldout-stock, &.btn-soldout, &.btn-to-sale {
        color: lighten($gray,10);
        background: lighten($gray,50);
        cursor: no-drop;
    }
    //即將開賣
    &.btn-to-sale {
        color: $orange;
        background: mix($orange,#fff,10);
        cursor: no-drop;
    }
}