.hide {
	display: none;
}
.container, .clearfix {
	@include clearfix;
}
.container {
	width: 100%;
	position: relative;
	margin: 0 auto;
}
.site-outter {
	width: 100%;
	&.fixed {
		position: fixed;
	}
}
.edm-container{
	padding-top:90px !important;
}