.hide{
	display: none;
}
.container{
	width: 1220px;
	position: relative;
	margin: 0 auto;
	@include clearfix;
}
.site-body{
	padding-bottom: 40px;
	width: 1220px;
	margin: 0 auto;
	@include clearfix;
}
.site-left{
	width: 200px;
	margin-right: 20px;
	float: left;
	margin-top: 10px;
}
.site-main{
	width: 1000px;
	float: left;
	position: relative;
	.container{
		width: auto;
	}
}