body{
	color: $text;
	background: $background;
}
a{
	color: $link;
}
.title-h3{
	color: $title_h3;
	font-size: 18px;
	margin-bottom: 15px;
	padding: 10px 0;
	font-weight: bold;
	.sub{
		font-size: 12px;
		color: $primary;
		font-style: italic;
		margin-bottom: 5px;
	}
	@include RWD(pad-mobile) {
		margin: 10px 0;
	}
}
.red-text{
	color: $red;
}
input[type='password'], input[type='email'], input[type='tel'], input[type='text'], input[type='number'], input[type='search']{
	-webkit-appearance: none;
	font-family: 'Heiti TC','微軟正黑體','新細明體','Arial Unicode MS',Arial,Helvetica,sans-serif;
	width: 100%;
	padding: 4px;
	margin: 0 0 10px 0;
	border: 1px solid $input_border;
	font-size: 0.85em;
	background: $input_bk;
	color: $input_text;
	&:focus{
		outline: none;
	}
}
select{
	background: $input_bk;
	color: $input_text;
	padding: 4px;
	border: 1px solid $input_border;
	margin: 0;
}

//custom select style
.select-style {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin: 0 0 0 6px;
	border: 1px solid $input_border;
	width: 120px;
	overflow: hidden;
	background-color: $input_bk;
	background: $input_bk url("../../../../../../c/img/frame/arrowdown.gif") no-repeat 90% 50%;
}
.select-style select {
	color: $input_text;
	padding: 5px 8px;
	width: 100%;
	border: none;
	box-shadow: none;
	background-color: transparent;
	background-image: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.select-style select:focus {
    outline: none;
}
.input-style {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin: 0;
	border: 1px solid $input_border;
	overflow: hidden;
	background-color: $input_bk;
}
.input-style input {
	color: $input_text;
	padding: 5px 8px;
	width: 100%;
	border: none;
	box-shadow: none;
	background-color: transparent;
	background-image: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.quantity-add{
	position: relative;
}
//無法購買這麼多數量
.quantity-alert{
	position: absolute;
	left: -80px;
	top: -120%;
	background: $red;
	color: white;
	font-size: 13px;
	line-height: 1;
	padding: 5px;
	white-space: nowrap;
	@include border-radius(3px);
	&:after{
		position: absolute;
		bottom: -30%;
		left: 45%;
		content:'';
		border-style: solid;
		border-width: 10px 10px 0 10px;
		border-color: $red transparent transparent transparent;
	}
}
.quantity{
	display: inline-block;
	font-size: 0;
	@include clearfix;
	&.small{
		.quantity-input{
			height: 22px;
			width: 24px;
			font-size: 12px;
		}
		.quantity-decrease, .quantity-increase{
			padding: 2px 4px;
			width: 20px;
		}
	}
	.quantity-input{
		line-height: 1;
		width: 36px;
		height: 32px;
		margin: 0;
		padding: 0;
		text-align: center;
		font-size: 12px;
		border-width:0;
		border-top-width:1px;
		border-bottom-width:1px;
		-webkit-appearance: none;
       		-moz-appearance: none;
            	appearance: none;
            	border-radius: 0;
	}
	.quantity-decrease{
		line-height: 1;
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
		padding: 7px;
		// color: $input_text;
		font-size: 16px;
		border: 1px solid $input_border;
		// background: $input_bk;
		width: 28px;
		text-align: center;
		@include user-select;
		// &:hover{
		// 	background: $hover_bk;
		// }
	}
	.quantity-increase{
		line-height: 1;
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
		padding: 7px;
		// color: $input_text;
		font-size: 16px;
		border: 1px solid $input_border;
		// background: $input_bk;
		width: 28px;
		text-align: center;
		@include user-select;
		// &:hover{
		// 	background: $hover_bk;
		// }
	}
}
.nav-to-top{
	display: none;
	position: fixed;
	bottom: 200px;
	right: 0px;
	padding: 10px 11px 8px 14px;
	text-align: center;
	border: 1px solid $border;
	border-right: none;
	font-size: 12px;
	z-index: 10;
	cursor: pointer;
	@include opacity (0.95);
	@include background-gradient(white,#efefef); 
	@include border-left-radius(6px);
	@include box-shadow(-1px 0 2px 0px rgba(50%,50%,50%,0.2));
	@include transition(0.3s); 
	.fa{
		font-size: 22px;
	}
	&.show{
        right: 0px;
        @include opacity (0.9);
    }  
	&:hover{
		//border-color: $primary;
		@include opacity (1);
		@include background-gradient(#efefef, white);
		.fa{
			color: $primary;
		}
	}
}
.img-spacing{
    margin-bottom: 15px!important;
}
.is-border-none:hover{
	border:1px solid transparent !important;
}
del{
	height:12px;
	font-size: 10px;
	margin-right: 2px;
	margin-bottom: 5px;
	color: #666666;
	display: block;
	height: 12px;
}
.site-main{
	.nav-breadcrumbs{
		.container{
			font-size: 14px;
		}
		.cate{
			a{
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
html:lang(vi-vn){
	.site-main{
		.btn{
			font-size: 12px;	
		}
	}
}