.icon-search{
	@include background2(25px, 25px, -25px, 0px, 0px, 0px);
}
.icon-cart{
	@include background2(25px, 25px, -75px, 0px, 0px, 0px);
}
.icon-close{
	@include background2(25px, 25px, -100px, 0px, 0px, 0px);
}
.icon-go-top{
	@include background2(25px, 25px, -125px, 0px, 0px, 0px);
}
//[class^="icon-"]:before,
[class*="icon-"]:before{
	content: "";
	position: relative;
	@include inline-block;
}