html, body{
	height: 100%;
	font-family: '微軟正黑體', Arial, Helvetica, sans-serif;
}
body{
	padding-top: 76px;
}
.container{
	border: none;
	line-height: 140%;
	margin-bottom: 60px;
}
*{
    outline: none;
    @include box-sizing(border-box);
}

a{
	color: black;
}
.text-red{
	color: $light_red;
}
.text-black{
	color: black;
}
.text-gray{
	color: $gray;
}
input[type='password'], input[type='email'], input[type='tel'], input[type='text'], input[type='number'], input[type='search']{
	-webkit-appearance: none;
	font-family: 'Arial Unicode MS', Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	border: 1px solid $light_gray;
	font-size: 1em;
	color: $gray;
	@include border-radius(2px);
	&:focus{
		outline: none;
	}
}
input[type='checkbox'], input[type='radio']{
	margin: 0;
}
.hide{
	display: none;
}
.container, .clearfix{
	@include clearfix;
}
.container{
	position: relative;
	margin: 0 auto;
	@include RWD(desktop-extra) {
		width: 1220px;
	}
	@include RWD(desktop-normal) {
		width: 960px;
	}
	@include RWD(pad-mobile) {
		width: 100%;
	}
}
.hidden-mobile{
	@include RWD(mobile) {
		display: none;
	}
}
.hidden-pad{
	@include RWD(pad) {
		display: none;
	}
}
.hidden-desktop{
	@include RWD(desktop-all) {
		display: none;
	}
}
.doc-header{
	background: $blue;
	padding: 80px 15px;
	h1{
		font-size: 50px;
		margin-right: 380px;
		margin-bottom: 20px;
		color: white;
	}
	p{
		font-size: 20px;
		color: #c1e3f3;
		line-height: 1.4;
	}
}
.block{
	padding: 80px 0;
	border-bottom: 1px solid $light_gray;
	h1{
		font-size: 30px;
		margin: 15px 0 30px;
		line-height: 1.1;
		&.page-header{
			padding-bottom: 9px;
			margin: 0 0 20px;
			border-bottom: 1px solid #ddd;
			font-size: 24px;
		}
	}
	h2{
		font-size: 1.25em;
		margin: 20px 0 10px;
		color: black;
	}
	ul{
		margin: 10px 0 0 25px;
	}
	li{
		list-style: decimal inside;
		line-height: 220%;
	}
	.lead{
		font-size: 21px;
		margin-bottom: 20px;
	}
	p{
		margin: 0 0 10px;
	}
}
table{
	border: 1px solid #ddd;
	text-align: left;
	th{
		padding: 8px;
		border: 1px solid #ddd;
	}
	td{
		padding: 8px;
		border: 1px solid #ddd;
	}
}