.nav-user{
	float: right;
	@include clearfix;
	ul>li{
        float: left;
        padding: 10px;
    }
}

//desktop
@media only screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max){
.nav-user{

}
}

//pad
@media only screen and (min-width: $screen-md-min) and (max-width: $screen-md-max){
.nav-user{

}
}

//mobile
@media only screen and (max-width: $screen-sm-max){
.nav-user{

}
}