.nav-main{
	@include clearfix;
    ul>li{
        float: left;
        padding: 10px;
    }
}

//desktop
@media only screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max){
.nav-main{

}
}

//pad
@media only screen and (min-width: $screen-md-min) and (max-width: $screen-md-max){
.nav-main{
}
}

//mobile
@media only screen and (max-width: $screen-sm-max){
.nav-main{
}
}