.quantity-add{
	position: relative;
}
//無法購買這麼多數量
.quantity-alert{
	position: absolute;
	left: -66px;
	top: -120%;
	background: black;
	color: $light_gray;
	min-width: 160px;
	padding: 5px;
	@include border-radius(3px);
	&:after{
		position: absolute;
		bottom: -30%;
		left: 45%;
		content:'';
		border-style: solid;
		border-width: 10px 10px 0 10px;
		border-color: #000000 transparent transparent transparent;
	}
}
.quantity{
	border: 1px solid $gray;
	display: inline-block;
	float: left;
	margin-right: 10px;
	@include clearfix;
	.quantity-input{
		width: 46px;
		height: 30px;
		margin: 0;
		border: 0;
		text-align: center;
		font-size: 1em;
	}
	.quantity-decrease{
		cursor: pointer;
		padding: 6px;
	}
	.quantity-increase{
		cursor: pointer;
		padding: 6px;
	}
}