.pc-category-003{
	@include clearfix-ab;
	.items{
		margin: 10px 0px 0;
		@include clearfix;
	}
	.item{
		float: left;
		width: 46%;
		margin-bottom: 10px;
		padding: 10px;
		border: 1px solid transparent;
		&:hover{
			border: 1px solid $border;
			@include transition(0.6s);
			.photo{
				opacity: 0.75;
			}
		}
	}
	.item-block{
		float: right;
		width: 52%;
		@include clearfix;
		.item{
			float: none;
			width: 100%;
			margin-bottom: 7px;
			@include clearfix;
		}
		.photo{
			float: left;
			width: 36%;
			height: auto;
			line-height: 0;
			margin-right: 5%;
			margin-bottom: 0px;
			padding-top: 0;		
		}
		img{
			width: 100%;
			position: static!important;
		}
		.info{
			float: left;
			width: 59%;
			min-height: 145px;
		}
		.name{
			font-size: 15px;
			line-height: 1.35;
			height: 40px;
			margin-bottom: 15px;
		}
		.type{
			font-size: 8px;
		}
		.currency{
			font-size: 12px;
		}
		.price{
			font-size: 16px;
		}
	}
	.photo{		
		display: block;
		margin-bottom: 7px;
		@include crop(100%, white);
		img{
			max-width: 360px;
		}
	}
	.info{		
		min-height: 150px;
	}
	.name{
		font-size: 17px;
		height: 46px;
		line-height: 1.4;
		margin-bottom: 10px;
		color: $items_name;
		font-weight: bold;
		overflow: hidden;
		word-break:break-word;
		word-wrap: break-word;
	}
	.type{
		font-size: 15px;
		color: $gray;
	}
	.currency{
		font-size: 14px;
		color: $price;
		display: inline-block;
		margin-left:3px;
	}
	.price{
		font-size: 22px;
		color: $price;
		display: inline-block;
		margin-right: 5px;
	}
	.buy-actions{
		margin-top: 10px;
		text-align: right;
	}
	.quantity{
		margin-right: 5px;
		vertical-align: middle;
	}
	.button{
	}
	.highlight{
		font-size: 12px;
		line-height: 1.5;
		margin-top: 5px;
		text-align: right;
	}
	.large{
		font-size: 13px;
		padding: 0 10px;
		line-height: 21px;
		height: 22px;
	}
	.tag-status {
		position: absolute;
		bottom: 7px;
		right: 7px;
		z-index: 9;
	}
}
