.pc-category-005{
	@include clearfix;
	.items{
		margin: 10px 0px 0;
		padding: 8px;
		background: #f2f2f2;
		@include clearfix;
		border: 1px solid $border;
		border-left: 0;
		border-right: 0;
	}
	.item{
		float: left;
		width: 33.333%;
		padding: 10px;
		border: 1px solid transparent;
		&:hover{
			@include transition(0.6s);
			.photo{
				opacity: 0.75;
			}
		}
	}
	.photo{
		display: block;
		//margin-bottom: 7px;
		@include crop(100%, white);
		img{
			max-width: 360px;
		}
	}
	.info{
		min-height: 143px;
		padding: 8px;
		background: white;
	}
	.name{
		font-size: 13px;
		height: 33px;
		line-height: 1.35;
		margin-bottom: 5px;
		color: $items_name;
		font-weight: bold;
		overflow: hidden;
		word-break:break-word;
		word-wrap: break-word;
	}
	.type{
		font-size: 12px;
		color: $gray;
	}
	.currency{
		font-size: 12px;
		color: $price;
		display: inline-block;
		margin-left:3px;
	}
	.price{
		font-size: 16px;
		color: $price;
		display: inline-block;
		margin-right: 5px;
	}
	.buy-actions{
		margin-top: 10px;
		text-align: right;
	}
	.quantity{
		margin-right: 5px;
		vertical-align: middle;
		background: white;
	}
	.button{
	}
	.highlight{
		font-size: 12px;
		line-height: 1.5;
		margin-top: 5px;
		text-align: right;
	}
	.large{
		font-size: 13px;
		padding: 0 10px;
		line-height: 21px;
		height: 22px;
	}
	.tag-status {
		position: absolute;
		bottom: 7px;
		right: 7px;
		z-index: 9;
	}
}
