.rwd-category-002{
	@include clearfix;
	.items{
		margin: 0;
		padding: 10px;
		@include clearfix;
	}
	.item{
		float: left;
		width: 50%;
		margin-bottom: 10px;
		padding: 10px;
		border: 1px solid transparent;
		&:hover{
			//border: 1px solid $border;
			@include transition(0.6s);
			.photo{
				opacity: 0.75;
			}
		}
	}
	.photo{
		display: block;
		margin-bottom: 7px;
		@include crop(100%, white);
	}
	.info{
		min-height: 122px;
	}
	.name{
		font-size: 16px;
		height: 20px;
		line-height: 1.3;
		margin-bottom: 10px;
		//color: $items_name;
		overflow: hidden;
		word-wrap:break-word;
	}
	.currency{
		font-size: 12px;
		//color: $price;
		display: inline-block;
	}
	.price{
		font-size: 18px;
		//color: $price;
		display: inline-block;
		margin-right: 10px;
	}
	.buy-actions{
		margin-top: 10px;
	}
	.quantity{
		margin-right: 10px;
		vertical-align: middle;
		.quantity-decrease,.quantity-increase{
			padding: 7px;
		}
		.quantity-input{
			width: 36px;
			height: 32px;
		}
	}
	.highlight{
		margin-top: 10px;
		font-size: .7em;
		line-height: 1.4;
	}
}

//mobile
@include RWD(mobile) {
.rwd-category-002{
	.items{
		padding: 10px;
		margin: 0;
	}
	.item{
		width: 100%;
		margin:0 0 10px;
		padding: 20px 20px 20px;
		height:auto;
	}
	.info{
		padding: 0;
		min-height: 0;
	}
	.name{		
		font-size: 16px;
		line-height: 1.2;
		margin-bottom: 10px;
		height: auto;
		overflow: hidden;
		word-wrap:break-word;
	}
	.price{
		font-size: 18px;
		margin-right: 10px;
	}
	.quantity{
		margin-right: 10px;
		vertical-align: middle;
		.quantity-decrease,.quantity-increase{
			padding: 7px;
		}
		.quantity-input{
			width: 36px;
			height: 32px;
		}
	}
	.button{
		vertical-align: top;
		font-size: 15px;
		padding: 0 1.25em;
		height: 32px;
		line-height: 32px;
		@include box-sizing( border-box );
		&.btn-preorder-finish{
	        padding: 0;
	    }
	}
}
}
