@import "../../../../define/__init.scss";
@import "../../../style_color/___color_asap.scss";

@import "../../../../3rd-party/_idangerous.swiper.scss";
@import "../../../module_left/_pc_left_010.scss";
@import "../../../module_component/_nav_breadcrumbs.scss";
@import "../../../module_component/_pc_site_activity.scss";
@import "../../../module_category/_pc_category_list.scss";
@import "../../../module_component/_site_search_answer.scss";
@import "../../../module_component/_nav_pagination.scss";
@import "../../../module_component/_pc_site_sort.scss";
@import "../../../module_component/_pc_site_filter.scss";

//_pc_layout
.site-left {
	width: 300px;
	margin-right: 20px;
	float: left;
}
.site-main {
    width: 900px;
    float: left;
    position: relative;
	.container{
		width: 900px;
	}
}
.pc_category_list{
	.item{
		height:365px;
	}
}
.pc_category_list.item-list-3{
	.item{
		height:450px;
	}
}

.site-activity{
	.act-cart{
		.swiper-container{
			width: 560px;
		}
		.state{
			float: left;
			width: 330px;
			margin-left:10px;
		}
	}
	h3{
		width: 100%;
	}
	.desc{
		// width: 480px;
	}
	.t-red {
		color: $red;
		font-style: normal;
	}

}




.pc_footer_001{
	.container{
		width: 1220px;
	}
}